[2016-11-05 20:30] sebgoa opened #3 "PR from original repo"
Hi, I had made a PR to your original repo before it moved.

https://github.com/mbohlool/k8s-clients/pull/2

I guess you want me to move the PR here ?

[2016-11-05 20:31] sebgoa opened #4 "cannot create resources"
I tried to create a few things, here is an example to create a namespace:

[code]

I just cannot get passed the content type error, even though reading the API docs I have all the right type and struct in place:

[code]

Same type of error when trying to create a pod. I get this on a v1.4.0 endpoint

any suggestions ?

[2016-11-07 18:14] mbohlool commented on #3
Sure, the walkthrough needs some updates though. For example, after PR #2 merged, a proxy is not required, the client should be able to read kube config and work with the active configuration that kubectl is working with.

[2016-11-07 19:56] mbohlool commented on #4
There is a bug in codegen, sent the pr: swagger-api/swagger-codegen#4152

[2016-11-08 14:03] sebgoa commented on #4
looks like your PR was merged

[2016-11-08 14:13] sebgoa commented on #3
Have you tried without a proxy on a SSL+auth endpoint ?

I am asking because it does not seem to work. I get a connection refused.

[2016-11-11 12:16] mbohlool commented on #4
I've more PRs sent. the client in branch o2 should work more or less. Please give it a try.

[2016-11-11 12:17] mbohlool commented on #3
on branch o2, it should work with ssl+auth.

[2016-11-11 14:37] sebgoa commented on #3
I tested the 02 branch and it works. So I will just close this and wait for the merge.
I can help with better README etc after the merge.

[2016-11-11 14:37] #3 closed

[2016-11-11 14:40] sebgoa opened #5 "ThirdParty resources support"
If we create a 3rd party resource, it creates a new API group.

I am not sure how kubectl implements it, but we need to have an example on how to do this with this client.

For example, say I create a 3rd party resource called snake. In kubectl I can do:

[code]

It dynamically learns of new resources in new API groups.

[2016-11-16 07:06] mbohlool opened #6 "Enable pre-merge checks"
enable CLA bot, Mungegithub bot, and Travis (if applicable) for this repo.

ref: https://groups.google.com/forum/#!searchin/kubernetes-dev/travis-ci%7Csort:relevance/kubernetes-dev/q-NasTfooPM/Z_1PnFzBAgAJ

[2016-11-16 07:09] mbohlool commented on #5
A possible solution could be having k8sutil.Resource(name=...) class that support k8s resources such as pods, service, etc. as well as third party resources.

[2016-11-16 11:24] mbohlool opened #7 "generated Configuration() singleton prevents client from connecting to multiple clusters"
Should follow up with swagger-codegen developers on the reasoning around this. We should fix the generator to have one configuration class per client.

[2016-11-16 11:24] mbohlool commented on #7
cc @marun

[2016-11-17 00:24] #4 closed

[2016-11-17 00:27] mbohlool opened #8 "Consider removing watch_* operations"
watch_* operations are deprecated in kubernetes in favor of "watch" query flag. Consider removing them from the swagger.json in the preprocessing step.

[2016-11-18 11:27] mbohlool commented on #6
CLA bot and CI are enabled. Look like that is enough for now (test/build coverage before merge). We may consider adding Mungegithub later.

[2016-11-18 11:27] #6 closed

[2016-11-18 13:33] sebgoa opened #13 "Move generated readme to /docs"
I would suggest moving the generated README to something like /docs

And make the README.prefix the main README

Otherwise it is a very long file.

It should also containe instructions on how to build the new client

[2016-11-18 13:34] sebgoa opened #14 "Add travis badge in README"
since the nose tests are running in travis, we should add a travis badge.

[2016-11-18 13:34] sebgoa opened #15 "Missing license header in preprocess script"
https://github.com/kubernetes-incubator/client-python/blob/master/scripts/preprocess_spec.py

[2016-11-18 13:36] sebgoa opened #16 "Add the markdown files from the template project"
There is a template project that is good to follow to include a few basic markdown files:

https://github.com/kubernetes/kubernetes-template-project

[2016-11-18 13:36] sebgoa opened #17 "Add description in GitHub page"
There is no top description for this project in the Github page

[2016-11-18 17:48] mbohlool opened #18 "int-or-string"
support kubernetes custom format "int-or-string".

[2016-11-18 17:59] mbohlool commented on #13
I've tried different things here. The problem is there are lots of link (and link backs) to main README file. If I rename or move it in any way, I need to fix all of the documentation links. It is not terrible to do, but that is what it takes to move the file.

[2016-11-18 18:49] #14 closed

[2016-11-18 18:54] mbohlool commented on #17
Thanks.

[2016-11-18 18:54] #17 closed

[2016-11-18 19:29] mbohlool commented on #16
Keeping this issue open until kubernetes/kubernetes-template-project#4 resolved

[2016-11-18 19:33] #15 closed

[2016-11-18 19:36] mbohlool opened #22 "add verify-* scripts"
Kubernetes has a number of hack/verify-*.sh scripts that some of them may be useful here. For example, to prevent #15 we could adopt kubernetes's hack/verify-boilerplate.sh. This is the issue to track efforts on finding relevant verify scripts and add them to client-python.

[2016-11-18 20:30] sebgoa commented on #16
honestly , we can close this. I will send you a PR to update the CLA stuff..

[2016-11-18 20:32] sebgoa commented on #13
To help do this (or future change like this in the future), maybe the munge-docs.sh script in k8s main repo can help.

I do think this needs to happen. The current README is super long, and it looks like if we want to update it we need to actually patch the .prefix and then wait for a rebuild (or rebuild entirely in a PR to change a README...).

I would do it :) Bite the bullet now.

[2016-11-18 20:33] sebgoa opened #23 "Figure out how to get a release in Pypi"
I am not sure how the account setup is going to be handled.

I have my own account in pypi where I could upload this, but there may be an official kubernetes/google way of making this happen.

[2016-11-18 21:50] mbohlool commented on #23
yeah, I think we should not upload it with our personal accounts, unless there is no other way, I will figure it out. Thanks.

[2016-11-18 21:55] mbohlool commented on #16
oh, sorry, I didn't see your message and when kubernetes/kubernetes-template-project#4 got approved, I created the PR: #24

[2016-11-18 21:56] mbohlool commented on #16
Feel free to assign any of the issues to yourself if you want to work on them. I will label some of them as "help-needed" but honestly, any issue that is not assign to me is open to take :)

[2016-11-18 21:58] mbohlool commented on #13
Cool, thanks. Regarding the rebuild, I think we want the generated code always updated (like other generated codes in k8s). But I agree with you that if there is a better way to do this, we should do it. I will assign the issue to you. Thanks.

[2016-11-18 22:09] mbohlool commented on #13
Also, I am not sure how munge-docs.sh works, but now that I think about it, a simple replace  /\.\.README.md/README.md/g for all files in doc folder and moving generated README.md file to doc/ folder (after find/replace) should work.

[2016-11-19 09:21] mbohlool commented on #23
@lavalamp Do you know what account we should use? Or do you know who we should ask?

[2016-11-20 08:43] mbohlool opened #25 "Items after releasing 1.0 client"
We should follow up on these items after releasing the client:

- [ ] Add it to "Programmatic access to the API" of [k8s documentation](http://kubernetes.io/docs/user-guide/accessing-the-cluster/)
- [x] Add it as a supported library in [client library list](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/client-libraries.md)
- [x] Release to Pypi #23
- [x] Announce the client

[2016-11-20 08:50] mbohlool opened #26 "Support in cluster config"
Adapt client-go's InClusterConfig to enable client-python to be used inside a pod.

[2016-11-21 18:22] lavalamp commented on #23
Good question. I will have to ask around.

[2016-11-21 20:17] lavalamp commented on #23
@sarahnovotny This sounds like something you (or the CNCF) could figure out?

[2016-11-21 20:25] sarahnovotny commented on #23
@mbohlool, let's create a generic K8s account (named something appropriate to the pypi forum) and use that for any kubernetes-incubator or kubernetes project.  Thanks for taking this on!

[2016-11-21 21:08] mbohlool commented on #23
I've created an account on pypi, username: kubernetes. Will release the package there when we released 1.0. Also added this to umbrella issue #25

[2016-11-21 21:18] mbohlool commented on #23
I would actually start releasing 0.1.0 version and upload it to pypi. We are going to follow semver.org versioning and major version 0 means development version and things may change without notice.

[2016-11-21 21:27] mbohlool commented on #23
Any suggestion for pypi package name?

mine:
 - kubernetes
 - k8s-python-client

There are a number of packages with kubernetes name in them already exists: https://pypi.python.org/pypi?%3Aaction=search&term=kubernetes&submit=search

[2016-11-21 21:35] mbohlool opened #30 "Support multi-watch"
@mml suggested that a multi-watcher would be a nice addition to the Watch Class. I could be a simple multi-threading class that uses existing Watch operations or we can think of something more elegant.

[2016-11-21 21:37] sarahnovotny commented on #23
i prefer

k8s-python-client  or kubernetes-python-client

[2016-11-21 21:50] mbohlool commented on #23
+1 to kubernetes-python-client.

[2016-11-21 21:58] #16 closed

[2016-11-21 23:23] #8 closed

[2016-11-21 23:34] mbohlool commented on #23
@sarahnovotny python can be inferred from the context right? can we call it k8s-client or kubernetes-client? or even without dash, k8sclient?

[2016-11-22 01:15] lavalamp commented on #23
Or even just plain 'kubernetes'?

On Mon, Nov 21, 2016 at 3:34 PM, mbohlool <notifications@github.com> wrote:

[2016-11-22 02:11] mbohlool commented on #23
I like that:

[code]

[code]

[2016-11-22 02:27] yuvipanda commented on #23
+1 to kubernetes :)

On Mon, Nov 21, 2016 at 6:11 PM, mbohlool <notifications@github.com> wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2016-11-22 19:41] danielfrg commented on #23
+1 for plain `kubernetes` as well :)

[2016-11-22 21:02] mbohlool commented on #23
ok, I've send the PR for changing name to kubernetes. Now that we are on the topic of naming, there is a utility package that I put all non-generated utilities such as load config, watch class, etc. I called it k8sutil. It could be kubernetes_util, k8s_util, etc. too. Any suggestion here?

[2016-11-22 21:04] mbohlool commented on #18
I've tried once to fix this. There is a class generated called intStringIntOrString. I've tried to modify that to support custom marshal-unmarshal of json, but the generated apiClient does not make it easy to have custom marshalling. I will take another shot at this when I get time, but feel free to the the issue if you have a solution for it.

[2016-11-22 21:05] sebgoa commented on #23
imho it should be something like:

[code]

don't break up the client and the util into separate pypi's

[2016-11-22 21:07] mbohlool opened #33 "1.0.0-alpha Release"
To get the client adapted more, I plan to do a ~~0.1.0~~ 1.0.0-alpha release and push it to pypi.
Pre-release:
- [x] in-cluster config support #32
- [x] rename package to kubernetes #31

release items:
- [x] github release tag
- [x] Pypi push (automated on releases somehow?)

[2016-11-22 21:10] mbohlool commented on #23
Hmm, I may need to look at python packaging again. Right now, if you look at examples, we have k8sclient and k8sutil imported directly, and I assumed if I package it, it would work the same thus I renamed k8sclient. let me look into this. The plan is not to separate these to in two packages for sure.

[2016-11-22 21:27] mbohlool commented on #23
I've did some digging and testing. Assuming python setup.py install is the way pip install packages (that I am 99% sure it is), we can achieve both options:

1. No top level package:

[code]

2. A top level package called kubernetes then rename internal packages:

[code]

Second option looks better to me, I need to do some restructuring but it should work.

[2016-11-22 22:59] mbohlool commented on #13
I've rearranged things in #31 If that is approved by you, then this issue does not apply anymore (no README.prefix in #31 because the generated client is now in a sub directory)

[2016-11-23 01:41] mbohlool opened #34 "Break out util into separate packages"
Now that we have a top level package "Kubernetes", we can separate util package into meaningful packages such as config or watch.

[2016-11-23 01:55] #34 closed

[2016-11-23 02:03] #13 closed

[2016-11-23 08:21] sebgoa commented on #13
great, I think it is much better like this.

[2016-11-23 10:03] sebgoa opened #36 "SSL verification on python2.7 failing"
I saw a commit flying by that said this was fixed but I get:

[code]

[2016-11-23 10:06] sebgoa opened #37 "recommended slack channel"
is there recommended slack channel API-machinery or should we ask to create a dedicated one ?

[2016-11-23 16:05] sebgoa commented on #36
it does work with python3.5

[2016-11-23 16:06] sebgoa commented on #33
could you check that #36 is fixed (or that I am doing it wrong) before cutting a release ?

[2016-11-23 16:16] mbohlool opened #38 "Appengine support"
Check if our client can be run in appengine.

[2016-11-23 16:23] mbohlool commented on #36
are you using latest urllib3? can you run setup.py install and try this again or try to manually update urllib3.

[code]

[2016-11-23 16:24] mbohlool commented on #37
I think we can continue using api-machinery slack channel until we got disruptive there. @lavalamp?

[2016-11-23 16:40] mbohlool opened #39 "Add CHANGELOG.md"

[2016-11-23 16:45] mbohlool opened #40 "Figure out k8s-merge-robot and submit queue"

[2016-11-23 18:11] mbohlool opened #41 "e2e test for python-client"

[2016-11-23 18:28] lavalamp commented on #37
Sounds fine to me!

On Wed, Nov 23, 2016 at 8:24 AM, mbohlool <notifications@github.com> wrote:

[2016-11-23 18:49] mbohlool commented on #33
That is working for me, we can always cherry pick a fix if there is a bug or even create a new release as this is an alpha release.

[2016-11-23 18:49] mbohlool commented on #33
discussed this with @lavalamp, decided to go for 1.0.0-alpha instead of 0.1.0 as the interface is pretty stable and we don't expect it to change much.

[2016-11-23 18:57] #26 closed

[2016-11-23 21:38] mbohlool commented on #36
I figured this out. We had a patch that we removed because urllib3 is already doing the patch, however it only does that if package "ipaddress" is installed. I added that as a dependency so we should be good.

[2016-11-23 21:46] mbohlool commented on #36
More concrete reason here: https://github.com/shazow/urllib3/blob/master/urllib3/packages/ssl_match_hostname/_implementation.py#L9

[2016-11-23 21:46] #36 closed

[2016-11-23 23:02] mbohlool opened #46 "Support kube-config change context"
Right now the load kube config function loads the default context. We should support loading other contexts and [maybe?] listing them.

[2016-11-23 23:04] #33 closed

[2016-11-23 23:04] mbohlool commented on #23
Just released "kubernetes" package.

[2016-11-23 23:04] #23 closed

[2016-11-24 18:02] sebgoa commented on #36
ok confirmed that it solved the issue.

[2016-11-27 10:34] mbohlool opened #48 "Make a release script with a consistent behavior on different enviroment"
**Problem:** We have two identical package for alpha2 in pypi with different names.

**diagnosis:** That is because we build and release the same thing on different environments (linux vs osx, different version of python).

**Solution:** we need to have a script to make sure the environment we are making release on, is consistent. Probably running release inside a docker container is the best solu

[2016-11-27 20:52] mbohlool opened #49 "Generate.sh should download spec from a release branch in k8s"
Current scripts/genrate.sh script assumes kubernetes is on $KUBE_ROOT and gets the swagger.spec file from there. It should actually download an specific version of spec from github instead. This version should be in passed to preprocessing script to be set inside the spec (until kubernetes set the right version).

[2016-11-30 21:26] mbohlool opened #52 "add pylint to tox"
following up on @marun's comment on #50:

[2016-12-01 02:27] SEJeff commented on #52
@mbohlool I'm happy taking this on and have started doing it, however I was curious about all of the autogenerated code. Since much of this is autogenerated, how do we want to fix this? I'd rather not waste time on a bunch of fixup commits that are then blown away the next time things are stepped after an autogeneration is complete.

[2016-12-01 02:55] SEJeff commented on #52
I'd also like to fix the requirements and test-requirements to look like every other file out there and not include spaces (ie: the sorted output from pip freeze more or less, but with the >=, etc version specifiers).

[2016-12-01 03:14] SEJeff commented on #37
Can that be in the [README](README.md) as the official channel to use?

[2016-12-01 03:16] SEJeff commented on #22
Would these be git pre-commit hooks or part of the linting in the tests?

[2016-12-01 10:13] mbohlool commented on #22
It is something in between I guess. k8s verify scripts will be run as a github's PR check and they should pass before a PR can be merge into master. I hoped with this task, we could achieve the same for client-python.

[2016-12-01 10:14] mbohlool commented on #37
It is there right now.

[2016-12-01 10:14] #37 closed

[2016-12-01 10:17] mbohlool commented on #52
Manual changes to generated code is out of question as you argued. If there is a way to automatically fix some of those problems (look at scripts/update-pep8.sh), we should do it (and we can repeat it after each code generation) otherwise we should just ignore kubernetes.client package in the pylint checks.

[2016-12-01 16:22] marun commented on #52
I'd recommend flake8 over pylint.  And it's entirely possible to exclude files and paths from linting, so if generated code is cleanly separated from non-generated code (which is arguably a good idea anyway).  Here's an example of configuring flake8 in tox.ini:

https://github.com/openstack/neutron/blob/master/tox.ini#L132

[2016-12-01 16:30] SEJeff commented on #52
@marun Yeah you just need a `[flake8]` section in the tox config, it isn't hard. I just wanted to flesh out the approach here with approval before spending time doing it. I'm going to [implement it](https://github.com/SEJeff/client-python/tree/update-tox-config) in this branch.

@mbohlool funnily enough, I've got some mad sed skills (a career mostly as a sysadmin will do that for you) and was 1/2

[2016-12-01 17:23] marun commented on #52
I see value in automating linting of non-generated code, but I don't see the point of doing the same for generated code.  If linting reveals functional problems with the generated code, the place to fix it is in the generator.  Scripted cleanup can't help but be brittle in the face of generator changes.

[2016-12-01 20:52] mbohlool commented on #52
Agreed with @marun, no value in linting generated code. I also sent a PR for coverage of only non-generated code #54

[2016-12-01 20:58] SEJeff commented on #52
@mbohlool Cool, I can update my branch with those changes (excluding tests and kubernetes/client) and send it up tonight or tomorrow. I also [added the py35 environment](https://github.com/SEJeff/kubernetes-client-python/blob/update-tox-config/tox.ini#L2) since my workstation distro, Fedora 25, lacks python 3.4, but default installs 3.5

[2016-12-01 22:15] mbohlool commented on #52
@SEJeff use pyenv to create as much environment as you like and activate 3.4 and 2.7 for this repo:

[code]

You may need to restart your shell for it to take effect but tox should pick up these two newly installed version. I've never tested the whole client with 3.5 yet.

[2016-12-02 00:11] #46 closed

[2016-12-02 03:54] mbohlool opened #55 "Support API calls with no json response"
Some of the calls like logs does support json and text response but there is no way to get the text response as the generated client automatically select json as the accepted response. One example of this is kubernetes/kubernetes#37881. The workaround in that issue is working (and shows the value of _preload_content we added to generated code) but we can do better by having a solution like Watch c

[2016-12-02 03:58] quasiben commented on #55
Yes, this is essentially what I was doing with a hacked version of the `api_client.py` and `default_api.py`.  Added a `raw` argument and returned the *raw* Response object back from the request

[2016-12-04 05:17] SEJeff commented on #52
Feel free to give this a go via:

    git pull git@github.com:SEJeff/kubernetes-client-python.git update-tox-config

And to run the flake8 task:

    TOXENV=lint tox

I'm not sure of the best way to silence the errors in kubernetes.__init__, kubernetes.watch.__init__, and kubernetes.config.__init__. The most obvious thing is `  noqa: F401` on each line with the imports. Normally you could do `from

[2016-12-04 21:21] mbohlool commented on #52
init files suppose to be all imports (at least for us), I think (2) is better, just ignore init files.

[2016-12-04 21:27] mbohlool commented on #52
Look like we have a 4th option:

4. Adding [__all__ in __init__ files](https://docs.python.org/3.4/tutorial/modules.html#importing-from-a-package), for example for kubernetes/config/__init__.py:

[code]

[2016-12-05 02:58] yejw5 opened #57 "`read_namespaced_pod_log` get None response"
When I use `kubectl logs ms-999-near-090248-357595620-lze7r`, I can get container log messages. But the following code get response with None message:
[code]
The exec result is:
[code]
Is this way to call `read_namespaced_pod_log` not appropriate？

[2016-12-05 23:27] mbohlool commented on #57
It is a known issue #55 You can find a workaround there.

[2016-12-05 23:33] mbohlool commented on #55
As a workaround for now, you can pass ```_preload_content=False``` to the api call, then call ```.read()``` method on the return object. for example:

[code]

[2016-12-06 03:22] yejw5 commented on #57
@mbohlool Many thanks! The method solves this problem properly.

[2016-12-06 03:22] #57 closed

[2016-12-07 15:36] diegodelemos opened #58 "Exec calls"
Whenever I try to open an exec call I get:
[code]
Which is related with the fact that `requests` is not SPDY compatible. Are you going to support this kind of requests in the near future?

[2016-12-07 21:16] mbohlool commented on #58
cc @caesarxuchao

[2016-12-07 21:44] mbohlool commented on #58
realted: http://stackoverflow.com/questions/37349440/upgrade-request-required-when-running-exec-in-kubernetes

I guess if we change code generator to accept headers, it should be possible to pass upgrade headers to the call.

[2016-12-08 05:47] mbohlool commented on #55
kubernetes/kubernetes#37881 is fixed, after we updated the client, this will be not necessary.

[2016-12-12 09:22] diegodelemos commented on #58
Is it feasible to have it soon? It would be nice to have a date in order to know if I can use it within my deadline. If not, do you have some workaround in mind? Thank you in advance.

[2016-12-12 20:05] mbohlool commented on #58
I don't have a date yet, the problem is urllib3 does not support SPDY protocol. we need to use something like [python-spdylay](https://pypi.python.org/pypi/python-spdylay/0.1.2). Unless somebody own this (or I found the time to look at it) I can't put a date on it.

[2016-12-13 06:10] #49 closed

[2016-12-13 06:10] #55 closed

[2016-12-13 07:42] #39 closed

[2016-12-13 09:23] mbohlool commented on #58
Just spend a little more time with python-spdylay. Even their client example is not working and it does not seem to be actively developed/supported. If anybody have any idea of how to talk SPDY in python, please let us know.

[2016-12-13 09:59] mbohlool commented on #58
More information here: https://github.com/kubernetes/kubernetes/issues/24668

[2016-12-13 12:00] diegodelemos commented on #58
Moreover, there is https://github.com/kubernetes/kubernetes/issues/7452 which stands that SPDY is deprecated and HTTP/2 might be the right option, but looks like it is still hanging in the air. Anyways, it is SPDY what is working for current versions so we need to somehow find a workaround.

[2016-12-13 19:53] mbohlool commented on #58
A little more digging pointed me to a library called [thor](https://github.com/mnot/thor/tree/spdy). I will give it a try. If you can try it too to see if you can establish a SPDY connection with it, that would be nice. My assumption is SPDY is always secure so there should be a way to specify client-cert and other cert files that we normally set in `kubernetes.client.configuration` class.

[2016-12-13 19:56] mbohlool opened #62 "1.0.0-beta.1 release"
I am going to do another release soon now that kubernetes 1.5 is out. We don't expect to change the interface at all at this point and there could be some bug fixes before 1.0.0 release.

Let me know if you have any suggestions/concerns.

[2016-12-13 21:37] paultiplady opened #63 "Models <-> Json/Yaml"
In addition to fully wrapping the k8s client and replacing kubectl, I've found it very useful to be able to generate raw JSON/YAML for objects created using the swagger generated schema models.

This makes a few other deployment methods easier, such as Spread or Helm.

Thoughts on whether it's worth adding to this project, and where the cleanest place would be? Seems like it should likely be some

[2016-12-14 00:27] mbohlool commented on #63
I think converting models to JSON and vice versa are both useful.

Converting models to json should be easy. Each model has a `to_dict` method:

[code]

Converting json to swagger model though is not straightforward I guess, we need to develop a utility method to do it with an interface like this:

[code]

The `load` method may support other parameters such as `json, json_string, yaml, yaml_string

[2016-12-14 12:28] sebgoa commented on #58
You can do `exec` over websockets instead of SPDY. So would be good to investigate websockets instead of the sdpy route (which will be osbolete anyway).

[2016-12-14 15:36] sebgoa opened #66 "[PROPOSAL] Add convenience function"
The client is very low level, it would be great to add a few convenience functions ala `kubectl` like:

* `kubectl run `
* `kubectl expose`

Right now starting a simple Pod is a bit "complex" and requires digging through the docs quite a bit to find the correct classes to instantiate. For example:

[code]

It would be nice to have something like:

[code]

[2016-12-14 18:49] mbohlool commented on #66
These helper methods are definitely useful and I won't have objection adding them. However the approach is not scalable. I would also suggest we go the route of fluent interface that makes things like this easier like this:

[code]

This is not solid yet, just a quick thought. I will write a proposal for it.

[2016-12-14 22:33] mbohlool commented on #58
Thanks @sebgoa it look like websockets are supported as a fall-back: https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md#websockets-and-spdy

[2016-12-15 11:14] webwurst opened #68 "Python client does not resolve relative paths in kubeconfig"
When using relative paths in `~/.kube/config` like this:
[code]

The following [error message](https://gist.github.com/webwurst/5b3aece21c45a634eb0db6e14b2aa3c5#file-z-error-txt) is thrown:
[code]

Additionally it would be nice when in case of a `No such file or directory` error, the tried path would be shown. 😃

[2016-12-15 22:34] #68 closed

[2016-12-16 00:10] mbohlool commented on #66
I've had more thoughts on fluent interface, something like this look much better:

[code]

[2016-12-16 02:28] sebgoa commented on #66
`add_metadata()` maybe, it is not really an _edit_ method.

[2016-12-16 02:49] mbohlool commented on #66
Maybe, the difference is container is an array, metadata is not.

[2016-12-16 19:39] mbohlool commented on #62
I will cut the release as soon as #71 is merged.

[2016-12-19 22:17] mbohlool commented on #62
I am not ready to call this a beta release yet because of https://github.com/kubernetes/kubernetes/pull/38071

The discussion there may result in a change in Model names that is not a backward compatible change for python client.

I am going to release 1.0.0-alpha.3.

[2016-12-19 22:17] #7 closed

[2016-12-27 22:52] paultiplady opened #77 "`stat: can't specify None for path argument` when loading config from GKE cluster"
The client appears to be unable to parse authentication information from GKE clusters.

The exception is being raised here: https://github.com/kubernetes-incubator/client-python/blob/master/kubernetes/config/kube_config.py#L185, when `_load_cluster_info` expects there to be a `client-certificate` key in the user dictionary.

With the `GKE` provider, my config looks like this:

[code]

I also had t

[2016-12-28 00:04] mbohlool commented on #77
the pykube fix you mentioned does not apply here. Look like we are correctly reading gcp token here: https://github.com/kubernetes-incubator/client-python/blob/master/kubernetes/config/kube_config.py#L150

But assumption that if the host starts with https, the config file will always have cert_file, ssl_cert_file, and key_file may not be true. The correct patch here is to make those optional (set

[2016-12-28 00:08] mbohlool commented on #77
if you just change line 82 from:

[code]

to

[code]

it should work. do you want to give it a try?

[2016-12-28 00:30] mbohlool commented on #77
Well, look like there is another bug, I will send a patch.

[2016-12-28 00:51] mbohlool commented on #77
I've send the fix. As this look urgent (config loader does not work for GKE, GCE or any other cluster with token authorization), I will do another alpha release with the fix.

[2016-12-28 00:52] #77 closed

[2016-12-28 01:07] mbohlool commented on #77
Please update your package to 1.0.0a4 and try again. It should work.

[2016-12-28 01:42] paultiplady commented on #77
That's working now. Thanks for the quick turnaround!

[2016-12-28 09:39] sebgoa opened #81 "pip upgrade"
The release notes mention that we need to uninstall the client before installing the new version.

Why not `pip install --upgrade kubernetes` ?

[2016-12-28 10:48] mbohlool commented on #81
release notes updated. Thanks.

[2016-12-28 10:48] #81 closed

[2017-01-02 12:08] toabctl opened #83 "Release sdist tarball on pypi"
Please also release an sdist tarball on pypi. This is useful for distributions which want to build from source.

[2017-01-03 22:10] mbohlool commented on #83
Done. Thanks for reporting this.

[2017-01-03 22:13] #83 closed

[2017-01-05 05:14] lmccalman opened #85 "V1ConfigMapKeySelector missing name field?"
I'm trying to give environment variables to a V1Container constructor, and particularly I want those environment variables to come from a config map. In yaml it would look like:

[code]
However, the V1ConfigMapKeySelector that is expected in the constructor of V1EnvVarSource only takes a 'key' argument, not the 'name' argument.  Is this a change in the API or am I using the wrong types? My apologi

[2017-01-05 11:20] mbohlool commented on #85
Thanks for reporting this @lmccalman. This is a bug in k8s spec generator. I will get it fix soon.

[2017-01-08 23:40] stibi opened #86 "How to create a NFS volume?"
Hello,

I'm creating deployments with a NFS volume like this:

[code]

Is this possible the python kubernetes client? The [V1Volume](https://github.com/kubernetes-incubator/client-python/blob/master/kubernetes/docs/V1Volume.md) don't specify the needed parameters, like the "nfs" option.

The k8s API definition for `V1Volume` mention several possible options, including NFS: http://kubernetes.io/doc

[2017-01-09 06:12] mbohlool commented on #86
It is known a bug, similar to #85. I've already fixed it in kubernetes main repo and when we patched 1.5 (very soon), I will update this client.

[2017-01-09 12:00] stibi commented on #86
ok, I understand, thanks for explanation

[2017-01-09 12:00] #86 closed

[2017-01-09 14:53] codevulture opened #87 "Another same project [ https://github.com/openstack/python-k8sclient ] , We should check it out to avoid duplicate efforts for both :)"

[2017-01-09 17:37] mbohlool commented on #87
Thanks for reporting this. I've looked at that project (and many other python clients) before. The reason that we decided to start this project is that we didn't found any up to date supported client for python. They are either not actively developed, not up to date with latest changes of kubernetes or does not have good tooling around them to make them useful.

This project (client-python) is gen

[2017-01-09 17:39] stibi commented on #87
@mbohlool thanks for your work here on the client-python. It's really the only one working Python client for Kubernetes. I have a lot of use for it in my AWS Lambda functions :)

[2017-01-09 21:47] mbohlool commented on #87
Thanks @stibi.

@codevulture I am closing this issue, please feel free to reopen, if my reply was not satisfying.

[2017-01-09 21:47] #87 closed

[2017-01-10 03:04] codevulture commented on #87
Thanks for your comment, I think we will start using this client soon :) , I will push a couple of patches soon to minimize the differences and later move to using this client.
Thanks for your work!

[2017-01-10 21:23] #85 closed

[2017-01-10 22:18] mbohlool commented on #86
Upgrade your client. it should work now.

[2017-01-10 22:20] mbohlool commented on #85
Upgrade your client. it should work now.

[2017-01-11 01:03] rwillard opened #93 "What needs to be done to get patch_namespaced_deployment to work?"
I want to update the image for one of my containers in a deployment and it seems I can't provide an UnversionedPatch. Using a valid JSON patch string, or the strategic-merge string I use in kubectl ends up with variations of
```HTTP response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"json: cannot unmarshal string into Go value of type jsonpatch.Patch","cod

[2017-01-11 01:22] mbohlool commented on #93
Look like Patch is defined as this in kubernetes:

[code]
That I hoped would result in an empty class in generated code, but it look like swagger-codegen ignores it (it exists in swagger.json). I guess we may need to implement it manually. If you want to work on it, that's great. Add the class to kubernetes/client/model but keep in mind that the folder will be removed and regenerated on each call

[2017-01-11 12:59] dims commented on #93
@mbohlool @rwillard - patch_namespaced_service and patch_namespaced_config_map have the same problem. I am adding functional tests against a real k8s instance in my PR here:
https://github.com/kubernetes-incubator/client-python/pull/94/commits/8fac5fe38d53ba86417b9f2b2417b2d1bc0c848f

[2017-01-11 22:42] lmccalman commented on #85
Fantastic! Thanks mate.

[2017-01-13 10:44] mbohlool commented on #93
@rwillard can you please confirm if you are working on this?

[2017-01-13 19:24] mbohlool commented on #93
no problem. Thanks for letting us know.

[2017-01-15 02:48] dims commented on #41
we have one :) we can close this issue

[2017-01-15 16:43] hjacobs opened #99 "KubeConfigLoader does not support insecure-skip-tls-verify: true"
KubeConfigLoader does not honor the `insecure-skip-tls-verify` cluster property mentioned on https://kubernetes.io/docs/user-guide/kubeconfig-file/

Obviously nobody should disable TLS verification, but it's sometimes useful for development etc :smirk:

[2017-01-17 21:41] #41 closed

[2017-01-18 03:23] mbohlool commented on #62
I don't think would resolve and patched in 1.5. It probably goes in 1.6 and at that time, we can release 2.0 client with new interfaces. I would say we are ready for a beta release. Please let me know if you have any objection.

[2017-01-19 19:00] seeker89 opened #101 "`V1HostPathVolumeSource` is not imported into `kubernetes.client`"
It does make it to the `kubernetes.client.models` [via this line](https://github.com/kubernetes-incubator/client-python/blob/cd2342dc2e220eff42040f82d4f53f3b5d108cd6/kubernetes/client/models/__init__.py#L98), but then it gets lost in [`kubernetes/client/__init__.py`](https://github.com/kubernetes-incubator/client-python/blob/cd2342dc2e220eff42040f82d4f53f3b5d108cd6/kubernetes/client/__init__.py).

[2017-01-19 19:52] hjacobs commented on #99
This is supported by `pykube` btw: https://github.com/kelproject/pykube/blob/33b251140145e4edd3022fddfb56e80c9db05e6a/pykube/session.py#L38

[2017-01-19 19:56] hjacobs opened #102 "What's the future of this client and how does it compare to pykube?"
I'm currently using this client for my [Kubernetes Operational View](https://github.com/hjacobs/kube-ops-view) dashboard, but I will probably switch to [pykube](https://github.com/kelproject/pykube) as it looks much cleaner (e.g. config loading does not modify a global object), directly uses `requests` (which I'm using too) and supports `insecure-skip-tls-verify` (see #99).

Did you consider mergi

[2017-01-19 20:54] mbohlool commented on #102
Most part of this client is auto-generated. That distinguish it from pykube. Generating it make it easier for us to keep it in sync with API changes in main repo.
Having said that, I have no problem supporting features of pykube here if I get time or get somebody contributes.
About your specific concerns, our config loader has a version to load configs in a local config object instead of global on

[2017-01-19 20:55] mbohlool commented on #99
looks easy to add, what are the test steps for this?

[2017-01-19 21:25] mbohlool commented on #101
Yes, I need to fix this in a generated way.

[2017-01-19 21:45] hjacobs commented on #102
@mbohlool thanks for the quick answer :smile:

[2017-01-19 21:46] mbohlool commented on #101
@seeker89 I've sent a PR, would be nice if you can review it.

[2017-01-19 23:11] seeker89 commented on #101
With pleasure. I'm in GMT, will take care of that in the morning.

On Thu, 19 Jan 2017 21:46 Mehdy Bohlool, <notifications@github.com> wrote:

[2017-01-20 00:33] mbohlool commented on #102
Sure.

[2017-01-20 00:33] #102 closed

[2017-01-20 16:01] johscheuer opened #104 "Value Error - list namespaced config map"
Hi,

I have he following code snippet (I want all config maps in a specific namespace):

[code]

but when I execute it I get the following Error (if no config map exists in the namespace) :

[code]

So I added the following part as workaround:

[code]

I wanted to ask if this behaviour is wanted, actually I thought the items list would be empty like this if there are no existing config maps:

[cod

[2017-01-20 16:31] johscheuer commented on #104
Seems to appear on all namespaced list actions e.q. `list_namespaced_service` and if you are using `field_selector`

[2017-01-20 21:44] mbohlool commented on #101
@seeker89 I got LGTM for that PR. I am going to merge it, but feel free to look at it and let me know if you want any change there, and we can send another PR for that.

[2017-01-20 21:56] seeker89 commented on #101
@mbohlool Works nicely, thanks for the super quick fix 👍

[2017-01-20 22:12] #101 closed

[2017-01-20 23:08] mbohlool commented on #101
You are welcome.

[2017-01-21 04:07] mrmcmuffinz commented on #58
@mbohlool is there an example that you could provide demonstrating the use of exec via websockets?

[2017-01-21 09:49] mbohlool commented on #58
@mrmcmuffinz I did not have time to do it. That is why I added "Help needed" to this issue so somebody from the community hopefully help.

[2017-01-21 09:51] #93 closed

[2017-01-21 12:59] mrmcmuffinz commented on #58
@mbohlool My apologies, I thought you had some example. Do you happen to know who we can talk to help out? Can we work out defining what exactly it takes to get this done?

[2017-01-21 18:51] mrmcmuffinz commented on #58
Adding my stackoverflow question here too, for other people who stumble across this. Also has anyone looked into speaking with the developers of `urilib3` to see if they will support `http/2`? That way there is a minimum impact to the api_client...

[2017-01-21 19:49] mbohlool commented on #58
The ApiException for exec or any call needs SPDY/Websockets is informative. The right way to fix this is to catch that exception in api_client.py and start a websocket call instead. For the first step, try to write a python code that does not use this repo, and directly call into exec REST API using websocket. use kubectl proxy to get rid of authorization part and call into local host for simplifi

[2017-01-21 19:53] mrmcmuffinz commented on #58
I actually tried doing that but I could not figure out how to setup the authentication part of the code for the websocket. I have three pem certificates that were given to me and I'm just not sure how that fits into the picture. Thank you for your response btw.

[2017-01-21 19:54] mbohlool commented on #58
did you try kubectl proxy? that way you should not worry about authentication for now. it will proxy your call from localhost with the right authentication headers to the remote host.

[2017-01-21 19:57] mrmcmuffinz commented on #58
Ohh wow I totally forgot about the kubectl proxy command, if I do that should I switch my url to localhost in the websocket url versus the actual endpoint itself?

[2017-01-21 19:59] mbohlool commented on #58
Yes. lets have a working code with proxy then think about how to incorporate it into the client-python.

[2017-01-21 20:22] mrmcmuffinz commented on #58
Yeah I think I'm a bit further however I get a connection reset by peer error right now. I think I will need to read up on sockets in python as well as what all I need to do in order to setup the appropriate message for communicating.

[2017-01-23 14:16] ensonic opened #105 "version names, next release should be 1.0.1-whatever"
the versions released look weird to me. See https://www.python.org/dev/peps/pep-0440/

how are you getting the latest installed?

[code]

For now I requested the exact version:
[code]
Maybe call the next release 1.0.1 to ensure it is considered newer.

[2017-01-23 16:59] mrmcmuffinz commented on #58
Here is the issue against urllib3 for `http/2` suuport https://github.com/shazow/urllib3/issues/836.

[2017-01-24 10:14] #104 closed

[2017-01-24 10:15] mbohlool commented on #105
We are going to release a beta version soon. That should clear up things with alpha version messed up.

[2017-01-24 22:04] mbohlool commented on #63
Look like we should be able to pass a loaded json dic to an API call without any change. I will add an example for this, and if it worked, we can close this issue.

[2017-01-25 02:03] #99 closed

[2017-01-25 05:01] chekolyn commented on #58
@mrmcmuffinz I was wondering how you are testing this. I was doing some basic testing with hyper; but the exec call needs a "SPDY/3.1" upgrade header that hyper doesn't know how to handle.

If you do a connection upgrade with "SPDY/3.1" you will get this exception: https://github.com/Lukasa/hyper/blob/24b3b37d226bedb6199f22b788e066b91dbf892a/hyper/common/conncetion.py#L130

And if you do an h2 upg

[2017-01-25 05:06] mrmcmuffinz commented on #58
Hi @chekolyn in all honesty I put it on hold and started looking at other clients. I just wanted to use these python client with py.test for FVT but that kinda went out the door because of this limitation.

[2017-01-25 10:25] #63 closed

[2017-01-25 10:27] mbohlool opened #109 "Write How-To page(s)"
Things like #63 is possible with current client but not clear how to. A set of how-to articles would be really useful for these kind of stuff.

[2017-01-25 22:58] mbohlool commented on #105
We've release 1.0.0b1 that should fixes this. Let me know if that is not the case.

[2017-01-25 22:58] #105 closed

[2017-01-26 08:07] freeekanayaka opened #114 "Any reason for not using asyncio?"
I'm wondering if asyncio was considered. If I wanted to write a Kubernetes controller/operator in Python using ThirdPartyResource, then an asynchronous programming model like aiohttp offers would definitely be a matter match than the blocking one from urllib.

I understand people have uses cases for a blocking client too, but that would be relatively easy to implement on top of an asynchronous one

[2017-01-26 14:26] mbohlool commented on #114
This client is evolved from swager-codegen's generated client that uses urllib. It supports asynchronous calls but it creates a new thread. I am not familiar with asyncio much but from a glance, it is async in single thread that is nice. If it is possible to implement all functionalities required in `rest.py` and `api_client.py` using an asynchronous library, I have no objection. As long as the in

[2017-01-26 14:33] mbohlool commented on #114
Oh, look like asyncio introduced in python 3.4. We need to support both 2.7 and 3.X.

[2017-01-26 15:43] freeekanayaka commented on #114
Yes, asyncio is Python 3 only. For Python 2 *and* 3 the equivalent technology would be Python Twisted, but it feels a stretch.

Personally I would value the possibility to write asynchronous code more than Python 2 compatibility (for the Python-written controllers/operators use case), but YMMV. So feel free to close the issue.

[2017-01-26 22:24] dims commented on #114
@freeekanayaka : we could pose this debate if there's some actual proof of concept for what you are saying. can you please show us something that works? (at least subject to criteria from @mbohlool here (https://github.com/kubernetes-incubator/client-python/issues/114#issuecomment-275400617) even if it is just python 3.x.

[2017-01-26 23:27] freeekanayaka commented on #114
@dims I'm afraid for now I won't be able to provide that. I might start to experiment with Python-written controllers/operators in the near term, and when the time comes I'll probably write an asynchronous client, since I'm convinced it's the best model for such code (it's really and event-driven watch loop). If Python 2 support is a requirement for this particular client, it's probably best to st

[2017-01-26 23:45] mbohlool commented on #114
Please do let us know when you did those experiments. I am interested in seeing some kind of proof of concept. I think we need to continue support python 2. but that does not mean we can't have a separate async support for python 3. I will close this ticket, but please open it again any time you have more information.

[2017-01-26 23:45] #114 closed

[2017-01-27 11:37] seeker89 opened #117 "`UnversionedPatch` model is missing."
### What's wrong

The `UnversionedPatch` model is missing.

### How to reproduce

If you take a look at [CoreV1Api.md#patch_namespace](https://github.com/kubernetes-incubator/client-python/blob/master/kubernetes/docs/CoreV1Api.md#patch_namespace), you will see a reference to `UnversionedPatch`. Click it.

The docs don't exist for it. A quick look at [kubernetes/client/models](https://github.com/ku

[2017-01-27 18:15] mbohlool commented on #117
Ack. The problem is missing such model in k8s spec itself. #98 fixed (hacked) patch operation for now.

[2017-01-27 23:51] chekolyn commented on #58
OK guys a gave **websockets** a try and I have a very limited POC

I can confirm websockets works!

[code]

[2017-01-28 23:12] dims commented on #58
@chekolyn "oc" implies openshift? does this work in a pure kubernetes environment?

[2017-01-29 04:21] chekolyn commented on #58
@dims I haven't tested it on a pure k8s but I believe It should work, the oc command is just grabbing the current [auth token to authenticate via headers](https://kubernetes.io/docs/admin/authentication/#putting-a-bearer-token-in-a-request) (perhaps this is the only portion that it's OpenShift specific in the POC, you can probably remove the check_output for a valid token and it should work too ).

[2017-01-31 07:16] kozikow opened #118 "Confusing documentation of resource requiremetns"
ResourceLimits class says it expect keys of type ResourceQuantity: https://github.com/kubernetes-incubator/client-python/blob/master//kubernetes/client/models/v1_resource_requirements.py#L54.

 ResourceQuantity is an empty class: https://github.com/kubernetes-incubator/client-python/blob/master//kubernetes/client/models/resource_quantity.py#L25 .

ResourceLimits in the end accepts dict of string:s

[2017-01-31 07:43] mbohlool commented on #118
`ResourceQuantity` should be defined simply as:

[code]

this better be fixed in swagger-codegen

[2017-02-01 00:56] codevulture opened #119 "Pypi Package name should state it as a client"
I think python package name should be changed to some more descriptive name like kubernetes-client or something as kubernetes could be confusing to users.
what are your opinions?

[2017-02-07 21:19] mbohlool opened #122 "Use minikube to run e2e tests"

[2017-02-08 18:04] mrmcmuffinz commented on #58
Hi, has anyone else validated that these changes have indeed solved our exec demands? Do I need to change my code which is included in the stackoverflow link above or should I be good to go?

[2017-02-08 21:04] mbohlool commented on #58
@mrmcmuffinz did you build the client from master? The change just merged into master and will be available in the next release, but you should be able to follow the guide in README file to install client from master and give it a try. Let us know if that worked.

[2017-02-08 21:39] mrmcmuffinz commented on #58
Hi @mbohlool I have not had the chance yet however I found it odd that there was some deliveries but no review comments when I looked at the commits. Also I read that there were no tests delivered as part of the delivery and that the auto generator would potentially overwrite some of the code... I will certainly be taking a look at this over the weekend. Thanks to those who were involved!

[2017-02-08 22:24] dims commented on #58
@mrmcmuffinz : we have an e2e test that actually runs k8s and tests the exec code path - https://github.com/kubernetes-incubator/client-python/blob/master/kubernetes/e2e_test/test_client.py#L75

[2017-02-09 02:38] mbohlool commented on #58
@mrmcmuffinz look at #120 for more accurate information. There are lots of comments and e2e tests. Also we excluded those files from auto-generation. Let me know how was your test.

[2017-02-09 03:13] mrmcmuffinz commented on #58
Yeah sorry for the misleading information, I should have dug a bit deeper, saw this https://github.com/dims/client-python/commit/7e9adecc3dacc747cf04ba7881dd3764dae844f2, into the commits versus just reading some of the commits I saw as part of the commits above.

[2017-02-09 04:28] mrmcmuffinz commented on #58
[code]

[code]

Am I missing something?

[2017-02-09 12:20] mbohlool commented on #58
you need to install it not build.

[code]

I suggest you create a clean virtualenv first to make sure you are not conflicting with any other installed package.

[2017-02-09 13:19] mrmcmuffinz commented on #58
I did a develop... but none the less I will just uninstall and reinstall

[2017-02-09 13:29] dims commented on #58
@mrmcmuffinz : If you see the test i pointed out to, you will see connect_get_namespaced_pod_exec works. to get connect_post_namespaced_pod_exec to work, please patch the following line to allow `"POST"`
https://github.com/kubernetes-incubator/client-python/blob/master/kubernetes/client/api_client.py#L349

[2017-02-09 13:33] mrmcmuffinz commented on #58
Yeah I saw the test later, sorry about that however for your patch suggestion that does not sound like a good idea to me. Perhaps it will get to work in my case however that breaks assumptions such that you forwarded the post request via get...

[2017-02-09 13:53] mrmcmuffinz commented on #58
Bug number 1 :
(kpclient)[acabrer@mrmcmuffins client-python]$ ~/kube.py
Traceback (most recent call last):
  File "/home/acabrer/kube.py", line 6, in <module>
    from kubernetes import client, config
  File "build/bdist.linux-x86_64/egg/kubernetes/__init__.py", line 15, in <module>
  File "build/bdist.linux-x86_64/egg/kubernetes/client/__init__.py", line 277, in <module>
  File "build/bdist.linux

[2017-02-09 14:01] mrmcmuffinz commented on #58
Bug number 2 :
(kpclient)[acabrer@mrmcmuffins kpclient]$ ~/kube.py
Traceback (most recent call last):
  File "/home/acabrer/kube.py", line 28, in <module>
    main()
  File "/home/acabrer/kube.py", line 22, in main
    response = cli.connect_get_namespaced_pod_exec(pod, ns, stderr=True, stdin=True, stdout=True, command=exec_command, tty=False)
  File "build/bdist.linux-x86_64/egg/kubernetes/client

[2017-02-09 14:35] mrmcmuffinz commented on #58
There is a requirements.txt which I was not aware of until I looked into the commit comments... after installing the requirements file
[code]

 I get the below:

[code]
I'm guessing this is because I need to do the proxy command in kubectl....

[2017-02-09 20:52] dims commented on #58
@mbohlool @mrmcmuffinz : i have fixed the connect_post_namespaced_pod_exec in https://github.com/kubernetes-incubator/client-python/pull/123 - added a e2e test as well to show that it works fine and we don't regress when we generate new client from swagger.

[2017-02-09 21:17] #122 closed

[2017-02-10 01:30] mbohlool commented on #119
I think "client" in the inner package name is redundant. It should be as simple as saying "import kubernetes..." to use the client. But I am open to rename the filename (the one that shows up on pypi and install commands) to something else, though it would be a backward incompatible change and could be confusing to some people that are using the client right now. Over all I don't see enough value

[2017-02-10 01:30] mrmcmuffinz commented on #58
Hi @dims thanks for the update, I have pulled down the latest code and installed it however I still have the below error

[code]

[2017-02-10 01:34] mbohlool commented on #58
try setting `configuration.assert_hostname` to `True`.

[2017-02-10 01:36] mrmcmuffinz commented on #58
Do you mean `kubernetes.config`?

[2017-02-10 01:41] codevulture commented on #119
Yes, It would break the backward incompatibility. But from users perspective seemed a different convention. I would leave it upto you to see any possibility.Thanks.

[2017-02-10 01:44] mrmcmuffinz commented on #58
@mbohlool just tried that as well still does not work.

[2017-02-10 01:51] mrmcmuffinz commented on #58
@mbohlool
Ok here is what I did, I added the line you suggested to https://github.com/kubernetes-incubator/client-python/blob/master/kubernetes/client/ws_client.py#L107 and it worked for me. However I had set that to my config object and it was not taking affect.

I'm just running a pwd and it looks like it work for me:
[code]

[2017-02-10 02:08] mbohlool commented on #58
it should be something like:

[code]

Set the flag after you loaded the config.

[2017-02-10 02:11] mrmcmuffinz commented on #58
I was doing:
[code]
I can certainly try your suggestion.

[2017-02-10 02:18] mbohlool commented on #58
assert_hostname is not in config package, I understand the confusion though, we should clear that up.

on a side note, you don't need to pass kube config location if it is in the default location (as I see it is for your case).

[2017-02-10 02:20] mrmcmuffinz commented on #58
Yeah, I'm going to be writing some py.test fixtures to pass in the location of the configuration hence why I was using the above code. In the code you are suggestion how would one load a config from non-default location, does the `load_kube_config()` have a optional argument to pass it in?

[2017-02-10 02:26] mrmcmuffinz commented on #58
To answer my own question yes it does https://github.com/kubernetes-incubator/client-python/blob/6593d3a43f29a01d8024d198a4d2cc1d943a2848/kubernetes/config/kube_config.py#L283

[2017-02-12 21:46] dims commented on #58
@mbohlool - we should close this one out.

[2017-02-13 07:52] vklonghml opened #124 "Keep the watch action working all the time"
**Edited by @mbohlool:**
This question lead to an action item to add a retry mechanism to watch class. It should be controlled by a flag and will result in keeping the watch open all the time.

**Original post:**

below is how i use the client-python in list.py:

config.load_kube_config()
v1 = client.CoreV1Api()
w = watch.Watch()
for event in w.stream(v1.list_persistent_volume_claim_for_all_namesp

[2017-02-13 09:56] mbohlool commented on #58
I still think the way it's implemented is a little hacky. I would like to keep this issue a little longer so we can look back and clean it up a little. I will take another look tomorrow.

[2017-02-13 09:56] mbohlool commented on #62
Beta version is released. Closing this one.

[2017-02-13 09:56] #62 closed

[2017-02-13 13:15] mrmcmuffinz commented on #58
Hi might I bring my two cents. I still think we need to fix the ged and post requests for exec as they both go down the same path. Lastly I have created a dozen or so tests for the product I'm working on but there is one thing that I don't understand, where does one access the stderr, stdout? All we get back is a response message but those elements are not accessible in any specific manner. I thin

[2017-02-13 21:13] mbohlool commented on #58
Well I don't mind creating a new issue for post work. The access to stderr and stdout separately was one of my comments on original PR too. The majority part of the task is done so I will leave it to you and @dims if you want to close this and create a new issue, but I don't think our work on exec calls is done until we solve those issues. I would like to have a similar approach to Watch here. Wil

[2017-02-14 00:29] mrmcmuffinz commented on #58
I'm ok with either approach @mbohlool and will provide my feedback along the way as now I'm kinda a "stakeholder" in this. Any idea when we will have a new release with these changes, or at least a git tag for marking this particular milestone?

[2017-02-14 09:15] mbohlool commented on #58
I have a WIP PR that will send out soon. Only thing that is not working is stdin. stdout and stderr is working as well as streaming output. I will do another beta release after that PR.

[2017-02-14 17:32] mrmcmuffinz commented on #58
Ok, please keep me posted.

[2017-02-15 11:14] webwurst commented on #124
I see this happening with one certain cluster, but it works fine with another. So this might be some timeout on somthing in between, like load-balancer or so. But it would be cool if the `watch` could just do a retry in case the connection is lost.

[2017-02-15 11:17] vklonghml commented on #124
@mbohlool i don't set the timeout_seconds parameter, use the default value, but how can i keep the watch work all the time, like the @webwurst said.

[2017-02-15 21:57] mbohlool commented on #58
@mrmcmuffinz I sent a partial PR. stdin is not working yet (and I am not sure why). You also show concern about get/post going the same path, what is your concern? as far as I can tell websocket does not have a method like http. so get/post is the same for websocket.

[2017-02-15 23:23] prerakpradhan opened #126 "Pip install failing"
Currently just running pip install kubernetes but it throws an error saying:
Downloading/unpacking kubernetes
  Could not find a version that satisfies the requirement kubernetes (from versions: 1.0.0a3, 1.0.0a5, 1.0.0b1, 1.0.0a4, 1.0.0a2, 1.0.0a5, 1.0.0a4, 1.0.0-alpha.2, 1.0.0b1)
Cleaning up...
No distributions matching the version for kubernetes
Storing debug log for failure in /root/.pip/pip.lo

[2017-02-15 23:45] mbohlool commented on #126
No.

Have you installed the package before? What is your OS/Environment? Could this be something wrong with your installation of python? (easiest way to check that is to use virtualenv)

[2017-02-16 01:01] mrmcmuffinz commented on #58
*I sent a partial PR. stdin is not working yet*
Do you need some review on this or are you fine?

[2017-02-16 04:36] mbohlool commented on #58
The normal HTTP call (that I assume you mean that by `rest`) for exec does not work and will fail for exec call.writing to stdin would allow interaction with pod. It is much like kubctl exec command when you attach to stdin.

[2017-02-16 12:02] zhenhua commented on #58
@mbohlool I meet the following error when trying to execute a command in the pod.
[code]

I tried both k8s 1.2 and 1.5 cluster. It seems the websockets is not accessable so it fails when calling WebSocket.connect() method. How to enable websockets on the k8s master node?

[2017-02-16 21:35] mbohlool commented on #58
I don't think the issue is the target cluster. Would you share your code (fragment)? This can be a bug in our implementation.

[2017-02-16 23:05] mrmcmuffinz commented on #58
@mbohlool I actually edited my prior reply and not sure if you saw the full message could you kindly please revisit it?

@zhenhua Could you kindly please include apart from the fragment/redacted source code but also the stack trace?

[2017-02-16 23:55] mbohlool commented on #58
I think I responded to most of them.

1. That is what I have in PR, right?
2. what do you mean by `rest`? you mean normal http call? we don't support that. if you mean a blocking call then this question is the same as 3?
3. Good idea.
4. kubectl let you connect to a container using exec (I think the option is `-stdin` that Passes stdin to the container/pod). This let you interact with container li

[2017-02-17 01:27] zhenhua commented on #58
My test code is straight forward enough. Here it is
`
def _exec_pod_cmd(cli, pod_name, command):
    try:
        resp = cli.connect_post_namespaced_pod_exec(
                    name=pod_name, namespace=namespace, command=command)
        return resp
    except ApiException as e:
        print("Exception when calling connect_post_namespaced_pod_exec: %s\n" % e)

config.load_kube_config(config_fil

[2017-02-17 04:31] mbohlool commented on #58
@mrmcmuffinz: for no 3. It is a good idea, however API spec defined the return type as string. If you want to get stdout and stderr separately you need to call the API with `_preload_content=False` and read from each channel separately.

[code]

[2017-02-17 04:33] mbohlool commented on #58
@zhenhua, I guess your problem is `header`. it should not be `None`. It is fixed as part of my PR.

[2017-02-17 11:55] zhenhua commented on #58
@mbohlool, thanks. I use your mbohlool:exec branch to verify it on my side and it works fine. Only one thing is that, the container parameter of connect_post_namespaced_pod_exec() call is NOT optional, otherwise, it will return an 404 error of 'HTTP/1.1 404 Not Found'.

[2017-02-17 22:52] mbohlool commented on #58
@zhenhua documentation of the parameter says: "Defaults to only container if there is only one container in the pod." I think in case of our examples and e2e tests we have one container but you may have more than one container in your pod. Happy that it worked, I will merge the PR and cut another beta release.

[2017-02-21 08:02] zhenhua commented on #58
@mbohlool You are right. Actually, when creating a pod in my test, there're always have at least two containers, one is registry.access.redhat.com/rhel7/pod-infrastructure:latest and another is my test container. So I have to always specify the container name.

`$ docker ps
CONTAINER ID        IMAGE                                                               COMMAND                  CREATED

[2017-02-21 12:37] sebgoa opened #127 "Create Jupyter notebooks for common operations"
I started writing simple notebooks for interactive use of this client:

https://github.com/skippbox/notebooks

I am creating this issue to track a proposed GSoC project to expand on those notebooks:

https://github.com/cncf/soc

[2017-02-21 19:44] mbohlool opened #128 "Header key 'Authorization' or 'authorization'"
Throughout the client-python implementation, we consistently used 'authorization' as the header key. urllib3 is also using that, but in some libraries, capital "Authorization" is used. This issue is a placeholder for doing a research on this and make sure we are doing the right thing.

[2017-02-21 19:51] SEJeff commented on #128
The correct http header is [Authorization](https://tools.ietf.org/html/rfc7235#section-4.2) with a capital `A`, however most python client libs use them case insensitive (see: requests, or django's test client as examples).

[2017-02-21 21:04] mbohlool commented on #128
I agree, it should be capital `Authorization` with case insensitive checks. Will add help needed label so somebody look at this (It could be me if I find the time).

[2017-02-21 21:46] #58 closed

[2017-02-21 22:22] mbohlool opened #130 "Release 1.0 stable"
I think the client is stable enough for first release. I've release ~~Beta 2~~ Beta 3. Please give it a try and report back any problems. If there is no serious issues, I will release 1.0 in a week (target 2/28/2017).

[2017-02-22 09:55] jsautreau opened #131 "No module named websocket in b2"
Hello,

I install the client using pip and since b2 I've this error "No module named websocket".
Installing it manually works fine.

I've not much experience in python packaging etc... but it seems this dependency is missing from setup.py!

[2017-02-22 22:21] #131 closed

[2017-02-22 22:48] mbohlool opened #136 "Add check to make sure dependencies in requirements.txt and setup.py are in sync"
Adding a dependency to one but not the other creates problems like #131. We should add a check script for this. It is a plus if the check scripts checks for all requirements in https://packaging.python.org/requirements/

[2017-02-23 10:42] vedujoshi opened #138 "SSL hostname verification failure with websocket-client"
I have this simple script. Even though authentication does work, call to connect_get_namespaced_pod_exec() fails .

The list of installed pip pkgs installed is in https://gist.github.com/vedujoshi/07a79b6d1ea38701a2993fab63f55cfd

root@fb2337702e18:/# cat test1.py
from kubernetes import client, config
config.load_kube_config(config_file='admin2.conf')
v1 = client.CoreV1Api()
pod_list = v1.list_nam

[2017-02-23 10:55] vedujoshi commented on #138
This is on Ubuntu 14.04 running python 2.7.6
From another machine running centos7.1( python 2.7.5), the same thing works

[2017-02-23 14:32] mrmcmuffinz commented on #130
Actually to be clear it is `1.0.0b3` there were some missing requirements in setup.py which broke the build and were fixed in `1.0.0b3`

[2017-02-23 14:43] dims commented on #130
agree 1.0.0b3 should be good (https://github.com/kubernetes-incubator/client-python/compare/v1.0.0b2...v1.0.0b3)

[2017-02-23 19:12] vedujoshi commented on #138
Thanks..disabling hostname check worked fine

api_client = config.new_client_from_config('admin2.conf')
api_client.config.assert_hostname = False
v1 = client.CoreV1Api(api_client)

[2017-02-23 19:12] #138 closed

[2017-02-23 21:12] mbohlool commented on #130
Updated first comment to to beta 3. I wrote it before we found the bug in beta 2 setup.

[2017-02-24 03:40] mrmcmuffinz commented on #130
Few questions:
1. How do you want us to report issues, open up the issue right away or report it first elsewhere and then if it is valid open it up?
2. Are we going to see up to date examples with the better approach of setting up/loading the kubernetes config?
3. I actually do have an situation where I'm not sure if it counts as an issue but I my problem is as such. When accessing the namespace h

[2017-02-24 12:27] mbohlool commented on #130
1. I think like the rest of kubernetes, slack channel of SIG is the best starting point, then maybe creating issues.
2. We have some examples on that, what do you have in mind? PR is welcome :)
3. That should work if `cpu` or `memory` is in that map (that is not there all the time). Check `if "cpu" in ...` first.

[2017-02-24 13:30] dims commented on #130
In addition to what @mbohlool said, would love to see code snippets in the issues, so we can then turn that into unit or e2e tests quickly.

Thanks,
dims

[2017-02-24 17:42] mrmcmuffinz opened #139 "setup.py install fail on libyml requirement"
**Scenario**

Tried to execute `python setup.py install` in virtual environment.

**Output Snippet**
[code]

**Question**
1. What are the OS packages required to get this working, in my case I'm on Fedora 23?

[2017-02-24 18:09] mrmcmuffinz opened #140 "exec response returning with extra data"
**Scenario**
I'm trying to check if a specific files exists in my pod and assert it on my end using a direct string to string comparison.

**Code Snippet**
[code]

**Output**
[code]

**Problem**
Before in kubernetes v1.0.0.b1, I did not have those extra characters in the beginning of my response but with the latest v1.0.0b3 I do. Anyone know why this is the case?

[2017-02-24 18:40] mrmcmuffinz opened #141 "upgrade failure in virtualenv"
**Scenario**
Trying to upgrade from fresh installed `v1.0.0.b1` to `v1.0.0b3` on my mac and I get an error

**Output**
[code]

[2017-02-24 18:54] mrmcmuffinz commented on #140
This looks to me like we are packing some extra data in the beginning but I'm not sure. If I do the below modification it works for me.

[code]

Is this related to the peek functions for stdout and stdin?

[2017-02-24 19:35] mrmcmuffinz commented on #140
Upon doing some debugging here is what I found.

1. in `def websocket_call` we do
[code]
2. The function `client.run_forever` under the covers runs a `self.update` which will try to append the data coming in from the stream to some local data buffer?
3. We are not verifying if the incoming data is meaningful such that it will tack on the data.

Stack Trace from debugging:
[code]

I think we need t

[2017-02-24 19:39] mrmcmuffinz commented on #140
I see what the fix is @dims in https://github.com/kubernetes-incubator/client-python/blob/066bba1802797b1d7895854ec6fdb51f5a9d8823/kubernetes/client/ws_client.py#L58 would just truncate that data but @mbohlool looks like we forgot this step above. Could you please fix this?

[2017-02-24 20:10] mrmcmuffinz commented on #140
Here is what I did to my local code to _"resolve"_ it
[code]
I just transposed `self._all = data` a few lines down to not include the channel data.

[2017-02-24 21:10] mrmcmuffinz commented on #130
I'm on the kubernetes.slack.com, is there a dedicated channel for talking about this codebase?

[2017-02-24 21:55] mbohlool commented on #140
That was a conscious choice :) When you call the API in blocking mode, it returns one string. But there could be stderr and stdout in the result and those numbers are channel numbers for stderr and stdout. Having said that, I see what is the problem here. We do not have frame's boundary in the response. The update method gets data in frames and start of each frame is a channel number. But the call

[2017-02-24 21:59] mbohlool commented on #140
@mrmcmuffinz Look like what I am proposing is what you have in your comment. do you want to send a PR for that?

[2017-02-24 22:04] mbohlool commented on #140
I remove my last two comments as they were confusing. I like @mrmcmuffinz suggestion and I will send a PR for that. Basically what you see was my failed attempt to provide enough information for the caller to distinguish between stderr and stdout. For that, you need to call the api in non-blocking mode (_preload_content=False).

[2017-02-24 22:30] mbohlool commented on #141
I can't reproduce it. This is what I did:

[code]

[2017-02-24 23:31] #140 closed

[2017-02-24 23:50] mrmcmuffinz commented on #130
Follow up question, what will the protocol be now for new releases, lets say we find a bug and a fix goes in, when do we bump it?

[2017-02-24 23:53] mrmcmuffinz commented on #141
I need to put some more comments to explain the process I went through inorder to get that result. I'm also missing information such as the python version and os, so I will edit my original post to include that information.

[2017-02-25 01:42] mbohlool commented on #130
Depends on the problem and how severe it is. We can decide on a case by case basis for now I guess.

[2017-02-25 01:43] mbohlool commented on #138
@dims I suggest we make `api_client.config.assert_hostname = False` default value for websocket client.

[2017-02-25 01:58] dims commented on #138
@mbohlool 2 cents...i'd rather vote for a slightly better error message. (will help with educating people about better enabling security in their environment). if you see https://github.com/python/cpython/blob/6f0eb93183519024cb360162bdd81b9faec97ba6/Lib/ssl.py#L501 the default context they set it to True as well (compared to the False in _create_unverified_context)

[2017-02-26 09:18] mbohlool commented on #130
Look like I need to call the stable release 1.0.1 to make sure it is bigger than 1.0.0b*.

[2017-02-26 14:05] mrmcmuffinz commented on #130
Can we go with v1.1.0 instead? My reasoning is that if we go off of http://semver.org/ we are releasing a minor change and so the minor should be bumped once we deem it fit for public consumption.  If we see that there are any issues then we deliver a fix and that would be considered a patch such as the recent delivery we did on exec and extra data from the channel.

Sent from my iPhone

[2017-02-26 15:48] dims commented on #130
@mbohlool 1.0.0 is higher than 1.0.0b in all the typical tools like pip etc. So we should be good. if we do see a problem, then we can release a 1.0.1

[2017-02-26 17:09] plee138 commented on #138
I've also having some issue with the connect_get_namespaced_pod_exec() function.

My sample script has "assert_hostname = False" and is working properly on a local minikube instance.  However when I run it against my GKE at Google, it fails with the error:

websocket._exceptions.WebSocketBadStatusException: Handshake status 404

I've included my sample script and the trace below.  Any help would b

[2017-02-26 19:31] plee138 opened #144 "connect_get_namespaced_pod_exec() issue on GKE - works on minikube"
My apologies, I posted this as a continuation of issue #138 but noticed afterwards that it was closed, so I'm posting this a new issue.

I am able to successfully execute the connect_get_namespaced_pod_exec() function on my local minikube instance.  But when I run the same script against my Google GKE instance, I receive the following error:

websocket._exceptions.WebSocketBadStatusException: Hand

[2017-02-26 19:33] plee138 commented on #138
Sorry, didn't notice this issue was closed.  Re-posted as a new issue #144:

https://github.com/kubernetes-incubator/client-python/issues/144

[2017-02-27 14:22] mrmcmuffinz commented on #130
Hi @mbohlool & @dims, which release version will we be going with?

[2017-02-27 19:54] mrmcmuffinz commented on #139
To answer my own question, I think we need to state that inorder to use any of python yml parsers we would need some os level package for it to work. In my case, fedora 23, I would need to install libyml-dev via dnf as such

`sudo dnf install libyaml-devel -y`

And that should silence the above error. **Note**: this step will be different for each OS.

[2017-02-27 19:56] mrmcmuffinz commented on #141
I'm going to close this issue as I have not been able to reproduce and is probably not something worth my while looking into right now. I believe folks should just be deleting old client and doing fresh install while in beta. Will be closing this issue and if someone else reports the same they can reopen this one.

[2017-02-27 19:56] #141 closed

[2017-02-27 19:57] mrmcmuffinz opened #145 "Interactive Exec on WebSocket api Close() requirement"
Had a discussion with @mbohlool on slack about externalizing a close() method for websocket client. Scenario describe below:

**Scenario:**

1. I have opened up an interactive exec.
2. Executed a few commands.
3. Completed my job.

**Proposal:**

1. We need to externalize some method to close the socket in the event we are done using it and don't want the socket lingering around. Yes we could use

[2017-02-27 21:50] mbohlool commented on #139
would you say this is a libyaml problem not ours? or is there a way to prevent this by using another library?

[2017-02-27 21:52] mbohlool commented on #130
@dims Sure, I was wondering if we can just skip any problem by using 1.0.1, but if packaging tools understand that 1.0.0 > 1.0.0b then we should be good.

[2017-02-27 22:18] WilliamDenniss commented on #126
I got the same error running `pip install kubernetes` the first time.

Once I updated pip (`pip install --upgrade pip`), and tried again, it worked. Version 1.0.0b3 was installed in the end.

[2017-02-27 22:23] WilliamDenniss commented on #130
@mrmcmuffinz It's valid semver to have a beta suffix which is deemed less than the final release with the unsuffixed number http://semver.org/#spec-item-11

[2017-02-28 01:02] mrmcmuffinz commented on #139
I'm leaning towards this being a dependency of `pyyaml` itself and not necessarily client-python. The only thing imho worth noting in the readme is the need of installing the devel package for pyyaml to work depending on the operating system but then again do we really want to go that far? I'm not sure however as a consumer of this api, I know how to get around the issue.

[2017-02-28 01:06] mrmcmuffinz commented on #130
@mbohlool ok, though how does that fit with what is in in [CHANGELOG.md ](https://github.com/kubernetes-incubator/client-python/blob/master/CHANGELOG.md#v101) as I see `v1.0.1`?

@WilliamDenniss ok, I don't disagree with that statement nor do I see where I made the opposite claim. Could you please clarify where the misunderstanding is?

[2017-02-28 01:11] mrmcmuffinz commented on #144
Yeah I think I know what your issue is as I faced it as well. You are setting the `assert_hostname` on the client instead of the `configuration` look at [exec](https://github.com/kubernetes-incubator/client-python/blob/master/examples/exec.py) example to get a better idea as to how to load and setup the configuration.

[2017-02-28 01:34] mbohlool commented on #130
@mrmcmuffinz I will change that.

[2017-02-28 19:25] #145 closed

[2017-02-28 19:48] plee138 commented on #144
That did the trick.  Thank you!

By the way, thanks also for pointing out the code sample in the examples folder.  They were very helpful.

[2017-02-28 19:48] #144 closed

[2017-02-28 20:23] mrmcmuffinz commented on #144
Awesome, great that I was able to help out! And thank @mbohlool for the examples.

[2017-02-28 20:24] #139 closed

[2017-03-01 04:30] plee138 commented on #144
Yes a big thank you as well to @mbohlool for the examples and all the hard work you've put into this API.

[2017-03-01 23:41] mbohlool commented on #130
The release is live: https://github.com/kubernetes-incubator/client-python/releases/tag/v1.0.0

[2017-03-02 07:38] jiefugong opened #151 "Change .kube current context programatically"
After looking at the API for this client, it doesn't seem there's an easy way to change the current context as seen in the .kube config. This would be nice to have, or, if I have missed something, I would love to know the proper solution

[2017-03-02 11:30] mbohlool commented on #151
`load_kube_config` function has a `context` parameter for that purpose. Please check examples folder.

[2017-03-02 23:08] #151 closed

[2017-03-06 10:05] ianubhav commented on #127
Hi Sebastien. Is this project still open?

[2017-03-06 14:45] sebgoa commented on #127
@ianubhav yes this project is open. You will need to submit an application starting March 20th.
if you are interested by this, you can start using the python client for k8s and look at the notebooks project in https://github.com/skippbox/notebooks . Then maybe submit a few PRs...

[2017-03-06 16:23] ianubhav commented on #127
Hi Sebastian,
I actually have a good understanding of Jupyter notebooks and Docker. Not so much for Kubernotes. I was unableto execute the command as I was getting this error "The connection to the server localhost:8080 was refused - did you specify the right host or port?". Are you using minikube or glocud for your environment

[2017-03-07 05:40] ianubhav opened #154 "SSL Error"
I have installed kubectl and minikube and able to run them directly on console

But running this

ret = v1.list_pod_for_all_namespaces(watch=False)

ApiException: (0)
Reason: SSLError
[SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:645)

gives an SSL error

[2017-03-07 08:18] ianubhav commented on #127
Hi @sebgoa

While running this from python console, I was getting error. Can you help me resolve?

ret = v1.list_pod_for_all_namespaces(watch=False)

ApiException: (0)
Reason: SSLError
[SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:645)

gives an SSL error

[2017-03-07 18:20] mbohlool commented on #154
Can you also give your setup detail? If I have to guess, I say you are on mac and your OPENSSL_VERSION is less than 1.0.0. Run this command:

[code]

[2017-03-07 18:30] ianubhav commented on #154
Yes thats exactly correct.

[2017-03-07 18:33] #126 closed

[2017-03-07 19:28] #154 closed

[2017-03-07 20:44] gardlt commented on #154
I am having the same problems, I ran that command that python command and got `openSSL 1.0.2k  26 Jan 2017`. does it need to be a specific version? I am on a OSX system

[2017-03-07 21:07] mbohlool commented on #154
No, it should work. Can you share your code snippet and the exact error? Also did you try kubectl to make sure the same command works there?

[2017-03-09 10:08] ianubhav commented on #127
Hi @sebgoa ,
I setup the notebooks and kubernetes.
I was getting an error while running
config.load_incluster_config()

The error is:
---------------------------------------------------------------------------
ConfigException                           Traceback (most recent call last)
<ipython-input-3-91ba88871994> in <module>()
----> 1 config.load_incluster_config()

/home/clab3-15/Desktop/anubha

[2017-03-09 17:19] cristifalcas opened #155 "SSL error when connecting to cluster"
I'm trying to use the default example, but it fails with an ssl error.

Code:

        from kubernetes import client, config
        config.load_incluster_config()

        v1=client.CoreV1Api()
        print("Listing pods with their IPs:")
        ret = v1.list_pod_for_all_namespaces(watch=False)
        for i in ret.items:
            print("%s\t%s\t%s" % (i.status.pod_ip, i.metadata.namespace,

[2017-03-09 21:34] sebgoa commented on #155
Are you running this python example in a Pod that is running within the cluster ?

That's what the load_incluster_config( ) function does. It loads the service account credentials to talk to the API server from _within_ the cluster.

[2017-03-09 21:35] sebgoa commented on #155
if you are accessing the API from your local machine, you need to use config.load_kube_config() this will load the current context from your kubeconfig file.

[2017-03-09 23:44] mbohlool commented on #155
this should be related to "ipaddress" package. I see the requirement for this package's version is not met (the requirements file listed 1.0.17 minimum version for that package). Also can you list your packages using `pip` tool and also provide information about your python version, kubernetes version and how you installed it.

[2017-03-10 06:21] cristifalcas commented on #155
@sebgoa Yes, I',m inside a pod.

@mbohlool I will update the ipaddress package and update you. I listed all python packages versions we used in the original post. We don't install anything with pip, we rely on os packages and build our own rpms for missing ones.

[2017-03-10 07:36] cristifalcas commented on #155
I got the same error with latest ipaddress:

    # python -c "import ipaddress; print ipaddress.__version__"
    1.0.18

Installed python versions:

        # rpm -qa | grep python | sort
        dbus-python-1.1.1-9.el7.x86_64
        libselinux-python-2.5-6.el7.x86_64
        python-2.7.5-48.0.1.el7.x86_64
        python-certifi-2017.01.23-1.el7.noarch
        python-configobj-4.7.2-7.el7.noarch

[2017-03-10 07:39] cristifalcas commented on #155
Ok, it worked after I did

    pip install --upgrade kubernetes

I need to see which package nedded to be upgraded

[2017-03-10 07:53] mbohlool commented on #155
I am interested to see how it works out. Till now I only used pip to install kubernetes client and all dependencies. Let me know if you succeeded in making your own RPM with all dependencies.

[2017-03-10 10:15] cristifalcas commented on #155
We had to upgrade some packages and also to create new ones. Here is a list with the versions:

    python-kubernetes                                           1.0.0-5.el7 (new)
    python-backports-ssl_match_hostname                         3.5.0.1-1.el7 (needed update from 3.4.0)
    python-certifi                                              2017.01.23-1.el7 (new)
    python-ipaddress

[2017-03-10 10:15] #155 closed

[2017-03-10 10:36] mbohlool commented on #155
My money is on `python-backports-ssl_match_hostname` and `python-ipaddress`.

[2017-03-12 03:15] paultiplady opened #156 "Websockets (`exec` and friends) broken in python 3.4"
I'm getting the following client error when trying to exec in a running container:

[code]

This triggers PTSD from getting pykube up and running in Python 3.4, which ultimately required a fix in the Requests library: https://github.com/kelproject/pykube/issues/29

Haven't dug yet, but it looks like monkeypatching match_hostname should work, perhaps you could use the conditional import logic that

[2017-03-13 18:00] mbohlool commented on #156
did you use pip to install kubernetes? can you provide version of packages kubernetes depends on? if ipaddress package exists and urllib3 version is  greater than what specified in requrements.txt, it should fix this error.

[2017-03-14 13:09] cristifalcas opened #157 "Possibility to create custom objects"
Can I create custom objects with the python api?

I'm refering to [this](https://kubernetes.io/docs/user-guide/thirdpartyresources/#creating-custom-objects).

[2017-03-14 17:36] mbohlool commented on #157
most probably yes. The reason I am guessing that is the client library calls directly into APIs and most of functionality of kubectl should be possible. I suggest you run the create command of kubectl with -v 9 to get the API call and see if you can figure out which/how to call the related API. something like:

[code]

You can pass a dictionary to python API calls, so if you find the API call, thi

[2017-03-15 11:32] dohnto commented on #155
I can see this still failing on debian. Any tips what to upgrade?

[code]

[code]

[code]

[2017-03-15 12:15] dohnto commented on #155
Its seems that command bellow solves the problem.
[code]

[2017-03-15 23:48] paultiplady commented on #156
I did use pip, but I just noticed that my virtualenv had a super-old version that wasn't correctly updating deps, so it's possible this is a false alarm. Haven't had a chance to retest with python3.4 (just worked around this by using a new venv with python3.5). I'll circle back and confirm later -- looks good to close now though.

Thanks

[2017-03-15 23:52] mbohlool commented on #156
ok, please reopen if the problem still exists.

[2017-03-15 23:52] #156 closed

[2017-03-16 10:26] webwurst commented on #157
I have started on an example to work with third party resources: https://github.com/giantswarm/operator-example-python

I needed to come up with a hack to access the API in a generic way: https://github.com/giantswarm/operator-example-python/blob/master/generic_api.py

@mbohlool What do you think? Is there a better solution?

[2017-03-16 19:48] mbohlool commented on #157
Why do you want a generic api call? I did not use third party resources much, but I would try to write an OpenAPI spec for my resource and then generate a client and share base of this client with that. I can look into third party resources support later.

[2017-03-20 16:00] karthiktrml commented on #118
@mbohlool  I am not sure if this has been fixed yet, until swagger-codegen is fixed, does this work ?

[code]

Should work or does it need to include `to_dict` methods inside the `ResourceQuantity` class

[2017-03-20 19:16] mbohlool commented on #118
instead of any type, you should be able to use basic types such as `string` or `dict`. Have you tried something like this?
[code]

[2017-03-21 01:08] karthiktrml commented on #118
[code]

I tried both ways it didn't worked @mbohlool

[2017-03-23 13:26] jmalobicky opened #160 "Job with restart_policy = Never fails"
When using the `create_namespaced_job` method, the response is being returned is stating an Unsupported value when `'Never'` is used.

Response:
`kubernetes.client.rest.ApiException: (422)
Reason: Unprocessable Entity
HTTP response headers: HTTPHeaderDict({'Content-Length': '621', 'Date': 'Thu, 23 Mar 2017 13:19:54 GMT', 'Content-Type': 'application/json'})
HTTP response body: {"kind":"Status","ap

[2017-03-24 22:54] kozyraki opened #161 "Add support for taint updates"
Please add support for taint management (kubectl taint ...).

[2017-03-29 01:57] InAnimaTe opened #162 "Cascading Deployment Removal"
When calling `delete_namespaced_deployment`, even with `orphaned_dependents` (which doesn't mean I think it means), *only* the deployment object itself gets removed. This means you've got the ReplicaSet and 1 or more Pods still running.

Between garbage collection and ReplicaSet [references](https://github.com/kubernetes/kubernetes/pull/35676) to the Deployment that created it, there still doesn't

[2017-03-29 23:25] freedryk opened #163 "If pod log consists solely of a floating point number, read_namespaced_pod_log truncates log output"
I was playing with a batch job that simply outputs pi to 1000 decimal places.  When I look at the log output in the k8s dashboard it shows:

    3.1415926535897932384626433832795028841971693993751058209749...

but calling

    core_api = client.CoreV1Api()
    core_api.read_namespaced_pod_log(name=pod_name, namespace=pod_namespace, container=container_name)

returns

    '3.14159265359'

I note th

[2017-03-30 03:59] TracyBin commented on #117
hi, 'UnversionedPatch' model is not function now. I want to modify replica number using 'patch_namespaced_deployments_scale',but the 'UnversionedPatch' model is missing.
Please help me

[2017-03-30 04:14] TracyBin commented on #162
you can call delete replicaset and pod alone against label selector

[2017-03-30 04:19] TracyBin opened #164 "How to use 'kubectl rollout'"
I want to roll update the deployment,but I don't know  which function to use. patch_namespaced_deployments  or replace_namespaced_deployment?
patch_namespaced_deployments function can't use because unversionedpatch model is missing;
After call replace_namespaced_deployment, the app in pods can't access.
Which function is right?

[2017-03-30 04:23] nqbao opened #165 "Anaconda2 does not support IP Address host check in kubernetes cert"
Hi,

Is there a way to make python certificate verification works with IP address? When I try to use kubernetes python client to connect to a cluster using cluster IP address I got this error. I'm sure the ip address is valid with the cert.

[code]

[2017-03-30 06:38] seeker89 commented on #117
Hi,

It is missing from the docs themselves. The way I'm using it in my current
code base is that I build the model using the usual constructors, and then
have a function turning it recursively into a dict representation. And I
use that to patch.

On Thu, 30 Mar 2017 05:59 TracyBin, <notifications@github.com> wrote:

--
Mikolaj Pawlikowski

[2017-03-30 09:29] sebgoa commented on #127
Once the noteboooks for common operations are written:

* start pod
* create deployment
* create service
* rolling update

we can start working on:

https://github.com/kubernetes-incubator/client-python/issues/66

[2017-03-30 11:10] mbohlool commented on #165
I believe this is the case: https://github.com/kubernetes-incubator/client-python#hostname-doesnt-match

[2017-03-30 11:20] mbohlool commented on #163
That is an interesting case. I've traced it back to https://github.com/mbohlool/client-python/blob/4e593a7530a8751c817cceec715bfe1d03997793/kubernetes/client/api_client.py#L233-L233

I think we kind of hoped that json deserialization fails for logs and we use the response data directly. But in this case, it would deserialize output to json (that would be a floating point number) and then later on

[2017-03-30 23:30] nqbao commented on #165
I am actually using Anaconda. let me try to upgrade to latest version of Anaconda

[2017-03-31 04:01] TracyBin commented on #162
sorry,I can't reproduce the problem. when orphaned_dependents=True, replicaset and pods all gets removed

[2017-03-31 05:06] mbohlool commented on #165
Can you list your environment details. e.g. python version, openssl version (look at readme file to get that), package list with versions, etc.

[2017-03-31 06:57] TracyBin commented on #162
sorry for wrong reply. you are right.orphaned_dependents takes no effect

[2017-03-31 07:14] mbohlool commented on #162
doesn't look like a python client issue. More like an upstream feature request. can you do delete cascade with kubectl? If yes, you can use -v9 with kubectl to see what APIs are called.

[2017-03-31 09:08] mbohlool opened #166 "Add missing supports for kubernetes client stable and gold"
according to new [kubernetes client guidelines](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/csi-new-client-library-procedure.md#client-capabilities) python client is beta support and has silver capabilities. We are almost there to have gold capabilities and stable support. missing parts are:

Gold:
- [ ] Support attach, port-forward calls
- [ ] Proto encoding

[2017-03-31 11:06] dims commented on #166
@mbohlool what does "proto encoding" mean?

[2017-03-31 13:09] InAnimaTe commented on #162
On my phone so don't have the link handy but kubectl apparently handles
this itself. I do think you're right in that this is an actual API feature
request more so than a client-python problem.

On Mar 31, 2017 3:14 AM, "Mehdy Bohlool" <notifications@github.com> wrote:

[2017-03-31 16:38] nqbao commented on #165
Here is the environment:

[code]

[code]

Installed dependencies

[code]

[2017-03-31 16:40] nqbao commented on #165
I also sure that ip address matches the certificate

[code]

[2017-03-31 21:00] mbohlool commented on #166
@lavalamp should know more about this, but I assume it means we encode the request body with proto instead of json.

[2017-03-31 21:48] lavalamp commented on #166
Correct, request & response bodies. Here's an example proto file: https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/v1beta1/generated.proto

You may not be able to determine the proto encoding from the OpenAPI spec--it'll be interesting to see you try to support these protos in a non-go language...

Also the levels were chosen so that Silver was a perfectly acceptable sort of clie

[2017-03-31 22:12] mbohlool commented on #165
I confirm that `anaconda2-4.3.1` does not work with this and I still don't know why. But `anaconda3-4.3.1` works as well as `Python 2.7.13`.

[2017-03-31 22:16] freedryk commented on #163
To be clear, this isn't high priority to me; we can work around it by changing the output to 'result: 3.1415927...'. I just thought it was worth recording as an edge case :)

[2017-04-02 01:18] djkonro commented on #127
@sebgoa, I have submitted a proposal for this project and I am looking forward to a review of my proposal. Thanks.

[2017-04-03 06:36] nqbao commented on #165
Thanks, i can use `Python 2.7.13` for now.

[2017-04-04 10:43] vascofg commented on #162
I'm having this same issue, and after further investigation have found out that the current (1.6.1) way of doing this is with the parameter `propagationPolicy` on the DeleteOptions:
[k8s documentation](https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#setting-the-cascading-deletion-policy)

It seems the python client doesn't support this ATM:
[v1_delete_options.py](http

[2017-04-04 12:40] vascofg opened #167 "Update generated client"
I would like to request that you update the generated client for API v1.6.0

[2017-04-04 15:58] stevekuznetsov opened #168 "No examples exist for error handling"
It's not really clear from poking around at the methods what to do on a 404, or even how one would be exposed to me from a top-level API action.

[2017-04-04 18:06] mbohlool commented on #168
I am working on that. There is a breaking change in definition naming in main repo that most probably will force us to increase major version of the client.

[2017-04-04 18:07] mbohlool commented on #167
I am working on that. There is a breaking change in definition naming in main repo that most probably will force us to increase major version of the client.

[2017-04-04 18:12] vascofg commented on #167
Found out about that when trying to generate the code myself... Best of luck.
Any ETA on the release?

[2017-04-04 18:55] mbohlool commented on #167
not yet. I am thinking about renaming models to make them compatible with previous version. To keep track of the semver, I need to get a meaningful diff of specs. Will keep this issue updated.

[2017-04-04 23:51] mbohlool opened #169 "Update preprocessing script to shorten model names"
Starting kubernetes 1.6, the OpenAPI spec has full package name of the models. These long names are really inconviniant in python client but it has been added because there were conflicts in short names. We should modify preprocessing script to shorten these names as much as possible (possibly keep model names for most of the existing models). This, however, could change some of the names and henc

[2017-04-05 04:02] TracyBin opened #171 "How to use field_selector"
hi,I want to list service in specified namespace. I call list_namespaced_service,but output error.
This is my code:

[code]

error:
[code]

[2017-04-05 04:09] TracyBin commented on #164
@mbohlool Thank you! I have solved this problem by using the function of patch_namespaced_deployment. In this function, use V1beta1Deployment body   instead of unversionedpatch body

[2017-04-05 09:17] #164 closed

[2017-04-05 09:22] mbohlool commented on #171
If you know `kubectl` command to do this, just run the command with `-v9` and you would see the format of selector kubectl sends to api server.

[2017-04-05 22:49] #167 closed

[2017-04-05 23:07] mbohlool commented on #167
I've updated generated client and released 2.0.0a1. Give it a try and let me know if it works (you need to use `--pre` flag with pip to install it).

[2017-04-06 04:10] TracyBin commented on #171
sorry,I can't find it. I have solve this problem by scanning all service to find specified service

[2017-04-06 04:13] TracyBin opened #172 "Is this API of the heapster available?"
hi,
Can I collect data from heapster through  API?

[2017-04-06 07:32] mbohlool commented on #172
I think that is a question for sig api not python client. you can ask in slack or email. more info here: https://github.com/kubernetes/community/tree/master/sig-api-machinery

[2017-04-06 07:32] #172 closed

[2017-04-06 07:34] mbohlool commented on #171
can you post your solution here. It useful for other community members if they hit the same issue. Thanks.

[2017-04-07 20:36] mbohlool commented on #162
Can you guys give 2.0.0a a try. I've updated python client.

[2017-04-08 11:41] vascofg commented on #162
I've tried it, working fine for my application, at least the new options I needed in [v1_delete_options.py](https://github.com/kubernetes-incubator/client-python/blob/master/kubernetes/client/models/v1_delete_options.py) are working fine.

[2017-04-10 10:16] TracyBin commented on #171
I want to find service belong to the deployment,but failed depend on field_selector. The solution is that list all services  to find specified one that match labels

[2017-04-10 10:33] dims commented on #171
@TracyBin : can you please post some snippet of code that failed to work as expected?

[2017-04-10 10:35] dims commented on #171
@TracyBin Can you please reopen the issue? Looks like you have a snippet in the description that fails to work.

[2017-04-10 11:42] #169 closed

[2017-04-10 20:47] #162 closed

[2017-04-11 03:25] TracyBin commented on #171
@dims ok, I have been  reopened this issue

[2017-04-11 04:57] vedujoshi opened #173 "V1Patch.md is missing"
The file https://github.com/kubernetes-incubator/client-python/blob/master/kubernetes/docs/V1Patch.md is missing

It is referred by https://github.com/kubernetes-incubator/client-python/blob/master/kubernetes/docs/CoreV1Api.md#patch_namespace

[2017-04-11 21:01] mbohlool commented on #173
dup #117

For patch models, you can just pass a `dict`. This needs documentation.

[2017-04-14 03:38] DjangoPeng opened #174 "watch return same event twice"
I tried amounts of ways to use the `watch` method, but all were hang on without any response.
For example,
[code]
It hangs on all the time, and if I set `watch=False` it would get the right response. Does anyone know what's wrong with my code?

By the way, the example of [list_pod_for_all_namespaces](https://github.com/kubernetes-incubator/client-python/blob/master/kubernetes/docs/CoreV1Api.md#lis

[2017-04-14 05:58] DjangoPeng commented on #174
It works in this way below:
[code]

[2017-04-14 07:11] sebgoa commented on #174
so is this closed or not ? you closed the issue but then change its description ?

[2017-04-14 07:11] DjangoPeng commented on #174
When a pod completed, I found it generate a duplicated event, which only difference is the resource version. Does anyone know the reason and how to avoid that?
**event 1**
[code]
**event 2**
All are same as **event 1**, except resource version:
[code]

[2017-04-14 07:13] sebgoa commented on #174
it is not a duplicate event, a watch looks at changes of the object. Here the version is changed, hence you get a new "event".

[2017-04-14 07:13] DjangoPeng commented on #174
@sebgoa I got a new problem, and I think I can attached it in the same issue. So that, others can get know the whole thing.

[2017-04-14 07:15] DjangoPeng commented on #174
How can I just watch the changes of phase of a pod? I got the same problem in `pending` phase.

[2017-04-14 07:17] sebgoa commented on #174
If you have a different problem it is much better practice to open a new issue. Rather than edit the description. You can add references to issues easily.

[2017-04-14 07:17] sebgoa commented on #174
I don't think the watch stream will filter out phase changes out of the box, you have to code it .

[2017-04-14 07:19] DjangoPeng commented on #174
@sebgoa Got it, I'll do that next time, and I think this is not a issue actually. I would close it.

[2017-04-14 07:19] #174 closed

[2017-04-14 11:08] sebgoa opened #175 "wrong parameter order in `create_namespaced_binding_binding` method"
the doc shows that the `name` should be first:

https://github.com/kubernetes-incubator/client-python/blob/master/kubernetes/docs/CoreV1Api.md#create_namespaced_binding_binding

but the call actually takes the `body` as first argument.

[2017-04-15 18:08] mbohlool commented on #175
Not sure where the call actually takes `body` first. Looking at the code in this file:

https://github.com/kubernetes-incubator/client-python/blob/84bf6cc9dc206cb3314a5b4d2fa1a9c2fa2c5137/kubernetes/client/apis/core_v1_api.py

(can't link to the line, the file is large. search for create_namespaced_binding_binding)

The function defined like this:

[code]

[2017-04-15 18:17] mbohlool commented on #169
More clarification:
kubernetes moved to full model names instead of short names. For example `v1.pod` is now `io.k8s.kubernetes.pkg.api.v1.Pod`. However this name is not convenient in python. But we cannot just shorten names because there would be duplicates. I've added a code to shorten model names as much as possible. So as long as there is no other model name ending with `v1.pod`, for example,

[2017-04-15 18:20] mbohlool opened #176 "Add compatibility matrix to README file"
Similar to:

https://github.com/kubernetes/client-go#compatibility-matrix

Add a compatibility matrix in README file to define which kubernetes version is supported by which python client.

[2017-04-15 21:05] mbohlool commented on #173
related: https://github.com/swagger-api/swagger-codegen/issues/5400

[2017-04-17 09:48] sebgoa commented on #175
I have been looking at the code, and I don't see anything obviously wrong with it.

But this can be reproduced. Create a pod on minikube with the following manifest:

[code]

Then Try to create a binding:

[code]

[2017-04-17 10:01] sebgoa commented on #175
ok looks like it is a problem with the 1.0.0 release, but is fixed in the 2.0.0 pre-release

[2017-04-17 17:14] mbohlool commented on #175
I will release a beta 2.0 soon.

[2017-04-17 17:14] #175 closed

[2017-04-17 18:19] mbohlool opened #177 "Figure out a plan to update release branches automatically"
Release branches in client-python are following a release branch in kubernetes main repo. If there is a patch for main repo's branch, we should figure out a way to at least detect it, even better create a PR automatically and even much better merge that PR if it is backward compatible.

I would consider this task done if we create a PR automatically. Merging on backward compatibility would be just

[2017-04-19 10:05] rafaelcaricio opened #182 "Contents of service account token mounted in POD is being base64 encoded"
A project I have is using the client-python and using the mounted tokens wasn't working. After some investigation I figured out that the token file contents is being encoded in base64. From my understanding this content should not be encoded after read, the token should be ready to use.

The problem is in the [KubeConfigLoader#_load_user_token](https://github.com/kubernetes-incubator/client-python

[2017-04-19 18:14] mbohlool commented on #182
Have you tried `kubectl` with the same config file? I think if `kubectl` works, our config loader should work too unless we have a bug.

[2017-04-19 18:49] mbohlool commented on #182
I can confirm this is a bug. Will send a fix.

[2017-04-19 23:01] mbohlool commented on #25
ref: https://kubernetes.io/docs/concepts/cluster-administration/access-cluster/#python-client

[2017-04-19 23:01] #25 closed

[2017-04-21 12:17] aosterkamp opened #187 "patch_namespaced_deployment gets 500 as response when using json-patch"
When using a [RFC6902](https://tools.ietf.org/html/rfc6902)  formatted json-patch you get a 500 response.
The hack for the issue #93 introduced this bug.
Are there any plans to get rid of the hack?

To repoduce the problem the following can be done:

create the deployment with kubectl
[code]

try to patch it
[code]

log output
[code]

[2017-04-21 21:34] mbohlool commented on #187
patch should be an object not an array of objects.

[code]

[2017-04-21 22:21] aosterkamp commented on #187
as the RFC states it is an list of objects

[code]

if you mean that the api responses with a 200, when you patch just an object, yes you're right, but the patch is not applied.

if you comment out lines 150 and 151 in  kubernetes/client/rest.py it works again. So the content-type in this case is wrong.

[2017-04-21 23:56] mbohlool commented on #187
@dims added those lines. @dims can the content type removed from header? or can we fix it to work with this case?

[2017-04-22 21:22] dims commented on #187
@mbohlool : ack, i'll try to find a way to multiple ways to specify the patch request body
https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#patch-operations

[2017-04-24 03:50] TracyBin commented on #161
Maybe the function of  patch_node can help you

[2017-04-24 03:54] TracyBin opened #188 "[Starter Project] Implement `kubectl drain` command"
`kunectl drain` is a client side functionality that can be ported to this client from: https://github.com/kubernetes/kubernetes/blob/ca89308227abdf4f2c895118528c354c32aa3046/pkg/kubectl/cmd/drain.go#L239

This is a great starter project as the sequence of commands in the `kubectl` code are calling simple APIs. The best place for it is a new `util` package in `/kubernetes`.

Original post:

[2017-04-24 06:34] TracyBin commented on #187
[code]

[2017-04-24 06:35] TracyBin commented on #173
#187

[2017-04-24 17:04] mbohlool commented on #188
You may find your answer here: https://kubernetes.io/docs/api-reference/v1.6/

[2017-04-24 17:35] #173 closed

[2017-04-24 18:50] #182 closed

[2017-04-25 00:42] ravisantoshgudimetla commented on #161
I will try to work on this. I may need some help as I am new to the codebase but I have some experience working on upstream taints and tolerations.

[2017-04-25 02:55] s1113950 opened #194 "Can't import name `models`"
In our codebase we've got a kubernetes import, but due to what looks like a name collision it can't be imported. I've posted the relevant traceback below.

[code]

We're using kubernetes version 2.0.0.a1

[2017-04-25 11:48] vasu1124 opened #195 "feature request: auth-provider oidc"
I just injected an additional case in `kube_config.py` in function `_load_gcp_token()`
[code]
Works for me, but does not cover the refresh of the token and other features of oidc.

Would be nice to also get proper support for oidc (and not only gcp)

Thanks!

[2017-04-25 17:31] mbohlool commented on #194
Can you share more information about your setup? Other packages, python version etc. I can't reproduce this.

[2017-04-25 17:37] s1113950 commented on #194
👍 python version is 2.7.6, in our own packages we have `from package_name.models...`
Below is a `pip freeze`, excluding our private packages:
[code]

[2017-04-25 20:24] mbohlool opened #197 "urllib3 >1.20 fails kubernetes if you use configuration.assert_hostname"
Look like the new version of urlib3 fails out tests:

logs: https://travis-ci.org/kubernetes-incubator/client-python/jobs/225699267

[2017-04-25 20:24] mbohlool commented on #197
cc @dims

[2017-04-25 20:27] mbohlool commented on #197
The change is urllib3 is explained in this issue: https://github.com/shazow/urllib3/pull/1016

[2017-04-25 20:59] yuvipanda opened #199 "Passing `follow=True` to `read_namespaced_pod_log` makes it never return"
I'm trying to stream logs out of a running pod.

For a pod named 'test' running in the default namespace,

[code]

returns the logs so far. But,
[code]

just never returns. I can't use it with `watch.Watch` either since that seems to be for a very different purpose.

[2017-04-25 21:05] yuvipanda commented on #199
It looks like I can pass `_preload_content=False` and get a stream that works - however this is unituitive and doesn't seem documented in the obvious places.

[2017-04-26 08:40] jonathan-kosgei opened #201 "Support third party resources of a given Kind"
Hi,

Thanks for this! This does exactly what I need. I am however very lost on how to handle the following use case

I've created a new thirdparty resource of eg. type `database`

How do I watch the `/apis/database.k8s.com/v1/databases` endpoint to get events when a new resource of type database is created or deleted.

I understand I'd have to sub-class one of the classes to create an endpoint? ho

[2017-04-26 17:12] mbohlool commented on #201
dup #5?

Third party resources are normally not supported as they need a new code generation. We have a plan to split clients to generator and utilities so you can provide a specification for your new API group (through OpenAPI) and generate a client for it. you can do this with a little more work today. I may work on an example soon but feel free to give it a try (define an OpenAPI spec, run swag

[2017-04-26 20:52] #197 closed

[2017-04-26 22:53] mbohlool commented on #176
fixed in #178

[2017-04-26 22:53] #176 closed

[2017-04-26 22:54] #130 closed

[2017-04-26 22:56] mbohlool opened #204 "Release 2.0 Stable"
All of the issues with v2.0 milestone mark has been resolved. I've released 2.0.0b1 today and will just wait 1 week to make sure people have time to give it a try and report any problem with it. If no serious bug found, will release 2.0.0b1 as 2.0.0 stable as is.

[2017-04-27 04:09] jonathan-kosgei commented on #201
@mbohbool thanks for this, however I'm still really lost on what to do but I need this urgently for my usecase, is it possible to give me an outline of what to do? Maybe some example or reference? I'd be glad to create a PR with my work once I have something working.

Thanks.

[2017-04-27 09:28] jonathan-kosgei commented on #201
Hi @mbohlool with a bit of googling I've managed to create a simple swagger spec to list the resources and to get specific resources, I'm working on a way to manage git repositories from Kubernetes i.e. you can create repos as Kube resources and the controller creates a webhook mapped to a volume/pvc, when you git push the webhook is called a fresh pull is carried out and you can specify a post-pu

[2017-04-27 17:12] mbohlool commented on #201
I think you are almost there. You need to add a watch flag to your get/list API calls. Again I never had any experience with Third Party Resources, but I assume they acting the same as other API objects in regard to watch. When you add watch flag, and make your API/Models work (make sure API object gets our api client with config already loaded in it), use the Watch class and pass your api object.

[2017-04-27 17:56] mbohlool commented on #201
from the main swagger file, this is the parameter you need to add to your get/list calls (or just common parameters):

[code]

to answer you second question, you need to copy models and apis class to your code, and make sure import paths are correct (import our configuration, our rest client, etc. instead of old relative ones in those files). then create api objects of your class and follow the wa

[2017-04-27 23:08] brendandburns commented on #160
This is expected. Jobs only support OnFailure or Never. If you want a container to always restart, you want to use a `ReplicaSet`

[2017-04-27 23:17] brendandburns commented on #166
@lavalamp what does "Generated Examples" mean in that doc? Does that mean that you have example code for the library? or that it is generated from something?

[2017-04-27 23:37] jmalobicky commented on #160
Yes, I know that a Job should only work with OnFailure and Never. If you looks at the response by the API it is saying that I am sending **Always** and the code example shows that I am using `job_restart_policy = 'Never'`

[2017-04-28 10:00] jonathan-kosgei commented on #201
@mbohlool I've made progress, and merged my apis classes and models classes into  a fork of client-python here https://github.com/jonathan-kosgei/client-python

I'm running the following example code with the following error
[code]

[code]

I've created a special serviceaccount for this pod with a priveleged clusterrole like so
[code]

[2017-04-28 20:08] mbohlool commented on #201
Why don't you start simple with minikube ok local cluster and use
config.load_config for now.

On Apr 28, 2017 3:00 AM, "Jonathan Kosgei" <notifications@github.com> wrote:

[2017-04-29 06:06] jonathan-kosgei commented on #201
[code]
It works with load_kube_config :)

[2017-04-29 08:29] jonathan-kosgei commented on #201
Testing the token with basic requests code also works, whatever issue is with the configuration or something, check this out
[code]
The above returns successfully
[code]

[2017-04-29 13:38] jonathan-kosgei commented on #201
Got it to work :) , I hadn't set it up to pass the bearer token for the above requests, which is why it gave the user as `system:anonymous` in the error message. Will try and add abstractions so that it's reusable for other third party resources.
Thanks for all the help :)
The working code is at https://github.com/jonathan-kosgei/kubeRepo

[2017-04-29 14:18] jonathan-kosgei commented on #201
Spoke too soon..Having trouble with watching i.e. I see no output when I create/delete objects, I'm using the example on watching on a namespace object in this repos README and I'm testing the following code

[code]

[2017-04-29 22:41] mbohlool commented on #201
that watch line should be something like:

[code]

[2017-04-30 11:20] jonathan-kosgei commented on #201
Awesome it worked. Can't believe it worked :)

I made it generic https://github.com/jonathan-kosgei/kubeResource , the client there can monitor any third party resource. I can convert the paths to json, add them to the main swagger.json file and make a pull request?

[2017-04-30 13:54] dims commented on #201
@jonathan-kosgei "add them to the main swagger.json file and make a pull request" 👍 +1

[2017-04-30 18:36] mbohlool commented on #201
I don't think this should be added to main swagger file. These are third
party resources. A tutorial, however, is appreciated.

On Apr 30, 2017 6:54 AM, "Davanum Srinivas" <notifications@github.com>
wrote:

[2017-04-30 18:44] mbohlool commented on #201
@jonathan-kosgei Nice. Should we do code generation for each new third party resource as their spec is differ from each other? Also keep in mind that swagger.json file is overwritten by each version of kubernetes, so you can't just add it to the file. But I would like to understand this more as it would be a very cool feature for the client. Can you explain it, maybe, in a tutorial like document?

[2017-04-30 18:49] mbohlool commented on #201
@jonathan-kosgei OK. I spoke too soon. I see what you did there. I would love to see a pull request for this. Some notes:
- the name `apis_fqdn_v1_namespaces_namespace_resource_name_get` is not describing what it does. It does not connect it to a third party resources. You may need to think of a better name (and I know it is not as easy as renaming it)
- `swagger.json` file is automatically update

[2017-05-03 06:50] jonathan-kosgei commented on #201
The json for the watch paths is here:
https://gist.github.com/jonathan-kosgei/41a8931acc7b98ea3393f0a334ff5eae

I've looked at `process_swagger(spec)` in https://github.com/jonathan-kosgei/client-python/blob/master/scripts/preprocess_spec.py I'm thinking of injecting the paths to the downloaded file in `in_spec` in the main function, is this the best way to do this?

[code]

[2017-05-03 15:31] mbohlool commented on #201
Do the injection in its own appropriately named function and call it in process_swagger function. look at update-client.sh file too, I suggest you add a post-processing step using ged/find to rename the api call to something more readable. This is amazing. Thanks for contribution.

[2017-05-03 18:19] mbohlool commented on #5
dup of #201. closing this one.

[2017-05-03 18:19] #5 closed

[2017-05-03 18:21] mbohlool commented on #201
Instead of (or in addition to) post-processing the api name, we can also add a package under kubernetes (maybe call it `tpr` or `thirdpatryresource`) and have a wrapper convenience class to call these APIs and adding some example to use them. These does not need to be all done in one PR.

[2017-05-03 18:26] mbohlool commented on #199
Maybe we can add a `follow` method to Watch class to set "follow" flag instead of "watch" and stream out strings instead of API objects. but _preload_content need to be documented anyway.

[2017-05-03 18:27] yuvipanda commented on #199
+1 on adding it to Watch (or watch could special case this one?)

On Wed, May 3, 2017 at 11:26 AM, Mehdy Bohlool <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2017-05-03 18:47] mbohlool commented on #199
I am just looking for somebody to do this. If nobody took it and I got free time, I will do it.

[2017-05-03 18:50] mbohlool commented on #199
`Watch` class can also use `inspect.getargspec` to see if there is Watch or Follow parameter and then stream the result accordingly.

[2017-05-03 20:35] vedujoshi opened #209 "How to log client requests also"
I have enabled logging to console as shown below

kslogger = logging.getLogger('kubernetes')
console_h= logging.StreamHandler()
kslogger.addHandler(console_h)
kslogger.setLevel(logging.DEBUG)

When I run list_namespaced_pod(), I see only the response body being logged on the console.

`response body: {"kind":"PodList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/namespaces/default/pods","reso

[2017-05-03 20:41] dims commented on #209
@vedujoshi try http://urllib3.readthedocs.io/en/latest/user-guide.html#logging

[2017-05-03 21:37] mbohlool commented on #209
Look here: https://github.com/kubernetes-incubator/client-python/blob/master/kubernetes/client/configuration.py#L64

[2017-05-04 05:10] vedujoshi commented on #209
@mbohlool @dims
I had tried urllib3 debug logging earlier, but it only shows the url, but not the request body.
For ex...while creating a deployment :

2017-05-04 10:22:50,414 DEBUG https://10.204.217.194:6443 "POST /apis/apps/v1beta1/namespaces/default/deployments HTTP/1.1" 201 1002
response body: {"kind":"Deployment","apiVersion":"apps/v1beta1","metadata":{"name":"test-deployment","namespace":"d

[2017-05-04 11:09] jonathan-kosgei commented on #201
Hi @mbohlool , happy to contribute :) , I've fixed the names somewhat, hope it works and made a preliminary pull request.

On testing the `./update-client.sh` I get
[code]
I added the following to the pom.xml file and tried again but it failed with the same error
[code]

[2017-05-04 17:59] mbohlool commented on #201
ahh. The problem is we were relying on snapshot version of swagger-codgen (you needed to build it locally). I've fixed that in #213. After that merged, you should be able to update client. Let me know if that fixed your problem.

[2017-05-04 18:06] mbohlool commented on #209
I think configuration.debug and log is the way to go. We can't control what is getting logged but you can create a log stream and filter out what you don't need. Does that work for you?

[2017-05-04 19:48] vedujoshi commented on #209
Yeah..that seems like i need to do that.
It would have been nice if the kubernetes python client itself would log the request as well ..similar to kubectl verbose out below:

I0504 15:39:41.488207   27929 request.go:991] Request Body: {"apiVersion":"apps/v1beta1","kind":"Deployment","metadata":{"name":"busy-deployment","namespace":"default"},"spec":{"replicas":2,"template":{"metadata":{"labels":{"

[2017-05-06 11:14] arrkaye opened #214 "TypeError: urlopen() got multiple values for keyword argument 'body' ON patch_namespaced_deployement"
With the call "patch_namespaced_deployment('service', 'default', 'hello')" on AppsV1beta1Api()

I get the below error. Am I doing something wrong here?

[2017-05-06 11:44] riazkarim commented on #214
I get the same error when specifying the path op:

` v1.patch_namespaced_deployment(d[3], "default", {"op": "replace", "path":"/spec/template/spec/containers/0/image", "value":Url})`

[2017-05-06 15:50] mbohlool commented on #214
what is your `kubernetes` and `urllib3` version?

[2017-05-06 18:23] ivar-lazzaro commented on #124
+1.
I have several threads using the watcher to monitor different types of K8S resources, and I see their connection close every 30-35 min[0]. My application then resumes the watch but when that happens all the items for a given type are returned, which is undesirable. Not sure what is causing this 30 min timeout, the API server runs in a pod on the same host as my watchers do.

Is there a way to

[2017-05-06 21:38] mbohlool commented on #124
look at `resource_version` parameter. the returned object's metadata should also have `resource_version`. pass `resource_version` of the last received object to the new call.

[2017-05-07 16:13] arrkaye commented on #214
urllib3 (1.8.2)
kubernetes (2.0.0-snapshot)

[2017-05-07 20:54] mbohlool commented on #214
your urllib3 is old. see here: https://github.com/kubernetes-incubator/client-python/blob/master/requirements.txt

[2017-05-07 20:54] #214 closed

[2017-05-08 10:08] jonathan-kosgei commented on #201
Hi @mbohlool I've added put/delete and create https://github.com/jonathan-kosgei/kubeResource

[2017-05-09 00:07] ivar-lazzaro commented on #124
Thanks for the answer.
I'm not sure how to use resource_version without doing a full list for that object type first. When the streaming process is just started it makes sense, but I want to avoid a full list call every time the connection breaks. When I get an event from the watch.stream function I get something like this:

The only resourceVersion I see here is the one concerning the specific k8

[2017-05-09 00:40] mbohlool commented on #124
you are watching a `namespace`, right? I wonder why you got `raw_object` not `object`. Can you share the piece of code that calls into Watch class?

anyway, you can get `resourceVersion` from raw object too. every time you get an event, store event['raw_object']['metadata']['resourceVersion'] into a variable (let say `lastSeenVersion`) and when you want to reconnect, pass it like this `w.stream(v1

[2017-05-11 19:57] gtaylor commented on #204
How are we looking?

[2017-05-11 20:00] gtaylor commented on #119
I think `kubernetes` is fine. This is commonly done with API clients.

[2017-05-11 20:44] mbohlool commented on #119
I personally think `kubernetes` is fine too. But anyway, we can't easily change that as it breaks backward compatibility. closing this.

[2017-05-11 20:44] #119 closed

[2017-05-11 20:45] mbohlool commented on #204
I forgot to close the issue, sorry. The release is done. Let me know if you have any problem with it.

[2017-05-11 20:45] #204 closed

[2017-05-16 17:04] agsergi opened #217 "SSLError Certificate verify failed (not the one about hostnames)"
Once I setup the kubernetes cluster with kubeadm init, I can access the API using the CA cert generated by kubeadm with no problem at all:

[code]

However, when doing so with the python client I get an SSL error
[code]

[code]
The above won't work with python nor python3, and I've already run requirements.txt and setup.py with no luck.

The same script does work if I setup the API without TLS, by

[2017-05-17 00:26] mbohlool commented on #217
Where did you load config (or set configs) in your python client? You did not share that part of the code. Best practice is to add the config to `~/.kube/config` file (test it with `kubectl` and make sure it works) and then use config.load_kube_config() method to load it from there.

[2017-05-17 09:56] agsergi commented on #217
You're right. I found this line of code somewhere `kubernetes.client.Configuration().host="https://$MYIP:6443"` and I thought that would do.

Using your method with `config.load_kube_config()` works perfectly.
Thank you very much.

[2017-05-17 09:56] #217 closed

[2017-05-17 16:58] mbohlool opened #219 "Fix generated examples"
Generated examples refer the wrong way to load configs and setup client and this will result in confusions such as #217. Fix the generated examples at the source.

[2017-05-18 04:26] pvdvreede opened #220 "import collections error on kubernetes import"
Hi there,

I am using python 3.5.1 with kubernetes 2.0.0 and the second I run my script it errors when it tries to import kubernetes with the following error:

[code]

I understand this is an issue where some package may have a `collections.py` when it is trying to use the standard library, but I have a single `operator.py` file in my folder and no collections stuff anywhere.

Am I doing something

[2017-05-18 04:33] pvdvreede commented on #220
This was due to my filename being operator.py, i assume there was another import from the std lib calling that name.

[2017-05-18 04:33] #220 closed

[2017-05-18 07:37] #201 closed

[2017-05-20 16:55] mbohlool opened #225 "Explore the possibility of type hinting"
Python 3 has a type hinting feature very useful for auto complete. This issue is for tracking efforts on researching its backward compatibility with python 2 (`from __future__ import import annotations`?) and if possible, change code generator to implement it. Best if we contribute it back to swagger-codegen.

[2017-05-21 22:29] yuvipanda opened #226 "Use a threadpool for async requests"
Currently, a new thread is created for each HTTP request. Would be nicer to have the option of using a ThreadPool with a ThreadPoolExecutor instead.

We can already wrap this ourselves when using, but would be nice to do this in the library itself so async usage is cleaner

[2017-05-21 23:30] dims commented on #226
@yuvipanda : we are using urllib3.PoolManager, please see https://github.com/kubernetes-client/python-base/blob/7c8e59b58d9a769f1ca3f818aa91c8a6538b51b1/rest.py#L110

[2017-05-22 02:14] yuvipanda commented on #226
Aaah, whoops! Didn't notice that - it was doing Thread() last time I looked (was a while ago!). Thanks :)

[2017-05-22 02:46] pvdvreede opened #227 "Authentication issue for new list third party resource endpoint"
Hi @mbohlool I am trying the new tpr resources endpoints and it seems to work fine if I am outside a cluster, but when I run it in a cluster it appears that my call to `list_third_party_resource` is getting a 401 as there is no auth passed with the request. This is in contrast to the `replace_third_party_resource` call which seems to work fine.

I did notice that here: https://github.com/kubernete

[2017-05-22 04:45] codevulture opened #228 "Description shows only License should contain information about package"
Help on package kubernetes:

NAME
  kubernetes

FILE
  /usr/local/lib/python2.7/dist-packages/kubernetes/__init__.py

DESCRIPTION
    # Copyright 2016 The Kubernetes Authors.
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #     http://www.apach

[2017-05-22 04:49] codevulture opened #229 "Directory Listing should not include tests in production, shown in help"
dir(kubernetes.config)
['ConfigException', '__builtins__', '__doc__', '__file__', '__name__', '__package__', '__path__', 'config_exception', 'incluster_config', 'kube_config', 'list_kube_config_contexts', 'load_incluster_config', 'load_kube_config', 'new_client_from_config']

 help(kubernetes.config)
Help on package kubernetes.config in kubernetes:

NAME
    kubernetes.config

FILE
    /usr/local/

[2017-05-22 06:02] mbohlool commented on #227
It is a bug in the original tpr spec. I've fixed it in #230. Please review it.

[2017-05-22 06:11] mbohlool commented on #229
`incluster_config_test` and `kube_config_test` should definitely be excluded from final package.

[2017-05-22 06:24] codevulture opened #231 "[Query] Code Consistent Check"
Query1)
It would be consistent if :
https://github.com/kubernetes-client/python-base/blob/7c8e59b58d9a769f1ca3f818aa91c8a6538b51b1/config/incluster_config.py#L73-L77

would be implemented similar to :
https://github.com/kubernetes-client/python-base/blob/7c8e59b58d9a769f1ca3f818aa91c8a6538b51b1/config/incluster_config.py#L65

Is there any specific reason for the same?

Query2)
https://github.com/k

[2017-05-22 07:54] mbohlool commented on #231
For 2) we followed golang's implementation here: https://golang.org/pkg/net/#JoinHostPort
To the actual reason it is '%' too, somebody should dig more.

[2017-05-22 10:39] codevulture opened #232 "Looping Symlinks"
For tracking purpose logging an issue.
There 2 recursive links:

~/client-python/kubernetes$ ll watch
lrwxrwxrwx 1 ubuntu ubuntu 10 May 18 08:25 watch -> base/watch/
~/client-python/kubernetes$ ll base/watch/
lrwxrwxrwx 1 ubuntu ubuntu  5 May 18 08:25 watch -> watch

[Lopping Symlinks](https://github.com/kubernetes-client/python-base/commit/3b44c3b6a98b1f04dfcfee63e46f959858c350df) patch closes th

[2017-05-22 21:43] nhumrich opened #233 "The kubeconfig loader should run refresh command to update token when it is expired"
I am using google container engine, and trying to use this to access the k8s api. Trying to follow the example on the readme
[code]

which gives me the following error:
[code]

If I add the GOOGLE_APPLICATION_CREDENTIALS env-var and download a google json credential file, I then get a generic 401.
[code]

If I try to add an api key (`client.configuration.api_key['authorization'] = 'AbX.....SYh'` I

[2017-05-23 05:48] jonathan-kosgei commented on #233
Hi Nick, seems you're trying to use gcloud credentials to auth to the Kubernetes cluster. The two are very different, instead of using a gce serviceaccount as the credential source in load_config you need to use your kube config file. If you can run kubectl commands locally then you have one under  ~/.kube/config

---- On Tue, 23 May 2017 00:43:06 +0300 notifications@github.com wrote ----

I am us

[2017-05-23 20:54] nhumrich commented on #233
I tried doing that which is the first option. I also tried passing in the config file location, but that doesnt change anything, as that is the default anyways.

[2017-05-24 03:57] mbohlool commented on #233
Does `kubectl` works? if yes, can you provide content of `~/.kube/config` file (remove any key/token/etc. from the file, only "current context" should be enough. e.g. if your current-context is "x" provide user "x" and cluster "x".

[2017-05-24 19:50] nhumrich commented on #233
Here is my kube config file
[code]

[2017-05-24 21:39] thomaswtsang opened #234 "Deleting job with delete_namespaced_job() does not delete pods"
When deleting a job with `BatchV1Api.delete_namespaced_job`, the job resource is deleted, but the pod(s) remain.

From this [documentation](https://github.com/kubernetes-incubator/client-python/blob/master/kubernetes/docs/BatchV1Api.md#delete_namespaced_job), my assumption was to try `Ophaned`, `Background`, or `Foreground` as the `propagation_policy`, but none of them did anything to the pod afte

[2017-05-25 17:04] mbohlool commented on #234
is `kubectl` works for the same operation as you expected?

[2017-05-25 17:05] #227 closed

[2017-05-25 17:12] thomaswtsang commented on #234
@mbohlool yes it does

[2017-05-25 18:20] mbohlool commented on #234
can you run `kubectl` with `-v 9` and paste a working example here? What I am interested in is which API it calls and if we can do the same API calls with the python client.

[2017-05-25 20:51] thomaswtsang commented on #234
@mbohlool https://pastebin.com/qgiGhFXK

[2017-05-25 21:09] mbohlool commented on #234
From the logs you pasted it look like `kubectl` is doing it manually. It deletes the pod first:

[code]

and then deletes the job:

[code]

python client does not add any logic on top of the kubernetes API server so if kubectl is doing it that way, you should do the same in your client.

[2017-05-25 21:09] #234 closed

[2017-05-25 21:21] thomaswtsang commented on #234
ah okay, I was operating under a faulty assumption then. Would you kindly provide an example for `propagation_policy`? My assumption was that the policy would tell the garbage collector how to clean up the pods.

[2017-05-25 22:31] mbohlool commented on #234
I think I know what the problem is. By loking at your code, you are passing the parameter as query parameter and most probably hitting this bug in API server: https://github.com/kubernetes/kubernetes/issues/43329

Try encoding the parameter in the body (set it in V1DeleteOptions).

[2017-05-26 03:23] codevulture opened #235 "[Query] Support for Generic Client Exception Type"
Currently Config Exception class is implemented like:
[code]

Can there be a class for Generic Client Exception as well, maybe something like:
[code]

[2017-05-26 11:33] sidd14491 opened #236 "kubernetes.config.config_exception.ConfigException: Invalid kube-config file. Expected key users in kube-config"
After installing Kubernets package used the script to list of all pods.
But After running the script I am observing following error.
  File "1.py", line 4, in <module>
    config.load_kube_config()
  File "build/bdist.linux-x86_64/egg/kubernetes/config/kube_config.py", line 311, in load_kube_config
  File "build/bdist.linux-x86_64/egg/kubernetes/config/kube_config.py", line 282, in _get_kube_confi

[2017-05-26 18:04] mbohlool commented on #236
does `kubectl` works? can you share redacted kube config file content at `~/.kube/config`?

[2017-05-27 09:48] sidd14491 commented on #236
apiVersion: v1
clusters:
- cluster:
    server: http://10.213.18.39:8080
  name: test
contexts:
- context:
    cluster: test
    user: test
  name: test
Yes Kubectl command is working fine
Below the o/p of command
root@csp-central-ms-vm1839:~/REQUESTS# kubectl get pods
NAME                                          READY     STATUS             RESTARTS   AGE
csp.admin-portal-ui-346402271-qnuw8

[2017-05-28 04:25] madhavmalhotra3089 commented on #155
Still failing on a windows, with python version2.x

[2017-05-28 06:07] madhavmalhotra3089 commented on #36
Still not working for python 2.x windows 10

[2017-05-28 16:09] mbohlool commented on #36
https://github.com/kubernetes-incubator/client-python/blob/master/README.md#hostname-doesnt-match

[2017-05-28 20:12] madhavmalhotra3089 commented on #36
Hey

Thanks
On Sun, May 28, 2017 at 9:10 AM Mehdy Bohlool <notifications@github.com>
wrote:

--
Madhav Malhotra
Graduate Student
University of Victoria
Canada +1-778-922-5630

[2017-05-29 07:13] codevulture opened #237 "[Feature Request] Implement a Config Loader"
Current Implementation Of Client loads configuration from yaml File:

Following function loads yaml and do the processing.

`_get_kube_config_loader_for_yaml_file`

There are many cases and projects where Configurations are present in different options like ini file which needs to be loaded where creating a ConfigurationObject and assigning parameters is one way.It could save a lot of code if gene

[2017-06-01 06:01] codevulture commented on #237
Thanks, I will be posting the structure to discuss shortly.

[2017-06-05 08:04] flavio opened #240 "Cannot change node labels"
I'm trying to change the node labels using the [patch_node](https://github.com/kubernetes-incubator/client-python/blob/master/kubernetes/docs/CoreV1Api.md#patch_node) function but I'm failing a similar way to issue https://github.com/kubernetes-incubator/client-python/issues/187.

This is the code I'm using to add a new label to the node named `minikube`:

[code]
The API server returns with a 200

[2017-06-05 08:09] stibi commented on #127
Hello, maybe I should create a new issue, I can do that later and now I'll ask here: I have some code done using client-python, we are running a WP hosting on Kubernetes  and client-python is used to deploy a WP site using AWS Lambda.

I can contribute a notebook for WP deployment on k8s…kind of "hello world" app in the docker world I'd say :) Does it sound helpful, or do you have something more b

[2017-06-05 09:26] #136 closed

[2017-06-05 10:49] pokoli commented on #236
I uploaded a PR that should fix this issue, could you test please?

[2017-06-05 10:52] pokoli commented on #232
AFAIU this issue can be closes as the looping symlinks is commited. Am I missing something?

[2017-06-05 11:06] pokoli opened #241 "Unable to use with minikube"
I have setup a kubernetes cluster on my machine using [minikube](https://github.com/kubernetes/minikube) but when I try to run the python client to this cluster I get the following exception:

[code]

I've added an entry to my /etc/hosts files to name the 192.168.99.100 ip to kuberentes, so I can access it using the kubernetes hostname:

[code]

Using kubeclt works as expected:

[code]

[2017-06-05 11:19] pokoli commented on #241
After reading some examples I just discovered that I can make it work with disabling assert_hotname in examples folder. The following patch solved it:
[code]

I'm wondering if we should add this as default for examples in order to make then also work on testing environments. If so, I will submit a PR

[2017-06-05 13:05] pokoli commented on #229
I'm wondering if it will be better to create a tests package that include all the tests cases there and don't include this package in the released version.

[2017-06-05 14:13] codevulture commented on #229
@mbohlool :+1:

[2017-06-05 16:03] mbohlool commented on #241
`minikube` works for me. I wonder if you have all requirements.txt packages fulfilled. Before your PR for merging setup.py's REQUIRED and requirements.txt, it was possible to not met the versioning requirement if you install the package with pip. check this: https://github.com/kubernetes-incubator/client-python#hostname-doesnt-match

[2017-06-05 16:06] #232 closed

[2017-06-05 16:18] mbohlool opened #243 "Move this repo to kubernetes-client org"
As part of [client-structure](https://github.com/kubernetes-client/community/blob/master/design-docs/clients-library-structure.md) we need to move this repo to kubernetes-client org. I assume all references will be kept if we move it right but need to do some experiments to make sure. Let me know if you have any opinion on this.

[2017-06-05 16:23] mbohlool commented on #236
I commented on your (merged) PR. I think it is in the right direction but needs more fixes. It may fix @sidd14491 issue (sidd14491 can you confirm?) but need to fix this for all cases where user is missing.

[2017-06-06 04:20] sidd14491 commented on #236
For verification which build I need to take.
Can you mention the build location from where I'll take the fixed version and tested my scenario..
Thanks.
Siddharth

[2017-06-06 07:47] pokoli commented on #236
You have to install the latest version from sources. The following commands will do:

[code]

Then you can execute an example script with your client config. The following command will load the default context of your kube.cfg:

`python -m examples.example1`

[2017-06-06 07:57] pokoli commented on #241
Yes, that was the issue. Solved installing the requeriments versions.

Thanks you.

[2017-06-06 07:57] #241 closed

[2017-06-06 08:23] pokoli commented on #236
@mbohlool before closing this PR I think that we must update the git submodule to a revision that includes all the fixes. What do you think?

[2017-06-06 16:59] mbohlool commented on #236
Definitely. Go for it.

On Jun 6, 2017 1:23 AM, "Sergi Almacellas Abellana" <
notifications@github.com> wrote:

[2017-06-06 21:04] foklepoint opened #246 "Hostname with api in name broken for`websocket_call`"
Currently `websocket_call` does [some hackery](https://github.com/kubernetes-incubator/client-python/blob/master/kubernetes/client/ws_client.py#L211-L216) to generate the websocket URL:
[code]

Websocket calls are broken when the URL includes the string `'api'` in the hostname. For example:`api.k8s.staging.mydomain.com` will result in the following error:
[code]

A good solution would be to have p

[2017-06-07 08:33] pokoli commented on #236
I'm waiting for kubernetes-client/python-base#5 to be merged before updating submodules.

For now we should keep the issue open. Can you reopen please?

[2017-06-07 08:36] pokoli commented on #246
@foklepoint could you add some examples for urls that are not correctly parsed now, and which must be the expected behaviour?

Thanks

[2017-06-07 09:07] pokoli commented on #246
I just added a PR, that fixes it. Could you test it please?

[2017-06-07 12:09] pokoli commented on #166
Sorry if it's too obious, but does proto mean using this library: https://github.com/google/protobuf/tree/master/python ?

[2017-06-07 12:11] pokoli commented on #188
I think we have nothing to do with this issue, do we? Can we close it?

[2017-06-07 12:25] sebgoa commented on #127
@stibi that would be great. The goal is to create a set of notebooks that people can walk through to do basic operations in k8s. The notebooks should not only contain the code, but also a bit of markdown to explain the steps.

In addition to the above, things like:

* create a daemonset, configmap, secret, ingress
* label pods and other resources (equivalent of `kubectl label`)
* annotate resource

[2017-06-08 06:34] mbohlool commented on #166
I looked briefly. The library needs protoc to be installed using other
means than pip. If prefer other python only solutions but if that is only
option, we should take it. Basically we want to be able to talk proto with
api server instead of json. That could include using generated proto
messages in k8s main repo. This needs some investigation before
implementation.

On Jun 7, 2017 5:09 AM, "Sergi

[2017-06-08 13:11] abhi-paul opened #248 "How to make kubernetes scale up/down of statefulset pod?"
How to make kubernetes scale up/down of statefulset pod, which client-python api calls needs to be use.

[2017-06-09 19:52] foklepoint commented on #246
Sure, I'll test it this weekend

[2017-06-09 20:27] #236 closed

[2017-06-09 22:25] mbohlool commented on #243
I am going to do the move early next week. I did some tests and all existing URLs should just redirect to the new one and everything should work with no change. I will move the repo to kubernetes-client and name it just "python". The new path would be https://github.com/kubernetes-client/python.

[2017-06-10 00:18] mbohlool opened #251 "Migrate ThirdPartyResources to CustomResourceDefinitions"
Custom Resource Definitions (CRDs) are successor of TPRs. We should add support for those in next version of kubernetes.

- Feature issue: https://github.com/kubernetes/features/issues/95
- Design proposal: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/thirdpartyresources.md
- CRD documentation: https://github.com/kubernetes/kubernetes.github.io/blob/release-1.7

[2017-06-12 04:52] codevulture commented on #240
@flavio :
I am not sure but this might be helpful to debug, According to flow:
1.

           `def patch_node_with_http_info`
           `header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json-patch+json', 'application/merge-patch+json',   'application/strategic-merge-patch+json'])`

2)
It selects first one:

3)

What if we specify **Header** in

[2017-06-12 08:20] codevulture opened #252 "[Examples] Incorrect Module Reference"
[client-python/examples/create_thirdparty_resource.md](https://github.com/kubernetes-incubator/client-python/blob/dab09e0e92ee025a2ff9a43d406b20c234525ac9/examples/create_thirdparty_resource.md#L10)
Shows:
`from kubernetes.rest import ApiException`
should be
` from kubernetes.client.rest import ApiException`
Kindly check.

[2017-06-12 09:41] abhi-paul commented on #248
found the answer using `patch_namespaced_stateful_set` & `patch_namespaced_stateful_set_status` api, need to pass body1 = {"spec":{"replicas":no.of replica}}, hence closing

[2017-06-12 09:41] #248 closed

[2017-06-12 09:45] abhi-paul opened #253 "connect_get_namespaced_pod_exec() how to pass curl command?"
@mbohlool how to pass curl command as argument of `connect_get_namespaced_pod_exec()`, i am able run 'ls' command but not curl command, i fell doing mistake with single or double quotes while passing curl command, trying following curl command
exec_cmd = "curl localhost:9200/_cat/master?v&pretty"

[2017-06-12 12:42] rafitadiaz commented on #233
+1 On this one. We are having the same problem. `kubectl` is working fine, but we get the 401 when using the library. And our config file look like this one above.

Anyone can send an example of how to do it properly or is it impossible make it works with GKE clusters?

[2017-06-12 13:44] djkonro commented on #162
@vascofg ,Please I tried the function call below, but I was still unable to archive cascading deletion. Can you help me understand what I am not doing right?

`extensions.delete_namespaced_deployment(name='nginx-deployment', namespace='default', body=client.V1DeleteOptions(),grace_period_seconds = 56, propagation_policy = \"Background\")`

[2017-06-12 15:24] mbohlool commented on #233
The kubeconfig loader should run refresh command to update token when it is expired. To solve this, we can find the corresponding code in go client (which kubectl uses) and port it to python. Added it to milestone to make sure it will be looked at for the next release.

[2017-06-12 17:32] zweizeichen commented on #233
Just ran into this issue myself. You can use this dirty hack to get auth on GKE in the meantime. Please note that the token retrieved will expire within a rather short timeframe. **This should not be used in production**.

In `kube_config.py` add these imports:

[code]

modify `KubeConfigLoader`'s `__init__` method like this:

[code]

and add the following method to the class:

[code]

Done!

[2017-06-12 17:44] nhumrich commented on #233
I was able to work around this issue by creating a serviceaccount in kubernetes.

I then ran `kubectl describe serviceaccount myserviceaccount` and that will give you a secret name, then use that secret name to run: `kubectl describe secrets [secret-name]` and then cope the `token` field. One you have the token field, all you need to do is set the api token in the client:

[code]

This worked grea

[2017-06-12 17:53] zweizeichen commented on #233
Hah I'm using the API to set up the service accounts - so it is a kind of chicken and egg problem. Of course using a service account is the preferred and more durable solution.

[2017-06-13 03:19] mbohlool commented on #253
What do you get when you pass this `exec_cmd`?  Does your container has curl command? (confirm it with kubectl). Would be helpful if you share the code.

[2017-06-13 03:22] vascofg commented on #162
Check this, there's a bug with background deletion of deployments:
https://github.com/kubernetes/kubernetes/issues/44046
Use foreground for now.

On Jun 12, 2017 14:44, "Konrad Djimeli" <notifications@github.com> wrote:

[2017-06-13 04:46] abhi-paul commented on #253
@mbohlool  thanks for the reply, `exec_cmd = ['/bin/curl', 'localhost:<port>/_cat/indices?pretty']` with this now I am able to execute, but when pass with another argument like `exec_cmd = ['/bin/curl', 'localhost:9200/_cat/indices?pretty', '2>/dev/null']` but with this command it's throwing error ```
curl: (6) Could not resolve host: 2>; Unknown error
command terminated with non-zero exit code: E

[2017-06-13 05:46] mbohlool commented on #253
Instead of last argument just tell exec to not return stderr by param
`stderr=false`

On Jun 12, 2017 9:46 PM, "Abhijit" <notifications@github.com> wrote:

[2017-06-13 06:05] abhi-paul commented on #253
@mbohlool
[code]

I wants to suppress the metering output that I am getting from curl command and due to this I am passing this third argument (2>/dev/null) and just only grab the response, stderr i already set to false. Below is the metering part.

[code]

[2017-06-13 13:02] djkonro commented on #162
@vascofg, I have also tried `Foreground` but it still deletes only the deployment and not it dependents.

[2017-06-13 13:29] vascofg commented on #162
I think your error is when creating DeleteOptions, try passing parameters to the object constructor, mine looks like this:
[code]

Hope it helps

[2017-06-13 14:03] djkonro commented on #162
I have tried `extensions.delete_namespaced_deployment(name='nginx-deployment', namespace='default', body=client.V1DeleteOptions(propagation_policy="Foreground", grace_period_seconds=5))`, but I am still getting the same result (pods are not deleted). Thanks alot for the help.

[2017-06-13 14:37] vascofg commented on #162
Is the replicaset being deleted?

On Jun 13, 2017 15:03, "Konrad Djimeli" <notifications@github.com> wrote:

[2017-06-13 15:14] nhumrich commented on #233
@zweizeichen you could always use kubectl to create a single serviceaccount, then go from there.

[2017-06-13 16:38] djkonro commented on #162
No, the replicaset not deleted.

[2017-06-13 17:29] vascofg commented on #162
What version of Kubernetes are you running? This feature is only supported
since 1.6.0

On Jun 13, 2017 17:38, "Konrad Djimeli" <notifications@github.com> wrote:

No, the replicaset not deleted.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/kubernetes-incubator/client-python/issues/162#issuecomment-308175921>,
or mute the

[2017-06-13 18:17] djkonro commented on #162
@vascofg, Thanks very much, I just updated my version for Kubernetes and it now works fine.

[2017-06-13 23:49] mbohlool commented on #252
Yes, all examples need to be updated. We should update example's template (and probably documentation templates) to match our client structure.

[2017-06-14 19:51] sutasu opened #254 "No access to API server from pod in python"
Trying to access api service from the pod in python:
[code]

results in following error:

[code]

For some reason `HTTPSConnectionPool` is trying to access `localhost` instead of API server, though API url in kubernetes configuration seems to be correct:

[code]

At the same time curl is working perfectly well:
`curl -v --cacert /var/run/secrets/kubernetes.io/serviceaccount/ca.crt -H "Authorizatio

[2017-06-14 20:46] sutasu commented on #254
Probably the sequence of the command has to be reversed:
[code]
Still getting following:
[code]

[2017-06-14 22:50] mbohlool commented on #254
Check https://github.com/kubernetes-incubator/client-python#hostname-doesnt-match

(btw, this was a bug in 2.0 that requirements are not all getting installed with the version we expected. should be fixed in 3.0)

[2017-06-14 23:15] mbohlool opened #255 "Load in cluster config by default"
Currently we have two method in config module to load config. One from kube config and the other from in-cluster configs. Either add in-cluster config load to load kube config or add a new method (maybe call it `load_config` or `load` for short) that tries in-cluster first and then kube-config.

[2017-06-14 23:18] mbohlool commented on #187
I think this is fixed? please re-open if it is not fixed.

[2017-06-14 23:18] #187 closed

[2017-06-14 23:20] mbohlool commented on #40
I think we are fine with current model of merge. Closing this.

[2017-06-14 23:20] #40 closed

[2017-06-14 23:21] mbohlool commented on #117
`UnversionedPatch` is now object (fixed in preprocessing step). Thus it is not referenced anymore.

[2017-06-14 23:22] #117 closed

[2017-06-14 23:25] mbohlool commented on #157
TPR support is added #5

[2017-06-14 23:25] #157 closed

[2017-06-15 04:40] codevulture commented on #255
@mbohlool : Looks good to me, Just a small questions: Would the differentiation be done on the basis of whether config file is present or not?

[2017-06-15 08:41] #246 closed

[2017-06-15 08:58] mbohlool commented on #255
That is a good question. I think it should be on success of loading config not existance of the files only. If loading in-cluster config raised an exception, we can try kube-config. However, I don't have strong opinion on this.

[2017-06-15 09:17] pokoli commented on #255
I think we should create a new function, which will try first in-cluster and the kube-config and document this order.

For people that do not want to rely on default settings they can use the current existing functions.

@mbohlool I imagine you plan to update all the examples to use this new load method, don't you?

[2017-06-15 12:59] ebbeelsborg opened #256 "Bug in ThirdPartyResourcesApi (hardcoded resource path)"
This project is awesome and I was delighted to see #216 get merged.

There is a bug when constructing the resource paths, however: For instance, in the class ThirdPartyResourcesApi, on line 126 (+/-):

resource_path = '/apis/{fqdn}/v1/namespaces/{namespace}/{resource}'.replace('{format}', 'json')

This does not work for third-party resources which are not of version 'v1' exactly. So, for example,

[2017-06-15 17:54] jkinkead commented on #255
I'd love to see this as part of the API. I implemented a version of this already; I'm happy to put this into a PR if you like:

[code]

[2017-06-15 18:24] mbohlool commented on #255
@jkinkead We already have an in cluster config loader. The goal of this issue is to merge the experience of load in-cluster config and kube config (we have both separately).

@pokoli Yes, I will work on examples soon.

[2017-06-15 18:27] mbohlool commented on #256
The definition is in https://github.com/kubernetes-incubator/client-python/blob/master/scripts/thirdpartypaths.json

If you are up to it, just edit it and run update-client (I suggest run it before change to make sure it is only your changes in that generation).

[2017-06-15 19:05] jkinkead commented on #255
Awesome. Where is the in-cluster loader? I'd love to not have to reimplement this.

[2017-06-15 21:01] mbohlool commented on #256
[code]

[2017-06-15 21:03] mbohlool commented on #255
[code]
Somebody should add an example for this in examples/ folder.

[2017-06-16 04:35] barnettZQG opened #257 "find a bug about readiness_probe port type error"
error:
[code]
code:
[code]
bug reason:
[code]
Is printed above the get rc entities, including readiness_probe port field from json python entity type is not correct.[0-9] should be converted to type int, [a-z] should be converted to character.

[2017-06-16 05:50] sidd14491 commented on #236
Hi,
 I have one query,
Is there any rest-api in kubernetes to upgrade the container build with
specific on.
Suppose that I want to upgrade from 212 to 214, but I want pass the 214 as
a argument in rest call with specific pods

BR/
Siddharth

On Fri, May 26, 2017 at 11:34 PM, Mehdy Bohlool <notifications@github.com>
wrote:

[2017-06-16 07:11] pokoli commented on #236
@sidd14491 I don't see how your question is related to the current thread. Can you open a new issue please?

[2017-06-16 07:40] mbohlool commented on #257
change to `... 'port': 80,...` instead of `...'port': '80',...`

[2017-06-16 07:40] #257 closed

[2017-06-16 08:22] sidd14491 commented on #236
Hi
 It's not related to current bug I am just asking you query is there any to
do that ?

BR?
Siddharth

On Fri, Jun 16, 2017 at 12:41 PM, Sergi Almacellas Abellana <
notifications@github.com> wrote:

[2017-06-16 08:32] pokoli commented on #236
So please open a new issue for different questions....

[2017-06-16 14:05] sutasu commented on #254
Still the same behavior with following packages which seem to satisfy version requirements:

certifi==2017.4.17
six==1.10.0
python-dateutil==2.6.0
setuptools-21.0.0
urllib3==1.20
PyYAML==3.12
oauth2client==4.1.1
ipaddress==1.0.18
websocket-client==0.40.0

[2017-06-16 16:27] mbohlool commented on #254
Interesting. What is your python version? Also is it standard python distribution or something like anaconda?

[2017-06-18 12:09] codevulture opened #258 "Travis Check Errors, Running e2e tests in unittests"
`Problem Description`:

- Travis jobs check for Various checks on Various Python Venv, But it is running  E2E tests on every tests(py27,py34 etc) which should run in case of functional tests only(py27-functional etc) which raises Warning logs in the CI/CD Logs.

- No Debug Logs [python-base](https://travis-ci.org/kubernetes-client/python-base/jobs/242341862)

`Warnings Raised in`:

[kubernetes-cli

[2017-06-19 03:56] codevulture commented on #237
Please find a draft version for implementation detail:

- An Example is worth a thousand words:
Sample file of a project using kubernetes having a section to declare parameters in it's local conf:
`Project.conf`

- Assumption:
Configuration File have to follow convention of parameters name in order to be loaded.

- Proposal:
So instead of Making a [Configuration Object](https://github.com/kubernet

[2017-06-20 10:53] jonastl opened #262 "SSL Verification error when trying to stream logs from pod"
The following snippet when run in a cluster pod generates the error: `[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:645)`

[code]

Installed packages:
[code]

[2017-06-20 14:19] barnettZQG commented on #257
@mbohlool I know change to` '80'` to `80`, but get the port  from 'get rc' method show port is `‘port’`.

[2017-06-21 00:48] yuvipanda commented on #226
I'm actually curious about https://github.com/kubernetes-incubator/client-python/blob/f399ece006d43970a9d25052798782db1407fd05/kubernetes/client/api_client.py#L331 - which starts an entirely new thread for each request still. This is a thread pool, unrelated to the urllib3 connection pool...

[2017-06-21 01:56] mbohlool commented on #237
Thanks for providing the example. The part I am not clear on yet is if we save much code by generalizing config. Also the example is an ini file, what about the new code structure? What do you want to generalize?

[2017-06-21 02:08] mbohlool commented on #257
We should properly support `IntOrString`. Re-opening #18 for following up on that.

As a workaround, you can convert the port to integer if it is possible to convert it.

[2017-06-21 02:10] mbohlool commented on #18
We need a proper fix for IntOrString. assuming it is string is not working because if the server returns an object that has an integer in an IntOrString field, we convert it to string and if we modify object and send it back to server, we get validation error.

[2017-06-21 02:11] mbohlool commented on #257
BTW, try to use `patch` instead of `put`. Many things could go wrong if you use put for patching a resource.

[2017-06-21 02:14] barnettZQG commented on #257
@mbohlool yeah,thank you.

[2017-06-21 04:47] codevulture commented on #237
@mbohlool :

- If this was a case of single project there might not be a need to load params from ini, but taking the case of various projects doing the same thing might need some consideration. [Sample]( https://review.openstack.org/475893)

- Code Structure would look something like:

[code]
and similar to _get_kube_config_loader_for_yaml_file:
[code]

OR

maybe use a generic loader like:
[code]

[2017-06-21 06:38] DjangoPeng commented on #254
@mbohlool Same issue on Python 2.7 with Anaconda 4.2.0. My kubernetes version is 1.6.5 and I can't even load the incluster config.
[code]
If I load kube config, it doesn't work either.
[code]

[2017-06-21 06:45] mbohlool commented on #254
Anaconda is not supported yet. Have you tried it on standard distribution?

[2017-06-21 09:41] mbohlool opened #266 "Add contribution 101"
Add a contribution document explain the structure of the repo and best practices to start developing. Topics includes (but not limited to):

- What is generated, semi-generated, and manual
- What is base repo and how it is related to this repo
- How to update generated client
- What should be fixed in preprocessing script and what should be an upstream fix
- What should be commit and how many comm

[2017-06-21 18:26] jonastl commented on #262
In fact, the error happens when run outside a pod as well, so it's a generic problem.

[2017-06-21 18:43] jonastl commented on #255
Would be nice since this is just accidental complexity for the normal case, and for all _our_ kube python projects.

People don't develop and run initial tests in a pod. Running the code however in prod, or doing SIT happens mostly in pods for us, so we're forced to use the try-except _boilerplate_.

[2017-06-22 00:13] DjangoPeng commented on #254
I tried to add ` --insecure-skip-tls-verify=true` flag for kubernetes cluster, and it can avoid the error. I don't know why the client is not supported anaconda. Is there a gap between anaconda and standard distribution?

[2017-06-22 08:29] flavio commented on #240
After playing a bit with the source code of this project I realized that using `application/strategic-merge-patch+json` didn't make my initial code work. So I fired up `tcpdump` and I took a closer look at what `kubectl` does.

It turns out it's already possible to manage the labels of a node without doing any changes to this project.
It's only a matter of the `body` of the request.

The following

[2017-06-22 08:36] ebbeelsborg commented on #266
Perhaps also some guidelines on how and when one should write different types of tests (unit, integration, e2e...)?

[2017-06-22 17:54] mbohlool commented on #266
That is a good idea. I can start something and then we can all contribute to it.

[2017-06-22 17:56] #256 closed

[2017-06-22 20:47] mbohlool commented on #240
worth adding this as an example. would you mind sending a PR for that? Also we need better implementation for patch (specially setting path strategy). A new issue for that (if we don't have one) is welcome.

[2017-06-22 20:51] mbohlool commented on #254
#165

[2017-06-23 06:34] DjangoPeng commented on #254
@mbohlool Got, Thanks!

[2017-06-23 07:49] m4ttshaw opened #269 "ReplicaSet Scaling in a huge cluster"
As I can see in #248 the scaling operation is done using `patch_namespaced_<controller_name>`. In my specific case, It works well with few pods/node. Conversely, with more nodes (100nodes) and 30 pods per node (3000 pods in total), the command is completely ignored. Do you have any idea why it happens?

My code:
`patch={"spec":{"replicas": 0}}    ext.patch_namespaced_replica_set(name=bconfig.defau

[2017-06-23 09:24] m4ttshaw commented on #269
Ok, I solve this issue.
You have to pay attention when you try to scaling and deleting a ReplicaSet or in general, a Controller. You should wait always the pods termination (after the scaling operation) before deleting the own controller, otherwise some pods stay in running state.

[2017-06-23 09:24] #269 closed

[2017-06-23 16:46] #254 closed

[2017-06-26 08:35] vectar31 opened #271 "Can't delete pods using Kubernetes API"
I am using the python client library for the API. I am using the following code :

[code]

But I get the following error :

[code]

At first I thought this was because I wasn't providing
```kubernetes.client.configuration.api_key['authorization'] = 'YOUR_API_KEY' ```

But then I am able to use the APIs to get pod list node list, etc. They should also require authorization. Any clue?

[2017-06-26 08:37] vectar31 commented on #271
For more info here is my kube-config file :
[code]
My current-context is : test

[2017-06-27 23:54] mbohlool commented on #271
have you tried loading config using `config.load_kube_config`? See examples.

[2017-06-28 20:03] Joeskyyy commented on #171
I ran into this as well.

Reading the docs shows it is a str, but doesn't give a good, valid, example of it anywhere.

This gets appended to a dictionary of items to pass into a raw request call down the line, in which kubernetes expects it in the form of 'key=value'. So, for example, if I'm trying to find a secret named `star-cert`, the following should return the object:

[code]

[2017-06-29 09:16] mbohlool opened #274 "create_thirdparty_resource should be an actual python file (.py)"
This example: https://github.com/kubernetes-incubator/client-python/blob/master/examples/create_thirdparty_resource.md

should be a runnable python file.

[2017-06-29 10:36] djkonro commented on #127
Pull Requests:
- Update create_deployment notebook:  https://github.com/kubernetes-incubator/client-python/pull/239
- Add introductory notebook: https://github.com/kubernetes-incubator/client-python/pull/272
- Remove code execution output from create_pod notebook: https://github.com/kubernetes-incubator/client-python/pull/261
- Add notebook on how to create a Service: https://github.com/kubernetes

[2017-06-29 12:43] strigazi opened #275 "Use google-auth and oauthlib instead of oauth2client"
oauth2client is deprecated. No more features will be added to the libraries and the core team is turning down support. The maintainers of oauth2client recommend to use google-auth and oauthlib.

We should use  google-auth and oauthlib.

[2017-06-29 16:13] chhandakm opened #276 "Seeking Help: Fanout Ingress creation is failing"
Hi,

While trying to create a fanout ingress using api , hitting below error. In body probably we are passing in the wrong format. Can you please help to point out the mistake.

(Pdb) resp = self.v1_beta_h.create_namespaced_ingress(namespace, body)
*** ApiException: (400)
Reason: Bad Request
HTTP response headers: HTTPHeaderDict({'Date': 'Thu, 29 Jun 2017 16:07:59 GMT', 'Content-Length': '232', 'C

[2017-07-04 05:51] mbohlool commented on #275
Thanks for reporting this. PRs are definitely welcome :)

[2017-07-04 23:54] Segflow opened #279 "timeout delete_namespaced_pod"

[2017-07-05 01:01] #279 closed

[2017-07-05 02:19] djmckinley opened #280 "ThirdPartyResourcesApi.delete_third_party_resource()"
I've been trying to use the ThirdPartyResourcesApi class to manage instances of our third party resources, and it all seems to work nicely except for the delete_third_party_resource() function.  Here, the code (kubernetes/client/apis/third_party_resources_api.py) has it defined as: `def delete_third_party_resource(self, body, **kwargs)`, with "body" described as a "V1DeleteOptions" type.

It is no

[2017-07-05 05:56] mbohlool commented on #280
Look like we should make those parameters as shared parameter here: https://github.com/kubernetes-incubator/client-python/blob/master/scripts/thirdpartypaths.json#L107

instead of defining them for each operation (and hence missed them for delete operation).

[2017-07-05 06:46] xsren commented on #154
I also have the same problem. And solve by reinstall openssl and python.
[code]
then use new python in virtualenv
[code]

[2017-07-05 10:08] djkonro commented on #66
@mbohlool, I just want to let you know that I have started working on this, so any notes you have in   mind would be welcomed.

[2017-07-05 23:56] mbohlool commented on #66
Would be nice if you can share any design before implementation. I added "x-kubernetes-group-version-kind" and "x-kubernetes-action" in Kubernetes 1.7 spec and I was planning to use that to generate a set of kubernetes friendly object with actions on them based on the generated objects. Not a real design, but I was thinking to do have something like:

[code]

[2017-07-06 04:09] yjww commented on #252
Could I be assigned this?

I would go through and fix the module imports for all the examples.

Could you please elaborate on what else needs to be changed about the template for the examples and the documentation? I could try to see what I can do.

[2017-07-06 12:56] mbohlool commented on #252
Great, Fixing imports (and adding a config.load_kube_config) would be a great start. Just look at one of the examples in examples/ folder and make examples template look close to those. Now to fix templates, you need to copy them somewhere. We are moving toward using kubernetes-client/gen repo for all generations: https://github.com/kubernetes-incubator/client-python/pull/284

I have a PR in that

[2017-07-06 17:22] #275 closed

[2017-07-07 03:13] yjww commented on #252
Thanks for the pointers. Ok will do. I'll send the PR example by example as I finish them.

[2017-07-07 05:54] mbohlool commented on #252
You should be able to edit one template and generate all examples at once.

On Jul 6, 2017 8:13 PM, "yjww" <notifications@github.com> wrote:

[2017-07-07 17:26] #251 closed

[2017-07-07 17:26] #280 closed

[2017-07-08 00:57] mbohlool opened #289 "Use KUBE_CONFIG environment variable"
`kubectl` uses KUBE_CONFIG environment variable if it is available before checking for ~/.kube/config. We should do the same in python client.

[2017-07-09 02:17] yuvipanda opened #290 "Can't tune maxsize of connection pool used"
I get a *lot* of log messages of the form:

[code]

Setting `maxsize` of `HTTPConnectionPool` (or equivalent object) to something higher would help with this, and with connection re-use help performance too (I am hoping!). I can't seem to find a way to set this though!

[2017-07-09 02:53] yuvipanda commented on #290
Ideally, it'll be a param to kubernetes.config.configuration that can be tuned.

[2017-07-09 02:53] yuvipanda commented on #290
However, the kubernetes.config.configuration object says it is autogenerated - but am unable to find where it is autogenerated from?

[2017-07-09 03:19] mbohlool commented on #290
kubernetes.config.configuration is not auto generated anymore, you can edit it. Please also remove the message that it said it is auto-generated. Thanks for your contribution.

[2017-07-09 04:08] yuvipanda commented on #290
Thanks @mbohlool! https://github.com/kubernetes-client/python-base/pull/18 should do the trick I think.

[2017-07-09 04:28] mbohlool opened #291 "Auto update submodules on master"
We should figure out a way to auto import changes in https://github.com/kubernetes-client/python-base. Probably a bot like the one kubernetes main repo is using to publish staging/* repos.

[2017-07-09 04:30] mbohlool commented on #291
@caesarxuchao can you add some pointers here so we can implement this for client python?

[2017-07-09 05:28] #290 closed

[2017-07-12 16:28] chlung commented on #187
@aosterkamp If I would like to update multiple values from your above example
  [
     { "op": "replace", "path": "/a/b/c", "value": 42 },
     { "op": "replace", "path": "/a/b/d", "value": 43 }
   ]
Is it above correct?  Can I do something like the following?  Thanks
[
  { "op": "replace",
    "something": [
      { "path": "/a/b/c", "value": 42},
      { "path": "/a/b/d", "value": 43}
    ]
  }

[2017-07-12 18:20] tahir24434 commented on #36
Hi,
I followed the instructions described in this thread and I am still hitting the issue.

Reason: hostname '1.0.0.14' doesn't match either of 'minion-1-0-0-14', 'kubernetes', 'kubernetes.default', 'kubernetes.default.svc', 'kubernetes.default.svc.cluster.local'

I have following versions of packages

python --version
Python 2.7.6

pip show ipaddress
Name: ipaddress
Version: 1.0.18
Summary: IPv4/

[2017-07-12 20:13] mbohlool commented on #36
What is your `kubernetes` package version? what framework this is on? (os, anaconda?, etc.)

[2017-07-13 06:50] TracyBin opened #294 "Timeout_seconds within list_namespace function does not work"
hi,
   I want to watch timeout when the call time is over timeout_seconds,but it does not work
[code]

[2017-07-13 12:33] djkonro commented on #66
@mbohlool Sorry for the delayed response on [issue66](https://github.com/kubernetes-incubator/client-python/issues/66), I was traveling to Denver for GopherCon 2017 and I am still in Denver for the Conference but I would just like to make some progress on the issue by the time I return to Cameroon.

Initialy I was hoping to create helper classes for the resources, which would inherite the exiting

[2017-07-13 21:00] mbohlool commented on #294
`timeout_seconds=2` is only meaningful if you are watching an object. To watch an object see watch example and see if timeout works there.

[2017-07-14 01:20] yuvipanda commented on #243
Will this be moved anytime soon?

[2017-07-14 01:21] yuvipanda commented on #226
Note: I've started using a threadpool for this in my applications and performance is much better!

[2017-07-14 01:48] mbohlool commented on #243
Yes, I will move it soon. Are you blocking on this?

[2017-07-14 01:50] yuvipanda commented on #243
Nope! Was bored and looking for patches to make & issues to triage :D

On Thu, Jul 13, 2017 at 6:48 PM, Mehdy Bohlool <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2017-07-14 01:50] #289 closed

[2017-07-14 01:51] TracyBin commented on #294
@mbohlool  OK,Thank you

[2017-07-14 01:51] #294 closed

[2017-07-14 01:56] mbohlool commented on #243
I have a good one for you if you are bored: https://github.com/kubernetes-incubator/client-python/issues/233 :)

[2017-07-14 09:00] mbohlool commented on #226
That is a good idea. Would I suggest you contribute it back to `swagger-codegen`. Their templates should be straightforward to edit with your changes. When you did, we can import the changes here.

[2017-07-15 22:34] sd2302 opened #295 "How to get pod status and Service NodePort using Python?"
Help request. Stackoverflow was not useful
1. How can I get a pod status using your Python-API?

2. How can I get a specific service NodePort using your Python-API when I pass a namespace, serviceName ?

[2017-07-16 12:15] wyjw commented on #252
I'm swamped with work unexpectedly and unfortunately. If anyone else wants to take this, go for it. Sorry.

[2017-07-17 19:02] wittrock opened #296 "innfnhrgbtidbhttjvcrjkekejcjh"

[2017-07-17 19:02] #296 closed

[2017-07-17 20:29] mbohlool commented on #295
Generally I spin up a local minikube and install `kubernetes` python package and use interactive python interpreter to look at the output and find what I need. For the first one, it is part of a short video I had at pycon: https://youtu.be/84Vbzmq3iWs?t=3m43s

[2017-07-18 02:32] jraby opened #297 "command exec: Adding support for streamProtocolV4"
I've had a use case to exec some commands in pods and return the exit code of the remote program transparently to the parent process.

At the moment doing so involves fishing out the exit code by parsing the string returned via the error channel of the websocket when the remote command exit.

While looking at how kubectl handles this, I found that the api does in fact support reporting the exit co

[2017-07-18 10:47] dims commented on #297
@jraby since that commit you referenced has been in kubernetes since v1.4.0-alpha.3, we should just default to v4. However it's @mbohlool 's call :)

[2017-07-18 14:28] aosterkamp commented on #187
@chlung sorry for the late reply.

your first example is correct. The second one should not work as far as the RFC goes, but I haven't tested it.

[2017-07-18 14:36] chlung commented on #187
@aosterkamp thanks

[2017-07-18 18:22] mbohlool commented on #297
I don't see any problem with making v4 default. I would make it a `configuration` though so people can change it. Also a general headers configuration would be also useful (it is better to be added upstream to `swagger-codegen`).

[2017-07-21 18:59] abhi-paul opened #300 "Reason: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:720)"
Hi all,
I am not able to use `connect_get_namespaced_pod_exec()` method to execute any coomand in k8s cluster Pod, but able call any list method like `self.core_api_instance.list_namespaced_pod()`
I am able to run kubectl client command, if certificate was issue i couldn't have able to run kubectl command, i am using Python 2.7.5 and
[code]
also using following ~/.kube/config,
[code]
any folks can

[2017-07-22 00:16] mbohlool commented on #300
We test with python 2.7.12. Are you on Mac? Or Anaconda? What is the error?

[2017-07-22 08:05] abhi-paul commented on #300
I am on linux-red hat, error is,
[code]
all certificate & authorization key of my k8s cluster are mentioned at ~/.kube/config file.
same error even with python 3

[2017-07-23 09:08] yuvipanda opened #303 "Document how to use this with `kubectl proxy`"
I've been profiling an application that talks heavily to the k8s API. A big performance bottleneck is doing TLS in python. It'd be great if instead I can run a kubectl proxy as a sidecar, and direct requests to there. That way, the go proxy deals with TLS (and is much faster)!

I'm not entirely sure how to construct a Configuration object that'll work for this tho. kubectl proxy by default provide

[2017-07-23 09:53] mbohlool commented on #303
This should work:

[code]

If you want a client with this config but don't want to change global config:
[code]

Note: 127.0.0.1:8001 is what `kubectl proxy` normally listen to proxy calls to main cluster. The port however can change based on availability. use what `kubectl proxy` reports.

[2017-07-23 22:05] yuvipanda commented on #303
Thank you, this is useful. Is the singleton Configuration object still recommended or should I switch to using this instead in all my code?

[2017-07-24 03:35] mbohlool commented on #303
It is completely depends on your application. Singleton is for ease of use when you only talk to one cluster. If you want to connect to multiple clusters concurrently then you need to follow the second example.

[2017-07-24 17:36] abhi-paul commented on #300
folks any update regarding this issue or any workaround??

[2017-07-24 17:37] abhi-paul commented on #300
folks any update regarding this issue or any workaround??

[2017-07-24 18:08] mbohlool commented on #300
Can you give more detail please? what is your cluster? (gke, gce, etc.) Also a redacted version of your kube config file is useful. Please set `configuration.debug` to True and provide the full output.

[2017-07-25 06:55] abhi-paul commented on #300
can any one tell where to set configuration.debug to True ?

[2017-07-25 07:15] mbohlool commented on #300
[code]

[2017-07-25 08:51] abhi-paul commented on #300
debug set to True, but still same output
[code]

Client Version: version.Info{Major:"1", Minor:"7"}
Server Version: version.Info{Major:"1", Minor:"6"}

[2017-07-25 10:23] mbohlool commented on #300
You probably need to downgrade your websocket package. it is 0.44 that is not supported according to this line from requirements.txt file:

[code]

Also there is an exec example in examples folder.

[2017-07-25 10:45] abhi-paul commented on #300
@mbohlool Thanks a lot!!! it's worked out...websocket-client downgrade to 0.40.0 and it's run smoothly. Can you also please mention how you suspect that websocket-client version is the culprit? &
Where is mention this requirements.txt file? any link?
Is there any matrix kind of things are there for **kubernetes-incubator/client-python** dependent packages?
Again Thanks...:)

[2017-07-25 10:50] mbohlool commented on #300
The file is on repo's root: https://github.com/kubernetes-incubator/client-python/blob/master/requirements.txt

ref: https://github.com/kubernetes-incubator/client-python#hostname-doesnt-match

[2017-07-25 10:50] #300 closed

[2017-07-25 20:14] #233 closed

[2017-07-25 20:14] #297 closed

[2017-07-26 12:36] SongGithub opened #306 "kubernetes.ThirdPartyResources() does not exist while the Doc saying so."
I was following the [Doc here](https://github.com/kubernetes-incubator/client-python/blob/master/examples/create_thirdparty_resource.md). However, when I run `api_instance = kubernetes.ThirdPartyResources()`, error says `AttributeError: module 'kubernetes' has no attribute 'ThirdPartyResources'`.

So:
- Can you guys correct the doc?
- BTW, where can I find an API to list objects within a TPR?

[2017-07-26 18:25] mbohlool commented on #306
dup of #274?

[2017-07-26 18:27] mbohlool commented on #274
@jonathan-kosgei do you have any update on this? The example is misleading people. If you have a working version and you can send a PR for that, that would be nice.

[2017-07-27 09:46] PradeepSingh1988 opened #308 "getting 404 on deployment delete"
#`Reason: Not Found
HTTP response headers: HTTPHeaderDict({'Date': 'Thu, 27 Jul 2017 09:15:13 GMT', 'Content-Length': '448', 'Content-Type': 'application/json'})
HTTP response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"deployments.extensions \"{u'name': u'first-experiment-5fdc9f9b-f50b-41ae-a0bb-4d55af3a993f', u'uuid': u'09b7367f-72ac-11e7-b784-1803732bfee

[2017-07-27 17:49] abhi-paul opened #309 "ResourceWarning: unclosed SSLSocket"
while calling `self.core_api_instance.list_namespaced_pod` method getting following warning message:
[code]
**Note**:I am using **unittest package in python** then only above warning message is coming. Any idea reason behind it?

[2017-07-28 12:18] flaviamissi commented on #36
Same problem here:

[code]
The actual error looks a little different, though the underlying problem seems exactly the same
[code]

[2017-07-28 18:24] mbohlool opened #311 "Remove configuration.ws_streaming_protocol and use default headers to have the same effect"
#298 and its dependencies added this config option. It is incompatible with swagger-codegen and prevent us from going back to generate configuration class. We should remove it and use default_headers of the api client for this purpose (with an example).

[2017-07-28 21:23] mbohlool commented on #36
You are calling exec. We use websocket library for exec. They introduced some bug and we limited the version in the dependency file (requirements.txt). If you search issues for websocket or just make sure you are using compatible websocket version, that should fix your problem.

[2017-07-31 07:17] flaviamissi commented on #36
Thanks for the info! I have noticed that.
With `websocket-client==0.44.0` I get
[code]
The error I posted previously I got using `websocket-client==0.40.0` (sorry I missed posting the info for it). Looking at some more examples I found that I needed to stop hostname assertion (doh):

[code]
After doing that I was able to move forward a bit, but not without another failure. Here's my full code:
[co

[2017-07-31 13:41] flaviamissi commented on #36
BTW I have looked at #144 and updated my snippet (as seen above), and I get the exact same issue there... I have tested on my local machine (OS X, `OpenSSL 1.0.2l`) and on a VM (Debian `OpenSSL 1.0.1t `) both share same requirements versions.

Have also done some debugging and the final url used in the websocket call is `wss://my.master.ip/api/v1/namespaces/default/pods/mypod/exec`. I've also made

[2017-07-31 13:57] mbohlool commented on #36
Interesting. Try kubectl (to call exec on your pod) with `-v9` flag to see if it hits the same url.  Also what is your cluster running on? GKE? On Prem? AWS? ...

[2017-07-31 14:17] flaviamissi commented on #36
My cluster is on GKE, master version is `1.5.7`, node version `1.4.7`.

[code]
(I've omited query strings on both urls)
So exactly same url, only different protocols.

[2017-07-31 15:05] mbohlool commented on #36
We had a bug in gke config loader. Can you try latest beta release 3.0.0b1
to see if that fixes your problem?

On Jul 31, 2017 7:17 AM, "Flavia Missi" <notifications@github.com> wrote:

[2017-07-31 18:17] flaviamissi commented on #36
Tried updating it, didn't work...

But I found the issue somewhere else, the problem is on `websocket_call`:

[code]
`query_params` value before the above line is `[('command', 'ls')]`, after it, `query_params` is empty, and that's where my problem starts. If I don't explicitly give other arguments to `connect_get_namespaced_pod_exec` (like `stdout` or `stderr`), the url building will be inconsist

[2017-08-01 11:10] mbohlool commented on #36
Nice that you figured it out. Both/either issue and PR are welcome.

[2017-08-03 13:28] flaviamissi opened #312 "Executing commands on a pod fails when only command kwarg is provided"
When calling `connect_get_namespaced_pod_exec` and providing only the required arguments + command, e.g. `connect_get_namespaced_pod_exec("mypod", "namespace", command="ls")`, I get the following exception:
[code]

After debugging it, I found that the issue lies on how the query string is built for multiple values vs single ones:
The resulting url path + query string for the request above is: `/ap

[2017-08-07 10:04] strigazi opened #313 "kubefed commands"
Does it make sense to add the kubefed commands in this client?

Would it make more sense to have a separate package? Similarly to kubectl and kubefed

Thoughts?

cc @clenimar

[2017-08-07 11:14] zoidbergwill commented on #306
I think they're related, but separate issues. Was that class removed?

[2017-08-07 11:14] zoidbergwill commented on #306
Is it gonna be replaced by Custom Resource Definitions stuff?

[2017-08-07 13:14] mbohlool commented on #306
Yes, use https://github.com/kubernetes-incubator/client-python/tree/master/kubernetes/client/apis#L27

It is a matter of definition, but I think this is still a duplicated of #274. To make the example runnable, we need to fix it to use this class. I am going to close this. Please reopen if that is not the case.

[2017-08-07 13:14] #306 closed

[2017-08-07 13:22] mbohlool commented on #313
According to our client structure proposal, it should be a new repo. The generator repo should do 99% of the job by providing OpenAPI spec of kubefed. @nikhiljindal do you have any opinion on this?

[2017-08-07 14:19] zoidbergwill commented on #306
Awesome, thanks. :+1:

[2017-08-07 18:39] nikhiljindal commented on #313
cc @sig-federation-misc

kubefed, in my view, is closer to kubeadm then it is to kubectl.
Kubefed commands cant be autogenerated using the OpenAPI spec of `federation-apiserver`.

[2017-08-08 03:57] mbohlool opened #315 "Release 3.0 Stable"
I am going to promote 3.0 Beta to stable tomorrow (August 8th). Please speak out if you are against it or hold your peace forever (or just speak out after the release and we will release a patch :) ).

[2017-08-08 08:42] PradeepSingh1988 commented on #308
Sorry, it was wrong at my side.

[2017-08-08 08:42] #308 closed

[2017-08-10 11:10] arnouthoebreckx opened #316 "Issue with configuration client"
I got an issue writing a webhook.
It works with google cloud engine and it pulls clusternames through the API.
The chatbot will then ask for a cluster to select.

Now I use the googleapiclient to pull the kube-config from the cluster.
`"gcloud container clusters get-credentials {0} --zone {1} --project {2}".format(clustername, zone,projectname)`
This works and the server even replies that the conf

[2017-08-10 20:43] brejoc opened #317 "No __version__ information"
Sometimes it could be useful to get the version information programmatically, just like Django is doing it for example. There you can get the version string via `django.__version__`.

This is especially helpful, if your program requires `kubernetes` and is fine with either version, but needs to distinguish between the different APIs `kubernetes` offers.

[2017-08-10 20:44] mbohlool commented on #317
Looks like a good idea, adding help needed label for somebody to pick it up. Should be a simple change.

[2017-08-10 20:47] mbohlool commented on #316
config.load_kube_config() will load config to a default `configuration` object. It is only helpful for one time use before you actually create your API client (here in your example `client`). Either recreate the `client` to pick up the configuration or explicitly get `Configuration` object and pass it to your client. While both are identical in practice, I would prefer the later as it is clear why

[2017-08-11 00:52] #315 closed

[2017-08-11 06:32] arnouthoebreckx commented on #316
@mbohlool How would you go about recreating the client or the configuration object? I'm pretty new to working with these concepts. Shouldn't the client technically be recreated everytime that specific function in my webhook is called?

[2017-08-11 08:10] mbohlool commented on #316
I see that you actually created api client after load config. That part should be fine.

Can you make sure that in this part, the command add your new server's config as the default one? look for `current` in the kube-config file after you get config for a new cluster. Make sure the current config is changed to the new one. load_kube_config will load the current/active cluster from you config file

[2017-08-11 20:01] justinwp commented on #160
the code above is wrong
[code]

[2017-08-14 13:09] strigazi commented on #313
So what we do?

Has this item been discussed in a meeting?

[2017-08-15 01:46] mbohlool commented on #313
I don't think it is discussed. @nikhiljindal can you elaborate on why we can't auto-generated a python client from OpenAPI spec of federation-apiserver?

[2017-08-15 01:53] nikhiljindal commented on #313
We can auto-generate a python client from OpenAPI spec of federation-apiserver, but thats not kubefed.

same way we cant generate kubeadm or kops using OpenAPI spec of kube-apiserver.

What is the motivation here? Is there a user asking for this?

[2017-08-15 09:58] brejoc opened #319 "Getting error when running update-client.sh"
In the context of PR https://github.com/kubernetes-incubator/client-python/pull/318 I want to run `update-client.sh`, but I'm getting this error:

[code]

Am I doing something wrong? Thanks!

[2017-08-15 17:44] mbohlool commented on #319
That is a bug, sorry for that. can you run this:

[code]

All in one line.

[2017-08-15 17:46] mbohlool commented on #319
The above command should work. When you confirm it, can you LGTM this PR: https://github.com/kubernetes-client/gen/pull/21

[2017-08-15 18:44] mbohlool commented on #319
Just to make sure you got my edit in previous comment, please set the version to "v2.2.2", this is the correct command:

[code]

[2017-08-15 19:10] brejoc commented on #319
@mbohlool Got it. Thanks! Looks good. A lot of changes though. But I'm closing the ticket, since it works now. 👍

[2017-08-15 19:10] #319 closed

[2017-08-15 20:22] mbohlool commented on #319
When I run the command (with v2.2.2) on master, I see no changes. Maybe you should rebase to latest master.

[2017-08-16 09:01] #317 closed

[2017-08-16 09:37] DjangoPeng commented on #308
@PradeepSingh1988 Same issue. What's wrong at your side?

[2017-08-16 09:54] PradeepSingh1988 commented on #308
@DjangoPeng ,
I was sending a dict in name parameter of delete, i.e i was sending
[code]

I should just send:
```first-experiment-5fdc9f9b-f50b-41ae-a0bb-4d55af3a993f```

[2017-08-17 00:36] DjangoPeng opened #320 "[Feature request]cascading delete deployment"
When I call `delete_namespaced_deployment()` method, I find that the corresponding replicaSet and Pod are not removed. The same issue was submitted on `client-go` project [here](https://github.com/kubernetes/client-go/issues/50). I'm not sure if there is a way to do the cascading deletion. If yes, where and how to use it? If not, do you have plan to make it?

[2017-08-17 01:03] DjangoPeng commented on #308
Cool! My problem is about cascading deletion. When I delete the deployment, the corresponding replicaSet and Pod are not removed. Do you have any idea for that? I think it's a common case for everybody, but we don't have an API to do that. So I submit an issue [here](https://github.com/kubernetes-incubator/client-python/issues/320)

[2017-08-17 01:24] DjangoPeng commented on #320
I found there is a same issue [here](https://github.com/kubernetes-incubator/client-python/issues/162). According to the discussion, I summaries the usage of cascading deletion:
1. You need to set the `propagation_policy='Foreground'` when instantiate `client.V1DeleteOptions()`.
2. Kubernetes version 1.6+.
[code]
In a word, I think we would like update the usage of this API in the documents.

[2017-08-17 01:24] #320 closed

[2017-08-17 03:07] DjangoPeng commented on #187
@mbohlool Does the issue fixed? I faced the same issue. Could you help have a look at my case?
I'd like to update replicas of deployment, which like the operation of `kubectl scale --replicas deployment/xxx`.  So, I made a patch like this `patch = {"spec": {"replicas": desired_replicas}}`, and desired_replicas is a parameter which I would assign. I attached my code as below:
[code]
The output as b

[2017-08-17 23:09] huseyinyilmaz commented on #188
It would be great if somebody would confirm this.
It seems to me like kubectl cordon and kubectl drain functions is not implemented in api level. They are client functionality.
drain implemented here:

https://github.com/kubernetes/kubernetes/blob/ca89308227abdf4f2c895118528c354c32aa3046/pkg/kubectl/cmd/drain.go#L239

Seems like drain makes node unshedulable=true and delete all pods.

In short, th

[2017-08-18 00:55] awootton commented on #254
I was getting this same error this afternoon from this sequence:

[code]

(I had some other stuff and several print statements)

No amount of messing about with python libs helped. However, there were the "WARNING Retrying" logs starting right at the beginning.
So, importing the client AFTER the config is done **worked**:

[code]

[2017-08-18 08:06] mbohlool commented on #254
That is strange. It should be a bug. Importing client should not have any effect on config unless you create a client. Would you mind to file a separate issue for this, so somebody debug it?

[2017-08-18 08:10] mbohlool commented on #188
It look like it is a client side functionality. I am not sure if they plan to move it to server but looking at the code, it should not be hard to convert that code to python using this client. Would you mind creating a feature request with this information and mark it as help needed so somebody look at it? This is a great starter project for anybody wants to start developing in this repo.

[2017-08-18 08:20] mbohlool commented on #187
I would run `kubectl -v9` with that command and look at json object it send to server and also enable debug here (to see the same thing) and compare them. There is a `debug` flag in `configuration` class but make sure you set it before creating the client.

[2017-08-18 08:22] mbohlool commented on #320
Nice, it may worth creating an example or a doc/how-to for this, so other people can benefit from it.

[2017-08-18 08:35] DjangoPeng commented on #320
@mbohlool I'd like to make a PR for that tonight.

[2017-08-18 08:41] DjangoPeng commented on #187
@mbohlool I made a plan b to scale deployment, which as below:
1. Load the yaml file and get the body.
2. Set `body['spec']['replicas'] = desired_replicas` .
3. Call `replace_namespaced_deployment(name, namespace, body)` .

[2017-08-18 09:03] mbohlool commented on #187
Be very careful about `replace_namespaced_deployment` specially when the client talks with clusters that has a version ahead of them. There would be dropped fields and unknown behaviours. We are making some designs to fix that, but till then, using replace is not recommended. I would spend a little more time figuring our the patch. I know people had problem with it if you search issues and the ans

[2017-08-18 09:03] mbohlool commented on #320
@DjangoPeng I appreciate it.

[2017-08-18 09:20] djkonro opened #321 "Add Jupyter Notebook for creation of a CustomResourceDefinition"

[2017-08-18 13:29] DjangoPeng commented on #187
@mbohlool Ok, look forward to your PR. Thanks!

[2017-08-18 21:33] ceridwen opened #322 "Passing V1Service and V1NetworkPolicy to CoreV1Api.replace methods can cause an API exception"
I'm trying to modify V1Service and V1NetworkPolicy objects by reading their current state, changing it, and then replacing the old state with the new state.  However, when I pass these objects as the body of a CoreV1API.replace() call, I get the following Kubernetes error:

[code]

I believe this is happening because the objects [V1NetworkPolicyPort](https://github.com/kubernetes-incubator/client-

[2017-08-18 21:49] huseyinyilmaz commented on #188
@mbohlool  I will need that functionality soon and it seemed simple enough to implement it on top of this library. If it is not implemented when I do it, I can contribute it to the library. I have a question about it though. I thought this library was completely autogenerated from swagger source. So, if I were to add a functionality like this how would I attach my functionality to auto generated c

[2017-08-18 23:57] tomplus opened #323 "support for asyncio"
Hi guys.

Do you consider providing this client library with support for asyncio ?

Regards,
Tomasz Prus

(copy of https://github.com/kubernetes-client/python-base/issues/27)

[2017-08-19 00:07] tomplus commented on #323
I've prepared the Pull request where I show how callbacks can be used with asyncio. Let me know what you think about it. Thanks.

[2017-08-19 03:33] awootton commented on #254
@mbohlool I prepared a simplified test this morning and it failed to reproduce the problem.
Frack.

[2017-08-19 11:57] mindw opened #325 "Unable to send a request to a service proxy"
I'm trying to make a post request via the proxy API to a service without the k8s cluster without much luck.
Found the below candidate API -
[code]

But was unable to attach a body (or extra headers to them):
* Can anyone point to examples or documentation on how to do this?
* What is the difference between the plain & `_with_path` APIs (the documentation for bot?
[code]
* What is the difference be

[2017-08-20 22:05] tomplus opened #326 "watch.stream works only once"
If you use `Watch.stop()` to stop `stream()` it will stop all next `stream()`. Private attribute `_stop` is not reseted.

[code]