[2022-06-17 22:00] Tarandeepsingh436 opened #1834 "line 342 if async: SyntaxError: invalid syntax"
**What happened (please include outputs or screenshots)**:
traceback (most recent call last):
  File "/Users/apple/Projects/python/Twiiter/twitter_get_user_timeline.py", line 3, in <module>
    from tweepy import Cursor
  File "/Users/apple/opt/anaconda3/lib/python3.9/site-packages/tweepy/__init__.py", line 17, in <module>
    from tweepy.streaming import Stream, StreamListener
  File "/Users/appl

[2022-06-18 12:47] Skyere opened #1835 "How to annotate something"
Sorry, it's not here about errors.
I have a question, how to annotate resource?
I didn't find something in the documentation(
For example I need to execute: ```kubectl annotate es external-secret force-sync=$(date +%s) --overwrite```

[2022-06-20 05:40] PyoJunCode opened #1836 "Invalid markdown format in kubernetse/docs/V1EnvVar.md"
**Link to the issue (please include a link to the specific documentation or example)**:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1EnvVar.md

**Description of the issue (please include outputs or screenshots if possible)**:

In table, format of description is broken due to `$` mark and `\&quot;`

## Properties
Name | Type | Description | Notes
------------ | --------

[2022-06-20 08:43] syskiller86 opened #1837 "Label should accept colon item"
**What happened (please include outputs or screenshots)**:
When adding labels with values that contains the colon,an exception happend
[code]
In Rancher, it's  normal behavior to assgin a namespace to a project. And this case should be handled by API.

[2022-06-21 14:08] unixunion commented on #1750
I have run into this issue, was wondering if there is any progress on this? As I need to read clusterwide CustomResources.

[2022-06-21 14:40] f4z3r commented on #1750
Hi, I have not worked on this as it requires a change in the OpenAPI spec that I am unfamiliar with. I could, at best, have a look in a week or two. Depends on how much other work I have.

You can however currently "misuse" the `list_cluster_custom_object` function to list namespaced custom objects across all namespaces. As far as I remember it calls the correct API endpoint and performs no check

[2022-06-22 06:19] hterik opened #1840 "Reading returncode on failed stream command raises invalid literal error, instead of error cause"
**What happened (please include outputs or screenshots)**:
When trying to read `returncode` on a `WSClient` object that failed, a misleading error message is raised:

[code]

**What you expected to happen**:
More correct error message is raised, containing the actual error cause: `starting container process caused: exec: \"sleep 100\": executable file not found in $PATH: unknown`"

I added a break

[2022-06-22 09:36] hterik opened #1841 "Unexpected WebSocketConnectionClosedException when streaming long running commands, missing pings?"
**What happened (please include outputs or screenshots)**:
After exactly 300sec of idle, exec commands streamed with `stream` loose their connection, even though
* pod is still running,
* The process that was execd in container is still running (checked with `kubectl exec POD_NAME ps aux`)
* Network otherwise appears to be healthy.
* No warnings logged by kube-apiserver

Following stack trace is g

[2022-06-22 11:41] Skyere commented on #1835
I have already figured out how to do that. But example for that will be great) thank you

[2022-06-22 13:34] YidaHu commented on #1836
Let me change that.

[2022-06-23 08:01] arifuraman opened #1844 "Need support for FluxCD API"
**What happened (please include outputs or screenshots)**:
[code]

**What you expected to happen**:
It will install the helm Chart, But `apiVersion: helm.toolkit.fluxcd.io/v2beta1` is not supported by the python Kubernetes client

**How to reproduce it (as minimally and precisely as possible)**:
Try to install it again.

**Anything else we need to know?**:
N/A
**Environment**:
- Kubernetes version

[2022-06-23 10:48] a-atalla commented on #810
This is my approach of doing it
https://gist.github.com/a-atalla/fc3b7b14a54109374a5c89c72047bb2a
[create_regcred.py](https://gist.github.com/a-atalla/fc3b7b14a54109374a5c89c72047bb2a)

[2022-06-23 15:51] codezart commented on #1684
I too have this issue. Any fix I can try?

[2022-06-23 22:25] #1835 closed

[2022-06-26 18:10] yliaog commented on #1797
1.24 GA has been released.

[2022-06-26 18:10] yliaog commented on #1797
/close

[2022-06-26 18:10] #1797 closed

[2022-06-27 17:21] #1757 closed

[2022-06-27 17:21] roycaihw commented on #1756
Closing due to inactivity. Please feel free to reopen if you have any questions.

/close

[2022-06-27 17:21] #1756 closed

[2022-06-27 17:24] roycaihw commented on #1761
Closing due to inactivity. Please feel free to reopen if you have any questions.

/close

[2022-06-27 17:24] #1761 closed

[2022-06-27 17:25] roycaihw commented on #1755
Closing due to inactivity. Please feel free to reopen if you have any questions.

/close

[2022-06-27 17:27] roycaihw commented on #1751
Closing due to inactivity. Please feel free to reopen if you have any questions.

/close

[2022-06-27 17:27] #1751 closed

[2022-06-28 00:14] roycaihw commented on #1421
/remove-lifecycle stale
/unassign
/help

This is needed but I don't have the bandwidth to get to it at the moment https://github.com/kubernetes-client/python/pull/1743

[2022-06-28 00:51] abcdbdocker commented on #1757
Kubectl apply-f works, but it doesn't work in the Python SDK. I tried to remove it -- the splitter line only works for one resource object, the one below the splitter line doesn't work. Is there a way to create multiple resources with a splitter line? Thank you

[2022-06-28 08:52] Uranium2 opened #1846 "sanitize_for_serialization returns empty Dict when all values are None"
**What happened**:
I'm trying to monitor my Jobs with `read_namespaced_job_status` and return the `status` in Dict/Json format. When I create the Job and get it's status just after (under 5/10 seconds before real creation on Cluster) I get a status of Dict where all values are `None`, which is fine. But when I try to `sanitize_for_serialization` it, I get an empty Dict.

[code]
**What you expected

[2022-06-28 10:10] architlatkar27 opened #1847 "Unable to pip install kubernetes on Ubuntu 14"
**What happened (please include outputs or screenshots)**:
I am trying to install the kubernetes package on an ubuntu 14 machine. It is failing with the following error -
`Downloading/unpacking kubernetes==9.0.0 (from -r requirements.txt (line 5))
  Downloading kubernetes-9.0.0-py2.py3-none-any.whl (1.4MB): 1.4MB downloaded
Cleaning up...
Exception:
Traceback (most recent call last):
  File "/usr/

[2022-06-30 07:57] Akasurde commented on #1686
/remove-lifecycle rotten

[2022-06-30 07:57] Akasurde commented on #1686
/assign

[2022-06-30 08:34] Akasurde commented on #1834
@Tarandeepsingh436 Thanks for reporting this issue. It seems that this issue is related to `tweepy` and this repo manages `Kubernetes-client` for Python. I would request you to migrate the issue to the respective repository.
Thanks,

[2022-06-30 08:40] Akasurde commented on #1823
@mukhtar-inamdar Thanks for reporting this issue. Could you please refer https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/ ? Thanks.

[2022-06-30 10:12] Solpax commented on #1684
@cham-d

I think `plural = 'trafficsplits'` should fix the issue.  You need to pass the plural name ('trafficsplits'), not kind ('TrafficSplit').
https://github.com/servicemeshinterface/smi-sdk-go/blob/main/crds/split.yaml#L14

[2022-06-30 12:31] #1834 closed

[2022-06-30 21:50] michailbrynard commented on #1350
I get the same error when creating an ingress using `kubernetes==24.2.0` with:
[code]
The above results in the error `'set' object has no attribute 'openapi_types'`

I solved it by switching to specifying the ingress using json:

[code]

[2022-07-01 10:51] #1193 closed

[2022-07-01 12:19] gdlx commented on #1193
@7AC Has this been fixed ?

[2022-07-02 00:48] iicky commented on #1335
I'm also having this issue - any merge for the PR yet?

[2022-07-02 10:42] #1681 closed

[2022-07-04 00:53] roycaihw commented on #1834
Thanks @Akasurde for looking into the issue!

[2022-07-04 01:03] #1686 closed

[2022-07-04 01:03] #1753 closed

[2022-07-04 07:24] geek-bit opened #1849 "Exec to Pod error not handled properly"
I have a reverse proxy in front of the Kube API server to authenticate and authorize requests to the API server. The unauthorized request message is propagated correctly while reading Pod logs using the Python client.
`
Reason: Forbidden
HTTP response headers: HTTPHeaderDict({'date': 'Mon, 04 Jul 2022 07:18:33 GMT', 'content-type': 'text/plain; charset=utf-8', 'content-length': '312'})
HTTP respon

[2022-07-04 10:08] Akasurde commented on #1753
/assign

[2022-07-04 13:19] dVerhees commented on #1813
I believe this is because Kubernetes has the issue with the API servers, and this project uses the Kubernetes API.

The issue in the Kubernetes project is found here: https://github.com/kubernetes/kubernetes/issues/108074

[2022-07-04 22:23] roycaihw commented on #1813
The API client is generated based on the upstream Kubernetes OpenAPI spec using the openapi-generator.

[2022-07-04 22:25] roycaihw commented on #1847
Please also try the latest versions: https://pypi.org/project/kubernetes/#history

[2022-07-06 13:22] efussi opened #1851 "K8sDynamicClient fails on FIPS-enabled OpenShift cluster"
**What happened (please include outputs or screenshots)**:

Ansible operator based on **operator-sdk** v1.20.0 and later fails with
[code]

**What you expected to happen**:

Ansible operator continues to work after upgrading **operator-sdk** from v1.19.1 to v1.20.0 (and later)

**How to reproduce it (as minimally and precisely as possible)**:

Run an Ansible operator using the `k8s_status` task on

[2022-07-06 16:59] roycaihw commented on #1682
Closing due to inactivity. Please feel free to reopen if you have any questions
/close

[2022-07-07 16:20] coopstah13 commented on #1679
/remove-lifecycle stale

[2022-07-11 02:43] 745719408 opened #1855 "Is it possible to set a timeout to verify that the config file of kube-apiserver is valid?"
Is it possible to set a timeout to verify that the config file of kube-apiserver is valid?

[2022-07-11 05:07] #1787 closed

[2022-07-11 16:05] brendandburns commented on #1841
You need to have TCP keep alives or some small amount of TCP traffic to keep the connection alive.

However, it's also worth noting that `exec` was never really meant for long-running connections, there are much better ways to achieve the same thing via other types of APIs.

[2022-07-11 16:10] brendandburns commented on #1841
More discussion here:
https://stackoverflow.com/questions/50706483/what-azure-kubernetes-aks-time-out-happens-to-disconnect-connections-in-out

[2022-07-11 20:11] #1666 closed

[2022-07-13 06:57] hterik commented on #1841
Thank you.
Where does one enable TCP keep alive? This is normally a configuration on the socket from what i know, but such options are not exposed all the way up to the kubernetes_client apis. I can see that the `WebSocket` constructor takes `sockopt` argument as input, but the `kubernetes.stream.ws_client.create_websocket` does not set this argument.

Also curios about which alternative APIs you

[2022-07-13 11:06] eternityduck opened #1856 "How can I parse the result of read_namespaced_deployment?"
Having this code
[code]

[2022-07-13 16:59] #1851 closed

[2022-07-13 22:07] arrase commented on #1844
Not a bug and no related to that project, you need to install the proper Fluxcd CRD's

[2022-07-14 06:52] #1856 closed

[2022-07-14 09:43] iamkarlson commented on #1733
/remove-lifecycle stale

[2022-07-14 19:46] #1688 closed

[2022-07-14 19:46] #1693 closed

[2022-07-14 20:30] gvashishtha commented on #1249
Can you explain more how you resolved this @631068264 ? I'm able to list Istio resources:

[code]

but if I change that last line to:
`myclient.create_cluster_custom_object(group="networking.istio.io",version="v1alpha3",plural="virtualservices", body=deployment_template)` then I get a 404.

So is there a way to send POST requests to this endpoint?

[2022-07-15 08:15] Alvaro-Campesino commented on #1767
@yliaog same  SSL error is received when trying to use the example:

[code]

[2022-07-15 14:26] davidxia commented on #517
@ellieayla thanks for that solution. Bumping this in case anyone knows why the library doesn't support json patches or if there's any plans to do so or appetite for a PR to add it?

[2022-07-17 07:11] #1668 closed

[2022-07-18 03:17] #1680 closed

[2022-07-18 11:13] akalenyu opened #1857 "base_resource_lookup unexpected at the k8s client ResourceList init"
**What happened (please include outputs or screenshots)**:
base_resource_lookup unexpected at the k8s client ResourceList init
[code]

**What you expected to happen**:
Gracefully move on instead of erroring out/implement functionality

**How to reproduce it (as minimally and precisely as possible)**:
Pass base_resource_lookup to ResourceList

**Anything else we need to know?**:
Originated from htt

[2022-07-18 18:20] ErikEngerd opened #1859 "Ephemeral container not added to pod"
**What happened (please include outputs or screenshots)**:

Trying to add an ephemeral container to a pod. The code executes successfully but no container is added. 'kubectl debug' on the other hand works fine.

**What you expected to happen**:

ephemeral container added  to the pod

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[2022-07-18 21:08] ErikEngerd commented on #1859
I have done some extensive debugging in pycharm and it looks like everything is ok (including the most important part, which is the request body). However, when running 'kubectl debug', I see that kubectl is not using this patch request but generates a strategic merge path instead.

This is the command which  I ran:

[code]

Now it uses the following URL:
[code]

which is the same as the python co

[2022-07-18 21:14] ErikEngerd commented on #1859
I just tried with a kubectl patch command and this does not work since updates to the ephemeralContainers are not allowed through a patch. So it seems that indeed the .../ephemeralcontainers endpoint must be used.

[2022-07-19 06:47] Rishit-dagli commented on #1557
@roycaihw @michaelkaye

I faced the same issue today and came across this issue. Following that, I have got a GitHub action running for my repository to do this and later today I will make a PR to do this in this repository.

@roycaihw

/assign

[2022-07-19 16:45] sm-moore commented on #1737
I was looking at the examples in the PR Ron mentioned above https://github.com/kubernetes-client/python/pull/1752 and don't see any example of kubectl apply, only kubectl create. It appears to me this library doesn't actually support the apply operation. Is that true?

[2022-07-19 16:48] ErikEngerd commented on #1859
By the way, the version of kubernetes that I am running in the cluster is 1.23.7 so I assume I would need the 23.6.0 version of the kubernetes API. Trying that however I get the same issue.

What I see is when I request the swagger.json for my kubernetes using
[code]
that I get a difference for the PATCH request for `/api/v1/namespaces/{namespace}/pods/{name}/ephemeralcontainers` that is needed he

[2022-07-19 18:14] ErikEngerd commented on #1859
I am stuck now trying to create a new version of the library with the swagger.json from my kubernetes cluster. It is not clear what I need to do in order to build. First I am running into the fact that it uses a raw github URL to fetch the swagger.json. I can work around that, but after that it fails with a SyntaxError saying

      from __future__ import print_function

Is there an instruction so

[2022-07-19 23:50] #1557 closed

[2022-07-20 16:56] motey commented on #1617
still an existing bug

/remove-lifecycle rotten

[2022-07-21 16:48] jareddjenkins opened #1862 "utilize --proxy-url when added to the ~/.kube/config"
**What happened (please include outputs or screenshots)**:
Proxy is not set when the configuration contains the proxy.
https://kubernetes.io/docs/reference/kubectl/cheatsheet/#kubectl-context-and-configuration
If you update your config by running.
kubectl config set-cluster my-cluster-name --proxy-url=my-proxy-url
kubectl obeys this behavior and this library does not.

**What you expected to happe

[2022-07-21 16:53] jareddjenkins commented on #1862
I have a PR ready to address this, I just need to figure out how to contribute appropriately.

[2022-07-22 13:27] jooppey commented on #1859
I am getting the same issue using patch_namespaced_pod_ephemeralcontainers

with Python client v22.6.0 or v23.6.0 to a v1.20.4 cluter API -> OK
- ephemeralContainer is created,
- patch_namespaced_pod_ephemeralcontainers returns an object with kind 'EphemeralContainers'
[code]

with Python client v22.6.0 or v23.6.0 to a v1.23.5 cluter API -> fails
- no ephemeralContainer created,
- patch_namespaced

[2022-07-22 13:51] ErikEngerd commented on #1859
I have the feeling that the upstream swagger.json from kubernetes is incorrect. When I look at the definition of #/definitions/io.k8s.apimachinery.pkg.apis.meta.v1.Patch, then I also see type = object, which is the same as in the swagger.json that the python client is using.

I am still having problems building the python library though. The key step is to fork the kubernetes repository in github,

[2022-07-22 14:29] ErikEngerd commented on #1859
Looking at the output of the update-client.sh I see that this also fails at the very last statement trying to patch rest.py

[code]

[2022-07-22 16:00] ghost opened #1864 "create_from_yaml not raising an exception on failure"
**What happened (please include outputs or screenshots)**:
[create_from_yaml ](https://github.com/kubernetes-client/python/blob/master/kubernetes/utils/create_from_yaml.py) is not raising a "FailToCreateError" exception when the contents of the yaml fail to apply.

The result from create_from_yaml clearly shows a failure, for the right reasons (my example is attempting to create a job in a non-exi

[2022-07-23 15:50] motey commented on #1471
/remove-lifecycle rotten
there is still a pending PR

[2022-07-23 21:21] #1689 closed

[2022-07-24 18:12] ErikEngerd commented on #1859
Just tried to load the swagger.json in SwaggerUI for the 1.23, 1.24, and master branches of the kubernetes project on github. It seems that the request schema is not included in the openapi spec.

[2022-07-24 18:48] ErikEngerd commented on #1859
After digging around a bit in the source code I have found a workaround.

What you do is simply create the requested body by the request and passing that in to the API call instead of the body directly.

[code]

The magic is in the line where the body is modified and in the body.to_json() since the sanitizer which creates the data structure that is used as the body does not understand objects but

[2022-07-24 18:54] ErikEngerd commented on #1859
Most likely the fix should be in the V1EphemeralContainer class but since this is generated from the swagger.json. The change should probably be in the swagger.json then. I would like some advise from one of the maintainers on how to proceed with this. Should I write a PR on the kubernetes project?

[2022-07-25 04:41] antonblr commented on #1864
The culprit is in `async_req=True` here. I have opened a PR with (what I think) the fix - https://github.com/kubernetes-client/python/pull/1865.

[2022-07-25 14:31] Uranium2 commented on #1783
After testing. When I export my python template to YAML, it outputs me the correct value `0.15Gi` and `0.18Gi`.

But when I use `kubectl`, and I check the status of the job, It asks for 157286400m and 188743680m in requests and limits. So the issue seems to not be related to `kubernetes-client` in python

[2022-07-25 14:38] brianmcilwrath opened #1866 "Pod exec websocket fails with [Error 32] Broken Pipe on larger requests"
**What happened (please include outputs or screenshots)**:
The following code is fairly standard  from a number of examples and should emulate the `kubectl cp` functionality to copy a file or directory to a Pod.
[code]
This code works as expected for directories containing a few files (with total size <=1Mb)

For the files named in the example the total directory size is larger (~60Mb) and this co

[2022-07-26 06:08] #1777 closed

[2022-07-26 11:56] stevep-arm commented on #899
Just in case someone in the future is looking for how to do this. This is what I have for cordoning.

[code]

[2022-07-27 06:45] felixhuettner commented on #1658
/remove-lifecycle stale

[2022-07-28 18:20] aantn opened #1867 "Extremely slow deserialization due to lock contention and logging module"
We are experiencing performance issues when doing API calls in many threads at the same time. The issue only occurs on certain clusters and we suspect it is happens when a high number of API calls occur simultaneously.

When looking at stack traces, we see contention around a lock in the logging module.

[code]

The above is from a single thread. Each stack trace contains about 20 threads like tha

[2022-07-29 04:03] shinebayar-g commented on #225
This is such a needed feature :smiling_face_with_tear:

[2022-07-29 20:55] vladimirtiukhtin opened #1868 "Cannot assign metadata to secret after object creation"
**What happened (please include outputs or screenshots)**:

![Screenshot from 2022-07-29 21-46-48](https://user-images.githubusercontent.com/15124334/181841030-3a065a65-7dfa-4310-a0e3-7e2c6b517bee.png)
As you can see, for some reason metadata became a list which causes error in Kubernetes API

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- OS (e.g., Ma

[2022-07-29 21:52] vladimirtiukhtin commented on #1868
Never mind, found a left over comma at the end of metadata

[2022-08-01 06:06] zhaojiakai1001 opened #1869 "HTTP Liveness Probe wouldn't handle any params, it couldn't save "?" token."
I needed to create a liveness probe on the pod. I chose http liveness probe. But when I was creating with Kubernetes-client/python
, an issue came. My server supplied different response data type. I must input the chosen response data type as http param to get the response. For example: curl http:/10.233.96.233:8008/api/health?reply_type=json. But using Kubernetes-client/python V1HTTPHeader, I cou

[2022-08-01 16:40] roycaihw commented on #1816
Thanks @showjason! Yes the watch library is used for both watch and log reading, because the underlying implementation is similar. However the name can be misleading. We should have an example for log reading if we don't have one already.

/close

[2022-08-01 16:40] #1816 closed

[2022-08-01 16:42] roycaihw commented on #1822
Please provide more details on what you're trying to achieve. For this kind of questions I'd also suggest asking in the #kubernetes-clients slack channel.

[2022-08-01 16:43] roycaihw commented on #1823
This seems like a duplicate of #1822
/close

[2022-08-01 16:43] #1823 closed

[2022-08-03 14:00] ctheisingfl opened #1870 "Error 400 Bad handshake when trying to execute command in a pod."
I have a simple script that is just trying to print out hello world in the pod's shell. It is unable to make a successful connection.
[code]

I keep getting
[code]

[2022-08-03 14:37] ctheisingfl commented on #1870
I have fixed the issue.

[2022-08-04 10:23] redixin opened #1872 "Request info is not included in ApiException"
When I query nonexistent resource type, I got ApiException:
[code]

This is not helpful enough, because it not possible to figure out what actually was requested.
It would be very helpful if there was request info included as well.

**What you expected to happen**:

[code]

**Environment**:
Python 3.10.4
kubernetes         24.0.0-snapshot /home/eye/work/k8s-python-client

[2022-08-04 18:05] bubthegreat commented on #524
Am I reading this right that you're loading the yaml into a json or was that a typo?

[2022-08-05 16:23] michzimny commented on #1870
@ctheisingfl, please share how have you fixed it.

[2022-08-05 18:54] ctheisingfl commented on #1870
In
resp = stream(api_instance.connect_get_namespaced_pod_exec,
                  name,
                  namespace,
                  command=exec_command,
                  stderr=True, stdin=False,
                  stdout=True, tty=False,
                  container = <container_name>,
                  _preload_content=True)

[2022-08-05 18:57] michzimny commented on #1870
Thank you!

[2022-08-06 06:48] mindw commented on #325
/remove-lifecycle stale

[2022-08-07 20:43] snjypl commented on #1729
/remove-lifecycle stale

[2022-08-08 06:14] felixhuettner commented on #1718
/remove-lifecycle stale

[2022-08-08 08:33] Lerentis commented on #1767
I have the same issue and i am not using rancher. kubectl is able to use
[code]

while the python client seems to ignore these information. i disabled validation directly in the kubeconfig in the end:

[code]

note that these modifications break the use of `kubectl` in the end as specifying a root certificates file with the insecure flag is not allowed anymore, so a fix to honor `clusters[0].clust

[2022-08-08 14:50] Abdullium commented on #1872
Assign the issue to me please.
And thanks for pointing it out

[2022-08-08 17:17] svenstucki commented on #756
For anyone else coming here via search - the API package now comes with a function to parse quantity information into regular Python `Decimal`s:
https://github.com/kubernetes-client/python/blob/master/kubernetes/utils/quantity.py

[code]

[2022-08-10 05:01] balu-ce opened #1875 "X-Stream-Protocol-Version is required on connect_get_namespaced_pod_exec function"
kubernetes.client.exceptions.ApiException: (500) when I tried to execute on kubernetes client for one of the pods

**Environment**:
- Kubernetes version (`kubectl version`):
        Client Version: v1.24.1
        Kustomize Version: v4.5.4

- OS : MacOS 10.13.6
- Python version  - 3.8
- Python client version - 24.2.0

[2022-08-10 11:07] AlexeyPetroff commented on #1617
After some investigation I can confirm it's a server-side behavior.
Steps to reproduce:

1. Start reverse proxy to kube api-server: `kubectl proxy`
2. Send a GET request to get the list of deployments: `curl -X GET 'http://127.0.0.1:8001/apis/apps/v1/namespaces/default/deployments`. Note that you should change the `default` namespace to your own.

In the response I'm getting I see that Deployments

[2022-08-10 14:48] motey commented on #1617
@AlexeyPetroff very interesting. Thx for checking.

But not showing an attribute and declaring it as None are two different things.
The HTTP API of Kubernetes does something quirky by not showing the `kind` (I think just showing it would be the preferred behavior for me)
The python client does something wrong by claiming the kind is `None`. This is slightly worse i think :)

[2022-08-10 15:10] AlexeyPetroff commented on #1617
@motey There is no surprise that python client assigns `None` to `kind`.
After the client gets the response from the kube-apiserver, ([it serializes it](https://github.com/kubernetes-client/python/blob/master/kubernetes/client/api_client.py#L192)). The serializer see DeploymentV1 object inside the json, so tries to serialize it to DeploymentV1 model. If we look into [implementation of this model](

[2022-08-10 15:47] benaskikutis opened #1876 "Failing to install dependencies using Docker + Poetry"
Hello,

I included the Kubernetes client to my solution using 'poetry add Kubernetes and one of the dependencies is pywin32. Once I try to run my docker image, on initialization I get the following error:

ERROR: Could not find a version that satisfies the requirement pywin32==304 (from versions: none)
ERROR: No matching distribution found for pywin32==304

what could be the issue here?

I am usin

[2022-08-11 09:41] benaskikutis commented on #1876
ok, it seems like this issue originates from poetry and not from kuberenetes client

[2022-08-11 09:41] #1876 closed

[2022-08-12 06:31] thesuperzapper opened #1877 "add support Lease-based leader election (rather than ConfigMaps)"
**What is the feature and why do you need it**:

Currently, the K8S Python API only [supports leader election](https://github.com/kubernetes-client/python/tree/master/kubernetes/base/leaderelection) using [`ConfigMapLock`](https://github.com/kubernetes-client/python/blob/master/kubernetes/base/leaderelection/resourcelock/configmaplock.py).

The K8S Go API supports using the proper [`Lease`](https:

[2022-08-14 15:25] Mohdcode commented on #1603
Hello! I want to know if anyone working on this issue.

[2022-08-14 15:29] Mohdcode commented on #1603
could you tell me the issue as it's my first time on an open source project? as I couldn't understand the upper conversation cuz it's little cryptic to me.

[2022-08-14 16:30] Mohdcode commented on #1603
/remove lifecycle rotten

[2022-08-15 11:50] PatrikDubec commented on #524
I would appreciate this feature too.

[2022-08-15 16:38] roycaihw commented on #1870
Thank you @ctheisingfl for sharing!
/close

[2022-08-15 16:38] #1870 closed

[2022-08-15 16:40] roycaihw commented on #1875
Could you please try [this example](https://github.com/kubernetes-client/python/blob/master/examples/pod_exec.py) and see if that works?

[2022-08-15 16:41] roycaihw commented on #1877
/help

[2022-08-15 16:45] roycaihw commented on #1872
ApiException is generated by [openapi-generator](https://github.com/OpenAPITools/openapi-generator). Please open the issue in the upstream

[2022-08-15 16:50] #1782 closed

[2022-08-15 22:05] #1790 closed

[2022-08-16 00:26] roycaihw commented on #1864
/assign @antonblr

[2022-08-16 12:29] mukundjalan commented on #1750
I think what you are asking for is implemented in #1377

[2022-08-16 15:59] Ashutosh-20 commented on #1603
I want to start contributing in this project. And I am a total beginner. So it would be great if u could suggest some resources to start with.

[2022-08-16 16:48] roycaihw commented on #225
/help

[2022-08-17 13:44] renatosazup-zz opened #1878 "Not working create_from_yaml"
**What happened (please include outputs or screenshots)**:

#### kubetest3.py
[code]
#### zap-api-scan.yaml

[code]
#### Output
[code]

**What you expected to happen**:
The job is expected to be created in my cluster.

**Environment**:
- Kubernetes version (`kubectl version`):
[code]
- Python version (`python --version`): Python 3.6.9
- Python client version (`pip list | grep kubernetes`): Kuberne

[2022-08-17 22:43] redixin commented on #1872
@roycaihw thanks for help. Reported and proposed a fix into upstream: https://github.com/OpenAPITools/openapi-generator/issues/13214

[2022-08-18 11:49] gfrid opened #1879 "Merge in patch as option"
Lets assume the bellow code:

[code]

[2022-08-18 16:07] gfrid opened #1880 "Ingress annotation does not support strategic-merge-patch"
annotating ingress with external DNS annotations removes existing annotations from ingress
any new annotation with PATCH overwrites existing.

[code]

[2022-08-18 20:32] gfrid commented on #1202
this frustrating, had to use kubectl inside python to merge annotations

[2022-08-19 05:47] vivekjainx86 commented on #1750
Hello @f4z3r ,
you can just pass empty namespace to function, it will list custom resource across all namespaces.
e.g.
`api.list_namespaced_custom_object(group="<group>",version="<version>",plural="<plural-name>", namespace="")`

[2022-08-20 16:19] Lirt opened #1881 "Not possible to close watch stream immediately"
Hello Kubernetes Python Community,

I would like to ask for a help about what is the intended way to close the watch stream immediately.

Consider my simple reproducible example python3 code where I want to close the stream by sending signal:
[code]

1. I run the script;
1. It registers one ConfigMap;
1. Ten I hit Ctrl+C;
1. I expect that the watch stream will try to end as soon as possible, but i

[2022-08-21 16:32] Jagrutiti commented on #1877
Hi,

I am beginner to Kuberenetes repo. Do you think this is a good issue to pick?

[2022-08-23 06:19] gfrid commented on #1880
as a workaround i use kubectl with os.system as workaround

[2022-08-24 08:44] mitar commented on #819
/remove-lifecycle stale

[2022-08-24 15:29] LucaSoato commented on #1409
Is this still happening?

[2022-08-26 01:21] zbentley commented on #1409
I was able to reproduce, yes.

[2022-08-26 19:12] Adarsh-jaiss commented on #1879
-- can you please explain this, I am little confused of what to do?

[2022-08-26 23:38] EvanKuhn-Affirm commented on #1202
Hitting the same problem, have to call out to kubectl from python. Disappointing.

[2022-08-27 06:15] EvanKuhn-Affirm commented on #1216
In case anyone else is still running into this...

I just dealt with this same problem. As a workaround, I had to call:

[code]

before `api.patch_namespaced_custom_object`.

This, along with passing the `body` as an object (I was originally passing it as a string) got things working.

This was with kubernetes==24.2.0

[2022-08-28 06:54] Jagrutiti commented on #1810
Hey,

Could you elaborate on this issue for me to pick it up?

[2022-08-28 09:01] rogue-gamer-ryt commented on #1775
Hey @roycaihw,

I want to start contributing to this project, since this is a documentation change I think this would be a good candidate for my first contribution.

So firstly can I pick this up? and secondly, is this the correct [file](https://github.com/kubernetes-client/python/blob/master/examples/README.md) which needs to be updated?

[2022-08-29 11:23] #1684 closed

[2022-08-29 11:55] pransukh commented on #1386
Any idea how to do in nodejs client.

[2022-08-29 15:15] fsalazarh opened #1883 "Not able to describe PV with existing methods"
How can I describe certain PV? I only see `read_namespaced_persistent_volume_claim` to obtain PVC metadata, but I don't find the same function to PV.

I would appreciate any help.

[2022-08-29 15:33] fsalazarh commented on #1883
Sorry, I had an outdated version of the library (v18.20.0) and it didn't have that method, I already managed it.

[2022-08-29 15:33] #1883 closed

[2022-08-31 22:14] venkatalolla commented on #1878
Hello @renatosazup , given this is a CRD, there are other similar issues open around this, but to be helpful, here is a work around I found in one of the issues, #1792  - [work around](https://github.com/kubernetes-client/python/issues/1792#issuecomment-1127393010)

[2022-09-01 17:51] #1740 closed

[2022-09-02 03:09] daru1027 opened #1884 "In Airflow KubernetesPodOperator, V1WindowsSecurityContextOptions is not working"
**What happened (please include outputs or screenshots)**:
In Airflow KubernetesPodOperator, host_process of V1WindowsSecurityContextOptions is not reflected.
**What you expected to happen**:
I want host_process to be reflected from none to true.
**How to reproduce it (as minimally and precisely as possible)**:
[code]
[code]
**Anything else we need to know?**:

**Environment**:
- Kubernetes versio

[2022-09-04 06:52] gfrid commented on #1879
the idea is to annotate ingress but using "strategic merge" option, the current state is that python overwrites existing annotations.
_'op': 'add'_  removes the existing and creates a new.
This is important feature that needs to work is it allows Kubernetes external DNS: https://github.com/kubernetes-sigs/external-dns/blob/master/docs/faq.md to work in specific scenarios, from what i know there is

[2022-09-04 06:54] gfrid commented on #1880
ref: https://github.com/kubernetes-client/python/issues/1879

[2022-09-05 03:27] pbarker commented on #1859
This works for me except not with the volume mounts for some reason. Has anyone gotten any further on this?

[2022-09-05 08:13] milanaleksic commented on #1799
/remove-lifecycle stale

[2022-09-05 09:40] lexisworkingout commented on #1570
Hi, have you solved this problem yet? I also can't change spec.nodeSelector using patch_namespaced_node api.

[2022-09-05 14:49] anilkvp opened #1885 "I am trying to deploy kong rate limit plugin. Is there any documents explain which class to use to ?"
I am trying to deploy Kong route with ingress with rate limit. I am able to deploy Kong route using V1Ingress, but I didn't find any information on create and deploy a plugin for example 'KongPlugin'.

[2022-09-05 17:32] #1589 closed

[2022-09-05 22:21] ErikEngerd commented on #1859
Do you have a code sample?

[2022-09-08 15:18] Adarsh-jaiss commented on #1879
- Thank you for responding!
- I will try to find an alternate solution other than the rancher
- if I will not get any other, I will use kubectl inside the python using _os.system_

[2022-09-08 19:16] #1766 closed

[2022-09-09 00:58] pbarker commented on #1859
Hey @ErikEngerd heres the code sample:

[code]

[2022-09-09 02:24] z-koki commented on #409
This is because a websocket connection is required if you want to exec into a pod.
See [https://stackoverflow.com/questions/49250370/kubernetes-pod-exec-api-upgrade-request-required](url)
For convenience, you can use wscat or wssh instead. If you insist on using curl, these parameters worked for me:
`--include \
--no-buffer \
--header "Connection: Upgrade" \
--header "Upgrade: websocket" \
--heade

[2022-09-09 03:55] pbarker commented on #1859
ah okay this is because its sending the dictionary as snake_case and k8s is expecting camelCase, solved this by just making a raw dictionary with the proper casing

[2022-09-10 04:50] sharmadhiraj86 commented on #1881
I would like to contribute in solving this issue. So please assign me this issue as I want to work on this and solve this asap. @Lirt

[2022-09-10 11:45] Lirt commented on #1881
Hi @sharmadhiraj86,

I cannot assign anyone as I am not maintainer of the project. Maybe @fabianvf or someone else from OWNERS file could help here?

But I'd say if you open a PR it will probably be automatically assigned to someone from owners.

[2022-09-10 12:14] sharmadhiraj86 commented on #1881
@fabianvf @lavalamp @roycaihw @SEJeff

[2022-09-10 17:41] SEJeff commented on #1881
Instead of tagging every single contributor (which is very annoying), just do the work and open a pull request please.

[2022-09-10 18:18] sharmadhiraj86 commented on #1881
But before that, I need this task assigned to me officially as I have to show this as a proof.

[2022-09-10 19:43] #1764 closed

[2022-09-10 19:50] SEJeff commented on #1881
No you don’t. I’m one of the authors of this lib.

[2022-09-11 03:35] iciclespider commented on #1881
Try coding your `cleanup` method like this:
[code]
From [socket.recv](https://docs.python.org/3/library/socket.html#socket.socket.recv):

Changed in version 3.5: If the system call is interrupted and the signal handler does not raise an exception, the method now retries the system call instead of raising an [InterruptedError](https://docs.python.org/3/library/exceptions.html#InterruptedError) exce

[2022-09-11 09:52] Lirt commented on #1881
Hi @iciclespider,

Thank you for your advice and useful links. It works now :pray:!

From my side this solves the issue. If you would like I can add an example to better clarify how to interrupt the watch stream correctly. If not feel free to close the issue.

[2022-09-11 17:58] larsks commented on #1826
/remove-lifecycle stale

...because this seems like a real bug.

[2022-09-12 16:38] roycaihw commented on #1884
/assign @yliaog

[2022-09-12 16:42] roycaihw commented on #1885
I think this is a question for the Kong project, e.g. how to deploy the KongPlugin to Kubernetes using kubectl. If there is documentation on how to do it using kubectl, you can see what APIs it uses and do the same using this Python client.

[2022-09-12 17:10] yliaog commented on #1884
it seems to be an issue with KubernetesPodOperator in airflow, not necessarily with this python client library. could you please file a bug with airflow?

[2022-09-13 09:41] anilkvp commented on #1885
I am able to add ingress to namespace using python-client, but couldn't find anything for kind 'KongPlugin'

[2022-09-15 05:30] johnlinp opened #1888 "Equivalent function as "kubectl wait --for=condition=complete job/foo""
**What is the feature and why do you need it**:

I would like to use the a function in `kubernetes-client` that is equivalent to:
[code]

**Describe the solution you'd like to see**:

I'm aware that `kubernetes-client` provides a `watch` interface that can achieve this, like [this example](https://stackoverflow.com/questions/65938572/kubernetes-python-client-equivalent-of-kubectl-wait-for-command)

[2022-09-15 12:05] torgeirl commented on #547
/remove-lifecycle stale

[2022-09-15 14:29] rw-nicholas opened #1889 "Client doesn't honor tls-server-name setting in kubeconfig"
**What happened (please include outputs or screenshots)**:

Tried to connect to my cluster with a utility that uses your library. As far as I can tell, the utility's code is correct and the k8s-client python code does not honor the tls-server-name and propagate it down the stack to urllib3.

Received this exception:

[code]

This is explicitly why I set tls-server-name in my kubeconfig.

**What yo

[2022-09-15 16:29] #1603 closed

[2022-09-19 06:27] fred214 opened #1890 "Does the library support "kubectl top pod" api?"
Hi,
I want to using python library to get "top" info of pod, but I cannot find any example or document, does the library support it?

[2022-09-20 08:18] IT-YUNMENGZE opened #1891 "How to get specific values for resource requirements and format them"
**[Documentation: V1ResourceRequirements](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1ResourceRequirements.md)**

**Hi, I need to get the Requests/Limits of Deployment and format them.
The v1ResourceRequirements documentation does not mention how to do it.**

[2022-09-20 08:23] IT-YUNMENGZE commented on #1891
For example, in go-client:
`deployment.Spec.Template.Spec.Containers[0].Resources.Requests.Memory().MilliValue() / 1000 / 1024 / 1024`
 can get the specific int64 value of the memory require and convert to MiB

[2022-09-20 10:33] IT-YUNMENGZE commented on #1891
But in python-client:

[2022-09-20 13:22] #1735 closed

[2022-09-21 00:21] roycaihw commented on #1885
I'm not familiar with KongPlugin. I suspect it's a custom resource. You may try using the [dynamic client](https://github.com/kubernetes-client/python/tree/master/examples/dynamic-client)

[2022-09-21 08:25] wuchenyanghaoshuai opened #1892 "how to use 'create_namespaced_deployment_rollback'"
Hi,

i want to use python library client.create_namespaced_deployment_rollback,
but my kubernetes version v1.23.0  this attribute not found
i know this attribute before in client.ExtensionsV1beta1Api()
now wehere is the create_namespaced_deployment_rollback in ?

Please help me,
Thanks

[2022-09-22 08:30] yabea opened #1893 "load_kube_config() got an unexpected key word argument 'kube_config_path'"
When using load_config() and "kube_config_path" in kwargs:
https://github.com/kubernetes-client/python/blob/16935036252be0fdf164f8ce624bd71eb8d35e89/kubernetes/base/config/__init__.py#L24
load_config(kube_config_path="/")

Received this error:
load_kube_config() got an unexpected key word argument 'kube_config_path'.

because:
![image](https://user-images.githubusercontent.com/15773461/191698473-6

[2022-09-22 12:22] marafa-sugarcrm commented on #1193
was this fixed? i am also getting the error message

[2022-09-22 18:13] #1778 closed

[2022-09-22 18:13] #1784 closed

[2022-09-22 18:13] #1776 closed

[2022-09-22 18:56] fernandoarf opened #1894 "create_namespaced_deployment not finding deployment API version"
**What happened (please include outputs or screenshots)**:
I am trying to generate a deployment for Seldon Core through the CLI using the AppsV1Api.create_namespaced_deployment and I get the following error:

When applying the exact same yaml through "kubectl apply -f" I can successfully create the deployment.

Checking the API Versions on the server I can see that the "machinelearning.seldon.io/v

[2022-09-23 05:58] hterik commented on #1840
/remove-lifecycle stale

Issue remains, here is relevant code: https://github.com/kubernetes-client/python/blob/master/kubernetes/base/stream/ws_client.py#L238

[2022-09-23 15:23] #1783 closed

[2022-09-25 16:43] #1333 closed

[2022-09-26 01:44] hlx98007 commented on #1824
My kubeconfig in ~/.kube/config works with kubectl but having the same issue mentioned above.

[2022-09-26 14:30] wilandm opened #1896 "Watch Stream does not show recent DELETED or MODIFIED events when restarted, only shows ADDED"
**What happened (please include outputs or screenshots)**:

The watch stream method does not show past DELETED or MODIFIED events when the watch is restarted.

If watch.Watch.stream() is running during the event it shows, but if you restart it, out of the older event only ADDED shows. So we are seeing past events, but only of type ADDED.

**What you expected to happen**:

I expect the DELETED and

[2022-09-26 16:44] yliaog commented on #1896
/assign @roycaihw

[2022-09-26 16:47] yliaog commented on #1894
AppsV1Api.create_namespaced_deployment should not be used for this, instead, please use the dynamic client, or custom object  API, since SeldonDeployment is a CRD, not a deployment.

[2022-09-26 16:48] yliaog commented on #1893
/assign

[2022-09-26 16:49] yliaog commented on #1892
/assign

[2022-09-26 16:50] yliaog commented on #1891
/assign @roycaihw

[2022-09-26 16:50] yliaog commented on #1890
/assign

[2022-09-26 16:51] yliaog commented on #1889
/assign

[2022-09-26 16:51] fernandoarf commented on #1894
Thanks for the response.
Using https://github.com/kubernetes-client/python/issues/1792#issuecomment-1127393010 as reference and closing the issue

[2022-09-26 16:51] #1894 closed

[2022-09-26 16:52] yliaog commented on #1888
/assign @roycaihw

[2022-09-26 20:06] pmareke commented on #951
Hi everyone!

After reading the issue, the examples and the e2e tests I would like to give it a try.

As far as I understand I have a couple of e2e tests patching a config map with the 2 strategies right?

Thanks for your time!

[2022-09-26 20:07] pmareke commented on #951
/assign

[2022-09-26 20:17] yliaog commented on #1893
it seems that you have identified the root cause. please send a PR for the fix.

[2022-09-26 20:39] yliaog commented on #1892
ExtensionsV1beta1Api is no longer supported in newer k8s versions. apps/v1 deployment does not have create_namespaced_deployment_rollback anymore.

[2022-09-26 20:41] yliaog commented on #1890
the library provides the API to list pods, you may need to implement the 'top' feature using the API.

[2022-09-26 20:44] yliaog commented on #1889
do you mind to send a PR? Thanks.

[2022-09-27 07:22] pmareke commented on #951
Sorry for the multiple pull requests, I made a typo naming the branch.

[2022-09-27 07:53] chanjaljayaram opened #1900 "Cannot completely ignore SSL verification with OIDC authenticated Kubernetes - doing load_kube_config"
Trying to completely ignore the SSL verification by removing the idp-certificate-authority-data field from the kubeconfig. Sample kubeconfig
[code]
I got it working after making the below code change in kube_config.py (Function _refresh_oidc). The line "verify=config.ssl_ca_cert if config.verify_ssl else **None**" was changed to "verify=config.ssl_ca_cert if config.verify_ssl else **False**"
[code

[2022-09-27 09:48] stan-sz commented on #1733
@roycaihw has this been backported?

[2022-09-27 09:59] #1775 closed

[2022-09-27 17:23] pmareke commented on #1893
Hi @yliaog I'd to give it a try.

I'm not sure if the error is in the [if](https://github.com/kubernetes-client/python/blob/16935036252be0fdf164f8ce624bd71eb8d35e89/kubernetes/base/config/__init__.py#L36) of tbe base config or in the name of the parameters in the load_kube_config [method](https://github.com/kubernetes-client/python/blob/16935036252be0fdf164f8ce624bd71eb8d35e89/kubernetes/base/conf

[2022-09-27 18:16] denduluri opened #1901 "How to convert dynamic client response to JSON"
I am trying to convert the output of Dynamic client which is of type ResourceField https://github.com/kubernetes-client/python/blob/master/kubernetes/base/dynamic/resource.py . I want it to try to convert JSON for further parsing but I am not having luck in doing so. Is there any way to convert it to JSON?

[2022-09-28 10:53] motey commented on #1471
@roycaihw can you give some hints here https://github.com/kubernetes-client/python/issues/1471#issuecomment-899567504

There is a solution but it just lacks at knowledge on how to integrate it.
This feature would enable so much more stuff.

[2022-09-28 15:05] zhanshen8D opened #1905 "A Question regarding metadata.ownerReferences"
Hi,
This is like a question because I am not sure if it's a bug.
We use the kubernetes client to patch a rolebinding with patch_namespaced_role_binding(). It's successful to patch the annotations and labels.
We also need to remove the metadata.ownerreferences but it doesn't succeed. The patch_namespaced_role_binding returns without error but the ownerreferences of the related rolebinding is not re

[2022-09-28 15:10] yabea commented on #1893
Fixed.

https://github.com/kubernetes-client/python/pull/1906/commits/4d5070f4eacd6084c9b320e8fdf37244967f9eff

[2022-09-28 15:18] pmareke commented on #1893
I was waiting for their response, thanks.

[2022-09-28 15:45] zhanshen8D commented on #1905
It seems I can make it with replace_namespaced_role_binding().
So patch_namespaced_role_binding() is not supposed to do it, right?

[2022-09-28 17:13] santosh0705 commented on #1767
I just started with this module and come across this issue. Is this the standard behaviour?
The above solution didn't work for me.

[2022-09-28 22:51] boldandbusted commented on #1557
Howdy. So, I still get the issue in GitHub. I looked at this repo's Wiki, and it seems to be empty. So, I think this issue still is present?

[2022-09-29 13:08] rw-nicholas commented on #1889
Unfortunately, there are lots of hoops to jump through (CLA, tests, company OSS policy that's non-existent, etc) and I am not really a pythonista. This is why I pointed to what I think are the right spots in code base. Also, it seems the client/rest.py is part of the generated code, so not entirely sure how that should be patched (hopefully not yet another [rest_client_patch.diff](https://github.c

[2022-09-29 13:52] Rishit-dagli commented on #1557
@boldandbusted the action runs only when a commit is made to the docs, since we didn't want to run it on every single commit

[2022-09-29 14:21] CarlQLange commented on #1039
In case anyone, like me, happened upon this issue for a handy code sample, the actual problem in the initial post is that the `body` isn't appropriate for a `CronJob` (rather a `Deployment`, which is where the code sample came from initially. For a `CronJob`, you need something like:

[code]

[2022-09-29 15:27] boldandbusted commented on #1557
Thanks for your reply. The Wiki tab on this repp is actually empty when I look at it. So, has it ever been run? Or is there some permissions issue whereby I cant see the resulting product? Cheers.

[2022-09-29 16:30] Rishit-dagli commented on #1557
If you see the actions tab it has actually never been run

On Thu, 29 Sep, 2022, 11:27 Jesse Adelman, ***@***.***> wrote:

[2022-09-29 18:21] #1710 closed

[2022-09-29 18:21] #1742 closed

[2022-09-29 20:47] boldandbusted opened #1907 "Extract information from a kubeconfig?"
Howdy. I'd like to find documentation (or tips here) on how to do the equivalent of the following kubectl command:

[code]

and assign the output here to a variable. Is this possible with this library, and if so, where can I find an example, please? Thanks. :)

[2022-09-30 00:26] yliaog opened #1908 "1.25 Release"
k8s 1.25 has been released, it's time to release the corresponding python client

[2022-09-30 11:34] #1744 closed

[2022-09-30 16:28] pmareke commented on #1901
Hi @denduluri did you try to use the `json.dumps(your_resource.to_dict)`?

[2022-09-30 16:37] pmareke commented on #1907
Hi @boldandbusted reading the config files I think you can read your config (once it's loaded) directly from the `config` object

https://github.com/kubernetes-client/python/blob/74952467e78b651742b7b5bf03594bf41eb8b158/kubernetes/base/config/kube_config.py#L662

Maybe this link helps you!

[2022-10-02 14:58] adikatzen opened #1909 "list_csi_node() error"
I'm trying to get a list of all csi nodes client.StorageV1Api().list_csi_node() function and get the following error
ValueError: Invalid value for `drivers`, must not be `None`
I saw that there is already an issue regarding the same problem (#1778)  but it was closed and I couldn't find the answer..

[2022-10-02 18:55] #1760 closed

[2022-10-03 02:33] Akasurde commented on #1847
/close

[2022-10-03 02:33] #1847 closed

[2022-10-06 18:35] #1791 closed

[2022-10-07 18:22] uelei opened #1911 "load_kube_config fails when decode a not safe url token"
**What happened (please include outputs or screenshots)**:
load_kube_config fails when decode a not safe url token

[code]
**What you expected to happen**:
load correctly the token

**How to reproduce it (as minimally and precisely as possible)**:
change your ~/.kube/config id-token to

[code]

on python repr
[code]

**Anything else we need to know?**:

changing [this line](https://github.com/kube

[2022-10-09 06:38] juiceyang commented on #1824
I'm using aliyun k8s and facing the same problem as well.

It turns out that there're multiple CA with base64 encoded in client-certificate-data in kubeconfig file. Decode the client-certificate-data string and one of the CA is 1024 bits.

The openssl in our image is configured with SECLEVEL=2, which rejects CA with bits less than 2048.

So either get a kubeconfig with 2048 bits CA, or set SECLEVE

[2022-10-09 11:58] ramvikrams commented on #1909
because of inactivity the issue was closed by the bot

[2022-10-09 16:06] rclemsmith commented on #1890
Hello @yliaog , I have started working on this Top featiure for python client. Also i am newbie to opensource contributions. I tried hitting the request path "apis/metrics.k8s.io/v1beta1/nodes" using the ApiClient.call_api method. I am getting the 200 Response, but the data is None

`(None, 200, HTTPHeaderDict({'Audit-Id': 'f47867fc-0eb9-4310-84e6-90d9d88a7d7f', 'Cache-Control': 'no-cache, private

[2022-10-09 17:09] yliaog commented on #1890
could you try getting the data using kubectl ?

[2022-10-09 19:15] ramvikrams commented on #1911
So only ` base64.urlsafe_b64decode(parts[1] + padding).decode('utf-8')` this had to be added sir

[2022-10-10 01:47] hlx98007 commented on #1824
@juiceyang Thanks, changing the cnf file did not work for me, however when I added the following lines to my script, my script worked.
[code]

[2022-10-10 02:09] madclement commented on #1890
Yes, I am getting the expected result using kubectl

<img width="592" alt="image" src="https://user-images.githubusercontent.com/93644717/194790610-f6fa3e4e-f9f4-4728-8267-c65ea3ebcb65.png">

I am also able to get the data when I call the api directly like this

`curl http://localhost/apis/metrics.k8s.io/v1beta1/nodes/ip-20-0-53-61.ec2.internal --header "Authorization: Bearer eyJhbGciOiJSUz.......

[2022-10-10 03:23] rclemsmith commented on #1890
Yes, I am getting the expected result using kubectl

<img width="592" alt="image" src="https://user-images.githubusercontent.com/93644717/194790610-f6fa3e4e-f9f4-4728-8267-c65ea3ebcb65.png">

I am also able to get the data when I call the api directly like this

`curl http://localhost/apis/metrics.k8s.io/v1beta1/nodes/ip-20-0-53-61.ec2.internal --header "Authorization: Bearer eyJhbGciOiJSUz.......

[2022-10-10 12:25] mistersouls commented on #1616
I have implemented this workaound while finxing this issue in our project for those who are interested:

[code]

[2022-10-10 15:38] ThisIsQasim commented on #1679
/remove-lifecycle stale

[2022-10-10 16:09] uelei commented on #1911
Exactly.

[2022-10-10 16:23] ramvikrams commented on #1911
Sir can I make up the changes then

[2022-10-10 16:46] roycaihw commented on #1900
could you elaborate what was working and what wasn't? Trying to understand what you're trying to achieve

[2022-10-10 16:50] roycaihw commented on #1905
kubectl was doing a json patch. We suspect the python client is doing strategic merge patch by default. You may need to specify using json patch with this client.

you can verify what patch was being sent by using
- `-v=9` with kubectl
- debug logging with this python client

[2022-10-10 16:51] roycaihw commented on #1907
/assign @pmareke
Thank you!

/close

[2022-10-10 16:51] #1907 closed

[2022-10-10 16:51] uelei commented on #1911
Sure.

[2022-10-10 16:53] roycaihw commented on #1909
hi, I think we still need to verify the question https://github.com/kubernetes-client/python/issues/1778#issuecomment-1108812973. Could you try that?

[2022-10-10 16:54] roycaihw commented on #1911
/assign @ramvikrams
Thank you!

[2022-10-10 16:55] ramvikrams commented on #1911
thanks sir I will start working on it

[2022-10-10 16:56] ramvikrams commented on #1909
yes sir

[2022-10-10 17:01] #951 closed

[2022-10-10 22:24] yliaog commented on #1890
could you try some examples in this repo, below is a quick one, call from the dynamic client.

https://github.com/kubernetes-client/python/blob/38ba743227524798d6cd58baddb3a6454207451f/kubernetes/base/dynamic/client.py#L270

also try call APIs other than apis/metrics.k8s.io/v1beta1/nodes

it's likely there is some config issue with your calling the API.

[2022-10-11 08:03] OraserZhang commented on #233
您的来信收到，谢谢！

[2022-10-11 09:22] AngelJisoo opened #1914 "leader election mistakenly set "threading.daemon = True""
**What happened (please include outputs or screenshots)**:
When applying leader election to my service on kubernetes, I found that when leader pod lost leadership, it didn't turn to Completed status. Therefore, the pod was still serving and there would be more than 1 pod are serving.
I found the following bug in https://github.com/kubernetes-client/python/blob/master/kubernetes/base/leaderelection

[2022-10-11 13:15] vgupta3 opened #1915 "Add support for idp-certificate-authority key in the oidc auth plugin"
**What is the feature and why do you need it**:
Currently the OIDC auth plugin only supports `idp-certificate-authority-data` key to load CA certificates. It would be good to support specifying CA certificate file also. While managing a lot of clusters encoding the CA certificates in config file makes it a cumbersome to update.
**Describe the solution you'd like to see**:
Support for `idp-certific

[2022-10-12 02:50] rclemsmith commented on #1890
Thanks a lot @yliaog . I was able to get it working by adding the _preload_content parameter as False. I will complete the feature as soon as possible and share the Pull Request.

[2022-10-13 00:43] #1915 closed

[2022-10-13 01:20] nitishmalang commented on #1914
please assign me

[2022-10-13 13:51] juliantaylor opened #1921 "very slow performance due to excessive reconfiguration in modells"
**What happened (please include outputs or screenshots)**:

Running this simple script in a big cluster takes about 30 seconds to execute:

[code]

[code]

as you see it has very high system cpu usage
running this under a profiler shows following interesting things:

[code]

`   190594   10.803    0.000   10.803    0.000 {built-in method posix.cpu_count}`
10 seconds are spent running multiprocessi

[2022-10-13 14:10] juliantaylor commented on #1921
maybe something as simple as this is good?:

[code]

the script runs i 8 seconds with it.

[2022-10-14 19:05] goodspark commented on #1889
Adding a +1. I'm using a kubeconfig with a tls-server-name that's different from the cluster hostname.

I wound up hacking this in a fork bc I also don't know what the process is to get the OpenAPI schema updated and clients regenerated.

This is the crux of the fix, but obviously it needs to plumbed through the configuration object.
https://github.com/goodspark/kubernetes-python/commit/83155ebe8e

[2022-10-17 07:50] waymen opened #1927 "no the method 'list_deployments_for_all_namespaces'"
why

[code]

[2022-10-18 03:20] waymen commented on #1927
Thanks you

[2022-10-18 07:53] daniel-balosh opened #1928 "how can the V1Pod.spec.termination_grace_period_seconds be decreased on termination via API"
**Link to the issue (please include a link to the specific documentation or example)**:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1PodSpec.md

https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1DeleteOptions.md

**Description of the issue (please include output

[2022-10-19 12:19] TehilaRamati opened #1929 "Volume not added to an existing deployment"
**What happened (please include outputs or screenshots)**:
def add_deployment_volume(self, deployment_name, volume_name="ccc"):

        deployment = self.client.AppsV1Api().read_namespaced_deployment(name=deployment_name, namespace=self.eks_cluster_namespace)
        tenant_configmap = self.client.V1ConfigMapVolumeSource(name=volume_name)
        tenant_volume = self.client.V1Volume(name=volume_n

[2022-10-19 14:58] #1792 closed

[2022-10-21 02:09] jmrodri commented on #1908
Any movement on this issue?

[2022-10-21 02:12] yliaog commented on #1908
yes, please see the release notes.

[2022-10-21 02:41] jmrodri commented on #1908
OH! I clicked the latest release and assumed it wasn't done yet. Sorry for not checking the list of releases.

[2022-10-22 12:04] dw86uk opened #1934 "Please can you provide an example of node_selector in V1PodSpec"
Please can you provide an example of node_selector in V1PodSpec please?

I'm struggling to use it

[2022-10-24 09:50] juliantaylor commented on #1908
imo it would be good to still have the fix for https://github.com/kubernetes-client/python/issues/1921 in the release (assuming the fix is as simple as proposed), it is a pretty severe performance issue

[2022-10-24 15:46] reisman234 opened #1936 "Request Body for ApiClient.call_api()"
**Link to the issue (please include a link to the specific documentation or example)**:
Missing ApiClient.md Documentation

**Description of the issue (please include outputs or screenshots if possible)**:
Currently, I'm trying to get a response body for the `/healthz` endpoint. The documentation provides no Information about that or maybe I don't find anything to do that with `ApiClient().call_ap

[2022-10-24 16:33] yliaog commented on #1921
https://github.com/kubernetes-client/python/blob/4dddad8dc47ba7c3eb26af28cc369e852e4a45db/kubernetes/client/api_client.py#L8

    Generated by: https://openapi-generator.tech

any change to the file has to be done in the generator.

[2022-10-24 16:42] roycaihw commented on #1914
/assign @nitishmalang
Thank you!

[2022-10-24 16:42] yliaog commented on #1921
/assign @yliaog

[2022-10-24 16:42] #1927 closed

[2022-10-24 16:48] roycaihw commented on #1928
Could you file an issue in the upstream kubernetes repo to see if this is actually allowed? If we can get an example of how to do it in client-go, we can achieve the same using this python client.

[2022-10-24 19:26] roycaihw commented on #1936
The documentation uses `readyz`. Does `healthz` also return a body? If so, could you run `kubectl` with `-v=9` to see what HTTP request/response it was sending and receiving?

[2022-10-24 20:05] reisman234 commented on #1936
I did try the different health endpoints via kubectl (`kubectl get -v=9 --raw=/healthz?verbose`) and got for each pretty much the same output. In difference to my request, some headers were different `curl -v -XGET  -H "User-Agent: kubectl/v1.23.3 (linux/amd64) kubernetes/816c97a" -H "Accept: application/json, */*" 'https://192.168.49.2:8443/livez?verbose='`, but in the end it didn't change the re

[2022-10-24 20:05] #1936 closed

[2022-10-25 07:53] felixhuettner commented on #1658
/remove-lifecycle stale

[2022-10-25 11:29] taleinat commented on #1840
I've just run into this as well.

Here's a hacky workaround:

[code]

Example data returned when reproducing this, by trying to exec "kill" without a shell:
[code]

[2022-10-25 20:14] roycaihw commented on #1928
I think filing an issue in [kubernetes/kubernetes](https://github.com/kubernetes/kubernetes) may give the issue more visibility. I think we need to understand how to use this API (the API documentation is confusing). Knowing how to do it in client-go or kubectl can help.

[2022-10-26 00:46] yliaog commented on #1908
https://github.com/kubernetes-client/python/releases/tag/v25.3.0 is released.

[2022-10-26 00:46] yliaog commented on #1908
/close

[2022-10-26 00:46] #1908 closed

[2022-10-27 04:36] PyoJunCode commented on #1836
/close

[2022-10-27 04:36] #1836 closed

[2022-10-27 14:50] showjason commented on #1934
Hi @dw86uk
Is this example what you want?
[code]

[2022-10-27 15:01] Aman-g99 opened #1939 "Body is not acccepted as None for patch_certificate_signing_request_approval"
**Link to the issue (please include a link to the specific documentation or example)**:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CertificatesV1Api.md#patch_certificate_signing_request_approval

**Description of the issue (please include outputs or screenshots if possible)**:
[code]

As a workaround -> I tried by adding
`body = {"metadata": {"namespace": "cnsbcapp-ope

[2022-10-28 18:18] trent-abc opened #1940 "Getting some kubernetes resources from the python client impossible"
I'm just getting started in the python client, I'm trying to list some kubernetes resources. I tried all the list & read api from https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md but none of them gave me the resource I'm looking for.  We happen to be using knative in our deployment but the task is simple, get a kubernetes resource and print the result.  Here's m

[2022-10-29 20:33] #1746 closed

[2022-10-30 10:23] showjason commented on #1940
Hi, since `DomainMapping` is  a CRD, please use the dynamic client, or custom object API. Perhaps, you can reference #1894, get helpful information.

[2022-10-31 13:54] rvlane4 opened #1941 "V1beta1PodSecurityPolicy removed in 25.3.0, so cannot support earlier k8s versions with client"
**What happened (please include outputs or screenshots)**:
The kubernetes client removed the V1beta1PodSecurityPolicy class, which I understand since it was removed in kubernetes 1.25.
Howevrer, it would be nice for these removed classes which are supported in earlier versions of kubernetes to be archived and still available.  I have an operator using the client and want to support earlier version

[2022-10-31 16:49] trent-abc commented on #1940
Thanks for that reference, got it working!  In my case I didn't know the name of the resource, it's what I'm trying to query so the tricky part was including name='' in the dynamic query

[code]

[2022-10-31 16:49] #1940 closed

[2022-10-31 19:43] inc0 opened #1942 "certifi version in requirements doesn't correspond to certifi versioning pattern"
**What happened (please include outputs or screenshots)**:

Currently, in our requirements, there is `certifi>=14.05.14 # MPL`, meanwhile, [PyPI certifi release history](https://pypi.org/project/certifi/#history) shows that they follow pattern based on year and month of release. This causes pip error
[code]

**How to reproduce it (as minimally and precisely as possible)**:
I'm not sure why it star

[2022-11-02 08:59] spacether opened #1943 "[RFC] Major breaking changes in an upcoming release, python client generation"
Hi Kubernetes Python client developers, this is a request for comment issue. Please leave comments if you have any opinion/suggestion. Thanks!

What happened:
A majority of the code base is generated code. This repo is switching from using openapi-generator v4.3.0 to v6.2.1. For more backgrounds:

https://github.com/kubernetes-client/python/pull/1887

This change updates the generated python clien

[2022-11-02 23:35] tomplus commented on #1943
Thanks for your contribution :+1:

Definitely it's worth to use the latest version of openapi-generator but from our customers' perspective (people who use this library) each breaking change is always a headache. We should consider adding proxy classes/modules to allow to use old code with deprecation warnings. We used to have a similar problem with renaming modules and we added this:
https://gith

[2022-11-03 11:21] #1723 closed

[2022-11-03 18:22] #1807 closed

[2022-11-04 12:10] mindw commented on #325
/remove-lifecycle stale

[2022-11-04 14:36] juliantaylor commented on #1921
I assume this file needs to be changed?
https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python-legacy/api_client.mustache

though which version? the code here was generated with 4.3.0 and the latest is 6.2.1 if I interpret #1943 correctly. Is the used version still updated?

what is the best way to get this fixed fast? this issue is quite

[2022-11-04 15:53] yliaog commented on #1921
please submit the fix in the openapi-generator, that is the best way to fix it.

[2022-11-04 17:29] juliantaylor commented on #1921
too which version?

[2022-11-04 18:24] yliaog commented on #1921
to the latest, then backport it to the version this repo is using currently.

[2022-11-04 18:27] juliantaylor commented on #1921
which is?

[2022-11-04 18:36] gary-scio commented on #1813
My understanding is that pyup.io tracks which Kubernetes API Version is used by a kubernetes python client version. If the Kubernetes API Version is compiled with go v1.6 or an earlier version, it will affect the python client indirectly.

It seems the issue should have been resolved by v25.3.0. I raised https://github.com/pyupio/safety-db/issues/2358 for pyup.io to update their safety database.

[2022-11-04 19:08] m-wcislo opened #1944 "Using usedforsecurity in dynamic/discovery.py makes kubernetes-client work only in python >= 3.9"
**What happened (please include outputs or screenshots)**:
As discovered in https://github.com/devopsspiral/KubeLibrary/issues/118 latest changes to the dynamic/discovery.py depend on python3.9 where usedforsecurity was introduced:

[code]
**What you expected to happen**:
Support for python>=3.7 (still in life)

**Environment**:
- Python version (`python --version`)
Python 3.8
- Python client vers

[2022-11-04 20:36] #1780 closed

[2022-11-06 09:57] #1663 closed

[2022-11-07 09:09] juliantaylor commented on #1921
the generator does not support old versions https://github.com/OpenAPITools/openapi-generator/pull/13922#issuecomment-1305059264

I strongly recommend to patch this locally for the current release

[2022-11-07 17:44] roycaihw commented on #1939
Do you have an example of success using kubectl? Could you provide the details by running the command with `kubectl --v=9`? If we have a example using kubectl, we can achieve the same with this Python client.

[2022-11-07 17:45] yliaog commented on #1941
could you still use 24.x.y client for your use case? the python client is generated from upstream k8s, it's in sync with the upstream.

[2022-11-07 17:47] yliaog commented on #1942
could you send a pr to fix it? thanks.

[2022-11-07 17:48] yliaog commented on #1944
/assign @fabianvf could you please take a look?

[2022-11-07 17:48] yliaog commented on #1944
/assign @fabianvf

[2022-11-08 00:11] Aman-g99 commented on #1939
Hi @roycaihw ,
After deploying the crt and pem file as a secret successfully through client api's.
I used this kubectl command to approve the csr : `kubectl -n "${namespace}" certificate approve "${fqn}"` and it worked fine. (and the output came as expected, csr was approved and I have added the same at the end of the description above.)
But when I am trying to use the api for this APPROVE step -

[2022-11-08 12:32] ryanf351 opened #1945 "'str' object has no attribute 'path' error when attepting to load_kube_config or load_kube_config_from_dict"
**What happened (please include outputs or screenshots)**:
Error Statement
  "errorMessage": "'str' object has no attribute 'path'",
  "errorType": "AttributeError",
  "stackTrace": [
    "  File \"/var/task/index.py\", line 61, in lambda_handler\n    config.load_kube_config_from_dict(kube_content)\n",
    "  File \"/opt/python/kubernetes/config/kube_config.py\", line 848, in load_kube_config_from

[2022-11-08 15:05] AlexisZam opened #1946 "Requests from outside the cluster may have stale tokens and fail with status code `401`"
### What happened

A request to Kubernetes **from outside the cluster** failed with status code `401`, even though the configuration had been loaded and previous requests had been successful.

The traceback is

[code]

### What you expected to happen

Given the `410 Unauthorized` response, we can safely assume that the problem lies with tokens and more specifically the way tokens are refreshed.

T

[2022-11-09 08:46] felixhuettner commented on #1718
/remove-lifecycle stale

[2022-11-10 09:19] yfried commented on #1617
/remove-lifecycle stale
Still a bug

[2022-11-10 09:43] AlexisZam opened #1948 "Requests from inside the cluster misuse the API to refresh tokens"
## Problem statement

The OpenAPITools/openapi-generator/pull/3594 PR added the `refresh_api_key_hook()` hook to `Configuration()` objects to refresh expired (or expiring) tokens. This hook is undefined by default. If defined, the `get_api_key_with_prefix()` method will call it to refresh the token _before_ returning it.

### Out-of-cluster

The kubernetes-client/python-base/pull/250 PR defined th

[2022-11-10 09:45] mark8s commented on #1378
nice

[2022-11-10 12:33] hterik commented on #1841
/remove-lifecycle rotten

[2022-11-10 21:44] SergeyKanzhelev commented on #1733
/remove-lifecycle stale

[2022-11-11 01:38] kposborne commented on #1247
From this stack overflow question, here is an example of using the custom objects api to get the metrics:
https://stackoverflow.com/questions/63295451/i-need-to-get-resource-usage-of-pods-in-a-kubernetes-cluster-with-kubernetes-pyt
[code]

[2022-11-11 01:45] #1669 closed

[2022-11-11 09:05] reisman234 opened #1950 "Create ConfigMap from env-file example"
I'm missing an example to create a ConfigMap from en env-file, like it is done with kubectl `kubectl create configmap test --from-env-file=resources/demo.env`

In the Docs for [V1ConfigMap](https://github.com/kubernetes-client/python/blob/b313b5e74f7cf222ccc39d8c5bf8a07502bd6db3/kubernetes/docs/V1ConfigMap.md) I see the data is to be added as a `dict(str, str)`type. Is there a helper function to m

[2022-11-11 09:47] Ark-kun commented on #1234
/reopen

[2022-11-11 10:17] Mubangizi commented on #1232
Any update on this Issue?

[2022-11-11 10:20] reisman234 commented on #1950
ok, never mind, I just used the `dotenv` package to read env-files

[code]

[2022-11-11 10:21] #1950 closed

[2022-11-12 17:42] snjypl commented on #1729
/remove-lifecycle stale

[2022-11-13 17:41] spacether commented on #1943
Thanks for the feedback @tomplus
I will work on updating examples and e2e tests.
Just now I updated that statement to read `- So you will need to update all of your endpoint calls that have query/path/header/cookie params to pass that parameter data in query_params, header_params, path_params, cookie_params named argument inputs with values of type dict`
What other points need clarification?

[2022-11-13 17:56] rvlane4 commented on #1941
Yeah, I understand that you are following upstream, but we try to keep our Kubernetes client up-to-date, but we also have to support installations on previous versions of Kubernetes.  Maintaining backward compatibility is important for this reason.  I expect I could create the PodSecurityPolicy a raw custom object to get around this.

Thanks,

Rick Lane

From: Yu Liao ***@***.***>
Sent: Monday, No

[2022-11-13 23:18] #1832 closed

[2022-11-17 09:56] #1837 closed

[2022-11-19 08:29] #1881 closed

[2022-11-19 10:36] Japan50079 opened #1952 "Python 3.8.0"
activation code

[2022-11-19 10:39] Japan50079 opened #1953 "facebook messenger **How"
**What happened (please include outputs or screenshots)**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (`kubectl version`):
- OS (e.g., MacOS 10.13.6):
- Python version (`python --version`)
- Python client version (`pip list | grep kubernetes`)

[2022-11-19 13:35] ryota2425 commented on #1430
I am surprised that this problem has not been resolved yet. Are there any alternatives?

[2022-11-19 23:46] fabianvf commented on #1430
@ryota2425 I believe the dynamic client [supports it](https://github.com/kubernetes-client/python-base/pull/254)

[2022-11-20 08:08] ryota2425 commented on #1430
Thanks. That is what I was looking for.

[2022-11-21 12:33] ramvikrams commented on #1953
What is the issue

[2022-11-21 13:32] alfredkrohmer commented on #1682
What do you mean with inactivity? I described the problem precisely and provided as much input as possible and requested. Why was this closed?

[2022-11-21 15:39] jareddjenkins commented on #1862
remove-lifecycle rotten

[2022-11-21 15:41] jareddjenkins commented on #1862
remove-lifecycle rotten

[2022-11-21 15:41] jareddjenkins commented on #1862
/remove-lifecycle rotten

[2022-11-21 15:41] jareddjenkins commented on #1862
/remove-lifecycle stale

[2022-11-21 16:05] alfredkrohmer commented on #1682
/reopen

[2022-11-22 12:20] gun082544 opened #1954 "Cannot create roles by create_namespaced_role function"
**What happened (please include outputs or screenshots)**:
Ans: I cannot run create_namespced_role function and its return error

This is my code.
<img width="886" alt="Screenshot 2565-11-22 at 19 11 22" src="https://user-images.githubusercontent.com/56395331/203311504-63a5aaae-6a72-444a-a0ff-81e6726101ea.png">

**Environment**:
- Python 3.9
- Kubernetes 25.3.0
- Kubernetes node v1.23.13-eks-fb459

[2022-11-22 14:27] FernandezMathieu commented on #1944
We're facing the same issue here, please anybody can fix ?

[2022-11-22 19:04] #1944 closed

[2022-11-23 02:28] bentastic27 commented on #1954
@gun082544 I was curious about this. The [spec](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1Role.md) calls for a list of rules. So changinging to this works (note the `[]`):

[code]

[2022-11-23 13:04] bentastic27 commented on #1945
I wonder if this is somehow unique to Lambda, this works for me on MacM1, Python 3.10, kubernetes 25.3.0.

[code]

[2022-11-23 19:56] coopstah13 opened #1957 "custom objects API should support label selectors for delete collection methods"
**What is the feature and why do you need it**:
I would like to be able to delete custom objects using a label selector.

**Describe the solution you'd like to see**:
Support the label_selector kwarg in delete methods

[2022-11-23 19:59] klatimer opened #1958 "Link to generated documentation is broken"
When following the link in the README to the generated docs, browser gives a 404.

https://github.com/kubernetes-client/python#documentation

[2022-11-23 20:00] klatimer commented on #1958
My mistake. It started working for some reason.

[2022-11-23 20:00] #1958 closed

[2022-11-24 09:09] felixhuettner commented on #1658
/remove-lifecycle rotten

[2022-11-24 21:00] ramvikrams commented on #1942
could you please for what could be a fix for this

[2022-11-25 04:02] gun082544 commented on #1954
@bentastic27  It works! Thank you.

[2022-11-25 04:02] #1954 closed

[2022-11-25 10:21] #1846 closed

[2022-11-25 20:07] madkinsz commented on #1658
Can a maintainer determine if this is open for contribution and suggest the best way to add such metadata?

[2022-11-25 21:33] aantn commented on #1867
/remove-lifecycle rotten

This is a fairly major issue for us!

[2022-11-27 00:49] Jsalz2000 opened #1959 "Issue with DynamicClient"
**What happened (please include outputs or screenshots)**:
[code]

**What you expected to happen**:
Was trying to create the dynamic client so I can apply a deployment to the cluster

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
I am trying to use DynamicClient in order to use an API extension from an operator (for ex prometheus oper

[2022-11-30 12:24] flybyray opened #1960 "server_side_apply fails from ansible call """Object of type bytes is not JSON serializable""""
**What happened**:

Trying to test `server_side_apply` with ansible task.
Executed a simple ansible task like this:

[code]

[code]

**What you expected to happen**:
`rc: 0`. No error. It is an object which already exists.

**How to reproduce it**:
idk. I am not quite sure for what the current test case is good for.
There is a different call stack. the `json.dumps`  is executed on a `body` which i

[2022-11-30 12:49] flybyray commented on #1960
Closing most probably not a bug in kubernetes-client.
The body is passed as `bytes` into kubernetes-client:
https://github.com/ansible-collections/kubernetes.core/blob/2.3.2/plugins/module_utils/apply.py#L134-L137

[2022-11-30 12:49] #1960 closed

[2022-11-30 17:46] CastixGitHub commented on #1867
py-spy screenshoot
![Screenshot from 2022-11-30 18-40-35](https://user-images.githubusercontent.com/21062669/204869862-53c2a4ca-b686-4390-89a1-d2473d8a2a43.png)
[code]
~1000 TLS secrets

[2022-11-30 17:49] CastixGitHub commented on #836
/reopen