[2020-09-14 15:42] adamnovak commented on #953
/remove-lifecycle stale

This is still outstanding I think

[2020-09-14 16:50] roycaihw commented on #1246
/assign @palnabarun

[2020-09-14 16:51] roycaihw commented on #1247
/assign @yliaog

[2020-09-14 16:53] roycaihw commented on #1255
/assign @palnabarun

[2020-09-14 17:07] yliaog commented on #1247
https://kubernetes.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/

provides information about how to setup metrics pipeline to collect metrics. do you have it setup properly in you cluster? could you use kubectl to get the metrics?

[2020-09-14 17:15] yliaog commented on #1247
also please try using the dynamic python client, https://github.com/kubernetes-client/python-base/tree/master/dynamic

[2020-09-14 20:07] roycaihw commented on #1245
This is a openapi spec issue that needs to be fixed in the upstream https://github.com/kubernetes/kubernetes/issues/69014.

[2020-09-14 20:11] roycaihw commented on #1248
The method name is [patch_namespaced_daemon_set](https://github.com/kubernetes-client/python/blob/v11.0.0/kubernetes/docs/AppsV1Api.md#patch_namespaced_daemon_set). I noticed that you missed a `_` in your code. Was that a typo?

[2020-09-14 20:22] roycaihw commented on #1232
@pigletfly 12.0 release corresponds to Kubernetes 1.16, which still has those API groups.

[2020-09-14 20:23] jicowan commented on #1248
No, not a typo.  I used what intellisense suggested when I typed . after the client.

[2020-09-14 20:36] roycaihw commented on #1256
It looks like the server doesn't host the API, which is weird because IIRC the rollback API gets dropped in 1.18, and should be still available in [1.17](https://v1-17.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#rollback-deployment-v1beta1-apps). Does kubectl rollout works?

[2020-09-14 20:40] roycaihw commented on #1256
The apps/v1beta1 and extensions/v1beta1 API groups are not served by default since 1.16. Have you enabled them in the apiserver? Could you run kubectl api-versions to double check?

[2020-09-14 20:50] roycaihw commented on #1244
Using 0.x.y corresponding to Kubernetes 1.x.y has the following downsides:
- The python client version goes backwards (from 11.0.0 to 0.x.y). People running `pip install --upgrade` may not be able to pick up the latest versions.
- Sometimes we do patch releases in this client for bug fixes (e.g. 8.0.1, 8.0.2). We don't have digits left to number our own patches.

[2020-09-15 01:34] roycaihw commented on #1248
Sounds like a problem with the autocomplete. Does using `patch_namespaced_daemon_set` fix the issue?

[2020-09-15 05:25] wzg0120 commented on #1256
kubectl rollout  is ok。
`[root@k8smaster02 ~]# kubectl api-versions
admissionregistration.k8s.io/v1
admissionregistration.k8s.io/v1beta1
apiextensions.k8s.io/v1
apiextensions.k8s.io/v1beta1
apiregistration.k8s.io/v1
apiregistration.k8s.io/v1beta1
apps/v1
authentication.k8s.io/v1
authentication.k8s.io/v1beta1
authorization.k8s.io/v1
authorization.k8s.io/v1beta1
autoscaling/v1
autoscaling/v2beta1
au

[2020-09-15 05:26] wzg0120 commented on #1256
kubectl rollout is  ok.

[root@k8smaster02 ~]# kubectl api-versions
admissionregistration.k8s.io/v1
admissionregistration.k8s.io/v1beta1
apiextensions.k8s.io/v1
apiextensions.k8s.io/v1beta1
apiregistration.k8s.io/v1
apiregistration.k8s.io/v1beta1
apps/v1
authentication.k8s.io/v1
authentication.k8s.io/v1beta1
authorization.k8s.io/v1
authorization.k8s.io/v1beta1
autoscaling/v1
autoscaling/v2beta1
au

[2020-09-15 08:46] efotopoulou commented on #1247
Thank you yliaog for your response. i can fetch the metrics using kubectl without problem. The question was if i can get them via the kubernetes-client APIs.
I am not sure which API i should use so as to fetch the V2beta2PodsMetricStatus model.

Just for helping any other developer, this is how i fetch the metrics from kubectl via my python app:
[code]

Not sure how to use the dynamic client you p

[2020-09-15 11:39] palnabarun commented on #1255
Hi @vepatel :wave:, we are going to release the client based on Kubernetes 1.18 shortly. Issue #1242 tracks the release cadence.

[2020-09-15 11:41] palnabarun commented on #1246
Hi @alextaran1996 :wave:, looking at your error logs, a few questions came to my mind:
1. Are you able to perform the same using kubectl?
2. Is there a proxy sitting between wherever you are running the code and the Kubernetes cluster's API server?

[2020-09-15 12:05] feixiaohuijava commented on #852
how did you import "v1 = client.PrometheusRuleV1Api()"?  Does client has property PrometheusRuleV1Api?

[2020-09-15 12:13] palnabarun opened #1257 "[CI] Set up GitHub Actions workflows for the remaining jobs"
The current GitHub Actions lack the following compared to our Travis CI builds:

1. Functional tests.
2. Docs, pycodestyle, coverage
3. PyPI release

We need to add the same and disable Travis CI builds.

[2020-09-15 12:13] palnabarun commented on #1257
/assign

[2020-09-15 14:32] jicowan commented on #1248
Yes, it did, however I would suggest making the API calls consistent, e.g. patch_namespaced_daemon_set and patch_namespaced_daemonset_with_http_info.  Is there a particular reason 1 has a `_`  between daemon and set and one doesn't?

[2020-09-15 17:10] #1085 closed

[2020-09-16 09:09] wzg0120 commented on #1256
kubectl rollout is ok.

[root@k8smaster02 ~]# kubectl api-versions
admissionregistration.k8s.io/v1
admissionregistration.k8s.io/v1beta1
apiextensions.k8s.io/v1
apiextensions.k8s.io/v1beta1
apiregistration.k8s.io/v1
apiregistration.k8s.io/v1beta1
apps/v1
authentication.k8s.io/v1
authentication.k8s.io/v1beta1
authorization.k8s.io/v1
authorization.k8s.io/v1beta1
autoscaling/v1
autoscaling/v2beta1
aut

[2020-09-16 09:11] wzg0120 commented on #1256
@roycaihw
kubectl rollout is ok.

[root@k8smaster02 ~]# kubectl api-versions
admissionregistration.k8s.io/v1
admissionregistration.k8s.io/v1beta1
apiextensions.k8s.io/v1
apiextensions.k8s.io/v1beta1
apiregistration.k8s.io/v1
apiregistration.k8s.io/v1beta1
apps/v1
authentication.k8s.io/v1
authentication.k8s.io/v1beta1
authorization.k8s.io/v1
authorization.k8s.io/v1beta1
autoscaling/v1
autoscaling/v

[2020-09-16 14:32] #1248 closed

[2020-09-17 06:10] ChocolatePadmanaban commented on #435
@yspreen
i tied to replicate you your method but i got stuck with this error
`>>> from kubernetes import client, config

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/pradeepp/miniconda3/envs/workout/lib/python3.8/site-packages/kubernetes/client/api/custom_objects_api.py", line 954, in get_namespaced_custom_object
    (data) = self.get_namespaced_custom_obj

[2020-09-17 11:54] vepatel commented on #1255
Thanks for the update @palnabarun

[2020-09-18 08:43] sunchill06 opened #1258 "error while installing python client package"
Getting the following error while installing the k8s python client package created from the repo, any pointers?

[code]

[2020-09-18 11:34] alextaran1996 commented on #1246
Sorry was the issue from my side. Authentication was placed in the wrong part of the script.

[2020-09-18 11:34] #1246 closed

[2020-09-18 13:21] sunchill06 commented on #1258
After installing cachetools version 3.1.1, the earlier mentioned issue is resolved now.

However, I am getting following now:

Installed /usr/lib/python2.7/site-packages/google_auth-1.21.2-py2.7.egg
Searching for pyyaml>=3.12
Reading https://pypi.org/simple/pyyaml/
Downloading https://files.pythonhosted.org/packages/64/c2/b80047c7ac2478f9501676c988a5411ed5572f35d1beff9cae07d321512c/PyYAML-5.3.1.ta

[2020-09-19 20:47] #1136 closed

[2020-09-20 15:43] raphael-bos commented on #1234
I have faced the same problem this last week. After spending a fair amount of time investigating, I came to the conclusion the problem is with the TCP Keep Alive socket option, which urllib3 doesn't set by default. So, while running a long http request, the server doesn't get any tcp keep alive probes from the client and decides to close the connection without notifying the client, which then hang

[2020-09-22 23:44] razilevin opened #1261 "Disable Portforward Websocket logging"
When using port-forward I see excessive logging which I cannot figure out how to disable.

[code]

**Environment**:
kubernetes 12.0.0-snapshot

[2020-09-23 06:21] dinvlad commented on #1005
/remove-lifecycle stale

[2020-09-23 16:05] razilevin commented on #1258
Looks like your environment does not have everything it needs to build PyPaml . gcc is a compiler that should be in your path for python to compile c code in your PyPaml package. Depending on your OS you can install gcc.

E.g.
Linux RPM might `sudo apt-get install build-essentials`

[2020-09-23 21:46] maephisto666 opened #1263 "Cannot find a clear example for Configuration and how to manage multiple configurations"
Let's take the following 2-3 snippets
- https://github.com/kubernetes-client/python#examples
- https://github.com/kubernetes-client/python/blob/master/kubernetes/README.md#getting-started

It is clear to me that to set the configuration to communicate with the k8s cluster there are at least 2 ways:
- loading a `kubeconfig` file
- setting some parameters inside a `Configuration` object and create a

[2020-09-24 09:26] daganida88 commented on #234
Solved it for me also

[2020-09-24 16:18] DavidSpek commented on #1195
I believe this page is more relevant in regards to VolumeSnapshot, VolumeSnapshotClass & VolumeSnapshotContent being CRDs.
https://kubernetes.io/docs/concepts/storage/volume-snapshots/#introduction

[2020-09-24 20:42] nachoparodi opened #1264 "bug with list_namespaced_deployment"
Hello friends, i have a problem with the client, i want to find a solution with your help. sorry my leguaje. Maybe I'm doing something wrong.

**What happened (please include outputs or screenshots)**:

i have a backend service that consume the kubernets api client, in the module CoreV1Api it's response ok, but in the AppsV1Api with the endpoint:  list_namespaced_deployment(namespace = ns, pretty

[2020-09-25 08:38] tarun-wadhwa-mmt commented on #1256
Verified that extensions/v1beta1 is enabled.
kubectl version is 1.16.8

Still getting 404 for rollback request. Tested with kubernetes-client 12.0.0b1 as well..

[2020-09-25 08:41] tarun-wadhwa-mmt commented on #1256
[Found another issue ](https://github.com/kubernetes-client/python/issues/1232) which raises same problem. kubernetes 12 should use apps/v1 for rollback since apps/v1beta1 and extensions/v1beta1 seems deprecated

[2020-09-26 13:51] DavidSpek commented on #1172
I am currently also facing this issue as I am trying to create volume snapshots. As per issue https://github.com/kubernetes-client/python/issues/1195, the suggested CustomObjects API doesn't seem the way to go and I believe `kubernetes.client.ApiextensionsV1Api` is needed as volume snapshots are CRDs and not custom objects. Is there a workaround for this issue? For reference I am using charmed kub

[2020-09-26 15:32] DavidSpek commented on #1195
For those searching for how to create a volume snapshot with the python client, here are 2 code snippets to create a snapshot from a CephFS PVC and to then create a PVC from said snapshot.

Create CephFS snapshot:
[code]

Create CephFS PVC from above snapshot:
[code]

[2020-09-28 01:59] #1152 closed

[2020-09-28 16:36] roycaihw commented on #1261
/assign

[2020-09-28 16:36] roycaihw commented on #1263
/help

[2020-09-28 23:19] razilevin commented on #1261
The root cause was urllib3 logging the request and response.

To fix I had to write the following code to suppress these logging statements.
`urllib3.connection.HTTPConnection.debuglevel = 0`

What led me to believe that this was caused by port forwarding was not seeing those logging statements when a direct
`kubectl port-forward...` was executed instead of the very cool urllib3 default socket fac

[2020-09-28 23:19] #1261 closed

[2020-09-29 17:05] #1264 closed

[2020-09-29 21:30] tomplus commented on #1263
Hi @maephisto666

There is an example which list pods from two different clusters: https://github.com/kubernetes-client/python/blob/master/examples/multiple_clusters.py maybe it helps.

[2020-09-29 23:43] roycaihw commented on #1261
The client configuration has a debug switch that sets the debuglevel: https://github.com/kubernetes-client/python/blob/master/kubernetes/client/configuration.py#L250-L270. Did you accidentally set it? I would be surprised if port-forward overrides the debuglevel.

[2020-09-29 23:50] roycaihw commented on #1264
Could you use kubectl to double-check if there is any deployment in that namespace? Also could you enable [debug logging](https://github.com/kubernetes-client/python/blob/945aac9f1ece97b39c8598e769ada5a65355fdde/examples/deployment_crud.py#L91-L94) to see if the client-python request is for the same namespace?

[2020-09-30 01:34] maephisto666 commented on #1263
You are right @tomplus. There I can see the second option. Instead of calling the method `config.load_kube_config()` with no params, you can use either `config.new_client_from_config` or `config.load_kube_config` with one param to create the api_client object you can use later to create the `CoreV1Api`.

[2020-09-30 01:34] #1263 closed

[2020-09-30 01:36] roycaihw commented on #1170
A proposal about cutting the following releases is in https://github.com/kubernetes-client/python/issues/1242.

/remove-lifecycle stale

[2020-09-30 01:37] roycaihw commented on #1172
Closing as 12.0.0b1 has been released.

/close
/remove-lifecycle stale

[2020-09-30 01:37] #1172 closed

[2020-09-30 12:54] gabrielcalderon commented on #1070
@palnabarun When is the official release of 12.0.0 planned for?

[2020-10-01 06:17] tarunwadhwa13 commented on #1232
Any update on this? Rollback is indeed an important feature. Release 12 is still in beta. These updates can be incorporated I believe

[2020-10-02 21:42] bendavis78 opened #1272 "How can I get the correct API object for cert-manager Certificates?"
I would like to use the python client to apply `Certificate` resources under the `cert-manager.io/v1alpha2` API. Does the kubernetes python client support making calls for this?

[2020-10-02 21:58] bendavis78 commented on #1272
Never mind - I found the `CustomObjectsApi` which appears to suit my needs.

[2020-10-02 21:58] #1272 closed

[2020-10-03 23:00] tvkit commented on #1168
Why would you want to do that?  :grin:

---

I'm using `ytt` to generate the config. It doesn't seem to have (or couldn't find) python integration.  So I'm using a shell wrapper to run the command.   [Here's a decent example for an arbitrary shell operation](https://code-maven.com/python-capture-stdout-stderr-exit). Essentially:

[code]

I'm caching the `ytt` output into temp file, and subsequentl

[2020-10-04 10:43] shiba24 commented on #524
+1 for this feature - one option may be like `moto` library for AWS services, create a decorator-based one?
https://github.com/spulec/moto

[2020-10-06 01:51] jheiss commented on #1070
Alternatively, is there any reason to expect big changes from the beta to the full 12.0 release? If the beta is probably pretty close to release quality I might go ahead with using it for now.

[2020-10-06 12:33] nimrodishi opened #1275 "Accessing pod attributes using jq syntax"
Hi!
When using kubectl via the cli, I can do:
[code]
Is there any way to do something similar here?
I have:
[code]
since to_dict() doesn't convert values to str(values), it doesn't work, nor does `pyjq.all(<a parameter script>, pod.to_str())`
I now manually parse the <script> parameter, and then:
[code]

tl;dr
pyjq doesn't work with V1Pod class, need to manually break this down

Is there any offic

[2020-10-06 13:26] MoShitrit commented on #1275
Hey @nimrodishi !
If I understand your question right, take a look at [preload_content](https://github.com/kubernetes-client/python/blob/bc79976edfe01b028aef0b93bde54e002b113443/kubernetes/client/rest.py#L122-L124).
It defaults to `True`, which parses the output of your request to a `V1Pod` object.
Instead, if you pass `preload_content=False` to your request, you get a `json` object back which you

[2020-10-07 08:59] Smana opened #1276 "Load system certificates by default instead of Mozilla root certs"
Hi everyone!

We have our own pki and the ca certificate is loaded into the system.
However, using the kubernetes python doesn't support loading system certs.

I checked the urllib changes and it is supposed to work (https://github.com/urllib3/urllib3/pull/1608)

[code]

Currently the default behaviour of the kubernetes python librairy is to use Mozilla's root certificates (https://github.com/kube

[2020-10-07 20:15] controller-switch-assignment commented on #951
this issue is marked as good for beginners, but seems old. can I still help as my first issue?

[2020-10-08 17:32] mindw commented on #325
/remove-lifecycle stale

[2020-10-11 06:56] Formartha opened #1279 "Return kubernetes version from the client"
Hi,

I tried looking into it, but I couldn't find any referenced option for K8S version? e.g. equivalent command to **kubectl version** (there, I'm looking for "server version".

Hope anyone can help,
Thanks!

[2020-10-12 16:41] palnabarun commented on #1276
This issue is similar to https://github.com/kubernetes-client/python/issues/1131

[2020-10-12 16:41] roycaihw commented on #1276
cc @palnabarun

This file is generated by openapi-generator. Should this be an upstream generator issue?

[2020-10-12 16:48] palnabarun commented on #1131
/lifecycle frozen
/assign

[2020-10-12 16:49] roycaihw commented on #1279
/assign

[2020-10-12 22:22] roycaihw commented on #1275
Moshe is correct. Please use `_preload_content=False` if you want to get the raw data.

[2020-10-12 22:32] #1279 closed

[2020-10-13 00:44] adamnovak commented on #994
/remove-lifecycle stale

I've rebased https://github.com/kubernetes/kubernetes/pull/84810 again in hopes of eliminating the merge conflicts.

[2020-10-14 16:11] palnabarun commented on #1165
/remove-lifecycle rotten

[2020-10-14 16:11] palnabarun commented on #1171
/remove-lifecycle rotten

[2020-10-14 16:20] palnabarun commented on #1070
@gabrielcalderon @jheiss -- The stable release is due with this PR -> #1280 :)

@jheiss -- The beta version is almost near to stable quality. The Kubernetes API doesn't change across Alpha/Beta/Stable client releases.

[2020-10-14 22:29] ofek commented on #771
@palnabarun Can this be re-opened please?

[2020-10-15 01:22] brews commented on #1070
v12.0 is released for [k8s API 1.16.15](https://github.com/kubernetes-client/python/blob/release-12.0/CHANGELOG.md) so this should be closed?

[2020-10-15 01:25] gabrielcalderon commented on #1070
@brews Agree, progress for 1.17, etc is now tracked here: https://github.com/kubernetes-client/python/issues/1242

[2020-10-15 09:23] palnabarun commented on #1258
@sunchill06 -- Hi :wave:, is your issue resolved now? :)

[2020-10-15 11:26] limonkufu opened #1284 "host is set to localhost when loading from kube config file in v12"
**What happened (please include outputs or screenshots)**:
We are using the following code to set up:
[code]

The `kubeconfig` file has `server` field set up correctly. This is working with with version 11.0.0 correctly but when we change the version to 12.0.0 then it returns:

`HOST INFO: http://localhost`

I tried to investigate it and according to [kube_config.py file](https://github.com/kubern

[2020-10-15 19:25] Limonkufu commented on #1284
@felixhuettner thanks this solves the issue but using `get_default_copy()` instead of direct call seems counter-intuitive after setting the configuration from file. (note that this change is also not documented in the readme/examples)

[2020-10-15 19:25] booooh commented on #1054
With 12.0.0 being released, is this planned for the next release?

[2020-10-15 22:20] palnabarun commented on #1025
/remove-lifecycle rotten

[2020-10-16 10:26] love-miao opened #1288 "How to get the current pod's namespace"
**Link to the issue (please include a link to the specific documentation or example)**:

**Description of the issue (please include outputs or screenshots if possible)**:

I run it in a pod.
I want to get the current pod's namespace。
Is there such a method？

[2020-10-16 13:10] MoShitrit commented on #1288
@love-miao if I understand your need correctly- you are trying to figure out which namespace does a currently active pod runs in? If that's the case, I wouldn't use the Python client for that, there's a much easier way that doesn't require any coding.
Take a look at the [Downward API](https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/). For exampl

[2020-10-17 08:34] mindw commented on #323
/remove-lifecycle stale

[2020-10-19 02:26] love-miao commented on #1288
Thank you for your reply

I use the client to run a cronjob type pod. The purpose of this job is to regularly clean up some contents of all pods in the current namespace

[2020-10-19 03:31] jujis008 opened #1290 "Fail to create config map due to AttributeError: 'dict_keys' object has no attribute 'openapi_types'"
**What happened (please include outputs or screenshots)**:
while calling the create config map API the error shows:
[code]

**What you expected to happen**: The correct config map created

**How to reproduce it (as minimally and precisely as possible)**:
running
[code]
data is a python dict
**Anything else we need to know?**:

**Environment**:
- OS (e.g., MacOS 10.13.6): Ubuntu 16
- Python version

[2020-10-19 17:49] MoShitrit commented on #1288
@love-miao gotcha.
So I hope my suggestion worked out for you?

[2020-10-19 19:57] klarose commented on #977
Any more interest in this?

[2020-10-20 02:03] love-miao commented on #1288
Thank you very much. Your advice is very good

[2020-10-20 02:03] #1288 closed

[2020-10-20 02:04] love-miao commented on #1288
The problem has been solved

[2020-10-20 07:57] love-miao opened #1293 "use kubernetes client in pod"
**Link to the issue (please include a link to the specific documentation or example)**:

**Description of the issue (please include outputs or screenshots if possible)**:
I want to use kubernetes client in pod, but I don't want to use the default serviceaccount of pod. I want to define a unified serviceaccount. How can I use this serviceaccount in kubernetes client, can I only get the token method

[2020-10-20 12:52] yuzisun opened #1294 "watcher throws error exactly after 5 mins on Kubernetes 1.16"
**What happened (please include outputs or screenshots)**:
Setup a watcher with listing pods in a namespace but it throws following error after exactly 5 minutes, this only happens when we upgrade to kubernetes 1.16, it works fine with Kubernetes 1.15. Tested with both client 11.0.0 and 12.0.0 versions and have the same issue.

[code]

**What you expected to happen**:
the watcher should keep runni

[2020-10-20 13:05] MoShitrit commented on #1293
Hey again @love-miao 😄
Take a look at [this](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/) doc. It explains how to mount a serviceAccount into a pod.
You may also want to look at [this](https://kubernetes.io/docs/reference/access-authn-authz/rbac/) doc to learn more about RBAC and how to implement it in Kubernetes if you're not familiar with it.
Hope this hel

[2020-10-20 14:42] reinvantveer commented on #417
Hope this is still of help: I got something working from the example at https://github.com/kubernetes-client/python/blob/master/examples/pod_portforward.py#L97

It's pretty low-level (especially from a Python point of view) but it appears to work very well. There's some more work involved if you want to inspect the response headers as well (you'd have to use `api_instance.connect_get_namespaced_po

[2020-10-20 16:30] rasisuku commented on #1284
I am also facing this issue.

[2020-10-21 07:24] reinvantveer commented on #417
I included an updated link to one supplied by @Ark-kun : since the Python client appears to have left incubator status

[2020-10-21 10:02] reinvantveer commented on #417
@Ark-kun could you perhaps update your answer to include the updated link? It's much higher up the thread, so it's more visible to other users.

[2020-10-21 17:21] chancez commented on #1284
At the very least, this needs a mention in the changelog so that users know how to fix this.

[2020-10-22 07:17] megastallman commented on #1004
[code]
This is actually the piece of out production code.

[2020-10-22 14:33] nimrodishi opened #1297 "client call differs then calling via cli"
**What happened (please include outputs or screenshots)**:
`
from kubernetes import client, config, configuration
...
config.load_kube_config(config_file="my-config", context="my-context")
client = client.CoreV1Api()
client.list_namespaced_pod("my-namespace")
`
raises an error:
{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"pods is forbidden: User \"system:anonymous

[2020-10-23 08:55] jinchihe commented on #1112
hello @roycaihw and all,

I found the problem still exists in 12.0.0, any plan to fix the problem? this is a block issue. Thanks.

[2020-10-23 09:37] jinchihe commented on #1112
Seems that's cuased by kubernetes client use openapi_types instead of swagger_types from 11.1?
https://github.com/kubernetes-client/python/commit/5cddbde0bfa2c8e10488978b0294f69c75fe0889#diff-a5cb6b73e3f53f068885d905bd488023

[2020-10-23 15:13] ntavares commented on #1284
load_incluster_config() broke too for 12.0.0. It's not clear to me yet how to retain the same mechanism...

[2020-10-23 22:46] DontWorry33 commented on #1284
My process for setting up my configuration when using load_incluster_config() was:

[code]

which failed to work with for 12.0.0. But if I don't set the new Configuration object as default and only have:

[code]

it seems to use the correct cluster configuration

[2020-10-25 11:53] hughperkins opened #1298 "Snyk reports kubernetes as using full_load, and then fails the snyk test"
**What happened (please include outputs or screenshots)**:

Ran Snyk against my code that uses kubernetes-client. Snyk says "Arbitrary Code Execution", "pyyaml is a YAML parser and emitter for Python.

"Affected versions of this package are vulnerable to Arbitrary Code Execution. It processes untrusted YAML files through the full_load method or with the FullLoader loader. This is due to an incompl

[2020-10-26 10:18] dims commented on #1298
@hughperkins let's please find a way around using pyyaml itself instead of trying to switch dependencies. We don't want to react unnecessarily to scanners and switch dependencies.

[2020-10-26 11:04] jinchihe commented on #1112
Need to update the generate openapi_types for the crd before calling k8s client.
Close the ticket. Thanks.

[2020-10-26 11:04] #1112 closed

[2020-10-26 13:52] axelinux commented on #818
@luisdavim Hi, I had the same issue, it returns a tuple which contains dictionary, your code should be like this :

[code]

[2020-10-26 16:42] roycaihw commented on #1284
/assign
cc @palnabarun @yliaog

[2020-10-26 16:43] roycaihw commented on #1290
/assign

[2020-10-26 16:44] roycaihw commented on #1293
/assign @MoShitrit
Thanks!

[2020-10-26 16:47] roycaihw commented on #1294
It sounds like a server-side issue when you changed to 1.16. Do you see the same issue using kubectl?

[2020-10-26 16:51] yliaog commented on #1297
it looks that it is not authenticated to the server during the api call: "message":"pods is forbidden: User "system:anonymous",

could you post your kubeconfig?

[2020-10-26 16:52] roycaihw commented on #1298
/assign @dims
Thanks for looking into this!

[2020-10-26 17:12] yuzisun commented on #1294
No, kubectl wait works fine if I set timeout to a longer time and does not exit after 5 minutes.

[2020-10-26 19:30] dims commented on #1298
Looks like we need to wait for https://github.com/yaml/pyyaml/issues/420#issuecomment-696752389

[2020-10-26 19:36] tsellers-r7 commented on #1298
IIRC, Snyk doesn't check to see if the code is using the vulnerable code path/function. It's determination is based on library version.

[2020-10-26 19:39] dims commented on #1298
@tsellers-r7 unfortunately Snyk and tools like Snyk just increase panic and cause folks to file issues like this :(

[2020-10-27 15:27] yuzisun commented on #1294
@roycaihw Any thoughts?

[2020-10-28 00:37] roycaihw opened #1300 "Test flake: kubernetes/e2e_test/test_client.py::TestClient::test_portforward_raw"
The presubmit `test_portforward_raw` is flaky. Example: https://travis-ci.org/github/kubernetes-client/python/jobs/735898772

=================================== FAILURES ===================================
_______________________ TestClient.test_portforward_raw ________________________
self = <kubernetes.e2e_test.test_client.TestClient testMethod=test_portforward_raw>
    def test_portforward_raw

[2020-10-28 00:38] roycaihw commented on #1300
cc @iciclespider

[2020-10-28 01:44] roycaihw commented on #1290
I couldn't reproduce this issue with:

[code]

The result I got:
[code]

[2020-10-28 01:46] roycaihw commented on #1290
I suspect somewhere you're running a mix of old & new versions of this client. When we switched the code generator from swagger codegen to openapi generator, the attribute got renamed from swagger_types to openapi_types. @jujis008 Could you double check your environment?

[2020-10-28 01:54] roycaihw commented on #1112
Sorry for the late response. Yes we've switch the code generator from swagger codegen to openapi generator, and the attribute was renamed from swagger_types to openapi_types. If you generated models for your custom resources, you need to regenerate them using openapi-generator. You could also use the dynamic client to access custom resources, which do not have this issue.

[2020-10-28 03:16] roycaihw commented on #1294
I couldn't reproduce the 5min behavior with 12.0.0 client and 1.16 server (python 3.8.5). I can reproduce the same error by letting the client establishing the watch and then killing the server. Doing the same to kubectl (with verbose logging), it prints `Unable to decode an event from the watch stream: http2: server sent GOAWAY and closed the connection; LastStreamID=3, ErrCode=NO_ERROR, debug=""

[2020-10-28 03:21] iciclespider commented on #1300
I am thinking that this line:
[code]
needs to be:
[code]

[2020-10-28 14:33] kollender commented on #1138
@yks0000
Can you share how?

[2020-10-28 14:38] yks0000 commented on #1138
@kollender

[code]

[2020-10-29 12:45] jinchihe commented on #1112
Yeah, I already did that. Thanks.

[2020-10-30 06:34] artiship opened #1302 "Pod exec websocket broken pipe"
I use this method to run a shell script in a pod and get the execution logs from websocket stream. But when there are too many output logs，the client is broken.

[code]

[code]

**Environment**:
- Kubernetes version (`kubectl version`):
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"20

[2020-10-30 22:01] jedcunningham opened #1304 "V1Pod no longer pickleable with some logging configs"
**What happened (please include outputs or screenshots)**:

Starting with `12.0.0`, V1Pod now is no longer pickleable depending on how logging is configured.

**What you expected to happen**:

V1Pod is pickleable.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

I believe it is unrelated, but this was initially found in apache/airflow

[2020-10-31 10:24] ashb commented on #1304
This behaviour came about when https://github.com/kubernetes-client/python/commit/b4d11b02a3479e63957a729614a616002f13e9c4 introduced `local_vars_configuration`, which contains two logger objects.

[2020-11-02 05:36] apyrgio commented on #1175
Closing this issue since this is something that should be resolved on the OpenAPI side (I haven't done so yet though).

[2020-11-02 05:36] #1175 closed

[2020-11-02 15:08] shivakumargn commented on #1247
Any updates on this? The official client does not seem to have implementation for any apis and models for the /apis/metrics.k8s.io objects.

[2020-11-02 17:02] yliaog commented on #1247
could you please check out the dynamic client test code: https://github.com/kubernetes-client/python-base/blob/master/dynamic/test_client.py?

it has some examples with custom resources.

[2020-11-03 02:26] mitar commented on #819
/remove-lifecycle stale

[2020-11-03 10:25] #1245 closed

[2020-11-03 20:53] bukowa commented on #1117
/remove-lifecycle rotten

[2020-11-05 08:00] sunchill06 commented on #1177
/close

[2020-11-05 08:00] #1177 closed

[2020-11-05 08:07] sunchill06 commented on #1302
I have following logic in my code and it works fine.

resp = stream(v1.connect_get_namespaced_pod_exec, podName, namespace, command=exec_command, stderr=True, stdin=False, stdout=True, tty=False, _preload_content=False)

if not _preload_content:
   while resp.is_open():
       resp.update(timeout=1)
       if resp.peek_stdout():
          print resp.read_stdout().strip()

[2020-11-05 08:14] sunchill06 commented on #1258
Yes its resolved now. Thanks.

[2020-11-05 08:14] #1258 closed

[2020-11-05 14:50] aalexanderr commented on #1207
Until the issue is fixed, this might help some people. Written for complete newbies so no one should have problems with it (if you use *nix)

Required tools:
1. Bash
1. [Pandoc](https://pandoc.org/installing.html) for rendering markdown files to html.
1. A template for pandoc, the default one produces huge margins which make table-based documentation super hard to read. I used [mindoc](https://bit

[2020-11-05 16:30] artiship commented on #1302
@sunchill06 Thanks for your reply. It will crash if there are too many logs produced suddenly, like several hundreds of lines of logs.

[2020-11-06 00:40] AlexIoannides commented on #1232
An interim solution that may help others who stumble upon this issue:

[code]

Basically, I've reverse-engineered what `kubectl rollout unto ...` appears to be doing.

[2020-11-06 02:12] #1174 closed

[2020-11-06 04:14] #1176 closed

[2020-11-06 19:17] PranayWankhede commented on #1138
@kollender for windows container I changed /bin/sh to cmd.exe but still the container is not getting killed. Is there anything else i need to change in your code. I am not even getting exception after running the above piece of code.

[2020-11-09 03:00] zffocussss opened #1310 "connect_get_namespaced_pod_exec BlockingIOError: [Errno 11] write could not complete without blocking"
**What happened (please include outputs or screenshots)**:
I use stream(from kubernetes.stream import stream) function to wrap the connect_get_namespaced_pod_exec,to execute command inside pods,then return the result of command to frontend.

execute_result = stream(api_instance.connect_get_namespaced_pod_exec, pod_name, namespace,
                                        command=command_inside, std

[2020-11-09 17:05] palnabarun commented on #1310
Hi @zffocussss 👋🏽 -- it looks like you missed pasting the error trace in the issue. Can you please paste it so that we can have a look?

[2020-11-09 17:43] roycaihw commented on #1300
/help

[2020-11-09 17:43] roycaihw commented on #1300
/assign @iciclespider

[2020-11-09 17:49] roycaihw commented on #1304
/assign @palnabarun

[2020-11-09 17:51] roycaihw commented on #1310
/cc

[2020-11-09 17:56] roycaihw commented on #1302
@artiship Thanks for the report. Several hundreds of lines of logs shouldn't break the client. Could you provide some script that reproduces this issue?

[2020-11-10 01:54] PranayWankhede opened #1312 "Unable to run a command inside windows container"
**What happened (please include outputs or screenshots)**:
Unable to execute commands inside windows containers
**What you expected to happen**:
output.txt created
**How to reproduce it (as minimally and precisely as possible)**:
use the following piece of code
v1 = client.CoreV1Api()
    ret = v1.list_namespaced_pod("default")
    command = 'echo "hello world" > output.txt'
    command = shlex.sp

[2020-11-10 01:58] PranayWankhede commented on #1312
@palnabarun can you please help me with this? since i am using this library for hackathon project? there seems to be a particular issue with executing commands against windows container

[2020-11-10 03:26] PranayWankhede commented on #1312
tried even using kubectl :- kubectl exec helloworld-deployment-8494f859d5-fnkgt -c helloworldcontainer  cmd.exe -- echo "hello world" > output.txt but this also didnt work

[2020-11-10 03:28] PranayWankhede opened #1313 "Run Powershell script inside windows container"
**What is the feature and why do you need it**:
I want to run a powershell script inside a pod containing windows container for doing load testing.
**Describe the solution you'd like to see**:
I would like to know if there is any command which i send using the below mentioned code to run the script :-
resp = stream(
                        v1.connect_get_namespaced_pod_exec,

[2020-11-10 06:07] artiship commented on #1302
@roycaihw

[2020-11-10 06:52] palnabarun commented on #1312
@PranayWankhede -- Hi 👋🏽, this issue seems to me more relevant to the usage of `kubectl` and the container you are you trying to exec the command in. I think https://discuss.kubernetes.io/ may be the right forum to ask this question in. You would find a lot of Windows container users there.

[2020-11-10 06:52] palnabarun commented on #1312
/assign

[2020-11-10 06:52] palnabarun commented on #1313
Related to #1312

/assign

[2020-11-10 07:14] artiship commented on #1302
@roycaihw Fllow these steps can reproduce the issue:

1. Execute the following command to create a pod.
python [create_pod_py.txt](https://github.com/kubernetes-client/python/files/5515247/create_pod_py.txt) to create a pod
2. Then using kubectl to copy a big log file into the pod.
kubectl cp [too_many_logs.txt](https://github.com/kubernetes-client/python/files/5515249/too_many_logs.txt) test-name

[2020-11-10 22:02] rjnshch commented on #1151
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='us-south.monitoring.cloud.im.com', port=443): Max retries exceeded with url: /api/v3/dashboards?light=True (Caused by ResponseError('too many 500 error responses'))

what can I do to fix this. error.

[2020-11-10 23:06] #1182 closed

[2020-11-11 01:31] mwhudson opened #1314 "tests fail with python 3.9"
**What happened (please include outputs or screenshots)**:

I ran the tests with Python 3.9 and they failed, like so:

[code]

**What you expected to happen**:

I expected them to pass.

**How to reproduce it (as minimally and precisely as possible)**:

$ python3.9 -m pytest

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (`kubectl version`): n/a
- OS (e.g., MacOS 10.13

[2020-11-11 01:34] mwhudson commented on #1314
Ah I think this was operator error (submodules confuse me)

[2020-11-11 01:34] #1314 closed

[2020-11-11 11:28] torgeirl commented on #547
/remove-lifecycle stale

[2020-11-12 22:28] tsuna commented on #1193
/remove-lifecycle stale

[2020-11-12 23:07] DreamingRaven opened #1315 "git describe or git describe --tags do not give the correct version"
**Link to the issue (please include a link to the specific documentation or example)**:
The version of the codebase tags and releases are 12.0.1 (currently)
https://github.com/kubernetes-client/python/tags

**Description of the issue (please include outputs or screenshots if possible)**:
However there is not associated annotated tag or lightweight tag to match this for packaging:
[code]
Is this ex

[2020-11-13 01:29] bradym commented on #360
I was also looking for a way to change context when using `load_incluster_config()` until I realized that doesn't make sense. Why? Context is the [combination of cluster, namespace and user](https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/#context). So @adubkov has the right answer - always use `load_kube_config()` if you want to the ability to specify the cont

[2020-11-13 05:06] Focke-Wulf opened #1316 "CustomObjectsApi get HTTP response body: 404 page not found with Spark-Operator"
**What happened (please include outputs or screenshots)**:

first of all i am using configuration like
[code]
every thing works fine with other k8s API without CRD.

when i am trying to use python k8s api to manage my spark-operator workflow

[code]

**What you expected to happen**:
i got

[code]
i have no idea it still using HTTP to access the k8s api server?
or anyother problems?

**Anything els

[2020-11-13 06:49] Focke-Wulf commented on #1316
i am dumb plural is wrong

[2020-11-13 06:49] #1316 closed

[2020-11-13 16:40] palnabarun commented on #1151
@rjnshch -- Is the error that you are describing related to Kubernetes or the Python Client?

[2020-11-13 16:41] palnabarun commented on #1151
/remove-lifecycle stale

[2020-11-13 16:41] palnabarun commented on #1151
@jincheng-xiaosu -- is your issue resolved? can this issue be closed?

[2020-11-13 16:42] palnabarun commented on #1137
/remove-lifecycle stale

[2020-11-13 16:42] palnabarun commented on #1137
/remove-lifecycle frozen

[2020-11-13 16:42] palnabarun commented on #1137
/lifecycle frozen

[2020-11-13 16:43] palnabarun commented on #1165
This has now been resolved with the latest client release.

/close

[2020-11-13 16:43] #1165 closed

[2020-11-13 16:44] palnabarun commented on #1203
/remove-lifecycle stale

[2020-11-13 16:45] palnabarun commented on #1203
@Telzeng -- this should now be resolved with the latest client release. Please feel to reopen the issue if you feel otherwise.

/close

[2020-11-13 16:45] #1203 closed

[2020-11-13 16:47] palnabarun commented on #1227
@sunchill06 -- we are in the process of deprecating support for Python 2.7 in the Python client. We are wondering if there is a compelling reason to use Python 2.7 in your use case. Can you try using Python 3.5+ and see if the error still persists?

[2020-11-13 16:51] palnabarun commented on #1257
We will try to pursue moving to Prow instead of GH Action to be in coherence with what the rest of the Kubernetes community uses for Continuous Integration.

/lifecycle frozen

[2020-11-13 17:09] palnabarun commented on #1094
/remove-lifecycle stale

[2020-11-13 17:09] palnabarun commented on #1094
@keyurbitw -- I tried loading a kubeconfig from a location other than the default one and this is working fine. Are you still facing the issue?

[2020-11-13 17:11] palnabarun commented on #1070
Python Client for Kubernetes 1.16 has been released. :)

/close

[2020-11-13 17:11] #1070 closed

[2020-11-13 17:13] palnabarun commented on #1054
@booooh -- Yes. We are planning to add a deprecation notice in the next release and completely remove in the release after that.

[2020-11-13 17:14] palnabarun commented on #601
/unassign

[2020-11-13 18:04] rlewkowicz opened #1318 "I need a list of dicts or something for data"
I need a config map that looks something like:
[code]

Maybe this is a documentation issue, but I've tried dicts, lists of dicts, tuples. I can't even start to build this object. I was hoping to avoid walls of text or template files as I wanted to build these objects dynamically. I'm sure I could still use python strings creatively, but being able to build it with native python data types would be

[2020-11-13 19:13] rlewkowicz commented on #1318
I'll just use py yaml

[2020-11-13 19:13] #1318 closed

[2020-11-13 21:51] palnabarun commented on #1315
@DreamingRaven -- `git describe [--tags]` tries to find the most recent tag reachable from the current commit. If you are running this on `master`, it will not return the correct tag since the tags that we push are on release branches (`release-*`) such as `release-12.0`.

[code]

Depending on your packaging requirements, you should checkout the specific release branch and then run `git describe -

[2020-11-13 21:52] palnabarun commented on #1315
/assign

[2020-11-14 00:50] solarmosaic-kflorence commented on #1168
I'm not sure how people are using the python client without this feature... I'm trying to move our deployment process from command line tools (like `kubectl`) into a python lambda function and I'm surprised to find there is no easy way to replace a `kubectl apply -f` with a client call.

[2020-11-14 01:16] tvkit commented on #1168
@solarmosaic-kflorence  ytt via python is a legit approach. It may not suit your peculiar needs, but it works well in our production environment, and is widely adopted method for transforming yaml files.

[2020-11-14 08:03] palnabarun commented on #1304
It looks to me that the change in OpenAPI Generator brought in regression to older Python versions. I can reproduce the above error with Python 3.6.10 but not with Python 3.7.7 or Python 3.8.6. IMHO, it needs further investigation as to why this may be happening.

[code]
**Python 3.6.10**
[code]
**Python 3.7.7**
[code]
**Python 3.8.6**
[code]

@ashb

I am not very sure if two logger objects are cr

[2020-11-14 08:34] ashb commented on #1304
Afraid so - as long as 3.6 is not EoL Airflow supports it.

[2020-11-14 08:34] mik-laj commented on #1304
Python 3.6.8
[code]
Python 3.7.2
[code]
(no problem)

[2020-11-14 10:53] ashb commented on #1304
This could be addressed by adding `__getstate__| (I think that's what it's called) to control what gets pickled or not.

I think not logging the logger objects make sense.

I'll try and find a time to attempt a pr for this.

[2020-11-15 23:11] mdgreenwald commented on #1039
asdf

[2020-11-15 23:12] mdgreenwald commented on #1039
/remove-lifecycle stale

[2020-11-16 17:18] solarmosaic-kflorence commented on #1168
@tvkit i'm sure it is, but it doesn't have a lot to do with the `apply` functionality that `kubectl` provides. And I'd rather not use python just to call a CLI command... kind of defeats the purpose of using python.

[2020-11-16 17:22] solarmosaic-kflorence commented on #1168
This ticket may be a duplicate of https://github.com/kubernetes-client/python/issues/1093

[2020-11-17 08:35] roycaihw commented on #1244
(For the record:) The proposal was accepted in the bi-weekly client-python meeting, and has been implemented for client v17: https://github.com/kubernetes-client/python#homogenizing-the-kubernetes-python-client-versions. Please feel free to close this issue once the action items are finished.

[2020-11-17 09:36] GhostInThePotato commented on #962
I'm still interested in seeing this resolved.

/remove-lifecycle stale

[2020-11-18 02:38] dinvlad commented on #741
/remove-lifecycle stale

[2020-11-18 09:43] DreamingRaven commented on #1315
@palnabarun
Thanks for getting back to me on this.
I checked and indeed as you said the 12.0.1 branch has a tag for 12.0.1.

However is there any other way to pull the version number automatically, as this would require I know the version number (to swap to the correct branch) before trying to get the version number from that branch. I would be able to sort the release-* branches but there are oth

[2020-11-18 16:07] #1185 closed

[2020-11-18 20:17] remram44 commented on #977
I don't have enough interest to fight the bot ad-vitam. Feel free to close it like you did #340 and pretend it's not a problem. It's not like you own anyone anything, even civility.

Bye!

[2020-11-19 10:05] underyx commented on #863
/reopen

This is still a valid feature request.

[2020-11-19 23:38] #1180 closed

[2020-11-20 09:17] kbfu opened #1325 "list_pod_for_all_namespaces method causing UnicodeDecodeError"
**What happened (please include outputs or screenshots)**:
I got a response from Kubernetes which includes some Chineses characters from commit message(using three bytes per character), if the response content length is over 4096, the response will be split to at lease two parts.
It happens when the Chinese character is on the end of first part response. UnicodeDecodeError will be thrown because o

[2020-11-20 17:22] btrx-rkazi opened #1326 "Getting error while connecting eks cluster from lambda"
**What happened (please include outputs or screenshots)**:
Response:
{
  "errorMessage": "HTTPConnectionPool(host='localhost', port=80): Max retries exceeded with url: /apis/batch/v1/namespaces/default/jobs (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f31cdfee070>: Failed to establish a new connection: [Errno 111] Connection refused'))",
  "errorType": "MaxRetryEr

[2020-11-20 20:51] DiptoChakrabarty opened #1327 "get pod/service metrics or details"
Is there any way  I can get metrics like the pid,memory heapused , heaptotal and uptime of a pod or service using  the python client

[2020-11-20 22:52] rlewkowicz opened #1328 "Submitting strings as a block scalar"
You can build a config map, but for various things, they are just strings. The aws auth config map for example:
ku --namespace kube-system get cm aws-auth -o yaml
[code]
If I submitted a similar entry via this library, it's suddenly very ugly:
[code]
I think the underlying rest client converts this all into json so thats why this happens.

Is there a way to define your submission as a block scalar

[2020-11-21 07:43] #1327 closed

[2020-11-22 14:59] brennerm commented on #1293
Setting the service account in your Pod spec, like @MoShitrit described and using [this function](https://github.com/kubernetes-client/python-base/blob/master/config/incluster_config.py#L112) should do what you are looking for.

[2020-11-23 04:43] palnabarun commented on #1326
Hi @btrx-rkazi -- can you please fill the other fields in the bug report? With just the stack trace, it is really difficult to infer what you are trying to achieve with the client.

[2020-11-23 04:43] palnabarun commented on #1326
/assign

[2020-11-23 04:45] palnabarun commented on #1312
/close

(due to non-responsiveness)

Please feel free to reopen if you face this issue again.

[2020-11-23 04:45] #1312 closed

[2020-11-23 04:45] palnabarun commented on #1313
/close

See https://github.com/kubernetes-client/python/issues/1312#issuecomment-731923549

Please feel free to reopen if you face this issue again.

[2020-11-23 04:45] #1313 closed

[2020-11-23 04:46] palnabarun commented on #1098
/remove-lifecycle rotten

[2020-11-23 04:48] palnabarun commented on #1151
/close

Please feel free to reopen if you face this issue again.

[2020-11-23 04:48] #1151 closed

[2020-11-23 11:13] bpereto opened #1330 "Ingress API is now GA with k8s 1.19 and no beta anymore"
**What happened (please include outputs or screenshots)**:
kubernetes client model does not find "V1/Ingress"

**What you expected to happen**:
v1/ingress works on k8s 1.19

**How to reproduce it (as minimally and precisely as possible)**:
Use/Testing with #989 against k8s 1.19:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (`kubectl version`):
[code]
- OS (e.g

[2020-11-23 12:31] palnabarun commented on #1330
Hi @bpereto 👋🏽, the Ingress API will be introduced to the client when client version v19.0.0 is released. Ref: https://github.com/kubernetes-client/python/pull/1320.

[2020-11-23 12:31] palnabarun commented on #1330
/assign

[2020-11-23 12:59] btrx-rkazi opened #1331 "kubernetes/config/incluster_config.py", line 73, in _load_config raise ConfigException("Service token file does not exists.")"
**What happened (please include outputs or screenshots)**:
Traceback (most recent call last):
  File "main.py", line 50, in <module>
    handler()
  File "main.py", line 33, in handler
    config.load_incluster_config(KUBE_FILEPATH)
  File "/home/ec2-user/eks-lambda/lib/python3.8/site-packages/kubernetes/config/incluster_config.py", line 118, in load_incluster_config
    InClusterConfigLoader(
  F

[2020-11-23 13:31] yuzisun commented on #1294
@roycaihw We actually put haproxy in front of the APIServer and disconnects for any idle connections after 5 minutes, looks like we need to handle the closing connection more gracefully.

[2020-11-23 15:57] btrx-rkazi commented on #1326
I have done it. could you please check

[2020-11-23 17:56] roycaihw commented on #1328
/assign @palnabarun

[2020-11-23 18:06] roycaihw commented on #1315
Could you get all the tags using `git tag`, and pick the latest stable release from the list?

[2020-11-23 18:08] roycaihw commented on #1325
Could you share the function calls you made using this client?

[2020-11-23 18:50] roycaihw commented on #1325
Discussed in the bi-weekly meeting this morning. Potentially we can do one of:

- keep track of the last one or two bytes in `seg`, fallback and defer those bytes to the next `seg` when we fail to decode
- add a optional argument to disable decode
- read everything from `read_chunked` first, only decode at the end

cc @palnabarun

I don't remember why we had the decode. Probably worth looking into

[2020-11-23 18:53] roycaihw commented on #1331
Is your application running inside a pod? The error means it cannot find the service token [file](https://github.com/kubernetes-client/python-base/blob/master/config/incluster_config.py#L24)

[2020-11-24 12:48] kbfu commented on #1325
We are using this function in stream method to watch the pods from Kubernetes just like below
[code]
So I updated the code from the package, make it decode the bytes after it received the entire bytes from chunked data, then everything works fine.

[2020-11-24 15:27] odra opened #1333 "The library always uses port 80 when using the K8S_AUTH_KUBECONFIG env var"
**What happened (please include outputs or screenshots)**:

Created a kubeconfig file stored in a different folder than the default one and I get the following error:

[code]

**What you expected to happen**:

A successful request.

**How to reproduce it (as minimally and precisely as possible)**:

* `pip install kubernetes==12.0.1`
* create a kubeconfig in another folder (changing the port if pos

[2020-11-24 21:54] tomplus commented on #1333
Hi @odra. Are you sure it worked in previous version of the package? Does kubectl work in your environment? Try to set `KUBECONFIG` (instead of `K8S_AUTH_KUBECONFIG`) to load your kube-config.

[2020-11-24 22:23] odra commented on #1333
I tried to set both vars (KUBECONFIG and K8S_AUTH_KUBECONFIG) and it did not work.

Yes kubectl does work in my environment and it works with the version 11.x of the library.

I was actually wondering if there were any changes in the expected kubeconfig file format (for 12.x) in a way that it is trying to retrieve the server url from another property.

[2020-11-25 10:55] vennilashanthi commented on #409
Hi all,
I am getting the same error which @Pega88 got. Is the issue resolved ? If so, could you please let me know how to get rid of this error ?

[2020-11-25 11:35] amitkrishna opened #1334 "Documentation: Documentation required for Python api client"
Documentation required  for easy api navigation .

[2020-11-25 16:23] DreamingRaven commented on #1315
Hey @roycaihw Yes that does work lets say by using the invocation:
[code]
outputs:
[code]
thus avoiding the need to know the latest version number thank you for reminding me about that.

However @roycaihw if you had to describe the version of the master branch what would it be? How far ahead is the master branch compared to this release/ is it more closely related to another release that is stagin

[2020-11-25 23:03] spestua opened #1335 "Problem with load_kube_config()"
Hi, everyone!

I have a very strange problem with using my _kubeconf_.
When I try to execute the example code from README, but at the stage `config.load_kube_config()` an error appears:

I changed one line in source a little bit:
FROM
https://github.com/kubernetes-client/python-base/blob/2da2b981ca806b25487ad92d01a2164815c18517/config/kube_config.py#L391
TO
```base64.b64decode(parts[1].replace('-'

[2020-11-26 10:26] LevonTostig commented on #1242
Could you update the table under **Release Cadence**? From what I can gather...

13 November | 17.14.a1 | https://github.com/kubernetes-client/python/pull/1317

Would it also be possible to update the dates in the column Date to **not** state dates in the past for future releases?

[2020-11-27 11:13] jeichler commented on #1333
i'm seeing the same issue in my environments. one is Fedora33, the other centos8. both received package updates recently and the ptyhon3-kubernetes client got bumped to 12.0.1

setting the kubeconfig via env var, or directly on the module did not work.

[2020-11-27 12:07] ankur-gupta-guavus commented on #1333
I am also seeing the same issue in our environment, we are usinh CentOS 7.9. Kubernetes client got upgraded to 12.0.1 and that's breaking our pipeline. We use ansible kubernetes collection to deploy applications into kubernetes, with this change even on passing kubeconfig directly, it always fails complaining that request is http.

[2020-11-27 19:24] jamie-34254 opened #1336 "Client version 1.17 listing pods not working on GKE 1.17"
**What happened (please include outputs or screenshots)**:
Trying to get a list of pods causes an exception
[code]

**What you expected to happen**:
A list of pods to be returned

**How to reproduce it (as minimally and precisely as possible)**:
Running GKE 1.17.13-gke.1400, setup Python3 pod, `python3 -m pip install kubernetes==17.14.0a1`
[code]
**Anything else we need to know?**:

**Environment*

[2020-11-28 05:39] ssquan commented on #1206
/close

[2020-11-28 05:39] #1206 closed

[2020-11-30 21:49] jiang-wei commented on #1005
any updates?

[2020-12-01 00:12] jmontleon commented on #1333
I am seeing the same issue with our molecule tests using python-kubernetes.

[2020-12-02 01:09] MoShitrit commented on #1005
Hey,
Sorry, I completely dropped the ball on this one due to other distractions.
I'll do my best to get to work on it ASAP and update.

[2020-12-02 11:54] findsomeoneyys opened #1338 "ConfigMapVolume miss field: ConfigMap"
**What happened (please include outputs or screenshots)**:
for example, if i had created a config map like
[code]
then when creating `Deployment Volume` use `V1ConfigMapVolumeSource` object, it will spec as
[code]

**What you expected to happen**:
what i expected is like this:
[code]
but `V1ConfigMapVolumeSource` object hasn't `configMap` fields

[2020-12-02 12:14] MoShitrit commented on #1338
Hey @findsomeoneyys
Can you please provide a bit more info on this?
Additional details which would be really helpful for example are:
- `kubernetes` library version (`pip show kubernetes`)
- K8s server version (`kubectl version`)
- If you could also paste the code snippet of what you're experiencing, this would also help us a lot with reproducing the issue.

Thanks!

[2020-12-02 14:48] findsomeoneyys commented on #1338
`kubernetes ` version is 12.0.1

my server is deploy by k3s and  `kubectl version` output is
[code]

for reproducing, i create two files `nginx-server.yaml` and `test.py`, and upload to [gist](https://gist.github.com/findsomeoneyys/35247bf72ff620457ec4ba0b8e5493e1)

for `nginx-server.yaml` files, i use `kubectl apply -f nginx-server.yaml`, and then access `host:30080`, everythings works fine.

and

[2020-12-03 04:42] harshalcse commented on #389
I tried doing json.dumps() but I got this
v1 = client.CoreV1Api()
ret = v1.list_node()
nodelist = json.dumps(ret)

TypeError: Object of type 'V1Node' is not JSON serializable

[2020-12-03 13:47] MoShitrit commented on #389
Hey
Take a look at [this comment](https://github.com/kubernetes-client/python/issues/1275#issuecomment-704267522).
`preload_content` is probably what you want there.

[2020-12-04 07:49] findsomeoneyys commented on #1338
sorry...i had found that i use it in wrong way
the correct way is V1Volume(config_map=V1ConfigMapVolumeSource(...))

[2020-12-04 07:50] #1338 closed

[2020-12-04 14:44] Skillshot commented on #683
Just want to support the speaker on introducing a proper way of handling this issue.

[2020-12-07 17:40] roycaihw commented on #1336
/assign @palnabarun

[2020-12-08 05:29] huzerun0306 commented on #1150
Have you solved this problem? I also want to use api to call functions similar to  kubectl cp ...

[2020-12-09 23:59] migueleliasweb commented on #1334
Some markdowns, apparently, cannot be visualised in GitHub anymore due to their size.

<img width="1292" alt="Screen Shot 2020-12-10 at 10 59 09 am" src="https://user-images.githubusercontent.com/1608212/101703346-c0fab400-3ad6-11eb-8dba-4fdf2b69d896.png">

[2020-12-10 17:02] amitkrishna commented on #1334
Hey @migueleliasweb  can we put all apis in a gitbook so that it will be easier for anyone in the community to navigate through apis?

[2020-12-13 07:34] mitar commented on #1032
/remove-lifecycle stale

[2020-12-15 16:24] beniloew opened #1339 "Volume snapshot client is missing"
**What happened (please include outputs or screenshots)**:
When trying to create a volume snapshot, i get the following error:
Module 'kubernetes.client' has no attribute 'SnapshotStorageV1beta1Api'

**What you expected to happen**:
Snapshot created

**How to reproduce it (as minimally and precisely as possible)**:
Create from yaml a generic volume snapshot. The yaml applied with kubectl created a

[2020-12-15 20:44] #1105 closed

[2020-12-16 07:39] kk12345-png opened #1340 "Problem with port-forward"
I am trying to use connect_get_namespaced_pod_portforward() method to do port-forwarding for one of my pods in minikube environment. It gives error as follows:

[code]

Could someone please advise on the resolution.

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.0", GitCommit:"af46c47ce925f4c4ad5cc8d1fca46c7b77d13b38", GitTreeState:"clean", BuildDate:"2020

[2020-12-16 18:04] #1168 closed

[2020-12-16 18:10] askreet commented on #524
I agree this would be useful if provided first-hand by the client. I've been able to streamline mocked responses by doing things like:

[code]

I build the fixtures by using kubectl:

    kubectl get configmaps --namespace my-namespace -o yaml > my-fixture.json

Hope this helps someone fill the gap until this library has a better solution.

[2020-12-17 23:33] #1201 closed

[2020-12-18 00:35] #1202 closed

[2020-12-18 14:46] #1334 closed

[2020-12-18 20:37] shay-berman commented on #1201
I tested it and worked ok.

[2020-12-19 02:00] #1189 closed

[2020-12-19 03:01] #1190 closed

[2020-12-21 17:33] roycaihw commented on #1340
/assign @yliaog

[2020-12-21 17:35] roycaihw commented on #1339
/assign

[2020-12-21 17:42] yliaog commented on #1340
what is the python kubernetes client version you're using?

please see this example on how to do port-forwarding in python, https://github.com/kubernetes-client/python/blob/master/examples/pod_portforward.py

[2020-12-22 00:19] Vince-Cercury commented on #867
What was the solution? I'm facing the same issue with Airflow 2.0.0. Although if I execute a small python script on the executor, I don't get any error

[code]

[2020-12-22 09:46] mhumpula commented on #1131
For anyone with custom CAs, trying to use this library: I was able to get away with this snippet
[code]

But still, this is kinda sad. The .kube/config already contains valid cluster CAs, so why does it work in golang but not in python? :thinking:

[2020-12-23 10:49] Avni-Sharma commented on #363
[code]

does not show any namespace key

[2020-12-23 11:30] Avni-Sharma opened #1343 "How to get the current namespace"
Is there a way where currently we can get the current namespace used within the code?

[2020-12-24 04:41] liyao2598330 commented on #1284
I have the same problem,when i use client 8.0.0 get kubernetes version info,It is normal.
[code]

but when i use client 12.0.0.0,a procedural exception has occurred.
[code]
It looks like a configuration error,After referring to the above answer, I modified it to
[code]
That solved my problem,I think that part of the configuration code logic has changed

[2020-12-24 12:46] zhangxiao696 opened #1344 "【not support ????】How to pass different arguments to different pod in Job resource?"
When I created a job in Kubernetes, I want to pass different arguments to different pod, so that I can execute different command in different pod.
But I think that It's not supported in Kubernetes now.

So is there any method?

[2020-12-26 13:57] #553 closed

[2021-01-01 19:23] #1219 closed

[2021-01-02 21:49] #1117 closed

[2021-01-04 02:17] #1213 closed

[2021-01-04 02:17] #1214 closed

[2021-01-04 03:18] #1221 closed

[2021-01-04 03:18] #1222 closed

[2021-01-04 03:18] #1223 closed

[2021-01-04 06:21] #434 closed

[2021-01-04 12:57] gtarcoder opened #1346 "How to generate openapi-models and clients"
I want to update the kubernetes python client using the newest generator because I need a new feature released in newest version of openapi-generator [openapi-generator-v5.0.0](https://github.com/OpenAPITools/openapi-generator/releases/tag/v5.0.0).

So I am wondering when will the next version of kubernetes python client be released?

If it is too far, I will have to build a private version of kub

[2021-01-04 16:31] #1207 closed

[2021-01-04 17:36] roycaihw commented on #1343
/assign @yliaog

[2021-01-04 17:37] roycaihw commented on #1344
/assign

[2021-01-04 17:37] roycaihw commented on #1346
/assign @palnabarun

[2021-01-04 17:43] roycaihw commented on #1344
@zhangxiao696 Could you elaborate more on what you're trying to achieve? Is this an API change to Job (e.g. how the JobSpec looks like) or a new Python client function? Also I'm not sure if this is a feature request to the Python client, or to the upstream Kubernetes. Could you achieve it using kubectl or client-go?

[2021-01-04 18:21] yliaog commented on #1343
the code should know which namespace it is working on, could you please clarify your question?

[2021-01-04 18:22] yliaog commented on #1343
/remove-label kind/feature

[2021-01-04 18:23] yliaog commented on #1343
/remove-label feature

[2021-01-05 10:01] gtarcoder commented on #1346
Hi @roycaihw , could we update the kubernetes-client/python package using the newest openapi-generator and launch a new release? The I can use the official python package in my project :)

[2021-01-06 19:16] citrusoft commented on #962
like most API clients,  i need to control timeouts and retries.

/remove-lifecycle stale

[2021-01-07 18:43] #1158 closed

[2021-01-07 22:20] hq6 opened #1349 "Is it safe to assume that passing the empty string as a namespace is equivalent to list_pod_for_all_namespaces?"
Consider the following two blocks of code:

Sample 1
[code]

Sample 2
[code]

When I run these two pieces of code in a K8 setup without namespaces, they return identical results.

Is this behavior (empty string namespace == all namespaces) I can rely on, or should my code always branch on whether a context contains a namespace and use the two different calls for the case with namespace and without

[2021-01-08 03:42] chester0502 opened #1350 "AttributeError: 'generator' object has no attribute 'openapi_types'"
**What happened (please include outputs or screenshots)**:

from kubernetes import client, config
import yaml
import pprint
from kubernetes.client.rest import ApiException

config.load_kube_config("/home/test/kubeconfig.yaml")

v1 = client.CoreV1Api()

yamlFile = "/home/test/test.yaml"

with open(yamlFile, "rb") as f:
        yamlVal = yaml.safe_load_all(f)
        print(type(yamlVal))
        pri

[2021-01-09 23:36] neelsomani opened #1351 "Add since_time parameter to read_namespaced_pod_log"
**What happened (please include outputs or screenshots)**:

The docstring makes reference to both the `sinceSeconds` and `sinceTime` parameters which exist in the CLI, but I see that only the `since_seconds` kwarg is accepted by the Python client

**What you expected to happen**:

I expected the `since_time` kwarg to be accepted

**How to reproduce it (as minimally and precisely as possible)**:

P

[2021-01-09 23:37] neelsomani commented on #1351
Would be happy to add this parameter myself, just not sure how - I saw the CoreV1Api code is generated so I figure I'm not supposed to edit that directly

[2021-01-10 15:24] torgeirl commented on #1242
@palnabarun: it seems progress halted after `17.14.0a1` got released in November, about four weeks behind the proposed timeline. Did the alpha reveal a showstopper, or are there issues beyond this project that have lead to the new delay?

[2021-01-10 16:40] mindw commented on #325
/remove-lifecycle stale

[2021-01-11 07:25] gtarcoder commented on #1346
I have changed another method to build a kubernetes resource json, close this issue:)

[2021-01-11 07:25] #1346 closed

[2021-01-13 09:23] avinashsavaliya opened #1352 "Can someone please let me know how to add multiple ranges for spec loadBalancerSourceRanges"

[2021-01-14 11:48] gryf opened #1353 "Cannot pass configuration for the API query to reach specific object."
**What happened (please include outputs or screenshots)**:

I have noticed, that every model class can accept `local_vars_configuration` parameter during creation, otherwise it create default one, i.e.:
[code]

This lead to the title of this bug, where there is no way (or I cannot find one) for configuring an api call, to, for instance, turn off client side validation. In other words, there is no

[2021-01-15 09:00] pigletfly commented on #1351
actually, `it's supported already, read_namespaced_pod_log(self, name,namespace, **kwargs)`, just pass since_seconds in kwargs.

[2021-01-15 09:48] riceluxs1t commented on #1350
I confirm that in
[code]

I have the same issue for both V1ConfigMap and V1Secret objects
[code]

[code]

[2021-01-15 10:14] neelsomani commented on #1351
Yeah I'm currently using since_seconds, this issue is about since time though

[2021-01-15 12:01] zegelin commented on #323
/remove-lifecycle stale

[2021-01-15 16:17] fredleger opened #1354 "read_namespaced_pod_logs is breaking JSON output"
**What happened (please include outputs or screenshots)**:

Try to get logs from a container logging in JSON (which is cool)
And later to rehydrate some props of this logs into a python object

Seems that Core.read_namespaced_pod_logs() is not handling quoting properly

Example:

NB: The test data is comming from https://jsonplaceholder.typicode.com/users/1
and the output can be easily reproduced

[2021-01-15 18:48] riceluxs1t commented on #1290
I report a similar issue. I tested both k8s Python client v11.0.0 and v12.0.0 and I get a similar error message

[code]

[2021-01-15 18:59] riceluxs1t commented on #1112
@roycaihw
I am simply using
[code]
method and this method also has this issue in version 11.0.0 and 12.0.0

[2021-01-15 23:36] riceluxs1t commented on #1284
@ntavares I confirm this. Have you found a workaround that uses either v12.0.0 or v12.0.1? I am currently using the following code snippet and it fails

[code]

![Screen Shot 2021-01-15 at 3 35 52 PM](https://user-images.githubusercontent.com/10087079/104788562-5bd65600-5747-11eb-835f-e27a8dc55bac.png)

Version: 12.0.1
Python Version: 3.7.6
K8s version: v1.18.9

[2021-01-16 02:58] #1228 closed

[2021-01-16 02:58] #1231 closed

[2021-01-16 02:58] #1230 closed

[2021-01-18 09:08] lidongze0629 commented on #363
In mac, with docker-desktop deployed, also can not show namespace in context.
[code]

[2021-01-18 10:48] wangao1236 opened #1355 "SSL error occurs when using client-certificate-data/client-key-data authentication in kubeconfig"
**What happened (please include outputs or screenshots)**:

I used the demo code to test kubeconfig:
[code]
However, the following error occurred:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

When I use client-certifate instead of token in kubeconfig file, the error mentioned above occurs.

**Anything else we need to know?**:

**Envir

[2021-01-19 06:35] chester0502 commented on #1350
The problem is solved. Need to extract the type object from yaml file and process it separately.

[2021-01-19 06:35] #1350 closed

[2021-01-19 10:51] hezise opened #1358 "when creating namespaced job getting 'property' object has no attribute 'openapi_types'"
**What happened (please include outputs or screenshots)**:
AttributeError("'property' object has no attribute 'openapi_types'")
**What you expected to happen**:
creating the job
**How to reproduce it (as minimally and precisely as possible)**:
attaching my script
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (`kubectl version`): 1.16.9
- OS (e.g., MacOS 10.13.6): Ubunt

[2021-01-20 10:37] alterEgo123 opened #1359 "patch_namespaced_deployment not removing volumes from deployment"
**What happened (please include outputs or screenshots)**:
I'm trying to patch a deployment and remove its volumes using _patch_namespaced_deployment_ with the following arguments

[code]

**What you expected to happen**:
Remove a deployment's volumes using the _patch_namespaced_deployment_ function.
**How to reproduce it (as minimally and precisely as possible)**:

- Create this file app.yaml:

[

[2021-01-20 19:30] vinayan3 commented on #1193
I am running into this issue just like @roycaihw  is hitting. I am not able to list the context because the `current-context` is blank.

If `current-context` is blank then it should still be possible to get a listing of the contexts. `kubectl` supports this and doesn't blow up.

[2021-01-22 13:51] bukowa commented on #1228
/remove-lifecycle rotten

[2021-01-28 14:25] phracek opened #1361 "read_namespaced_pod failed with urllib3.exceptions.MaxRetryError"
**What happened (please include outputs or screenshots)**:
On OpenShift 4.4 I have a POD from which I would like to create and start another POD.
The starting POD is done in OpenShift and not from my OS.

The traceback is following:
[code]
[code]
**What you expected to happen**:
POD is created and started.

**How to reproduce it (as minimally and precisely as possible)**:
My code is here: https://

[2021-01-28 21:27] bdirito opened #1362 "Documenation is 'too big' to view as markdown on github"
**Link to the issue (please include a link to the specific documentation or example)**:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#patch_namespaced_service

**Description of the issue (please include outputs or screenshots if possible)**:
In trying to view the official documentation for the python kubernetes client for patching a namespaced service:
Start

[2021-01-29 11:10] sunchill06 commented on #1227
Thanks @palnabarun

we have a legacy product and it won't be easy for us to migrate to 3.x* asap. I keep getting these issues while building package and recently I got the following:

[code]

I was able to build the egg package with some workaround and installing it using easy_install, but its still going to pypi.

[code]

And as can be seen in the error above, its somehow going to pypi to fetch t

[2021-01-29 14:27] sunchill06 opened #1364 "python package created from the repo doesn't have the dependencies"
**What happened (please include outputs or screenshots)**:
I ran the installer (python setup.py install) and inside the dist directory, an .egg file is created i.e. kubernetes-12.0.0_snapshot-py2.7.egg

Now I need to ship this to a docker image and use it inside the container. I am installing this egg file using easy_install.
however, easy_install goes to pypi to install all the dependencies of th

[2021-01-29 14:32] sunchill06 commented on #1364
@roycaihw @NeolithEra @palnabarun , Please assist here, its a blocker for me. Any guidance here would help a lot.

[2021-01-29 17:53] AronWaterAron opened #1365 "Question about cloud cluster"
May I know what if the cluster is in the cloud other than in local?
Such as azure, GKE.
How to make the call to those cloud providers to query the cluster information?

[2021-01-29 18:18] #974 closed

[2021-01-31 09:55] NeolithEra commented on #1364
requirements.txt usually don't contain all the dependencies that the project needs, it contains only the direct dependencies. however easy_install installs dependencies according to the requests.txt. It is possible not to  use the Internet while installing it using easy_install if you have install these direct dependencies in site-packages(or copy these folders to site-packages ).You can get more

[2021-01-31 14:13] sunchill06 commented on #1364
@NeolithEra , thanks for getting back to me.

when I install the kubernetes python client using `python setup.py install`, does all the dependencies mentioned inside requirements.txt come from the kubernetes python client repo itself or from the local env?

My requirement is to install the kubernetes python client inside a container. Hence I first created an egg package for k8s python client (whic

[2021-02-01 07:02] mitar commented on #819
/remove-lifecycle stale

[2021-02-01 17:46] yliaog commented on #1349
/assign @yliaog

[2021-02-01 17:47] yliaog commented on #1351
/cc

[2021-02-01 17:48] yliaog commented on #1352
/assign @roycaihw

[2021-02-01 17:48] yliaog commented on #1353
/assign @roycaihw

[2021-02-01 17:50] yliaog commented on #1354
/assign @fabianvf

[2021-02-01 17:51] yliaog commented on #1355
/assign @roycaihw

[2021-02-01 17:51] yliaog commented on #1358
/cc

[2021-02-01 17:52] ZhuozhaoLi commented on #1362
I also encountered this problem when I tried to search the docs for some APIs.

[2021-02-01 17:53] yliaog commented on #1359
/assign @fabianvf

[2021-02-01 17:57] yliaog commented on #1361
/assign @fabianvf

[2021-02-01 17:58] yliaog commented on #1362
/cc

[2021-02-01 17:58] yliaog commented on #1364
/assign @palnabarun
/cc @roycaihw

[2021-02-01 17:58] yliaog commented on #1365
/cc

[2021-02-01 18:01] fabianvf commented on #1361
@phracek is your `Configuration` object pointing to the proper URL for the API? Usually when running from a pod in the cluster one would use the `kubernetes.config.load_incluster_config` to pull the information from the mounted secrets. Looking at the error message my guess would be that it's just not pointing at the API server (and thus cannot get a connection)

[2021-02-01 18:09] fabianvf commented on #1354
@fredleger I think this is just the way that python outputs dictionaries. It looks like the JSON output has been loaded into a Python `dict`, which is then output, and the `__repr__` for `dict` outputs single quotes. I don't think there's anything that this library should do to affect that. If you wanted to keep the initial formatting, you should output the raw json string you receive instead of t

[2021-02-01 18:34] yliaog commented on #1365
please see https://cloud.google.com/kubernetes-engine/docs/how-to/cluster-access-for-kubectl#generate_kubeconfig_entry for GKE access

[2021-02-01 18:56] HereticWilson opened #1366 "How would I go about listing services and their IPs?"
https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/#python-client

I'm trying to figure out how to do something similar to the example in the link, but listing services and their IPs, rather than pods and their IPs, and then print out said list of IPs.

[2021-02-01 20:21] yliaog commented on #1362
that message is from github, unless github could increase the file size limit, the warning message would be shown.

you may still click on 'View raw' to see the file.

[2021-02-01 20:36] yliaog commented on #1358
https://github.com/kubernetes-client/python/blob/b79ad6837b2f5326c7dad488a64eed7c3987e856/kubernetes/client/models/v1_job.py#L30

has openapi_types

[2021-02-01 20:41] ZhuozhaoLi commented on #1362
The problem is that it does not provide a way to view any useful docs for some APIs, e.g., `read_namespaced_pod_status`. If you have one, please let me know.

[2021-02-01 20:45] yliaog commented on #1362
i usually 'git clone' to local disk, and do search

[2021-02-01 21:03] phracek commented on #1326
Similar issue here: #1361

[2021-02-01 21:06] phracek commented on #1361
See my code here:

[code]

[2021-02-01 21:14] phracek commented on #1361
One point. On OpenShift 3.11 all worked properly. Tomorrow I will test on OpenShift 4.3.
This part of the code does not work on OpenShift 4.5.

[2021-02-01 22:42] weininghu1012 commented on #1193
I also encounter a similar problem:
` File "/Users/weininghu/.pyenv/virtualenvs/kafka-topic-manager/3.7.8/lib/python3.7/site-packages/kubernetes/config/kube_config.py", line 625, in get_with_name
    'Expected object with name %s in %s list' % (name, self.name))
kubernetes.config.config_exception.ConfigException: Invalid kube-config file. Expected object with name  in /Users/weininghu/.kube/config

[2021-02-01 23:19] yliaog commented on #1351
both since_time and since_seconds were added years ago, https://github.com/kubernetes/kubernetes/blame/c5cc25d1cb075f84756db9bffecd3fafe12c5fab/pkg/apis/core/types.go#L4427

[2021-02-01 23:21] neelsomani commented on #1351
Interesting, it didn't seem to work for me with the Python client but I ended up not needing this feature anyway. I'm fine with closing the issue.

[2021-02-01 23:22] yliaog commented on #1351
https://github.com/kubernetes/kubernetes/blob/083290d996cd0707bfb9810eb17cc7d5652863b8/staging/src/k8s.io/api/core/v1/types_swagger_doc_generated.go#L1558

has both since_time and since_seconds

[2021-02-01 23:29] HereticWilson commented on #1366
I believe I/ figured it out, if anyone wants to check this out:

`from kubernetes import client, config

config.load_kube_config()

v1 = client.CoreV1Api()
print("Listing services with their IPs:")
ret = v1.list_service_for_all_namespaces(watch=False)
for i in ret.items:
    print("%s\t%s\t%s" % (i.spec.cluster_ip, i.metadata.namespace, i.metadata.name))`

[2021-02-01 23:53] yliaog commented on #1349
it's better to explicitly use list_pod_for_all_namespaces for 'all namespaces' case, the meaning of empty namespace may change, it  may mean default namespace, for example.

[2021-02-02 01:20] neelsomani commented on #1351
Yeah totally fine with closing it but just wondering, why is there no `since_time` parameter mentioned in the generated code here: https://raw.githubusercontent.com/kubernetes-client/python/master/kubernetes/client/api/core_v1_api.py

[2021-02-02 11:45] hezise commented on #1358
@yliaog  I didn't understand your comment :(

[2021-02-02 14:06] phracek commented on #1361
With this part of the code, I am able to create a PR.

[code]

[2021-02-02 14:06] #1361 closed

[2021-02-02 19:18] wangao1236 commented on #1355
There is something wrong with the format of my certificate, I have found the problem, thank you~I will close this issue.

[2021-02-02 19:18] #1355 closed

[2021-02-02 22:40] cyrilcros opened #1367 "fsGroupChangePolicy is missing from the python client in V1PodSecurityContext"
**What is the feature and why do you need it**:

`fsGroupChangePolicy` was an alpha feature in v1.18 and beta in v1.20. See https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#configure-volume-permission-and-ownership-change-policy-for-pods

Other clients have it but not Python, for example the java client has it: https://github.com/kubernetes-client/java/blob/6267ff3cb7ad12

[2021-02-02 22:48] cyrilcros commented on #1367
My bad, missed it was included in v1.19

[2021-02-02 22:48] #1367 closed

[2021-02-03 13:36] matthyx opened #1368 "Add support for immutable ConfigMaps"
**What is the feature and why do you need it**:
Feature is in beta since 1.19 and it would be nice to allow using it:
https://kubernetes.io/docs/concepts/configuration/configmap/#configmap-immutable

**Describe the solution you'd like to see**:
Allow setting immutable in a ConfigMap (or Secret) declaration, instead of getting this kind of error:
TypeError: __init__() got an expected keyword argume

[2021-02-04 14:05] AuditeMarlow commented on #1333
I'm experiencing the same problem. I'm using Ansible's k8s module and have v12.0.1 of the Kubernetes Python client installed.

[2021-02-05 08:21] fredleger commented on #1354
Hi Fabian.

Didn't get that. Thanks for pointing that out.

/close

Le lun. 1 févr. 2021 à 19:09, Fabian von Feilitzsch <
notifications@github.com> a écrit :

[2021-02-05 08:21] #1354 closed

[2021-02-06 20:29] #1240 closed

[2021-02-06 20:59] thomasaab opened #1371 "modify SecurityContext of a conatiner/pod"
Hi, i want to inject some faults to kubernetes, the first thing i want to do is inject latency but for that i have to grant NET_ADMIN permissions, i wanted to know if i can configure that from the python api or does it have to be from the YAML.

[2021-02-06 21:16] sebastian-mora opened #1372 "PVC "Mounted By" attribute missing from read_namespaced_persistent_volume_claim_status()"
**What happened (please include outputs or screenshots)**:

I am trying to find which pod has mounted a PVC. Using `kubectl describe pvc` shows the attribute "Mounted By" but when using the method `read_namespaced_persistent_volume_claim_status` the attribute is missing from the object. I have also check the responses from the following methods `list_persistent_volume_claim_for_all_namespaces` and

[2021-02-06 23:27] marukaz opened #1373 "Add a support to delete kubernetes API objects from yaml"
**What is the feature and why do you need it**:

There is already a util to [create kubernetes API objects from yaml](https://github.com/kubernetes-client/python/blob/master/kubernetes/utils/create_from_yaml.py) and it's very useful.
However, when I create an object from a yaml file, I sometimes want to delete the object created using that file, but there is no util for that.
I think it would be u

[2021-02-06 23:32] #1215 closed

[2021-02-07 23:39] scottilee commented on #1025
Related: https://github.com/kubernetes-client/python/issues/1257

[2021-02-08 00:24] scottilee commented on #225
Tracking here: https://github.com/OpenAPITools/openapi-generator/issues/7836

[2021-02-08 13:22] nvtkaszpir commented on #1366
[code]

[2021-02-08 15:32] #1366 closed

[2021-02-08 21:40] yliaog commented on #1351
https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json is the openapi spec used for generating python client in this repo. sinceseconds is present there, but sincetime is not.

[2021-02-08 21:59] themrmax commented on #1093
/reopen

[2021-02-08 22:00] themrmax commented on #1093
@MoShitrit how did you go with this? i would very much like this feature

[2021-02-08 22:04] ca-scribner commented on #390
This is a fantastic workaround, but it feels very odd that the python API for objects doesn't know how to output itself as valid kubernetes yaml

[2021-02-09 06:51] neelsomani commented on #1351
I see now, so would this PR be sufficient? https://github.com/kubernetes/kubernetes/pull/98907
Do I need to do anything else?

[2021-02-10 08:03] torgeirl commented on #547
/remove-lifecycle stale

[2021-02-10 15:23] #1315 closed

[2021-02-10 21:51] newhardwarefound commented on #867
Me 2. Is it a problem on the AKS side?

[2021-02-11 02:23] chekolyn commented on #867
This is very normal in K8s watch streams and it depends in multiple factors (apiserver node maintenance, how fast the client can consume the stream, firewalls between the server and client with TTL in TCP connections, etc). The key takeaway here is that you need to account for this type of failure and not expect a stream connection that will persist forever.

One way I have solved this in the past

[2021-02-11 09:30] efotopoulou opened #1374 "Add behaviour field to V2beta2HorizontalPodAutoscalerSpec"
**What is the feature and why do you need it**:
I want to change the default stabilizationWindowSeconds for scale up and down at the hpa.
I need it because i want to programmaticaly change the [configurable scaling behavior of an hpa](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#default-behavior)

**Describe the solution you'd like to see**:
I would like to see an ext

[2021-02-11 17:23] #953 closed

[2021-02-11 17:59] arghya18 commented on #740
Is there any better workaround or progress on the issue?

[2021-02-11 19:58] renukamanavalan opened #1375 "Request for info/clarification"
**What happened (please include outputs or screenshots)**:
I am new to this python kubernetes-client package.

I see this example "how to create custom object" -- [here](https://github.com/kubernetes-client/python/blob/master/examples/custom_object.py)

The example is pretty simple as (_simplified to help with my question_) below
[code]
But the same explained in [doc section](https://github.com/ku

[2021-02-13 00:51] renukamanavalan commented on #1331
I have the same problem. Yes, I am trying to run the script inside container.

[code]
How could I get around this ?

[2021-02-13 01:07] renukamanavalan opened #1376 "config.load_incluster_config fails when called from inside python3 container"
**What happened (please include outputs or screenshots)**:
Ref: sample code [here](https://github.com/kubernetes-client/python/blob/master/examples/in_cluster_config.py)

I ran python:latest docker image inside a master node with following settings to docker runtime

[code]

**What you expected to happen**:
 config.load_incluster_config() loads just fine as given in example.

**How to reproduce it

[2021-02-13 18:25] saswatac opened #1377 "list custom object for all namespaces"
**What is the feature and why do you need it**:

Similar to the core_v1_api, the custom_objects_api should have a method `list_custom_object_for_all_namespaces`

**Describe the solution you'd like to see**:

`list_custom_object_for_all_namespaces` calls endpoint `/apis/{group}/{version}/{plural}` to get custom objects in all namespaces.

[2021-02-14 00:55] renukamanavalan commented on #1331
Resolved my problem

As I was running my pod inside the master
1) mounted /etc/kubernetes into the container
2) export KUBECONFIG=/etc/kubernetes/admin.conf

Now I could use config.load_config itself.

[code]

[2021-02-14 13:30] #1255 closed

[2021-02-15 04:40] JacobHenner commented on #868
I'm working on hacking together an informer-like object for kubernetes_asyncio. If it turns into something useful I'll publish it and link it here for reference.

Regarding the comment above:

Have there been any discussions about this?

[2021-02-15 08:51] erkanerol commented on #818
Note that root cause of this error is  to use `jobs.items` instead of `jobs.items()`

[2021-02-15 11:13] tomplus commented on #868
IMO it should be a part of the library. We already have such high-level abstractions like recently added Leader-Election or applying manifests from yaml files etc.

[2021-02-15 11:32] tomplus commented on #1376
In-cluster means that your application has to be run by Kubernetes. It won't work if you start your application manually on K8s nodes.

[2021-02-15 12:20] MoShitrit commented on #1093
Hey @themrmax
I haven't really looked at it since. Might be a good time to re-evaluate, given that it's been about a year and we passed a few versions and iterations already.
If anyone's willing to take a stab at it- please feel free. Otherwise I'll try myself whenever I can put some time aside to do so.
Thanks!

/reopen

[2021-02-15 14:14] nsubrahm-aws opened #1378 "How do we do rolling restart?"
How do we do `kubectl rollout restart deployment your_deployment_name` ? I couldn't locate appropriate documentation for this.

[2021-02-15 16:16] MoShitrit commented on #1378
@nsubrahm-awsI believe the best way would be to use the [`patch deployment`](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/AppsV1Api.md#patch_namespaced_deployment) function and add a dummy annotation to the `spec.template.metadata.annotations` block. This should trigger the creation of a new replicaset and automatically handle the restart based on the `strategy` specifie

[2021-02-15 23:59] renukamanavalan commented on #1376
Thanks Tom. Actually I was **running this in a container running in master node** which is running a kubernetes control plane. But I managed to resolve as below.

1) mount /etc/kubernetes into docker ( -v /etc/kubernetes:/etc/kubernetes:rw )
2) Inside the container
    2.1) export KUBECONFIG=/etc/kubernetes/admin.conf
    2.2) Use "config.load_config"

[2021-02-15 23:59] #1376 closed

[2021-02-16 06:19] LevonTostig commented on #1244
/remove-lifecycle stale

Issue is not resolved. Python Client 18.0.0 and Python Client 19.0.0 are not released yet. Hence their release notes cannot contain information about the change in versioning scheme.

[2021-02-16 13:06] Jc2k commented on #1093
I believe this PR from 2019 would enable the use of server side apply? https://github.com/kubernetes-client/python/pull/959. It enables you to set the content type, and AIUI that means you can do `content_type=application/apply-patch+yaml` when calling any patch API and enjoy SSA.

[2021-02-16 16:31] dinvlad commented on #741
/remove-lifecycle stale

Any updates on this issue please? We're still getting affected by it quite a bit.

[2021-02-16 19:18] macrotex opened #1379 "Create Kubernetes model object from YAML"
There is currently a function to take a YAML file and create a Kubernetes resource directly from that file, i.e., `create_from_yaml`.  I need a related function that reads from a standard Kubernetes YAML file but instead of creating an actual Kubernetes resource creates, instead, a Python model object.

Here is an example. Say that `namespace.yaml` contains this:
[code]
I would like to be able to

[2021-02-16 21:03] ntorba opened #1380 "How to generate a kubernetes friendly yaml from CronJob object?"
**What happened (please include outputs or screenshots)**:
I am using the client to build a cronjob object in python, like this:
[code]

All I need from this is the kubernetes yaml. I am currently getting the yaml by running `cronjob.to_dict`, but this dict has incorrect keys.

First, the apiVersion key is actually `api_version`, which `kubectl apply` throws an error for.

**What you expected to h

[2021-02-17 22:04] drobison00 commented on #741
Is there any ongoing work to resolve this issue?

[2021-02-18 16:16] ntorba commented on #1380
FIX:
[code]

[2021-02-18 16:16] #1380 closed

[2021-02-19 01:22] chrisegb commented on #1284
@liyao2598330 @riceluxs1t I am a beginner in ansible, where can I find the file where we need to add the change?

[2021-02-19 02:10] chrisegb commented on #1284
Workaround:
Check Kubernetes version with
pip3 list | grep kubernetes

This problem is related with Kubernetes 12, if you see that the version is 12, downgrade to 11 with:

pip3 install kubernetes==11

[2021-02-19 06:59] #1302 closed

[2021-02-19 08:48] Limonkufu commented on #1284
@chrisegb I wouldn't call that a workaround as this issue is already targeting v12 specifically.

[2021-02-19 12:02] adammrozik commented on #1168
Hey! Is there any chance this would be implemented in the future?

Not sure how to effectively mimic `kubectl apply` behaviour with current API

[2021-02-19 21:34] NehemiahG7 commented on #1232
Hello, I am currently running into this issue. Does anyone know if it was resolved, or will I be using the interim solution?

[2021-02-20 08:48] Skyler1017 commented on #518
met same issue

[2021-02-21 10:02] abhiabhi94 opened #1381 "Move regular expression compilation to the top of the module in create_from_yaml"
I was going through the codebase and was trying to understand it. I landed up at:

https://github.com/kubernetes-client/python/blob/6d64cf67d38337a6fdde1908bdadf047b7118731/kubernetes/utils/create_from_yaml.py#L142-L178

I think we can refactor this function by breaking down it into a couple of nested functions to reduce cognitive complexity and maybe distribute responsibilities.

Furthermore, I h

[2021-02-21 12:35] adammrozik commented on #1373
Hey! I was looking for similar functionality, but I guess if we do it, maybe we should generalize?
I see all that is happening inside the code is basically looking for a function called `create_namespaced_{0}`.

We could replace it with something like: `{action}_namespaced_{resource}` and have a function like:
[code]

WDYT?

[2021-02-22 10:35] #1256 closed

[2021-02-23 02:22] Teo920127 commented on #763
I have the same problem, but my apiversion is  sparkoperator.k8s.io/v1beta2 . How can I solve this problem？

[2021-02-23 14:37] MoShitrit commented on #763
@Teo920127 take a look at [that example](https://github.com/kubernetes-client/python/issues/1162#issuecomment-625857707) for listing custom resources.
And the documentation for managing and interacting with custom objects exists [here](https://github.com/kubernetes-client/python/blob/529bae376019d61806d0173e2d28722b995c894d/kubernetes/docs/CustomObjectsApi.md).
So for example, if you wish to creat

[2021-02-23 17:04] #1195 closed

[2021-02-24 07:21] rushant001 commented on #1150
it worked for me
https://github.com/kubernetes-client/python/pull/764/commits/e0d4cdc68520581c8173d088106985136f4a3caf

[2021-02-24 19:23] czieglerAC opened #1382 "Using create_namespace_job results in 404 error"
**What happened (please include outputs or screenshots)**:
I attempted to use the `create_namespaced_job` to create a simple 'hello world' job. Executing the code results in the following error:

[code]

**What you expected to happen**:
The job gets created and details about it get printed to the console

**How to reproduce it (as minimally and precisely as possible)**:
Create namespace 'my_namesp

[2021-02-26 01:22] genevieve commented on #1333
Experienced the same issue. Pinned the k8s module to v11.0 and it's back to working.

[2021-02-26 04:37] yliaog commented on #1300
/reopen

[2021-02-26 04:37] yliaog commented on #1300
/assign @iciclespider

[2021-02-26 04:39] yliaog commented on #1300
https://travis-ci.org/github/kubernetes-client/python/jobs/760520249

the test is still failing after pr #1329

[2021-02-26 12:08] sownak commented on #1333
yep, same error for me as well. Downgraded to v11 to make it work

[2021-02-26 13:49] jeroentorrekens commented on #1333
Credits to @genevieve for the find. For all those having the same issue:
`pip3 install -Iv kubernetes==11.0.0`

[2021-02-27 03:25] #1170 closed

[2021-02-27 09:21] bpereto commented on #1330
Released, right ? :)

[2021-02-27 09:22] bpereto commented on #1330
/remove-lifecycle stale

[2021-02-27 16:45] chekolyn commented on #1379
There is currently a PR https://github.com/kubernetes-client/python/pull/989  for this but it's still in the review process.

[2021-02-27 17:27] typ-ex commented on #1333
Thank you for the workaround @jeroentorrekens

[2021-03-01 17:35] roycaihw commented on #1371
/assign @yliaog

[2021-03-01 17:36] roycaihw commented on #1372
/assign

[2021-03-01 17:36] roycaihw commented on #1373
/assign

[2021-03-01 17:37] roycaihw commented on #1374
/assign

[2021-03-01 17:38] roycaihw commented on #1375
/assign @scottilee

[2021-03-01 17:39] roycaihw commented on #1377
/assign

[2021-03-01 17:41] roycaihw commented on #1378
cc @roycaihw
/assign @MoShitrit

[2021-03-01 17:46] roycaihw commented on #1381
/assign @yliaog

[2021-03-01 17:48] renukamanavalan commented on #1375
I managed it as below.

[code]

[2021-03-01 17:48] #1375 closed

[2021-03-01 17:48] roycaihw commented on #1382
/assign @yliaog

[2021-03-01 17:59] czieglerAC commented on #1382
I was able to get this working by changing main.py to this:

[code]

 I had to dig into the source code to figure out how to use `load_kube_config` correctly because I couldn't find any documentation for it

[2021-03-01 17:59] #1382 closed

[2021-03-01 18:38] yliaog commented on #1381
thanks for willing to help. i think functions are helpful when they are need to be called in multiple places, they do not help much in helping with readability. Please feel free to refactor the code with your other improvement ideas, e.g. Move the regular expression pattern to the top

[2021-03-01 18:40] yliaog commented on #1371
you can configure it in the python api directly, it does not need to be from YAML.

[2021-03-01 19:08] thomasaab commented on #1371
Thank you very much for your answer, but can I modify it when the pod is already created? If so, could you tell me about what function to investigate, please.

For now I solve it using nsenter with the container id, in case someone could find this useful.

[2021-03-01 19:13] yliaog commented on #1371
not sure if it can be modified post pod creation, pod is mostly immutable with only few exceptions.

[2021-03-01 19:17] thomasaab commented on #1371
OK thank you very much

[2021-03-01 19:17] #1371 closed

[2021-03-01 19:34] roycaihw commented on #1368
The python client is lagging behind Kubernetes releases. New releases are tracked in: https://github.com/kubernetes-client/python/issues/1242

[2021-03-01 19:35] roycaihw commented on #1372
Is this a feature supported in Kubernetes API server, or is this a feature request for a new API? If it's the latter, please file a feature request in the main Kubernetes repo.

[2021-03-01 19:39] roycaihw commented on #1373
There is a PR already: https://github.com/kubernetes-client/python/pull/1197. It needs some rebase work to clean the changes up, but feel free to leave comments and suggestions there.

[2021-03-01 19:45] roycaihw commented on #1374
Is this a feature supported in Kubernetes API server, or is this a feature request for a new API field? If it's the latter, please file a feature request in the main Kubernetes repo.

[2021-03-01 19:47] roycaihw commented on #1377
I think https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CustomObjectsApi.md#list_cluster_custom_object is what you want.

/close

[2021-03-01 19:47] #1377 closed

[2021-03-01 19:53] roycaihw commented on #1378
What @MoShitrit suggested sounds good, if adding the annotation is what kubectl does behind the scene. @nsubrahm-aws Could you try it out and see if it works?

[2021-03-01 19:55] roycaihw commented on #1379
/assign @chekolyn

Yes, @chekolyn's PR is what you need. Sorry for the late response. I will take another pass at the PR this week.

[2021-03-01 20:13] dannysauer opened #1386 "delete_namespaced_secret requires a body?"
**What happened (please include outputs or screenshots)**:
Attempting to delete a secret resulted in an error:
[code]

**What you expected to happen**:
I expected the `delete_namespaced_secret` method to not require a body. :)

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

Works fine with a default body. :shrug:
[code]

**Environment

[2021-03-01 20:37] MoShitrit commented on #1378
For the record, I found it [here](https://github.com/kubernetes/kubectl/blob/c1df07341a15fb36264a018e130ee397332bdfc0/pkg/polymorphichelpers/objectrestarter.go#L51) in the `kubectl` codebase

[2021-03-02 02:57] roycaihw commented on #1373
We don't have in-progress work for those functionalities. I imagine patching/replacing could be significantly more difficult than creating/deleting, since you may want to parse yaml into an object and calculate diff against the existing object. You may want to consider using https://github.com/kubernetes-client/python/pull/989 for that.

[2021-03-02 06:16] matthyx commented on #1368
I see, do you need help from me?

[2021-03-02 12:43] spestua commented on #1335
/remove-lifecycle stale

[2021-03-02 18:32] dinvlad commented on #1005
/remove-lifecycle stale

[2021-03-03 05:39] abhiabhi94 commented on #1381
To someone who is not really well versed with the codebase, a function comprising around 15 lines might be a might hard to read v/s a 3-4 functions of 3-4 lines each.

For e.g.
[code]

Also, it would be easier to debug(if and when required) if the [responsibilities are distributed among different functions](https://en.wikipedia.org/wiki/Single-responsibility_principle).

Still not convincing enoug

[2021-03-03 07:59] Teo920127 commented on #763
I was very glad to receive your reply. And I solved the problem according to your guidance. Thank you very much !~

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "kubernetes-client/python"

[2021-03-03 17:52] yliaog commented on #1381
in this case, functions serve as dividing the code into a few blocks, and give each block some extra documentation (input, output, name). my thinking is it's not very helpful to use 'real' functions to do these. They can be done with just blocks, and documentations.

[2021-03-04 01:41] roycaihw commented on #1368
I plan to sync with the current contributors on how we can unblock the releases. Will have more to share once we discuss the next steps.

[2021-03-04 09:39] srinivasev opened #1387 "Is there an option to configure watch or listener on configmap resource"
We have config maps mounted in the container as volumes. Basically, these config maps are properties (key, value pairs) which are used by the application code. If there is any change in the config maps during runtime, the application/service requires the restart.

Is it possible to have some listener/watch configuration that invokes an action As part of the invocation, we are planning to introduce

[2021-03-04 12:52] tomplus commented on #1386
This body argument is for passing [V1DeleteOptions](V1DeleteOptions).

Please take a look on this example:
https://github.com/kubernetes-client/python/blob/f17076f0e12bd894877825906864b42f25756f0c/examples/deployment_crud.py#L78

[2021-03-04 14:50] andy-kwo-any opened #1388 "how to get namespaces ingressroutes through"
**Link to the issue (please include a link to the specific documentation or example)**:

I have the following command line below. It gives me the namespaces and ingressroutes names (see the Example below)

`kubectl --context mlf-eks-dev get --all-namespaces ingressroutes`

**Example**

[code]

**Description of the issue (please include outputs or screenshots if possible)**:
I'm trying to replicate

[2021-03-04 20:50] tardis4500 commented on #958
There is a way to accomplish this if you the pod doesn't need the Istio sidecar. In that case you can add an annotation to the pod and the Python client exec will work: sidecar.istio.io/inject: "false"

[2021-03-05 15:47] tomplus commented on #1388
I guess the context which you pass to kubectl may be important. Could you try to run: ```kubectl get --all-namespaces ingressroutes```?

[2021-03-05 15:56] tomplus commented on #1387
You can watch all type of objects in K8s. Please take a look at this example: https://github.com/kubernetes-client/python/blob/master/examples/pod_namespace_watch.py

[2021-03-06 11:30] abhiabhi94 commented on #1381
one more thing that i forgot to mention, they was a potential [boolean-trap](https://ariya.io/2011/08/hall-of-api-shame-boolean-trap) in the function mentioned with `verbose` argument. I had removed in the suggestion above. would you like to remove the boolean-trap? it will have backward incompatibility.

[2021-03-07 19:02] jamie-34254 commented on #1336
/remove-lifecycle stale

[2021-03-08 08:37] andy-kwo-any commented on #1388
Hi @tomplus,

Thank you. The command you gave me, seems to be my initial command line without the `context`.

 Best regards,
 Andy

[2021-03-08 17:40] Le4o commented on #254
I am trying to connect to my Kubernetes cluster from a pod inside the cluster using the Python API, but it keeps returning the following error when i call `create_namespaced_cron_job` from `BatchV1beta1Api`:
[code]
This is the code i am using for the connection, i tried the solutions presented above, but still can't connect.

[code]
This is my requirements:
[code]
and the version of the Kubernetes

[2021-03-08 17:55] yliaog commented on #1381
it's nice to remove boolean-trap, but introducing backward incompatibility is a concern. a quick search shows it is referenced e.g.  http://danielhnyk.cz/programatically-spawn-kubernetes-resources-from-python/

[2021-03-09 03:14] roycaihw commented on #1005
/unassign @fabianvf @iamneha

[2021-03-09 08:22] guykanyvision opened #1389 "persistent_volume_reclaim_policy key is not valid when using patch_persistent_volume"
**What happened:**
I was trying to patch persistent_volume_reclaim_policy with patch_persistent_volume function:

`v1.patch_persistent_volume(name='pvc-e8e2ad15-8236-4da5-ab27-6b39c9fd763f', body={'spec': {'persistent_volume_reclaim_policy': 'Delete'}})`

But nothing changed and and the response was:
`'persistent_volume_reclaim_policy': 'Retain',`

After some debugging i understood that i should c

[2021-03-09 17:46] dinvlad commented on #741
This issue has been affecting us quite a lot - @roycaihw could please assign someone to look further into it? We just need an approximate timeline on what it could be addressed, so we can plan ahead if we need to come up with a workaround in the near term or just to wait on the fix (and others, please chime in if you have a workaround already!)

[2021-03-09 20:07] yliaog commented on #1381
i'm not sure about the backward incompatibility part, we need the community input on whether it's worthwhile to make the breaking change. Feel free to send out a PR, we can ask the community to weigh in.

[2021-03-09 23:03] houqp commented on #741
@dinvlad i have pushed my workaround into Airflow at https://github.com/apache/airflow/blob/master/airflow/kubernetes/kube_client.py. We have been running Airflow with this custom client in production for more than a year now without any issue.

[2021-03-10 11:28] Uznick commented on #741
We have a similiar workaround as well. Works fine for now.

[2021-03-10 12:59] ashb commented on #1304
/remove-lifecycle stale

[2021-03-10 18:21] dinvlad commented on #741
@houqp by looking at your [code](https://github.com/apache/airflow/blob/1cdd1cd3a356e95975357da2dc65ff2afb2a63c7/airflow/kubernetes/kube_client.py#L40), it uses the default `load_incluster_config()` when running inside the cluster. Does it mean you only experience this issue with the default `load_kube_config()`? We're seeing it even with `load_incluster_config()`, if I'm reading that right.

[2021-03-10 18:57] dinvlad commented on #741
To more specifically expand on our issue (which might be slightly different from others' use of config loader here), we use `load_incluster_config()` for in-cluster cleanup operation, which in our case is the following pseudo-code:
[code]
So our issue (if I'm not mistaken) is that no matter how credentials are fetched (either in-cluster or not), they seem to be "cached" in the config, and then `st

[2021-03-10 19:12] houqp commented on #741
@dinvlad my fix was only for out of cluster communication where auth goes through iam-authenticator. IIRC, in cluster communication uses builtin K8S auth, which doesn't have this problem.

[2021-03-11 14:52] dannysauer commented on #1386
I agree that it has a use, but if it works as expected with the default V1Secret constructor, why not simply make that constructor the default for the argument and make the body argument optional?  As an end-user relatively new to the kube API (and thus also not super familiar with conventions across the API), it feels weird that "delete namespaced secret" requires providing more than a namespace

[2021-03-11 18:23] #1276 closed

[2021-03-12 00:29] #1275 closed

[2021-03-12 02:31] #994 closed

[2021-03-13 18:10] #1171 closed

[2021-03-14 22:53] #1381 closed

[2021-03-15 07:14] artiship opened #1391 "Need a function to get cluster info from kubeconfig"
**What is the feature and why do you need it**:

I need to submit jobs to multiple clusters to rebalance the computing workload. Once a cluster context gets chosen the better is that I can also get the corresponding API server URL.

**Describe the solution you'd like to see**:

A standard cluster config in kubeconfig is like this:

[code]

Maybe there should be a function like this to get the clus

[2021-03-15 13:49] snstanton commented on #1032
/remove-lifecycle stale

[2021-03-15 16:35] roycaihw commented on #1386
/assign @yliaog

[2021-03-15 16:36] roycaihw commented on #1387
cc @yliaog

[2021-03-15 16:38] roycaihw commented on #1388
/assign

[2021-03-15 16:40] roycaihw commented on #1389
/assign @yliaog
cc @roycaihw

[2021-03-15 16:42] roycaihw commented on #1391
It's something good to have. Let see if someone can help pick it up

/help

[2021-03-15 16:49] roycaihw commented on #1388
It looks like you were using the `list_pod_for_all_namespaces` function and you want a `list_ingressroute_for_all_namespaces` function. `ingressroute` is a CRD so it doesn't have a dedicated function for it. You can use the dynamic custom_object functions and pass in the `group, version, plural` of `ingressroute`: https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CustomObject

[2021-03-16 01:43] yliaog commented on #1386
which version are you using?

please checkout a similar issue https://github.com/kubernetes-client/python/issues/798#issuecomment-477052554

[2021-03-16 01:51] yliaog commented on #1389
currently, this python client is automatically generated, it provides a thin-wrapper on the generated library.

I agree it would be ideal to either 1/ provides the auto translation or 2/ provides some validation to give out indicative errors when wrong key is used.

However, neither could be easily done. Feel free to add if you have some good ideas about how to do it.

[2021-03-16 01:54] yliaog commented on #1387
https://github.com/kubernetes/kubernetes/issues/99770

[2021-03-16 04:47] infa-anisrini opened #1393 "how to ignore daemonset delete local data while calling create_namespaced_pod_eviction"
While draining from kubectl we use

`kubectl drain <node> --delete-local-data --ignore-daemonsets`

But how can i ignore daemonset and delete local data while calling create_namespaced_pod_eviction

[2021-03-16 11:47] gksnjy opened #1394 "kind is None for each item when requesting for list object."
Similar issue: https://github.com/kubernetes-client/python/issues/586

`kubectl get nodes -o yaml` returns a list object with each items too set with right `kind` and `apiVersion` but when we request for a node list object through python client it still returns `null`.

[code]
Apart from `kind` being set to `null`, the output of the above code significantly differs from `kubectl get nodes -o yaml`

[2021-03-16 14:37] molejnik-mergebit commented on #740
Would appreciate any update or ETA on this as well

[2021-03-16 19:19] dannysauer commented on #1386
8.0.1 - which apparently is pretty old.  I'll get in touch with the maintainer at SUSE and see about getting that package updated.  There's a newer version available within the SUSE org; it just needs promoted across the other operating system releases.  There was a big shake-up in the container developer teams there, so this has probably fallen though the cracks for a while.

Thanks, @yliaog. Sou

[2021-03-17 00:24] mozillazg commented on #1391
/assign

[2021-03-17 00:34] mozillazg commented on #1391
I'd like to work on this issue.

@roycaihw If we change the return values of function `config.list_kube_config_contexts`, it will break backward compatibility. What new function name do you recommend using?

[2021-03-17 10:37] bateau84 commented on #1330
Any action here?

[2021-03-17 12:45] Ashjoker24 opened #1395 "Job example should properly retrieve job status after creation"
I tried example code to run the job and it works fine with my local k8s but it prints status as None.
My code:

[code]

and the output is,
[code]

[2021-03-17 18:08] alanjcastonguay commented on #1394
A request for a list of nodes made with kubectl 1.20.2 to api-server 1.19.3 doesn't contain `kind` or `apiVersion` fields in each Pod resource (inside `.items[]`) in the response body on the wire.

[code]

[code]

I think the `kind`/`apiVersion` fields are added by kubectl for print in https://github.com/kubernetes/cli-runtime/blob/bc95ff91653e956ac06fbff1a242c3d96687602d/pkg/printers/typesetter.g

[2021-03-17 18:18] gksnjy commented on #1394
Thanks for the explanation Alan! I'll see if I can contribute in this regard to set the appropriate `kind` and `apiVersion` values for each items when requesting for list objects. And may be omit `null` values too.

[2021-03-18 12:30] VariableDeclared opened #1396 "TypeError: __init__() got an unexpected keyword argument 'assert_hostname'"
**What happened (please include outputs or screenshots)**:

When running the `pod_exec.py` example a TypeError is thrown, this appears to come from one of the depencies that needs an arguement updated.

**What you expected to happen**:

The example would run successfully.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

Tried on Pytho

[2021-03-18 14:03] #1093 closed

[2021-03-18 16:26] brendandburns commented on #1365
Here are the relevant instructions for generating an Azure Kubernetes Service (AKS) config:
https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az_aks_get_credentials

[2021-03-19 10:09] Ashjoker24 opened #1397 "How to get the pod name when I run the job and get pod logs"
I tried a sample job to run the counter in my k8s cluster, but I need to get the job's pod name and need to show the pod logs which is equivalent to `kubectl logs <pod name>`. the example job is like,
`from os import path
import yaml
from kubernetes import client, config
JOB_NAME = "counter"

def create_job_object():

    container = client.V1Container(
        name="counter",
        image="cento

[2021-03-19 10:39] artiship opened #1398 "Need a function to get events for a pod"
**What is the feature and why do you need it**:

When creating a pod failed. I need to log out events of the pod for further troubleshooting. Such as finding out which node is associated with the pod.

**Describe the solution you'd like to see**:

[code]

[2021-03-19 11:46] mecampbellsoup commented on #323
Just curious but, @tomplus what was your motivation for doing this?

Can't sync libraries be used drop-in inside an async application/context?

[2021-03-19 12:09] hanikesn commented on #323
I'm not Tom, but I used kubernetes_asyncio in the past to build a highly stateful nginx plus controller based on watches, which requires quite a bit of coordination between different parts of the system. Having a native async library makes this task a lot easier.

[2021-03-19 15:37] viktoriaas opened #1399 "volume_handle attribute missing in V1CSIVolumeSource _init_"
**What happened (please include outputs or screenshots)**:
I want to make PersistnetVolume with `V1CSIVolumeSource`. The problem part is its spec where one required attribute is missing from `V1CSIVolumeSource _init_`

This code:
[code]
fails with
[code]

Changing `volume_handle` to `volumeHandle` (sometimes camelCase or snake_case matters) fails with same error
[code]

It's true that [ V1CSIVolum

[2021-03-20 06:40] ianschorr commented on #1137
Running into the same problem, and not getting this:

The upstream API spec doesn't cover these python-specific details and not sure what "The issue is relevant in the OpenAPI generator's context" means (or at least what it has to do with the question)?

[2021-03-21 11:31] pitwegner commented on #972
/reopen
/remove-lifecycle rotten
This issue is still present

[2021-03-22 06:35] Ashjoker24 commented on #1398
I am also need the same

[2021-03-22 08:57] viktoriaas commented on #1399
I'm closing this because of my oversight but might help someone.
It's enough to use [V1CSIPersistnetVolumeSource](https://github.com/kubernetes-client/python/blob/b79ad6837b2f5326c7dad488a64eed7c3987e856/kubernetes/client/models/v1_csi_persistent_volume_source.py)

[2021-03-22 08:57] #1399 closed

[2021-03-22 17:27] ethanagold opened #1400 "restartPolicy defaulting to `Always` - cannot create CronJobs"
**What happened (please include outputs or screenshots)**:

[code]

**What you expected to happen**:

Successful creation of a simple CronJob.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

More code examples would not hurt.

**Environment**:
- Kubernetes version: `v1.18.12-gke.1206`
- OS: `MacOS 11.2.1`
- Python version: `Python 3.

[2021-03-22 18:43] ethanagold commented on #1400
Resolved - issue was nesting of `spec` and `template` kwargs - was not easy to figure out - please provide more documentation.

[2021-03-22 18:43] #1400 closed

[2021-03-22 19:00] kyprifog commented on #1316
For anyone else that stumbles on this like I did and don't know what to specify as plural because it seems to have changed for spark-operator you can get it by running:

[code]

[2021-03-23 04:13] artiship commented on #1398
I found that the `read_namespaced_pod` function can get the pod status which contains assigned node and error message

[2021-03-23 05:00] Akasurde commented on #1396
@VariableDeclared Could you please check #1401 and let me know if it works for you? Thanks.

[2021-03-23 16:38] kyprifog commented on #1005
This is becoming a thorn for me.  Was this ever resolved?

[2021-03-23 16:49] MoShitrit commented on #1005
@kyprifog I am currently waiting for [this](https://github.com/kubernetes-client/python-base/pull/221)PR to get approved and merged, then I'll be able to update the example to use the newly implemented method. Hopefully that'll happen soon.

[2021-03-23 21:25] WouldYouKindly opened #1402 "Document client-side timeouts in watch"
Hi!

From the watch example it is not clear that `timeout_seconds` is a server-side timeout, and that the client will hang indefinitely in case of a network failure. I found out about this from [this comment](https://github.com/kubernetes-client/python/issues/1148#issuecomment-626184613) after we experienced the issue in my team.

I suggest documenting this in [the watch example](https://github.co

[2021-03-25 01:28] doubleyewdee commented on #895
Just ran into an issue with an Azure Kubernetes Service (AKS) 1.19.5 cluster where the above 'monkey patch' worked for me. We are migrating from 1.18.x to 1.19.x and found that a service using this API was broken.

The issue reproduces trivially on both the release (12.0.1) and alpha (17.14.0a1) packages. Should this issue really be closed?

[2021-03-25 01:46] doubleyewdee commented on #895
Ok, this is a [still open k8s bug](https://github.com/containerd/containerd/issues/4771), so yeah the issue I guess can be closed although as more users shuffle to containerd-backed clusters they may be surprised. :)

[2021-03-25 18:51] #1297 closed

[2021-03-25 21:54] #1298 closed

[2021-03-29 01:42] davidboybob commented on #765
/remove-lifecycle stale

[2021-03-29 01:42] davidboybob commented on #765
/remove-lifecycle stale

[2021-03-29 06:40] arjunkrishnasb commented on #1333
Faced the same issue. Downgrading kuberenets to v11 helped. Thanks!
Now my packages are
kubernetes==11.0.0
openshift==0.12.0

[2021-03-29 16:35] roycaihw commented on #1393
/assign @yliaog

[2021-03-29 16:37] roycaihw commented on #1395
/assign

[2021-03-29 16:39] roycaihw commented on #1397
/assign @yliaog

[2021-03-29 16:40] roycaihw commented on #1398
/assign @yliaog

[2021-03-29 16:41] roycaihw commented on #1402
cc @roycaihw

[2021-03-29 17:20] roycaihw commented on #1395
ah, just realized this is our [example](https://github.com/kubernetes-client/python/blob/master/examples/job_crud.py) code. @Ashjoker24 If you don't mind, could you please send a PR to update the example to retrieve the status properly?

[2021-03-29 17:21] roycaihw commented on #1395
/unassign
/good-first-issue

[2021-03-29 18:22] yliaog commented on #1393
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#create-eviction-pod-v1-core
https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/#eviction-api

create_namespaced_pod_eviction is the calling the eviction api on a given pod in a given namespace. The pod is determined before calling the api.

you may list the pods in a namespace, filter out all those pods that ar

[2021-03-29 18:29] abhishekdhotre commented on #1098
Still facing the issue using kubernetes-12.0.1 and kubernetes v 1.17, any updates?

[2021-03-29 18:34] yliaog commented on #1398
you may call events api to list recent events, and find all the events that are related to the pod.

here is the events api:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/EventsV1beta1Api.md
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#event-v1-events-k8s-io

[2021-03-30 01:27] roycaihw commented on #1396
/assign @Akasurde

Fixed by #1401
/close

[2021-03-30 01:27] #1396 closed

[2021-03-30 07:55] VariableDeclared commented on #1396
That works, thanks!

[2021-03-30 21:44] cjbaar commented on #1202
@roycaihw I am having a similar issue, and am not able use JSON patches at all with this library. The code you show relies on the content being set to 'application/json-patch+json' in the first place, which as far as I can tell from reviewing api.py files, it never does... so this never executes. Do you have any more info on how the "auto-select" of header type is supposed to work?

[2021-03-30 22:47] mikepii opened #1404 "Watch bookmarks don't work for job resources (deserialization error)"
**What happened (please include outputs or screenshots)**:

Iterating the return value of `Watch().stream()` raises an exception when a bookmark event is received. It successfully iterates events prior to the bookmark being received.

Stack trace:

(`iterator = Watch().stream(..., allow_watch_bookmarks=True)`)

[code]

**What you expected to happen**:

The iterator should yield an event like `{'ty

[2021-03-31 15:06] cben commented on #819
kubernetes discussion: https://github.com/kubernetes/kubernetes/issues/74022.  They decided they're not gonna fix Watch with RV "" or "0", people should move to List+Watch.
Note interesting discussion starting https://github.com/kubernetes/kubernetes/issues/74022#issuecomment-465055778 about watch from RV "0" not being correctly restartable _even if the initial list-pretending-to-be-ADDED were sor

[2021-04-01 18:34] #1247 closed

[2021-04-05 01:46] konradjurk opened #1407 "Does not load server address from kube config"
After `config.load_kube_config()` I can use `config.list_kube_config_contexts()` to list the contexts from my kube config but trying to execute any API fails with

[code]

The Kubernetes server does not run on localhost:80. The correct address is configured in the kubeconfig file and kubectl has no problems connecting to the server.

The only way to make your library work with my server is to run

[2021-04-05 02:14] konradjurk commented on #1407
💡Confused the order of these function calls.

Wrong
[code]

Correct
[code]

[2021-04-05 02:14] #1407 closed

[2021-04-05 11:43] kdebisschop commented on #524
@palnabarun it looks you self-assigned this. It seems like a tough nut to crack. Have you made any progress? Is there anything I can do to help?

[2021-04-05 13:04] zidhumenon commented on #1395
/assign

[2021-04-05 13:04] zidhumenon commented on #1395
I would like to work on this issue.

[2021-04-06 19:37] GhostInThePotato commented on #962
I'd still like to see a fix for this.
/remove-lifecycle stale

[2021-04-06 22:31] KeithTt commented on #839
I have 4 kubernetes clusters, and I need some field to distinguish them when collecting kubernetes events by `list_event_for_all_namespaces`, is there a good way to deal with it?

[2021-04-07 01:48] KeithTt commented on #502
The doc of the `watch` method in the source code have explained this, but I wonder why it should stop when it is too old?

Can not it block to run without stop? If the program stop, it need to deal with it manually? It is a little strange...

[2021-04-08 05:28] sodul commented on #1333
Another voice to the list of impacted folks. We had to roll back to 11.0.0. The lack of fixes is concerning as we are about to migrate to k8s 1.18 and soon 1.19 and 11.0.0 is not guaranteed to would well beyong k8s 1.17.

@tomplus there are several reports for this regression. Is there a fix planned in the near future?

[2021-04-08 16:10] zbentley opened #1409 "Failure when running custom auth programs ("exec" in kubeconfig) is not indicated in exceptions"
**What happened (please include outputs or screenshots)**:

When using an invalid `exec` field for my kubeconfig's auth, the Python kubernetes client emits exceptions that are not useful for diagnosing the issue (the error doesn't indicate that there was anything wrong running the auth program):

[code]

Above that stacktrace, the STDERR/STDOUT of the auth `exec` program are sent straight to the t

[2021-04-09 00:22] #1025 closed

[2021-04-09 18:09] MrPallaBall opened #1410 "Cannot deploy on Kubernetes: deployments.apps is forbidden"
Hello,
here a Kubernetes message when I deploye a docker image from a gitlab repository:
`  {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"deployments.apps is forbidden: User \"system:serviceaccount:default:default\" cannot create resource \"deployments\" in API group \"apps\" in the namespace \"default\"","reason":"Forbidden","details":{"group":"apps","kind":"deplo

[2021-04-10 09:53] MrPallaBall commented on #1410
I have an update for all:

using the python crud example [here](https://github.com/kubernetes-client/python/blob/master/examples/deployment_crud.py) I have the same problem during the deployment step:
[code]

Just to understand all, I'm in GKE on Google Cloud where I create a cluster with teh same user that run the kubectl apply command

[2021-04-11 16:55] torgeirl commented on #1242
/remove-lifecycle stale

[2021-04-12 08:24] KeithTt commented on #1294
Got the same problem...but I only call the watch method by kube_config without any proxy.

Kube version: 1.16.4

I have four kubernetes clusters, only the two 1.16.4 clusters had this problem, I think it is a server side issue, but we will not update our kube cluster  in a short time.

Here is my code:
[code]

I have checked the source code of `Watch.stream(func)`, I do not think I can catch the e

[2021-04-12 12:29] MoShitrit commented on #1410
Hey @MrPallaBall
The issue you're seeing here is related to RBAC. You are trying to use the `default` service account, which be default- isn't allowed to do _anything_ when it comes to interacting with the k8s API.
Usually, when you create a script/app/any piece of code which should interact with the k8s API using a client (Go, Python, Java, or even simply using `curl` commands) - you have to prop

[2021-04-12 16:20] RobertDiPaolo commented on #895
We've just run into this issue, I'm surprised this is closed. I appreciate the spec says it's required but it seems quite tight to reject the entire server response on a null field! Whatever happened to the Robustness Principal, i.e. be liberal in what you accept. We'll try the monkey patch for now.

[2021-04-12 16:43] roycaihw commented on #1404
/assign @yliaog

[2021-04-12 16:45] roycaihw commented on #1409
/assign
/help

[2021-04-12 16:47] roycaihw commented on #1410
/assign @MoShitrit
Thanks!

[2021-04-12 17:54] zsoltion commented on #1232
It is still an issue.

[2021-04-12 17:54] zsoltion commented on #1232
/remove-lifecycle rotten

[2021-04-12 18:47] #1094 closed

[2021-04-12 19:08] roycaihw opened #1412 "Document the workaround for LIBRARY env in client generation"
ref https://github.com/kubernetes-client/python/pull/1411#discussion_r611772514

Document the temporary workaround in devel release doc. Cherrypick the workaround into master branch if needed (and add a TODO about removing it once we fix the issue in gen repo).

[2021-04-12 19:23] roycaihw opened #1413 "Drop Python 2 support"
As documented in https://github.com/kubernetes-client/python/blob/master/CHANGELOG.md#v1700-snapshot. We should drop support for Python 2 from the next release (v18.0.0). This includes:
- drop Python 2 from master branch
- make sure all the tests use Python 3
- drop Python 2 from v18 beta release.

[2021-04-12 20:50] roycaihw opened #1414 "Document the release process for v18"
ref https://github.com/kubernetes-client/python/pull/1411#issuecomment-818216374

The current release process doesn't support multiple parallel releasing well. I need to document how to update the pre-release branches (release-18.0, release-19.0) to pull changes from master branch without hitting into merge conflicts.

[2021-04-13 01:09] tlianza commented on #1064
I can't quite see in the code (in `kube_config.py`) how you'd pass a proxy server in such that it would ever get set. In other words, even with no changes to the openapi-generator, how could you ever get `if configuration.proxy:` to be set to true in the current k8s client?

[2021-04-13 01:39] KeithTt commented on #826
This API return too much info... Is there another one return info like `kubectl top pod`:

![image](https://user-images.githubusercontent.com/15189954/114484028-0b826d80-9c3c-11eb-89ca-526383707269.png)

[2021-04-13 14:53] ratripathi commented on #1333
None of the above solutions work for me.

[2021-04-13 17:35] #1404 closed

[2021-04-14 10:11] KeithTt commented on #1272
Is there a API can Check certificate expiration?  Like the output of `kubeadm alpha certs check-expiration`.

[2021-04-15 00:11] #1039 closed

[2021-04-15 19:04] mrpowerus commented on #1234
/reopen

[2021-04-15 21:05] iomarcovalente commented on #234
I disagree - I just tested the parameter like this
[code]
and it works as expected. Now I don't know if it will be deprecated but saying that it has no effect is incorrect.

[2021-04-16 19:42] mturde commented on #309
Hello

[code]
OR

`warnings.simplefilter("ignore", ResourceWarning)`

This code are definitely worked

[2021-04-18 04:30] aantn opened #1417 "No API for creating ephemeral containers"
It seems like there is no API for creating ephemeral containers. The ephemeral container model is generated properly however no create_ephemeral_containers function seems to exist.

[2021-04-19 14:50] atmask commented on #585
This still seems to be a relevant issue even after the release of 12.0.0. Was any progress made here?

[2021-04-19 21:03] mecampbellsoup commented on #240
Much, MUCH easier way to see this is simply passing `--v=6` or above for more verbosity.

[2021-04-21 08:34] KeithTt commented on #1398
Is there an API to get the expiration time of the ssl certification?

[2021-04-21 16:47] roycaihw commented on #1353
I think you're hitting the [breaking change](https://github.com/kubernetes-client/python/blob/master/CHANGELOG.md#v1201). Could you try using `conf = Configuration().get_default_copy()`, e.g. https://github.com/kubernetes-client/python/pull/1401/files?

[2021-04-21 16:51] roycaihw commented on #1340
Closing due to inactivity. Please reopen if needed

/close

[2021-04-21 16:51] #1340 closed

[2021-04-21 16:57] roycaihw commented on #1339
Based on https://kubernetes.io/docs/concepts/storage/volume-snapshots/#introduction, volume snapshot APIs are CRDs. You can use the dynamic client ([example](https://github.com/kubernetes-client/python-base/blob/master/dynamic/test_client.py)) to access them.

[2021-04-21 17:06] yliaog commented on #1398
all k8s APIs are listed in https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#-strong-api-overview-strong-

not sure if there is one  API to get the expiration time of the ssl certification

[2021-04-21 17:10] #1293 closed

[2021-04-21 17:12] joshuastagner commented on #1353
I have tried setting a new default Configuration with the attr `client_side_validation = False` using the `set_default` method but it isn't carried through to the model where the value I would like to set would prevent an exception. [This](https://github.com/kubernetes-client/python/blob/master/kubernetes/client/models/v2beta1_horizontal_pod_autoscaler_status.py#L98) is the exception I am getting.

[2021-04-21 17:20] roycaihw commented on #1353
The HPA creation failing the validation must be another occurrence of https://github.com/kubernetes-client/gen/issues/52. The condition field is marked as "required", but the apiserver is omitting it when responding. This can be fixed in upstream openapi spec. Please see https://github.com/kubernetes-client/gen/issues/52#issuecomment-396761781 for an example fix.

[2021-04-21 17:25] roycaihw commented on #1353
I think this is a bug in the upstream client generator and was fixed in https://github.com/OpenAPITools/openapi-generator/pull/8500. We need to bump the [client generator version](https://github.com/kubernetes-client/gen/blob/master/openapi/openapi-generator/client-generator.sh#L44) to include the fix.

[2021-04-21 17:31] roycaihw opened #1421 "Bump openapi-generator version in a future pre-release"
ref https://github.com/kubernetes-client/python/issues/1353#issuecomment-824230648

There is some bug fixes in openapi-generator that we want to pick up. We should bump the generator version in an upcoming pre-release.

Currently our latest releases are v17.14.0a1 (published) and v18.17.0a1 (cut but not published yet). I don't think we want to bump the version in v17.x.0b1 because that will cause

[2021-04-21 17:31] joshuastagner commented on #1353
I think this looks like the exact fix I was hoping for! For the time being, I will catch the `ValueError` exception accordingly. Thanks @roycaihw

[2021-04-21 17:31] roycaihw commented on #1353
Filed https://github.com/kubernetes-client/python/issues/1421 to track bumping the version in the next prerelease.

[2021-04-21 17:36] roycaihw commented on #1421
I'm working on adding some scripts to automate the release process, e.g. https://github.com/kubernetes-client/python/pull/1419.

I want to use the scripts to automate the client generation and release note collection for 18.0.0-snapshot in master (today it's 17.0.0-snapshot), and then we can upgrade the client generator.

[2021-04-22 02:36] KeithTt commented on #1398
Unfortunately, I have not found this API...

[2021-04-22 08:28] orencohendev opened #1422 "CoreV1Api.read_node() crashes upon encountering a <none> image"
**What happened (please include outputs or screenshots)**:
CoreV1Api.read_node() excepts and fails when an image is `<none>`.
Traceback shown below.
The gist of the bug is that the method tries to access a property of the image and it crashes because it's None.

![Screenshot from 2021-04-12 13-08-45](https://user-images.githubusercontent.com/62210374/115670701-614cc900-a352-11eb-8bbd-9e24df10fb40.

[2021-04-22 19:19] #1328 closed

[2021-04-22 20:53] roycaihw opened #1423 "Travis CI not recognizing project admins in github teams"
Travis CI allows project admins to manually trigger builds. This is helpful when a test flake blocked a build, especially when the build is a [release](https://travis-ci.org/github/kubernetes-client/python/builds/767619452) (automatically trigger by a tag), where it's difficult to re-push a tag.

However travis ci stopped allowing me to manually trigger builds even though I'm in the team https://g

[2021-04-22 20:53] roycaihw commented on #1423
/close

[2021-04-22 20:53] #1423 closed

[2021-04-22 21:32] roycaihw opened #1424 "v18.17.0a1 release failed to build wheels for ppc64le"
**What happened (please include outputs or screenshots)**:
v18.17.0a1 release failed to build wheels for ppc64le: https://travis-ci.org/github/kubernetes-client/python/jobs/767619477
[code]
The deploy stage for AMD64 succeeded

**What you expected to happen**:
Either we don't need to deploy the wheels twice, or the deploy for ppc64le should succeed.

**Anything else we need to know?**:
Travis CI c

[2021-04-23 14:30] #1325 closed

[2021-04-26 10:47] jparklab commented on #1377
@roycaihw list_cluster_custom_object is to list *cluster scoped* custom objects, and the request is to have list_custom_object_for_all_namespaces similar to list_service_for_all_namespaces for services.
FYI, java client has a similar issue: https://github.com/kubernetes-client/java/issues/941

[2021-04-26 10:54] jparklab commented on #1377
Please disregard my comment above. list_cluster_custom_object worked for namespace scoped custom objects.

[2021-04-26 11:47] doronmak commented on #895
just get the same issue

[2021-04-26 14:28] eguiller-pr commented on #1086
/reopen
Hi @roycaihw,
Which is at the moment the way to figure out that the web socket connection has ended with timeout?
I am trying to use the run_forever method and afterward check if the connection is still open.

[2021-04-26 14:57] SimplySeth opened #1427 "Example of body format for patch_cluster_custom_object"
Currently I'm struggling to use `patch_cluster_custom_object` , I though I could just feed it the JSON of the data in the body and it will patch it.

I think there is some more information in `body` that needs to be included.

Is there an example somewhere of what information needs to be in body so I can patch my custom resource?
Thanks.

[2021-04-26 16:39] roycaihw commented on #1417
/assign @yliaog

[2021-04-26 16:43] roycaihw commented on #1422
/assign

[2021-04-26 16:46] roycaihw commented on #1427
/help

[2021-04-26 17:19] roycaihw opened #1428 "Support customizing “Accept” header"
**What is the feature and why do you need it**:
From a [conversation in slack](https://kubernetes.slack.com/archives/C0EG7JC6T/p1618849894270000). Kubernetes client-go has a metadata client that only retrieves object metadata from the API server. It helps in scenarios where the user only cares about object metadata and wants to reduce the client-side deserialization time. The easiest way to suppor

[2021-04-26 17:20] roycaihw commented on #1428
/help

cc @Yashks1994 @Priyankasaggu11929

[2021-04-26 17:21] Yashks1994 commented on #1428
/assign

[2021-04-26 17:21] roycaihw commented on #1427
cc @Yashks1994 @Priyankasaggu11929

[2021-04-26 17:24] Priyankasaggu11929 commented on #1427
/assign

[2021-04-26 17:24] roycaihw opened #1429 "Dynamic client example"
**Link to the issue (please include a link to the specific documentation or example)**:
https://github.com/kubernetes-client/python/tree/master/examples

**Description of the issue (please include outputs or screenshots if possible)**:
We don't have [examples](https://github.com/kubernetes-client/python/tree/master/examples) for the [dynamic client](https://github.com/kubernetes-client/python-base

[2021-04-26 17:24] roycaihw commented on #1429
/help

cc @Yashks1994 @Priyankasaggu11929

[2021-04-26 17:26] Priyankasaggu11929 commented on #1429
/assign

[2021-04-26 17:32] roycaihw commented on #1422
Please let me know when you have a reproduce of the except message

[2021-04-26 17:45] roycaihw opened #1430 "Support server-side apply"
**What is the feature and why do you need it**:
Kubernetes [server-side apply](https://kubernetes.io/docs/reference/using-api/server-side-apply/) is meant to be the new standard of patching objects and managing fields. Today the Python client supports v18 API (v18.17.0a1), where server-side apply went [beta 2](https://kubernetes.io/blog/2020/04/01/kubernetes-1.18-feature-server-side-apply-beta-2/)

[2021-04-26 17:47] roycaihw commented on #868
The kopf's has a [watch implementation](https://github.com/nolar/kopf/blob/main/kopf/clients/watching.py) that is claimed to be informer-equivalent, which may be interesting to look into.

[2021-04-26 17:48] roycaihw commented on #1421
/reopen

to track upgrading the generator version in this client.

[2021-04-26 17:50] roycaihw commented on #1412
fixed by https://github.com/kubernetes-client/gen/pull/187

this is no longer needed
/close

[2021-04-26 17:50] #1412 closed

[2021-04-26 18:23] yliaog commented on #1417
https://github.com/kubernetes/kubernetes/blob/5b46064cae41395cf775cb445ffdaae1261076c7/pkg/features/kube_features.go#L97

it was alpha since 1.16, and stayed at alpha till now. alpha features are disabled by default. once it moves to beta, there will be api for creating ephemeral containers.

[2021-04-26 19:27] roycaihw commented on #1417
Ephemeral container is a subresource of pod. There is no standalone API endpoint for ephemeral containers. You can use pod API to access ephemeral containers.

[2021-04-26 19:42] roycaihw commented on #1377
@jparklab ah you're right, I misread the original issue. Although `list_custom_object_for_all_namespaces` and `list_cluster_custom_object` happens to talk to the same API endpoint, it may be better to have a `list_custom_object_for_all_namespaces` method for documentation purpose. https://github.com/kubernetes-client/java/issues/941#issuecomment-623052547 is the right way to fix this issue. Since

[2021-04-26 20:18] roycaihw commented on #1417
There was a bug in the upstream openapi spec that caused the API to be missing. It was fixed by https://github.com/kubernetes/kubernetes/pull/97276 in 1.21.

The `/api/v1/namespaces/{namespace}/pods/{name}/ephemeralcontainers` API will be available when we generate the 1.21 client

[2021-04-26 20:58] roycaihw commented on #1417
It may be worth cherrypicking the fix kubernetes/kubernetes#97276 to older kubernetes minor releases, e.g. 1.19 and 1.20, so we can generating the API before 1.21. The cherrypick needs to be done in k/k.

[2021-04-27 05:33] alphaWizard commented on #895
I ran into the same issue as well.

[2021-04-27 14:02] Yashks1994 commented on #1428
Opened a PR- https://github.com/kubernetes-client/python-base/pull/236 to accept the header.

[2021-04-27 14:04] Priyankasaggu11929 opened #1432 "Update the CRD yaml manifest mentioned in custom_object example"
**Link to the issue (please include a link to the specific documentation or example)**:

https://github.com/kubernetes-client/python/blob/master/examples/custom_object.py#L22-L38

**Description of the issue (please include outputs or screenshots if possible)**:

The [custom_object.py](https://github.com/kubernetes-client/python/blob/master/examples/custom_object.py) uses a Custom Resource Definiti

[2021-04-27 14:05] Priyankasaggu11929 commented on #1432
/assign

[2021-04-27 15:05] orencohendev commented on #1422
Updated the bug description with the traceback I got.

[2021-04-27 15:16] alexcristi commented on #741
Hi there! Any updates on this?

[2021-04-27 16:51] Priyankasaggu11929 opened #1434 "simplify & enhance the node_labels.py example"
**Link to the issue (please include a link to the specific documentation or example)**:

https://github.com/kubernetes-client/python/blob/master/examples/node_labels.py

**Description of the issue (please include outputs or screenshots if possible)**:

This example [node_labels.py](https://github.com/kubernetes-client/python/blob/master/examples/node_labels.py#L39) assumes that the cluster should

[2021-04-27 16:51] Priyankasaggu11929 commented on #1434
/assign

[2021-04-27 17:33] #1432 closed

[2021-04-28 07:16] hdlife007 opened #1436 "python2.7.18 call connect_get_namespaced_pod_exec get Hostname doesn't match but call list_namespaced_pod is normal"
python 2.7.18
kubernetes 12.0.1

I have been attempted  https://github.com/kubernetes-client/python/blob/master/requirements.txt and https://github.com/kubernetes-client/python/blob/master/examples/pod_exec.py,  but I still got error like:
 File "E:\Python27\lib\site-packages\kubernetes\stream\stream.py", line 35, in _websocket_reqeust
    return api_method(*args, **kwargs)
  File "E:\Python27\lib

[2021-04-28 14:56] Priyankasaggu11929 opened #1438 "Improve the custom_object.py to be more specific to usage of namespaced custom resource"
**Link to the issue (please include a link to the specific documentation or example)**:
https://github.com/kubernetes-client/python/tree/master/examples

**Description of the issue (please include outputs or screenshots if possible)**:

The [examples/custom_object.py](https://github.com/kubernetes-client/python/blob/master/examples/custom_object.py) example script can be improved by making it more

[2021-04-28 14:57] Priyankasaggu11929 commented on #1438
cc @Yashks1994

[2021-04-28 14:59] Yashks1994 commented on #1438
/assign

[2021-04-28 15:37] Yashks1994 commented on #1438
Opened a PR- https://github.com/kubernetes-client/python/pull/1439

[2021-04-28 17:52] #1434 closed

[2021-04-28 18:27] Priyankasaggu11929 commented on #1402
@roycaihw, can I work on updating the documentation around this? Taking reference information from this comment here https://github.com/kubernetes-client/python/issues/1148#issuecomment-626184613.

Thank you!

[2021-04-28 18:37] Priyankasaggu11929 commented on #1388
cc @Priyankasaggu11929

[2021-04-28 18:59] #1098 closed

[2021-04-28 19:40] #1427 closed

[2021-04-29 09:25] totycro commented on #618
This issue is actually still open despite being closed here. The documentation link posted above also has been deleted by now:
https://github.com/kubernetes/community/blob/master/contributors/devel/strategic-merge-patch.md

I'm not sure what the original link said, but this might be the current version:
https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/#not

[2021-04-29 13:57] #1227 closed

[2021-04-30 13:57] neelam256 opened #1445 "Connection failed to AKS cluster intermittently"
**What happened (please include outputs or screenshots)**:

Get following type of errors intermittently
1. urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='xxxxxxxxxxxxxxxxxxx', port=443): Read timed out. (read timeout=15)
2. urllib3.exceptions.ProtocolError: ('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))
3. websocket._exceptions.WebSocketBadStatusExce

[2021-04-30 16:59] #1438 closed

[2021-05-02 08:58] Priyankasaggu11929 commented on #1388
/assign

[2021-05-03 02:17] roycaihw commented on #1352
Since `load_balancer_source_ranges` is a `list[str]`. I think you can use:
[code]

/close

[2021-05-03 02:17] #1352 closed

[2021-05-03 16:51] #1378 closed

[2021-05-04 20:26] roycaihw commented on #1413
This can be started after we cut a v17 GA release. We've released v17 beta this Monday. Given k8s v17 is pretty old, we will give v17 beta one week of soak time. The ETA for v17 GA is next Monday 05-10.

To drop Python 2, most importantly we need to remove https://github.com/kubernetes-client/python/blob/b13b350dba25e279765b3a8d055e5485b5289e2d/setup.py#L75-L76
which controls the Python version th

[2021-05-04 20:27] roycaihw commented on #1413
This needs to happen after the v17 GA release because otherwise it will cause trouble pulling master into release-17.0, and accidentally drop Python 2 for v17.

[2021-05-05 01:03] roycaihw commented on #1344
Closing due to inactivity. Please reopen if needed

/close

[2021-05-05 01:03] #1344 closed

[2021-05-05 01:59] Priyankasaggu11929 commented on #1413
/assign

[2021-05-05 14:04] ganeshnadar92 opened #1453 "List all running VirtualService"
Hi Everyone!

I am looking for an API to get equivalent of command - kubectl get virtualservices -A
Any API available or nay workaround?

Thanks,
Ganesh Nadar

[2021-05-05 17:05] #1429 closed

[2021-05-06 12:04] cjreyn commented on #1333
plus one on the impact of this bug

[2021-05-06 15:41] #1388 closed

[2021-05-07 00:36] roycaihw commented on #1343
Closing due to inactivity. Please reopen if needed
/close

[2021-05-07 00:36] #1343 closed

[2021-05-07 00:41] roycaihw commented on #1413
the same needs to be done for python-base

[2021-05-07 01:45] Priyankasaggu11929 commented on #1413
I’ll do the same for Python-base as well. Thank you for pointing.

[2021-05-07 11:00] alterEgo123 commented on #1359
/remove-lifecycle stale

[2021-05-07 17:25] roycaihw commented on #1428
@Yashks1994 Could you run https://github.com/kubernetes-client/python/blob/master/devel/submodules.md#update-submodule to update the submodule, so that kubernetes-client/python-base#236 is included in the main repo?

[2021-05-08 14:59] wb14123 commented on #1236
I'm still having this issue. Use `certificate-authority` is just a workaround, not a fix. Why it still uses the tmp file even the program is restarted?

/reopen

[2021-05-10 16:36] roycaihw commented on #1430
It's not GA yet. Likely it's becoming GA in the upcoming 1.22 release.

[2021-05-10 16:38] roycaihw commented on #1445
/assign

[2021-05-10 16:38] roycaihw commented on #1453
/assign @yliaog

[2021-05-10 18:56] yliaog commented on #1436
https://github.com/kubernetes-client/python/issues/409#issuecomment-410724028

please see if upgrading openssl helps.

[2021-05-10 19:25] mindw commented on #325
/remove-lifecycle rotten

almost 4 years  :(

[2021-05-10 20:13] omlomloml commented on #1112
How do I do this?

Thanks

[2021-05-10 20:15] omlomloml commented on #1112
@jinchihe
How do I do this?

Thanks

[2021-05-11 06:45] roycaihw commented on #1413
I just realized that some of our tests (e.g. codestyle) only exist in Python 2.

We need to make sure we have the same test in Python 3. @Priyankasaggu11929 would you mind taking a look at adding a Python 3 codestyle test? This doesn't have to be blocked by the v17 GA release.

Sorry this is more complex than I thought. Let me know if you have any questions.

[2021-05-11 06:48] Priyankasaggu11929 commented on #1413
Yes, I will have a look at this & try adding the required tests in python3.

Just to be sure `v17 GA release` is happening this week itself, right?

And when you say this change doesn't have to be blocked by the GA release, that means we can go with `v17 GA release` without these changes for now?

[2021-05-11 07:08] Priyankasaggu11929 commented on #1413
Understood now. Thank you for the clarification. :)

[2021-05-11 09:35] ashb opened #1461 "Swap out `requests` to avoid LGPL dependency"
This library depends upon requests, and while requests itself is Apache 2 licensed, it depends upon chardet which is LGPL'd.

This leads to confusing licensing situations for projects using this python docker client, and it is the view of the Apache Software Foundation that any LGPL dep places some restrictions on the downstream projects, and thus has to be avoided.

(This also depends upon websoc

[2021-05-11 11:28] torgeirl commented on #547
/remove-lifecycle stale

[2021-05-11 15:32] jkupferer opened #1462 "Unable to pass multiple header values with client (ex: Impersonate-Group)"
**What happened (please include outputs or screenshots)**:

When calling the Kubernetes API with the python client it should be possible to pass multiple values for `Impersonate-Group`:

[code]

The result is only the value `bar` is passed.

**What you expected to happen**:

I would expect that two `Impersonate-Group` headers would be sent, the first with value `foo` and the second with `bar`.

**

[2021-05-11 15:56] roycaihw commented on #1462
/assign @jkupferer

Thanks for reporting the issue and sending the PR!

[2021-05-11 21:09] tsunamishaun commented on #818
I ran into this trying to use `list_namespaced_custom_object()` and indeed the behavior is different compared to non-custom resource types. I was expecting the examples (at least iterating results) to be interchangeable between custom and non-custom resources.

[2021-05-12 08:25] #1294 closed

[2021-05-12 08:59] ashb commented on #1461
The use of requests appears to be in https://github.com/kubernetes-client/python-base/blob/8a969ee9ad2837528c19673cfb5127b47be03105/config/kube_config.py which I think is not generated, right?

[2021-05-12 13:39] tomplus commented on #1461
You are right, but I think it's more complicated, python-base uses for example google-auth and requests-oauthlib which use requests...

[2021-05-12 14:09] mayeuldalzon commented on #524
+1 for this feature very useful

[2021-05-13 09:43] hdlife007 commented on #1436
It's no use upgrading OpenSSL
my version now is
OpenSSL 1.1.1k  25 Mar 2021

[2021-05-13 15:05] felixsiju opened #1466 "trying to communicate to cluster as a remote client and hitting 403 error"
**What happened (please include outputs or screenshots)**:

I was trying to connect with the kubernates cluster using a remote client.

# Define the bearer token we are going to use to authenticate.
    # See here to create the token:
    # https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/
    aToken = "<token>"
    #aToken="aatofg.ao6b0rvd5qxv2f3o"
    # Create a configu

[2021-05-13 19:35] skamchiline commented on #1445
Hello, I have similar issue:

It seems that 2 of these exceptions happened at the same time. In my case it happens in 100% cases.
[code]

Versions:
kubeconfig        1.1.1
kubernetes        12.0.1
webencodings      0.5.1
websocket-client  0.58.0

python: Python 3.8.8

Interestingly - the previous version of the docker image with this code works fine. Nothing was changed in this part of the code be

[2021-05-13 22:26] skamchiline commented on #1445
More information on this issue:

I found that in my case the problem happens only if before this call I have this code:
[code]
the `comm` is a function which included this call:
[code]
where `stream` is `from kubernetes.stream import stream`

So it could be that `stream` somehow works incorrectly with sockets, so consequent call to get_nodes_obj raises an exception?

[2021-05-14 08:38] prabha1331 commented on #1395
@yliaog we can close this issue now if the fix is good

[2021-05-14 17:02] yliaog commented on #1395
sure. thanks.

/close

[2021-05-14 17:02] #1395 closed

[2021-05-15 11:52] Tomer23 opened #1470 "BatchV1Api documentation examples are mis-indented"
**Link to the issue (please include a link to the specific documentation or example)**:

https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/BatchV1Api.md#example

**Description of the issue (please include outputs or screenshots if possible)**:

Most of the examples are mis-indented in the documentation. Th extra variable declarations are closing the api_client context before

[2021-05-17 10:42] FabianNiehaus opened #1471 "Allow retrieval of binary data from WSClient output stream"
**What is the feature and why do you need it**:

The API client currently does not offer any capabilities for copying files from Pods / containers (similiar to `kubectl cp`).
We have created a workaround by opening a stream to the Pod, creating a tar archive of the files to copy, and outputting the data to stdout. Once retrieved, the data is then extracted from the archive.

However, this does not

[2021-05-17 17:27] #1413 closed

[2021-05-18 14:51] #1466 closed

[2021-05-18 14:59] felixsiju opened #1473 "method to get the details of a deployment pod"
**What is the feature and why do you need it**:

A method to get the details of a pod including the status which will help to proceed with the check status .

**Describe the solution you'd like to see**:

[2021-05-18 16:25] Priyankasaggu11929 commented on #1473
@felixsiju, thanks for raising the issue.

Could you please provide more details on the feature with the help of some examples.

[2021-05-18 16:38] felixsiju commented on #1473
Eg
creating a pod using create_namespaced_deployment method
Now need to use the list_namespaced_pod method and itrate to get the details of the pod deployed and the staus whtehr its success or failure

Its good to have a direct get method to get the details directly by passing the pod name

[2021-05-18 16:39] felixsiju commented on #1473
@ Priyankasaggu11929 , Explained an eg above
Thanks

[2021-05-18 16:58] Priyankasaggu11929 commented on #1470
/assign

[2021-05-19 08:00] sodul commented on #1333
Just tested with `kubernetes==17.17.0` and `openshift==0.12.0`.

We are still getting `Failed to get client due to HTTPConnectionPool(host='localhost', port=80): Max retries exceeded with url: /version (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f08f3c410a0>: Failed to establish a new connection: [Errno 111] Connection refused')`

[2021-05-19 10:41] woshihaoren opened #1474 "Can i implemen apply func like this?"
Can i implemen apply func like this?
I think no problem, use replace on CoreV1Api or AppsV1Api
[code]

[2021-05-19 18:42] felixsiju commented on #1473
closing this as this already exists.
read_namespaced_deployment

[2021-05-19 18:42] #1473 closed

[2021-05-19 21:20] olix0r commented on #895
There's some more discussion related to this issue here https://github.com/kubernetes/kubernetes/issues/100802

[2021-05-19 22:42] neelam256 commented on #1445
I am running this microservice on same cluster, that means I am creating k8s objects in same cluster where this microservice is running.
That is making https connection to kubeapi server , I observed all these connection issues.
Is there any way I can avoid this (http/https) connection  and create k8s objects in same cluster.

[2021-05-19 23:34] roycaihw commented on #895
/reopen

Please see more details in https://github.com/kubernetes/kubernetes/issues/100802#issuecomment-844561253

Until an agreement for some API change in SIG Node is made, we need to patch this client to treat `None` as `[]`

/help

The fix can be made directly to https://github.com/kubernetes-client/python/blob/821618feb3456674ea586047b972b3ae7559fa42/kubernetes/client/models/v1_container_imag

[2021-05-20 16:36] roycaihw commented on #895
update: the `names` field will be optional in k8s 1.22: https://github.com/kubernetes/kubernetes/pull/102159. Before then, we still need to patch this client as mentioned in https://github.com/kubernetes-client/python/issues/895#issuecomment-844567240. I will send a patch next week if no one picks this up before me :)

[2021-05-20 18:41] neelam256 commented on #1445
connection_pool_maxsize is cpu_count*5 , and cpu_count is 4 in my system , should i increase the pool size , any ideas ?
**in my case, - sending a lot of requests to one host (kubernetes master)**

[2021-05-21 04:59] avinashsavaliya commented on #1352
Thank you !

[2021-05-21 10:44] Arvintian opened #1475 "Leaderelection package lost resourcelock sub package"
I install the package version 17.17.0 from pypi `pip install kubernetes==17.17.0`, follow the [example.py](https://github.com/kubernetes-client/python-base/blob/master/leaderelection/example.py) try to enable leaderelection, but i can't find the resourcelock sub package in my local.

[code]

[2021-05-21 17:23] mik-laj commented on #1461
Gogolle-auth also support urrlib as transport.

We may consider migrating to [authlib](https://docs.authlib.org/en/latest/client/httpx.html).

[2021-05-21 17:37] #1339 closed

[2021-05-24 16:38] roycaihw commented on #1471
It's a reasonable request. We'd like to review it if you could send a PR

/assign @FabianNiehaus

[2021-05-24 16:38] roycaihw commented on #1471
cc @yliaog

[2021-05-24 17:14] roycaihw commented on #1461
cc @palnabarun mentioned a similar conversation happened in the past

[2021-05-24 17:22] roycaihw commented on #1474
It would work, but you need to watch out for situation like a concurrent update happened after `get_service` and before `_replace_update`. In that case `replace_namespaced_service` will get a 409. A brute force solution is to retry when you get a 409.

This python client doesn't support client-side apply as kubectl does. The long term plan is to support server-side apply: https://github.com/kubern

[2021-05-24 17:22] #1474 closed

[2021-05-24 17:42] palnabarun commented on #1461
We discussed a while back to keep only one of the `requests` or `urllib3`. I feel like it's a fair ask to remove `requests`.

Although, I am not very comfortable roping in `httpx`. Can we use `urllib3` instead to replace requests, since urllib3 is already a dependency? WDYT?

Would you be willing to make the same change in python-base?

[2021-05-24 18:48] dguyhasnoname commented on #309
thanks to @mturde. It worked for me: https://github.com/dguyhasnoname/k8s-cluster-checker/blob/master/objects/test.py

[2021-05-25 15:27] ashb commented on #1461
I could look at changing this in python-base, sure.

That said, it looks like the requests maintainers _might_ be willing to merge the PR where we replaced the LGPL'd dep. Would you still like this change made if they do accept it?

[2021-05-25 16:46] jkupferer commented on #1462
Update on this issue... The ability to send multiple headers with the same name is a rather deep issue going all the way down to the kubernetes API apparently breaking RFC7230 (https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.2):

"A sender MUST NOT generate multiple header fields with the same field name in a message unless either the entire field value for that header field is defined a

[2021-05-25 17:28] ltagliamonte-dd opened #1476 "[Question] Use all api servers"
I wrote a job for extracting some info about cluster costs.
The job goes over all the nodes and all the pods and performs few math.
Atm using python without a client side informer cache, the job is a pretty heavy hitter on the api servers, although i've noticed that the k8s lib uses a single API server for the whole duration, this is what i mean:
<img width="820" alt="Screen Shot 2021-05-25 at 10

[2021-05-25 19:20] edmeister commented on #1476
`kube-api-server` does leader election, so only 1 of them will serve your requests. The other ones are standing by in case they need to take over.

[2021-05-26 06:19] woshihaoren commented on #1474
thank your answer. I will +1.

[2021-05-26 08:50] fardin01 opened #1477 "metadata.annotations not supported for CronJob"
**What happened (please include outputs or screenshots)**:
Calling [list_cron_job_for_all_namespaces](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/BatchV1beta1Api.md#list_cron_job_for_all_namespaces) with `field_selector` does not return the expected result:
[code]

Response:
[code]

Searching for `metadata.annotations not supported for CronJob` does not return anything

[2021-05-26 09:26] fardin01 commented on #1477
I mean, the go client seems to support this. For instance, I use Botkube which reads annotations from all objects (including CronJobs).

[2021-05-26 14:35] FabianNiehaus commented on #1471
After some trial and error, I realized that `wsclient.update()` is run regardless of the channel queried. This means that while running `wsclient.peak_stderr()`, `wsclient.update()` may retrieve data for the `stdout` channel. This means that the channel that should be retrieved as bytes need to be set on a wider scope to ensure consitency and avoid bloated method signatures.

I will try to add an

[2021-05-26 14:41] FabianNiehaus commented on #1471
Turns out that during wsclient.update(), the (usually utf-8 encoded) data is passed on to StringIO.write(). This class apparently cannot deal with byte objects, resulting in an exception being thrown.

Code:
[code]

Error:
[code]

I will try to avoid this by converting the byte sequence into a string without decoding, to it can be cast back later.

[2021-05-26 18:19] ltagliamonte-dd commented on #1476
I've looked at the code and a quick and dirty fix is to close the connection pool, every N requests:
<img width="1672" alt="Screen Shot 2021-05-26 at 11 07 06 AM" src="https://user-images.githubusercontent.com/51684360/119710948-d14be480-be13-11eb-8379-11f1d71dbfbb.png">
[code]

[2021-05-26 18:19] #1476 closed

[2021-05-27 14:38] palnabarun commented on #1461
We were thinking of removing the dependency on requests for some time now. We would really love to have some helping hands.

Yup, removing `requests` in favor of `urllib3` would still be something that we would do.

[2021-05-27 14:42] fardin01 commented on #1477
Looks like the error message is correct: https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/

[2021-05-27 14:42] #1477 closed

[2021-05-27 15:19] tyrken commented on #1475
Just hit the same issue trying to follow the same example - it does not seem to be in the downloaded package.  Does it need adding as was done for https://github.com/kubernetes-client/python/pull/1411/commits/dadc47b282af834a500c00ad2c052d69b5ff67b8 ?

[2021-05-28 02:03] sodul commented on #1333
We were able to move forward with the latest versions of the client (17.17.0), with the OpenShift library (0.12.0), by upgrading Ansible from 2.x to the latest 4.x (4.0.0). The rest of our code had no issue.

[2021-05-28 02:05] typ-ex commented on #1333
You da real MVP for continuous testing.

[2021-05-28 12:48] palnabarun commented on #1300
/remove-lifecycle stale

[2021-05-28 12:53] palnabarun commented on #1300
The test is still flaking a lot. This needs to be looked at.

I feel that it's mostly related to the use of Threads in the implementation and the test. However, I am not very sure.

[2021-05-28 16:40] nonai commented on #1139
I  too  faced this issue, and  the correct  way  it worked for  me is:

`image_pull_secrets=[client.V1LocalObjectReference('the secret name')]`

[2021-05-28 17:19] palnabarun commented on #1300
/assign @Priyankasaggu11929

[2021-05-29 04:55] Priyankasaggu11929 commented on #1300
/assign @Priyankasaggu11929

[2021-05-30 10:43] mabdullah1994 opened #1482 "Need to perform ibmcloud ks cluster config --cluster <cluster> using Python kubernetes package"
Hi. Is there a way to configure the Kubernetes cluster using python Kubernetes package? I need to perform the following:

`ibmcloud ks cluster config --cluster <cluster>`

[2021-05-31 07:02] Bobgy opened #1483 "V1TokenRequest API missing from AuthenticationV1 API"
**What happened (please include outputs or screenshots)**:
[AuthenticationV1Api](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/AuthenticationV1Api.md) does not have a method for [V1TokenRequest API](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1TokenRequest.md).

**What you expected to happen**:
Given https://kubernetes.io/docs/reference/genera

[2021-05-31 07:04] Bobgy commented on #1483
Besides the question, is there any workaround we can use now to call the token request API? (I can see the v1tokenrequest api models are already generated)

[2021-05-31 07:33] Arvintian commented on #1475
I copy the resourcelock code to my project directory resolve this issue, @tyrken maybe it is work for you.

[2021-05-31 09:13] Bobgy commented on #1483
Ohh I figured it out.
[code]
is the method I want

[2021-05-31 09:13] Bobgy commented on #1483
Closing the issue

[2021-05-31 09:13] #1483 closed

[2021-05-31 15:52] hedin163 opened #1484 "KeyError: 'object' while trying to get events for named Deployment"
**What happened (please include outputs or screenshots)**:

I'm trying to get events on a specified resource with a specified name using DynamicClient and getting a KeyError if I specify a name of a resource (https://github.com/kubernetes-client/python-base/blob/b4d3aad42dc23e7a6c0e5c032691f8dc385a786c/dynamic/client.py#L153):

[code]
but everything is fine when I'm trying to get events without sp

[2021-06-01 16:33] ableuler commented on #866
This would be great!

Until this is implemented and for everybody coming here in search for a way to apply a JSON patch to a custom resource with `content_type="application/merge-patch+json"`, the dynamic client supports this option already. See for example [here](https://github.com/kubernetes-client/python/blob/master/examples/dynamic-client/namespaced_custom_resource.py).

[2021-06-01 19:19] tdesikan commented on #309
While ignoring the `ResourceWarning` is one approach, a better one might be to explicitly close all the underlying connection pools that the `kubernetes` client uses.

Adding a `__del__` function and calling `rest_client.pool_manager.clear()` seems to do the trick.

[code]

[2021-06-02 05:14] #1364 closed

[2021-06-02 06:16] palnabarun commented on #1482
@mabdullah1994 -- Can you please explain what that command does?

Although do note that this project is a client in Python to talk to the Kubernetes API Server. We don't support features outside out of expectations from an official client.

/kind support

[2021-06-02 06:16] palnabarun commented on #1482
/assign

[2021-06-02 11:25] ashb commented on #1461
Got it. I'll add it to my list of side projects -- can't promise when I'll get around to it though.

[2021-06-02 12:17] rathinikunj commented on #1236
i also saw this problem  and because of this issue i was able to debug why i saw it. I had a code which was doing CRUDs on multiple kubernetes clusters, while that code was still running i went in the /tmp folder of and deleted everything, include all the tmp*******( eg: tmp2xng8a6e) files which were created. This led to failure in some CRUD APIs

Although i do not know why these files are created

[2021-06-02 15:44] roycaihw opened #1485 "test_exit_code is timing out"
**What happened (please include outputs or screenshots)**:

I'm seeing a lot of test failures due to

[code]

https://travis-ci.org/github/kubernetes-client/python/pull_requests

**What you expected to happen**:

Have more debug logging in the test to understand where the timeout comes from

**How to reproduce it (as minimally and precisely as possible)**:

Open a PR to trigger the tests

[2021-06-02 16:50] yliaog commented on #1236
/reopen

[2021-06-02 17:04] yliaog commented on #309
/reopen
for further discussion and PR is welcome

[2021-06-02 21:55] mabdullah1994 commented on #1482
Thanks for the response @palnabarun

This command basically downloads the kube config from the kube cluster hosted on ibm cloud. The configurations are downloaded in the `~/.kube/config` file and then I am able to perform typical kubectl commands such as

`kubectl get pods`

I need this to be done programmatically, and not using CLI commands. Please advise. Thanks

[2021-06-03 05:01] roycaihw commented on #1409
A similar issue was reported in https://kubernetes.slack.com/archives/C76GB48RK/p1621545987016400:

[2021-06-03 11:24] tyrken commented on #1475
Thanks @Arvintian - yeah I did the same.

I'm not sure but think the intention was that `resourcelock` should have been in the shipping package, so could you re-open this so we get the maintainers to look at it?

[2021-06-04 08:49] hmonteiro opened #1486 "Make google-auth an optional dependency"
From what I can gather, `google-auth` is only required when using the google cloud platform.

Since it's of use only to a subset of the users, I propose that that dependency gets moved from the general requirements to the `extras` part of the `setup.py` file. Users that require this feature would install the package using, for example, a "gcp" extras flag (e.g. `pip install kubernetes[gcp]`).

In

[2021-06-06 03:37] palnabarun commented on #1336
/remove-lifecycle stale

[2021-06-06 03:38] palnabarun commented on #1336
There was an issue with the API definition. This was fixed in https://github.com/kubernetes/kubernetes/pull/94161. The next client release for the patched Kubernetes versions will include the same.

[2021-06-07 06:31] alexInhert opened #1487 "Reference the V1Secret type of the main K8s documentation"
the V1Secret page: V1Secret https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1Secret.md
says:

type | str | Used to facilitate programmatic handling of secret data.
It should reference to https://kubernetes.io/docs/concepts/configuration/secret/#secret-types
which explains the different types (Opaque, kubernetes.io/service-account-token, etc..)

[2021-06-07 07:35] palnabarun commented on #1487
xref from the linked PR: https://github.com/kubernetes-client/python/pull/1488#issuecomment-855675097

/assign

[2021-06-07 07:38] palnabarun commented on #1482
Hi @mabdullah1994 -- this seems to be out of the scope of the Kubernetes Python client as it is very much vendor-specific.

I feel that this question should be asked in the appropriate IBM cloud forums. They would be more suited to answer this question.

[2021-06-07 07:39] palnabarun commented on #1486
Thanks for filing this issue. This is a good ask.

I will have a look at this.

/assign

[2021-06-07 07:43] palnabarun commented on #1475
/assign

[2021-06-07 07:44] palnabarun commented on #524
/remove-lifecycle rotten

[2021-06-07 07:46] palnabarun commented on #524
@kdebisschop -- No, I haven't been able to devote time to this. In the meanwhile, if you or anyone wants to take a dig at it, please feel free to do so and update the findings here.

[2021-06-07 07:46] palnabarun commented on #524
/lifecycle frozen

(applying the label to not mark it as stale again until we have some mock designs)

[2021-06-07 07:47] palnabarun commented on #1244
/remove-lifecycle stale

This is in progress.

[2021-06-07 16:41] roycaihw commented on #1484
cc @fabianvf

[2021-06-07 16:43] roycaihw commented on #1487
Thank you @palnabarun !

[2021-06-07 19:53] mabdullah1994 commented on #1482
Hi @palnabarun. I think I agree with what you've said. This is vendor-specific and should not be discussed here. Thanks for the support. Closing the issue now.

[2021-06-07 19:53] #1482 closed

[2021-06-08 14:42] hmonteiro commented on #1486
Thanks for having a look at this

[2021-06-08 15:10] ashb commented on #1304
not stale

[2021-06-10 16:39] woshihaoren opened #1491 "sometimes pod exec can not get all return"
**What happened (please include outputs or screenshots)**:
![图片](https://user-images.githubusercontent.com/4115501/121560385-09753900-ca4a-11eb-90c1-a4329d061b44.png)
If I don't press some key, It will block here.

**What you expected to happen**:
![图片](https://user-images.githubusercontent.com/4115501/121560557-39bcd780-ca4a-11eb-91e8-2520d79dad39.png)

**How to reproduce it (as minimally and pre

[2021-06-11 10:00] woshihaoren commented on #1491
I fix this problem,
Don't use
from gevent import monkey
monkey.patch_all()

[2021-06-14 12:15] addios41 opened #1492 "create_namespaced_pod not create pod ERROR Volumes not present in src"
I used this Deployment to deploy with Kubectl apply -f deployment.yaml and it worked. However, when trying to deploy with python it ERROR

HTTP response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"Deployment in version \"v1\" cannot be handled as a Pod: converting (v1.Deployment).v1.DeploymentSpec to (core.Pod).core.PodSpec: Volumes not present in src","rea

[2021-06-14 12:58] addios41 commented on #1492
My mistake. I used list_namespaced_deployment instead.

[2021-06-14 12:58] #1492 closed

[2021-06-14 14:01] saeid93 opened #1493 "interface for vertical pod autoscaler"
Is there an interface like the one for [horizontal pod autoscaler](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/AutoscalingV1Api.md#delete_namespaced_horizontal_pod_autoscaler) for vertical pod autoscaler in the python client library?

[2021-06-14 17:30] snstanton commented on #1032
/remove-lifecycle stale

[2021-06-14 20:12] #1290 closed

[2021-06-14 20:27] dannysauer commented on #1386
My bad; I forgot to close.

[2021-06-14 20:27] #1386 closed

[2021-06-15 13:06] jonkerj commented on #1330
/remove-lifecycle stale

[2021-06-15 14:04] srinivasev commented on #1387
Hi, Is there any update on this ?.

[2021-06-15 14:14] zapman449 opened #1494 "listing all pods leads to "sources must not be None" error in v1_projected_volume_source.py"
**What happened (please include outputs or screenshots)**:
[code]

**What you expected to happen**:
return a list of all pods

**How to reproduce it (as minimally and precisely as possible)**:
One of my clusters does it every time, all the time, starting today. My other clusters do NOT exhibit the same behavior

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (`kubectl v

[2021-06-15 14:15] zapman449 commented on #1494
FWIW: `kubectl get pods --all-namespaces` functions as expected.

[2021-06-15 14:25] zapman449 commented on #1494
The above traceback comes from v11 of the client

The following comes from v17.17:
[code]

[2021-06-15 14:54] zapman449 commented on #1494
Ahh.  Found a deployment -> replicaset -> pod a user had created with:

[code]

Kube let the pod in, python kubernetes SDK shouldn't blow up on this.

(working to prove this theory)

[2021-06-15 15:17] zapman449 commented on #1494
Theory confirmed.  Removed that `volume` block (and the associated `volumeMount`) and the SDK was able to function normally.

So, steps to reproduce:
1. setup pod with a projected volume with `sources: null`
2. call `list_pod_for_all_namespaces(watch=False)`

[2021-06-16 13:01] zapman449 commented on #1494
I presume a similar failure will occur for list_pods, list_replicasets, list_deployments, etc.

[2021-06-16 13:36] jony89 commented on #1422
+1

[2021-06-17 19:56] mitar commented on #323
/remove-lifecycle stale

[2021-06-18 15:08] pavankumar1986 opened #1495 "Can we use this with aws eks?"
Can we use this with aws eks and modify/create/delete kubernetes objects (deployment/secret/services, etc)?

[2021-06-19 14:30] MoShitrit commented on #1495
@pavankumar1986 Yep, you should be able to do that just fine with any hosted k8s solution.
As long as you provide proper RBAC privs, you should be good.

[2021-06-20 19:22] vinshika commented on #1333
Hi,

Today I have faced the same issue. As per the above I have installed the `pip3 install -Iv kubernetes==11.0.0` in my master node. Once this has been installed I can create the POD using my ansible playbook.

[2021-06-20 23:49] pavankumar1986 commented on #1495
Thank you. I want to delete a secret, create a new one an then restart some deployments that are using the secrets. I am thinking of doing it via lambda. Can you please apis to delete/create secret and restart a deployment?

[2021-06-21 09:53] MoShitrit commented on #1495
Sure!
So to delete a secret, you'd want to use the [delete_namespaced_secret](https://github.com/kubernetes-client/python/blob/d8f283e7483848647804eab345645106b6fb357d/kubernetes/docs/CoreV1Api.md#delete_namespaced_secret) method under `CoreV1Api`. Unfortunately you'll have to view this markdown file as raw because it's too large for GitHub to render, but if you look at the actual code [here](http

[2021-06-21 09:58] MoShitrit commented on #1495
/assign

[2021-06-21 10:11] MoShitrit commented on #1493
[VerticalPodAutoscaler](https://github.com/kubernetes/autoscaler/blob/6e3e05d80ca17a6db14965c1bf8d33b0f6eb085f/vertical-pod-autoscaler/README.md#intro) is actually considered a custom resource and isn't a native k8s resource (more info in the linked documentation). Thus it doesn't have the same type of interface as HPA which is a first-class-citizen.
In order to interact with it, you'd want to use

[2021-06-21 10:11] MoShitrit commented on #1493
/assign

[2021-06-21 10:11] MoShitrit commented on #1493
/close

[2021-06-21 10:11] #1493 closed

[2021-06-21 10:12] MoShitrit commented on #1495
/close

[2021-06-21 10:12] #1495 closed

[2021-06-21 10:45] saeid93 commented on #1493
Thanks!

[2021-06-21 16:40] roycaihw commented on #1491
/assign

[2021-06-21 16:42] roycaihw commented on #1494
/assign

[2021-06-21 16:55] roycaihw commented on #1494
This was fixed in upstream in Kubernetes 1.20: https://github.com/kubernetes/kubernetes/pull/94161, but the Python client hasn't caught up with the Kubernetes releases (we are at 1.18).

We can patch this client to cherrypick the fix. @zapman449 Would you like to open a PR to remove [these lines](https://github.com/kubernetes-client/python/blob/d8f283e7483848647804eab345645106b6fb357d/kubernetes/c

[2021-06-21 16:59] roycaihw commented on #1491
@woshihaoren Could you share your source code, e.g. a snippet that can reproduce this issue? I don't quite understand what's the issue here. It looks like the Python client didn't return because it was still watching the stream?

[2021-06-21 17:50] #1494 closed

[2021-06-22 07:07] Frankkkkk commented on #1005
/remove-lifecycle stale

[2021-06-24 19:01] thallesdaniell commented on #1326
I had a constant 403 and 401 error using this authentication script. I looked for others and found this https://github.com/peak-ai/eks-token and it worked really well for me.

[2021-06-24 19:04] thallesdaniell commented on #1243
I extracted the data into this file and saved it as cert.crt and referenced it.

`cat .kube/config | grep certificate-authority-data | cut -f2 -d: | xargs | base64 --decode`

[2021-06-24 19:05] thallesdaniell commented on #678
I had a constant 403 and 401 error using this authentication script. I looked for others and found this https://github.com/peak-ai/eks-token and it worked really well for me.

[2021-06-27 18:00] Klaven opened #1500 "current context can't be "null""
**What happened (please include outputs or screenshots)**:

I want to start this off by saying it's probably a super unimportant edge case. Second I want to say i'm not a python developer so maybe this is expected/desired results though it seems like a un-sanitized strings issue.

If you name your context "null" like this:
[code]
The command line complains that the context must be set, even though

[2021-06-27 18:07] Klaven commented on #1500
Also, that cluster no longer exists in any way and was for demo purposes. just wanted to give the full output. I know sensitive info is in it, but it's info that no longer exists.

[2021-06-28 20:03] the-wondersmith opened #1501 "Binding Port Forward Socket To A File Path"
Following the example from [pod_portforward.py](https://github.com/kubernetes-client/python/blob/master/examples/pod_portforward.py#L97) I am able to get an object back whose type is `kubernetes.stream.ws_client.PortForward`. That object (as documented in the example) has a method called `socket` that can be called in order to get a `kubernetes.stream.ws_client.PortForward._Port._Socket` object ba

[2021-06-29 13:34] jonasdlindner opened #1502 "Python2 support dropped but installation works"
**What happened (please include outputs or screenshots)**:
I have accidentally installed the git-Master-Branch with Python2 with these commands:
[code]
Everything works fine, but Python2 support is dropped (https://github.com/kubernetes-client/python/pull/1468)

**What you expected to happen**:
I expect an error Message like:
[code]

**How to reproduce it (as minimally and precisely as possible)**

[2021-07-01 02:22] 4ndr4s opened #1503 ""status":"Failure","message":"Role in version \"v1\" cannot be handled as a Role: no kind \"Role\""
**What happened (please include outputs or screenshots)**:

[code]

**What you expected to happen**:
Was expecting role created, but instead I'm getting the error described above.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

[code]

**Environment**:
- Kubernetes version (`1.19`):
- OS (ubuntu container):
- Python version (`3.7.7`)

[2021-07-01 21:47] JiffsMaverick commented on #1335
I have this problem too. kubernetes-client/python-base#220 solved this problem, but it hasn't merged yet.

[2021-07-01 22:27] #1362 closed

[2021-07-01 23:19] 4ndr4s commented on #1503
I was able to resolve the issue with this config:

[code]

when I add api_version='v1', kind='Role' it fails again.

[2021-07-02 01:29] #1349 closed

[2021-07-02 13:39] #1358 closed

[2021-07-02 15:15] jeroentorrekens commented on #1333
Those versions don't seem to work for me:
[code]
And still getting the same error message.

[2021-07-02 17:21] alanjcastonguay commented on #1503
The api version for a Role isn't `v1`. It's `rbac.authorization.k8s.io/v1`.

[code]

[code]
https://github.com/kubernetes-client/python/blob/master/examples/deployment_create.py contains an example of creating a resource in w/ `client.AppsV1Api`, which is similar to `client.RbacAuthorizationV1Api` in most respects - note it doesn't specify `api_version='apps/v1'` or `kind='Deployment'`.

[code]

Y

[2021-07-02 17:41] #309 closed

[2021-07-02 17:41] #1236 closed

[2021-07-04 09:17] sodul commented on #1333
@jeroentorrekens
This is what I have on my machine and we do not have issues:
[code]

[2021-07-04 22:43] eguven commented on #585
I don't think that this

[code]
is intended to be used directly. In [examples](https://github.com/kubernetes-client/python/blob/master/examples/pod_portforward.py#L97-L102), you wrap it to get a raw socket. Or you can use the `create_connection` [monkey patching option](https://github.com/kubernetes-client/python/blob/master/examples/pod_portforward.py#L124-L126).

[2021-07-05 06:39] cesarandreslopez opened #1505 "V1ResourceQuotaSpec with "requests.nvidia.com/gpu:" fails"
**What happened (please include outputs or screenshots)**:

When trying to set up the quota at namespace level in the python client API:

[code]

The API will complain about the "/" character in requests.nvidia.com/gpu

[code]

**What you expected to happen**:

I should be able to enforce GPU quotas.

**How to reproduce it (as minimally and precisely as possible)**:

Add "requests.nvidia.com/gpu:"

[2021-07-05 08:19] TobiasGoerke commented on #1284
I'm experiencing the same issue.

My workaround: `config.list_kube_config_contexts` returns a tuple with the seconds element being the current_context. Thus, the following code returns the host of the context loaded by `load_kube_config`.

[code]

Hope this helps!

[2021-07-05 09:16] TobiasGoerke commented on #1284
I'm experiencing the same issue and came up with the following workaround:

[code]

It's not pretty and I am not sure how portable this solution is. However, it uses similar code as kubernetes.config does internally and works for me. Hope this helps.

[2021-07-06 21:37] sebastian-mora commented on #1372
/close

[2021-07-06 21:37] #1372 closed

[2021-07-06 22:16] 4ndr4s commented on #1503
@alanjcastonguay thank you so much, I'll proceed closing this thanks for your explanation.

[2021-07-06 22:16] #1503 closed

[2021-07-09 11:08] ashb commented on #1304
/remove-lifecycle rotten

You abusive bot. Auto closing _issues_ is terrible.

[2021-07-10 13:41] brendandburns commented on #868
fwiw (since I just noticed this issue) there are Informers for both the Java (https://github.com/kubernetes-client/java/tree/master/util/src/main/java/io/kubernetes/client/informer) and JavaScript (https://github.com/kubernetes-client/javascript/blob/master/src/informer.ts) client libraries.

[2021-07-10 21:04] torgeirl commented on #1242
/remove-lifecycle stale

[2021-07-11 18:08] GhostInThePotato commented on #962
Please don't close yet, unless it's already fixed?

/remove-lifecycle stale

[2021-07-12 21:18] #1351 closed

[2021-07-14 02:38] #1331 closed

[2021-07-15 08:29] mitar commented on #819
/remove-lifecycle stale

[2021-07-15 12:58] OvervCW commented on #1330
When will this be implemented? I'm using this library with a 1.20 cluster and it's already warning about using deprecated APIs.

[2021-07-15 21:20] #1402 closed

[2021-07-16 12:06] WouldYouKindly commented on #1402
Thank you both very much!

[2021-07-17 08:29] benesch commented on #225
I hacked together an external type stubs package for now: https://pypi.org/project/kubernetes-stubs/. Perhaps it's of use to some other folks!

[2021-07-19 16:38] roycaihw commented on #1500
/assign

[2021-07-19 16:42] roycaihw commented on #1501
/assign @iciclespider

Could you help take a look to see if this can be supported? Thanks!

[2021-07-19 16:43] roycaihw commented on #1502
Thanks for reporting. Would you mind opening a PR with the change you suggested? Thanks!

[2021-07-19 16:44] roycaihw commented on #1505
/assign @yliaog

[2021-07-19 16:48] roycaihw commented on #1500
I think Python treats `null` specially. That's why it behaves different from kubectl and client-go (Golang).

Does changing the value to `"null"` help?

[2021-07-19 17:41] yliaog commented on #1505
it looks that "requests.nvidia.com/gpu:" is being used, instead of "requests.nvidia.com/gpu". note the extra ':', which should be removed.

[2021-07-19 18:31] iciclespider commented on #1501
First, the returned port forward socket is already bound to the port in Kubernetes. You cannot call bind against an already bound socket. Second, it makes no sense to call `socket.bind` against a string value. This is a basic misunderstanding of how the socket api works.

This is a very specific use case that I do not see supporting in the client library.

This needs to be implemented in your code

[2021-07-19 23:55] iciclespider commented on #1501
I looked at that mysql python library, and it is implemented in C, and as such requires a port that it can open. Simplest to accomplish this is to use `kubectl` to expose a local port. The python client did not create this ability since that is what `kubectl` already does. The python port forwarding done here provides python code the ability to operate against remote kubernetes ports in python. It

[2021-07-20 02:14] kwlzn commented on #741
is anyone actively working on this issue? if not, my team at Twitter might try to take a stab at it soon.

[2021-07-20 12:33] Klaven commented on #1500
I will check later today when I have the time. I was wondering if it was something along these lines (I apologize, I don't use python much!) If that is the case then we can close this as it's more of a "feature" of python then anything else.

[2021-07-20 13:35] muasif80 commented on #1350
Hello @chester0502

I am also getting same error.

I am not sure what to do here at all?

We need to put all these configs in yaml file and load it as yaml and then process or what?

[2021-07-21 12:56] rkhudov opened #1507 "Treatment for SealedSecret"
**What happened (please include outputs or screenshots)**:
I am trying to use utils library (from kubernetes import utils) and method utils.create_from_dict(...) using my .yaml file
The content of this file is:
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  annotations:
    sealedsecrets.bitnami.com/namespace-wide: "true"
....
But it gives me an error
module 'kubernetes.client' ha

[2021-07-22 19:11] DiptoChakrabarty commented on #1373
/remove-lifecycle rotten

[2021-07-23 08:04] cesarandreslopez commented on #1505
You are absolutely right. Thanks

[2021-07-23 08:04] #1505 closed

[2021-07-23 18:24] iciclespider commented on #1501
After thinking this over, an possible enhancement would be to allow a "selectable" endpoint to be supplied that is used to transfer data to and from. This endpoint would be used instead of creating one using socket.socketpair. If not endpoint is supplied, then socket.socketpair is used to create one.

[2021-07-24 16:46] Srinidhi2301 opened #1508 "kubernetes python library for fetching the node allocatable memory"
I need to get the allocatable memory for the node using the python client API.
    c = client.Configuration()
    c.debug = True
    config.load_kube_config()

    core_v1 = client.CoreV1Api()
    app_v1 = client.AppsV1Api()

    node = core_v1.list_node()
    print(node.status.capacity)
    print(node.status.allocatable)

could anyoneplease suggest me the right way of get the node's remaining mem

[2021-07-26 05:49] sxddhxrthx commented on #1284
The way it seems to work is when the `kubeconfig` file is loaded before instantiating the Kubernetes Api Client. But keep in mind that `kubeconfig` file has to be loaded from the default `.kube` directory and not anywhere else.

[code]

Output:
[code]

Still the issue I have been facing is loading the `kubeconfig` file from any other location other than default `.kube` directory.

[2021-07-26 13:57] frederiksf opened #1509 "extensions/v1beta1 for ingress deprecated but new api not found in models"
The kubernetes documentation tells me the following ;

_The extensions/v1beta1 and networking.k8s.io/v1beta1 API versions of Ingress will no longer be served in v1.22.

Migrate manifests and API clients to use the networking.k8s.io/v1 API version, available since v1.19._

I have the models but i was not able to find the new models based on networking.k8s.io/v1. This is something not yet made and w

[2021-07-26 20:15] #1326 closed

[2021-07-29 22:00] #1374 closed

[2021-07-29 22:00] #1379 closed

[2021-07-31 22:23] #1335 closed

[2021-08-01 03:27] #1368 closed

[2021-08-02 16:35] roycaihw commented on #1507
/assign

[2021-08-02 16:36] roycaihw commented on #1508
/assign

[2021-08-02 16:37] roycaihw commented on #1509
/assign @yliaog

[2021-08-02 16:41] roycaihw commented on #1507
It looks like SealedSecret is a custom resource, therefore there is no typed client generated for it. You can use the custom object client or the dynamic client to access it. For example:
- https://github.com/kubernetes-client/python/blob/master/examples/namespaced_custom_object.py
- https://github.com/kubernetes-client/python/blob/master/examples/cluster_scoped_custom_object.py
- https://github.c

[2021-08-02 16:42] yliaog commented on #1509
you're right, 1.19 has networking.k8s.io/v1, but python client library latest release is 1.18. the release for 1.19 will likely start next week. so check in a few weeks for the 1.19 release.

[2021-08-02 16:44] roycaihw commented on #1508
`node = core_v1.list_node` returns a node list object. To access the allocatable memory of individual nodes, you need to iterate through the [items](https://github.com/kubernetes-client/python/blob/05e8f5798aa40be42cc13cfc115c753ca66d089b/kubernetes/client/models/v1_node_list.py#L37) of the node list, and then access `.status.allocatable`

[2021-08-04 06:06] ohadm2 opened #1512 "The skip SSL checks option is NOT working"
**What happened (please include outputs or screenshots)**:
The included script is not working.

**What you expected to happen**:
The included script should work.

**How to reproduce it (as minimally and precisely as possible)**:
Use a K8s cluster with self signed certs install on the api server.

**Anything else we need to know?**:
Error details:

user@ubuntu:~/python-kubernetes-module-example$ py

[2021-08-05 10:44] caffeinism opened #1515 "lazy response on stream"
**What happened (please include outputs or screenshots)**:
I wrote the code to make interactive bash available in python. The code in the reproduction section below is a part of it.

But I found a problem. I thought this was a problem with my implementation, but after several other ping-pongs, I'm guessing this is either a bad implementation of the library or a bad implementation of the api-server

[2021-08-05 11:06] kemega opened #1516 "Loading config fails in docker without aws cli"
**What happened (please include outputs or screenshots)**:
I'm trying to dockerize a python app that calls my `AWS EKS` cluster using `kubernetes-client`. The app works fine locally but I faced an issue when I tried dockerizing it.
Running `config.load_kube_config()` throws `ERROR:root:[Errno 2] No such file or directory: 'aws'`, only when using docker.
 I added my `.kube` folder to the /root user

[2021-08-05 14:23] JasinlikeEatingOrange opened #1517 "patch_namespaced_deployment method unable to modify node affinity"
**What happened (please include outputs or screenshots)**:

`  api_response = api_instance.read_namespaced_deployment(name, namespace, pretty='true')
   api_response.spec.template.spec.affinity.node_affinity = {'preferred_during_scheduling_ignored_during_execution': None,
                                                                      'required_during_scheduling_ignored_during_execution': {'

[2021-08-05 14:23] JasinlikeEatingOrange commented on #1517
`
                                'affinity': {'node_affinity': {'preferred_during_scheduling_ignored_during_execution': None,
                                                               'required_during_scheduling_ignored_during_execution': None},
                                             'pod_affinity': None,
                                             'pod_anti_affinity': {'preferred_dur

[2021-08-05 14:37] JasinlikeEatingOrange commented on #1517
`                                'affinity': {'node_affinity': {'preferred_during_scheduling_ignored_during_execution': None,
                                                               'required_during_scheduling_ignored_during_execution': {'node_selector_terms': [{'match_expressions': [{'key': 'node-role.kubernet                                es.io/worker',