[2020-01-06 20:16] #1013 closed

[2020-01-06 20:31] roycaihw commented on #1037
I wonder if this is reproducible with https://github.com/OpenAPITools/openapi-generator/tree/master/samples/client/petstore/python/petstore_api. It looks like you can test a client against the server https://petstore.swagger.io/

[2020-01-07 09:33] vinzent commented on #1037
at least for a quick test I wasn't able to reproduce it with the petstore python client

[code]

works for me with Python 3.7.4 (Fedora 31) and urllib 1.25.7 (vs. python 3.6 (RH UBI 8) and urllib 1.24.x)

[2020-01-07 09:46] vinzent commented on #1037
@roycaihw  with kubernetes python client I can also reproduce with Python 3.7.4 (Fedora 31) and latest kubernetes python 10.0.1 (the ansible operator uses 8.0.2).

[2020-01-07 17:11] fabianvf commented on #1037
@vinzent does your version of urllib3 match for the petstore test and the kubernetes test?

[2020-01-08 18:45] makkus commented on #325
@jbyers19 as a workaround, you could use the 'call_api' method directly, sorta like:

[code]

I'm using the async python client, but this should work with the sync one too I'd guess.

[2020-01-09 01:44] logicbomb421 commented on #1020
Running into this problem myself. Will the documentation be regenerated soon, or is there different documentation I can look at? Pretty new to interacting with the API directly, so not having documentation on what the body of a request should look like is somewhat tough.

[2020-01-09 05:50] palnabarun opened #1052 "Cut version 12.0.0 alpha for client"
Kubernetes Python client v12.0.0 would track Kubernetes v1.16

### Tasks

- [x] Cut 12.0.0 snapshot branch
- [x] Upgrade openapi-generator version
- [x] Drop Python 2 support

[2020-01-09 05:57] scottilee commented on #1052
/assign

[2020-01-09 16:55] micw523 commented on #740
/lifecycle frozen
In progress to change the backend to the dynamic client so that we can fit custom resources.

[2020-01-09 20:19] avbanks commented on #1020
If anyone runs in to this issue a good way to find out what api object is needed is to edit the resource in question with kubectl edit  <resource> <name> -v 9

ex : if we wanted to patch the annotations in a pod run:

 kubectl edit pod vault-test -v 9
then edit the annotation add test: test
now note the line "Request Body:  Request Body: {"metadata":{"annotations":{"test":test}}}"

This tells you

[2020-01-10 02:55] ikogan commented on #1017
I'm having this issue on Fedora 31. The CA is in my system trust anchors, Chrome likes it, kubectl likes it. I've tried it with the `certificate-authority-data` in my kubeconfig and not in my kubeconfig. In both cases, kubectl likes it but the Python module does not:

OpenSSL version is `OpenSSL 1.1.1d FIPS  10 Sep 2019`
Python version is 3.7.5.
[code]

[2020-01-10 03:17] nettyxiong opened #1053 "Install the kubernetes pcakage successfully but can't use it"
[code]
[code]

[2020-01-10 07:51] palnabarun opened #1054 "Drop support for Python 2"
Python 2 has reached [End of Life](https://www.python.org/doc/sunset-python-2/) as of January 1, 2020 and we are still supporting it. Releasing future versions of the client and maintaining released versions with Python 2 support might lead to problems for downstream users.

My suggestion is to stop releasing the client with Python 2 support and removing Python 2.7 from CI/CD.

Also, it would be h

[2020-01-10 07:51] palnabarun commented on #1054
/assign

[2020-01-10 07:53] palnabarun commented on #1054
/cc @roycaihw @scottilee @fabianvf @yliaog @micw523

[2020-01-10 09:36] palnabarun commented on #1053
Hi @nettyxiong, we are dropping support for Python 2.7 from the client. Can you please try with Python 3 and see if the error still occurs?

[2020-01-10 09:38] palnabarun commented on #1053
I checked with Python 3.8.0 and the `ImportError` does not occur.

[2020-01-10 09:38] palnabarun commented on #1053
Xref: https://github.com/kubernetes-client/python/issues/1054

[2020-01-10 09:39] palnabarun commented on #1048
Xref: #1054

[2020-01-10 15:45] micw523 commented on #1054
I think we should probably wait till v12 stable is released to accommodate a client version for server version v1.16, which brought many breaking changes. What do you think?
/assign

[2020-01-10 15:48] micw523 commented on #1053
The dynamic client is enabled in #1035. Looks like there are import issues.
/assign

[2020-01-10 17:34] yliaog commented on #1054
it's good to stop supporting python 2 in next release. before that, please make an announcement about it in dev mailing list and slack channel.

[2020-01-10 17:37] palnabarun commented on #1053
I tried it with Python 3.8.0 and the import is working. I couldn't test with Python 2.7 as I couldn't successfully install the client and its dependencies.

[2020-01-10 17:41] palnabarun commented on #1054
I agree. We can do that.

[2020-01-10 17:42] palnabarun commented on #1054
Sure. I will draft an email and get it reviewed in the next meeting.

[2020-01-10 19:50] micw523 commented on #1053
I cannot replicate this error with Python 2.7.17 on ubuntu 18.04.
Command:
[code]

[2020-01-10 19:54] micw523 commented on #1053
/priority awaiting-more-evidence

[2020-01-10 20:07] #545 closed

[2020-01-14 16:50] bluenote10 commented on #983
`/remove-lifecycle stale`

The issue still exists and is pretty big showstopper in using the streaming API.

[2020-01-14 22:46] mlbiam opened #1055 "python client doesn't work with oidc with public endpoint"
**What happened (please include outputs or screenshots)**:

[code]

**What you expected to happen**:

No error

**How to reproduce it (as minimally and precisely as possible)**:

1.  Setup an OIDC IdP with a public endpoint
2.  Integrate with your API server
3.  Generate a kube config using the configuration with NO `client-secret`
4.  Use the API

**Anything else we need to know?**:

`client-secr

[2020-01-14 23:40] mlbiam commented on #1055
Actually the workaround doesn't work.  refresh breaks

[2020-01-16 00:54] mgasner commented on #747
@inesusvet, can you expand on the work-around?

[2020-01-16 03:56] nettyxiong opened #1056 "How to delete the pod immediately?"
I use the `delete_namespaced_pod` api to delete the pod, but always stuck in a long time, mabye in 1 minute.
I just want to delete the pod with `-f` flag. How can I do it?

[2020-01-16 04:35] beginend2012 opened #1057 "k8s python client error"
git clone --recursive https://github.com/kubernetes-client/python.git
  git branch -a
  git branch
  965  git checkout release-11.0

pip install kubernetes
.........
Installed /opt/deamon/.py3env/lib/python3.6/site-packages/kubernetes-11.0.0b2-py3.6.egg
Processing dependencies for kubernetes==11.0.0b2
Searching for urllib3==1.25.7
Best match: urllib3 1.25.7
Adding urllib3 1.25.7 to easy-install.pt

[2020-01-16 04:38] beginend2012 commented on #1057
(.py3env) [root@wukui1 deamon]# kubectl get nodes -o wide
NAME           STATUS   ROLES    AGE     VERSION   INTERNAL-IP    EXTERNAL-IP   OS-IMAGE                KERNEL-VERSION          CONTAINER-RUNTIME
172.16.10.77   Ready    <none>   7d15h   v1.15.7   172.16.10.77   <none>        CentOS Linux 7 (Core)   3.10.0-693.el7.x86_64   docker://19.3.5
172.16.10.78   Ready    <none>   7d15h   v1.15.7   1

[2020-01-16 04:39] beginend2012 commented on #1057
(.py3env) [root@wukui1 deamon]# cat pod.py
from kubernetes import client, config

# Configs can be set in Configuration class directly or using helper utility
config.load_kube_config()

v1 = client.CoreV1Api()
print("Listing pods with their IPs:")
ret = v1.list_pod_for_all_namespaces(watch=False)
for i in ret.items:
    print("%s\t%s\t%s" % (i.status.pod_ip, i.metadata.namespace, i.metadata.name))

[2020-01-16 05:23] nettyxiong opened #1058 "How to exec command in the pod/container?"
[code]
I use below code to exec a script in the pod/container(only one container in the pod), but I use the _request_timeout=180 to wait the scipt exec finished.
The problem :
 If I use no timeout setting, then the script would not be executed in the pod/container.
I just wan't to know how to exec a script from the container in sync mode.

[2020-01-16 05:25] #1053 closed

[2020-01-16 07:10] nettyxiong commented on #1056
May I can set `grace_period_seconds=0` and `propagation_policy='Background',` to accelerate the delete operation?

[2020-01-16 13:19] nettyxiong commented on #1058
And How can I get the result which stands for the script excuting result?

[2020-01-16 19:34] pzoxiuv opened #1059 "list_event_for_all_namespaces does not return DELETE events"
**What happened (please include outputs or screenshots)**:
Watching `list_event_for_all_namespaces` does not return any events when a Pod is deleted.

I have two scripts: one prints all events with `list_event_for_all_namespaces`, and the other creates and then deletes a Pod.  The watcher prints events while the Pod is starting (pulling container, pulled container, starting container, etc.).  But

[2020-01-16 21:29] #925 closed

[2020-01-17 03:07] nettyxiong commented on #822
@futianshi1314
It seems that _preload_content=False means resp is a websocket, and  _preload_content=True means resp is a str after waiting timeout
[code]

[2020-01-17 15:16] avarf commented on #974
Hi,
Any news regarding 1.16 support? Or the the estimated release time?

/remove-lifecycle stale

[2020-01-18 06:53] eightlimbed commented on #945
@1032231418 did you ever resolve this? I am getting the same error.

[2020-01-18 07:15] eightlimbed commented on #337
@lainra did you ever figure out how to get around this? I am having the same problem.

[2020-01-18 11:04] #932 closed

[2020-01-18 20:13] #863 closed

[2020-01-18 21:03] inesusvet commented on #747
@mgasner as we are talking about [CoreV1API.list_node](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#list_node) method, it is possible to pass additional keyword argument `_preload_content=False` to it. In that case, the return value will be a dictionary version of the API's response, so additional wrapper as [AttrDict](https://github.com/bcj/AttrDict) may be

[2020-01-20 06:57] mitar commented on #323
/remove-lifecycle stale

[2020-01-20 14:59] harshgarg1995 commented on #826
I am getting 403 forbidden error though I am loading kube config...any suggestions

[2020-01-20 17:06] fabianvf commented on #1054
My only concern with this is that we are seeing this bug consistently in Python 3, but not in Python 2, https://github.com/kubernetes-client/python/issues/1037

With that issue resolved I would support dropping Python 2 support

[2020-01-20 21:27] remram44 commented on #977
/remove-lifecycle stale

[2020-01-21 02:34] darktempla commented on #524
Totally agree. Usually I just look at a repos unit tests to see how the contributors have mocked out their class etc but blank stubs when look in the test folder.

Any update on this one.

[2020-01-21 19:36] adamnovak commented on #953
I don't believe that this has yet been documented/implemented; it is still an open problem.

/remove-lifecycle rotten

[2020-01-22 20:32] fabianvf commented on #1037
It looks like it may be a Python bug: https://bugs.python.org/issue39360

There's a corresponding issue filed against swagger-codegen here: https://github.com/swagger-api/swagger-codegen/issues/9991

[2020-01-22 21:05] gaborbernat commented on #1037
@fabianvf it's not a CPython bug, it's a bug within ``swagger-api/swagger-codegen``. Calling pool terminate within the garbage collector is not supported.

[2020-01-22 21:10] fabianvf commented on #1037
@gaborbernat my apologies, I misread the issue on bugs.python.org. Updated

[2020-01-23 04:51] davlum commented on #977
Any mouvement on this?

[2020-01-23 14:36] vinzent commented on #1037
I think openapi-generator is used, not swagger-codegen.

https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python/api_client.mustache#L78

so probably we need to open up a issue there aswell?

[2020-01-23 14:41] fabianvf commented on #1037
@vinzent Good catch, I saw the familiar client code and didn't even think about it. I'll clone the issue and PR

[2020-01-23 15:18] halilduygulu commented on #990
Why this is just ignored, it is a misleading error message for a config parameter. I just wasted 3 workdays because of this.

[2020-01-23 19:09] #794 closed

[2020-01-24 05:37] bsergean opened #1060 "Running first sample code (get pods) lead to a crash on OpenShift 3.11 (kubernete 1.11) (TypeError: argument of type 'NoneType' is not iterable in kube_config.py)"
**What happened (please include outputs or screenshots)**:

[code]

**What you expected to happen**:

Same command terminates without throwing an exception.

**How to reproduce it (as minimally and precisely as possible)**:

Run the command, as a normal user (not sure what that means ... I'm not an admin on the kubernete/openshift cluster) from inside a container/pod.

[code]

**Anything else we n

[2020-01-24 05:43] bsergean commented on #1060
I added `config.load_incluster_config()` by following the 'Accessing the API from within a Pod' section in this [doc](https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/), and I'm now getting a different error, which look more reasonable.

[code]

[2020-01-24 06:17] bsergean commented on #1060
What I am trying to do is list all the IP for all the services running in this namespace:

[code]

Is there an API to do that ?

[2020-01-24 18:55] qlyoung opened #1061 "Question: how to specify API server port?"
I wish to write a small application to create a few resources with the API. However, there is apparently no documentation on how to specify the port of the API server. Nothing in pydoc. I don't see anything in the repository. By default the client tries to connect on `localhost:80`, and the API server is not listening there in my cluster.

Error:
[code]

My API server is on 16443:
[code]

Is there

[2020-01-25 19:53] tomplus commented on #1061
Have you seen this example: https://github.com/kubernetes-client/python#examples?

The simplest method is to read the configuration (address, certs etc.) from the `kubeconfig`, as `kubectl` does.

[2020-01-25 20:58] #30 closed

[2020-01-27 12:05] halilduygulu commented on #990
What can I do to pass this bug? I can reproduce this with python 3.6 and latest kubernetes client.

[code]

[2020-01-27 16:11] jerukitumns opened #1062 "ModuleNotFoundError: No module named 'kubernetes.dynamic'"
**What happened (please include outputs or screenshots)**:

Cannot execute script from example documentation for list pod.

[code]

**What you expected to happen**:
module cannot load properly

**How to reproduce it (as minimally and precisely as possible)**:
-

**Environment**:
- Kubernetes version (`kubectl version`): v1.17.0
- OS : Manjaro Linux
- Python version : 3.8.1
- Python client version

[2020-01-27 17:07] qlyoung commented on #1061
Yes, I read the readme. The linked example doesn't show how to specify a port.
I suppose reading `kubeconfig` works if you're running on the master node. But in any case I still am not clear on how to programmatically set the address and port of the API server.

I appreciate the response.

[2020-01-27 17:31] qlyoung commented on #1061
Ah, I think I see...you're supposed to just bring the `kubectl` binary with you anywhere you want to hit the API, and then use it to run a proxy server :slightly_frowning_face:. Well, thanks for the help.

[2020-01-27 17:31] #1061 closed

[2020-01-28 13:45] erlisb opened #1063 "ProxyError('Cannot connect to proxy.', error('Tunnel connection failed: 407 authentication required',))"
**What happened (please include outputs or screenshots)**:
I am trying to use proxy in the kubernetes framework but I get the following error :
[code]
**What you expected to happen**:
Here I suppose I would get the list of nodes.

**How to reproduce it (as minimally and precisely as possible)**:

        self.client_config = Configuration()
        self.client_config.debug = False
        self.cli

[2020-01-29 12:09] marcellodesales commented on #977
I Can't believe there's no way to deserialize to and from yaml

[2020-01-29 21:48] Datamance commented on #1028
@roycaihw and @micw523 - it looks like the two of you are the major contributors to this repository. Are you able to answer to some of the questions above, or at least provide some sort of status update?

[2020-01-29 22:03] fabianvf commented on #1037
The generator PR has merged, what's the process for regenerating the client with those changes (ideally back a few versions as well)? I'm happy to create a manual PR and backports if that's necessary

[2020-01-29 22:48] marcellodesales commented on #340
I saw that https://github.com/kubernetes-client/python/issues/574#issuecomment-405400414 works... It's awkward, but works...

[2020-01-29 22:49] marcellodesales commented on #977
Alright, I saw that https://github.com/kubernetes-client/python/issues/574#issuecomment-405400414 works... It's awkward, but works...

[2020-01-29 22:49] gaborbernat commented on #1037
Before regeneration they need to release not? Did that happen?🤔

[2020-01-29 22:57] micw523 commented on #1037
You might want to check out [this](https://github.com/kubernetes-client/gen/blob/master/openapi/openapi-generator/client-generator.sh) to use a specific commit of the OpenAPI generator.

[2020-01-29 22:59] micw523 commented on #1028
I'd be watching the status of PR #959. There are propositions of how to deal with it, but it might require upstream (generator) changes.

[2020-01-29 23:21] marcellodesales commented on #977
@davlum try the method at https://github.com/kubernetes-client/python/issues/574#issuecomment-405400414 works... I needed to clone objects and change the names and properties. So I had it transformed into a `dict`, worked on that lavel, and then converted to `yaml`... That's how far I got...

[2020-01-29 23:28] marcellodesales commented on #574
@tomplus after a couple of hours trying to implement a `clone` feature, I added an example how to use your suggestion from https://github.com/kubernetes-client/python/issues/574#issuecomment-405400414.

https://stackoverflow.com/questions/59977058/clone-kuberenetes-objects-programmatically-python/59977059#59977059

As a feedback, it's not that clear how users could use the feature. Maybe providing

[2020-01-30 05:56] mitar commented on #819
Hm, but if etcd returns versions per resource, that is per object, no? So what is then version returned by Kubernetes when you list multiple resources? How can you watch then a list of multiple resources and how can you resume that? Is the version of a list of multiple resources simple max(version of every resource in the list)? Is this how Kubernetes does it?

[2020-01-30 14:08] llegolas opened #1064 "proxy SOCKS5 schema support"
**What is the feature and why do you need it**:
It would be nice if the client supports socks5 proxy to be on par with the kubectl which respects and uses properly env. proxy var of the sort of http_proxy=socks5://.....

**Describe the solution you'd like to see**:
it would be sufficient if the code checks for the proxy schema in configuration.proxy and use urllib3.contrib.socks.SOCKProxyManager i

[2020-01-30 14:50] llegolas commented on #1064
Perhaps something like
[code]
vs.

[code]

in rest.py

[2020-01-30 18:35] juliantaylor commented on #819
A list operation returns a single object and I assume kubernetes sorts the entries in that list itself so there should be no issue.

The problem is only with watch operations if they are unordered simply storing the maximum for a reset would not work.

But I now found this in the documentation of etcd:
https://github.com/etcd-io/etcd/blob/master/Documentation/learning/api.md#watch-streams

[code]

[2020-01-31 09:26] sushil11th opened #1065 "job_crud.py"
Not able to create job with this example:

------Output log:

Job created. status='{'active': None,
 'completion_time': None,
 'conditions': None,
 'failed': None,
 'start_time': None,
 'succeeded': None}'
Job updated. status='{'active': None,
 'completion_time': None,
 'conditions': None,
 'failed': None,
 'start_time': None,
 'succeeded': None}'
Job deleted. status='{}'

[2020-01-31 09:44] Skazzino opened #1066 "Enabling Sysctls for a Pod"
**What is the feature and why do you need it**:
Enabling the `sysctls` dictionary inside the `securityContext` of a Pod. This is useful to start the containers with some special privileges (I'll mainly use the for the `net.` namespace), but without `privileged` flag.
It is described [here](https://kubernetes.io/docs/tasks/administer-cluster/sysctl-cluster/#setting-sysctls-for-a-pod).

**Describe t

[2020-01-31 12:02] nolar commented on #819
A little addition on this issue:

I have "solved" this by using the list-then-watch strategy. The resource version strings seems to be scoped to the custom resource type, or maybe to the whole cluster and all resources. You can treat it as a timestamp of the resulting dataset. For the list operation, it returns the resource version of the whole list — no necessary of the latest item in the list, b

[2020-01-31 19:17] #944 closed

[2020-01-31 19:41] juliantaylor commented on #819
the list issue is https://github.com/kubernetes-client/python/issues/745
This is something that comes from the code generator and I have not found an easy way to fix it.

[2020-01-31 22:20] #387 closed

[2020-02-01 05:12] jfrabaute commented on #754
/remove-lifecycle stale

The fix is merged on python-base, new python client version not released yet.
Also, this PR might be needed as well to have this change fully operational: https://github.com/kubernetes-client/python-base/pull/169

[2020-02-02 10:38] cben commented on #745
To add to the observation on https://github.com/kubernetes-client/python/issues/819#issuecomment-580706837 that list `kind` might not always be item's `kind` + "List":

Indeed, CRDs have separate field `ListKind`:
[code]
It's optional, and I don't know why anyone should _want_ to override it.  The CRDs I've see that do set it all followed the "FooList" convention, but there are probably *some* out

[2020-02-02 10:42] cben commented on #745
Personally I don't feel implementing this openapi inference is worth the trouble.

However, it's interesting that `kubectl get -o json foos` does hide this API ugliness from users: all lists print out `kind: List` at top level, and it inserts correct `kind` and `apiVersion` into each element under `items`.

[2020-02-02 13:59] #808 closed

[2020-02-02 22:30] rhristov opened #1068 "kubernetes/docs/V1Taint.md value field has contradictionary description"
**Link to the issue (please include a link to the specific documentation or example)**:
kubernetes/docs/V1Taint.md

**Description of the issue (please include outputs or screenshots if possible)**:
The value field is described as "Required" in the description column, while it's described as [optional] in the Notes column

[2020-02-03 17:49] scottilee commented on #1052
Update -- since Roy is out I am trying to sync up with @yliaog on this, who I pinged on Slack.

[2020-02-03 19:15] adamnovak commented on #994
My PR to fix this at https://github.com/kubernetes/kubernetes/pull/84810 still has not been reviewed, and the documentation at https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/BatchV1Api.md#parameters-2 still does not ref;ect the non-blocvking behavior.

/remove-lifecycle stale

[2020-02-04 14:42] sa9226 opened #1070 "Client library support for kubernetes 1.16"
We are upgrading platform with kubernetes 1.16. As per compatibility matrix  current python client only supports until kubernetes 1.15 only. May I know the timeline when new version of python client library available to support 1.16.

[2020-02-04 17:12] micw523 commented on #1070
Please track #1052. Unfortunately, some of our core members are unavailable right now, so I cannot give you an exact time line.

[2020-02-04 21:02] davlum commented on #977
That's not quite what I'm looking for. I would like to go from JSON/YAML to client objects defined within this library. If I'm not mistaken your example returns JSON from the client, modifies it and writes back YAML, never making the conversion from YAML -> client object.

[2020-02-05 19:25] mdgreenwald commented on #1039
@roycaihw It's not clear how to enable the debug switch (or if its possible) when using the `config.load_incluster_config()` helper. Would you mind sharing an example of how to setup configuration and enable debugging. I believe I also may be impacted by this issue.

[2020-02-05 21:29] zaphod72 opened #1071 "Prompting issue with installer"
Wrong repo!

[2020-02-05 21:42] #1071 closed

[2020-02-05 21:42] zaphod72 commented on #1071
Wrong repo. Sorry.

[2020-02-05 21:56] sa9226 commented on #1070
Thank you.

On Tue, Feb 4, 2020 at 12:12 PM Xianglong Wang <notifications@github.com>
wrote:

--
Swapna

[2020-02-06 00:49] frodre opened #1072 "ValueError: invalid literal for int() with base 10"
**What happened (please include outputs or screenshots)**:
[code]
**What you expected to happen**:
The configuration to load

**How to reproduce it (as minimally and precisely as possible)**:
The GCP credentials expiration string has some decimal fraction of seconds specified in the time stamp.  Then the following command fails.
[code]

Specifically in `kubernetes.config.dateutil` the function `pa

[2020-02-06 06:15] ricardozd commented on #1039
Finally I used golang for the code :(

[2020-02-06 17:43] gtaylor commented on #868
@alanjcastonguay if you aren't actively working on this, it may make sense to un-assign yourself. That way any would-be contributors won't have to wonder whether work is in progress before making their own attempt.

[2020-02-06 18:27] pheonix991 commented on #1020
I can trigger this when trying to run this code.

[code]

Output:
[code]

Would be nice to have this fixed.

[2020-02-10 13:05] Skazzino opened #1074 "Enable Sysctl option for a Pod configuration"
**What is the feature and why do you need it**:
Enabling the `sysctls` dictionary inside the `securityContext` of a Pod. This is useful to start the containers with some special privileges (I'll mainly use the for the `net.` namespace), but without `privileged` flag.
It is described [here](https://kubernetes.io/docs/tasks/administer-cluster/sysctl-cluster/#setting-sysctls-for-a-pod).

**Describe t

[2020-02-10 13:05] #1066 closed

[2020-02-10 15:39] GhostInThePotato commented on #962
Is this going to get fixed in the next release?

I'm currently using `logging.getLogger(requests.packages.urllib3.__package__).setLevel(logging.ERROR)` as a workaround, but it would be better if I didn't have to.

/remove-lifecycle rotten

[2020-02-10 18:17] mac9416 opened #1075 "10.0.1 missing from changelog"
**Link to the issue (please include a link to the specific documentation or example)**:

https://github.com/kubernetes-client/python/blob/master/CHANGELOG.md

**Description of the issue (please include outputs or screenshots if possible)**:

I was about to bump a downstream project from 10.0.1 but wanted to see what changed.

10.0.1 doesn't have an entry in the changelog.

[2020-02-10 19:30] roycaihw commented on #1001
Closing as the issue being stale. Please reopen if needed

/close

[2020-02-10 19:30] #1001 closed

[2020-02-10 19:53] roycaihw commented on #999
Replicaset and deployment are different APIs. Could you try this example out for reading and patching deployments? https://github.com/kubernetes-client/python/blob/5181d2389eacd92fa0f72237da87286ed0d45a3e/examples/deployment_crud.py#L59-L64

[2020-02-10 20:21] roycaihw commented on #962
The upstream fix was included in openapi-generator 4.0.0 https://github.com/OpenAPITools/openapi-generator/pull/2460

Currently this repo is still using [openapi-generator 3.3.4](https://github.com/kubernetes-client/gen/blob/b30bbc34e825f94c1363ab5a193e1e26c1d73d6f/openapi/openapi-generator/client-generator.sh#L44)

We could either evaluate and use the newer version, or cherrypick the fix to this

[2020-02-10 22:07] #1037 closed

[2020-02-10 22:10] tomplus commented on #962
@roycaihw I did evaluation of using the latest version of the openapi-generator. It looks promising, I faced some problems with a validator so far (https://github.com/kubernetes-client/gen/issues/145). There are a lot of new features, fixes and some breaking changes so we should upgrade the generator in the next release.

[2020-02-11 00:48] roycaihw commented on #998
The current interface comes from the code generator that we use. The openapi-based code generation allows us to generate clients in different languages for the ever-growing Kubernetes API. I would be happy if these changes can be made in the upstream generator, but some of the changes seem to require deep knowledge about Kubernetes. Implementing in another library based on this client can be anoth

[2020-02-11 01:01] roycaihw commented on #968
Closing this issue as a dup. Tracking the fix in https://github.com/kubernetes-client/python/pull/959

/close

[2020-02-11 01:01] #968 closed

[2020-02-11 12:10] andyfeller commented on #360
How does this work for `load_incluster_config()`?   From what I can tell, it doesn't.  If that's so, I'd appreciate a generic solution that works within and without.

[2020-02-11 16:33] hacker-h commented on #940
/remove-lifecycle stale

[2020-02-12 00:33] #988 closed

[2020-02-12 00:36] roycaihw commented on #997
Closing based on the inactivity. Please reopen if you have more information

/close

[2020-02-12 00:36] #997 closed

[2020-02-12 10:22] WeiJieQiang commented on #1062
I have the same error here as well.

[2020-02-12 10:54] WeiJieQiang commented on #1062
The error was solved by uninstall kubernetes from pip3 and reinstall using `pip3 install kubernetes`. The version I am using is kubernetes 10.0.1.

[2020-02-13 07:43] Ark-kun commented on #476
/reopen

[2020-02-13 08:42] sebastian-philipp commented on #225
In the meantime, I've made https://github.com/ceph/rook-client-python to generate client API classes for CRDs . It contains a code generator that is usable independently of this project.

If there is an interest, the code generator could certainly be moved into a dedicated project.

[2020-02-13 19:40] mitar commented on #983
/remove-lifecycle rotten

[2020-02-13 19:41] mitar commented on #983
@bluenote10 I do not think bot recognized your command because of backticks.

[2020-02-13 20:32] geerlingguy commented on #928
/remove-lifecycle stale

[2020-02-13 23:11] roycaihw commented on #928
/unassign
/lifecycle frozen

[2020-02-13 23:15] roycaihw commented on #983
/unassign

@jiahuif has a reproduce and WIP fix in https://github.com/kubernetes-client/python-base/pull/174

[2020-02-14 01:09] roycaihw opened #1080 "Add a E2E test for ws client sending binary payloads"
Ref https://github.com/kubernetes-client/python-base/pull/152. We should have a test case for ws client sending bytes data in our [e2e tests](https://github.com/kubernetes-client/python/blob/ceaf188498bd43577b1bec72cc4e839be2379632/kubernetes/e2e_test/test_client.py#L38).

cc @sergei-maertens

[2020-02-14 01:20] roycaihw commented on #962
Thanks @tomplus. I think after we release 11.0.0 stable version, we can start evaluating the latest version of the openapi-generator in 12.0.0a1.

[2020-02-14 02:03] roycaihw commented on #977
Reading [deserialize](https://github.com/kubernetes-client/python/blob/390f3cfd2bd4099f7e17b7196a37b201f291d62f/kubernetes/client/api_client.py#L236-L256), it mostly needs the `data` from a `RESTResponse`. The method could be reused for JSON by mocking a `RESTResponse` object, like what @chekolyn did in https://github.com/kubernetes-client/python/pull/989/files#diff-0204f9aa3f2d80c3fe32d62f37882df

[2020-02-14 02:27] #950 closed

[2020-02-15 13:01] #602 closed

[2020-02-16 03:15] #822 closed

[2020-02-16 14:09] mayu2010 commented on #166
port-forward call still not supported in python-client now?

[2020-02-18 08:31] juliantaylor opened #1081 "__deserialize_date return type dependent on runtime environment"
the __deserialize_date function behaves differently depending on which dependencies you have installed at runtime.
https://github.com/kubernetes-client/python/blob/master/kubernetes/client/api_client.py#L585

if dateutils is installed you get datetime objects for dates and if not you get strings.

This is very bad behaviour for a library as code will break depending on which other packages are cur

[2020-02-18 08:40] nettyxiong commented on #1058
@roycaihw Could you help me?

[2020-02-18 09:29] kmmanto commented on #842
I'm getting the same error while following the examples.
Using:
python3
kubernetes==10.0.1

`HTTP response body: unable to upgrade: missing upgrade headers in request`

[2020-02-18 13:28] yunfan opened #1082 "how can i filtered running job by list_namespaced_job"
i had use

[code]

but the server response a bad requests error to me

[code]

since this is a very common usecase, i hope there would be a solution

[2020-02-18 15:11] avarf commented on #1070
We are also waiting for 1.16 support.

[2020-02-18 19:15] adamnovak commented on #1005
Most of the examples still ignore `load_incluster_config`.

/remove-lifecycle stale

[2020-02-18 19:25] roycaihw commented on #1058
@nettyxiong Have you checked [this example](https://github.com/kubernetes-client/python/blob/master/examples/pod_exec.py)?

[2020-02-18 21:10] roycaihw commented on #1039
I created https://github.com/kubernetes-client/python/pull/1083 on how to enable debugging. Please share the HTTP request and response if you hit the issue.

[2020-02-18 21:12] roycaihw commented on #982
/remove-lifecycle stale
/unassign
/assign @jiahuif

[2020-02-18 21:15] jiahuif commented on #982
That is good enough to give me a ping. Let me recall the context.

[2020-02-18 22:01] mdgreenwald commented on #1039
Thank you! I do not have time to test this at the moment, but will get to it as soon as I can.

[2020-02-19 00:14] roycaihw commented on #1005
[client-go](https://github.com/kubernetes/client-go/blob/9346d688810d23f933041c41e8650967d639be76/tools/clientcmd/client_config.go#L536-L553) has a function that does "try and fallback". We should have a method mimics its behavior

[2020-02-19 13:43] nettyxiong commented on #1058
@roycaihw
Yes, I just copy code snippet from the `pod_exec` example.
I just add the timeout param.

And now I try to give up this python client instead of using kubectl binary tool with subprocess.

[2020-02-19 13:45] #1058 closed

[2020-02-19 20:31] roycaihw commented on #1081
/assign @juliantaylor

[2020-02-19 21:52] roycaihw opened #1085 "Pod exec doesn't default _request_timeout properly"
**What happened (please include outputs or screenshots)**:
When I run [pod exec stream](https://github.com/kubernetes-client/python/blob/f493272827ed31575b87a522a4206f446a1e12f6/examples/pod_exec.py#L74-L80) without specifying `_request_timeout`, `_request_timeout` gets defaulted to None.

**What you expected to happen**:
`_request_timeout` should be defaulted to 60 according to [the code](https:/

[2020-02-19 22:03] roycaihw opened #1086 "Websocket call should throw an error when client-side timeout is reached"
**What is the feature and why do you need it**:
Currently when you run websocket call with a timeout, e.g.
[code]
the client doesn't raise any error when the [timeout is reached](https://github.com/kubernetes-client/python-base/blob/a25f49eb41a28b5ffafb309f26e182b80ec747de/stream/ws_client.py#L224-L233). It only keeps whatever data that has been sent back through the channels.

**Describe the solu

[2020-02-19 22:06] roycaihw commented on #1058
Which version of this client are you using? I couldn't reproduce this locally. Could you elaborate more on what you mean by "sync mode"?

My suspicion is that your script takes a long time to finish. And I found a bug in our code where the timeout didn't get defaulted https://github.com/kubernetes-client/python/issues/1085. As a result the client hung waiting for the script to finish / server-side

[2020-02-19 22:30] roycaihw commented on #993
/close

[2020-02-19 22:30] #993 closed

[2020-02-19 22:31] roycaihw commented on #992
/close

[2020-02-19 22:31] #992 closed

[2020-02-19 23:31] roycaihw commented on #990
This doesn't look like a python client issue. Does this config pattern come from Airflow documentation?

Originally when you do watch.stream(v1.list_namespaced_pod, 'default'), the client opens a long-running connection with the API server to receive events. The connection keeps open until the server-side timeout gets reached. If you want to configure the server-side timeout, you can pass in `time

[2020-02-20 00:22] roycaihw commented on #974
Hi @avarf, we are actively working on 11.0.0 stable release. After that we will start 12.0.0a1 release, which corresponds to Kubernetes 1.16

[2020-02-20 02:46] nettyxiong commented on #1058
1. The client version is : 11.0.0-snapshot
2. If I set no timeout param, the exec would be hung for a long time, so I set timeout=180.
But I found that the `start.py` script finished  in 120s and just would be hung until timeout trigger, even the script has run completely.
3. The `sync mode`  which means that exec a cmd until the cmd run completely or timeout trigger(not just based on the timeout

[2020-02-20 08:27] avarf commented on #974
Hi @roycaihw and thanks for your works. Is there any rough timeline for these releases?

[2020-02-20 09:56] halilduygulu commented on #990
Hi, i think it is, I isolated code to python client already, see previous message of yours.
_request_timeout is how they workaround the problem in airflow code, instead of hanging around forever, app throws error and starts stream again.
this is all related using labelselector, without it it just works.

[2020-02-20 13:37] michaelprice232 commented on #962
I am also interested in this feature

[2020-02-20 17:45] roycaihw commented on #974
@palnabarun Nabarun is working on the 11.0.0 release and I think a PR will be created in the next two weeks.

[2020-02-20 17:52] roycaihw commented on #1058
I think we need a way to reproduce this (either via an e2e test or with some pod spec and command). I couldn't reproduce this issue locally by adding a `sleep 120` to [this example](https://github.com/kubernetes-client/python/blob/f493272827ed31575b87a522a4206f446a1e12f6/examples/pod_exec.py#L73) before the message printing

[2020-02-21 21:37] roycaihw commented on #754
Both fixes have been merged. They will be included in the upcoming 12.0.0a1 release

[2020-02-21 22:08] #982 closed

[2020-02-21 22:08] #983 closed

[2020-02-23 15:18] iamneha commented on #1075
/assign @iamneha

[2020-02-24 14:20] palnabarun commented on #825
/remove-lifecycle stale

[2020-02-24 19:54] iamneha commented on #1005
I would like to work on this issue.

/assign @iamneha

[2020-02-24 20:18] roycaihw commented on #1075
Fixed in #1090

/close

[2020-02-24 20:18] #1075 closed

[2020-02-27 15:49] piroszhog commented on #977
That's how I have to do it now. Will be glad to remove this hack after this issue close.

[code]

[2020-02-27 21:40] roycaihw commented on #977
@piroszhog I think that is the right workaround at the moment, and this issue should be closed once #989 is finished.

[2020-02-28 11:09] micemuni opened #1092 "Python3.7 lib file throwing error"
Hi,
I have faced the error from python3.7 lib file, as part of airflow-helm-chart deployment https://github.com/BrechtDeVlieger/airflow-kube-helm/issues/13

Need help to fix the error.

`
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/airflow/contrib/executors/kubernetes_executor.py", line 340, in run
    self.worker_uuid, self.kube_config)
  File "/usr/local/lib

[2020-02-28 18:21] TheOriginalAlex commented on #166
Is there a record of documented users of the library?  i.e. A markdown file or something.  I'd like to add to it if so.

[2020-02-28 21:39] roycaihw commented on #1023
Sorry for the late response. The apiserver rejected the request because it expects V1DeploymentSpec to be an int, but you were sending a string `"replicas": "2"`. Changing it to `"replicas": 2` resolves the issue

/close

[2020-02-28 21:39] #1023 closed

[2020-02-29 11:27] #818 closed

[2020-02-29 16:44] furkanmustafa commented on #411
/remove-lifecycle rotten

[2020-02-29 16:44] furkanmustafa commented on #411
/reopen

[2020-02-29 16:45] furkanmustafa commented on #411
related https://github.com/kubernetes-client/python/issues/422

[2020-02-29 16:45] furkanmustafa commented on #422
/remove-lifecycle rotten

[2020-02-29 20:23] futianshi1314 commented on #822
@nettyxiong 国人， 这个可以实现的 详细的可以加我Q358968104，我们第一版py的webshell已经下线了， 改用go了

[2020-03-01 18:15] bzurkowski commented on #1070
Same here, awaiting support for 1.16 :)

[2020-03-01 22:54] tdmalone opened #1093 "Add example about using server-side apply with this client"
**What is the feature and why do you need it**:

I would like to have an 'apply' (patch) mode for the helpful [`create_from_yaml`/`create_from_dict`](https://github.com/kubernetes-client/python/blob/master/kubernetes/utils/create_from_yaml.py) utility methods.

I currently use this to automate deployment of our application, however from time-to-time something goes wrong in the deployment and we ne

[2020-03-02 08:12] keyurbitw opened #1094 "Unable to get kubeconfig file"
**What happened (please include outputs or screenshots)**: I am trying to connect to my kubernetes cluster on eks. While running **config.load_kube_config(path)** it gives below error:
**ERROR:root:[Errno 2] No such file or directory**. At first I did not provide the path so its should take the config file from default location but I see the same error there as well. Even I am checking if the file

[2020-03-02 17:20] palnabarun commented on #1025
/remove-lifecycle stale

[2020-03-02 17:50] roycaihw commented on #1055
/assign

[2020-03-02 17:52] roycaihw commented on #1056
cc @yliaog

[2020-03-02 17:53] roycaihw commented on #1057
Could you also provide your kubeconfig file?

[2020-03-02 17:59] roycaihw commented on #1060
Could you also provide your kubeconfig file?

[2020-03-02 18:01] yliaog commented on #1056
https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#background-cascading-deletion

It is correct to set 'Background'.

[2020-03-02 18:01] yliaog commented on #1056
/close

[2020-03-02 18:01] #1056 closed

[2020-03-02 18:17] roycaihw commented on #1062
/assign @micw523

ref https://github.com/kubernetes-client/python/pull/1035

[2020-03-02 18:25] roycaihw commented on #1055
I think this is fixed by https://github.com/kubernetes-client/python-base/pull/144, but the PR is stale and we need someone to pick up the work there.

[2020-03-02 18:36] roycaihw commented on #1059
`list_event_for_all_namespaces` lists the Kubernetes [core v1 Event API](https://github.com/kubernetes/kubernetes/blob/62e993ce091198196e330fa6699ab4792f31a7cb/staging/src/k8s.io/api/core/v1/types.go#L5112-L5176) objects. When you watch `list_event_for_all_namespaces`, you will get ADDED/MODIFIED/DELETED events for the v1 Event objects.

To watch ADDED/MODIFIED/DELETED events for the v1 Pod object

[2020-03-02 18:36] #1059 closed

[2020-03-02 18:43] alanjcastonguay commented on #1059
There are several concepts confusingly called events.

* The `list_event_for_all_namespaces` retrieves `v1.Event` resources that might be associated with a `v1.Pod` or any other resource in some namespace.
* A watch+stream over `list_event_for_all_namespaces` will receive a stream of ADDED/MODIFIED/DELETED events about changes to that collection of `v1.Event` objects, _not about changes to the col

[2020-03-02 18:43] roycaihw commented on #1060
What kubectl command were you using? If you run `--v=8` with it, you will see what API endpoints kubectl was calling, and you will be able to use this python client to call those API endpoints.

[2020-03-02 18:48] roycaihw commented on #1025
Just exploiting the options here. @fabianvf suggested that we could [use travis-ci to do pypi deployment](https://docs.travis-ci.com/user/deployment/pypi/) like [what openshift does](https://github.com/openshift/openshift-restclient-python/blob/74d56c6dea7799c4465a14840f2bfe51bf13024f/.travis.yml#L37-L47), which also looks pretty handy.

[2020-03-02 18:52] roycaihw commented on #1059
Thanks @alanjcastonguay for the detailed explanation!

[2020-03-02 19:02] alanjcastonguay commented on #1059
The `v1.Event` resources listed above will be deleted automatically. The default TTL is 1 hour after creation. If you left the `kubectl get events -v=10 --watch` running, you would see this;

[code]

And because they were deleted `kubectl get events` doesn't show those two `v1.Event` objects anymore.

[code]

[2020-03-02 19:22] bsergean commented on #1060
Indeed I think it's an RBAC permission issue. One exception carry this message: `"message":"pods is forbidden`.

`Reason: Forbidden` is also a good hint. Maybe the error message could be decorated with some hints on how to fix things, but that's a different discussion.

Thanks for the help !

[2020-03-02 19:22] #1060 closed

[2020-03-02 21:06] micw523 commented on #1062
Because this adds a new symbolic link (and we did not support importing from base.dynamic directly), I think reinstalling the package is needed.

[2020-03-02 21:44] roycaihw commented on #1062
I think it's a bug fix that hasn't been released yet. In [11.0.0b2](https://github.com/kubernetes-client/python/blob/v11.0.0b2/kubernetes/__init__.py) we still don't have https://github.com/kubernetes-client/python/pull/1035 yet.

On a side note, @micw523 do you know why we didn't add kubernetes.dynamic to setup.py? https://github.com/kubernetes-client/python/blob/073cf4d89e532f92b57e8955b4efc3d5d

[2020-03-02 22:27] Vacant0mens opened #1095 "envFrom Does Not Get Created"
**What happened (please include outputs or screenshots)**:
from code below, the `print(v1deployment)` shows:
[code]
but the last line ( `print(updated)` or `print(created)`) shows the response from the server/k8sApi is:
[code]
**What you expected to happen**:
env_from/envFrom should have been created.

**How to reproduce it (as minimally and precisely as possible)**:
python code (sorry for the len

[2020-03-02 22:35] micw523 commented on #1062
Ah... I think I simply forgot. That might be the reason why.

[2020-03-03 01:26] roycaihw commented on #1019
AFAICT RBAC doesn't support short names. You need to specify "persistentvolumeclaims" instead of "pvc". The following role & binding work for me. For requests across namespaces you need to use cluster role and cluster role binding.

[code]

[2020-03-03 01:54] alanjcastonguay commented on #1095
Simpler; this creates a Pod with environment variables from a ConfigMap.

[code]

[code]

* Kubernetes version: kubectl v1.16.2, server v1.15.5
* OS: MacOS 10.15.2 (19C57)
* Python version: 3.7.3
* Python client version: `kubernetes==8.0.1`

[2020-03-03 02:10] alanjcastonguay commented on #1095
You're never actually creating a `V1ConfigMapEnvSource` object.

[2020-03-03 12:55] palnabarun commented on #974
/assign

[2020-03-03 16:38] postmaxin commented on #977
To make this hack work for me, I had to add explicit `datetime` deserialization. I'm not sure but I think this may be because I'm also doing funky stuff like deepcopies in my code;

[code]

[2020-03-03 22:00] piroszhog commented on #977
@postmaxin I never got such kind of problems. Maybe dates in your initial json are not in RFC 3339 format, which Kubernetes requires https://stackoverflow.com/a/522281

[2020-03-05 19:49] Vacant0mens commented on #1095
So I changed this line:
[code]
to this:
[code]
and got the same result (`envFrom: None` in the response). I'll try your code sample and see if anything changes.

[2020-03-05 19:55] Vacant0mens commented on #1095
Same result with your code sample. Should I try just a Pod by itself?

[2020-03-05 20:01] Vacant0mens commented on #1095
So @alanjcastonguay your code sample worked when creating a pod by itself. the envFrom came back properly from the Api.

[2020-03-05 20:10] Vacant0mens commented on #1095
I just realized I was creating a v1PodSpec object to create a v1PodSpec object...
I changed this:
[code]
to this:
[code]
and it worked!

[2020-03-05 20:19] Vacant0mens commented on #1095
Confirmed in my normal code. Apparently creating a V1PodSpec, converting it to a dict, and then using that for `**args` to create a V1PodSpec breaks the envFrom object (because I assume it gets added as a dict instead of a V1ConfigMapEnvSource object.)

[2020-03-05 20:38] Vacant0mens commented on #1095
@alanjcastonguay is it out of the scope of `kubernetes-client/python` to recursively resolve the embedded objects? I'm a little miffed that I can't just pass it a dict of dicts and have it resolve properly. In the end, I assume it's just passing JSON to the Api anyway, right?

[2020-03-05 22:15] alanjcastonguay commented on #1095
Dunno what the dict-style would be doing. But everything else in the library assumes classes that know how to (de)serialize themselves.

[2020-03-05 22:16] alanjcastonguay commented on #1095
/assign

[2020-03-05 22:19] alanjcastonguay commented on #1095
/close

[2020-03-06 00:29] #1095 closed

[2020-03-06 10:13] savitha-suresh opened #1098 "`create_namespaced_horizontal_ pod_autoscaler` throws ValueError: Invalid value for `conditions`, must not be `None`"
[code]
code to reproduce -
[code]
This returns the exception i posted above, though it create the hpa. status is optional in V2beta2HorizontalPodAutoscaler, why does this exception occur and what is the work around for this?

[2020-03-06 14:52] #843 closed

[2020-03-08 11:27] arielb135 commented on #524
just saying that i need that too, i'm currently mocking my usages of the API and this is alot of work

[2020-03-09 05:38] roycaihw commented on #1062
The fixes will be included in the upcoming 11.0.0 release https://github.com/kubernetes-client/python/pull/1097

[2020-03-09 05:55] roycaihw commented on #1063
You need to pass in proxy headers to properly use the proxy manager. Ref https://github.com/kubernetes-client/python/pull/779, https://github.com/OpenAPITools/openapi-generator/pull/2467

This should be fixed in the upcoming [12.0.0a1](https://github.com/kubernetes-client/python/pull/1088) release where we upgrade to a newer version of openapi-generator. You can apply the fix locally as a workarou

[2020-03-09 05:58] roycaihw commented on #1064
The rest client is auto generated by [openapi-generator](https://github.com/OpenAPITools/openapi-generator/blob/67e3bf5271e1f2e70f6ab883ca9e38af57f710af/modules/openapi-generator/src/main/resources/python/rest.mustache#L78-L89). Would you mind file a feature request in that repo?

[2020-03-09 06:06] roycaihw commented on #1065
I ran the example and it created the job successfully.
[code]
Note that the example deletes the job at the end. If you remove [this line](https://github.com/kubernetes-client/python/blob/4bb1e7bf38381b45c17f63400b21ba2bbb553e8c/examples/job_crud.py#L93) and run the example you can see
[code]
/close

[2020-03-09 06:06] #1065 closed

[2020-03-09 06:13] roycaihw commented on #1068
It's a documentation issue in Kubernetes OpenAPI spec, which has been fixed in Kubernetes 1.18 https://github.com/kubernetes/kubernetes/pull/88584. The fix will get included in this repo when we generate a client from Kubernetes 1.18.

[2020-03-09 06:16] roycaihw commented on #1070
Yes please track #1052 and #1088. Currently we are focusing on cutting 11.0.0 release. We will focus on 12.0.0a1 release once 11.0.0 is cut.

/assign @scottilee

[2020-03-09 06:23] roycaihw commented on #1072
The issue has been fixed by https://github.com/kubernetes-client/python-base/pull/150. The fix is included in [11.0.0a1 and later releases](https://github.com/kubernetes-client/python/blob/master/CHANGELOG.md#v1100a1)

/close

[2020-03-09 06:23] #1072 closed

[2020-03-09 06:32] roycaihw commented on #1074
sysctls is a property of [V1PodSecurityContext](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1PodSecurityContext.md), which is used by [V1PodSpec](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1PodSpec.md). Did you hit any problem setting the property?

/assign

[2020-03-09 06:36] roycaihw commented on #1092
The error message looks like a duplicate of https://github.com/kubernetes-client/python/issues/990

[2020-03-09 06:55] palnabarun commented on #1070
/assign

[2020-03-09 16:29] roycaihw commented on #1093
[Server-side apply](https://github.com/kubernetes/enhancements/issues/555) has been beta since 1.15, we should add example/utility about how to use it with the 11.0 client.

[2020-03-09 21:08] roycaihw commented on #1027
Closing the issue due to inactivity. Please reopen when you have more information for debugging

/close

[2020-03-09 21:08] #1027 closed

[2020-03-09 21:26] micw523 commented on #967
/lifecycle frozen

[2020-03-10 06:25] tbarrella commented on #741
/remove-lifecycle stale

[2020-03-10 23:39] roycaihw commented on #741
https://github.com/OpenAPITools/openapi-generator/pull/3594 was included in openapi-generator 4.1.1. Currently we are still using openapi-generator [3.3.4](https://github.com/kubernetes-client/gen/blob/e056721a80bf2198c505998052b2814168450a96/openapi/openapi-generator/client-generator.sh#L44). We are tracking upgrading openapi-generator in the next major release: https://github.com/kubernetes-clie

[2020-03-11 21:45] roycaihw commented on #1080
Currently we only have [text test cases](https://github.com/kubernetes-client/python/blob/cef73f6dee0cbcd6b2158af012234e44ef24e365/kubernetes/e2e_test/test_client.py#L78-L100).

A binary payload test case can be copy a file to a pod and read it back. The request sent by this client will be similar to what [`kubectl cp`](https://kubectl.docs.kubernetes.io/pages/container_debugging/copying_container

[2020-03-11 22:04] roycaihw opened #1105 "Add documentation about debugging client request & response"
Forking https://github.com/kubernetes-client/python/pull/1083#issuecomment-587968932 here. We should have a more visible documentation about how to enable debug logging.

The documentation can live in https://github.com/kubernetes-client/python/blob/master/README.md or https://github.com/kubernetes-client/python/blob/master/examples/README.md, or both. We should document how enable debug, and give

[2020-03-12 00:38] roycaihw commented on #325
I'm trying to convert this into a good first issue / help wanted issue here. To fix the upstream openapi spec, one need to first fix the API installer who constructs the WebService, then regenerate the openapi spec using `make generated_files`

In the installer I think we are basically missing a `.Reads(...)` call and potentially a body parameter registration [here](https://github.com/kubernetes/k

[2020-03-12 00:49] roycaihw commented on #951
Examples of using these patches:

strategic merge patch: https://github.com/kubernetes-client/python/issues/641#issuecomment-429473349
json patch: https://github.com/kubernetes-client/python/issues/641#issuecomment-468291235

We can have one test sending multiple kinds of patch and make sure nothing fails, or two tests doing the same thing but using different kinds of patch.

[2020-03-12 01:10] roycaihw commented on #953
I agree this is still a problem. I'm trying to convert this into a good first issue / help wanted issue, so I'm writing down what I think is needed here.

I think we first need an example that does the following:
- send a list request with a expired token that will trigger a 410 (either by sleeping 15 minutes or using a fake token)
- catch the ApiError
- read the `data` field, either as a dict, or

[2020-03-12 07:50] ramnes commented on #998
/remove-lifecycle-rotten

I would love to present you a PoC but I'm on a very different work at the moment. As soon as I put my hands back on code that uses this library, I will try to make it happen. If anyone else wants to work on this meanwhile, you're very welcome.

[2020-03-12 14:31] morsik opened #1107 "Missing API for apiextensions.k8s.io/v1"
--- TO DELETE ---

[2020-03-12 15:38] #1107 closed

[2020-03-12 15:38] morsik commented on #1107
Turned out it's PEKBAC problem ;)

[2020-03-13 00:45] roycaihw commented on #998
/remove-lifecycle rotten
/lifecycle frozen

[2020-03-13 09:25] jinchihe opened #1112 "Failed to create namespaced custom object with new Kubenertes Client 11.0.0"
**What happened (please include outputs or screenshots)**:

Failed to create namespaced custom object with new Kubenertes Client 11.0.0

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (`kubectl version`): 11.0.0
- OS (e.g., MacOS 10.13.6):
- Python version (`pyth

[2020-03-13 22:32] jfrabaute commented on #754
It looks like the fixes are present in 11.0.0 release. @roycaihw can you confirm? If so, maybe we can close this issue.

[2020-03-16 00:33] 52devops commented on #1030
thanks

[2020-03-16 01:03] ishakhari commented on #825
i met the same problem here any solutions please ?

[2020-03-16 01:36] acesir commented on #1022
Is there currently a workaround for this?

[2020-03-16 07:58] RottenLeaf24 commented on #1061
@qlyoung
After my testing, I think there is something wrong with the api documentation.In the doc,they use the method of ```kubernetes.client.Configuration()``` to get authorization.But in the method the url has fixed.
![image](https://user-images.githubusercontent.com/41962159/76734072-1b135680-679d-11ea-9c86-c5a135cd878e.png)
We should modify the way of verification! if you see the example code

[2020-03-16 16:38] palnabarun commented on #1094
/assign

[2020-03-16 16:38] palnabarun commented on #1098
/assign

[2020-03-16 16:42] roycaihw commented on #1082
/assign @palnabarun

[2020-03-16 16:48] roycaihw commented on #1112
/assign

[2020-03-16 16:51] roycaihw commented on #1081
ref https://github.com/kubernetes-client/python/pull/1084#discussion_r381526844. The issue should be fixed when we upgrade the code-generator version in the 12.0.0a1 release

[2020-03-16 16:52] roycaihw commented on #1062
Closing the issue as 11.0.0 has been released. Please reopen if you hit any issue

/close

[2020-03-16 16:52] #1062 closed

[2020-03-16 22:55] mitar commented on #1032
/remove-lifecycle stale

[2020-03-17 16:21] cofiiwu commented on #547
Does anyone know if the issue was fixed? I still meet the problem.

[2020-03-17 18:50] torgeirl commented on #547
@cofiiwu: just tested* and it doesn't seem to be fixed client version 11.0. :disappointed:

(* I only had a Kubernetes 1.17 cluster at hand; a solid confirmation should probably come from testing with =<1.15 which is the officially supported Kubernetes versions for client v11.0.)

[2020-03-18 12:14] anikin-aa commented on #928
guys, hello
Any updates here ? Or may be some work around in case of multithreading ?

[2020-03-18 17:30] roycaihw commented on #754
@jfrabaute Thanks for pointing that out. You're right.

/close

[2020-03-18 17:30] #754 closed

[2020-03-19 10:35] xiaochenluo opened #1115 "It will update the setuptools package when pip install kubernetes"
when pip install kubernetes, it will force to update the existing setuptools package.  This led to the incompatible between the newer setuptools and other existing packages.
Is it necessary to update setuptools?  If not, hope to remove this forced update operation.

[2020-03-19 10:39] #1115 closed

[2020-03-19 20:41] twodayslate commented on #1000
On macOS you get
[code]

[2020-03-20 10:03] Abn02 opened #1116 "how to create custom resource using kubernetes client"
I have below resource yaml and i need to do kubectl apply below yaml.
But as i am creating the resource file inside cluster i dont have kubectl inside the pod. So i am using kubernetes client api to create custom resource.

[code]

# python code:

[code]

but above logic not working to create new resource.

could you please suggest me with one example

[2020-03-20 20:56] mikedanese commented on #616
/lifecycle frozen

[2020-03-21 10:41] rvadim opened #1117 "How to convert API reponse object back to json/yaml?"
Hi! Thank you for great job.

Currently, if I want to convert received objects back to json/yaml, currently for create a diff, I've got some problem.
Source script:
[code]
Output is like:
[code]
As you can see it is `min_ready_seconds` not `revisionHistoryLimit`.
Same situation when you try:
[code]

So, are there any solution to conversion api object back to original state?

[2020-03-21 22:20] sepich commented on #1117
Looking at
https://github.com/kubernetes-client/python/blob/master/kubernetes/utils/create_from_yaml.py
it seems you can deserialize object back to dict via:
[code]

[2020-03-22 01:52] WilliamHoo opened #1118 "Trying to connect to a aks cluster and client.list_node() function does not work."
**What happened (please include outputs or screenshots)**:

I created a aks cluster on azure, and then i tried to connect my aks cluster using python client.
it works perfectly with kubectl. i have saved my kubeconfig file in the default location.

**What you expected to happen**:

client.list_node() showing my nodes information on aks.

**How to reproduce it (as minimally and precisely as possibl

[2020-03-22 05:58] #765 closed

[2020-03-22 11:46] rvadim commented on #1117
Key entity of this snippet is 'attribute_map'. `attribute_map` does not have any mentions at link above or I don't understand what you mean.
However I see `attribute_map` is mapping between snake_case and CamelCase are present at many(maybe all) objects:
[code]
Do you known any documentation about this part of client? Is it safe enough to using this at my code?

[2020-03-22 20:48] MatisiekPL commented on #940
Hello,
What is the status of this feature request? It is very important in my app.
Thanks, Matt

[2020-03-24 02:35] mdgreenwald commented on #1039
@roycaihw

Thank you again for your previous reply. So I was able to enable debugging on the client. I have attached the error output as well as the content of the patch.

My patch is almost line for line lifted from the [kubernetes patch example documentation](https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch/#alternate-forms-of-the-kubectl-patch-command).

Thank yo

[2020-03-24 07:06] GrahamDumpleton commented on #1098
There is a similar issue with creating CRDs. For CRDs, the workaround is to use the ``wrapt`` module to monkey patch the code to temporarily fix it. For the CRD case one can use:

[code]

You could craft a similar monkey patch for ``V2beta2HorizontalPodAutoscaler``.

[2020-03-24 10:08] yunfan opened #1121 "how can i got the total count of pods in a very large namespace"
i want to got the count number directly (like provided by api like `count_namespaced_job`/`count_namepsaced_pod`), i dont want to count it myself using apis like `list_namespaced_job`/`list_namespaced_pod` this is very useful when there were too many items in a namespace

[2020-03-24 22:31] WilliamHoo commented on #1118
Thiis is a poxy issue. i successfully solved this issue by adding command:
[code]
before i created my client.

[2020-03-24 22:31] #1118 closed

[2020-03-25 13:29] Anany-k commented on #958
@EricCat How did you get it to work with Istio ?

[2020-03-25 20:31] justaugustus commented on #1052
@yliaog @roycaihw @scottilee @palnabarun -- Any update on getting a release for this --> https://github.com/kubernetes-client/python/pull/1088?
Kubernetes 1.18.0 is being released today, which means 1.15 will no longer be supported very soon.

[2020-03-25 20:34] yliaog commented on #1052
i think @scottilee is working on it, any update @scottilee ?

[2020-03-25 20:57] palnabarun commented on #1052
@justaugustus The release of a v1.16 based client should be done soon.

@scottilee Let us know if you are blocked on anything.

[2020-03-25 20:59] palnabarun commented on #461
/remove-lifecycle rotten

[2020-03-25 20:59] palnabarun commented on #461
/lifecycle frozen

[2020-03-25 21:00] palnabarun commented on #524
/assign

[2020-03-25 21:22] palnabarun commented on #553
/remove-lifecycle rotten

[2020-03-25 21:49] palnabarun commented on #601
/assign

[2020-03-25 21:52] palnabarun commented on #784
/remove-lifecycle stale

[2020-03-25 21:53] palnabarun commented on #784
/lifecycle frozen

[2020-03-25 22:03] palnabarun commented on #859
/remove-lifecycle rotten

[2020-03-25 22:03] palnabarun commented on #859
/lifecycle frozen

[2020-03-25 22:03] palnabarun commented on #859
/assign

[2020-03-26 03:07] scottilee commented on #1052
Yep, I'll take a look tonight and tomorrow.

[2020-03-26 03:15] justaugustus commented on #1052
Thanks for the updates!

[2020-03-26 11:48] torgeirl commented on #547
/reopen

[2020-03-26 18:08] palnabarun commented on #1116
Hi @Abn02, you can find examples of creating custom resources [here](https://github.com/kubernetes-client/python/blob/master/examples/custom_object.py)

[2020-03-27 00:48] rajivreddy opened #1123 "Unable to create Service with create_namespaced_service"
**What happened (please include outputs or screenshots)**:
[code]

**What you expected to happen**:
Should able to create Service
**How to reproduce it (as minimally and precisely as possible)**:
You can use the above code
**Anything else we need to know?**:
Error log:
[code]
**Environment**: Python 3.7
- Kubernetes version (`kubectl version`):
[code]
- OS (e.g., MacOS 10.13.6): `MacOS 10.15.4`
-

[2020-03-27 08:20] liudonggang opened #1125 "I called the interface to delete pod, job,Then the pod restarted again."
**What happened (please include outputs or screenshots)**:
I called the interface to delete pod API, job API,Then the pod restarted again.My pod   restartPolicy: OnFailure

**Environment**:
- Kubernetes version 1.14.6 (`kubectl version 1.14.6`):
- Ubuntu 16.04
- Python version 3.6.9
- Python client version 10.0.1

[2020-03-27 08:47] zffocussss commented on #1118
hi @WilliamHoo .can you show your whole code?I want to how you authenticate with AKS cluster

[2020-03-27 17:49] palnabarun commented on #1125
Hi @liudonggang, can you please provide the code that you executed and the pod/job manifest?

[2020-03-30 02:21] newly12 opened #1127 "support passing proxy auth headers"
**What is the feature and why do you need it**:

since https://github.com/kubernetes-client/python/blob/master/kubernetes/client/rest.py#L93 provides the ability to pass proxy url, my current code to set a http proxy for the api server looks like this
[code]

**Describe the solution you'd like to see**:
add another attribute in `Configuration` class to configure proxy auth headers. i.e. `Configura

[2020-03-30 03:06] #991 closed

[2020-03-30 16:45] yliaog commented on #1121
there is no direct api for the # of pods in a namespace, you have to do a list of the pods, then count it

[2020-03-30 16:45] yliaog commented on #1121
/close

[2020-03-30 16:45] #1121 closed

[2020-03-30 16:47] yliaog commented on #1123
/assign

[2020-03-30 16:48] yliaog commented on #1125
/assign @palnabarun

[2020-03-30 18:50] yliaog commented on #1123
please follow the example in
https://github.com/kubernetes-client/python/blob/master/examples/deployment_create.py

it looks that manifest provided is *not* valid

[2020-03-31 02:48] jinchihe commented on #1112
@roycaihw Any plan to fix this? Thanks.

[2020-03-31 08:37] nirousseau opened #1131 "Configure SSL CA CERTIFICATE with REQUESTS_CA_BUNDLE env var before certifi"
**What is the feature and why do you need it**:

The idea is to configure `ssl_ca_cert` using the `REQUESTS_CA_BUNDLE` env var before falling back to _certifi_ if no specific configuration has been provided.

Some applications that are using **kubernetes-client / python** do not provide a parameter to [client/configuration.py#L83](https://github.com/kubernetes-client/python/blob/master/kubernetes/

[2020-03-31 23:31] Tokugero commented on #928
This is horrible and I hate that this works for my purposes:

try

`command=['longscript.sh', '&']`

This "&" let me fork my long running processes to a background task in the shell rather than wait for a return. I would prefer an async return but when flask gives you lemons...

[2020-04-01 03:58] yunfan commented on #1121
i think this policy is really ugly especially when you were using k8s managing too many containers and this is the target of k8s stack , right?

[2020-04-01 04:02] kyprifog commented on #1028
Is there a possible work around that doesn't get the three way merge capability.  I'm trying to replicate the functionality mentioned here:  https://github.com/GoogleCloudPlatform/spark-on-k8s-operator/blob/master/docs/quick-start-guide.md#running-the-examples
but I dont really care if its a three way patch.  Would create custom object be sufficient?  https://github.com/kubernetes-client/python/bl

[2020-04-02 10:26] megastallman opened #1132 "Websocket streaming connection never closes"
**What happened (please include outputs or screenshots)**:
We are running a python2.7 backend under Twisted and standalone scripts, that use the `kubernetes` v10 library to communicate to kube-api server. Any streaming connections are not getting closed after `my_k8s_stream.close()` is called. I can only see TCP RST when I stop Twisted or script. That means, our backend exhausts file descriptor li

[2020-04-02 11:48] kbsivacse opened #1133 "Python Kubernetes client throws HTTP 401 for the token generated by ADAL using acquire_token_with_client_credentials"
I'm using ADAL python client library to authenticate Azure AD to get access-token and pass the token to Kubernetes python client library to login to AKS cluster to manage.

I'm able to login when I use below code to leverage local Kube config loaded under (%USER_HOME%\.kube\config)

config.load_kube_config()
core_v1_api = client.CoreV1Api()

But if I pass the token received from ADAL, I'm getting

[2020-04-02 14:05] alanjcastonguay commented on #1019
/close

[2020-04-02 14:05] #1019 closed

[2020-04-04 18:01] poul1x opened #1134 "Need API help: watching pod's new events only"
Hello, I need to get all **new** events of my pods, but listing events using [this](https://github.com/kubernetes-client/python/blob/master/examples/pod_namespace_watch.py) example gives me old events too. How can I filter out all events that have already happened?

[2020-04-04 19:12] poul1x commented on #1134
Now I have to delete all old events of a namespace.

[2020-04-06 12:57] carpdm opened #1135 "import error python 3.5"
[code]

[2020-04-07 04:39] MoShitrit commented on #1093
Hey @tdmalone & @roycaihw!
I'm willing to start contributing to this project, and this issue seems like it might be a great first one to begin with!
So I just wanted to make sure I have the right idea in mind- is the goal here to add an additional `apply/patch` logic to https://github.com/kubernetes-client/python/blob/master/kubernetes/utils/create_from_yaml.py? I didn't dive in too deep yet, but

[2020-04-08 06:12] carpdm commented on #1135
Well, I have fixed this error, it was a version mismatch of `requests`.
I just reinstall requests like and get this error clear.

[2020-04-08 06:12] #1135 closed

[2020-04-08 11:47] whypro commented on #461
Has it been fixed in latest release? If not, I would like to cherrypick the patch and fix this. :)

[2020-04-08 13:48] NikPaushkin opened #1136 "allow_watch_bookmarks does not work"
**What happened (please include outputs or screenshots)**:
Kubernetes API response:

`Response is not chunked. Header 'transfer-encoding: chunked' is missing.`

**What you expected to happen**:
Python client should add `transfer-encoding` header, when `allow_watch_bookmarks` is `True` https://kubernetes.io/docs/reference/using-api/api-concepts/#watch-bookmarks

**How to reproduce it (as minimally

[2020-04-08 16:41] abdulsalama commented on #866
which version is this fix in?

I still get the same problem when patching profiles.
kubectl patch profile foo --patch ....

Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3"
Server Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.9-eks-502bfb",

Any idea why I'm still seeing it?

[2020-04-08 22:27] AXington opened #1137 "No methods documented for objects returned by the API?"
**Link to the issue (please include a link to the specific documentation or example)**:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1PodCondition.md
**Description of the issue (please include outputs or screenshots if possible)**:
How am I supposed to know that I can call things like `to_dict()` on these objects without sifting through source code? And I have no idea i

[2020-04-09 10:16] yks0000 opened #1138 "Stop Container in Pod from another Container"
**Stop/Terminated a container from another container with in pod**

I have a use case where I need to stop side car containers when service container finish it job. Since a Job can show status as completed only if pod is stopped/terminated. Since sidecar containers continue to run, Job status is "Running" as overall status of pod is running.

Pod Status:

[code]

Job Status:

[code]

Service conta

[2020-04-09 18:13] poul1x commented on #1134
Code
[code]

Output
[code]

I don't understand, are you caching old events? I've run that pod one day ago

[2020-04-09 18:33] #1134 closed

[2020-04-09 18:57] lucheeseng827 opened #1139 "Secret is not able to fetched using image_pull_secrets"
**What happened (please include outputs or screenshots)**:
I was trying to call for secret so I can have my jobs pulling from dockerhub and then the secret was too big to parsed.

**What you expected to happen**:
I am suppose to get secret and have it added into my job so it can pull abut it does not have `dockersecret` inside
**How to reproduce it (as minimally and precisely as possible)**:

[cod

[2020-04-09 19:32] jcmcken opened #1140 "Client takes control of global logging levels, violating logging best practices"
**What happened (please include outputs or screenshots)**:

When you create a ``kubernetes.client.Configuration`` object, it completely overrides logging levels on the global logger. This happens in [this setter](https://github.com/kubernetes-client/python/blob/02ef5be4ecead787961037b236ae498944040b43/kubernetes/client/configuration.py#L144).

**What you expected to happen**:

The client should on

[2020-04-09 21:59] roycaihw commented on #1093
@MoShitrit Welcome and thanks for looking into this issue!

Yes I think the goal is to add an apply mode to the utility methods, either adding an `apply=True` option or automatically retrying when an `AlreadyExists` error is returned. To achieve that I think we should use the new server-side apply feature (implementing a client-side apply like `kubectl apply` from scratch will be expensive and doe

[2020-04-10 00:03] palnabarun commented on #1139
Hi @lucheeseng827, does this error occur even when you create the Job using `kubectl`?

[2020-04-10 00:07] palnabarun commented on #1138
Hi @yks0000, I think this issue would be more suitable to be filed in [kubernetes/website](https://github.com/kubernetes/website/issues) as it is related to the overall behavior of a Job and not tightly related to the python client.

[2020-04-10 00:08] palnabarun commented on #1139
/assign

[2020-04-10 00:08] palnabarun commented on #1138
/assign

[2020-04-10 07:08] lucheeseng827 commented on #1139
it can  be create locally, if I pass with `dockersecret` it will manage to pull.

[2020-04-10 20:37] #999 closed

[2020-04-12 14:47] Amoteamame opened #1144 "AttributeError: 'set' object has no attribute 'swagger_types'"
api_instance = kubernetes.client.AutoscalingV1Api(kubernetes.client.ApiClient(configuration))
    body = {
        "apiVersion": "autoscaling/v1",
        "kind": "HorizontalPodAutoscaler",
        "metadata": {"name: hpa-demo"},
        "spec": {
          "scaleTargetRef": {
            "apiVersion": "apps/v1",
            "kind": "Deployment",
            "name": "hpa-demo"},
          "minRepl

[2020-04-12 19:07] palnabarun commented on #1139
@lucheeseng827 `image_pull_secrets` is not a `string`. The type expected here is `	list[V1LocalObjectReference]`.

Reference: https://github.com/kubernetes-client/python/blob/v11.0.0/kubernetes/docs/V1PodSpec.md

[2020-04-12 19:17] palnabarun commented on #1139
/remove-kind

[2020-04-12 19:18] palnabarun commented on #1139
/remove-kind bug

[2020-04-12 19:19] palnabarun commented on #1125
/priority awaiting-more-evidence

[2020-04-12 19:27] palnabarun commented on #1082
@yunfan The functionality is not supported by upstream. Doing the same via kubectl returns a similar kind of error.

[code]

[2020-04-12 19:32] palnabarun commented on #1082
If the use case suits you, you can use the following:
[code]

[2020-04-12 19:33] palnabarun commented on #1082
Closing this issue since it is not directly related to the client.

/close

[2020-04-12 19:33] #1082 closed

[2020-04-12 19:37] palnabarun commented on #1030
Closing this issue since the OP's question was resolved.

/close

[2020-04-12 19:37] #1030 closed

[2020-04-12 19:37] palnabarun commented on #1030
Removing `kind/bug` since it is an unrelated issue.

/remove-kind bug

[2020-04-12 19:40] palnabarun commented on #994
@adamnovak The PR has had some reviews since then. Can you please resolve those?

The documentation would be updated whenever a client release is made with the changes you made.

[2020-04-12 19:41] palnabarun commented on #859
Related: https://github.com/kubernetes-client/python/issues/1131

[2020-04-12 19:58] palnabarun commented on #1131
@nirousseau Why not pass the `ssl_ca_cert` while initializing configuration?

[code]

This creates a separation of concern and solves the problem at hand.

Also, changing anything in https://github.com/kubernetes-client/python/blob/master/kubernetes/client/rest.py requires a change in the OpenAPI generator since the module is automatically generated from OpenAPI spec.

[2020-04-13 16:40] roycaihw commented on #1132
/assign

[2020-04-13 16:46] roycaihw commented on #1136
/assign @yliaog

[2020-04-13 16:48] palnabarun commented on #1137
/assign

[2020-04-13 16:51] palnabarun commented on #1144
/assign

[2020-04-13 16:51] palnabarun commented on #1144
/assign @roycaihw

[2020-04-13 17:41] lucheeseng827 commented on #1139
@palnabarun any example of `list[V1LocalObjectReference]` you can give in python, the guide seemed to refer back to kubernetes documentations and I could not get a valid example.

[2020-04-13 17:44] palnabarun commented on #1139
So, here is what I tried, keeping other things the same as you mentioned.

[code]

[2020-04-14 11:15] BobkovS opened #1145 "Read deployment YAML"
Hello. I recently began to deal with kubernetes and still understand little.
I need to get environment variables for a specific deployment. As I understand, it can only be seen in the description of this deployment.
Please tell me how to get YAML or JSON for a specific deployment through api?

Thank you in advance for your response!

[2020-04-15 06:02] jtl0813 opened #1147 "how to replace deployment force? this method can't do force replace(replace_namespaced_deployment),when i use kubectl replcae --force it can force replace"
**Link to the issue (please include a link to the specific documentation or example)**:

**Description of the issue (please include outputs or screenshots if possible)**:

[2020-04-15 07:20] torgeirl commented on #825
This looks to be the same issue as #547 (issue now closed, but problem was never resolved).

It has been present (at least) since Python client version 6.0. It seems to be caused by the Python client failing to deserialize the returned data. I have worked around the problem by ignoring the step of deserializing the returned data (suggested by @zhcf):

[code]

[2020-04-15 07:51] palnabarun commented on #547
/reopen

(since, this issue was never resolved and closed due to being rotten for some time)

[2020-04-15 13:35] nirousseau commented on #1131
@palnabarun Hello, thank your for your answer.

For more context, this proposal is connected with this issue from apache / airflow : https://github.com/apache/airflow/issues/8019.

I agree that the responsibility of setting this configuration belongs to the software that is using this library. **But as a system administrator**, I would like to change this setting, even if the developers of apache

[2020-04-15 13:57] #1139 closed

[2020-04-15 14:48] zakkg3 commented on #199
I needed to decode the bytes of the output:
[code]

[2020-04-15 17:12] MoShitrit commented on #1147
Hey @jtl0813
Actually, when you run your `kubectl replace --force` command, it performs two actions under the hood- it deletes and then applies the deployment yaml from the provided file. You can also see that from the output of the command, there are two consecutive lines saying
[code]
So in order to replicate that behavior in python client, I would say your best shot is to split your action in t

[2020-04-15 17:23] BobkovS commented on #1145
@MoShitrit Thank you very much

[2020-04-15 17:23] #1145 closed

[2020-04-16 03:20] jtl0813 commented on #1147
thanks fou your help,I was try to use your method  (delate and create) to  manage deployment,I hava no yaml files, The app is managed by helm ,the create_namespaced_deployment method need the yaml file ,if use read_namespaced_deployment methos to get deployment object and use it to replace yaml ,  create_namespaced_deployment   returns  follows notice
{"kind":"Status","apiVersion":"v1","metadata":

[2020-04-16 03:44] MoShitrit commented on #1147
Hey @jtl0813!
Unfortunately, not having the resource file would complicate things a bit for you.
For the moment, as long as you use k8s version older than 1.18 - you can provide a parameter to `read_namespaced_deployment()` of `export=True`, which is the equivalent of `--export` on `kubectl`. However, this feature is deprecated and is going away with the release of k8s 1.18 (see https://github.com

[2020-04-16 03:50] MoShitrit commented on #967
Hey @micw523!
is anyone working on this issue?
If not- I'd love to help!

[2020-04-16 09:34] jtl0813 commented on #1147
got it,thank you!

[2020-04-16 13:54] NikPaushkin opened #1148 "Watcher stuck forever in a case of network disconnect"
**What happened (please include outputs or screenshots)**:
If the network to Kubernetes API disconnects, watcher just gets stuck forever with no exception.

**What you expected to happen**:
Watcher should raise an exception in a case of any network issues.

**How to reproduce it (as minimally and precisely as possible)**:
1. Run watcher for any object list with some timeout (60 seconds, for exampl

[2020-04-16 21:26] jcmcken commented on #818
I saw this issue by chance and wonder if it's related to one I submitted, #1140.

In my testing, the only way to get DEBUG level logs to appear when using your own ``Configuration`` object is to set ``debug`` to ``True``, e.g. ``config = Configuration(); config.debug = True``.

You can always insert a ``import pdb; pdb,set_trace()`` right after you assign ``jobs`` to set a breakpoint and examine t

[2020-04-18 15:16] Amyth07 commented on #1085
Hey @roycaihw , Can you assign it to me?

[2020-04-18 15:19] Amyth07 commented on #1085
The issue is with the kwargs as it has _request_timeout  value is None. In that case, It won't go for the fallback back i.e 60.
It will go for 60  only if key  _request_timeout is present in kwargs.

[2020-04-19 15:41] mitar commented on #323
/remove-lifecycle stale

[2020-04-20 11:08] degerrit commented on #1017
Had the same issue here, but found a solution for me - which may help some.

Previously, even though `curl` worked fine for me - python 3.5 & client `kubernetes==11.0.0` threw up an `SSL: CERTIFICATE_VERIFY_FAILED` error when using the exact same bearer token and CA file (which in my case is simply the public, Rancher self-signed, Kube API server cert itself).

SSL connection worked for `curl`:
`#

[2020-04-20 15:31] palnabarun commented on #1054
/remove-lifecycle stale

[2020-04-20 15:31] palnabarun commented on #1054
/lifecycle frozen

[2020-04-20 18:57] edgrz opened #1149 "list_pod_for_all_namespaces - RemoteDisconnected"
I'm trying to make a GET request to list all the pods running on my cluster. I'm using a flask API which expose an endpoint which internally uses CoreV1Api to achieve that.

As it is needed every day, I've have a cronjob which creates a pod which makes a request to flask API endpoint. Usually everything works fine and I'm getting response. but sometimes I'm receiving the following exception after

[2020-04-23 08:29] BobkovS opened #1150 "Copy From Pod"
Hello, is it possible to copy files from the pod using api?

I know that it can copy using kubectl like: kubectl cp -n "namespace" "pod_name": "filename" .

But i can't find declaration how to do it via API.

Thanks in advance for your reply.

[2020-04-26 09:11] jincheng-xiaosu opened #1151 "urllib3.exceptions.MaxRetryError: HTTPSConnectionPool"
My k8s cluster is installed quickly on the cloud server through kubeadm. I want to access my cluster through the public network address through the SDK of Python. The following error is reported：

`urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='203.195.203.45', port=6443): Max retries exceeded with url: /api/v1/pods (Caused by SSLError(SSLCertVerificationError("hostname '203.195.203.4

[2020-04-26 09:42] DivyaNayaka commented on #967
i would like to help

[2020-04-26 11:57] DivyaNayaka commented on #1151
The issue might be with your certs.

1. kubeadm alpha certs renew all
2. https://github.com/kubernetes/kubeadm/issues/581

[2020-04-26 13:15] #1150 closed

[2020-04-26 14:21] DivyaNayaka commented on #979
The issue here in https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1LabelSelector.md is:
using 'match_labels' as properties name will lead to error and you have to use 'matchLabels' in selector for the error to get resolved.

[2020-04-27 01:53] jincheng-xiaosu commented on #1151
My cluster is just built and deployed with kubeadm tool. The certificate is self signed. I changed self.verify_ssl under configuration.py to false

c = client.Configuration()

c.verify_ssl = False

client.Configuration.set_default(c)

[2020-04-27 06:50] tina1296 opened #1152 "May I translate this project into Korean?"
Hi :) I am Na Eun Kwon a university student in Kwangwoon University. I want to translate READ ME documentation for your project contribution and other Koreans who want to learn about kubernetes.
So may I translate these infos into Korean?
If I could, plz tell me how I can share the translated results.
Thank you

[2020-04-27 10:13] SockenSalat opened #1153 "Support for kubernetes 1.18.+"
I have a probelm currently with a nagios plugin utilizing this client.

I'm not familar with python, but if I read the [compatibility table](https://github.com/kubernetes-client/python#compatibility) correctly and take [k8s Release notes](https://kubernetes.io/docs/setup/release/notes/#kube-apiserver-1) into account, I get the impression that the API changes mentioned are the reason for my problem

[2020-04-27 10:16] zakkg3 commented on #1132
using contextlib something like:
`with get_api_client(config_dict) as api:`
could this help?

[2020-04-27 16:23] roycaihw commented on #1148
This seems to be related to https://github.com/kubernetes-client/python/issues/868

[2020-04-27 16:26] NikPaushkin commented on #1148
@roycaihw well, it can be fixed like that, if we don't want to fix stream itself

[2020-04-27 16:33] roycaihw commented on #1147
/close

Thanks @MoShitrit for answering the issue!

[2020-04-27 16:33] #1147 closed

[2020-04-27 16:34] roycaihw commented on #1148
cc @alanjcastonguay

[2020-04-27 16:36] roycaihw commented on #1149
I don't think this client sets the default timeout_seconds. We need to check if the apiserver sets the default

[2020-04-27 16:39] palnabarun commented on #1151
/assign

[2020-04-27 16:54] roycaihw commented on #1152
@tina1296 Thanks for the contribution! I think that's a good idea. I know we have translated documentation for upstream Kubernetes docs.

For this repo, we have a [website](https://k8s-python.readthedocs.io/en/latest/index.html) publishing the documentation (background: https://github.com/kubernetes-client/python/pull/893), which could be an option for hosting the translated doc.

cc @kubernetes/k

[2020-04-27 17:04] roycaihw commented on #1153
@SockenSalat We are actively working on releasing 1.16 client: https://github.com/kubernetes-client/python/pull/1141. Support for 1.18 is planned and will come after that

[2020-04-27 17:10] roycaihw commented on #1149
I didn't find defaulting on [server side](https://github.com/kubernetes/kubernetes/blob/95bb85378ddd8a31d1a794540ec627640dbe8584/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/get.go#L194-L199). @edgrz Have you tried setting _timeout_seconds_ to different values (30s, 120s) and seeing if the behavior changes?

[2020-04-27 17:42] SockenSalat commented on #1153
@roycaihw Great to hear, thank you.

[2020-04-27 17:42] #1153 closed

[2020-04-27 18:36] edgrz commented on #1149
First of all, thanks for replying.
 From official k8s [documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/) I have come to the conclusion that apiserver has  by default 1m0s timeout:

An  optional field indicating the duration a handler must keep a request  open before timing it out. This is the default request timeout for  requests but may be overridde

[2020-04-27 18:36] #1149 closed

[2020-04-27 22:33] zshihang commented on #616
/remove-lifecycle frozen

[2020-04-27 23:14] roycaihw commented on #1132
I tried to reproduce using [this example](https://github.com/kubernetes-client/python/blob/master/examples/pod_exec.py) and observed the following:

- at the end of [this section](https://github.com/kubernetes-client/python/blob/10a7f95435c0b94a6d949ba98375f8cc85a70e5a/examples/pod_exec.py#L31-L67), one tcp connection was established
- when `stream` was invoked, a second tcp connection was establi

[2020-04-28 00:59] alanjcastonguay commented on #1148
Yeah, this is one of the failure modes that prompted #868. But I still don't have a method to fix it, other than simply setting a client-side timeout. Did you have one set in this test?

[2020-04-28 02:35] zshihang commented on #616
this can be closed. @mikedanese

[2020-04-28 08:50] NikPaushkin commented on #1148
@alanjcastonguay It works like that always for me. The minimal code is trivial

[code]

[2020-04-28 13:36] tsusadivyago opened #1154 "Missing the required parameter `namespaces`"
**What happened (please include outputs or screenshots)**:
Traceback (most recent call last):
  File "C:/Users/..../Documents/pycharm/k8s/myScripts/deployments/create_deployment.py", line 49, in <module>
    ret = v1.create_namespaced_deployment(namespace=namespace, body=deployment)
  File "C:\Users\....\Documents\pycharm\k8s\venv\lib\site-packages\kubernetes\client\apis\apps_v1_api.py", line 290,

[2020-04-28 13:52] tsusadivyago commented on #1154
upgraded to kubernetes 11.0.0

[2020-04-28 13:52] #1154 closed

[2020-04-29 05:52] tina1296 commented on #1152
Thanks to your reply;) I have a question from your answer!! I can't understand what 'I know we have translated documentation for upstream Kubernetes docs' means... I want to know whether there is a Korean translated documentation such as README. I will wait for your reply. Thanks:)

[2020-04-29 06:27] micw523 commented on #1152
He meant this: https://github.com/kubernetes/website

[2020-04-29 15:33] MoShitrit commented on #967
/assign

[2020-04-30 11:32] ils-rohits opened #1156 "AppsV1Api().create_namespaced_deployment"
AppsV1Api().create_namespaced_deployment

Module not found in AppsV1Api create_namespaced_deployment

I've searched and found it is in
 AppsV1beta2Api

But there is not an example associated with that for creating deployments.

[2020-04-30 12:05] #1156 closed

[2020-04-30 14:22] MoShitrit commented on #1156
Hey @ils-rohits
I have a PR open (#1155 ) to update the examples to use the V1 api versions.
Just FYI. 😄

[2020-04-30 20:48] mitar commented on #819
/remove-lifecycle stale

[2020-05-01 21:51] MoShitrit commented on #967
/remove lifecycle-frozen

[2020-05-01 21:52] MoShitrit commented on #967
/remove-lifecycle stale

[2020-05-01 21:53] MoShitrit commented on #967
/remove-lifecycle frozen

[2020-05-01 22:15] pmcgraw-lucidyne opened #1157 "Scheduling Deployments with Containers that have Resource Limits"
**Link to the issue (please include a link to the specific documentation or example)**:
https://github.com/kubernetes-client/python/blob/master/examples/deployment_crud.py

**Description of the issue (please include outputs or screenshots if possible)**:
This issue is related to #382 that was closed because it was rotten. No one responded for a request for more information. I would like to make th

[2020-05-02 05:37] MoShitrit commented on #1157
Hey @pmcgraw-lucidyne
In order to add the the definition of resources to a deployment object that's created using the client, you'll just have to add these fields as they are defined as part of the [V1Container](https://github.com/kubernetes-client/python/blob/master/kubernetes/client/models/v1_container.py#L45) object. It should be pretty simple to just add that to the [existing example](https://

[2020-05-04 00:20] djamaile commented on #757
Why is this closed though? The question was to find a pod based on it's name. an app label doesn't mean that the pod is named that.

[2020-05-04 08:33] megastallman commented on #1132
Hi @zakkg3 and @roycaihw !
Thanks for simplifying and clarifying my demo-script. But the problem still persists.
[code]

As you may see, I've just added 2 lines near the end of the script. When it comes to
[code]
I can wait for 2 minutes, watching the connection is still up:
[code]

So that the ".close()" method doesn't help here. The connection closes only when the Python2 interpreter process die

[2020-05-04 09:04] megastallman commented on #1132
@roycaihw
I see, you are absolutely right. I've just removed the streaming part from the script and saw the same problem persists. So, it is an REST-API connection problem.

[2020-05-04 09:19] megastallman opened #1158 "REST-API connection never closes"
**What happened (please include outputs or screenshots)**:
We are running a python2.7 backend under Twisted and standalone scripts, that use the kubernetes v10 library to communicate to kube-api server. REST-API calls are not getting closed.
**What you expected to happen**:
I expect the REST-API connections to get closed when the demo-script is still running.

**How to reproduce it (as minimally a

[2020-05-04 15:41] pmcgraw-lucidyne commented on #1157
Thanks! No objections here. I dug through the code to find the resources
param of the V1Container object, and that led me to the
V1ResourceRequirements object stuff. A code snippet of defining a
V1Container object with a V1ContainerPort and V1ResourceRequirements object
that requests one nvidia.com/gpu resource, hope this helps:

client.V1Container(
    name="nginx",
    image="nginx:1.15.4",

[2020-05-04 16:28] bqian20 opened #1159 "list_namespaced_secret w/ watch=True does not report secret changes"
I am trying to use the api:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#list_namespaced_secret, with the watch=true, as described in above link:
"Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion."
However, when I delete/recreate a secret under the namespace, the api ca

[2020-05-05 04:32] MoShitrit commented on #1157
Yep @pmcgraw-lucidyne, That's exactly what I'm going to add.
Although, to make it more generic (`nvidia.com/gpu` is a slightly too-specific use-case imho), I'm going to modify the container object initialization that I specified earlier, so it'll look like this:

[code]
I'll have a PR coming up soon with the suggested change.

[2020-05-05 19:35] palnabarun commented on #1043
/remove-lifecycle rotten

[2020-05-05 19:36] palnabarun commented on #1043
Hi @Deepakchawla, can you post here a sample of the code and the RBAC permissions given to the pod?

[2020-05-05 19:37] palnabarun commented on #1041
/remove-lifecycle rotten

[2020-05-05 19:41] palnabarun commented on #1041
@Rashmi-P According to what I am understanding from your explanation, I think a better option for you would be using Websockets to emit the events to your frontend.

You can infer from the `Pod.status.startTime` field, although it will give you the time when the `Pod` object was acknowledged by `kubelet`.

[2020-05-05 19:42] palnabarun commented on #1041
/priority awaiting-more-evidence

[2020-05-05 19:42] palnabarun commented on #1043
/priority awating-more-evidence

[2020-05-05 19:43] palnabarun commented on #1043
/priority awaiting-more-evidence

[2020-05-05 19:58] palnabarun commented on #974
@roycaihw I think all of the points here are taken care of and 11.0.0 had been released sometime back.

Shall this issue be closed?

Ref: https://github.com/kubernetes-client/python/pull/1097

[2020-05-07 11:18] hantmac commented on #1020
Running into this problem, confusing too. 😭

[2020-05-08 13:39] djamaile opened #1162 "Getting custom resources"
**What is the feature and why do you need it**:
Working with Istio I create new resources through the command line and not by code. The custom resource name is serviceentries. With kubectl you would do:

Apparently it is not possible to get custom resources if they are not created by the python client itself. Don't if this is 100% sure, but I haven't seen a simple solution for this.

**Describe th

[2020-05-08 15:00] MoShitrit commented on #1162
@djamaile you should be able to get your custom resources using the python client like this:
[code]

So for example if you have a custom resource named `my-resources.example.com` which serves version `v1alpha1`, you would run:
[code]

Give that a try and let us know if that worked 😄

[2020-05-08 17:16] djamaile commented on #1162
Oh it worked! I asked this question on stackoverflow and someone told my that it is not possible. Here is the question: https://stackoverflow.com/questions/61594447/python-kubernetes-client-equivalent-of-kubectl-get-custom-resource/61594809#61594809

Maybe I worded it wrong? Either way you can give an answer there and i'll accept it or update the question with my own answer. Thanks!

[2020-05-08 17:16] #1162 closed

[2020-05-08 17:28] MoShitrit commented on #1162
Thanks for pointing that out!
I'll share my answer there as well, feel free to mark it as the working solution 😄
Glad to help!!

[2020-05-09 06:37] Cweiping commented on #1148
This problem can be repeated in the case of unstable network environment. The more unstable the network, the more likely it is to have problems

[2020-05-09 14:29] alanjcastonguay commented on #1148
`kwargs['timeout_seconds'] = 60` is a polite request to the server, asking it to cleanly close the connection after 60 seconds. If you have a network outage, this does nothing. You can set this number much higher, maybe to 3600 seconds (1h).

`kwargs['_request_timeout'] = 60` is a client-side timeout, configuring your local socket. If you have a network outage dropping all packets with no RST/FIN,

[2020-05-10 01:14] AndrewXWei opened #1163 "Dead link"
**Link to the issue (please include a link to the specific documentation or example)**:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1Pod.md
**Description of the issue (please include outputs or screenshots if possible)**:
In the items' description:
"List of pods. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md"
This "api-conventions.md" li

[2020-05-10 04:15] #1157 closed

[2020-05-10 04:22] MoShitrit commented on #1163
/assign

[2020-05-10 04:22] MoShitrit commented on #1163
Looks like the docs were re-structured.
The new doc appears to be here - https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#resources

I'll have a PR to update it.

[2020-05-10 04:34] MoShitrit commented on #1163
PR created - #1164
Thanks for raising the flag @AndrewXWei !

[2020-05-10 10:16] AndrewXWei commented on #1163
It's helpful! Thanks for your reply @MoShitrit

[2020-05-10 13:33] NikPaushkin commented on #1148
@alanjcastonguay Thank you for clarification! When I add `_request_timeout`, it really raises exception. But it does that not after `_request_timeout` time, though: I got an exception each 5 seconds (seems like some default timeout of `urllib3`. But that's still much better behaviour.

[2020-05-10 13:41] alanjcastonguay commented on #1148
The value is [provided to a `urllib3.Timeout`](https://urllib3.readthedocs.io/en/latest/user-guide.html#using-timeouts) at https://github.com/kubernetes-client/python/blob/02ef5be4ecead787961037b236ae498944040b43/kubernetes/client/rest.py#L141-L147. Dunno where 5 might be coming from.

[2020-05-10 13:47] NikPaushkin commented on #1148
@alanjcastonguay Yep, my bad, forgot to remove my reconnect 5 seconds sleep

[2020-05-10 13:52] sniranjan opened #1165 "CRD's don't have dry_run option"
While working with CRDs (create/patch/delete), there is no **dry_run** option similar to the other native objects.
####  API Call for creating a custom object
`api_instance.create_namespaced_custom_object(group, version, namespace, plural, body, pretty=pretty)`
Reference - [create_namespaced_custom_object](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CustomObjectsApi.md#

[2020-05-10 15:17] alanjcastonguay commented on #1148
/remove-kind bug
/triage support

Ok to close this?

[2020-05-10 15:47] NikPaushkin commented on #1148
@alanjcastonguay After adding `_request_timeout` I got a timeout error every `_request_timeout` seconds, regardless of network connection state
[code]

[2020-05-10 16:00] alanjcastonguay commented on #1148
The urllib3 client timeout describes _maximum seconds since last received byte_. And the kubernetes API-server doesn't transmit any bytes if there's no changes to the watched collection. If you keep changing the set of pods at least every 90 seconds, the connection should remain up.

[2020-05-10 16:05] NikPaushkin commented on #1148
@alanjcastonguay Yes, it works like that. I already have own implementation of such behaviour, though.
Anyway it would be much better and useful to make stream watcher more smart to encapsulate this reconnect logic. And this is what that issue https://github.com/kubernetes-client/python/issues/868 is about, if I understand right.

[2020-05-10 16:05] #1148 closed

[2020-05-10 19:10] palnabarun commented on #1165
Hi @sniranjan, the support for `dry-run` to CRD's has recently been added (https://github.com/kubernetes-client/gen/pull/154). Whenever the next client version is generated, it would get updated.

/assign

[2020-05-11 16:46] roycaihw commented on #1159
/assign

[2020-05-11 16:47] alanjcastonguay commented on #1158
/assign

The example code is fairly simple. It doesn't do anything with web sockets, is almost a hello-world example of blocking CRUD operations. Leaking a connection is not expected. It should be fairly easy to reproduce (or not) under a debugger. I'll try.

The problem _might_ be related to some other package. What else is in this virtualenv?

[2020-05-11 16:53] alanjcastonguay commented on #868
I pushed hacky junk to https://github.com/alanjcastonguay/python-base/commits/master - anyone want to help?

[2020-05-11 17:18] alanjcastonguay commented on #1158
It sure as heck _is_:

[code]

[code]

[2020-05-11 17:25] alanjcastonguay commented on #1158
Observed with python 2.7.16 and 3.8.2 on OSX.

[2020-05-11 17:32] tbarrella commented on #868
There's a lot at https://github.com/tbarrella/aiok8s, although I realized I probably won't be able to maintain it right now...

[2020-05-11 18:54] alanjcastonguay commented on #1158
Derp; you're just seeing a keep alive in the urllib3 connection pool.

[2020-05-11 18:54] alanjcastonguay commented on #1158
[code]

[code]

[2020-05-11 19:01] alanjcastonguay commented on #1158
@roycaihw This behaviour wasn't immediately expected by me, and I'm not really sure it would be expected by most consumers. That [connection pooling](https://urllib3.readthedocs.io/en/latest/reference/index.html?highlight=pool#module-urllib3.poolmanager) is happening also probably an implementation detail. Should it be described by documentation anyway? Captured in an `example/` (similar to above)

[2020-05-11 19:13] alanjcastonguay commented on #868
/lifecycle frozen

[2020-05-11 23:17] mikedanese commented on #616
@zshihang Thanks!

[2020-05-11 23:18] mikedanese commented on #616
/close

[2020-05-12 00:47] roycaihw commented on #1158
@alanjcastonguay Thanks for looking into this.

@megastallman In https://github.com/kubernetes-client/python/issues/1132 you mentioned that the program exhausted file descriptor limits. Did you configured the [`pools_size` and `maxsize`](https://github.com/kubernetes-client/python/blob/d63282e8d3e8fc0650a6784d596e5a6899110b89/kubernetes/client/rest.py#L78-L82) for the poolmanager? You might want t

[2020-05-12 00:56] roycaihw commented on #1132
The keep-alive rest connection behavior is discussed in https://github.com/kubernetes-client/python/issues/1158

/close

[2020-05-12 00:56] #1132 closed

[2020-05-12 02:28] alanjcastonguay commented on #1158
I think limiting the pool size makes more sense than (periodically) clearing it does. The pool aught to be smart enough to evict worthless connections. Isn't the default pool size something like 10 though...?

[2020-05-12 21:19] nrmitchi commented on #1020
I ran into this as well last, but I think I've gotten it for the most part figured out.

The way that this is now displayed in the docs (`UNKNOWN_BASE_TYPE`) is implying that there is a given object type that should be there.

I _believe_ that the body of all of these request types is just meant to be an arbitrary `dict`, containing the same information that would be present by `patch`-ing a resou

[2020-05-12 21:53] roycaihw commented on #1159
I tried replacing https://github.com/kubernetes-client/python/blob/d63282e8d3e8fc0650a6784d596e5a6899110b89/examples/pod_namespace_watch.py#L41 with
[code]
and I was able to observe secret changes. Could you share your code?

[2020-05-12 22:02] #967 closed

[2020-05-13 22:59] #1163 closed

[2020-05-14 14:30] bqian20 commented on #1159
That works, thanks.

[2020-05-14 14:31] #1159 closed

[2020-05-15 02:15] EKwongChum opened #1167 "Is there a way to get all pods in a StatefulSet ?"
**What is the feature and why do you need it**:
In some case, we need to get all pods in a specific StatefulSet and  edit their status.
But now , only throw label_selectors can I find those pods.
**Describe the solution you'd like to see**:
Maybe some apis like
[code]

[2020-05-15 08:10] palnabarun commented on #547
/reopen
/remove-lifecycle rotten

(It seems I forgot to remove the rotten label)

[2020-05-15 21:34] MoShitrit commented on #1167
Hey @EKwongChum !
I don't think that's something that could be achieved through the python client (or any other client, afaik. Even `kubectl` doesn't have the ability to get something like that). The api is mostly built around label or field selectors, so your best bet would be to just pull them using a label selectors. In most cases, the pods would have some sort of a label, i.e. `app=foo` which

[2020-05-17 21:59] alanjcastonguay commented on #534
This appears in google search results for this error, and doesn't have an answer. So people will probably stumble over it and be confused. Thus, even though it's 2 years late:

[code]

means that `pv.spec.accessModes` is expected to contain a list of strings, like `['ReadWriteMany', 'AndSomeOtherMode']`, not a single string, like `'ReadWriteMany'`.

### References:

https://github.com/golang/build

[2020-05-18 02:42] #1167 closed

[2020-05-18 22:30] #1000 closed

[2020-05-19 09:57] splashx commented on #1131
This code snippet:

[code]

Unfortunately doesn't load the kube config config as expected - for example, the host is set as `localhost` instead of that of the kubeconfig/context.

[2020-05-19 10:28] KnifeyMoloko commented on #166
Hey guys, any idea on how the attach / port-forward item is looking?

[2020-05-19 10:42] LouisPlisso commented on #1022
When is version 12 planned to be released? 🥺

We (MongoDB kubernetes operator) are currently blocked by this 😿

[2020-05-19 12:04] moluzhui opened #1168 "How do I run kubectl apply-f using the API"
I tried using the Kubernetes API python to execute the `kubect apply` command to deploy and update resources

the kubectl command is as follows:
[code]
`export` is a `folder` containing `multiple yaml files`, which is generated by `kompose convert -o export`

I only found an alternative API for `kubectl create`, but I didn't find `apply`

How do I implement `kubectl apply` to `create` resources an

[2020-05-19 13:11] Sunnykaby opened #1169 "How can i get the rollback_to info from the python api"
**What is the feature and why do you need it**:
Like the command :'kubectl rollout history deployments dep_name', I can get the revision list for this deployment, like something :
[code]
I create the dep with :
[code]
And I update the dep with:
[code]

And I use this Api to get the dep info:
[code]

But I get the rollback_to filed with value 'None'. As I show the info above, I have 4 revision for

[2020-05-19 13:24] Sunnykaby commented on #1169
The doc [list_namespaced_deployment](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/ExtensionsV1beta1Api.md#list_namespaced_deployment) show that, the response struct 'ExtensionsV1beta1DeploymentList' has a filed named ’items[i].spec.rollback_to‘.

[2020-05-19 19:07] mdgreenwald commented on #1039
@roycaihw Is this a known issue?
https://github.com/kubernetes-client/python/issues/951

[2020-05-20 06:02] Sunnykaby commented on #1168
maybe you can use replace_XXX api

[2020-05-20 14:38] GhostInThePotato commented on #962
Now that release 11.0.0 is out, has there been any work done on upgrading the version of openapi-generator used?

/remove-lifecycle stale

[2020-05-20 16:47] ilovemysillybanana commented on #417
did anyone ever get this working?

[2020-05-21 05:02] MoShitrit commented on #1168
You can look at that example as well https://github.com/kubernetes-client/python/blob/master/kubernetes/utils/create_from_yaml.py

[2020-05-21 10:16] vishnu667 commented on #1168
@MoShitrit create_from_yaml works when we have to create a resource.
Let's say I want to update an annotation or the image create_from_yaml fails with [FailToCreateError](https://github.com/kubernetes-client/python/blob/master/kubernetes/utils/create_from_yaml.py#L165)

[2020-05-21 10:37] EKwongChum commented on #551
[code]
This command works for me!

[2020-05-21 12:13] vishnu667 commented on #1168
Trying to write a utility [replace_from_yaml](https://github.com/vishnu667/python/blob/replace_from_yaml/kubernetes/utils/replace_from_yaml.py)
But am hitting the error.
[code]
The same payload works with `kubectl replace -f ` not sure what am missing.

[2020-05-21 13:13] booooh commented on #1052
@scottilee Is this still planned? I see that #1141 has been merged

[2020-05-21 23:10] MoShitrit commented on #1168
What's the value of `kind` from this line, in the error you're getting?
https://github.com/vishnu667/python/blob/replace_from_yaml/kubernetes/utils/replace_from_yaml.py#L156

[2020-05-22 07:13] vishnu667 commented on #1168
This is the payload Am passing
[code]
If you can point me in the right direction I might be able to write down both these functionalities replace and apply.

[2020-05-22 07:47] doremi666 opened #1170 "Kubernetes Version Compatibility"
From the screenshot below shows that the supported Kubernetes version is up until 1.15 and the latest version now is 1.18.
![image](https://user-images.githubusercontent.com/26452088/82643999-2ffbe280-9c43-11ea-8133-fe0eebf7d296.png)

May I know does this Python API Client library keep up-to-date with the Kubernetes version? Is there any drawback of using this API client library with Kubernetes ve

[2020-05-24 06:05] MoShitrit commented on #1168
The payload seems fine. But looking back at your code, I think I see what's missing.
You'll need to add a `namespace` argument to the call you make here https://github.com/vishnu667/python/blob/replace_from_yaml/kubernetes/utils/replace_from_yaml.py#L157
and in order to make sure you always have a value (which would align with how `kubectl` does it, you'll need to add an `else` block [here](https:

[2020-05-26 14:31] #979 closed

[2020-05-26 17:25] #616 closed

[2020-05-26 17:27] adamnovak commented on #1005
The Python examples still don't note the need for `load_incluster_config()`.

/remove-lifecycle stale

[2020-05-26 19:11] MoShitrit commented on #1005
Hey @iamneha
Are you actively working on that issue?
If not- I'd like to take a stab at it.
Please let me know if you have any objections.

[2020-05-27 13:19] NeolithEra opened #1171 "Potential dependency conflicts between kubernetes and urllib3"
Hi, as shown in the following full dependency graph of  **_kubernetes_**, **_kubernetes_** requires _**urllib3**_ (>=1.24.2)， while the installed version of **_request _**(1.25.8) requires _**urllib3>=1.21.1,<1.26**_.

According to Pip's “first found wins” installation strategy, _**urllib3 1.25.8**_ is the actually installed version.

Although the first found package version _**urllib3 1.25.8**_ j

[2020-05-27 13:21] NeolithEra commented on #1171
### Solution
1.	Loosen the version range of **_urllib3_** to be **_<=1.25.8, >=1.24.2_**.
2.	Remove your direct dependency **_urllib3_**, and use the **_urllib3_** transitively introduced by **_requests_**.
3.	Ask your direct dependency requests to loosen the version range of **_urllib3_** to be **_ >=1.21.1_**.
@mbohlool Which solution do you prefer, 1 ,2 or 3?
Please let me know your choice. May

[2020-05-27 15:27] ClaudiuLSH opened #1172 "ApiextensionsV1Api missing"
**What happened (please include outputs or screenshots)**:
[code]
The file is missing:
[code]

**What you expected to happen**:
According to documentation there should be a `ApiextensionsV1Api`.

**How to reproduce it (as minimally and precisely as possible)**:
Try and use `ApiextensionsV1Api.get_api_resources()` or any other function.

**Environment**:
- Kubernetes version (`kubectl version`):  s

[2020-05-27 15:35] MoShitrit commented on #1172
Hey @ClaudiuPID
What are you using the `extensions` API for?
Technically, this api group has been deprecated in 1.16, so whatever you need to pull from it probably lives under a different group right now.
You can read more about it [here](https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/)

[2020-05-27 15:49] MoShitrit commented on #1172
Yeah, looks like it's missing indeed.
I see it on `master` branch, but doesn't look like it exists on any of the release branches (checked 11.0 and 12.0).
Any idea about the reason, @roycaihw @palnabarun ?
If you have any pointers- I can take that issue and work on the fix.

[2020-05-28 05:11] brutus333 commented on #461
I hit the same bug while trying to get the pods owned by a daemonset without looking at all pods in a namespace. Any chance to fix it?

[2020-05-28 07:05] moluzhui opened #1173 "kubernetes.client.rest.ApiException: (503) error with list_cluster_custom_object"
**What happened (please include outputs or screenshots)**:
I wanted to use client to get node data collected by `metric-server` and set it to be collected every `30 seconds`, but the following error occurred after `several times` of collection

Error is as follows
[code]
**What you expected to happen**:
I want to be able to get node's resource status every time.

**How to reproduce it (as minimall

[2020-05-28 12:45] MoShitrit commented on #1173
Hey @moluzhui
Since the API server failed to process the request, I'm not sure it's a client error.
To start with- did you check the api server and metrics server logs (they should both be in the `kube-system` namespace.

[2020-05-28 13:57] moluzhui commented on #1173
@MoShitrit The results seem to be all right
[code]

[2020-05-28 14:02] MoShitrit commented on #1173
Well, I'm not really sure @moluzhui
Your `metrics-server` pod has had 17 restarts in the past 36 hours
[code]
There's a chance that it had a restart during one of the requests you made to the `metrics` api, which would result in a 500 error.

Can you run `kubectl -n kube-system logs metrics-server-5dc6f58b6f-xx9vg -p`
And also `kubectl -n kube-system describe pod metrics-server-5dc6f58b6f-xx9vg`?

[2020-05-29 00:25] moluzhui commented on #1173
[code]
[code]
Don't seem to see anything wrong with that

[2020-05-29 04:07] MoShitrit commented on #1173
Well, actually it _does_ seem like a problem with the metrics server.
First of all- as I noted earlier- the fact that it restarted 17 times over a relatively short period- indicates something isn't right. From the output of `describe` you can see that it terminated due to an error:
[code]
Secondly- it seems to be failing to pull metrics from several nodes/pods.
Also, to make sure- I verified that

[2020-05-29 11:52] moluzhui commented on #1173
@MoShitrit The metric-server version is `0.3.6`.  The final result appears to be that metric-server is `unavailable`.
[code]

[2020-05-29 13:11] MoShitrit commented on #1173
So yeah I would definitely change direction here towards investigating why is metrics-server failing.
I found a couple of issues on their repo with several suggestions on how to fix the metrics pulling, examples:
https://github.com/kubernetes-sigs/metrics-server/issues/167#issuecomment-557853888
https://github.com/kubernetes-sigs/metrics-server/issues/143#issuecomment-491175187
Worth looking into

[2020-05-29 14:41] clausa20 opened #1174 "list_api_service: ValueError: Invalid value for `service`, must not be `None`"
Hello,
I try to get apiservice using in python doing:

[code]
but I get the following error:

**ValueError: Invalid value for `service`, must not be `None`**

I have a AWS EKS 1.15 as Kubernetes Master.
Python 3.6.8.
python kubernetes client 10.0.0
Ubuntu 16.04.6 LTS

**Update:**
I've tested it with python kubernetes client 11.0.0 and I get the same error

[2020-05-29 15:12] apyrgio opened #1175 "Add proxy support via environment variables"
**What is the feature and why do you need it**:

Most programs detect that they must use a proxy by checking the `http_proxy` / `https_proxy` environment variables. See for example this section of `requests` on proxying: https://github.com/request/request#controlling-proxy-behaviour-using-environment-variables

 This is not the case here though, as the user must explicitly override the `.proxy` ar

[2020-05-29 16:56] MoShitrit commented on #1174
I was able to reproduce it locally.
I'll take a look at the code and figure out what needs to be done.
/assign

[2020-05-29 18:41] mohatb opened #1176 "unable to start pod interactive shell in python client"
**What happened (please include outputs or screenshots)**:

I want to create a pod with the **python client SDK** (similar to kubectl run) that gives me results like the below:

    kubectl run --rm --image $IMAGE --overrides="$OVERRIDES" --generator=run-pod/v1 -ti "$POD"

I can see some examples which use exec https://github.com/kubernetes-client/python/blob/master/examples/pod_exec.py but this r

[2020-05-31 18:27] MoShitrit commented on #1174
@clausa20 I've started looking into it, and for now I have workaround on how to make this work without failing.
If you add `_preload_content=False` as a kwarg to your function call, you can then get the list using `response.data`, as following:

[code]

I'll keep looking into why the data serialization fails and figure out if this it's an intended behavior or something that requires fixing and wil

[2020-05-31 22:07] thomasjo commented on #1052
Is there anything we can help out with to get this ball rolling again?

[2020-05-31 22:17] scottilee commented on #1052
Hey guys, this is still planned. Should have more updates later this week.

[2020-06-01 03:34] MoShitrit commented on #1025
Since #1166 was merged, I assume this can be closed.
/close

[2020-06-01 03:40] #972 closed

[2020-06-01 19:25] clausa20 commented on #1174
@MoShitrit thanks for the workaround, it fits ok for me. Regards.

[2020-06-01 23:01] remram44 commented on #977
/remove-lifecycle stale

[2020-06-02 11:23] palnabarun commented on #1025
@MoShitrit -- The PR doesn't completely introduce Github Actions as an alternative for Travis CI. We need some more work on that. Hence, reopening the issue.

/reopen

[2020-06-02 11:23] palnabarun commented on #1025
/remove-lifecycle stale

[2020-06-02 13:01] MoShitrit commented on #1025
Gotcha, sorry for the misunderstanding!

[2020-06-03 01:57] sunchill06 opened #1177 "exit code from connect_get_namespaced_pod_exec"
Hi. @tomplus

Even though the ws_client has defined a default timeout, (below), I can't seem to get a valid returncode if I don't call the resp.run_forever(timeout=5) the method specifically after the stream() method call.
_request_timeout = kwargs.get("_request_timeout", 60)

My code:
 resp = stream(v1.connect_get_namespaced_pod_exec, podName, namespace, command=exec_command, stderr=True, stdin=F

[2020-06-03 10:47] mohatb commented on #1176
any help ?

[2020-06-03 12:00] mohatb commented on #822
@nettyxiong @polanjir Have you been able to resolve this? I am also having the same issue and cannot figure it out in python.

[2020-06-03 23:31] tomplus commented on #1177
Hi @sunchill06

It's correct. When you set _preload_content=False you will get WSClient instance and you have to read all returned data (stdout, sterr, exit code). You can use run_forever which tries to read everything (timeout is optional) or using something like this:

[code]
https://github.com/kubernetes-client/python-base/blob/49ec06096ebc4e092c1ebc2291bf18ccaac935af/stream/ws_client.py#L232

[2020-06-04 08:58] sunchill06 commented on #1177
Thanks a lot, @tomplus for your inputs.

[2020-06-04 14:18] polanjir commented on #822
@mohatb unfortunately I gave it up. But workaround which I am using is
[code]

[2020-06-04 17:40] mohatb commented on #822
Thanks @polanjir , yes seems the only way to get this working is by using pseudo-terminal if not with subprocess. I found the one below but as am still beginner to python am having hard time converting to python3.

https://github.com/xychu/python/blob/add-tty-example/examples/exec_tty.py
https://asciinema.org/a/fOznfIWkZcYdEslY1iJs4HeZc

if you were able to make it to work on python3 it would be g

[2020-06-04 18:51] zcain117 opened #1178 "Job status differs between UI and Python API"
If I query for a job using [read_namespaced_job](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/BatchV1Api.md#read_namespaced_job) in the Python API, I get back a different status than I see in the Kubernetes UI on Google Cloud.

Am I doing something wrong or is there some bug in the Python API?

From the UI in Google Cloud:
[code]
From the Python API:
[code]

My Python co

[2020-06-04 20:06] #1040 closed

[2020-06-04 20:06] #1047 closed

[2020-06-04 20:41] zcain117 commented on #1178
The python API response seems to agree with `kubectl get job`:

[code]

Which is weird since the job succeeded as far as I can tell, yet the status for both `kubectl get` and python API shows:
[code]

Note that this is a cronjob.
What is the `controller-uid` and why is it different in Google Kubernetes Engine?
I guess the expected behavior for the python client is to match `kubectl`, but I still d

[2020-06-05 00:39] zcain117 commented on #1178
For anyone else who finds a similar issue:
The problem is with the `kubeconfig` file (/usr/local/google/home/zcain/.kube/config for me)

There is a line in here like this:
`current-context: gke_xl-ml-test_europe-west4-a_xl-ml-test-europe-west4`

If the `current-context` is pointing to a different cluster or zone than where your job ran, then when you run `kubectl job get` or use the Python API, th

[2020-06-05 00:39] #1178 closed

[2020-06-05 10:54] palnabarun commented on #1025
@MoShitrit -- No problem! :sweat_smile:

[2020-06-05 20:17] roycaihw commented on #434
The Java client also supports leader election with a similar implementation. It would be great for the Python client to also support leader election.

[2020-06-06 11:47] mohatb commented on #822
I got it to work here. Still having some issues after exiting the terminal.
https://github.com/mohatb/python/blob/master/examples/exec_tty

[2020-06-08 16:41] roycaihw commented on #1169
/assign

[2020-06-08 16:42] roycaihw commented on #1170
Yes this client is lagging behind. We are catching up and doing the 12.0.0 release https://github.com/kubernetes-client/python/issues/1052

[2020-06-08 16:47] roycaihw commented on #1171
/assign @palnabarun

[2020-06-08 23:04] roycaihw commented on #1168
kubectl implements a three-way diff logic to perform a client-side apply. We should add example/documentation about how to use the new server-side apply feature instead of re-implementing client-side apply in this client.

[2020-06-08 23:50] GnatorX opened #1179 "Missing AdmissionregistrationV1Api, V1MutatingWebhook"
**What happened (please include outputs or screenshots)**:
Attempted to create via create_from_yaml a v1 version of mutatingwebhook config but client failed to find this version

**What you expected to happen**:
Expected the client to find it (I see the code/ doc in master branch but not in 11 or 12
**How to reproduce it (as minimally and precisely as possible)**:
`kind: MutatingWebhookConfigurati

[2020-06-08 23:56] roycaihw commented on #1169
(This is a workloads API question, so sig-apps experts who worked on the API will know the answer better) I think it's expected. The `rollback_to` field in extension/v1beta1 deployment has been deprecated and doesn't store any meaningful information. `kubectl rollout history deployments` uses different logic to retrieve the revision list.

I tested locally with 1.12 kubectl and 1.15 apiserver (Not

[2020-06-08 23:56] #1169 closed

[2020-06-09 00:07] roycaihw commented on #1171
Some thoughts from the bi-weekly triage meeting today:
- we can add a e2e test to make sure `pip install` works and fix the version range requirement whenever pip's "first found wins" breaks. One drawback is that there can be a window we fail to catch it given the other modules being released asynchronously.
- unifying the dependency tree is preferred if we can avoid depending on both modules with

[2020-06-09 00:07] roycaihw commented on #1042
Closing in favor of https://github.com/kubernetes-client/python/issues/1171

[2020-06-09 00:07] #1042 closed

[2020-06-09 00:14] roycaihw commented on #1172
ApiextensionsV1Api is introduced in Kubernetes 1.16. The 11.0.0 python client is generated against Kuberenetes 1.15 openapi spec so it doesn't have this API. The issue is we are in the middle of cutting a release ([12.0.0a1](https://github.com/kubernetes-client/python/issues/1052)), so the master branch contains a half-baked "snapshot" client, which contains documentation generated from 1.16 opena

[2020-06-09 00:29] roycaihw commented on #1173
Yes this looks more like a server-side issue than a python client one. You could enable the [debug logging](https://github.com/kubernetes-client/python/blob/b6e4ae81a2afb49f668a142eb7d1c6e2571ef478/examples/deployment_crud.py#L91-L94) to see if the server gives any more meaningful response, or try monitoring the same endpoint with kubectl `kubectl get --raw '/apis/metrics.k8s.io/v1beta1/nodes'`

[2020-06-09 00:42] roycaihw commented on #1174
Looks like this is another occurrence of https://github.com/kubernetes-client/gen/issues/52 and has been fixed by https://github.com/kubernetes/kubernetes/pull/85728 in Kubernetes 1.18. Kubernetes sometimes incorrectly restricts a field to be required but the apiserver may omits the field in real responses. These responses break the generated clients since the generated client-side validation expe

[2020-06-09 00:51] roycaihw commented on #1175
The `Configuration` class is generated by openapi-generator: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python/configuration.mustache. Could you file an issue in openapi-generator to propose adding the behavior?

[2020-06-09 01:53] roycaihw commented on #1176
This client supports reusing a connection and execute commands interactively. E.g. https://github.com/kubernetes-client/python/blob/b6e4ae81a2afb49f668a142eb7d1c6e2571ef478/kubernetes/e2e_test/test_client.py#L96-L115 and https://github.com/kubernetes-client/python/blob/b6e4ae81a2afb49f668a142eb7d1c6e2571ef478/examples/pod_exec.py#L82-L94

If the goal is to have a bash terminal experience, you coul

[2020-06-09 03:10] dinvlad commented on #741
/remove-lifecycle stale

[2020-06-09 17:08] GnatorX commented on #1179
Example of what is in master:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/AdmissionregistrationV1Api.md
but neither 11 or 12 branch has this

[2020-06-09 17:10] GnatorX commented on #1179
Following the other threads, it seems like 11 is created against 1.15 which didn't support these APIs. #1052

[2020-06-09 18:30] dgethings commented on #417
@micw523 Thank you for this helpful answer. I too believe this is the root of why this feature does not work in the python client.

[2020-06-10 03:13] MoShitrit commented on #1173
/remove-kind bug

[2020-06-10 03:16] MoShitrit commented on #1179
Yep @GnatorX you are correct.
There is a similar issue #1172 and [this comment](https://github.com/kubernetes-client/python/issues/1172#issuecomment-640953005) in particular which provides some additional context.

[2020-06-10 10:26] mindw commented on #325
/remove-lifecycle stale

[2020-06-10 15:43] stevehaertel opened #1180 "Is this package available as a conda package for ppc64le anywhere?"
Does anyone happen to know where I can find a conda package for this for ppc64le? Advice is much appreciated.

[2020-06-11 17:54] adamnovak commented on #953
I don't think this has yet been addressed.

/remove-lifecycle stale

[2020-06-12 11:04] buxizhizhoum opened #1181 "how to create a security context?"
how to create a security context? I have tried
[code]
the corresponding yaml config is:
[code]

however it is not working, I just wonder what else could I do? or is there an example?

[2020-06-12 17:13] micw523 opened #1182 "Use Dynamic Client to Simplify create_from_yaml"
**What is the feature and why do you need it**:
The ```create_from_yaml``` function as currently stands, places an assumption on the structure of the function name and depends on the simplification methods depicted in the gen repo to work properly. Due to these restrictions, the utility will not be able to support custom objects, or potentially future APIs.

We already have the dynamic client, whi

[2020-06-12 17:32] micw523 commented on #1025
Looks like the Github actions are failing. It's saying that the config/ folder does not exist. We may have to check the path settings in ```kube_init.sh```.

[2020-06-13 21:27] acesir commented on #1182
This would be awesome. We heavily use create_from_yaml and ran into a lot of problems with CRDs. I am assuming this would help resolve a lot of that?

[2020-06-14 01:36] cmlfxz opened #1183 "Don't support istio api"
**What is the feature and why do you need it**:
 I need isito api to manage istio gateway,virtualservice ,destinationrule，thanks！
**Describe the solution you'd like to see**:

[2020-06-14 05:12] MoShitrit commented on #1181
So personally, I like to use the objects that are provided with the client rather than provide a json-formatted body.
You can specify it as an object of its own.
There's a `V1PodSecurityContext` which you can use for that
https://github.com/kubernetes-client/python/blob/b6e4ae81a2afb49f668a142eb7d1c6e2571ef478/kubernetes/docs/V1SecurityContext.md.

Here's a quick example of a method to create a po

[2020-06-14 05:20] MoShitrit commented on #1183
Istio resources are custom resources from k8s perspective and can be managed using the `CustomResources` api.
You can see an example from an older closed issue #1162
And [this](https://github.com/kubernetes-client/python/blob/b6e4ae81a2afb49f668a142eb7d1c6e2571ef478/kubernetes/docs/CustomObjectsApi.md) is the doc with all possible methods for the `CustomObjectsAPI`

[2020-06-14 08:51] cmlfxz commented on #1183
oh it work! really help! thanks
myclient = client.CustomObjectsApi()
obj=myclient.list_cluster_custom_object(group="networking.istio.io",version="v1alpha3",plural="virtualservices")

[2020-06-14 15:15] MoShitrit commented on #1183
Sure thing!
Glad to help :smile:
/close

[2020-06-14 15:15] #1183 closed

[2020-06-14 23:45] mitar commented on #1032
/remove-lifecycle stale

[2020-06-15 03:45] DiptoChakrabarty commented on #940
This would be a very helpful feature , I could something like this in my project

[2020-06-15 08:33] buxizhizhoum commented on #1181
Nice method, thank you very much!

[2020-06-15 08:33] #1181 closed

[2020-06-15 12:49] LouisPlisso commented on #1165
Hi @palnabarun , when can we expect the next version of the client? It's currently blocking us for the dry-run feature
Thanks

[2020-06-18 08:24] pingsutw commented on #1112
@jinchihe I got the same problem, did you solved it?

[2020-06-18 09:09] jinchihe commented on #1112
@pingsutw I pined to old kubernetes python sdk to work around that.

kindly ping @roycaihw , any updates for this? Thanks!

[2020-06-18 14:40] VassilisVassiliadis commented on #1040
Hi @kvalev did you ever find a solution to your issue?

[2020-06-18 16:02] pingsutw commented on #1112
Thanks, it works for me

[2020-06-19 12:38] kvalev commented on #1040
@VassilisVassiliadis No, not really, we just handled the timeout on the client side.

[2020-06-19 12:49] #1017 closed

[2020-06-19 23:43] vishnu667 commented on #1168
@roycaihw  Can you point me to the kubectl implementation Let me see if I can code the same logic in python.

[2020-06-19 23:59] vishnu667 commented on #1168
@MoShitrit agree but for the yaml am providing am passing the namespace value.
Will add the else statement also.

[2020-06-21 09:54] AmjadHussainSyed opened #1185 "is there support for kubernetes 1.16"
**Description of the issue (please include outputs or screenshots if possible)**:
Hi there,

i'm not able to find the supported version for 1.16. Please let me know if this is supported.

[2020-06-21 14:36] MoShitrit commented on #1185
Hi @AmjadHussainSyed
You can track issue #1052. Client release `12.0.0` includes the support you seek.

[2020-06-22 10:21] simonstumpf opened #1186 "Config Map watcher crashes because of utf-8 encoding (binary file as content)"
**What happened (please include outputs or screenshots)**:
I'm trying to do a watch on all configmaps in the kubernetes cluster.
However at some point it crashes
`---> Running application from Python script (app.py) ...
Traceback (most recent call last):
  File "app.py", line 407, in <module>
    for stream in w.stream(api_instance.list_config_map_for_all_namespaces):
  File "/opt/app-root/lib/pyt

[2020-06-22 13:12] simonstumpf commented on #1186
So I just spent some more time into troubleshooting and I found out, that the iter_resp_lines function can't handle some binary content. (Its a pk12 file)

[2020-06-22 16:47] palnabarun commented on #1054
The roadmap that we discussed in the previous meetings based on the comments here:
1. Keep the support for Python 2 in Kubernetes Client v12.0.0
2. Send a communication to the mailing list and slack channel about dropping support in future releases
3. Drop support for Python 2 in Kubernetes Client v13.0.0

[2020-06-22 20:18] DiptoChakrabarty opened #1189 "Rolling updates on created deployments from yaml files"
**What is the feature and why do you need it**:
I have create deployment and service using the  create_from_yaml() method which uses a couple of kubernetes yml files , I need it because I am regularly updating the files and launching new deployments and services using the create_from_yaml() method.
However I do not know how to perform a rolling update on an already existing deployment which has be

[2020-06-22 21:26] roycaihw commented on #1180
Personally I'm not familiar with conda. Currently we only release this package to [pypi](https://pypi.org/project/kubernetes/)

[2020-06-22 21:41] roycaihw commented on #1186
That sounds like a bug we should handle. @simonstumpf Would you like to send a fix, or provide some reproduction steps?

[2020-06-22 22:29] thesyntaxinator opened #1190 "ModuleNotFoundError: No module named 'kubernetes.config' when running api_discovery example"
**What happened (please include outputs or screenshots)**:

When running python -m examples.api_discovery, I get

ModuleNotFoundError: No module named 'kubernetes.config'

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (`kubectl version`):
Client Version: version.Info{Ma

[2020-06-23 07:45] simonstumpf commented on #1186
I'm not as good in python that I could fix this issue im sorry :(
However I could reproduce this error when I put a non utf-8 valid File into a configmap.

[2020-06-24 09:17] Alexis01 opened #1192 "Response is not chunked"
I've tried to put an stream to list_namespaced_pod as per the docs, and this is what I've gotten for my troubles:

[code]
And the response is 200
[code]

Suddenly i got this error:

**ERROR - Exception: Response is not chunked. Header 'transfer-encoding: chunked' is missing.**

I dont know how to add "transfer-encodig" to this request.

**Environment**:
- OpenShift Master (3.11.200)
- Kubernetes M

[2020-06-24 18:43] 7AC opened #1193 "Not having a current context set causes"
When initializing kubectl you typically do something like:

[code]

That creates a valid config with multiple clusters, but with `current-context` set to `""`. If you try to load that config with `config.load_kube_config()` the library assumes `""` is a context name and fails with the following:

[code]

Shouldn't the library assume `""` means the context is unset and avoid trying to look it up, o

[2020-06-24 23:41] MoShitrit commented on #1192
@Alexis01 from looking at the code of `list_namespaced_pod()` I'm guessing that adding a `limit=N` kwarg to your call could help with solving that. You can see the description of that kwarg [here](https://github.com/kubernetes-client/python/blob/10671f94264265d4af491b7b327042cb3e0a07ad/kubernetes/docs/CoreV1Api.md#example-107):

Can you try to add that arg to your code and see if that solves the i

[2020-06-25 00:06] MoShitrit commented on #1193
Yeah, we can probably throw a more specific error for that case.
I guess we can add an `if` block below [this line](https://github.com/kubernetes-client/python-base/blob/master/config/kube_config.py#L248), something like that:
[code]
I can take care of that.
/assign
/cc @roycaihw @palnabarun
I see that `config/kube_config.py` is auto-generated and seems like the process is to edit it in `python-ba

[2020-06-25 04:28] MoShitrit commented on #1005
Looks like this isn't being actively worked on.
I'm going to try and start working on that over the weekend.
/assign

[2020-06-25 05:55] Alexis01 commented on #1192
@MoShitrit I´m going to try this param.

Thanks 4 ur help :-)

[2020-06-25 07:26] Alexis01 commented on #1192
@MoShitrit
I change my code to
[code]
But i got the same error
[code]
I read that **This field is not supported if watch is true.** and I dont know why there is **watch** param in the query.

[2020-06-25 10:12] Alexis01 commented on #1192
I clear my dependencies and everything is ok, thank you @MoShitrit

[2020-06-25 10:12] #1192 closed

[2020-06-25 16:55] 7AC commented on #1193
But should `load_kube_config()` really fail with a valid config? I was thinking that the fact that `current-context` is not set should not impact it, in my case for example I just wanted to get a hold of a list of contexts and that's impossible if the configuration was provided to the app externally (via a kubernetes mount in my case).

[2020-06-25 17:34] apyrgio commented on #1175
Nice, thanks for pointing me to the template for this class.
So, I've opened an issue to OpenAPI (https://github.com/OpenAPITools/openapi-generator/issues/6786). You can close this issue if you want to, or keep it open to track the progress of the OpenAPI issue.

[2020-06-26 00:46] MoShitrit commented on #1193
I think it should, because this method is used for authentication setup to the cluster and, assuming no context was provided to that method _and_ `current-context` isn't set in  `.kube/config` file, the client won't know which context to use.
Compare that to `kubectl` usage when `current-context` is set to `""`, and this is what you get:
[code]
So yeah, imo it should still fail with an error, but

[2020-06-26 02:15] 7AC commented on #1193
I’m not convinced that’s apples to apples though. Shouldn’t the config be still loadable, and then fail on an API call that requires a context to be set?

[2020-06-26 08:25] kramerul commented on #1047
We are running in the same issue.

[code]

[2020-06-26 09:04] arthurlogilab commented on #1153
I'm not sure I understand why this is closed. Is it closed as in "wontfix" or is it closed as in "wontfix" till 1.16 and 1.17 are released ?

Thanks for maintaining this project by the way.

[2020-06-26 09:07] arthurlogilab commented on #1153
We have 1.18.+ cluster we would like to keep talking to with this python client (used in checkmk supervision). Any chances of getting it to work by using the release-12.0 branch ? https://github.com/kubernetes-client/python/tree/release-12.0

[2020-06-26 09:08] Jainbrt opened #1195 "VolumeSnapshot,VolumeSnapshotClass & VolumeSnapshotContent Support"
**What is the feature and why do you need it**:

Do we have plan to support VolumeSnapshot,VolumeSnapshotClass & VolumeSnapshotContent API?

**Describe the solution you'd like to see**:

[2020-06-26 09:29] SockenSalat commented on #1153
@arthurlogilab

I closed this Issue becaus it is stated that _Support for 1.18 is planned_.

[2020-06-26 09:32] arthurlogilab commented on #1153
@SockenSalat Thanks for your response. On a number of open source project I am used to subscribing to an issue I am interested in to get updates on the completion of such a task. In the case of this project how can I do that ? Should I subscribe to the releases ? (in the case where I follow an issue I can help out in the review or by testing an associated pull request). Thanks for your clarificati

[2020-06-26 09:42] SockenSalat commented on #1153
@arthurlogilab I just subscribed the releases for getting notified when to take a look again

[2020-06-27 21:35] Invictus17 commented on #434
Can someone describe a bit more about this issue or direct me to a resource that could help.

[2020-06-29 13:35] LouisPlisso commented on #1052
hi @palnabarun any update???

[2020-07-01 07:58] gopinatht commented on #1052
What can we do help speed up support for more recent versions of Kubernetes?

[2020-07-01 16:25] Invictus17 commented on #434
@roycaihw I'd like to work on this issue.

[2020-07-01 19:25] edperry commented on #551
I just ran in to this issue too. really annoying that you don't have setuptool > version number not required

[code]
Fixed my issue on centos7

[2020-07-01 23:52] roycaihw commented on #434
/assign @Invictus17

please go for it!

[2020-07-02 14:44] dims commented on #434
Looks like the java one is here https://github.com/kubernetes-client/java/commits/master/extended/src/main/java/io/kubernetes/client/extended/leaderelection

[2020-07-03 07:20] Invictus17 opened #1196 "Unable to install the python client"
**What happened (please include outputs or screenshots)**:
Tried to install the python client:
Error 1: When trying to install through - python setup.py install
[code]

Error 2: While installing from pip
[code]
**What you expected to happen**:
Run the examples given for the python client

**How to reproduce it (as minimally and precisely as possible)**:
1) For error 1:
git clone --recursive https:

[2020-07-06 16:43] roycaihw commented on #1196
/assign

[2020-07-07 22:40] micw523 commented on #1196
Hi, please check [this document](https://github.com/kubernetes-client/python/blob/master/CONTRIBUTING.md#windows-developers) for additional installation instructions if you're installing from the source on Windows.

Since you might have had an incomplete installation of the Python client, I'd suggest trying to use pip to remove it first, clean out the corresponding folder in the Python library, an

[2020-07-07 22:40] micw523 commented on #1196
/assign

[2020-07-08 14:47] hui-zheng commented on #234
thank you for all the discussion.

I had the same problem and confirmed that it is resolved by setting
[code]
agree that we shall remove the `propagation_policy` parameter in delete_namespaced_job() as it has no effect and cause confusion.

[2020-07-08 21:13] scottprichard commented on #236
of course this is closed.

[2020-07-09 04:34] TomskDiver opened #1198 "How to pause deployment?"
Hello.

I don't find in documentation examples how to pause deployment and etc.

I need patch deployment and set it to pause.

Need code analog for command: `kubectl rollout pause deployment.v1.apps/nginx-deployment`

[2020-07-09 05:51] TomskDiver commented on #1198
I found solution:
`client.AppsV1Api().patch_namespaced_deployment(deploy_name, namespace_name, {'spec': {'paused': True}})`

[2020-07-09 05:51] #1198 closed

[2020-07-09 20:31] bguseman commented on #524
/remove-lifecycle stale

[2020-07-10 03:29] tdmalone commented on #1093
/remove-lifecycle stale

[2020-07-10 06:23] jan25 commented on #1186
Maybe this needs to be in python-base repo. Fix could be to add simple `catch:` block here https://github.com/kubernetes-client/python-base/blob/master/watch/watch.py#L139-L149.

Also i noticed `watch` is not handling `urllib3.exceptions.ReadTimeoutError` and crashes. Not sure if that is intended.

[2020-07-10 08:47] mdgreenwald commented on #951
/remove-lifecycle stale

[2020-07-10 08:48] mdgreenwald commented on #951
/remove-lifecycle rotten

[2020-07-10 08:54] mdgreenwald commented on #951
/remove-lifecycle stale

[2020-07-10 15:54] mindw commented on #325
/remove-lifecycle stale

[2020-07-10 15:55] mindw commented on #325
/remove-lifecycle rotten

[2020-07-11 22:33] #1020 closed

[2020-07-13 03:06] #1144 closed

[2020-07-13 05:24] Invictus17 commented on #1196
Thanks @micw523 before doing that I just removed the library using pip and then did pip install Kubernetes. This time it worked and I was able to install the python client successfully. Closing this issue.

[2020-07-13 05:24] #1196 closed

[2020-07-13 06:33] 7AC commented on #1193
The situation is the one I mentioned: I get a config passed to me and I want to get the list of contexts to do some initialization. When I'm done with that I can zoom into every context and do some work, but I don't know the list of contexts initially.

[2020-07-13 11:21] #1186 closed

[2020-07-13 14:42] NikPaushkin commented on #1136
/remove-lifecycle-state

[2020-07-13 18:10] yliaog commented on #1136
transfer-encoding header is set at the server side, not at the client side, so it should not be added to python client library

[2020-07-13 20:11] jicowan opened #1199 "Error creating ServicePort, Invalid value for `port`, must not be `None`"
**What happened (please include outputs or screenshots)**:
When the following code runs
[code]

[code]
**What you expected to happen**:
Expect to be able to create an array/list of ports
**How to reproduce it (as minimally and precisely as possible)**:
See above
**Anything else we need to know?**:
#401
**Environment**:
- Kubernetes version (`kubectl version`):
- OS (e.g., MacOS 10.13.6):
- Python

[2020-07-13 22:58] Invictus17 commented on #434
Hi folks,
Sharing a document stating my proposal and a description for this specific task. I'd be happy to address any feedback!
https://docs.google.com/document/d/1KJAcdMv4NZBqyz_WrLfDEVTFnqvlXdrIopHwkcMfWlw/edit?usp=sharing

[2020-07-14 05:46] yylt opened #1200 "create horizontal_pod_autoscaler error, conditions must not be `None`"
**What happened (please include outputs or screenshots)**:
[code]

**What you expected to happen**:
create success

**How to reproduce it (as minimally and precisely as possible)**:
create v2beta2 hpa resource

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (`kubectl version`):

Server Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.6", GitCommit:"85ec80

[2020-07-14 16:01] adamnovak commented on #994
The PR at https://github.com/kubernetes/kubernetes/pull/84810 is still open and ready for API review, I think.

/remove-lifecycle stale

[2020-07-16 21:01] jicowan commented on #1199
has to be port=

[2020-07-16 21:01] #1199 closed

[2020-07-18 16:18] bukowa commented on #323
/remove-lifecycle stale

[2020-07-18 18:47] palnabarun commented on #1116
/remove-lifecycle stale

[2020-07-18 18:48] palnabarun commented on #1116
@Abn02 -- I hope your query was resolved. Closing this issue for now. Please feel free to reopen if you have any unresolved doubts.

/close

[2020-07-18 18:48] #1116 closed

[2020-07-18 18:49] palnabarun commented on #1105
/remove-lifecycle rotten

[2020-07-18 18:55] palnabarun commented on #1041
@Rashmi-P -- Closing this issue due to inactivity. Please feel free to reopen if you have any unresolved queries.

/close

[2020-07-18 18:55] #1041 closed

[2020-07-18 18:57] palnabarun commented on #1094
/remove-lifecycle rotten

[2020-07-18 19:02] palnabarun commented on #1125
/remove-lifecycle stale

[2020-07-18 19:04] palnabarun commented on #1125
@liudonggang -- Since there was no response, the issue is being closed.

Please feel free to reopen if you have any unresolved queries.

/close

[2020-07-18 19:04] #1125 closed

[2020-07-18 19:06] palnabarun commented on #1043
@Deepakchawla -- Since there was no response from your side, closing this issue.

Please feel to reopen incase if you have any unresolved queries.

/close

[2020-07-18 19:06] #1043 closed

[2020-07-18 19:10] palnabarun commented on #1137
Hi @AXington :wave:, that particular part of the documentation is governed by the upstream API spec and the OpenAPI generator. This issue is relevant in the [OpenAPI generator's](https://github.com/OpenAPITools/openapi-generator) context.

[2020-07-18 19:11] palnabarun commented on #1137
/remove-lifecycle stale

[2020-07-18 19:12] palnabarun commented on #1138
/remove-lifecycle stale

[2020-07-18 19:13] palnabarun commented on #1138
@yks0000 :wave: -- Closing this issue for now, since there was no response.

Please feel free to reopen if you have any unresolved queries.

/close

[2020-07-18 19:13] #1138 closed

[2020-07-18 19:27] palnabarun commented on #1151
@jincheng-xiaosu -- the common names mentioned in the self-signed certificate don't match the server that you are pinging. I am guessing there are proxies/load balancers in between.

You can disable hostname matching by setting `configuration.assert_hostname = False` along with `configuration.verify_ssl = False`.

This should make it working with kubeadm clusters being proxied over.

[2020-07-18 19:29] palnabarun commented on #1042
/remove-lifecycle stale

[2020-07-19 00:18] #1086 closed

[2020-07-19 07:04] yks0000 commented on #1138
@palnabarun Thanks. I was able to do this using existing api.

[2020-07-19 09:10] shay-berman opened #1201 "Missing timeout parameter for [patch_namespaced_secret] function"
**What is the feature and why do you need it**:
I encountered a case where patch_namespaced_secret() was just stuck, not sure why but it was just stuck for ever.
So I wonder why we don't have timeout param to this function. I saw timeout param in some python k8s APIS but not on patch_namespaced_secret. any reason why there is no timeout on all the `operations`?

**Describe the solution you'd like

[2020-07-19 09:33] vivekgrover1 opened #1202 "how to pass patch type in patch_namespaced_deployment function in python kubernetes client?"
Is there any way to pass patch type in  patch_namespaced_deployment function in python kubernetes client,  I want to use MergePatchType for patching the deployment.

api_instance.patch_namespaced_deployment(name, namespace, body, pretty=pretty, dry_run=dry_run, field_manager=field_manager, force=force)

similiar way is there in go client (types.MergePatchType)

deploymentsClient.Patch(context.TODO

[2020-07-19 21:13] torgeirl commented on #1052
I don't believe it has been communicated here so I'll echo what @palnabarun mentioned in the Kubernetes Slack's `#kubernetes-client` channel on June 9: «We are blocked by some issues with the generator and the upstream OpenAPI spec». It seems to be underway in #1188, updated as late as yesterday. :crossed_fingers:

[2020-07-20 05:49] Telzeng opened #1203 "fail to get the ipv6 address(pod_i_ps with V1PodIP type) from pod.status on the dual stack environment"
**What is the feature and why do you need it**:
Recently my project need get the ipv6 address(V1PodIP) from pod.status on the dual stack environment. but found latest Kubernetes does not include the code fix.
I observed that mater branch already included this fix c206745dcd491d64b63260c6b6f46e3a3a81b101.  I want to know when will this code plan to merge in official release 11.0.0+ ?

Doc: https://

[2020-07-20 12:46] NikPaushkin commented on #1136
@yliaog Thank you for reply. We have this header enabled on servers by default. These are headers from API request:

[code]

Maybe you know what the problem might be?

[2020-07-20 13:56] cmoulliard commented on #977
Will this issue be implemented to easily convert Json to K8s objects ?

[2020-07-20 16:37] roycaihw commented on #1203
/assign @palnabarun

[2020-07-20 19:00] daemur commented on #1098
/remove-lifecycle stale

[2020-07-20 22:01] roycaihw commented on #1200
This looks like another occurrence of https://github.com/kubernetes-client/gen/issues/52. The field `conditions` is marked as [required](https://github.com/kubernetes/kubernetes/blob/5a529aa3a0dd3a050c5302329681e871ef6c162e/staging/src/k8s.io/api/autoscaling/v2beta2/types.go#L344) in upstream openapi spec. The upstream openapi spec needs to be fixed (with something like https://github.com/kubernet

[2020-07-20 22:07] roycaihw commented on #1201
I think the method has a `_request_timeout` parameter that sets the client-side timeout.

[code]

[2020-07-20 22:10] roycaihw commented on #1202
Currently it's not supported. The client supports auto-detecting JSON patch and strategic merge patch based on the body type https://github.com/kubernetes-client/python/blob/bc79976edfe01b028aef0b93bde54e002b113443/kubernetes/client/rest.py#L160-L163

Supporting patch type selection is discussed in https://github.com/kubernetes-client/python/pull/959

[2020-07-21 00:13] yliaog commented on #1136
it is not obvious to me what might be the problem.
what if you 'GET' or 'LIST' a resource? if there is no problem there, what about 'WATCH' without allow_watch_bookmarks?

[2020-07-21 06:00] micemuni commented on #1092
any update..??

[2020-07-21 07:48] artiship opened #1205 "Execute a bash file inside a pod and get the output"
**What is the feature and why do you need it**:
I've followed the example pod_exec.py and implement a command line tool for making our local task running on kubernetes. The main steps are:

1. Create a pod if not exists
2. Copy local task directory inside into the pod.
3. Execute the start.sh of the task in pod.
4. Fetch the running output of start.sh
5. Destroy the pod.

I found the `exec_command

[2020-07-21 08:52] NikPaushkin commented on #1136
@yliaog All work as usual, because as I understand nothing requires `'transfer-encoding: chunked'` except of `allow_watch_bookmarks`

[2020-07-21 08:56] ssquan opened #1206 "Error "Missing the required parameter `body`“ happens when calling `patch_namespaced_deployment_scale"
**What happened (please include outputs or screenshots)**:
Exception happens when running code similar to the [example](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/AppsV1Api.md#example-30)
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version

[2020-07-21 11:24] biwenKey opened #1207 "en..."
**Link to the issue (please include a link to the specific documentation or example)**:

**Description of the issue (please include outputs or screenshots if possible)**:
![image](https://user-images.githubusercontent.com/27846351/88049413-afe0f300-cb87-11ea-9b87-f3c9ddb292ac.png)

[2020-07-21 16:46] yliaog commented on #1136
https://github.com/kubernetes/kubernetes/search?q=transfer-encoding%3A+chunked&unscoped_q=transfer-encoding%3A+chunked

shows code with 'transfer-encoding: chunked'.

in watch.go, it was set at the following line.
https://github.com/kubernetes/kubernetes/blob/34f349257f4fc14c1adc8d9a62109216a6955035/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/watch.go#L201

I'm not sure since when it was s

[2020-07-21 19:22] NikPaushkin commented on #1136
@yliaog Yes, I saw this line as well, have the same version. That's why I have posted an issue here: I was pretty sure that the problem is on the client side.

[2020-07-22 00:12] roycaihw commented on #1189
I think the [server-side apply](https://kubernetes.io/docs/reference/using-api/api-concepts/#server-side-apply) feature satisfies the need. The upcoming 12.0.0 python client should have this feature.

[2020-07-22 00:38] roycaihw commented on #1190
I couldn't reproduce this issue:

[code]

Perhaps you were running python in a local kubernetes directory which missed the submodule, and python picked up the local module with higher priority:
[code]

If that's the case, please download the source code [with the submodule](https://github.com/kubernetes-client/python#installation)
[code]

[2020-07-22 01:21] roycaihw commented on #1193
I think it's okay to skip `set_active_context` if `context_name` is not specified and `current-context` is empty. The Java client does [skip](https://github.com/kubernetes-client/java/blob/9dae95dac762cf979c2ace3334feb52f0232a5f8/util/src/main/java/io/kubernetes/client/util/KubeConfig.java#L111-L114), and client-go has some mechanism that is [similar](https://github.com/kubernetes/client-go/blob/d

[2020-07-22 01:33] roycaihw commented on #1195
It looks like those APIs are CRDs: https://kubernetes.io/docs/concepts/storage/volume-snapshot-classes/#the-volumesnapshotclass-resource

If that's the case, you could use the [CustomObject API](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CustomObjectsApi.md) to send requests to those APIs once they are installed. Example: https://github.com/kubernetes-client/python/blo

[2020-07-22 04:10] artiship opened #1208 "Stream not closed after exec command complete"
**What happened (please include outputs or screenshots)**:

Following the example/pod_exec.py and execute a shell inside container

[code]

The start.sh in the busybox container

[code]

From the output we can see that the start.sh never completes after command execution complete.

[code]

**What you expected to happen**:

What I expected is the stream response should be closed after start.sh exec

[2020-07-22 04:11] artiship commented on #1205
closed by another issue https://github.com/kubernetes-client/python/issues/1208

[2020-07-22 04:11] #1205 closed

[2020-07-22 09:32] Telzeng commented on #1203
@palnabarun  thanks a lot.
My project expect one regular release. so i want to know when will deliver next release?

[2020-07-22 12:29] artiship commented on #1208
fixed by this

[code]

[2020-07-22 12:29] #1208 closed

[2020-07-22 12:47] XiangLi0619 opened #1209 "fail to add new annotations to a pending pod"
Hi, I'm trying to add some annotations to a pending pod. So I write a function to bind the annotations

`{"multicluster.admiraly.io/clustername":cluster_name,'multicluster.admiralty.io/elect':'\"\"'}`

to the target pod.

The function is

`def binding_to_admiralty(self, name, cluster, namespace="default"):`
`        print("start binding")`
`        target = client.V1ObjectReference()`
`        tar

[2020-07-22 14:05] XiangLi0619 commented on #1209
If you'd like to add annotations to a pod, just use patch_namespaced_pod function in CoreV1Api. It works.

[2020-07-22 14:05] #1209 closed

[2020-07-22 17:54] rugved-mahamune opened #1210 "Why is there no way to pick the Specific ServiceAccount which we want when using "config.load_incluster_config()", Why does it always pick up default named ServiceAccount?"
**What happened (please include outputs or screenshots)**:
I used config.load_incluster_config() to run a kubectl service from with a pod. I was able to see that a 'default' named service account was picked.

**What you expected to happen**:

Choose the service account which i want to use for my POD for accessing kubectl api

**How to reproduce it (as minimally and precisely as possible)**:

**Any

[2020-07-24 01:44] tdmalone commented on #1098
Related: https://github.com/kubernetes-client/python/issues/1022
Looks like it'll be fixed when v12 of this client is released.

[2020-07-24 01:46] tdmalone commented on #1098
Aand, here's another potential workaround method: https://github.com/kubernetes-client/python/issues/553#issuecomment-510577028
So that's at least 3 to choose from in this ticket :)

[2020-07-24 01:49] tdmalone commented on #1200
Unless I've misunderstood something, there's a bunch of issues about this already and it's apparently fixed in v12 of this client (yet to be released). In the meantime there are at least 3 potential workarounds available in https://github.com/kubernetes-client/python/issues/1098.

[2020-07-24 03:50] lvs071103 opened #1212 "how to get replicaset information"
[code]
I found replication controller but I don't know how to get replicas
how to get it ?

[2020-07-24 05:39] yylt commented on #1200
same with the issue https://github.com/kubernetes-client/python/issues/1098

[2020-07-24 05:39] #1200 closed

[2020-07-24 09:39] onecer opened #1213 "need support load_kube_config_data()"
**What is the feature and why do you need it**:

I creating a simply k8s tools to mange that for my customers. They have diffrence cluster.

I want to store kubeconfig in mysql, manage mutilple k8s cluster.

from now just have two way too create a client.

- load_kube_config().  -- load kubeconfig fron file
- client.Configuration() -- use token

I think that kubeconfig is easy to config. Its frien

[2020-07-24 09:47] mschmidt1208 commented on #811
I ran into the same problem and found a solution:

1. add the parameter `_preload_content=False,` to the stream call -> you receive a WSClient object
2. call `run_forever(timeout=10)` on it
3. Then you get the correct and unformatted string with `.read_stdout()`

For example:
`wsclient_obj = stream(v1.connect_get_namespaced_pod_exec, m
                        y_name,
                        'defau

[2020-07-24 09:50] mschmidt1208 commented on #811
I ran into the same problem and found a solution:

1. add the parameter _preload_content=False, to the stream call -> you receive a WSClient object
2. call run_forever(timeout=10) on it
3. Then you get the correct and unformatted string with .read_stdout()
For example:
[code]

[2020-07-26 07:34] liorschwimmer opened #1214 "BatchV1_api.list_namespaced_job returns only partial data"
I'm using kubernetes==10.1.0
My code is in python 3.7 and something like that:

from kubernetes import client as kubernetes_client
BatchV1_api = kubernetes_client.BatchV1Api()
api_response = BatchV1_api.list_namespaced_job(namespace="default", watch = False, pretty='true', async_req=False )

The problem is I got about 1500 jobs in kubernetes and api_response returns only 20
The goal is to implemen

[2020-07-27 07:39] egoisz opened #1215 "can i get or export deploy yaml files which can be used by kubectl apply -f ?"
**Link to the issue (please include a link to the specific documentation or example)**:

**Description of the issue (please include outputs or screenshots if possible)**:
the response of read_namespaced_deployment_status(name, namespace=namespace).to_dict(), There are many fields whose names do not conform to k8s yaml file, I want to maintain a yaml file while updating deploy through the k8s pytho

[2020-07-28 15:42] eric4321 opened #1216 "Error when patching using patch_namespaced_custom_object()"
**What happened (please include outputs or screenshots)**:

Hi, I am unable to patch a custom resource using patch_namespaced_custom_object(). I receive the error:
[code]
**What you expected to happen**:

For the patch to be applied successfully.

**How to reproduce it (as minimally and precisely as possible)**:

Create a basic CRD:
[code]
Create a resource to test against:
[code]
Run the followin

[2020-07-29 11:47] nollimahere commented on #553
/remove-lifecycle rotten

On Thu, Jul 23, 2020 at 6:12 PM fejta-bot <notifications@github.com> wrote:

[2020-07-30 00:57] roycaihw commented on #1152
Yes I was referring to the main Kubernetes documentation. As you can see from the source we have doc translated in multi languages. I'm not sure what service the `website` repo uses to host multi language docs. In the python repo we use sphinx documentation (https://github.com/kubernetes-client/python/pull/893), which seems to support hosting multi language docs https://www.sphinx-doc.org/en/maste

[2020-07-30 06:39] palnabarun commented on #1070
/remove-lifecycle rotten

[2020-07-30 08:51] 111qqz opened #1219 "SSLError(SSLError(0, 'Underlying socket connection gone (_ssl.c:1866)'),) when delete more than one deployment"
**What happened (please include outputs or screenshots)**:
I create two deployment objects via client.AppsV1Api(), when deleting them with delete_namespaced_deployment,I got following error.

[code]

![1](https://user-images.githubusercontent.com/30498101/88902304-9e34d500-d284-11ea-9f7e-28fdfd68fee6.png)

**What you expected to happen**:
two deployments deleted without error
**How to reproduce it

[2020-07-30 19:53] #1055 closed

[2020-07-30 19:53] #1057 closed

[2020-07-30 20:31] torgeirl commented on #1052
Seems like the release of `12.0.0a1` just got approved (#1217)! 🎉

[2020-07-31 05:21] sunchill06 commented on #1177
Hi @tomplus

Is there any way to print the real-time command output and then a return code when the connection is closed?

Currently, I am using resp.read_stdout which buffers the output and prints everything at once at the end of the connection.

[2020-07-31 05:33] sunchill06 commented on #1177
I actually tried readline_stdout, but it returns None.

[2020-07-31 10:08] sunchill06 commented on #812
@tomplus

When I run this as

resp = stream(v1.connect_get_namespaced_pod_exec, podName, namespace, command=exec_command, stderr=True, stdin=False, stdout=True, tty=False, _preload_content=preloadContent)

resp.run_forever(timeout=5)
print(resp.readline_channel(1))

Response:
**None**

However, print(resp.read_channel(1)) gives me proper output.

Any pointers why?

[2020-08-01 10:08] xiaowuwu163 opened #1221 "client.EventsV1beta1Api().list_namespaced_event 无法获取返回结果"
获取kube-apiserver 返回的结果集中，event_time 参数本身为空，而V1beta1Event 对象创建时，event_time属性默认必须传入event_time参数不为None才能创建，最终无法转转换为V1beta1Event 对象

[2020-08-01 12:16] ConscriptMR opened #1222 "How to get container list on pod"
after encountering this issue https://github.com/kubernetes-client/python/issues/485 I need to list the container in the pod I wanna run on so ill be able to provide the correct request, I can't find a proper documentation to anything so link to an updated doc would be great as well.

[2020-08-01 13:23] ConscriptMR opened #1223 "run connect-get-namespaced-pod-exec as a specific user"
**What is the feature and why do you need it**:
i want to run the `connect-get-namespaced-pod-exec` as a specific user as I have some commands that require root access and I am not running as root atm by default:
[code]
the returned user is 'java\n'

**Describe the solution you'd like to see**: add another field to the request for user (like podname, container, namespace fields)

[2020-08-01 13:26] ConscriptMR commented on #1213
well not from strings but from JSONs maybe would be more practical

[2020-08-03 16:29] roycaihw commented on #1206
The generated example is wrong. The `body` is a required parameter so it cannot be `None`. However, since Kubernetes supports different patch methods (JsonPatch, MergePatch, StrategicMergePatch), the payload of the `body` can be in different formats. In the generated code the type of `body` is `UNKNOWN_BASE_TYPE`. I think this is a limitation we get from OpenAPI v2 and openapi-generator.

[2020-08-03 16:45] roycaihw commented on #1210
/assign @palnabarun

[2020-08-03 16:58] roycaihw commented on #1216
/assign

[2020-08-03 17:04] roycaihw commented on #1216
cc @yliaog

[2020-08-03 17:05] roycaihw commented on #1219
cc @yliaog

[2020-08-03 17:07] yliaog commented on #1219
do you hit any error if you try to delete them with kubectl?

[2020-08-03 17:10] yliaog commented on #1216
In the following CRD spec, the kind: is 'Test' with uppercase 'T', could you trying switching it to lowercase, and see if you still see the same errors?

====================
spec:
  group: example.com
  names:
    kind: Test
    listKind: TestList
    plural: tests
    shortNames:
    - tst
    singular: test

[2020-08-03 23:09] mdgreenwald commented on #974
/remove-lifecycle stale

[2020-08-04 07:54] Akasurde commented on #1177
@sunchill06 Try something like - https://github.com/ansible-collections/community.kubernetes/blob/main/plugins/modules/k8s_exec.py#L168-L174

[2020-08-04 08:06] eric4321 commented on #1216
Hi @yliaog ,

I have followed your advice and tried with a lowercase 'test' in in 'kind' but it is failing with the same issue.

[2020-08-04 09:25] 111qqz commented on #1219
No, using kubectl to delete the deployment will exit without any error

[2020-08-04 09:50] soulseen opened #1225 "get an error when list namespaced config map: Connection broken: IncompleteRead(168520010 bytes read)', IncompleteRead(168520010 bytes read))'"
**What happened (please include outputs or screenshots)**:
I want to list config map in a namespace, but I get an error like:
```Connection broken: IncompleteRead(168520010 bytes read)', IncompleteRead(168520010 bytes read))'```
here is my code:
[code]

waiting for a long time, I get an error like:
[code]
and the number of configmap in the namespace is 409.
**What you expected to happen**:
list co

[2020-08-04 13:30] silent-beaters opened #1226 "Asking questions"
In kubernetes models, the fields created by v1pod are underlined. Whether there is a function of escaping back to the hump name.

[2020-08-04 16:40] nearbody commented on #1112
Add this to the api_client line ~215, solved the issue for now.
elif isinstance(obj, property):
            return None

[2020-08-04 17:17] yliaog commented on #1219
api_response = self.k8s_apps_v1.create_namespaced_deployment(
api_response = self.k8s_apps_v1.delete_namespaced_deployment(

so you're creating a deployment, then delete it? in the issue you mentioned the error occurred when deleting more than one deployment.

do you see the error when creating deployment? maybe try creating multiple deployment, and see if you hit the error?

[2020-08-05 01:13] mitar commented on #819
/remove-lifecycle stale

[2020-08-05 07:44] sunchill06 opened #1227 "setup fails of the repo"
**What happened (please include outputs or screenshots)**:
After cloning the repo, I ran python setup.py install, and getting below error:
error: pyasn1 0.1.9 is installed but pyasn1<0.5.0,>=0.4.6 is required by set(['pyasn1-modules'])

**What you expected to happen**:
Installation should run fine.

**How to reproduce it (as minimally and precisely as possible)**:
Just run python setup.py install

[2020-08-05 09:00] EricCat commented on #958
@Anany-k No, there isn't a solution to get python CLI to work with Istio. I created a new namespace (k8s) just for running the python CLI pods. Otherwise, I have to use **kubectl exec**  to call the pods in the Istio namespace

[2020-08-05 09:03] Doude commented on #1216
I think only merge patch is supported by the library [0].
But it seems json patch was added a year ago and introduced in 10.0.0 [1]. Probably reverted?

[0] https://github.com/kubernetes-client/python/blob/b5603d8ee2/kubernetes/client/api/custom_objects_api.py#L2408
[1] https://github.com/kubernetes-client/gen/pull/119

[2020-08-05 09:49] eric4321 commented on #1216
Thanks @Doude,

I can see from the gen PR that "application/json-patch+json" was added but I can't see that a relevant change was made in this repository (mainly [select_header_content_type()](https://github.com/kubernetes-client/python/blob/b5603d8ee2bc0861e26426d7c4a9f09b6adee644/kubernetes/client/api_client.py#L497) being able to add the new Content-Type header to the request.

Closing this as

[2020-08-05 09:49] #1216 closed

[2020-08-05 10:06] kwiesmueller commented on #1093
Hey there,
we are currently investigating options for adding apply to client-go. If you need help with adding it to the python client, feel free to get in touch on Slack https://kubernetes.slack.com/archives/C0123CNN8F3
I'm adding our label to put this on our list as well.
/wg api-expression

[2020-08-05 18:18] bukowa opened #1228 "to_dict() of `model` should respect attribute_map"
While running [to_dict](https://github.com/kubernetes-client/python/blob/master/kubernetes/client/models/admissionregistration_v1beta1_webhook_client_config.py#L135) method on the model attribute_map is not respected.
[code]
This results in bad yaml
[code]
related:
- https://github.com/kubernetes-client/python/issues/1117
- https://github.com/OpenAPITools/openapi-generator/issues/4586 (looks like

[2020-08-05 18:19] bukowa commented on #1117
/remove-lifecycle rotten

[2020-08-06 07:25] #1063 closed

[2020-08-06 08:26] #1064 closed

[2020-08-06 08:26] #1068 closed

[2020-08-06 08:26] #1074 closed

[2020-08-07 00:06] Invictus17 commented on #434
@rmb938 @dims It'd be great to have your opinions on the PR!

[2020-08-07 00:18] roycaihw commented on #1207
The core v1 API group is huge for legacy reason. The doc is generated from the upstream openapi spec by the openapi-generator. I think the issue applies to all the generated clients (e.g. [the java client](https://github.com/kubernetes-client/java/blob/master/kubernetes/docs/CoreV1Api.md)) as well. You could download the raw file and view it with a different render that supports larger files than

[2020-08-07 00:21] roycaihw commented on #1212
replicaset and replicationcontroller are different APIs. You should use https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/AppsV1Api.md#list_replica_set_for_all_namespaces to get replicasets.

[2020-08-07 00:21] #1212 closed

[2020-08-07 00:23] roycaihw commented on #1213
Loading kubeconfig from dict support was added recently: https://github.com/kubernetes-client/python-base/pull/195. You can load JSON blob into dict and load kubeconfig from there

[2020-08-07 00:24] roycaihw commented on #1214
I wonder if you're doing paging list. Could you enable the [debug logging](https://github.com/kubernetes-client/python/blob/b5603d8ee2bc0861e26426d7c4a9f09b6adee644/examples/deployment_crud.py#L91-L94) and verify if the response contains a continue token?

[2020-08-07 01:10] roycaihw commented on #1221
IIUC you're saying that kube-apiserver responded `Event` object with empty `event_time` to the `list_namespaced_event` request. As a result this python client failed to parse the response because `event_time` is a [required field](https://github.com/kubernetes-client/python/blob/b5603d8ee2bc0861e26426d7c4a9f09b6adee644/kubernetes/client/models/v1beta1_event.py#L290-L291).

This sounds like another

[2020-08-07 01:14] roycaihw commented on #1222
The pod spec has the list of containers in a pod. You can read the pod using `read_namespaced_pod` to get the details

[2020-08-07 01:31] roycaihw commented on #1223
Did some search and I think executing as root is not yet supported by apiserver or kubectl. Ref: https://github.com/kubernetes/kubernetes/issues/30656. A new API parameter ("user") must be supported on the server side before we can use it in the client.

[2020-08-07 02:01] dims commented on #434
@Invictus17 you have @roycaihw reviewing it ... he's the best!

[2020-08-07 04:10] Invictus17 commented on #434
True that :)

[2020-08-07 05:36] sunchill06 commented on #1177
Thanks a lot @Akasurde , this helped a lot.

I wrote something like this:

stdout = []
while resp.is_open():
     resp.update(timeout=1)
     if resp.peek_stdout():
             stdout.append(resp.read_stdout())
             print(''.join(stdout).strip())
print resp.returncode

This prints the command output in almost real-time.
However, I also want to return the status (returncode) of the command

[2020-08-07 06:35] Akasurde commented on #1177
I would do

[code]

[2020-08-07 06:55] sunchill06 commented on #1177
@Akasurde, that is right, but my requirement is to print real-time logs of the command and then finally return the returncode.

[2020-08-07 22:22] g-crocker commented on #1158
Experiencing same issue here, but unable to set a higher pool size, only max size... How to set a higher number of pools?

[2020-08-08 23:28] #1080 closed

[2020-08-10 14:55] jicowan opened #1230 "Documentation not rendering in GitHub"
**Link to the issue (please include a link to the specific documentation or example)**:
@palnabarun the documentation is not rendering in GitHub
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#create_namespaced_service
**Description of the issue (please include outputs or screenshots if possible)**:

[2020-08-10 16:23] g-crocker commented on #928
I've been having the same issue and believe its related to #1158 , because the connection never closes socket becomes unusable by parallel applications.

Instead of creating a CoreV1Api or whatever you are using, try referencing it and instantiating the object every time. Still not a pretty solution, but I think it's better than restarting your application from time to time.

Here is a script with

[2020-08-10 16:37] g-crocker commented on #1158
Experiencing the same issue with a simple multi-thread application that makes simultaneous calls to the Kubernetes API.

I believe that long-living parallel applications suffer a lot from this. I posted a workaround in #928

Any ideas on how it would be possible to fix this?

[2020-08-11 09:19] zzmg opened #1231 "v1.list_pod_for_all_namespaces(watch=False) takes too long"
**What happened (please include outputs or screenshots)**:

In our cluster, there are about 900 pods in total。use v1.list_pod_for_all_namespaces(watch=False)，takes about three seconds，use  api_instance.list_deployment_for_all_namespaces，takes about one seconds。in cluser，use kubectl get pods --all-namespaces，takes about one seconds

**What you expected to happen**:
Can the list pod interface be opt

[2020-08-11 09:26] hacktmz commented on #670
res_pods = v1.list_pod_for_all_namespaces(pretty=True)
for i in res_pods.items:
    for j in i.spec.containers:
        if j.resources.requests or j.resources.limits:
            print(i.spec.node_name, j.name, j.resources)

[2020-08-12 18:22] bjaworski3 opened #1232 "Unable to use create_namespaced_deployment_rollback in Kubernetes 1.16+"
**What happened (please include outputs or screenshots)**:
Got a 404 error from the Kubernetes API due to the fact that both `ExtensionsV1beta1Api` and `AppsV1beta1Api` are deprecated in Kubernetes 1.16

The recently released 12.0.0a1 is supposed to have Kubernetes 1.16 support, but also doesn't have rollback with the proper API `AppsV1Api`

https://github.com/kubernetes-client/python/blob/v12.0.0

[2020-08-13 03:01] TonyK-T commented on #1196
client Kubernetes-11.0.0   support  version.Info{Major:"1", Minor:"18"}  ？？？？？？

[2020-08-13 10:12] torgeirl commented on #547
This is still not solved, but I guess I'm not allowed to run the bot command?

/remove-lifecycle stale

[2020-08-13 18:20] #1081 closed

[2020-08-16 14:17] rugved-mahamune commented on #1210
The serviceAccountName param for pod spec can be used for this.

[2020-08-16 14:17] #1210 closed

[2020-08-17 13:59] nickvth opened #1233 "support k8s 1.17 and 1.18"
1.15 is EOL and 1.16 will be EOL 10-2020

See: https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md

[2020-08-17 16:35] roycaihw commented on #1225
could you try `kubectl` and see if the same problem occurs?

[2020-08-17 16:37] roycaihw commented on #1226
/assign

[2020-08-17 16:38] roycaihw commented on #1227
/assign @palnabarun

[2020-08-17 16:41] roycaihw commented on #1228
/assign

[2020-08-17 16:41] roycaihw commented on #1230
/assign

[2020-08-17 17:05] roycaihw commented on #1233
/assign @palnabarun

Nabarun is creating an umbrella issue to document the release process changes and track 1.16-1.19 releases

[2020-08-17 19:56] mdgreenwald commented on #1039
/remove-lifecycle stale

[2020-08-18 03:41] beyondmars3 commented on #948
Use python to call kubernetes client. The official demos are all wrong. Always ApiException 404

[2020-08-18 09:14] soulseen commented on #1225
I use `kubectl` and it works well.

[2020-08-18 13:24] 0xdholleran opened #1234 "read_namespaced_pod_log with follow=True hangs when there is a long gap between logs from pod"
**What happened (please include outputs or screenshots)**:
If I try to read the logs of a pod with the following:
[code]

 and there is a gap (say 5 minutes)  between line1 and line2 of the log being written, then the function hangs after the first line

**What you expected to happen**:

the function should read all the logs as they are written from the watched pod and then exit once finished

**H

[2020-08-18 15:26] GhostInThePotato commented on #962
Release 12.0.0 is out now. Has this been looked into yet? I'm still interested in this getting fixed.

/remove-lifecycle stale

[2020-08-19 00:22] roycaihw commented on #1225
could you use kubectl with verbose logging `v=7`? I suspect it was doing page listing-- you should see multiple GET requests with `continue` tokens.

maybe also enable [debug logging](https://github.com/kubernetes-client/python/blob/b5603d8ee2bc0861e26426d7c4a9f09b6adee644/examples/deployment_crud.py#L91) in python client to get more info about the server's response.

[2020-08-19 00:24] roycaihw commented on #1226
duplicate: https://github.com/kubernetes-client/python/issues/1228

/close

[2020-08-19 00:24] #1226 closed

[2020-08-19 00:33] roycaihw commented on #1228
This is a openapi-generator bug / intended behavior. It should be fixed in the generator

[2020-08-19 00:34] roycaihw commented on #1230
duplicated: https://github.com/kubernetes-client/python/issues/1207#issuecomment-670253470

[2020-08-19 00:45] roycaihw commented on #1231
I think the main difference is the encoding. The python client uses json and kubectl uses protobuf. Ref https://github.com/kubernetes-client/python/issues/166

[2020-08-19 00:53] roycaihw commented on #1232
There is no deployment rollback endpoint in apps/v1 API: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#deployment-v1-apps.

[2020-08-19 09:41] pigletfly commented on #741
/cc

[2020-08-19 10:13] pigletfly commented on #1232
@roycaihw should we drop support for ExtensionsV1beta1Api and AppsV1beta1Api in 12.0 release? I'd like to contribute to this.

[2020-08-19 16:12] aflag commented on #524
/remove-lifecycle stale

[2020-08-19 16:16] aflag commented on #524
Just been bitten by this too. I wrote an ad-hoc fake for the things I use. But not very happy with that. Looking online I couldn't find any evidence of anyone doing anything better 😢 In some cases I'd just write integration tests, but my current scenario isn't really easy to run as an integration test.

[2020-08-20 06:51] #1092 closed

[2020-08-20 20:41] bendavis78 opened #1236 "SSLError: FileNotFoundError: [Errno 2] No such file or directory"
I'm getting an intermittent error on my production Django website (running under UWSGI) when the kubernetes client library is called:

[code]

The strange thing is, I can simply restart my server and the problem goes away, but after a few hours I see the same error again.

I added some extra logging to the load_verify_locations function in `urllib3/util/ssl_.py` to see what file it's trying to ope

[2020-08-24 22:16] vardans6 opened #1238 "Python to use Kubernetes API"
Need python to use kubernetes API to create kafka cluster and add monitoring for it, alerts whenever kafka master goes down.

Please help

[2020-08-25 07:58] NickLarsenNZ commented on #524
Back to Go it is

[2020-08-25 20:42] danoh-recurly opened #1239 "Getting AttributeError: module 'kubernetes.client' has no attribute 'select_header_accept'"
Getting error when calling list_pod_for_all_namespace
`Listing pods with their IPs:
Traceback (most recent call last):
  File "./get_gcp_gke_app.py", line 144, in <module>
    main()
  File "./get_gcp_gke_app.py", line 141, in main
    get_pod_info(clusters)
  File "./get_gcp_gke_app.py", line 123, in get_pod_info
    pods = v1.list_pod_for_all_namespaces(watch=False )
  File "/Users/dohalloran/sr

[2020-08-25 20:52] #1239 closed

[2020-08-25 20:52] danoh-recurly commented on #1239
was missing a call.  Got it working.

[2020-08-26 04:06] 573009114 opened #1240 "how to update configmap"
excuse me .
how to update configmap? similar to  kubectl apply -f configmap.yaml

[2020-08-26 16:37] kartik-moolya commented on #389
I tried doing a json.dumps() but got this
[code]
[code]

[2020-08-26 20:14] michalmisiewicz commented on #602
I'm facing the same issue with `create_namespaced_pod`

[2020-08-27 04:33] #1127 closed

[2020-08-27 20:49] #1123 closed

[2020-08-28 09:00] ghostcodersmn commented on #430
I found a way how to use Basic Authentication.
`configuration = kubernetes.client.Configuration()
configuration.host = "https://ip:6443"
configuration.verify_ssl = True
configuration.username = "user"
configuration.password = "pass"
basic_auth_token = configuration.get_basic_auth_token()
configuration.ssl_ca_cert="./ssl_ca_cert.crt"

api_client = kubernetes.client.ApiClient(configuration, header_n

[2020-08-29 16:31] #1028 closed

[2020-08-30 13:52] #1133 closed

[2020-08-31 10:19] talhalatifkhan opened #1241 "Unable to create CRD"
**What happened**

[code]

**What you expected to happen**:
create CRD

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (`v1.18.6`):
- OS (ubuntu 20.04):
- Python version (`3.8.2`)
- Python client version (`11.0.0`)

[2020-08-31 13:53] MoShitrit commented on #1241
@talhalatifkhan Can you remove this line from your payload?
[code]
`null` shouldn't really be a string but rather is supposed to be either a real `null` value or a timestamp object.
It's trying to serialize it a string which shouldn't work.
Basically- this field will be auto-generated when you don't specify it (which is how it should be anyway) so it should solve the error you're seeing when you t

[2020-08-31 14:12] palnabarun commented on #1238
Hi @vardans6, I think this question is more regarding how to deploy a particular software using Kubernetes. The questions of deploying Kafka can be answered better by the users of Kubernetes. You can check out the `#kubernetes-users` channel on the Kubernetes Slack.

Once Kafka is deployed, then you can go through the documentation of this client to talk to the Kubernetes API and create the requir

[2020-08-31 14:12] palnabarun commented on #1238
/assign

[2020-08-31 16:36] roycaihw commented on #1234
/assign
cc @palnabarun

[2020-08-31 16:39] roycaihw commented on #1236
cc @yliaog

[2020-08-31 16:40] roycaihw commented on #1240
/assign

[2020-08-31 16:41] palnabarun opened #1242 "[RFC] Release Kubernetes Python Clients in parallel for released Kubernetes versions"
## Need

We are running behind on client releases by quite a margin. The latest Kubernetes client

## Proposed Solution

### Parallel Alpha releases of the client

- Create the release branches `release-17.0`, `release-18.0`, `release-19.0` checking them out of the current state of `master` branch where the client is snapshotted to Kubernetes 1.16.

Corresponding Kubernetes Releases

Client | Kube

[2020-08-31 16:58] palnabarun commented on #1234
/assign

[2020-08-31 18:43] #1238 closed

[2020-08-31 19:56] wesleywh opened #1243 ""OSError: [Errno 36] File name too long" When calling any API"
**What happened (please include outputs or screenshots)**:
I'm unable to call the `read_namespaced_config_map` method because it keeps throwing this error on me:
[code]
This is using AWS's EKS cluster. I have made an eks cluster and setup the security groups so I can hit it correctly. However, it doesn't work using the python client.

Here is the code I'm using:
[code]

**What you expected to happ

[2020-09-01 09:14] talhalatifkhan commented on #1241
thankyou, that was a silly mistake on my end

[2020-09-01 09:14] #1241 closed

[2020-09-01 16:40] palnabarun opened #1244 "[RFC] Syncing Kubernetes Client versions with upstream Kubernetes versions"
## Current Scenario

The Kubernetes Python client follows a versioning schema `x.y.z{a|b}N` where x is `Kubernetes Minor Version - 4`. For example, the Kubernetes Python client 12.0.0 is based on Kubernetes 1.16.

## What other clients do

- Go: client-go used to use a versioning scheme like us, but they eventually moved to semver compatible versions - v0.y.z where y and z are from Kubernetes vers

[2020-09-01 16:40] palnabarun commented on #1244
cc: @roycaihw @yliaog

[2020-09-01 16:41] palnabarun commented on #974
/remove-lifecycle stale

[2020-09-01 16:43] palnabarun commented on #1052
The Kubernetes Python Client 12.0.0a1 was released vide #1217. Hence, closing this issue.

/close

[2020-09-01 16:43] #1052 closed

[2020-09-01 16:46] palnabarun commented on #1070
The Kubernetes Python Client 12.0.0a1 was released vide #1217.

We are working on the Beta release on #1235

[2020-09-01 21:58] wesleywh commented on #1243
So I have been trying to figure this out since yesterday and here is what I have so far.

prior to this code:
[code]
the `configuration.cert_file` is `None`. When it reaches the `RESTClientObject` class its too big to output. So I'm currently trying to track down how this is getting set.

[2020-09-02 12:08] soslan opened #1245 "Not all return codes are documented"
**Link to the issue (please include a link to the specific documentation or example)**:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/BatchV1Api.md#create_namespaced_job
**Description of the issue (please include outputs or screenshots if possible)**:
`create_namespaced_job` returns `409 Conflict` if the job being created already exists, but the docs doesn't mention the c

[2020-09-02 14:36] wesleywh commented on #1243
Okay I think it's because I'm using the the following line wrong:
[code]
I should really be referencing a file with that cluster certificate right? I think I need to write it to a file first but just writing that text to a .pem or .crt file isn't enough. I think I need to format it in a specific way maybe. Not sure yet, still debugging.

[2020-09-02 15:00] wesleywh commented on #1243
Hey hey! I think I figured it out. I needed this:
[code]
Now I can at least make the call. Still getting errors but I think it's just more of me passing in the wrong information to some of my calls. So I'm going to close this for now.

[2020-09-02 15:00] #1243 closed

[2020-09-03 07:46] lvs071103 commented on #1212
@roycaihw
I want edit deployment by yaml, how to do it ?  For example：
![image](https://user-images.githubusercontent.com/5029708/92086199-70e7c380-edfc-11ea-91a7-2455a1e72034.png)

[2020-09-03 18:35] palnabarun commented on #1244
/kind design
/remove-kind documentation

[2020-09-03 18:37] palnabarun commented on #1233
Tracking this as an umbrella in #1242.

[2020-09-03 18:37] palnabarun commented on #1233
/close

[2020-09-03 18:37] #1233 closed

[2020-09-03 21:46] yliaog commented on #1236
it looks that you have already root caused the problem. after changing to certificate-authority, do you still see the issue?

[2020-09-04 11:30] alextaran1996 opened #1246 "404 error when scheduling a batch job."
**What happened (please include outputs or screenshots)**:
[code]

**What you expected to happen**:
Scheduled job.

**How to reproduce it (as minimally and precisely as possible)**:
 This was done based on examples from git: https://github.com/kubernetes-client/python/blob/master/examples/job_crud.py
[code]

**Environment**:
- Kubernetes version (`kubectl version`):
[code]

- Python version (`pyth

[2020-09-04 14:46] efotopoulou opened #1247 "Not able to find how to get the cpu and memory metrics per pod"
**What is the feature and why do you need it**:
Current version of kubernetes client seems not to promote the access at current monitoring metrics from the ApiClient(). For example:
[code]
Instead has introduced a set of Classes making possible the interaction with k8s cluster.
I can not find how to get the current cpu,memory (or any other custom metric) values via the proposed [APIs](https://gith

[2020-09-04 17:12] plusices commented on #1215
I am also confused about how to export the original yaml file of k8s resource, just like using the command kubectl get deployment test -o yaml. Does anyone solve this issue??

[2020-09-04 20:56] jicowan opened #1248 "Unable to patch daemonset"
**What happened (please include outputs or screenshots)**:
Trying to use the AppsV1Api to patch a namespaced daemonset.  I keep getting the error:
[code]
Other methods like list_namespaced_daemonsets work fine.  Here is the code I used to patch the daemonset:
[code]
The Clientset is derived from this method:
[code]
The context is coming from this method:
[code]
**What you expected to happen**:
I e

[2020-09-06 20:40] jicowan commented on #1248
I got this to work by using patch_namespaced_daemonset_with_http_info.  It appears there's something wrong with patch_namespaced_daemonset.

[2020-09-06 21:44] #1140 closed

[2020-09-07 01:04] talhalatifkhan opened #1249 "404 when trying to get CRD"
**What happened**

[code]
**What you expected to happen**:
Custom Object found
**How to reproduce it**:
[code]
**Anything else we need to know?**:

- I am able to use all other api including create_namespaced_custom_object()
- I can view this custom object using "kubectl get backup -n velero"
**CRD** https://gist.githubusercontent.com/talhalatifkhan/c6eba420e327cf5ef8da1087c326e0a1/raw/d030950775b

[2020-09-07 05:53] wzg0120 opened #1250 "How do I update a service, use replace, or patch?"
here is my code:
 svcbody={
              "apiVersion": "v1",
              "kind": "Service",
              "metadata": {
                "name": "itnode",
                  "namespace":"demo"
              },
              "spec": {
                "selector": {
                  "app": "itnode"
                },
                "type": "NodePort",
                "ports": [
                  {

[2020-09-07 09:09] #1250 closed

[2020-09-07 09:15] talhalatifkhan commented on #1249
used Python 3.6, issue got resolved, i am able to get the custom_object

[2020-09-07 09:15] #1249 closed

[2020-09-08 10:20] MoShitrit commented on #1173
/close

[2020-09-08 10:20] #1173 closed

[2020-09-08 15:02] Kamerads opened #1251 "Help for create rolebinding"
Hi!
Help me please translate this command into kubernetes client python
kubectl create rolebinding team1 --namespace=test --clusterrole=edit --serviceaccount=users:test1

[2020-09-08 15:55] MoShitrit commented on #1251
[code]

And here's the reference from the docs - https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1RoleBinding.md

[2020-09-08 21:53] roycaihw commented on #1242
The proposal looks good to me. The release branches (release-13.0, release-14.0, release-15.0) have been created.

[2020-09-09 08:35] Kamerads commented on #1251
Thank you very much! What if you need to specify multiple --serviceaccounts?
for example kubectl create rolebinding team1 --namespace=test --clusterrole=edit --serviceaccount=users:test1 --serviceaccount=test:default ?

[2020-09-09 12:29] MoShitrit commented on #1251
Sure thing!
So as you can see in the line before last, where we declare the `role_binding` object, `subjects` is in fact of type `list()`, so you can create as many subjects as you'd like and pass them into that list:

[code]

[2020-09-09 18:27] roycaihw commented on #1234
You can use the watch util to stream logs. For example: https://github.com/kubernetes-client/python-base/blob/fd322f70aa6c33782ab466afd4eaae271a27cbcb/watch/watch_test.py#L83-L85

[2020-09-09 18:31] roycaihw commented on #1240
You can use [patch_namespaced_config_map](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#patch_namespaced_config_map) or [replace_namespaced_config_map](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#replace_namespaced_config_map). See [example](https://github.com/kubernetes-client/python/blob/master/examples/job_crud.py#L

[2020-09-09 21:18] roycaihw commented on #1215
This is a duplicate of https://github.com/kubernetes-client/python/issues/1228. `to_dict()` should honor `attribute_map`. This is a bug that needs to be fixed in the upstream client generator.

[2020-09-10 06:01] Kamerads commented on #1251
After you showed it became clear, thank you again

[2020-09-10 06:01] #1251 closed

[2020-09-10 10:22] MoShitrit commented on #1251
Sure thing! Glad to help 😄

[2020-09-10 17:07] dholleran-lendico commented on #1234
hi @roycaihw, that doesn't work either. If I try to stream the logs of the pod defined above with:
[code]

This doesn't work either. It also hangs after the first line

[2020-09-11 13:05] vepatel opened #1255 "Support for kind: IngressClass in v1beta1"
**What is the feature and why do you need it**:
[As per improvements to ingress api in 1.18](https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#extended-configuration-with-ingress-classes) there should be python client support for `kind: IngressClass`

**Describe the solution you'd like to see**:
Create, delete and patch apis in `kubernetes.client.NetworkingV

[2020-09-11 14:07] NikPaushkin commented on #1216
If someone needs a solution, you could make this monkey patch of Kubernetes client.
[code]
Then use `ApiClientForJsonPatch` class instead of native `client.ApiClient` for your jsonPatch requests.

[2020-09-12 08:52] #825 closed

[2020-09-13 00:14] mitar commented on #1032
/remove-lifecycle stale

[2020-09-14 06:38] wzg0120 opened #1256 "unable to rollback"
**What happened (please include outputs or screenshots)**:

`
def rollback(self,namespace,name,version):
    try:
        rollbackto=client.AppsV1beta1RollbackConfig(revision=version)
 body=client.ExtensionsV1beta1DeploymentRollback(api_version="extensions/v1beta1",name=name,kind="DeploymentRollback",rollback_to=rollbackto)
        res=self.extensions_v1beta1.create_namespaced_deployment_rollback(