[2019-05-22 06:23] zou000 commented on #756
We would like to have this feature too.

[2019-05-22 08:12] tomplus commented on #836
Which version of the library do you use? It's important because starting from 9.0.0 there are some memory optimizations.

[2019-05-22 09:29] tomplus commented on #828
You got the error: `User \"105891298249047556640\" cannot create ingresses.extensions in the namespace \"dev-students\"`, so it's not a problem with the library but permissions on the cluster side.

[2019-05-22 10:05] tomplus commented on #834
Interesting, it works for me and I also have more fields

[code]

could you check if this attribute is set by printing it directly:

[code]

[2019-05-22 10:48] tomplus commented on #794
I think this library may have a problem with working with gevent. Could you check how it works with different `--worker-class`?

[2019-05-22 11:49] juliohm1978 commented on #834
Here's the simplest example I'm running.

[code]

This is the output.

[code]

If I replace the print line:

[code]

Here's the output:

[code]

I forgot to mention, my kubectl config is connecting to a [local k3s cluster](https://k3s.io/), which is a lightweight Kubernetes all-in-one binary.

But I'm not sure if this is really making any difference, since it's possible to see `"reclaimPolicy":"De

[2019-05-22 11:52] juliohm1978 commented on #834
I hit the "Close" button by accident. Sorry.

[2019-05-22 11:54] tusharsappal commented on #836
Hey @tomplus  I am using 9.0.0 .

[2019-05-22 12:00] machine424 opened #837 "list_pod_for_all_namespaces when accessing all namespaces isn't possible."
running `list_pod_for_all_namespaces` will raise an exception if the user doesn’t have permission to list or get resources in some or all namespaces, is it possible to bypass this and make the API return only pods in accessible namespaces?

[2019-05-22 12:23] tomplus commented on #837
AFAIK it's not possible. If you have enough permissions you can list all namespaces and iterate over them to list pods.

[2019-05-22 12:36] tomplus commented on #834
Thankfully there is the reopen button too ;)

You get the error `AttributeError: 'V1StorageClass' object has no attribute 'reclaim_policy'`. But this attribute is defined here: https://github.com/kubernetes-client/python/blob/5e512ff564c244c50cab780d821542ed56aa965a/kubernetes/client/models/v1_storage_class.py#L283 as a `@property`. It looks like your python or installed libraries interfere with i

[2019-05-22 13:01] juliohm1978 commented on #834
Sure.

[code]

[2019-05-22 13:04] juliohm1978 commented on #834
python -v

[code]

[2019-05-22 13:34] tomplus commented on #834
It looks like your list of libraries is from python2, for example Cheetah==2.4.4 is for py2 only. Can you try to create virtualenv with python3 and required libraries and try to test it again. You can share output from `pip freeze` from the virtualenv. It helps me to try to reproduce problem on my pc.

[2019-05-22 23:11] njfix6 commented on #794
@tomplus  Would you recommend any? I will try "sync" otherwise.

[2019-05-23 00:11] njfix6 commented on #794
I just tested it and it seems to be working with "sync". I guess it only is broken for gevent? Very weird.

[2019-05-23 02:13] juliohm1978 commented on #834
Ok, I managed to run the script inside [the official Docker image](https://hub.docker.com/_/python) using python:3.7.3-strech and it does work as expected. That's good news.

I'm closing this issue because it's clear now that my machine has conflicting python libraries installed. I'll have to manage to uninstall and reinstall all of python libs somehow.

Thank you for the help, @tomplus !

[2019-05-23 02:13] #834 closed

[2019-05-23 19:46] roycaihw commented on #525
/cc @roycaihw

[2019-05-24 01:38] LTMenezes commented on #616
Can I work on this issue? @mbohlool

[2019-05-24 14:41] ketchoop commented on #354
/close

[2019-05-24 14:41] #354 closed

[2019-05-24 14:49] lvs071103 opened #839 "why cluster_name is None"
code:
[code]

output:

[code]

api_version is None
kind is None
cluster_name is None
why ?  someone explain this?

[2019-05-24 16:32] tomplus commented on #839
It's a known problem - API-server doesn't return these information. Discussion: https://github.com/kubernetes/kubernetes/issues/3030

[2019-05-26 15:26] benley commented on #195
/remove-lifecycle rotten

[2019-05-26 15:27] benley commented on #195
It appears this may be addressed via https://github.com/kubernetes-client/python-base/pull/48; should this issue be closed?

[2019-05-26 15:28] benley commented on #368
It appears this may be addressed via kubernetes-client/python-base#48; should this issue be closed?

[2019-05-26 16:49] dgvigil commented on #30
This is still a valid feature request for the community. Commenting to keep it alive.

[2019-05-27 03:13] ignertic commented on #599
/remove-lifecycle rotten

[2019-05-27 08:39] Anurag2408 commented on #553
I am also facing the same issue. When is plan to fix is permanently?

[2019-05-27 13:36] Bezbran opened #841 "Make the objects hashable"
When using lists of volumes or environment variables, it is useful to convert them to [sets](https://docs.python.org/3.6/library/stdtypes.html#set-types-set-frozenset) and call functions like intersection.
This operation requires the objects to be [hashables](https://docs.python.org/3.6/glossary.html#term-hashable).
TNX

[2019-05-28 14:08] avisrivastava254084 commented on #409
Even after applying all the standard configurations and examples, applying the solutions of @scher200 , I am getting a bad request.
My code:
[code]

The traceback is:
[code]

[2019-05-28 15:33] avisrivastava254084 opened #842 "Unable to exec in a pod using kubernetes-cli in Python even after using stream api"
I am following the [official documentation](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#connect_get_namespaced_pod_exec) and to my surprise, the request just won't work.

I tried reading multiple questions and answers but in vain. I had set `stream` api to use but the error did not go away.

My code is:
[code]

I want the command to run but instead, I am fa

[2019-05-28 15:34] avisrivastava254084 commented on #842
Any help @roycaihw @dims @micw523 @djkonro
Sorry for direct tagging, need some urgent help. Would be grateful to you guys.
Thanks!

[2019-05-28 17:13] drnarahari commented on #521
This did not work for me. Still get `urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='XXX.XX.XX.XX', port=XXXX): Max retries exceeded with url: /api/v1/pods?watch=False (Caused by SSLError(SSLError(336265225, u'[SSL] PEM lib (_ssl.c:2718)'),))`

[2019-05-28 21:37] machine424 commented on #837
Thank you for your response, I've already thought about that, but in case of many namespaces (if we can list them all) it will be slow, I was wondering if there is another method where the API uses its knowledge of the Roles of the client to list pods only in accessible namespaces. I think the API doesn't provide that for the moment.

[2019-05-28 22:15] #837 closed

[2019-05-29 20:44] surbas commented on #819
I think this is actually related to #700 and #693 and is expected. Just ran into this myself...
the correct solution is outlined in that issues history.

This document describes how one should use watch.
https://kubernetes.io/docs/reference/using-api/api-concepts/#efficient-detection-of-changes

One line in that doc is etcd by default is set to remember 5 mins of resourceVersions... I bet this is

[2019-05-30 08:19] neliel123 opened #843 "Python: Handling Watch Stream Exception"
have this code that is implemented as a thread as a watch component.

[code]
But sometimes for some reason, I am getting below exception

[code]
Currently I am catching the APIException and let it pass...I am just wondering what should be the proper way to handle this?
Should I stop the watch object and then create a new watch object?

I don't exactly know how to reproduce the error as it seems to

[2019-05-30 22:43] igor47 commented on #756
as recommended in [this medium article](https://medium.com/programming-kubernetes/building-stuff-with-the-kubernetes-api-part-3-using-python-aea5ab16f627) i found that i can get around this by using [Pint](https://pint.readthedocs.io/en/0.9/). you do have to add a `B` character to the unit description to make it parseable by pint:

[code]

[2019-05-31 03:18] 1032231418 commented on #823
1.Create roles
	# mkdir -p  role
	# cd  /role

	# vi CreateServiceAccount.yaml
	apiVersion: v1
	kind: ServiceAccount
	metadata:
	  name: admin-user
	  namespace: kube-system

2.Role authorization
	# vi RoleBinding.yaml
	apiVersion: rbac.authorization.k8s.io/v1beta1
	kind: ClusterRoleBinding
	metadata:
	  name: admin-user
	roleRef:
	  apiGroup: rbac.authorization.k8s.io
	  kind: ClusterRole
	  name

[2019-06-02 09:04] hightoxicity commented on #550
I managed to pass the full cert bundle (my own external to kube root ca + kube intermed ca generated under the first one), that is now contained into /var/run/secrets/kubernetes.io/serviceaccount/ca.crt of my running pods.
I did it thanks to the --root-ca-file parameter of the kube-controller-manager (https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/)

But

[2019-06-02 21:47] lalo commented on #768
After taking a second look, it seems that there is no need to modify OpenApi generator, since the request method already has a way to modify the headers. https://github.com/kubernetes-client/python/blob/6d4587e18064288d031ed9bbf5ab5b8245460b3c/kubernetes/client/rest.py#L118

My take is that we should/could be able to set it to ```'connection': 'keep-alive'```, thoughts?

[2019-06-03 03:53] cometta commented on #818
I can't find method list_namespace_job . Does it exist?  @luisdavim , where did you get values for 'group' and 'plural' ? I can't find it in kubectl describe <job-name> .

[2019-06-03 09:08] 1032231418 opened #847 "Get the start time of pod"
How to get the start time of pod?
[code]

[2019-06-03 09:12] 1032231418 commented on #847
[code]

[2019-06-03 09:16] tomplus commented on #847
Do you have `start_time` defined in [V1PodStatus](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1PodStatus.md) empty?

[2019-06-03 09:38] 1032231418 commented on #847
I haven't set this. Where do I define this?

[2019-06-03 09:43] tomplus commented on #847
In your code `i.status` is an instance of V1PodStatus so you can add something like this:
[code]

[2019-06-03 09:47] 1032231418 commented on #847
The pod runs for 47 minutes, but it's not getting the right time.

[code]
[code]

[2019-06-03 09:52] 1032231418 commented on #847
Find the problem. It's the wrong time zone.

[2019-06-03 10:12] 1032231418 commented on #847
Start-up time, processing method

[code]

[2019-06-03 10:51] #847 closed

[2019-06-03 21:59] whw commented on #788
Did you ever get an answer to this?

[2019-06-04 05:18] luisdavim commented on #818
The method I'm reporting on is `list_namespaced_custom_object`

[2019-06-04 13:47] phracek commented on #842
Is there any chance to get RC of the command executed in POD?
I would like to check if the command was successful or not.
Like `$?` in bash.

[2019-06-05 03:37] alfredn commented on #773
bump

[2019-06-05 04:37] hirenvadalia commented on #547
Any update on this? I am also facing this issue with v9.0.0 of the client.

[2019-06-05 08:33] 1032231418 opened #849 "Get deletion status information for pod"
[code]
I have several container status information here.
I want to judge their status, but I can't judge Terminating status from interface.

[2019-06-05 08:39] tomplus commented on #849
It's hidden in a metadata in the `deletion_timestamp` attribute: https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1ObjectMeta.md

[2019-06-05 08:42] 1032231418 commented on #849
Thank you, but how do I get this information?

[2019-06-05 08:46] tomplus commented on #849
Something like this:
[code]
should work.

[2019-06-05 08:46] 1032231418 commented on #849
Thank you for your reply. I found it.
running  pod :
              'deletion_timestamp': None,
Terminating pod:
               'deletion_timestamp': datetime.datetime(2019, 6, 5, 8, 23, 4, tzinfo=tzutc()),

[2019-06-05 08:58] #849 closed

[2019-06-05 14:30] yanivoliver commented on #585
/remove-lifecycle stale

[2019-06-05 22:08] kareem-elsayed commented on #842
I have the same issue also

[2019-06-06 07:25] tomplus commented on #843
Hi @neliel123
As you said the reason is unknown so I suggest to log an exception with a stack trace and then start watching it again. If you don't recreate the `Watch` you will start to stream from the last processed event.

[2019-06-06 08:44] phracek commented on #842
Adding to CC @TomasTomecek

[2019-06-06 08:45] tomplus commented on #842
@avisrivastava254084 The official documentation is auto-generated from the spec and in many places are not helpful at all (ref: https://github.com/kubernetes-client/python/issues/601).

In your code I see that you try to pass output from the api_instance.connect_post_namespaced_pod_exec to the `stream()` instead of passing the function as an argument which the `stream()` will call for you.

[code]

[2019-06-06 08:58] tomplus commented on #817
It will be fixed by https://github.com/kubernetes-client/python/pull/848

[2019-06-06 09:09] tomplus commented on #825
Could you write more about your use case? The target attribute is mandatory in this model.

[2019-06-06 09:10] tomplus commented on #842
@phracek it's been already reported: https://github.com/kubernetes-client/python/issues/812

[2019-06-06 09:37] tomplus commented on #812
@oz123 The error code arrives in the channel number 3 (error-channel) but it is not exposed by the stream() method.

As a workaround you can use:
[code]

and you should get
[code]

I'm going to add a method to get it in more convenient way.

[2019-06-06 09:45] phracek commented on #812
CC @TomasTomecek

[2019-06-07 00:40] Eronarn commented on #741
Calling `config.load_kube_config()` again doesn't seem to recreate a token in my case, even though the corresponding kubectl command would have automatically done so. So I think there's some staleness check here that isn't actually occurring.

[2019-06-11 02:57] gjpei2 opened #851 "use for as a json key is not support"
i am using client python to control my prometheus-operator
in prometheusrule,there is a key name "for",is used to set alert time
as we known,'for' is a function in python ,as the python client design，the json key must be a function like as follows:
@property
def record(self):
        return self._record
@record.setter
def record(self, record):
    self._record = record

but in python ,"for" can't

[2019-06-11 03:01] gjpei2 opened #852 "k8s python client control operator meet some erro"
What did you do?
i am using k8s python client to control prometheus-operator,there are some promblem when create prometheusrule.
Did you expect to see some different?
can get a successful response
Environment
centos 7.3 ;python2.7

Prometheus Operator version:
v0.29.0
Insert image tag or Git SHA here

Kubernetes version information:
1.10
kubectl version

Kubernetes cluster kind:
kubeadm
insert how

[2019-06-11 03:04] czz253861763 commented on #36
from kubernetes.client import configuration
config.load_kube_config()
configuration.assert_hostname = False

this works fine for me

[2019-06-11 06:31] gjpei2 commented on #852
i find a space cause this promblem ,dict(str, str) is right,dict(str,str) is wrong.

close this issue

[2019-06-11 06:34] gjpei2 commented on #852
i want to know the reason

[2019-06-11 14:07] pigletfly commented on #519
/close

[2019-06-11 14:07] #519 closed

[2019-06-12 11:01] wuchenzh opened #853 "V1PodSpec set image_pull_secrets not work"
V1Deployment(
            metadata={
                'name': self.name,
                'labels': {
                    'app': self.name
                },
            },
            spec={
                'replicas': int(self.replicas),
                'selector': {
                    'matchLabels': {
                        'app': self.name
                    }
                },

[2019-06-13 02:59] wuchenzh commented on #853
it seems use dict not work but use V1PodSpec func work fine

[2019-06-13 02:59] #853 closed

[2019-06-13 11:24] nielsole commented on #387
Still the scond-most requested feature:
/remove-lifecycle rotten

[2019-06-14 10:49] ioandr commented on #431
Hi @gdmello any update on this?

Just bumped into the exact same issue when using the Python client to create a validation webhook for custom resources on Kubernetes.

[2019-06-14 14:12] greg9702 commented on #825
I'm trying to create my own scheduler, started with random scheduler example found in net and edited it a bit.

[code]
Here is my code, It looks like it tries to schedule pods which was already scheluded.

this line throws exception that target is null, while it isn't. (Printed this for debug purposes)
Before it throws this exception it sucesfully schelude one pod from queue and then crash.
When I

[2019-06-14 19:20] gdmello commented on #431
@ioandr: None, there was no response to this issue. JSON parsing is the only approach atm afair.

[2019-06-17 17:15] davidxia commented on #784
/remove-lifecycle stale

[2019-06-17 23:45] jfrabaute commented on #754
We are having the same issue with a standard GKE cluster.
The kube config has "cmd-path" and the client is failing to refresh the access token.
Exception raised is:
[code]

Is there a plan to make this python client with with "cmd-path"?

[2019-06-18 00:06] jfrabaute commented on #754
/remove-lifecycle rotten

[2019-06-18 15:06] goddenrich commented on #636
/remove-lifecycle rotten

[2019-06-18 20:23] #781 closed

[2019-06-19 04:07] r0fls commented on #525
Is there a workaround? :thinking:

[2019-06-19 04:09] r0fls commented on #525
Is there any workaround? :thinking:

[2019-06-19 22:47] roycaihw commented on #525
fixed in https://github.com/kubernetes-client/python-base/pull/79

[2019-06-19 22:47] #525 closed

[2019-06-20 00:52] #48 closed

[2019-06-20 01:53] #109 closed

[2019-06-20 03:55] #38 closed

[2019-06-20 04:56] #118 closed

[2019-06-20 05:57] #163 closed

[2019-06-20 07:59] #209 closed

[2019-06-20 08:34] dee-me-tree-or-love commented on #722
Friendly bump, is this still on the review? :)

[2019-06-20 10:01] #219 closed

[2019-06-20 10:01] #235 closed

[2019-06-20 11:03] #237 closed

[2019-06-20 11:03] #255 closed

[2019-06-20 11:03] #240 closed

[2019-06-20 11:57] oz123 commented on #722
@dee-me-tree-or-love @micw523 hasn't had any public activity since March, and I would appreciate it if we could merge this PR. It's been rotting here, and since  I can't merge this one, I put many other contributions on hold.

[2019-06-20 12:03] #276 closed

[2019-06-20 13:04] #291 closed

[2019-06-20 15:06] #66 closed

[2019-06-20 15:06] #226 closed

[2019-06-20 15:06] #295 closed

[2019-06-20 16:07] #127 closed

[2019-06-20 16:07] #303 closed

[2019-06-20 16:08] richstokes commented on #728
Still an issue

[2019-06-20 17:08] #311 closed

[2019-06-20 18:09] #313 closed

[2019-06-20 19:10] #321 closed

[2019-06-20 20:11] #332 closed

[2019-06-20 21:12] #337 closed

[2019-06-20 21:40] BenElgar commented on #166
Just to clarify, does this mean port forwarding is not currently supported?

[2019-06-20 22:04] micw523 commented on #166
/remove-lifecycle rotten

[2019-06-20 22:04] micw523 commented on #166
That is correct. Port forwarding is not yet supported on this client.

[2019-06-20 22:13] #312 closed

[2019-06-20 22:13] #348 closed

[2019-06-20 22:13] #350 closed

[2019-06-20 22:13] #347 closed

[2019-06-20 23:14] #358 closed

[2019-06-21 00:15] #341 closed

[2019-06-21 00:15] #362 closed

[2019-06-21 00:15] #372 closed

[2019-06-21 00:15] #374 closed

[2019-06-21 01:16] #351 closed

[2019-06-21 02:17] #385 closed

[2019-06-21 05:20] #392 closed

[2019-06-21 05:20] #391 closed

[2019-06-21 07:22] #393 closed

[2019-06-21 07:22] #403 closed

[2019-06-21 08:23] #382 closed

[2019-06-21 10:25] #422 closed

[2019-06-21 10:25] #419 closed

[2019-06-21 12:27] #424 closed

[2019-06-21 14:29] #412 closed

[2019-06-21 15:30] #437 closed

[2019-06-21 16:31] #436 closed

[2019-06-21 16:31] #449 closed

[2019-06-21 19:05] viru9799 commented on #476
What’s this for, I’m just wondering.
Thanks.

[2019-06-21 19:34] #450 closed

[2019-06-21 19:34] #430 closed

[2019-06-21 19:34] #452 closed

[2019-06-22 00:39] #465 closed

[2019-06-22 01:40] #464 closed

[2019-06-22 01:40] #469 closed

[2019-06-22 01:40] #471 closed

[2019-06-22 03:42] #480 closed

[2019-06-22 05:44] #468 closed

[2019-06-22 05:44] #487 closed

[2019-06-22 05:44] #486 closed

[2019-06-22 05:44] #495 closed

[2019-06-22 06:45] #394 closed

[2019-06-22 06:45] #498 closed

[2019-06-22 06:45] #499 closed

[2019-06-22 07:46] #505 closed

[2019-06-22 10:49] #500 closed

[2019-06-22 10:49] #520 closed

[2019-06-22 11:50] #523 closed

[2019-06-22 13:52] #527 closed

[2019-06-22 14:53] #529 closed

[2019-06-22 14:53] #530 closed

[2019-06-22 14:53] #513 closed

[2019-06-22 18:57] #535 closed

[2019-06-22 19:58] #541 closed

[2019-06-23 00:02] #542 closed

[2019-06-23 01:03] #546 closed

[2019-06-23 02:04] #493 closed

[2019-06-23 07:09] #333 closed

[2019-06-23 07:09] #549 closed

[2019-06-23 08:10] #540 closed

[2019-06-23 08:10] #551 closed

[2019-06-23 08:48] #792 closed

[2019-06-23 10:12] #555 closed

[2019-06-23 11:13] #518 closed

[2019-06-23 11:13] #556 closed

[2019-06-23 11:13] #552 closed

[2019-06-23 12:14] #557 closed

[2019-06-23 12:14] #508 closed

[2019-06-23 12:14] #538 closed

[2019-06-23 17:19] #565 closed

[2019-06-23 18:20] #506 closed

[2019-06-23 18:20] #570 closed

[2019-06-23 21:23] #575 closed

[2019-06-23 21:23] #561 closed

[2019-06-23 22:24] #429 closed

[2019-06-23 23:25] #586 closed

[2019-06-23 23:25] #564 closed

[2019-06-23 23:25] #194 closed

[2019-06-24 04:30] #597 closed

[2019-06-24 06:32] #528 closed

[2019-06-24 10:21] Jonathan-7 opened #857 "config is not a dir"
I tried installing via pip and when importing `config `got this error:
`No name 'config' in module 'kubernetes'`

So I removed it and tried installing from source and got this error:
`error: supposed package directory 'kubernetes\config' exists, but is not a directory`

Cloning into 'python'...
remote: Enumerating objects: 42706, done.
remote: Total 42706 (delta 0), reused 0 (delta 0), pack-reused

[2019-06-24 10:36] #490 closed

[2019-06-24 18:43] #627 closed

[2019-06-24 19:44] #612 closed

[2019-06-24 20:45] #253 closed

[2019-06-24 21:46] #334 closed

[2019-06-24 22:47] #559 closed

[2019-06-25 04:53] #625 closed

[2019-06-25 05:54] #646 closed

[2019-06-25 06:55] #638 closed

[2019-06-25 06:55] #618 closed

[2019-06-25 06:55] #644 closed

[2019-06-25 07:56] #496 closed

[2019-06-25 08:55] liwandaniel commented on #696
/close

[2019-06-25 08:55] #696 closed

[2019-06-25 08:57] #653 closed

[2019-06-25 09:58] #533 closed

[2019-06-25 10:59] #656 closed

[2019-06-25 12:00] #654 closed

[2019-06-25 12:12] tomplus commented on #819
@nolar Thanks for your investigation. I did some tests and I can confirm that it works as you write. 'Watch' should get a list of object to start watching with the proper version. In the same way kubectl's watch works. Let me know if you need help with implementing it.

[2019-06-25 14:40] whilerediculous opened #858 "client.AppsV1Ap create_namespaced_deployment version error"
I use client.AppsV1Ap to create deploy,return error info as follow, the error info report apiVersion is v1 and !!!??? what happend
body:'{"kind":"Status","apiVersion":"v1"

message:''
reason:'Bad Request'
status:400

[2019-06-25 14:42] whilerediculous commented on #858
when i use kubectl  create  -f   thisdeploy.yaml ,it all reght

[2019-06-25 15:03] #329 closed

[2019-06-25 16:04] #376 closed

[2019-06-25 16:04] #566 closed

[2019-06-25 16:04] #274 closed

[2019-06-25 16:04] #229 closed

[2019-06-25 16:04] #228 closed

[2019-06-25 16:04] #629 closed

[2019-06-25 16:04] #368 closed

[2019-06-25 17:05] #128 closed

[2019-06-25 17:05] #165 closed

[2019-06-25 17:05] #252 closed

[2019-06-25 17:06] #188 closed

[2019-06-25 19:37] mml commented on #30
/reopen

[2019-06-25 20:09] #622 closed

[2019-06-25 20:09] #584 closed

[2019-06-25 20:53] dgvigil commented on #30
/remove-lifecycle rotten

[2019-06-25 21:10] #680 closed

[2019-06-25 23:12] #684 closed

[2019-06-25 23:12] #645 closed

[2019-06-26 00:13] #688 closed

[2019-06-26 05:18] #492 closed

[2019-06-26 05:18] #692 closed

[2019-06-26 07:20] #22 closed

[2019-06-26 07:20] #516 closed

[2019-06-26 09:22] #52 closed

[2019-06-26 11:24] #695 closed

[2019-06-26 15:28] #609 closed

[2019-06-26 18:31] #702 closed

[2019-06-26 20:33] #628 closed

[2019-06-26 21:30] tbarrella commented on #765
/remove-lifecycle stale

[2019-06-26 22:34] #711 closed

[2019-06-26 22:34] #679 closed

[2019-06-27 00:36] #536 closed

[2019-06-27 05:41] #328 closed

[2019-06-27 06:42] #678 closed

[2019-06-27 07:50] vinzent opened #859 "Certifi overrides system CA config on RHEL/CentOS"
For RHEL/CentOS users using certifi like here https://github.com/kubernetes-client/python/blob/master/kubernetes/client/rest.py#L77 will forcefully override system provided CA configuration and reset it to the Mozilla CA pem. Missing any internal CA certs and thus failing with CERTIFICATE_VERIFY_FAILED errors.

See also: https://github.com/openshift/openshift-restclient-python/issues/198

[2019-06-27 14:50] #409 closed

[2019-06-27 16:52] #701 closed

[2019-06-27 17:53] #729 closed

[2019-06-27 17:53] #731 closed

[2019-06-27 19:55] #390 closed

[2019-06-27 19:55] #683 closed

[2019-06-27 21:57] #709 closed

[2019-06-28 02:01] #517 closed

[2019-06-28 04:03] #737 closed

[2019-06-28 13:05] zrks opened #860 "Python3.7 binascii.Error: Incorrect padding on configuration loading"
[code]

Could someone apply fix for this and release?

[2019-06-28 20:18] #703 closed

[2019-06-28 23:18] ltagliamonte-dd commented on #860
I'm having the same problem, it comes from the python-client submodule.
i believe if should be updated and create a release of this module.
related to: https://github.com/kubernetes-client/python/issues/525

[2019-06-29 18:39] #690 closed

[2019-06-30 04:41] wing328 commented on #768
@lalo Sure, we can use this method for the time being.

[2019-07-01 08:57] zrks commented on #860
@ltagliamonte-dd Fix is something like:
[code]
However would be great to release this fix.

[2019-07-01 13:21] #743 closed

[2019-07-01 17:25] #745 closed

[2019-07-02 09:41] #550 closed

[2019-07-02 12:43] rodrigovalin opened #862 "patch_namespaced_custom_object only accepts `merge-patch+json` patch type"
The `patch_namespaced_custom_object` function will only accept patches of type `merge-patch+json` as can be seen in here:

https://github.com/kubernetes-client/python/blob/master/kubernetes/client/apis/custom_objects_api.py#L2038

It should also be possible to specify a `json-patch+json` object, that is what `kubectl patch` uses.

[2019-07-02 12:54] tomplus commented on #862
It's already fixed here: https://github.com/kubernetes-client/gen/pull/119 and it should be generated in the next release of the library.

[2019-07-02 14:22] yashbhutwala opened #863 "Add logic to wait for conditions to be true"
Functionality similar to [`kubectl wait --for-condition=ready pod -l=labels`](https://github.com/kubernetes/kubernetes/issues/1899)

Function here in kubernetes e2e test framework is good for reference as well: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/pod/wait.go#L111

[2019-07-03 07:16] TomasTomecek commented on #602
Having the same issue: https://github.com/packit-service/sandcastle/issues/23

[2019-07-03 12:54] varac commented on #723
Works with https://github.com/kubernetes-client/python/releases/tag/v10.0.0a1

[2019-07-04 11:54] nolar opened #866 "Unsupported Media Type (HTTP 415) when patching custom resources"
## Actual behaviour

v10.0.0 was released this night. Since then, custom resource patching is broken:

HTTP 415 "Unsupported Media Type" when patching the custom resources.

[code]

When tracing step by step, the actual Content-Type used is `application/json-patch+json`, which should match the supported types from the error message.

There is no way to control Content-Type from the user side, i.e.

[2019-07-04 14:58] nolar commented on #866
Found the root cause:

With 9.0.0, the type was `application/merge-patch+json`.
With 10.0.0, it is `application/json-patch+json`.

The `select_header_content_type()` method [choses the first content type](https://github.com/kubernetes-client/python/blob/v10.0.0/kubernetes/client/api_client.py#L498) from a list of available. The content is not checked:

[code]

The CustomObjectsApi [feeds it with t

[2019-07-04 19:23] koder-ua commented on #589
File "/home/koder/workspace/ceph-kaas-controller/ceph_controller/__main__.py", line 344, in set_node_labels
    for node in core_api.list_node().items:
  File "/home/koder/workspace/venvs/k8s/lib/python3.7/site-packages/kubernetes/client/apis/core_v1_api.py", line 13392, in list_node
    (data) = self.list_node_with_http_info(**kwargs)
  File "/home/koder/workspace/venvs/k8s/lib/python3.7/site-pac

[2019-07-06 17:22] #124 closed

[2019-07-06 18:24] #448 closed

[2019-07-06 19:14] fishercht1995 commented on #825
I meet same issues. Did you figure it out?

[2019-07-08 07:09] abigbigbird opened #867 "Connection reset by peer"
python: 2.7.5

code
`from kubernetes import client, config, watch

def main():
    config.load_kube_config()

    v1 = client.CoreV1Api()
    print("Listing pods with their IPs:")
    w = watch.Watch()
    for event in w.stream(v1.list_pod_for_all_namespaces):
        print("Event: %s %s %s" % (event['type'],event['object'].kind, event['object'].metadata.name))
`
Traceback (most recent call last):

[2019-07-08 07:46] #867 closed

[2019-07-08 11:52] #862 closed

[2019-07-08 19:09] alanjcastonguay opened #868 "Implement an Informer in python-client"
client-go has an Informer implementation. Internally it leverages a watcher of some collection of resources, continually streams changes (add/modify/delete events), reflects the resources into a downstream store (cache), handles connectivity drops, and periodically does a full resync. This all happens on some background thread (goroutine). A client of the informer is free to iterate over that stor

[2019-07-08 19:11] alanjcastonguay commented on #868
Philosophical consensus: _should_ the openapi-generated client libraries contain implementations of higher-level abstractions like this?

[2019-07-08 19:26] alejandrox1 commented on #868
/cc

[2019-07-09 12:18] rfum opened #869 "watch.Watch().stream(custom_resource,...) generator cannot recover itself after broken connection recovery with k8s api."
At version 8.0.0 the library throws the following error messages continuously when the api server goes offline. They are written into stdout or stderr(but not throwing exception for sure) so I cannot handle the error from the code.
[code]
[code]

After we recover the k8s api server, `stream()` python generator is stoping to watch changes on the k8s api. In order to make my code work, I'm manually

[2019-07-09 17:27] roycaihw commented on #866
/assign

[2019-07-09 17:44] yliaog commented on #863
/cc

[2019-07-09 20:04] roycaihw commented on #869
this is a known issue that watch by itself doesn't handle connectivity drops. https://github.com/kubernetes-client/python/issues/868 is tracking adding informer support to the python client which would address multiple use cases including this one

I think the error happens here: https://github.com/kubernetes-client/python-base/blob/95858d5ce843e98d65a327f3099cd0b6cdf119fc/watch/watch.py#L142.

[2019-07-10 08:21] rfum commented on #869
Thanks for the response.
I also have a log from the underlying `urllib3` library. It might also have a few contributions to the exception handling problem.
[code]

[2019-07-10 10:05] rfum opened #870 "kubernetes.config.new_client_from_config() is not possible to pass serialized or deserialized yaml objects."
Hi There,
If I want to pass a yaml object which is serialized to a python dictionary,string or python object, I cannot achieve with the current implementation of `new_client_from_config()` I need to write down every kubeconfig data (which is a secret data) into a file and than need to give it's path in order to get a client instance. This is increasing the complexity and hardware dependencies of m

[2019-07-10 11:01] caruccio opened #871 "Discover api classes"
Hi.

There are an canonical way to use `client.ApisApi().get_api_versions().preferred_version` to import `kubernetes.client.*Api`?

Something in this line:

[code]

[2019-07-11 13:11] #802 closed

[2019-07-11 17:22] nollimahere commented on #553
for those of us trying to communicate with the GKE api (and thus don't have access to the api definition to modify it our own local k8s installations), adding an annotation in the metadata is enough to get past this issue.

resource_hpa['metadata']['annotations'] = { "autoscaling.alpha.kubernetes.io/conditions": "[ {\"type\":\"ScalingLimited\",\"status\":\"True\",\"reason\":\"TooFewReplicas\",\"me

[2019-07-12 01:28] #753 closed

[2019-07-12 07:10] cogfor commented on #740
/remove-lifecycle stale

Is there any progress on this? Any workaround that works?

[2019-07-12 10:37] #735 closed

[2019-07-12 12:31] simondh opened #872 "error in create_namespaced_job 'property' - object has no attribute 'swagger_types'"
error in create_namespaced_job
'property' object has no attribute 'swagger_types'

I have traced this to an error in /kubernetes/client/api_client.py, sanitize_for_serialization, where the recursion calls this function to 'sanitize' a single entity of type Property. This falls through to the obj_dict comprehension, where it bombs as the object has no .swagger_type attibute.
I have fixed it locally

[2019-07-12 15:16] juliantaylor commented on #740
the PR is still waiting for review by a developer unfortunately.
As a workaround you can do this:

[code]

[2019-07-12 15:23] MiyKh opened #874 "Deleting CRD"
Hello,

When I try to delete a CRD definition with delete_cluster_custom_object, it keeps ask me for namespace:

[code]
[code]

Do I miss something?

[2019-07-12 16:37] dharmab opened #875 "Suggestion: Raise default connection pool size from 1 to 10"
The default maximum connection pool size in urllib3 is a very low value of 1: https://urllib3.readthedocs.io/en/1.4/pools.html#api

Many popular libraries use a saner default. For example, `requests` uses a default of 10.

Connection pooling enhances performance on both the client and server, so using a sane default is a responsible choice. While the user can override the connection pool size in t

[2019-07-13 07:16] krichter722 opened #876 "Examples don't work with Python 2 or 3"
Running the examples from https://github.com/kubernetes-client/python/tree/master/kubernetes#getting-started as follows (linked installation instructions included) fails due to

[code]

experienced on Ubuntu 19.04 with Python 3.8 and 2.7

[2019-07-13 15:45] krichter722 opened #877 "Correct Kubernetes incubator information in README"
[The README states that this project is an Kubernetes incubator project](https://github.com/kubernetes-client/python#kubernetes-incubator), however [the Kubernetes incubator README states that the incubator project is deprecated](https://github.com/kubernetes/community/blob/master/incubator.md).

[2019-07-14 08:22] #759 closed

[2019-07-14 19:33] #431 closed

[2019-07-15 00:38] #704 closed

[2019-07-15 05:43] #762 closed

[2019-07-15 08:42] 1032231418 opened #878 "connect_get_namespaced_pod_exec"
hi:

Return data, terminal size, with parameters to set?
My terminal can't fill the entire page

[2019-07-15 08:43] 1032231418 commented on #878
[code]

[2019-07-15 23:23] mathnitin opened #879 "get all yamls based on a label selector"
I am looking for the equivalent apis in python kubernetes client. Can anyone please provide any pointers.

1. kubectl get all --all-namespaces --selector name=foo -o yaml --export > foo.yaml
2. kubectl delete -f foo.yaml
... (Modify the yaml file)
3. kubectl create -f foo.yaml. <-- For this i did find utils.create_from_yaml

[2019-07-16 03:11] michael-burt opened #880 "Deleting Deployments - Inconsistent behavior between CLI and Python API"
In `kubectl`, I can delete a deployment using `kubectl delete deployments/some_deployment`

In the Python client, I can also delete a deployment, using something like [this](https://github.com/kubernetes-client/python/blob/master/examples/deployment_examples.py).

In the `kubectl` CLI, when I delete a deployment, it removes the associated pods and ReplicaSet. In the Python client, it only deletes

[2019-07-16 11:15] torquerrr commented on #817
@tomplus Still not merged, unfortunately. But at least we have an updated example, thanks :)

[2019-07-16 17:43] roycaihw commented on #870
cc @yliaog

[2019-07-16 17:44] roycaihw commented on #871
cc @yliaog

[2019-07-16 17:46] roycaihw commented on #872
/cc

[2019-07-16 17:52] scottilee commented on #877
I'll fix this. I'll have a pull request later tonight. Thanks for the catch @krichter722.

[2019-07-16 17:54] roycaihw commented on #879
cc @yliaog

[2019-07-16 18:09] scottilee opened #882 "Python Client Documentation Site Needs Updating"
The Python Kubernetes Client documentation site (https://kubernetes.readthedocs.io/en/latest/) is out-of-date and could use better attention to formatting.

Per our discussion in the Python Client meeting this morning please investigate:

- if someone is working on developing or replacing this site
- if auto-generation of the site is broken or needs to be setup

cc @roycaihw

[2019-07-16 18:13] roycaihw commented on #874
@MiyKh Are you trying to delete a CRD or a CR? CRDs are cluster-scoped, meaning they don't have namespaces. The delete_cluster_custom_object api is used for deleting a CR object.

[2019-07-16 18:14] roycaihw commented on #876
This README is auto-generated by swagger-codegen which might miss some Kubernetes-specific context (e.g. loading kubeconfig). I'd suggest starting with the manually maintained examples: https://github.com/kubernetes-client/python/tree/master/examples

[2019-07-16 18:14] yliaog commented on #879
below are the steps taken by kubectl:
1. Read the file
2. Split it into 1 or more objects
3. For each object, decode it, look at its apiVersion and kind to determine the resource URL to submit it to
4. Post the content for that object to that resource URL

below are some pointers to cli-runtime and client-go, you may switch to use python client library, or implement the equivalent function in pyth

[2019-07-16 18:15] #876 closed

[2019-07-16 18:16] yliaog commented on #871
what problem do you see in the sample code provided?

[2019-07-16 18:17] roycaihw commented on #878
Could you try configuring your terminal rendering size, or redirect the python client output to a file? I don't see it's a problem in the stream client itself.

[2019-07-16 18:17] #878 closed

[2019-07-16 18:20] yliaog commented on #870
depending on what is your particular use case, you may pass around the object through RPC if it crosses processes, alternative to using file system.

[2019-07-16 18:39] krichter722 commented on #876
This is not a solution to the problem. At least include a hint that examples shown in the README might not work into the auto-generation.

[2019-07-16 19:47] roycaihw commented on #880
Removing the associated resources happens in server side. It's done by the garbage collector who looks at the owner reference and the propagation_policy. I checked `kubectl delete deployments/some_deployment  --v=8` and it used `propagationPolicy: Background`, but I think `propagation_policy='Foreground'` used by the example should also trigger deletion of the pods and RSs.

ref https://kubernetes

[2019-07-16 20:41] roycaihw commented on #871
sounds like you want to create API class objects from the discovery API. Currently the discovery API gives you the basic API group version info:
[code]

and you want to map them to e.g.
[code]

the upcoming [dynamic client](https://github.com/kubernetes-client/python-base/pull/56) could be one way if you want to talk to all the APIs from a live discovery doc dynamically

[2019-07-16 21:10] roycaihw commented on #872
thanks for the report!

I looked at `k8-python-error.txt` and I'm not sure if it's a bug in `api_client.py`

I pulled together a small example mimicking the [k8s doc](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#running-an-example-job) and it worked for me:
[code]

[code]

[2019-07-16 21:19] caruccio commented on #871
@roycaihw dynamic client is exactly what I'm looking for. Just subscribed to it.

Closing this one for now.
Thanks a lot!

[2019-07-16 21:19] #871 closed

[2019-07-16 21:20] roycaihw commented on #872
perhaps we could add some examples like ^ given job creation with the python client is painful

ref https://github.com/kubernetes-client/python/issues/589
https://blog.pythian.com/how-to-create-kubernetes-jobs-with-python/

cc @scottilee

[2019-07-16 21:33] roycaihw commented on #589
/remove-lifecycle stale

for https://github.com/kubernetes-client/python/issues/589#issue-347117150, the error message is from apiserver as the request is invalid, job only supports `Never` or `OnFailure` as restart policy https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#writing-a-job-spec (although pod template has an option `Always`, it's not allowed in job)

I s

[2019-07-16 22:12] roycaihw commented on #875
May I ask are these [parameters](https://github.com/kubernetes-client/python/blob/da8c843bda7ebf03f53cdc95409e5543d2b2abd3/kubernetes/client/rest.py#L103-L104) what you're referring to? It seems that we are already using a PoolManager with num_pools and maxsize set to 4 by default, and the parameters are configurable. Also this code is auto-generated by code generator. So if it's a wide standard t

[2019-07-17 00:51] scottilee commented on #877
Pull request: https://github.com/kubernetes-client/python/pull/883.

[2019-07-17 07:28] scottilee commented on #877
Pull request was merged.

/close

[2019-07-17 08:10] scottilee opened #884 "Fix and Update Existing Examples"
The `*.py` files in the `examples/` directory need updates for various reasons. Some of them could also use better file names and more commenting within the files (alternatively, there could be a `README.md` that provides more information about setup and each file). Below are the files that I have tested and found issues for.

- [x] **create_deployment.py**: seems redundant with `deployment_exampl

[2019-07-17 08:20] rfum commented on #870
No, I only want to pass string or python dictionary instead of file path and interprocess communication is not my aim. There will be only one process in the picture.
I simply looking for a replacement of `kubernetes.config.new_client_from_config(config_path)` to `kubernetes.config.new_client_from_config(string_or_dict_config)`

[2019-07-17 14:18] TomasTomecek commented on #602
After being stuck on this for far too long, I was able to solve this by passing `_request_timeout=30.0` to stream(), can anyone verify?

[2019-07-17 14:36] 1032231418 commented on #878
The official client web terminal also has this problem，The terminal can only use half
![terminal](https://user-images.githubusercontent.com/5716348/61384461-3a42a700-a8e3-11e9-97e8-9950ee5c2498.png)

[2019-07-17 17:29] yliaog commented on #870
in that case, could you do it in two steps 1) deserialize the string 2) create a client from the result (of the deserialization)

[2019-07-17 18:21] micw523 commented on #882
Looks like we need a markdown engine for Sphinx. tbh if we convert the readme to rst this site should be working again.

@roycaihw , is this website automatically being deployed?

[2019-07-17 18:22] micw523 commented on #882
/cc

[2019-07-17 18:24] micw523 commented on #860
The fix should have been released in v10.

[2019-07-17 20:54] roycaihw commented on #866
Thanks for the detailed bug report. I see the `select_header_content_type` is not intelligent as I would expected.

kube-apiserver supports both JSON patch and JSON merge patch as content type for custom resources. The problem is `select_header_content_type` unconditionally puts the first type from the list into the HTTP header. So it used to be people using the python client can only use JSON pat

[2019-07-17 21:04] roycaihw commented on #877
@scottilee Thanks for fixing this.

/close

[2019-07-17 21:04] #877 closed

[2019-07-17 22:17] roycaihw commented on #882
Thanks for pointing this out. The site looks stale with v1.8 APIs, so I don't think it's automatically being deployed.

From the [original PR](https://github.com/kubernetes-client/python/pull/95/files#r95669875):
- the intention was to have the test catch out-of-date doc, but we aren't getting the signal from travis-ci
- either running test or a script should update the doc and allow the contribut

[2019-07-18 12:52] sebastian-philipp commented on #30
AFAICS, this is not trivial. `kubernetes.client.api_client.ApiClient#__call_api` is blocking.To this make any sense, a solution needs to use fewer threads than the number of watchers.

Then we need an event loop or something similar. Maybe https://github.com/urllib3/urllib3/issues/1323 ?
Therefore we cannot use `kubernetes.client.api_client.ApiClient#call_api` as it is.

Hm.

[2019-07-19 08:09] rfum commented on #870
Is it possible with the current API? If so would you please share an example snippet?

[2019-07-19 09:58] sebastian-philipp commented on #225
Ping? This is still annoying to have no auto completion in my IDE. Any chance of getting this in?

[2019-07-19 12:03] MiyKh commented on #874
I try to delete a CRD and not a CR.
The delete_cluster_custom_object api is designed for CR object but which one is for CRD?

[2019-07-19 16:44] roycaihw commented on #874
You are looking for [`delete_custom_resource_definition`](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/ApiextensionsV1beta1Api.md#delete_custom_resource_definition)

[2019-07-19 16:56] roycaihw commented on #884
This is awesome! Thanks for looking into the examples and putting together this summary.

Some additional thoughts:
- examples for creating jobs: https://github.com/kubernetes-client/python/issues/872#issuecomment-511988833, [the e2e test](https://github.com/kubernetes-client/python/blob/master/kubernetes/e2e_test/test_batch.py)
- creating, updating and deleting CRD and CR: https://github.com/kube

[2019-07-19 17:05] micw523 commented on #884
The ```create_deployment``` and ```create_deployment_from_yaml``` does the same thing except that the deployment is performed using different ways.

I wonder what's happening with the yaml deployment though. The source function for calling the yaml method should be the same.

[2019-07-19 17:05] micw523 commented on #884
/help-wanted

[2019-07-19 17:09] micw523 commented on #884
/help

[2019-07-19 20:32] #761 closed

[2019-07-20 16:51] #728 closed

[2019-07-20 16:56] richstokes commented on #728
/reopen - not sure why closing issues based on elapsed time is a thing.

[2019-07-21 00:59] #271 closed

[2019-07-21 19:17] #476 closed

[2019-07-22 12:34] #705 closed

[2019-07-22 16:58] MiyKh commented on #874
Thanks a lot for your help

[2019-07-22 17:16] #874 closed

[2019-07-22 23:14] roycaihw commented on #884
The yaml file models from https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#creating-a-deployment. It's probably something wrong with the container image 1.7.9. Please update the yaml file to be the same as https://k8s.io/examples/controllers/nginx-deployment.yaml

`Deployment` has been removed from `extensions/v1beta1` in [1.15](https://github.com/kubernetes/kubernetes/blob/ma

[2019-07-22 23:21] micw523 commented on #884
Sounds good. Looks like the e2e tests would need this update too. Let me quickly fix this today.

[2019-07-23 02:17] micw523 opened #890 "Test flake due to CPU requested in Travis CI"
See my personal build [here](https://travis-ci.org/micw523/python/jobs/562374061).

It seems that the default config requests 2 CPUs but sometimes Travis CI only provides 1. This behavior causes Minikube to crash and the py*-functional test would fail. We should request 1 CPU from minikube instead.

[2019-07-23 02:46] micw523 commented on #882
I was able to do something like this using our existing README after some exploration.
![readme](https://user-images.githubusercontent.com/13098656/61678894-5757eb00-acd2-11e9-874b-172f5ead8b90.PNG)
It's possible to generate the website using Sphinx but likely requires some effort. I'll assign myself for now since it could take a while.
/assign

[2019-07-23 22:03] mitar commented on #323
/remove-lifecycle stale

[2019-07-23 22:18] roycaihw commented on #589
Closing as the original question was intended behavior

[2019-07-23 22:18] #589 closed

[2019-07-24 01:19] roycaihw commented on #878
I tried changing [this example](https://github.com/kubernetes-client/python/blob/4a204fa4cd1ae6f8bfe2e1eea15145ba72532456/examples/exec.py#L60) to echo long messages and the responses got well-rendered. Could you try running the example and see if it works for you?

[2019-07-24 03:11] LeoLiuYan commented on #777
+1

[2019-07-24 06:21] oz123 commented on #722
This issue is finally fixed.

[2019-07-24 06:21] #722 closed

[2019-07-24 08:24] akshay-r-1996 opened #892 "Kubernetes-client python to find resource utilization of pods/ containers"
Hi,

I wanted to know how can we find resource utilization metrics for pods/ containers running in pods using the Kubernetes-client- Python.

[2019-07-24 09:14] oz123 commented on #882
@micw523 I have experience with rendering markdown in sphinx. Would you like me to work on this?

[2019-07-24 11:11] micw523 commented on #882
Sounds good - feel free to reply that you’ve taken the issue.

I think there are a few things we should do:
- the current repo uses Sphinx 1.3 and is way out of date. We should think of maybe moving on to a higher version.
- the main MD and the generated MDs are located all over the place. It could be difficult to use with recommonmark since that pkg looks for root directory only (if I remember it

[2019-07-24 17:07] scottilee commented on #882
Sphinx is at v2.1.2 now: https://pypi.org/project/Sphinx/. We could also discuss moving away from Sphinx as no one seems to know how to use it. https://www.mkdocs.org/ is another Python-based option or we could use a Go-based option such as https://gohugo.io/.

[2019-07-24 17:38] micw523 commented on #882
I wouldn't say "no one seems how to use it". It's clear that @oz123 and I have experience using it - although I have relatively little experience using it with md.

Even though md-based solutions might be useful given all our generated docs are now in markdown, sphinx has ```autoclass``` and ```automodule``` that covers the ground not being covered by the generated docs, such as base/ and util/. M

[2019-07-24 20:12] oz123 commented on #882
@scottilee I agree with @micw523. I would also add, that there is almost no matching in quality to sphinx build, and that it is used in almost any large python project out there. Recently the linux kernel migrated it's docs to sphinx and there a other large non python software projects that use sphinx.

[2019-07-24 20:59] scottilee commented on #882
No worries. @oz123 if you decide to work on this can you please also create a README.md that outlines the steps to build and push changes to the documentation site?

[2019-07-24 21:12] oz123 commented on #882
@scottilee we can configure readthedocs to automatically build the docs on every push.
Maybe we can also discuss this with @micw523 on slack next Wednesday in the SIG meeting or after it?

[2019-07-25 12:17] sebastian-philipp opened #895 "list_node: v1_container_image: ValueError: Invalid value for `names`, must not be `None`"
Hey all,

I'm getting this when calling `list_node()`:
[code]

Installed versions in the client (CentOS 7):
[code]

kubernetes:
[code]

Found in https://github.com/ceph/ceph/pull/29131

Is there any chance of getting `list_node` to work?

[2019-07-25 12:33] sebastian-philipp commented on #895
My workaround is a monkey-patch:

[code]

[2019-07-25 16:50] maloochpich commented on #417
This issue is still there, the example @mbohlool is sharing is for exec not for
connect_post_namespaced_pod_portforward

[2019-07-25 23:45] roycaihw commented on #705
I think it's fixed in openapi-generator according to https://github.com/kubernetes-client/python/pull/738/files#diff-e11ea04965d89d48b1fde9336cdcfb8fR48

[2019-07-26 00:13] micw523 commented on #266
/remove-lifecycle stale

[2019-07-26 01:19] roycaihw commented on #829
This was fixed in `requests`. Closing

[2019-07-26 01:19] #829 closed

[2019-07-26 20:05] magiclamp2 opened #899 "how to cordon(unschedule) a node"
Hello, I want to use the python client to achieve the following functions.
`-kubectl drain`
`-kubectl cordon`
`-kubectl uncordon`

Currently, I am able to evict all pods on a node using `create_namespaced_pod_eviction`. But I don't know how to make a node schedulable(`cordon`) or unschedulable(`uncordon`)? Is there existing api implemented or any workarounds?

[2019-07-26 21:26] tammersaleh commented on #825
I think I've tracked this down.  The file is too large for GitHub to render, but the errant code is in `create_namespaced_pod_binding_with_http_info()` in `kubernetes/client/apis/core_v1_api.py`.  In that method, it creates the Binding via:

[code]

Note the `response_type='V1Binding'`:  That's incorrect.  The response from `/api/v1/namespaces/{namespace}/pods/{name}/binding` is `{"kind":"Status",

[2019-07-26 21:41] tammersaleh commented on #825
I can see the incorrect swagger definition in `scripts/swagger.json` starting at line 22902 in current master (again, file's too big to link to):

[code]

That response schema should be a Status.

[2019-07-27 02:08] tammersaleh commented on #825
For anyone looking for a quick workaround:

[code]

[2019-07-27 11:19] greg9702 commented on #825
@tammersaleh my work around, we just skip this steps when this function is called unnecessary.
[code]

[2019-07-28 08:07] scottilee commented on #620
@shenyanping I was able to run your example and get all services running in my cluster. Are you able to run `kubectl get svc --all-namespaces` without issue?

[code]

[2019-07-28 17:54] scottilee commented on #827
@flyte the line should be:
`kubernetes.client.Configuration().api_key['authorization'] = 'YOUR_API_KEY'`

I believe it's auto-generated but there are fixes coming. Thanks for reporting!

[2019-07-28 18:00] #771 closed

[2019-07-28 20:37] scottilee commented on #826
@micw523 Is this something you can help with? I looked at the APIs with the word "metric" in them and couldn't get anything to work.

[2019-07-28 22:04] #769 closed

[2019-07-30 00:30] #756 closed

[2019-07-30 02:38] AndyEWang opened #904 "read_namespaced_secret treat empty string as null or None"
Following is my secret.
# cat test.yaml
apiVersion: v1
kind: Secret
metadata:
  name: mysecret
type: Opaque
data:
  username: YWRtaW4=
  **_password: ""_**

# kubectl create -f test.yaml
secret/mysecret created

The yaml output is:
# kubectl get secret mysecret -o yaml
apiVersion: v1
data:
  **_password: ""_**
  username: YWRtaW4=
kind: Secret
metadata:
  creationTimestamp: "2019-07-30T02:30:27Z"

[2019-07-30 17:38] roycaihw commented on #890
/assign

[2019-07-30 17:39] roycaihw commented on #892
cc @yliaog

[2019-07-30 17:40] roycaihw commented on #895
/assign

[2019-07-30 17:43] roycaihw commented on #899
cc @fabianvf

[2019-07-30 17:47] roycaihw commented on #904
/assign @yliaog

[2019-07-30 18:00] micw523 commented on #857
/assign

[2019-07-30 18:01] micw523 commented on #857
This is documented by #676. You should use the workaround provided by #766 on Windows systems when you clone from the source.
@roycaihw, I think it's safe to close this.

[2019-07-30 18:14] yliaog commented on #892
From core k8s API, only the requests and limits can be retrieved. for cpu / memory etc utilization, heapster was used before for that, then metrics API was defined, and metrics server or prometheus could be used.

https://brancz.com/2018/01/05/prometheus-vs-heapster-vs-kubernetes-metrics-apis/ has some more info about the topic.

[2019-07-30 18:30] roycaihw commented on #890
minikube cpu usage is configurable using the [command line flag](https://github.com/kubernetes/minikube/blob/165c1afd331765aaa94d8db684b0045fb0713cc9/cmd/minikube/cmd/start.go#L130). I haven't tested if it can work with 1 cpu

Before that, 2 cpus doesn't sound like a huge value and I'm surprised that travis ci cannot guarantee that. My assumption is that workers running in parallel can share the c

[2019-07-30 18:32] micw523 commented on #890
Sounds good. I'll do some investigations when I have time. Also let me check some of our earlier builds to see what our configurations were.

[2019-07-30 20:11] yliaog commented on #904
i think the issue is due to "print(api_response)", i.e., the api_response is correct, you just need to have a smarter printer than can print out the api_response in the correct way.

[2019-07-30 20:13] roycaihw commented on #895
`names` is a required field in `containerImage` by k8s [Go type definition](https://github.com/kubernetes/kubernetes/blob/269183a7a83aa48d3a1da43d57e3f9e94e459bd6/staging/src/k8s.io/api/core/v1/types.go#L4425-L4427) and by the [generated openapi spec](https://github.com/kubernetes/kubernetes/blob/master/api/openapi-spec/swagger.json). Therefore the generated python client expects the field to not

[2019-07-30 21:05] micw523 commented on #890
Our previous builds were all configured for using 2 CPUs. I wonder if Travis CI had put some quota system in place.

[2019-07-31 00:47] micw523 commented on #890
See #906 - failure attributed to upstream Travis CI

[2019-07-31 00:47] #890 closed

[2019-07-31 01:53] AndyEWang commented on #904
It's not related with print.
To dump the it to a file.
json.dump(api_response.to_dict(), f)

You can see the output that the empty string becomes **_null_**
This isn't expected.
# cat /tmp/test |python -m json.tool
{
    "api_version": "v1",
    "data": {
        **_"password": null,_**
        "username": "YWRtaW4="
    },
    "kind": "Secret",
    "metadata": {
        "annotations": null,

[2019-07-31 08:32] sebastian-philipp commented on #895
After talking with @saschagrunert this seems to be related to how cri-o reports images to k8s. And there was a backport to a later patch release of 1.14.

[2019-07-31 09:51] akshay-r-1996 commented on #892
Okay. But what is this:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V2beta1ResourceMetricSource.md

And can this be used?

[2019-07-31 11:59] fandujar opened #909 "Error managing GKE multiple cluster in different GCP projects"
When I tried to run client.CoreV1Api.list_namespace() across different GKE clusters running on different GCP projects, I notice that only the clusters that were inside my current active gcloud project worked.

All the others clusters didn't work and I received the error
`Error Could not automatically determine credentials. Please set GOOGLE_APPLICATION_CREDENTIALS or explicitly create credentials

[2019-07-31 14:26] micw523 opened #910 "Add Installation Instructions for Windows Users"
This issue originally appeared in #676. We provided a utility script for Windows developers to work around the symbolic link in #766. However, the script is not documented anywhere and we just got a new question on #857. I think we should add information to Readme for potential Windows developers.

We'll have to tell Windows developers about the symbolic links and our workaround - and that they'll

[2019-07-31 14:28] micw523 commented on #910
/kind documentation
/this-is-fine

[2019-07-31 15:32] fabianvf commented on #899
@magiclamp2 `cordon` and `uncordon` basically just set the `spec.unschedulable` field in the Node's resource definition. `cordon` sets `spec.unschedulable` to `true`, and uncordon sets `spec.unschedulable` to `false`. You should be able to use the existing core_v1 `patch_node` method to replicate that functionality.

[2019-07-31 16:54] yliaog commented on #892
https://github.com/kubernetes/api/blob/739c7f7721ed643459cb2d240f43811e0647ba79/autoscaling/v2beta1/types.go#L159

please see the comments in the above file for descriptions. in short, it is for auto scaling, it does not work for your use case

[2019-07-31 17:22] yliaog commented on #904
json.dump output null, the following snippet would print out empty string. so the problem is not with the api_response, but with the printer.

==========================================================
d=api_response.to_dict()
d.update((k,'') for k,v in d.items() if v is None)
print d

[2019-07-31 22:09] fandujar commented on #909
Closing it. Nevermind

[2019-07-31 22:09] #909 closed

[2019-08-01 03:32] akshay-r-1996 commented on #892
Okay. Thank you.

[2019-08-01 17:10] yliaog commented on #892
/close

[2019-08-01 17:10] #892 closed

[2019-08-01 20:00] roycaihw commented on #910
I'm fine with adding a paragraph or two to Installation and Troubleshooting. If it will be longer we can have a separate doc and link to it

[2019-08-02 08:07] scottilee opened #912 "Setup Issue Templates"
We should create issue templates (https://help.github.com/en/articles/creating-issue-templates-for-your-repository) to help with triaging and making sure issue creators include the appropriate information in order to reduce back and forth comments.

[2019-08-02 08:07] scottilee commented on #912
/assign @roycaihw

[2019-08-02 12:12] melwynjensen commented on #904
@yliaog Understood that None is changed to Null hence update would help to come out of this issue, but then why api_response was converted from "" -> None in first place? it should have retained "" by default right? cause d.update is just an unnecessary workaround which should be done on top now.

[2019-08-02 17:06] scottilee commented on #884
I will start organizing and fixing these examples in the week after next (busy next week unfortunately) and hopefully most of the pull requests trying to update examples will be merged by then as well.

[2019-08-02 18:33] drobitaille opened #913 "parameter include_uninitialized removed in create_namespaced_pod_eviction V10"
Hello!

It appear that a parameters has been removed in release 10, which i can not find in the release notes.

**Context:**
[create_namespaced_pod_eviction Release 9](https://github.com/kubernetes-client/python/blob/v9.0.0/kubernetes/docs/CoreV1Api.md#create_namespaced_pod_eviction)

[create_namespaced_pod_eviction Release 10](https://github.com/kubernetes-client/python/blob/v10.0.0/kubernetes/do

[2019-08-02 19:59] #744 closed

[2019-08-02 22:58] EmanekaT opened #914 "V1HorizontalPodAutoscalerSpec seems to be outdated"
Hello, I noticed that V1HorizontalPodAutoscalerSpec only supports target_cpu_utilization_percentage. It seems I can't add multiple metrics or custom resouces/metrics like

[code]

[2019-08-02 23:02] #914 closed

[2019-08-03 18:30] mpluhar commented on #417
+1 same issue here

[2019-08-04 04:31] #773 closed

[2019-08-04 16:56] scottilee commented on #912
/assign

[2019-08-04 22:49] #772 closed

[2019-08-05 01:01] houqp commented on #741
config for an existing client is cached unfortunately :( After calling `load_kube_config`, you will have to recreate a new api client to pick up the refreshed token. Currently, the `expirationTimestamp` returned from `aws-iam-authenticator` is ignored by `KubeConfigLoader`.

[2019-08-05 01:41] NovaHe commented on #739
I encountered the same issue

[2019-08-05 01:51] #774 closed

[2019-08-05 05:33] admssa commented on #739
@NovaHe  I just added the check that all containers are running.
[code]

[2019-08-05 08:36] NovaHe commented on #739
@admssa  thx your reply.
can you run execute command to others pod containers after you  get  `Handshake status 500 Internal Server Error` ？

[2019-08-05 08:42] admssa commented on #739
Only if you swallow the exceptions

[2019-08-05 20:02] thebeancounter opened #917 "documentation missing how to mount a volume to a job"
Hi

I am using minicube with python-kubernetes and trying to mount a directory to a job (input data) and then keep the data only if the job finished.

Something like [empty dir](https://kubernetes.io/docs/tasks/configure-pod-container/configure-volume-storage/) defined here, I can't seem to find an example to that anywhere, not for how to mount a directory to a job and not for how to keep the data

[2019-08-05 20:45] Moofasax commented on #199
Having trouble using this, am i missing something?

`v1 = client.CoreV1Api()
w = watch.Watch()
for e in w.stream(v1.read_namespaced_pod_log, name=pod, namespace=namespace, follow=True, tail_lines=1, limit_bytes=560, _preload_content=False):
   print(e)`

`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.7/site-packages/kubernetes/watch/watch.p

[2019-08-06 02:51] shurikk commented on #811
the issue is here https://github.com/kubernetes-client/python/blob/master/kubernetes/client/api_client.py#L245 trying `json.loads()` without consulting `response_type`

[2019-08-06 16:52] mikedanese commented on #616
@LTMenezes please do.

[2019-08-06 22:41] roycaihw opened #919 "minikube 1.3.0 is failing in test"
e.g.

https://travis-ci.org/kubernetes-client/python/jobs/567654355
https://travis-ci.org/kubernetes-client/python-base/jobs/563196332

1.3.0 release note: https://github.com/kubernetes/minikube/blob/master/CHANGELOG.md#version-130---2019-08-05

switching back to 1.2.0 fixes the failure https://github.com/kubernetes-client/python/pull/918

/kind failing-test
/assign @micw523

[2019-08-07 00:32] roycaihw commented on #904
I couldn't reproduce the issue with a 10.0.0 client against Kubernetes HEAD. I tend to agree with @yliaog that it's something with the printer. My observations:

Create the secret and read it using the python cilent:
[code]
Interestingly, if I curl the apiserver directly, I see the `password` being `null`:
[code]
However from apiserver audit log, the json payload is an empty string:
[code]

@AndyE

[2019-08-07 01:41] micw523 commented on #919
I'm investigating this.

[2019-08-07 01:43] roycaihw commented on #913
The parameter was removed as part of https://github.com/kubernetes/kubernetes/pull/72972. Missing the release note was an oversight. I will update the changelog

[2019-08-07 01:49] roycaihw commented on #913
Updated in https://github.com/kubernetes-client/python/commit/b403562b940ce356cb4875bac34cd448d7a055f7

/close

[2019-08-07 01:49] #913 closed

[2019-08-07 01:55] roycaihw commented on #917
There is a WIP example at https://github.com/kubernetes-client/python/pull/898/files#diff-5e0ba41a462031ce04f33c1a7e1b2bb8. You could refer to the sample examples we have in https://github.com/kubernetes-client/python/tree/master/examples to learn how to construct an API object. If you have further questions, please ask in the #kubernetes-client [slack channel](https://github.com/kubernetes/commun

[2019-08-07 01:55] #917 closed

[2019-08-07 02:08] micw523 commented on #919
Somehow the Kubernetes config fails to find a NodeIP. See https://travis-ci.org/kubernetes-client/python/jobs/567654355#L356
Still investigating

[2019-08-07 06:39] AndyEWang commented on #904
@roycaihw
It's caused by parameter <pretty>.
When pretty is "true", the output is None
When pretty is "false", the output is empty string("")
Do you know why <**_pretty_**> leads to different output?

[2019-08-07 15:40] inesusvet commented on #747
/remove-lifecycle stale

The issue is still present.
As a workaround, `_preload_content=False` param may be used but then the luxury of traversing the models objects from response should be restored by some `AttrDict`-like wrapper

[2019-08-07 20:18] roycaihw commented on #904
This is in the json-iterator that [apiserver uses](https://github.com/kubernetes/kubernetes/blob/82a981fc392073dc77cf1b343b338f810a340c00/staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json.go#L303) and it's fixed in https://github.com/json-iterator/go/pull/371

I sent https://github.com/kubernetes/kubernetes/pull/81096 to pick up the fix in apiserver

/close
as it's not a client issu

[2019-08-07 20:18] #904 closed

[2019-08-08 01:40] wing328 commented on #741
@houqp I wonder if you can send the patch upstream to [OpenAPI Generator](https://github.com/OpenAPITools/openapi-generator) as that's what the project going to use moving forward to generate API clients: https://github.com/kubernetes-client/gen/issues/93

[2019-08-08 05:14] houqp commented on #741
Good call @wing328, do you know if https://github.com/kubernetes-client/python/pull/738 and https://github.com/kubernetes-client/gen/pull/97 are the right PRs to watch?

[2019-08-08 11:10] #775 closed

[2019-08-08 17:53] mathnitin commented on #879
@yliaog Thanks for the explanation. How do i perform "kubectl get all --all-namespaces --selector name=foo -o yaml --export" command.

Your explanation covers the part where I create objects from a yaml file.

[2019-08-08 19:54] yliaog commented on #879
https://github.com/kubernetes-client/python/tree/master/examples
has some examples for using the api to retrieve resources, like pods. which particular aspect of the command "kubectl get all --all-namespaces --selector name=foo -o yaml --export" are you interested in?

[2019-08-08 20:15] houqp commented on #741
@wing328 i have ported the patches to openapi-generator, could you help review them?

[2019-08-08 20:37] mathnitin commented on #879
Yeah i found the example of the pod retrieval. https://github.com/kubernetes-client/python/blob/master/examples/example1.py#L26.

My problem statement is that I don't know the type of resource, I just know the label. I need to get yaml of all the resources (service, deamonset, deployment, replicaset), if any, in export format. I looked at the go client as well couldn't find a generic call for this

[2019-08-08 20:50] yliaog commented on #879
https://stackoverflow.com/questions/47691479/listing-all-resources-in-a-namespace

so for that the first step is to list all the resources, the above discussion might be helpful. it is not python client specific though.

[2019-08-08 22:28] oz123 opened #921 "documentation: remove old client version from the support matrix"
Currently, the README contains a huge list of version of this clients with support for k8s clusters.
I find it odd that no one bothers to clean up... If there is no objection I would like to remove the versions from 1.5 to 1.10.
I seriously hope no one is still using k8s in these versions.
A nice side effect of this would be that the table will be completely visible in a 13" screen (not everyone h

[2019-08-09 00:45] roycaihw commented on #921
removing versions <= Kubernetes 1.10 sounds good to me. Officially we support 3 stable major releases in this client, corresponding to 3 minor releases in Kubernetes

[2019-08-09 03:45] yttdj opened #923 "python sdk demo custom_object.py is wrong"
my_resource =  {
        "apiVersion": "stable.example.com/v1",
        "kind": "CronTab",
        "metadata": {"name": "my-new-cron-object"},
       "spec":{
        "cronSpec": "* * * * */5",
        "image": "my-awesome-cron-image"
       }
    }

[2019-08-09 04:00] micw523 commented on #921
I’m not sure if some people are still using 1.10 on GKE (which was a thing when we were changing the CI from localkube to  minikube last November). Removing 1.9 or lower sgtm.

[2019-08-09 04:12] micw523 commented on #923
So what’s your question?

[2019-08-09 07:26] Formartha opened #925 "retrive master ip from within pod"
Hi,
I have a usecase which I need to have access to one of the masters within a cluster. the client runs on one of the pods in the cluster.

I actually need it's external IP address in order to do it,
how can I do that?

[2019-08-09 12:34] darkdragn commented on #474
In case someone else finds this, another viable alternative is:

[code]

[2019-08-09 12:43] darkdragn commented on #826
Have you tried using the CustomObjectsApi? This works for me.

[code]

[2019-08-09 12:45] micw523 commented on #826
Yeah I think that’s probably the better way to do it.

The heapster is being phased out I believe, which is necessary for kubectl top.

[2019-08-09 12:48] darkdragn commented on #826
@VF-mbrauer On a side node, pods are namespaced, but nodes are not. Just mentioning that, since you specified a namespace in your second command example.

---
@micw523 Yepyep, I think, last I read, heapster's been fully retired as of 1.13 (https://github.com/kubernetes-retired/heapster/blob/master/docs/deprecation.md). Ever since ~1.10 kubectl top tries either the metrics endpoint or heapster endp

[2019-08-12 11:45] #466 closed

[2019-08-13 13:20] jinchihe opened #927 "The type of metadata in client.V1Secret is dict, instead of V1ObjectMeta"
The type of metadata in client.V1Secret is dict, instead of V1ObjectMeta.

There is `SyntaxError: invalid syntax` if configure as following:
[code]
but that's OK if configure as `dict` for metadata:
[code]

From the [doc](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1Secret.md), the metadata type should be `V1ObjectMeta`, instead of dict.

[2019-08-13 13:57] seuponder opened #928 "flask app multithread using kubernetes-client: ApiExecption(0) Handshake status 200 OK"
Traceback:
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 2309, in __call__
    return self.wsgi_app(environ, start_response)
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 2295, in wsgi_app
    response = self.handle_exception(e)
  File "/usr/local/lib/python2.7/dist-packages/flask/app.py", line 1741, in handle_exception

[2019-08-13 14:01] jinchihe commented on #927
Cannot be reproduced after upgreade kubenertes python SDK.

[2019-08-13 14:01] #927 closed

[2019-08-13 17:39] yliaog commented on #919
fixed
/close

[2019-08-13 17:39] #919 closed

[2019-08-13 17:41] yliaog commented on #925
/cc

[2019-08-13 17:43] yliaog commented on #928
/assign @roycaihw

[2019-08-13 17:50] yliaog commented on #821
/close

[2019-08-13 17:50] #821 closed

[2019-08-13 17:51] yliaog commented on #636
/cc @roycaihw

[2019-08-13 17:53] yliaog commented on #723
/close

[2019-08-13 17:53] #723 closed

[2019-08-13 17:53] yliaog commented on #636
/close

[2019-08-13 17:53] #636 closed

[2019-08-13 17:56] yliaog commented on #599
this is fixed by https://github.com/kubernetes-client/python-base/pull/94
/close

[2019-08-13 17:56] #599 closed

[2019-08-13 17:59] yliaog commented on #545
@bidyut1990 could you please verify if the fix works?

[2019-08-13 19:31] #912 closed

[2019-08-13 20:47] roycaihw commented on #928
I agree the "replacing `api_client.request`" behavior doesn't play well when you multithreading a stream request with non-stream requests.

@tomplus Does the asyncio client solve this problem?

Also this is a general problem when you reuse a client for non-stream requests after a stream request

/kind bug

[2019-08-13 21:25] roycaihw commented on #866
fixed in 10.0.1

/close

[2019-08-13 21:25] #866 closed

[2019-08-14 09:45] adityabyreddy74 commented on #501
/close

[2019-08-14 09:46] #501 closed

[2019-08-15 07:38] zq-david-wang opened #932 "multiple instance of client.Configuration do not work due to shadow copy of authorization information"
**What happened (please include outputs or screenshots)**:
When trying to create multiple instances of client.Configuration to connect multiple cluster via bearer token, I have to reset token every time before I change cluster. And still cause race issue when connecting apiserver in an async manner, resulting in random 401 reponse from apiserver
**What you expected to happen**:
Each configuration

[2019-08-16 05:49] hayds commented on #254
This worked for me:

[code]

[2019-08-16 22:58] oz123 commented on #925
Here is how one can do it:
[code]

[2019-08-18 06:40] scottilee commented on #882
@oz123 Thanks for the updates. A couple questions:

1. You said that you could configure readthedocs to automatically build the docs on every push, is that set up with your pull request #893? If so, can you give an explanation how it works? For instance if I update `docs/source/installation.rst` is it TravisCI that builds it and pushes it to readthedocs?
2. I see that https://k8s-python.readthedoc

[2019-08-18 06:48] scottilee commented on #872
@roycaihw Added it to my list of examples to add and clean up. You can close this if you want.

[2019-08-18 08:37] scottilee opened #934 "Investigate moving tests from TravisCI to Prow and Testgrid"
**What is the feature and why do you need it**:
Move away from TravisCI and look into using Kubernetes infrastructure tools. This could provide better visibility and alerts on test failures and could potentially be easier to maintain.

**Describe the solution you'd like to see**:
Instead of using TravisCI and Minikube use Prow, Testgrid, and KIND for CI/CD.

Curious if there is any objection to th

[2019-08-18 10:03] oz123 commented on #882
@scottilee @roycaihw
1. Yes and No.
    Yes, it is set up for my k8s-project project ins https://readthedocs.org/.
    This project is set up to build the documentation every time the master branch in gh/oz123/python is update.
    No. It is not happening to gh/kubernetes-client/python because nobody set it, and I have no admin access in readthedocs.org. The person who set it up can invite me or o

[2019-08-18 10:06] oz123 commented on #882
Also, there is this issue
https://github.com/swagger-api/swagger-codegen/issues/9630. If someone could collaborate with me on this, maybe we can fix the issue on our side.
I would need help to understand how openapi-gen (swagger-codegen) is tunes and maybe I can fix things true custom functions in sphinx's conf.py

[2019-08-18 11:18] #790 closed

[2019-08-18 12:17] micw523 commented on #882
We’re moving away from swagger-codegen in favor of OpenAPI-generator from v11. @oz123 Maybe try forking Roy’s v11a1 branch and test if it works there?

[2019-08-18 13:21] oz123 commented on #882
I did. The issue still exists. I will repo the issue with OpenAPI-generator.

[2019-08-18 19:26] #379 closed

[2019-08-19 14:24] hacker-h opened #936 "[question] why is _from in V1NetworkPolicyIngressRule protected?"
Why is the _from field in V1NetworkPolicyIngressRule protected?
What is the correct way to fetch the list of pods affected by a policy without accessing this protected field?
Same question for _except in V1IPBlock

[2019-08-19 18:28] yliaog commented on #925
the code above assumes 1) master's node is listed in the nodes list 2) master's node has the label 'node-role.kubernetes.io/master'

the assumptions may not hold true for some k8s cluster setups

[2019-08-19 19:37] oz123 commented on #925
@yliaog correct. This assumes that the cluster was installed with kubeadm.
Nevertheless, if you can retrieve the master with some labels, you can later get the IP.

[2019-08-19 22:49] sonnysideup commented on #524
I have to write some automation using Python (I wish it could be in Golang) and a fake client or, at the very least, some documentation on how to write tests when using this library would be helpful.

Can a maintainer at least touch on this subject?

[2019-08-20 01:00] scottilee commented on #934
These two issues are related:
https://github.com/kubernetes-client/python-base/issues/117
https://github.com/kubernetes-client/python-base/issues/118

[2019-08-20 05:40] tusharsappal commented on #417
+1 the issue is still there , can some one please have a look and resolve it ASAP

[2019-08-20 14:10] micw523 commented on #417
AFAIK port forward is not supported on this client yet. The Python client is a [silver](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/csi-new-client-library-procedure.md#client-capabilities) client.

[2019-08-20 14:48] micw523 commented on #934
To use the test-infra tools, we will need dedicated servers to run our tests. Travis CI provides the resources we need at zero cost with relatively simple configuration and reliable up time most of the time.

Also, I don't even know if we could run Python-based jobs on Prow. The server will have to be seriously configured to run the test platform. KIND might be used in place of minikube, but I don

[2019-08-20 17:07] dims commented on #882
@oz123 i've added you as maintainer in https://kubernetes.readthedocs.io.

[2019-08-20 17:46] yliaog commented on #932
seems to be a problem, would you mind to create a pr to fix this?

[2019-08-20 17:49] yliaog commented on #934
/cc

[2019-08-20 18:06] roycaihw commented on #266
/assign

[2019-08-20 19:28] hacker-h opened #937 "create_from_yaml verbose flag causes crash when status field is missing"
**What happened (please include outputs or screenshots)**:

Output:
[code]
**What you expected to happen**:
Proper confirmation log message for the creation of the NetworkPolicy and no crash.

**How to reproduce it (as minimally and precisely as possible)**:

Use the following two files:

test.py
[code]

policy.yml
[code]
**Anything else we need to know?**:

**Environment**:
python kubernetes clie

[2019-08-20 19:31] oz123 commented on #882
@dims I see you also updated the settings. Thanks!
@scottilee, @micw523 the documentation is now built with every push on the master.
I believe this issue can be closed.

[2019-08-20 19:46] micw523 commented on #937
This is fixed in #824

[2019-08-20 19:46] micw523 commented on #937
/close

[2019-08-20 19:46] #937 closed

[2019-08-20 23:25] scottilee commented on #882
@oz123 before I close this issue:

1) Now that you have access to https://kubernetes.readthedocs.io will you be pushing changes there? While I understand your point about expecting to see the main Kubernetes documentation at https://kubernetes.readthedocs.io, that will probably never happen since Kubernetes has their own documentation site. Either way we shouldn't have two sites (i.e., https://kub

[2019-08-21 05:49] oz123 commented on #882
1. I'm not pushing anything. Github has hooks which can notify different services about changes. Currently, this repository has the readthedocs hook configures. I guess it was set up by @dims.
I can document this.,
Also, never say never. I've seen some large projects migrate to sphinx (the most notable one is the linux kernel). The documentation system of kubernetes has a lot of potential to be im

[2019-08-21 09:22] zq-david-wang commented on #932
@yliaog  I made a PR for this issue https://github.com/kubernetes-client/python/pull/939
Please help give it a review.
Thx~!

[2019-08-21 09:57] 245967906 commented on #870
@rfum
I referred to the source code for the kubernetes.config.new_client_from_config method.
Your requirements can be implemented in the following code.

[code]

[2019-08-21 16:51] micw523 commented on #882
Hey @oz123, my user name is my github handle.

Having two documentation sites isn't too bad in my opinion. One of them is based on @oz123's personal repo, which is essentially a testing ground for the full documentation sites. This is actually not a bad idea - it saves effort for other contributors to review documentation-related PRs by him.

[2019-08-21 20:47] oz123 commented on #882
@micw523 I added you as a maintainer in https://readthedocs.org/dashboard/kubernetes/users/.
I will add the list of the current maintainers to documentation meta in a PR soon.

[2019-08-23 09:27] hacker-h opened #940 "delete_from_yaml"
**What is the feature and why do you need it**:

**Describe the solution you'd like to see**:

Similar to the utils.create_from_yaml I would like to also have a delete_from_yaml function deleting all resources described in a yaml manifest.

[2019-08-23 09:29] hacker-h opened #941 "extend create_from_yaml by wait_until_ready flag"
**What is the feature and why do you need it**:

**Describe the solution you'd like to see**:
I would like to extend kubernetes.utils.create_from_yaml by a `wait_until_ready` flag.
This way you could easily create resources from a yaml file and rely on them to be ready to use for further purposes without having to parse the list of resources in the file again.

[2019-08-25 16:07] #801 closed

[2019-08-26 06:21] #800 closed

[2019-08-26 08:51] polanjiri commented on #822
/remove-lifecycle stale

[2019-08-27 04:45] akshay-r-1996 opened #942 "How to simulate "kubectl apply -f filename.json" using Kubernetes python client"
Is there a way to simulate "kubectl apply -f filename.json" using Kubernetes python client, assuming there are multiple objects in json file ( Pods, Deployments, Services, etc. )?

Please help me out with this.

[2019-08-27 10:36] #921 closed

[2019-08-27 21:19] iamaquaman opened #943 "Getting unicodedecode errors while using Openshift_raw module on ansible."
[code]
**Environment**:
- Kubernetes version (`kubectl version`): v1.11.0
- OS : CentOS 7
- Python version (`python --version`): 2.7
- Python client version (`pip list | grep kubernetes`): Version: 9.0.1

[2019-08-28 03:20] akshay-r-1996 commented on #942
Okay.
Is yaml supported?  "kubectl create/apply -f filename.yaml" ( Assuming yaml file has multiple objects )
For JSON also is "kubectl create -f filename.json" is supported?

[2019-08-28 17:52] sebastian-philipp commented on #30
Possibly?

[2019-08-28 18:24] #943 closed, assigned to nobody

[2019-08-29 03:55] akshay-r-1996 commented on #942
How to do it? 1 & 2? In Kubernetes-client Python

[2019-08-29 09:12] Heldroe opened #944 "V1Status.status returned by BatchV1Api.delete_namespaced_job is not what's expected"
**What happened (please include outputs or screenshots)**:
When deleting a job through `BatchV1Api.delete_namespaced_job`, the `status` property of the returned result ([V1Status](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1Status.md#properties)) is a string representing a Python dictionary.

**What you expected to happen**:
I expected the `status` property of the res

[2019-08-29 09:45] 1032231418 opened #945 "HTTPSConnectionPool(host='localhost', port=443): Max retries exceeded with ur"
hi：
   HTTP connections exceed the maximum limit

 HTTPSConnectionPool(host='localhost', port=443): Max retries exceeded with url: /api/v1/nodes/xxxx (Caused by SSLError(SSLError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:841)'),))

[2019-08-29 10:19] 1032231418 commented on #945
Always prompt for this error by manipulating the label through the interface

[2019-08-29 10:21] 1032231418 commented on #945
WARNING Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:841)'),)': /api/v1/nodes/xxx

[2019-08-29 10:25] 1032231418 commented on #945
Interface version

kubernetes-10.0.1
urllib3-1.25.3

[2019-08-29 15:52] remram44 commented on #340
bump; I need this

[2019-08-29 15:53] remram44 commented on #340
To follow on the resolution of #63: `to_dict()` uses different attribute names (e.g. snake_case instead of camelCase) so the resulting object don't work when sent to the API. The only way I've found to convert between models and JSON is this:
[code]
The model-to-json is sort of usable, but json-to-model uses a private API and needs you to map from json_obj['kind'] to the class name manually.

[2019-08-29 16:49] micw523 commented on #340
Checkout #574

[2019-08-29 16:53] micw523 commented on #942
Check out this file - https://github.com/kubernetes-client/python/blob/master/kubernetes/e2e_test/test_utils.py
You'll need Python client v10 or later. We're currently reworking some examples related to the json/yaml utility.

[2019-08-29 17:48] remram44 commented on #340
@micw523: This only allows me to get raw JSON from a request, not to convert between JSON/Dict and models :cry:

[2019-08-29 22:48] #803 closed

[2019-08-30 00:47] #945 closed

[2019-08-30 05:18] akshay-r-1996 commented on #942
Okay, Thank you.

[2019-08-30 07:15] woshiyjs123 opened #946 "how to query deployments by namespace"
**Link to the issue (please include a link to the specific documentation or example)**:

**Description of the issue (please include outputs or screenshots if possible)**:
sorry to disturb, i have many deployments running on k8s cluster. i want to get all the deployments info(name, pods etc.). But i check the examples, only find the way to create deployment, no way to query. what should i do to que

[2019-08-30 10:48] dosa9876 opened #947 "Kubectl apply -k feature"
**What is the feature and why do you need it**:
Looking for a kubernetes client python api to achieve
kubectl apply -k ./

I have a set of manifests which are customized by overlays kustomization.yaml.

Apologies if it is already supported
**Describe the solution you'd like to see**:
Any API which would accept directory where kustomization.yaml exists and does kubectl apply -k  on it is what am lo

[2019-08-30 23:57] micw523 commented on #947
See this comment: https://github.com/kubernetes-client/python/issues/942#issuecomment-525538966

You probably need to wait for another two major release to see this.

[2019-09-03 02:35] scottilee commented on #934
So that there's no misunderstanding, we do not need "dedicated servers". Kubernetes Test Infra provides everything to run tests.

Additionally, Python-based jobs can run on Prow.

[2019-09-03 06:03] jdamata commented on #434
/reopen

[2019-09-03 07:45] leavest commented on #946
[code]
[code]

[2019-09-03 09:46] chowmean commented on #944
I want to take this up. Please suggest what is the expected result from the 3 options that are mentioned.

[2019-09-03 17:36] yliaog commented on #944
/cc

[2019-09-03 17:37] yliaog commented on #946
@leavest has provided the example, resolving the issue.
/close

[2019-09-03 17:37] #946 closed

[2019-09-03 17:40] yliaog commented on #947
server side apply goes to beta in 1.16. please watch for its progress on main k/k repo

[2019-09-03 17:40] yliaog commented on #947
/close

[2019-09-03 17:40] #947 closed

[2019-09-03 17:51] yliaog commented on #387
"kubectl apply -f" is currently implemented on the client side, it has many subtle issues. It would be a significant effort to support that in python. That said, there is server side apply feature in main k/k repo that goes to beta in 1.16. It would be better to wait and use that feature directly in python.

[2019-09-03 17:53] yliaog commented on #195
/close

[2019-09-03 17:53] #195 closed

[2019-09-03 19:22] confiq commented on #387
is there a link for it?

[2019-09-03 20:45] yliaog commented on #387
https://github.com/kubernetes/kubernetes/issues/73723

[2019-09-04 06:40] woshiyjs123 commented on #946
thank you very much。

[2019-09-04 06:59] MRostanski commented on #417
@mbohlool Why did you close this without any helpful comment? What does that mean "please look at"? The example given is about exec, not about portforward... I have the same problem and the link does NOT help at all.

[2019-09-04 10:52] dims commented on #417
As this is a open source project, can the folks interested in this issue organize themselves to fix this issue and open a PR? Looks like there is lot of interest. It would help the overloaded existing maintainers for sure.

[2019-09-04 10:57] #739 closed

[2019-09-05 12:01] sayarg commented on #808
Hi all, we have just hit this issue when upgrading to 10.0.1. We had no way of introducing 10.0.1 without breaking our platform, so had to add logic to use different objects based on the version.

I know there's a lot of work and thought that goes into the project and the team is working hard to keep up with changes in kubernetes itself and you phase changes in/out, however here it's a pity that t

[2019-09-05 12:02] sayarg commented on #808
/remove-lifecycle stale

[2019-09-05 12:02] sayarg commented on #808
/remove-lifecycle rotten

[2019-09-05 18:26] zmunro commented on #884
There is also an issue with the `custom_objects.py` example, but I am not sure if the issue is with the example or the api itself. I have not been able to call this api without getting an error. Below is the error output when I try to run the `custom_objects.py` module, and the error is similar when I try to call the API from elsewhere:
[code]

[2019-09-05 18:34] zmunro opened #948 "ApiException and 404 response when calling CustomObjectsApi"
**What happened (please include outputs or screenshots)**:
When I try to call this API I get an ApiException and the request fails. Here is the error output:
[code]
**What you expected to happen**:
To not receive an error and the API to be called.

**How to reproduce it (as minimally and precisely as possible)**:
Copy the `custom_object.py` file from the examples folder in this repo and try to run

[2019-09-05 18:36] micw523 commented on #948
Have you applied the yaml manifest first?

[2019-09-05 18:37] micw523 commented on #942
/close

[2019-09-05 18:37] #942 closed

[2019-09-05 18:51] zmunro commented on #948
I am dumb

[2019-09-05 18:51] #948 closed

[2019-09-06 08:45] Omegastick commented on #549
This doesn't work for me. Only changing the ApiClient source as described in the previous comment does.

[2019-09-06 17:08] saurabhsinghmaurya opened #949 "conditional logging in kubernetes/client/rest.py"
**What is the feature and why do you need it**:
kubernetes/client/rest.py  is dumping the rest API response in logs and we do not have any way to disable it.
kubernetes/client/rest.py line number:219
**Describe the solution you'd like to see**:
Add a method to set logger or log level or remove it.

[2019-09-09 22:07] evanmosseri commented on #225
/reopen

[2019-09-10 08:34] stanhordiyenko opened #950 "[question] How to obtain information about memory/cpu consumption by pod?"
Hi,

Could not find how can I obtain information about memory consumption on kubernetes node with kubernetes-client library in Python. I know how to obtain this information with kubectl command. Metrics are collected by Heapster in my kubernetes cluster.

Could you provide me with a piece of code how can I do this via this library?

Thank you.

[2019-09-10 17:10] roycaihw commented on #949
Did you enable the debug setting by accident? https://github.com/kubernetes-client/python/blob/a5cb3d788977bcecf43f9be4d4602e7b5bf1e56c/kubernetes/client/configuration.py#L79-L80

see https://github.com/kubernetes-client/python/blob/a5cb3d788977bcecf43f9be4d4602e7b5bf1e56c/kubernetes/client/configuration.py#L153-L173

[2019-09-10 17:17] roycaihw commented on #950
Do you mean getting the resource consumption using`kubectl describe node`? IIRU kubectl does some intelligent [calculation](https://github.com/kubernetes/kubernetes/blob/1888745c3db2432a613b2649686ee6bf5c9d2fa1/staging/src/k8s.io/kubectl/pkg/describe/versioned/describe.go#L2993-L3116) based on the information from getting pods and nodes. You can check what API requests kubectl made using the verbo

[2019-09-10 19:46] roycaihw opened #951 "Add e2e test for strategic merge patch"
Add a test sending (e.g. config map) patches through the same API using:
- JSON patch
- [Strategic merge patch](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/strategic-merge-patch.md)

make sure the API client is able to set the content type properly according to the request body, and the patches are applied successfully.

ref: https://github.com/kubernet

[2019-09-10 19:58] roycaihw opened #952 "Wrong Github link in auto-generated README"
**What happened (please include outputs or screenshots)**:
ref https://github.com/kubernetes-client/python/pull/931#discussion_r314434005

**What you expected to happen**:
the generated address should be `git+https://github.com/kubernetes-client/python.git`

**How to reproduce it (as minimally and precisely as possible)**:
run `scripts/update-client.sh`, and see the link in `kubernetes/README.md`

[2019-09-10 21:57] roycaihw commented on #884
@zmunro The 404 error sounds like the apiserver doesn't understand the requested API resource. Have you registered the CRD to apiserver? https://github.com/kubernetes-client/python/blob/a5cb3d788977bcecf43f9be4d4602e7b5bf1e56c/examples/custom_object.py#L18-L36

It's probably better to have the example run the CRD creation for you

[2019-09-11 00:52] micw523 commented on #884
@roycaihw the comment is addressed in #948, the issue that the author of the comment raised.

[2019-09-11 01:05] 1032231418 commented on #950
With the same requirements, access, memory, and CPU usage are good

[2019-09-11 23:57] roycaihw commented on #872
/close

[2019-09-11 23:57] #872 closed

[2019-09-12 04:06] shanit-saha commented on #728
@richstokes | @govindKAG  : Facing the same problem at our end, By any chance have you been able to get to some solution or workaround.

[2019-09-12 07:28] stanhordiyenko commented on #950
@roycaihw thank you for your response, it helped me to identify URLs that `kubectl` is using to obtain metrics from kubernetes cluster. Still I haven't got how to match these URLs to library API? Please advise, thank you.

[2019-09-12 19:31] adamnovak opened #953 "How to deal with an expired continue token dring list_namespaced_job and silimar calls is not documented"
**Link to the issue (please include a link to the specific documentation or example)**:

See [the documentation for list_namespaced_job](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/BatchV1Api.md#list_namespaced_job), and specifically the section on _continue, and specifically the section on dealign with expired tokens:

**Description of the issue (please include outputs

[2019-09-13 18:11] smarterclayton commented on #953
The continue token is part of all `*List` objects returned by Kubernetes.
Anyone getting a list gets continue tokens

On Thu, Sep 12, 2019 at 3:31 PM Adam Novak <notifications@github.com> wrote:

[2019-09-13 19:35] adamnovak commented on #953
How do I tell a list returned by `list_namespaced_job` describing a successful next page from a list that represents a 410 error caused by my having submitted an expired continue token?

[2019-09-13 21:57] micw523 commented on #940
/assign

[2019-09-14 00:14] #884 closed

[2019-09-15 17:45] davidxia commented on #784
/remove-lifecycle stale

[2019-09-15 18:48] cofiiwu commented on #547
Any update? The issue has been posted over one year.

[2019-09-15 21:48] ganchurin opened #954 "Loading configuration file fails when insecure-skip-tls-verify is false"
**What happened**:
Loading configuration file with `config.load_kube_config()` failed with the following error:
[code]

**How to reproduce it**:
The configuration file must include the following lines:
[code]

**Anything else we need to know?**:
Java-client works fine with the same configuration file.

**Environment**:
- Kubernetes version: v1.11.8
- OS: MacOS 10.14.6
- Python version: 2.7.13
- Py

[2019-09-16 18:12] tdigangi opened #955 "read_namespaced_deployment response as json"
Is there a method to get a json response from the client `AppsV1Api` _read_namespaced_deployment_ api call. This would be for any GET deployment command.

I would expect there is a way to leverage `-o` similar to the command below.
` kubectl get deploy istio-telemetry -n istio-system -o json`

Please advise if this method exists or is missing,

**Environment**:
- Kubernetes version: 1.13
- OS, Mac

[2019-09-16 18:41] SudheerBondada commented on #602
@PaulFurtado @arzarif This issue seems to be occurring with https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#list_namespaced_pod as well. (k8 python client version: 8.0.1). Adding a timeout does not help either, the API call neither returns anything nor throws an error. Looks like no one is assigned to this issue from the dev team yet.

[2019-09-16 20:47] #717 closed

[2019-09-17 00:21] roycaihw commented on #950
tried `kubectl describe node` in a single-node cluster
[code]

you can check https://github.com/kubernetes-client/python/blob/master/kubernetes/README.md to see which library APIs it made. E.g. `GET /api/v1/nodes` corresponds to `CoreV1Api list_node`; `GET /api/v1/nodes/{name}` corresponds to `CoreV1Api read_node`

[2019-09-17 02:05] PortingCode commented on #955
Same problem.

[2019-09-17 19:50] rfum commented on #868
Any updates on this issue?

[2019-09-18 00:36] roycaihw commented on #954
I can reproduce this issue with v10.0.1. Interestingly having `insecure-skip-tls-verify: true` works fine. I think there is something wrong in the [getter](https://github.com/kubernetes-client/python-base/blob/4c1ab55553fa7d0479bd5b270c2b303cb056dd4b/config/kube_config.py#L495-L509)

/good-first-issue

[2019-09-18 02:16] ganchurin commented on #954
@roycaihw If there are no objections, I will work on this.

[2019-09-18 02:36] micw523 commented on #954
Go for it - enjoy!

[2019-09-18 03:50] ganchurin commented on #954
/assign @ganchurin

[2019-09-18 10:53] EricCat commented on #602
@TomasTomecek `_request_timeout` not work for me. the kubernetes package default is `_request_timeout = kwargs.get("_request_timeout", 60)`

[2019-09-18 13:27] sebastian-philipp commented on #225
This issue is one reason I wrong my own generator: https://github.com/sebastian-philipp/rook-ceph-client-pytho

[2019-09-18 15:13] micw523 commented on #225
/reopen

[2019-09-18 20:41] roycaihw commented on #953
iiuc the question is "how to read the `continue` token using the python client in a 410 response from the apiserver"

from a high level, apiserver always [return a response body of `Status` kind when an error occurs](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#response-status-kind), so the client should deserialize the response body in

[2019-09-18 20:45] roycaihw commented on #953
@scottilee An example using paging list and showing how to deal with expired continue token may be useful

[2019-09-18 20:51] roycaihw commented on #955
setting [`_preload_content`](https://github.com/kubernetes-client/python/blob/f4634711ec2decf273e915d42e43824b64a15b87/kubernetes/client/api_client.py#L318-L319) to false gives you the raw json undecoded

[2019-09-18 21:20] roycaihw commented on #812
fixed by https://github.com/kubernetes-client/python-base/pull/160

/close

[2019-09-18 21:20] #812 closed

[2019-09-18 22:01] roycaihw commented on #741
kubernetes-client/gen#97 is merged. We used openapi-generator in 11.0.0a1 release https://github.com/kubernetes-client/python/pull/931

[2019-09-18 23:38] micw523 commented on #166
/lifecycle frozen

[2019-09-19 08:59] 1032231418 opened #957 "istio Support"
Will it support istio  in the future?

[2019-09-19 11:14] dims commented on #957
This repo is just for kubernetes, please ask on istio github issue tracker

/close

[2019-09-19 11:14] #957 closed

[2019-09-19 11:26] EricCat opened #958 "WebSocketBadStatusException: Handshake status 400 Bad Request"
**What happened **:
Run [pod_exec example](https://github.com/kubernetes-client/python/blob/master/examples/pod_exec.py)
Raise exception:  **websocket._exceptions.WebSocketBadStatusException: Handshake status 400 Bad Request**

[code]
**Environment**:
- Kubernetes version (`v1.12.9-gke.7`):
- OS (Debian 9):
- Python version (`3.6, 3.7`)
- Python client version (`10.0.1`)

[2019-09-19 11:48] EricCat commented on #842
@avisrivastava254084 Did you find the solution?

[2019-09-19 16:54] avisrivastava254084 commented on #842
@EricCat
Yeah I did but as I have left my previous company, I am not able to recall the solution.

[2019-09-19 16:54] #842 closed

[2019-09-20 17:17] #689 closed

[2019-09-20 21:25] salilgupta1 commented on #843
/remove-lifecycle stale

[2019-09-20 21:31] salilgupta1 commented on #843
I'm currently trying to figure out what we should be doing with the `resource_version` when we have to restart the watch stream. The python client will handle certain exceptions, such as the connection timing out, and will use the last `resource_version` it has to continue the stream. Should we be emulating that paradigm when the client doesn't handle an exception? I.e. if we receive a `410` error

[2019-09-22 07:45] #828 closed

[2019-09-22 08:23] 1032231418 opened #960 "ApiClient Data return"
I want to customize an interface through ApiClient, but the returned data is not the data I want. The direct access interface has data.

[code]
[code]
![1](https://user-images.githubusercontent.com/5716348/65384461-76680d00-dd55-11e9-8da5-cbe66948b769.png)

[2019-09-22 08:33] #960 closed

[2019-09-22 09:11] 1032231418 opened #961 "api_client.request POST 404"
Hi:
I am customizing the interface via api_client.request, POST submits the data back to 404, but the direct access interface is normal.

kubernetes： v1.14.6
kubernetes-client: v10.0.1

···

#coding=utf8
from kubernetes import client
from kubernetes.client.api_client import ApiClient
import json

configuration = client.Configuration()
setattr(configuration, 'verify_ssl', False)
client.Configuratio

[2019-09-22 09:54] #961 closed

[2019-09-23 04:23] EricCat commented on #958
I found it's due to Istio blocked the WebSocket that sent from **kubernetes**.  so the issue will be closed

[2019-09-23 04:23] #958 closed

[2019-09-23 07:01] PortingCode commented on #955
Thanks a lot!!! It works well. I could get my custom resources directly.

[2019-09-23 07:11] tathagatk22 opened #962 "How to reduce the retry count for python client?"
**What happened (please include outputs or screenshots)**:

I am having a config file of a dead/deleted/inaccessible cluster.
I am trying to accessing the cluster using kubernetes-client-python.
By default kube-client retries it 3 times,

[code]
After 3 retries it throws an exception.

Is there any way to reduce the count.

Example Code
[code]

**What you expected to happen**:

I need to configure

[2019-09-23 16:22] mitar commented on #819
/remove-lifecycle stale

[2019-09-23 20:28] #955 closed

[2019-09-23 22:02] roycaihw opened #963 "Travis CI is failing with Kubernetes 1.16"
e.g.
- https://github.com/kubernetes-client/python-base/pull/163
- https://travis-ci.org/kubernetes-client/python-base/jobs/588553023

1. dynamic client is failing with the following error, we should specify the version (`v1beta1`) in the test
[code]
2. utils test is failing creating apps/extensions APIs with the following error, but I haven't seen upstream API change that could cause this
[code]

[2019-09-23 22:03] roycaihw commented on #963
/assign @fabianvf @micw523

[2019-09-23 22:47] roycaihw commented on #962
this was fixed in upstream code generator: https://github.com/kubernetes-client/python/pull/780#issuecomment-474730247. ref https://github.com/kubernetes-client/python/issues/652

the latest version of this client was generated from [openapi-generator 3.3.4](https://github.com/kubernetes-client/python/blob/release-11.0/kubernetes/.openapi-generator/VERSION), which didn't include the fix yet. It wi

[2019-09-23 22:48] roycaihw commented on #652
fixed in https://github.com/kubernetes-client/python/pull/780

/close

[2019-09-23 22:48] #652 closed

[2019-09-24 02:13] micw523 commented on #963
It’s looking like apps/v1beta1 is also gone in k8s v1.16. The CI failure first appeared when the exit code test was added and the master branch build failed, since minikube got updated to v1.4 which corresponds to k8s v1.16.

There are a bunch of things to be fixed in the tests - I’ll try churn them out. I may have to fix the k8s version to v1.15 when I prepare the patches and change the version b

[2019-09-24 07:26] filippomc opened #965 "Chunks functionality for custom objects"
**What is the feature and why do you need it**:
I'm using the client to retrieve [custom objects](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CustomObjectsApi.md#list_cluster_custom_object) generated by [Argo workflows](https://argoproj.github.io/argo/).

The functionality to [get results in chunks](https://kubernetes.io/docs/reference/using-api/api-concepts/#retrieving

[2019-09-24 17:55] roycaihw commented on #965
The [openapi spec](https://github.com/kubernetes-client/gen/blob/master/openapi/custom_objects_spec.json) that we use to generate the APIs for custom objects needs to be fixed.

It should have the same `continue` and `limit` parameters for LIST and DELETECOLLECTION paths as the [openapi spec for native types](https://github.com/kubernetes/kubernetes/blob/master/api/openapi-spec/swagger.json)

once

[2019-09-24 17:59] roycaihw commented on #963
could you link to the upstream change? I checked the openapi spec and didn't see that

[2019-09-24 20:17] micw523 opened #967 "Examples use deprecated API since k8s v1.16"
**Link to the issue (please include a link to the specific documentation or example)**:
This is the non-critical part of #963

**Description of the issue (please include outputs or screenshots if possible)**:
In k8s v1.16, a few old APIs got deprecated. See #966 and kubernetes/kubernetes#70672. Also see https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/
Need update:
- [ ] In examples/

[2019-09-24 20:39] micw523 commented on #967
/help
/good-first-issue

[2019-09-24 21:35] #963 closed

[2019-09-24 21:51] roycaihw commented on #899
/close

[2019-09-24 21:51] #899 closed

[2019-09-24 21:55] roycaihw commented on #857
/close

[2019-09-24 21:55] #857 closed

[2019-09-24 23:32] ganchurin commented on #954
@roycaihw The corresponding PR was merged. Do I correctly understand that now I should propagate changes from `python-base` into `python` repository? Thanks!

[2019-09-24 23:36] roycaihw commented on #954
Yes, please open a PR to update the python-base submodule, e.g. https://github.com/kubernetes-client/python/pull/911

[2019-09-24 23:52] roycaihw commented on #842
Please refer to this example for running exec https://github.com/kubernetes-client/python/blob/master/examples/pod_exec.py

Getting the RC is fixed in https://github.com/kubernetes-client/python/pull/956

/close

[2019-09-25 01:27] tbarrella commented on #765
/remove-lifecycle stale

[2019-09-25 04:59] jicowan opened #968 "patch_namespaced_config_map merge-patch"
**Description of the issue (please include outputs or screenshots if possible)**:
I am trying to patch a configmap that has two elements: roles and users.

[code]

I want to remove the element users from the configmap when the value is null.  The default patch strategy appears to be a strategic merge, but I want to do a regular merge patch. How do you specify the merge strategy when you call the p

[2019-09-25 15:27] gpkc commented on #585
/remove-lifecycle stale

[2019-09-25 17:26] micw523 commented on #585
This should be tracked to #166
/close

[2019-09-25 17:26] #585 closed

[2019-09-25 21:01] ganchurin commented on #954
Already done in https://github.com/kubernetes-client/python/pull/969

[2019-09-25 21:04] micw523 commented on #954
/close
Thanks!

[2019-09-25 21:04] #954 closed

[2019-09-26 03:29] mikai21 opened #971 "Losing the "new line character" when use watch stream"
**What happened (please include outputs or screenshots)**:

I lost the new line character when use watch stream like below.
If not using the `follow` parameter, then fine. But I want to use stream with new line character.

### Use
[code]

### Output
[code]

**What you expected to happen**:

I want to keep the new line

[code]

**How to reproduce it (as minimally and precisely as possible)**:

[cod

[2019-09-26 08:27] max-rocket-internet opened #972 "IncompleteRead while watching"
**What happened (please include outputs or screenshots)**:

[code]

**What you expected to happen**:

The watcher to always recover and continue watching for events.

**How to reproduce it (as minimally and precisely as possible)**:

Tricky. I've only seen it once and it was random. My [application](https://github.com/max-rocket-internet/newrelic-controller) just watches a CRD for changes.

**Envi

[2019-09-26 16:44] shurikk commented on #811
a workaround for this issue is to pass `_preload_content=False` to `read_namespaced_pod_log` like:

[code]

[2019-09-26 23:44] scottilee commented on #934
I talked to some people from different Kubneretes client orgs and staying on TravisCI seems to be favored.

[2019-09-26 23:44] #934 closed

[2019-09-27 21:11] njfix6 commented on #678
I still get this issue with kubernetes version "==10.0.1"

[2019-09-28 18:27] #340 closed

[2019-09-28 18:41] remram44 commented on #340
/reopen

[2019-10-01 07:51] karmab commented on #417
not working here either, here's the sample code i tried to use

[code]

[2019-10-01 13:44] avarf opened #973 "Incompatibility with K8s v1.16"
**What happened (please include outputs or screenshots)**:
We were using the python client in our components but after trying to install our components on a K8s cluster which is running k8s 1.16 the client fails.

**What you expected to happen**:
I expect that it works with the new version of K8s.

**How to reproduce it (as minimally and precisely as possible)**:
Just run some of the functions suc

[2019-10-01 16:13] micw523 commented on #973
Please check out the [Readme](https://github.com/kubernetes-client/python/blob/master/README.md).

We are currently working on the client version v11.0, which is compatible with server version v1.15. v1.16 compatibility should come with client version v12.0.

[2019-10-01 16:17] micw523 commented on #972
There should be a PR in progress: kubernetes-client/python-base#133

[2019-10-01 17:38] roycaihw commented on #971
/assign

[2019-10-01 18:12] roycaihw commented on #973
Yes we haven't generated the client against kubernetes 1.16 yet. Before doing that, I want to send a survey to the community about opinion with major breaking changes caused by the upstream code generator

[2019-10-01 20:00] roycaihw commented on #266
What is base repo and how it is related to this repo

The original design was https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/csi-new-client-library-procedure.md

Also it would be great if we have document around how to run tests in this repo. Ref: https://github.com/kubernetes-client/python-base/pull/126#issuecomment-491335985

[2019-10-01 20:02] roycaihw commented on #968
This is a known issue. There is a PR proposing a fix: https://github.com/kubernetes-client/python/pull/959

[2019-10-01 20:43] roycaihw commented on #971
we had a test case for watching logs with newline: https://github.com/kubernetes-client/python-base/pull/93/files

I wonder if it's some usage not being well-documented. Could you check if you're using the API differently from the test?

(now I look back and feel we should separate the client-side implementation for watch and logs. They share similar stream concepts, but the client-side handling c

[2019-10-01 21:43] roycaihw opened #974 "[RFC] Major breaking changes in the upcoming release"
Hi Kubernetes Python client developers, this is a request for comment issue. Please leave comments if you have any opinion/suggestion. Thanks!

**What happened**:
A majority of the code base is generated code. This repo is switching from using swagger-codegen to using openapi-generator. For more backgrounds:
- https://github.com/kubernetes-client/gen/issues/93
- https://github.com/kubernetes-clien

[2019-10-01 21:47] roycaihw commented on #974
cc @dims @fabianvf @mbohlool @micw523 @oz123 @scottilee @tomplus @yliaog

[2019-10-01 22:20] oz123 commented on #974
@roycaihw my 2 cents (appologies for being so scrooge, it's late here):
I consider this "impolite" to remove existing functionality without warnings. Maybe we can add an empty package called `api` which only imports everything from `apis`.
However, when one uses stuff from `api` we can issue a deprecation warning. This package can stay along for 2 versions giving people enough time to update their

[2019-10-02 06:29] tomplus commented on #974
@oz123 there are more changes than renaming modules so it'd be still important to watch out when upgrading to the proposed version.

[2019-10-02 06:53] oz123 commented on #974
@tomplus , thanks for the hint. I will definitely try to make aliases for all the breaking changes, so breaking isn't breaking, rather warning.

[2019-10-02 09:51] luisdavim commented on #818
/remove-lifecycle rotten

[2019-10-02 09:52] mikai21 commented on #971
You're right! The watch object don't need any separator because a generator is already iterable.
Thank you. I got insight from your test case.

Actually, My use case was below. For the log stream viewer.

### server (flask for stream)
[code]

### client (web ajax)
[code]

I resolve the problem like this

### server (flask for stream)
[code]

[2019-10-02 09:52] #971 closed

[2019-10-02 21:08] micw523 opened #976 "Switch Python Testing Package to Pytest"
**What is the feature and why do you need it**:
Currently we are using pytest to test our clients and nose to generate coverage reports for the base repo. The reports can instead be generated with pytest as shown in [here](https://github.com/codecov/example-python).
**Describe the solution you'd like to see**:
Use pytest instead of nose to generate code coverage reports.
/good-first-issue
/help

[2019-10-03 02:51] palnabarun commented on #976
/assign

[2019-10-03 22:07] jfrabaute commented on #754
We're having the same problem with al our gke cluster which are using cmd-path.
I've just send a pull request to try to fix this: https://github.com/kubernetes-client/python-base/pull/168

[2019-10-04 15:23] remram44 opened #977 "Convert JSON or Dict to client objects"
See also https://github.com/kubernetes-client/python/issues/340#issuecomment-526249075 (was closed for inactivity, NOT resolved)
See also #63

**Motivation**
It is sometimes useful to be able to load Python objects from JSON, for example to read it from a config file. It should be possible to get Python objects from JSON, to pass around the code in a type-safe manner, for modification and ultimate

[2019-10-04 21:45] Ark-kun commented on #417
/reopen

[2019-10-06 00:28] vladdoster commented on #976
Going to take a try at this!

[2019-10-06 02:27] palnabarun commented on #976
@vladdoster I am on it already :)

[2019-10-06 20:06] palnabarun commented on #951
I want to give a shot at this. :)

/assign

[2019-10-07 03:52] jdamata opened #979 "V1LabelSelector match_labels should be matchLabels"
**Link to the issue (please include a link to the specific documentation or example)**:

https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1LabelSelector.md

**Description of the issue (please include outputs or screenshots if possible)**:
As per the example here: https://github.com/kubernetes-client/python/blob/master/examples/deployment_crud.py#L38

[2019-10-07 14:52] ccggeo opened #980 "unable to access kubernetes api from within pod with python client, can do so with curl"
**What happened (please include outputs or screenshots)**:

I am able to access the kubernetes API from within the pod via curl

`KUBE_TOKEN=$(cat /var/run/secrets/kubernetes.io/serviceaccount/token) && curl -sSk -H "Authorization: Bearer $KUBE_TOKEN"       https://$KUBERNETES_SERVICE_HOST:$KUBRNETES_PORT_443_TCP_PORT/api/v1/namespaces -I
`
However doing the same with the python client it will han

[2019-10-07 15:35] ccggeo commented on #980
Closed. I was able to resolve by disabling ssl

configuration.verify_ssl=False

[2019-10-07 15:35] #980 closed

[2019-10-07 16:11] tdigangi commented on #955
@PortingCode would you be able to share an example?

[2019-10-07 16:41] tdigangi commented on #955
Example:
`api_response = v1.read_namespaced_deployment(name, namespace, _preload_content=False).read()
`

[2019-10-08 17:40] yliaog commented on #967
/assign @scottilee

[2019-10-08 17:40] yliaog commented on #968
/assign @roycaihw

[2019-10-08 17:42] yliaog commented on #973
please wait for python client for 1.16 k8s
/close

[2019-10-08 17:42] #973 closed

[2019-10-08 17:44] yliaog commented on #977
/assign @roycaihw

[2019-10-08 17:44] yliaog commented on #979
/assign @yliaog

[2019-10-09 01:01] #965 closed

[2019-10-09 22:33] Urvik08 commented on #547
To confirm, still seeing this in v 10.0.1, Pod does go on and gets scheduled though.
[code]

[2019-10-10 05:05] chekolyn commented on #977
I was just looking trying to do this. This would be a useful function.

[2019-10-10 16:43] yliaog commented on #977
@chekolyn could you take this issue, and work on a pr?

[2019-10-10 22:44] chekolyn commented on #977
@yliaog sure, I'll give it a shot. i think the deserializer() might have been auto generated by swagger codegen. So where would this be appropriate? utils?

[2019-10-10 23:26] micw523 commented on #977
Yes that looks like generated code. I think utils should be fine, but somewhere in the base repo may work as well since we don’t necessarily require e2e tests on this one (do we?)

[2019-10-12 04:32] mikai21 opened #982 "Failed to get a log stream when log line is json type"
**What happened (please include outputs or screenshots)**:

When I got log like blow (use stream)

[code]

Error occured like below

[code]

**What you expected to happen**:

Get a logs without error

**How to reproduce it (as minimally and precisely as possible)**:

Try to get json type log like this

[code]

**Anything else we need to know?**:

[code]

**Environment**:
- Kubernetes version (`kub

[2019-10-12 04:43] mikai21 commented on #982
I checked fix like below. But this is a bad solution.
If a log has the 'object' key, then It goes to problem...
[code]

[2019-10-13 11:12] #749 closed

[2019-10-14 09:00] bluenote10 opened #983 "Unmarshalling fails in log stream (read_namespaced_pod_log) obtained via watch"
**What happened (please include outputs or screenshots)**:

I'm using the following code to monitor log outputs of a pod:

[code]

This works in general. However if the process running in the pod prints a line that consists of a plain integer (e.g. `echo 42`), the message unmarshalling crashes:

[code]

**What you expected to happen**:

It should not crash depending on the line content.

**How to

[2019-10-14 21:09] micw523 commented on #177
/reopen
/lifecycle frozen

[2019-10-15 17:38] roycaihw commented on #982
/assign

[2019-10-15 17:40] roycaihw commented on #983
/assign

[2019-10-16 03:49] chekolyn commented on #977
I've been doing some tests and using a similar approach to [utils.create_from_yaml ](https://github.com/kubernetes-client/python/blob/master/kubernetes/utils/create_from_yaml.py)to infer the object  response_type to use in the already generated codegen deserialize function.

Using this approach is possible to deserialize single objects and a list of multiple items to a list of  individual namespac

[2019-10-16 12:17] Pega88 commented on #409
I'm having the same issue with a way more simpler setup:
`curl -H "Authorization: Bearer $TOKEN" --cacert $CACERT $K8S/api/v1/namespaces/devops/pods/spinnaker-spinnaker-halyard-0/exec?command=ls` I am getting the same response:
`{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {

  },
  "status": "Failure",
  "message": "Upgrade request required",
  "reason": "BadRequest",
  "code": 400
}

[2019-10-16 15:37] bluenote10 commented on #983
I think I have found another problem with the reading message streams: empty lines.

If I do something like `echo -e  "\n"` in a POD, the code above errors with:

[code]

Should I open a separate issue, or does it make sense to fix that in one go?

[2019-10-16 16:45] #976 closed

[2019-10-16 20:47] remram44 commented on #977
I'm not sure what you mean, lists what kind of lists wouldn't be deserializable?

[2019-10-17 04:03] calmkart commented on #940
Is there any progress?
maybe i can help to do this feature.(delete_from_yaml)
@micw523

[2019-10-17 05:29] chekolyn commented on #977
Is really more about the object we output and not the input.
And almost every object has a list object as well.

For example:
pods = core_v1.list_pod_for_all_namespaces()
type(pods)
kubernetes.client.models.v1_pod_list.V1PodList

type(pods.items[0])
kubernetes.client.models.v1_pod.V1Pod

So in the proposed solution we would output a native python list/array that has individually deserialize object

[2019-10-17 12:40] tania-python-dev commented on #339
I also faced with a problem with refreshing token. Python client reads token from  `~./kube/config`, if it is already expired, creates new token and sends next request with a new one. It looks like a usual flow but the issue is that kubectl config remains the same (with old expired token) and API responds me with 403 Forbidden error since I come with unknown for him token.
The only way I can refre

[2019-10-18 11:55] vmarkovtsev opened #988 "[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:852)"
**What happened (please include outputs or screenshots)**:

I am running the first example code from the README and get

[code]

**Environment**:
- Kubernetes version (`kubectl version`):
[code]
- OS (e.g., MacOS 10.13.6): Ubuntu 18.04
- Python version (`python --version`): 3.6
- Python client version (`pip list | grep kubernetes`) today's master

Tested with urllib3 1.24.3 and 1.25.6.

[2019-10-18 14:42] micw523 commented on #988
Could you take a look at the SSL Error for MacOS in the readme file and see if it applies?

[2019-10-18 14:49] vmarkovtsev commented on #988
`OpenSSL 1.1.1  11 Sep 2018`

[2019-10-18 16:58] micw523 commented on #225
/reopen
/lifecycle frozen

[2019-10-19 13:34] #836 closed

[2019-10-19 13:39] schedutron commented on #616
@LTMenezes are you still working on this? I'd like to give a shot.

[2019-10-20 13:23] damaca commented on #547
It's been year and half and the issue still here a lot of client versions before :(

[2019-10-20 14:01] TekTimmy opened #990 "label_selector causes watch timeouts"
**What happened (please include outputs or screenshots)**:
I want to use the "new" Kubernetes Executor of the Apache Airflow project and ran into this problem. The Airflow Kubernetes-Executor tries to watch all pods with a specific `label_selector` but always runs into an timeout error. The error does *not* occur when I do not specify an `label_selector`.

[code]
**What you expected to happen**:
T

[2019-10-21 11:22] pilosus opened #991 "Create a Job from existing Cronjob"
When working with `kubectl` I can easily create a `Job` from existing `Cronjob` like this:

[code]

How can I do the same using `kubernetes-client`?

[2019-10-21 15:18] davlum commented on #977
I see there is a PR already open for this functionality. I'm not sure if the discussion is better had here or on the PR directly. There has been talk over on the [apache-airflow](https://github.com/apache/airflow) repo of how useful the [private deserialize methods would be exposed as public](https://github.com/apache/airflow/pull/6230#discussion_r336869991). It seems to me that the way the privat

[2019-10-21 15:45] chekolyn commented on #977
@davlum if I understand correctly, you would like to pass the object type directly; perhaps we can pass it along and not infer it, basically skip this line: https://github.com/chekolyn/python/blob/json_deserialize/kubernetes/utils/deserialize.py#L252
and pass the value directly.

Additionally, we look for more than just the kind to infer an object. We look for the api version and api group.

Do yo

[2019-10-21 16:52] davlum commented on #977
Yeah, I'm essentially looking for the functionality of [`__deserialize_model(self, data, klass):`](https://github.com/kubernetes-client/python/blob/ca4f31198e9748f1075af0e02abb8f7e1e174159/kubernetes/client/api_client.py#L614) but made public. Because you have to pass the model and the models include the API version number, the API version is explicit as well.

[code]

[2019-10-21 18:26] #839 closed

[2019-10-21 18:42] chekolyn commented on #977
@davlum i think a klaas/response_type str parameter in here https://github.com/chekolyn/python/blob/json_deserialize/kubernetes/utils/deserialize.py#L238 would do pass the klass to the __deserialize_model via this line: https://github.com/kubernetes-client/python/blob/ca4f31198e9748f1075af0e02abb8f7e1e174159/kubernetes/client/api_client.py#L289

I will amend/add this  tonight. This is still work i

[2019-10-22 02:19] mikai21 commented on #982
@Ark-kun
Thank you for fix this problem.
But, I have some concern about unintentionally action if log is json type string and it has "object" key.
Still failed if log like blow.

[code]

I think https://github.com/Ark-kun/python-base/commit/f11587d0e3cedf645ba12fe4dfd7971ee7162c9d is not a fundamental solution.

[2019-10-22 05:58] mitar commented on #323
/remove-lifecycle stale

[2019-10-22 14:42] cben commented on #819
Just to be clear, it's not just List action response that's ordered arbitrarily,
but also the initial burst of fake `ADDED` events when doing Watch without specifying resourceVersion?

Indeed, this scenario violates the documented guidance in api-concepts that "If the client watch is disconnected they can restart a new watch from the last returned resourceVersion, or ..."

Things I hope are true b

[2019-10-22 17:40] roycaihw commented on #988
/assign

[2019-10-22 17:41] roycaihw commented on #990
/assign

[2019-10-22 17:43] roycaihw commented on #991
/cc @fabianvf

[2019-10-22 18:01] roycaihw commented on #990
May I ask is the timeout server-side or client-side? Is it reproducible with kubectl or client-go?

[2019-10-22 18:08] micw523 commented on #266
/assign

[2019-10-22 18:49] fabianvf commented on #991
The `kubectl create job --from=cronjob/*` command simply pulls down the cronjob, pulls the `jobTemplate` out of its spec, and then creates the `Job` object using that template. The below code should do the same thing:

[code]

[2019-10-22 20:31] remram44 commented on #977
Passing in the `kind` is acceptable for my use case, I always know what kind of object I am trying to deserialize.

[2019-10-23 07:13] pilosus commented on #991
@fabianvf great, thank you!

I've seen the source code for `kubectl create job --from=cronjob/*`. It doesn't translate directly to kubernetes API, just as you have shown here. But wouldn't it be nice to have a shortcut in `kubernetes-client`, an analogue for `--from=cronjob/*` in `client.V1Job`? It could be an optional argument.

[2019-10-23 09:30] Lordfourteen opened #992 "kubernetes.config.config_exception.ConfigException: Service host/port is not set."
**What happened (please include outputs or screenshots)**:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.5/dist-packages/kubernetes/config/incluster_config.py", line 96, in load_incluster_config
    cert_filename=SERVICE_CERT_FILENAME).load_and_set()
  File "/usr/local/lib/python3.5/dist-packages/kubernetes/config/incluster_config.py", lin

[2019-10-23 14:58] fabianvf commented on #991
I'll defer to @roycaihw , but my impression is that this sort of higher-level functionality isn't necessarily in scope, this client occupies a space closer to client-go than to kubectl. It would be nice to have a place for these sorts of helpful functions though, I'm not sure if there is one at the moment.

[2019-10-24 03:22] Ark-kun commented on #982
Unfortunately, the fundamental solution might not exist. dictionaries duck typed by design. You cannot type-check them. The code in question decided to do some transformation of the `data['object']`. This design decision might not be easy to undo.

[2019-10-24 03:25] Ark-kun commented on #982
Maybe we should just disable unmarshalling for logs.

[2019-10-24 03:39] pigletfly commented on #765
there is a discussion https://github.com/kubernetes-client/python-base/pull/38

[2019-10-24 08:20] dogewzy opened #993 "permission forbidden in read_namespaced_pod_status"
**What happened (please include outputs or screenshots)**:
I use kubernetes python client and I can get all pod info with list_namespaced_pod method , that means the config I use for my client is right and have perimission to the namespace. But I can't get a single pod status with the method 'read_namespaced_pod_status', it reminds me that I don't have the permission

here's my traceback:
`     Tr

[2019-10-24 15:28] palnabarun commented on #952
I investigated this issue. The problem seems to have a root in the following lines of codes in [kubernetes-client/gen:openapi/python.sh](https://github.com/kubernetes-client/gen/blob/master/openapi/python.sh#L57-58)

[code]

Reference: https://github.com/kubernetes-client/gen/blob/master/openapi/python.sh#L57-58

What is happening here is the first line replaces all instances of `client` with `kub

[2019-10-24 15:28] palnabarun commented on #952
/cc @roycaihw

[2019-10-24 15:28] palnabarun commented on #952
/assign

[2019-10-24 15:33] #841 closed

[2019-10-24 16:31] palnabarun commented on #952
Filed issue https://github.com/kubernetes-client/gen/issues/133 to track this.

[2019-10-24 17:19] palnabarun commented on #952
Filed a PR https://github.com/kubernetes-client/gen/pull/134 to resolve this.

[2019-10-24 17:47] adamnovak opened #994 "delete_namespaced_job does not document that the 'Foreground' deletion policy does not block"
**Link to the issue (please include a link to the specific documentation or example)**:

https://github.com/kubernetes-client/python/blob/7fb3a25176395da26007aec7b4c843aa03514c21/kubernetes/docs/BatchV1Api.md#delete_namespaced_job

**Description of the issue (please include outputs or screenshots if possible)**:

Maybe this is obvious to people who already know things about Kubernetes, but I expec

[2019-10-24 20:53] chaudum commented on #811
@frederik-b We had the same problem with a `curl` command that outputs a JSON string. We solved it by adding a random character sequence at the end, so it is not JSON serializable any more, and removed it after receiving the response.
In your case, the `command` argument would be `["echo", "${MY_VAR}<EOF>" ]`, which returns `{"foo":"bar"}<EOF>`. Since you know the terminating character sequence, y

[2019-10-25 11:46] #870 closed

[2019-10-25 18:25] y-spreen commented on #863
Is there any way to achieve this functionality with the current version? Or is it just not possible right now?

[2019-10-25 21:06] tomplus commented on #993
Reading status of resources requires an additional rbac role. In your case you probably don't have read permission to the pods/status resources.

[2019-10-26 19:24] #411 closed

[2019-10-28 05:58] #823 closed

[2019-10-29 17:40] roycaihw commented on #992
/assign

[2019-10-29 17:42] roycaihw commented on #993
/assign @fabianvf

[2019-10-29 17:43] roycaihw commented on #994
/assign

[2019-10-29 17:44] roycaihw commented on #994
/unassign
/assign @palnabarun

[2019-10-29 17:44] palnabarun commented on #994
/assign

[2019-10-29 18:29] fabianvf commented on #993
If you just want to get the information from the status of the resource, using  the`read_namespaced_pod` method should work fine, as the whole resource, including the status, is returned. When you use `read_namespaced_pod_status`, you're trying to access the status subresource directly, which would require you to have an additional RBAC permission for `pods/status`.

The only difference between th

[2019-10-29 20:53] mrbobbytables opened #996 "Clean up outside collaborators"
Hey there @kubernetes-client/python-admins,

One of the github-admins here. -- We have a [longstanding issue] on cleaning up outside collaborators, and are now actively planning on removing them on December 1st.

At this point, people that are actively contributing to the Kubernetes project should be promoted to [org members][mem], and any repo specific permissions should be managed through their

[2019-10-30 07:12] hmtai opened #997 "AttributeError: 'module' object has no attribute 'select_header_accept'"
**What happened (please include outputs or screenshots)**:
When I use python SDK to create create a customer resource ,it can not create successfully because `AttributeError`:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (`kubectl version`):v1.13.9
- OS (e.g.,

[2019-10-30 09:23] rajibmitra commented on #967
I would like to take this if no one is working on it actively ?

[2019-10-30 09:40] rajibmitra commented on #967
/assign rajibmitra

[2019-10-30 17:53] ramnes opened #998 "Friendlier OOP API?"
**What is the feature and why do you need it**:

I'd love to be able to do something like this:

[code]

**Describe the solution you'd like to see**:

Implementing a bunch of default class methods and properties such as `list` and `list_namespaced` (or maybe `list(namespace="...")`), as well as instance methods such as `delete` and `patch`.

I know that this feature proposal is rather succinct, an

[2019-10-30 21:01] micw523 commented on #910
/lifecycle frozen
/assign
Will tie this to #266

[2019-11-01 01:11] roycaihw commented on #991
https://github.com/kubernetes-client/python/tree/master/kubernetes/utils is where we put some helpful high-level functions.

[2019-11-01 10:41] rfum commented on #869
Any updates on this?

[2019-11-01 22:24] eestewart commented on #740
/remove-lifecycle stale

[2019-11-03 03:51] jfrabaute commented on #754
/remove-lifecycle rotten

[2019-11-04 10:17] TekTimmy commented on #990
I found the problem: The watcher throws an timeout error and stops watching after 6 seconds because of the `_request_timeout': (6, 6)`.

[2019-11-04 10:19] TekTimmy commented on #990
The timeout is client side. Don't know any way how to reproduce in `kubectl` or `client-go`.

[2019-11-04 10:19] #990 closed

[2019-11-04 11:46] zhaoguangqiang opened #999 "I want to get the information without None objects"
**What happened (please include outputs or screenshots)**:
I want to use list_namespaced_replica_set to get the replicaset information, i did it.
But the result object had many None objects
like that

.......
 {'annotations': None,
                                               'cluster_name': None,
                                               'creation_timestamp': None,

[2019-11-04 18:47] cofiiwu opened #1000 "Does the API support multi-thread/multi-processing?"
**What happened (please include outputs or screenshots)**:
I implement a scheduler with multi-thread/multi-process to create/delete/binding PODs and monitor them. I often get the following error information, so I want to make sure if the API can be used in this way.

2019-11-12 00:11:57,724 WARNING Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection brok

[2019-11-05 18:19] palnabarun commented on #994
@adamnovak The documentation and client code is automatically generated from the OpenAPI specifications of kubernetes api-server. So, editing the Markdown file or Python docstrings would be temporary changes that will eventually be reverted by future client updates.

The correct way to approach this is to update the OpenAPI specifications.

[2019-11-05 18:35] roycaihw commented on #997
/assign

[2019-11-05 18:39] roycaihw commented on #998
This sounds like a huge change to the client interface. Could you list the Pros and Cons of the change? We need to see more evidence of the benefits to this client library.

[2019-11-05 18:45] roycaihw commented on #1000
/assign @jiahuif

[2019-11-05 18:50] roycaihw commented on #997
We have an example of how to create and use custom objects https://github.com/kubernetes-client/python/blob/master/examples/custom_object.py. Could you try it out and see if it works for you?

[2019-11-05 18:51] roycaihw commented on #999
May I ask why do you want to omit the fields with None value? Is it for pretty printing? Or do you want to actually change the object?

[2019-11-05 18:55] roycaihw commented on #996
Removed @jonathan-kosgei and @WilliamDenniss from direct repo permissions (read access). Closing

[2019-11-05 18:55] #996 closed

[2019-11-05 22:09] sbstp opened #1001 "DefaultCredentialsError with GKE cluster (intermittently)"
**What happened (please include outputs or screenshots)**:
`kubernetes-python` fails to authenticate properly using the kubernetes config. `kubectl` works fine with the same config. The failure appears to be intermittent, sometimes there is no issue authenticating, sometimes there is.
[code]

**What you expected to happen**:
It should authenticate properly on its own.

**How to reproduce it (as mi

[2019-11-06 04:24] cofiiwu commented on #1000
Hi @roycaihw ,
do you have any information?

[2019-11-06 07:53] estherxyz opened #1002 "How could I set sorting param in python client"
Hi,

If use kubectl can add --sort-by param to get list after sorting by created time.
`kubectl get pods --sort-by=.metadata.creationTimestamp`
Is there any way can set sorting param in python client?
Or any param or setting could reach this?
k8s api return seems do not do sort?

Thanks.

[2019-11-06 15:13] ramnes commented on #998
TL;DR: This indeed a huge change, but not a breaking one: it's most likely possible to implement this as an abstraction layer that uses current mechanisms, and Python developers might like this higher level of abstraction.

----

If we take my example again

[code]

and rewrite it with the current API

[code]

we easily see that the current API is more verbose and thus harder to read and understan

[2019-11-06 16:32] nollimahere commented on #553
/remove-lifecycle stale

On Thu, Oct 10, 2019 at 10:05 AM fejta-bot <notifications@github.com> wrote:

[2019-11-06 19:32] jiahuif commented on #1000
This issue does not seem like threading problem to me. According to the exception, it seems more like a protocol/networking issue. Plus, it is very strange to see SSLV3 mentioned.

Could you please try to create a minimal script for reproduction?

[2019-11-06 20:38] roycaihw commented on #988
I couldn't reproduce the issue from HEAD in a Debian 4.19.67-2 box. I ran the example against a GKE cluster and it worked.

[code]

[2019-11-06 21:22] vmarkovtsev commented on #988
I am no longer active on this issue - I fell back to calling `kubectl` with `subprocess`. From what I see in the old issues, this is a recurring problem and a pain in the ass to reproduce. I think that the proper reproduction requires offering docker containers both for the client and the server. No idea how to package a k8s server running in one's org though.

[2019-11-07 09:30] hushenbeg commented on #144
@mrmcmuffinz  I am very new to Kubernetes, can you please help me out

import kubernetes
import pydash
import kubernetes.client
from kubernetes.client.rest import ApiException
from aerolib.core import log4py
from kubernetes.stream import stream

class KuberneteClient:

    def __init__(self, config_object):

        configuration = kubernetes.client.Configuration()

         configuration.assert_h

[2019-11-07 09:58] hushenbeg opened #1003 "connect_get_namespaced_pod_exec Reason: Handshake status 404 Not Found"
**What happened (please include outputs or screenshots)**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (`kubectl version`):
- OS (e.g., MacOS 10.13.6):
- Python version (`python --version`)
- Python client version (`pip list | grep kubernetes`)

[2019-11-07 09:59] #1003 closed

[2019-11-07 11:04] cofiiwu commented on #1000
@jiahuif
I can try it.
I refer to multi-thread because I read this [https://stackoverflow.com/questions/3724900/python-ssl-problem-with-multiprocessing](https://stackoverflow.com/questions/3724900/python-ssl-problem-with-multiprocessing)
However the related operations to SSL are implemented in the client API, so maybe I use the client API in a wrong way?

Here is the concept of the current impleme

[2019-11-07 12:40] devkid commented on #461
/reopen

This is still broken. Can we port the fix from openshift to this library?

[2019-11-08 03:14] bangi123 opened #1004 "Cannot get Post Status "Terminated""
**What happened (please include outputs or screenshots)**:
Code:
kube_client = client.CoreV1Api()
kube_client.list_namespaced_pod(namespace="test")
while True:
    for pod in kube_client.get_pods_running().items:
            print(" {0} -> {2}".format(pod.status.phase, pod.status.pod_ip))

Pod Status is changing from Running to Pending, however, kubectl commmand Terminating, IS there a way to get

[2019-11-08 05:14] #851 closed

[2019-11-08 08:17] #852 closed

[2019-11-09 14:39] JccSanabria commented on #558
Fixed up replacing just the inputs and regular attributes named async (not the _async) within the null.py file.

<img width="710" alt="image" src="https://user-images.githubusercontent.com/8854990/68530246-2f21e580-02dd-11ea-8957-c9df3c84b839.png">

[2019-11-10 16:57] cofiiwu commented on #1000
Update:  The error seems to appear in multi-process only.

[2019-11-11 02:26] zhaoguangqiang commented on #999
i read info from list_namespaced_replica_set, then patch_namespaced_deployment it by op:replace resources. I found it report some errors like these:

HTTP response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"v1.Deployment.Spec: v1.DeploymentSpec.Template: v1.PodTemplateSpec.Spec: v1.PodSpec.Containers: []v1.Container: v1.Container.Stdin: ReadBool: expect t

[2019-11-11 21:40] #617 closed

[2019-11-12 18:15] adamnovak opened #1005 "Examples show off `load_kube_config()` as the Right Way to set up the module, but an attempt at `load_incluster_config()` is also required to match the behavior of kubectl and work form inside pods"
**Link to the issue (please include a link to the specific documentation or example)**:

See the examples in the README:

https://github.com/kubernetes-client/python#examples

**Description of the issue (please include outputs or screenshots if possible)**:

The examples of how to set up the module all (except for `in_cluster_config.py`) look like this:

[code]

This gives the impression that this

[2019-11-12 18:38] roycaihw commented on #1002
Sort is a CLI feature in kubectl. kube-apiserver doesn't support sorting API result and the python client doesn't implement this CLI-level feature.

[2019-11-12 18:38] #1002 closed

[2019-11-12 18:44] roycaihw commented on #1005
/assign @fabianvf

[2019-11-12 18:48] roycaihw commented on #1001
The error suggested `Please set GOOGLE_APPLICATION_CREDENTIALS or explicitly create credentials and re-run the application`. Does setting GOOGLE_APPLICATION_CREDENTIALS fix the issue?

[2019-11-12 18:54] roycaihw commented on #1004
There is no `Terminating` pod phase according to https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-phase

My guess is that kubectl did some intelligent check of the deletion timestamp and printed `Terminating. You can run kubectl with `--v=8` to see what API response it actually received.

[2019-11-12 19:14] adamnovak commented on #1005
Some documentation of the Right Way to get the "current" namespace would also be helpful here; the way that works when using config files (`config.list_kube_config_contexts()` to get the active context, then asking it about its namespace) doesn't work when using a pod's service account (when you need to read `/var/run/secrets/kubernetes.io/serviceaccount/namespace` instead). Most of the examples s

[2019-11-12 19:21] fabianvf commented on #461
/reopen

[2019-11-13 07:53] qw2208 commented on #940
I'm also wondering if there will be some progress.

[2019-11-13 12:29] luisdavim commented on #817
/remove-lifecycle rotten

[2019-11-13 13:21] sector2000 commented on #859
/remove-lifecycle rotten

[2019-11-13 15:03] sector2000 commented on #859
This issue is still unresolved in latest version 10.0.1

[2019-11-13 18:16] cofiiwu commented on #1000
update
The issue is similar to the current issue
[https://github.com/psf/requests/issues/1906](https://github.com/psf/requests/issues/1906)

[2019-11-13 20:37] jdamata commented on #741
I'm using 11.0.0a1 but still getting intermittent 401's

[code]

[2019-11-14 08:35] ramnes commented on #1005
Frankly, all of this would be much simpler with a single `load_config` function that does the try-except mentioned above.

[2019-11-15 20:01] geerlingguy commented on #928
/remove-lifecycle stale

I may be running into a similar situation when attempting to use a proposed ansible `k8s_exec` module with a slow-running command via `connect_get_namespaced_pod_exec`.

Related issue: https://github.com/geerlingguy/tower-operator/issues/5#issuecomment-554507041

[2019-11-16 17:19] consideRatio opened #1008 "11.0.0b1 fatal error - easy to reproduce"
Version 11.0.0b1 release less than a day ago has a fatal bug that is very simple to reproduce.

## GIF of error
![import-error](https://user-images.githubusercontent.com/3837114/68996656-4ba1bd00-089d-11ea-9560-bb29e634bf00.gif)

## To reproduce the error
[code]

## Error logs
[code]

[2019-11-18 13:41] pierluigilenoci opened #1009 "Client import break my script"
**What happened (please include outputs or screenshots)**:
I tried to create a class to extend the client.

- /lib/k8s.py

[code]
- test.py
[code]

If I try to run the script I get this error:
[code]
If I comment out the first line of /lib/k8s.py the script works.

**What you expected to happen**:
I expect that if I import the client the script will work.

**How to reproduce it (as minimally and p

[2019-11-18 13:56] pierluigilenoci commented on #1009
Never mind.

[2019-11-18 13:56] #1009 closed

[2019-11-18 22:46] bangi123 commented on #1004
@roycaihw: Thanks, Will close the ticket.

[2019-11-18 22:46] #1004 closed

[2019-11-19 17:36] toshitanian commented on #1008
Same error here.

[2019-11-19 18:29] prathameshd9 commented on #863
Interested in the wait-for-pod condition. Using 1.10 version..

[2019-11-19 22:10] NissesSenap commented on #524
/remove-lifecycle stale

[2019-11-19 22:18] fabianvf commented on #1005
Yeah, I think a general `load_config` function that mimics more closely what `kubectl` is doing would make sense, I've always ended up reimplementing it in projects that make use of the client. The configuration code is all here: https://github.com/kubernetes-client/python-base/tree/master/config , is there anyone with the bandwidth/desire to pick this up?

[2019-11-19 22:59] adamnovak commented on #1005
This is also related to https://github.com/kubernetes-client/python/issues/741 in that, having loaded the config, credentials which expire aren't refreshed in the background. So the Right Way to get credentials ought to include some kind of periodic refresh, or at least a note that you need it.

[2019-11-20 23:00] zichambers0 commented on #825
I met the same issue.
Is there a plan to fix it?

[2019-11-21 07:42] zhujiangyou opened #1010 "Programming implementation of Argo"
Where can I find a python SDK to replace Argo's various command-line interfaces？

[2019-11-21 08:34] jinchihe commented on #1008
This should be a P1 issue, any plan to fix this? Thanks @consideRatio

[2019-11-21 09:36] tomplus commented on #1008
Thanks for reporting this. I've prepare a patch to fix it and for now please use the latest stable release.

[2019-11-21 10:20] pierluigilenoci opened #1012 "RoleBinding.rbac.authorization.k8s.io is invalid - Reason: Unprocessable Entity"
**What happened (please include outputs or screenshots)**:

I tried to create a RoleBinding, this is the body:
[code]

If I try to use this payload I get this error:
[code]

I tried to use 10.0.1, 9.0.1 and 8.0.2 of the library.

**What you expected to happen**:

Rolebinding is created

**How to reproduce it (as minimally and precisely as possible)**:

As described above

**Anything else we need t

[2019-11-21 10:36] tomplus commented on #1012
It looks like it sends a malformed request. It's common in this library that the body is not a string/dict but a object. For example: [create_namespaced_role_binding](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/RbacAuthorizationV1Api.md#create_namespaced_role_binding) requires this structure [V1RoleBinding](https://github.com/kubernetes-client/python/blob/master/kuberne

[2019-11-21 12:49] pierluigilenoci commented on #1012
I created the `body` manually as dict. Using objects as suggested works. I was misled by the fact that `__corev1api.create_namespace` accepts a dict.

[2019-11-21 14:24] zrks commented on #860
Fix confirmed.

[2019-11-21 14:24] #860 closed

[2019-11-22 12:05] rawler opened #1013 "WSClient._all grows uncontrolled and inefficiently"
**What happened (please include outputs or screenshots)**: When subscribing (line-by-line) to stdout of a POD, CPU increases until filling up the python-client CPU core, blocking everything else in the same process.

Cause is determined to be every line being added to WSClient._all, which grows increasingly slow since each iteration copies the existing data of WSClient._all. Commenting out "self._

[2019-11-22 15:53] cliffburdick commented on #547
I've noticed that another side effect of this issue is you can't tell if a pod was actually bound to a node due to this error. We've seen a couple times where we bind the pod, this error happens, and the pod well actually start up. It's stuck in pending. Re-running the exact same bind command makes it work.

[2019-11-22 16:52] #858 closed

[2019-11-22 18:15] micw523 commented on #547
The same behavior has been long documented and the fix is on the server side. I think it’s coming in Kubernetes v1.17.

[2019-11-22 19:38] #1008 closed

[2019-11-22 21:18] fabianvf commented on #461
/remove-lifecycle rotten

[2019-11-23 01:09] roycaihw commented on #1008
This is fixed in 11.0.0b2. Thanks for reporting and fixing this!

[2019-11-23 19:50] epa095 opened #1016 "ListThenWatch"
**What is the feature and why do you need it**:
I want to list the objects of some resource, and then watch for updates to it.

As explained different places (e.g. https://github.com/kubernetes-client/python-base/pull/131#issuecomment-502737581
https://github.com/kubernetes-client/python/issues/819) one can *not* just use a ẁatch, but one has to first do a list, get the resourceVersion from the li

[2019-11-23 21:20] #811 closed

[2019-11-25 08:21] misrn opened #1017 "certificate verify failed"
python 3.7
client 10.0.1

    from kubernetes import client, config
    config.kube_config.load_kube_config(config_file="F:\\config.yaml")
    class Kubernetes:

        def __init__(self):
            self.Connect = client.CoreV1Api()

        def list_namespaces(self):
            data = []
            for ns in self.Connect.list_namespace().items:
                data.append(ns)
            ret

[2019-11-25 08:51] epa095 opened #1018 "Watch handles resourceVersion wrong"
Warning: I might have misunderstood something. Feel free to correct.

As described several places (e.g. https://github.com/kubernetes-client/python-base/pull/131#issuecomment-502737581
https://github.com/kubernetes-client/python/issues/819) one can *not* just use a ẁatch on a "list-functon", but one has to first do a list, get the resourceVersion from the list-call itself, and then use that in the

[2019-11-25 10:55] palnabarun commented on #952
This issue has been fixed by https://github.com/kubernetes-client/gen/pull/134. We should close this now maybe.

[2019-11-25 17:33] rajashreetutgirl opened #1019 "websocket._exceptions.WebSocketBadStatusException: Handshake status 403 Forbidden"
Hi,

I'm using Kubernetes client to write a file once the pod turns to running state. Below code creates the file but throwing 403 exception and not able to write the file.
Note: I'm running this code within a pod (say, namespace a) and trying to create file in another namespaced pod (say namespace b).

Code:
config.load_incluster_config()
client_config = Configuration()
batch_client = client.Batc

[2019-11-26 07:16] zhcf commented on #547
This is a bug, the root cause is python client fail to deserialize returned data, that is the reason why we see the binding is success even with this exception.
The below workaround can igore the step of deserializing the returned data.

v1.create_namespaced_binding(namespace, body, _preload_content=False)

[2019-11-26 18:41] roycaihw commented on #1010
/assign @yliaog

[2019-11-26 18:42] roycaihw commented on #1012
/close

[2019-11-26 18:42] #1012 closed

[2019-11-26 18:44] roycaihw commented on #1013
I think we should add a method to flush the _all. Would you like to send a fix?

/help

[2019-11-26 18:47] roycaihw commented on #1016
/assign @yliaog

[2019-11-26 18:50] roycaihw commented on #1018
/assign

[2019-11-26 18:52] roycaihw commented on #1019
/assign @alanjcastonguay

[2019-11-26 18:56] roycaihw commented on #952
Thanks for the fix!

/close

[2019-11-26 18:56] #952 closed

[2019-11-26 18:58] yliaog commented on #1010
could you please raise an issue in argo repo? this repo is for kubernetes python client. thanks.

[2019-11-26 18:58] yliaog commented on #1010
/close

[2019-11-26 18:58] #1010 closed

[2019-11-26 19:00] yliaog commented on #1016
i think the complete solution is an informer, so i would prefer to follow up on https://github.com/kubernetes-client/python/issues/868

[2019-11-26 19:00] yliaog commented on #1016
/close

[2019-11-26 19:00] #1016 closed

[2019-11-26 19:22] roycaihw commented on #1017
which OS are you running? SSL verification failures usually heavily depends on your environment setup. Please check out the SSL troubleshooting in readme: https://github.com/kubernetes-client/python#troubleshooting

you could also try disabling SSL verification if you're doing some testing. Ref https://github.com/kubernetes-client/python-base/issues/177

[2019-11-26 19:24] roycaihw commented on #1018
I think we do extract the latest resource version from the apiserver response and use that: https://github.com/kubernetes-client/python-base/blob/a2d1024524de78b62e5f9aa72d34cb9ea9de2b97/watch/watch.py#L96

/close

[2019-11-26 19:24] #1018 closed

[2019-11-26 19:33] epa095 commented on #1018
But that is the resource version for *each of the elements in the list*, not of the list itself. The resource_version exists in the response of [func](https://github.com/kubernetes-client/python-base/blob/a2d1024524de78b62e5f9aa72d34cb9ea9de2b97/watch/watch.py#L140) (at least if `func` is any of the functions `client.list_*_object`). So something like
[code]

But maybe the semantics is different b

[2019-11-26 19:48] rawler commented on #1013
I rather think the first thing to solve, is to use a more efficient method
of appending to _all, maybe using BytesIO.

Second, an opt-in flush method would almost certainly go unnoticed by
someone, until finding out the hard way, like i did. Maybe this should be
staged for next opportunity to break API, making collecting _all opt-in,
with the default being disabled?

Den tis 26 nov. 2019 19:44Kube

[2019-11-26 20:33] micw523 commented on #1017
Looking at his file path I think it’s some version of Windows

[2019-11-26 20:35] sniranjan commented on #362
/remove-lifecycle rotten

[2019-11-26 20:36] sniranjan commented on #362
/remove-lifecycle stale

[2019-11-26 20:45] sniranjan commented on #362
@kincl  Were you able to find a way to do this?

[2019-11-27 06:40] #768 closed

[2019-11-27 10:10] rihardsk opened #1020 "UNKNOWN_BASE_TYPE in documentation for patch_* methods"
**Link to the issue (please include a link to the specific documentation or example)**:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/AppsV1Api.md#patch_namespaced_deployment_scale and other `patch_*` methods.

**Description of the issue (please include outputs or screenshots if possible)**:
The type for the method's `body` parameter is `UNKNOWN_BASE_TYPE`. It's not clear

[2019-11-27 14:16] rajashreetutgirl commented on #1019
Hi All,

I'm triggering this delete pvc from one namespace to delete other namespace pvc and I'm getting the same error 403.

{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"persistentvolumeclaims \"claim-admin-pls-2dstart-2d1\" is forbidden: User \"system:serviceaccount:edisonai-brahmos:default\" cannot delete resource \"persistentvolumeclaims\" in API group \"\" in

[2019-11-27 15:06] alanjcastonguay commented on #1019
This doesn’t look like an API client problem. Instead it’s an RBAC config problem. You’re authenticating as the `default` ServiceAccount in the `edisonai-brahmos` namespace. What RoleBinding or ClusterRoleBinding cites that ServiceAccount, and what Role or ClusterRole does it cite?

[2019-11-27 23:21] tbarrella commented on #868
I wrote a SharedIndexInformer in Python after ~4000 lines of code including tests by directly translating it, its dependencies, and unit tests from client-go. I could share it but would want to be sure licensing/copyright isn't an issue; maybe it's ok as long as the "Kubernetes Authors" license header is on each translated file and the license is Apache? Also, I'm not sure if it's fit for this cli

[2019-11-28 11:28] rajashreetutgirl commented on #1019
@alanjcastonguay PVC deletion is working with below RBAC:
kind: Role
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  #namespace: edisonai-brahmos
  name: pvc-writer
rules:
- apiGroups: [""] # "" indicates the core API group
  resources: ["pvc"]
  verbs: ["get", "post", "watch", "list"]

Still Im not able to write a file inside the running pod, Below is the RBAC for Pod:

kind: Role
apiVe

[2019-11-28 12:56] ceroloy commented on #1000
Hello @cofiiwu
Yes you can disable SSL via

[code]

[2019-11-29 06:09] feixiaohuijava opened #1021 "where is the ingress ?"
why there is not list api about ingress? I used kubernetes 1.14  and the kubernetes-client/python was 10.0.1 .

i got pod, namespace , service. But i can't find ingress. Is anyone can tell me what happended?

my code:

class ClientKubernetes(object):

    def __init__(self):
        ApiToken = ""
        configuration = client.Configuration()
        setattr(configuration, 'verify_ssl', False)

[2019-11-29 06:16] #1021 closed

[2019-11-29 09:16] kelajin commented on #1020
It's not clear to me too

[2019-11-29 14:25] saurabhsinghmaurya commented on #949
added this fix

[code]

[2019-11-29 14:25] #949 closed

[2019-11-30 14:24] kincl commented on #362
@sniranjan yes but only through the mechanism I mentioned in my initial message:

[code]

Not ideal, but it did meet my needs.

[2019-11-30 17:37] scottilee commented on #882
@oz123 Can you also give me access to the readthedocs.io page?

Also, let me know if I misunderstood but it it seems like you said pushes to your repo (https://github.com/oz123/python) trigger builds to both readthedocs.io sites but shouldn't we only trigger builds on pushes to this repo (https://github.com/kubernetes-client/python)?

Lastly, any update on adding a guide to updating the documentat

[2019-11-30 17:37] scottilee commented on #266
@micw523 any update on this and https://github.com/kubernetes-client/python/issues/910?

[2019-11-30 17:42] scottilee commented on #967
@rajibmitra hey just checking in to see if you were able to make any progress on this?

[2019-11-30 18:20] oz123 commented on #882
@scottilee I'm sorry I can't be helpful regards to your request. I'm only a co maintainer on read the docs.

Pushes to my fork only update my own site.
Pushes to this site update the documents for this site.

Regarding the last question, the readme you link to implicitly assumes one knows how to work with sphinx to create the documentation. I can send a PR with some more information on this regard

[2019-11-30 18:24] #882 closed

[2019-12-01 09:10] rajashreetutgirl commented on #1019
Again my pvc deletion is also not working. Is there any solution to delete pvc in different namespace? Could anyone please help me with this?
Previously it was working fine. I tried to add more verb and it is failing.
Since I have to delete the pvc in another namespace I have given clusterrole and clusterrolebinding.(attached below)

Error:
{"kind":"Status","apiVersion":"v1","metadata":{},"status"

[2019-12-01 09:17] rajashreetutgirl commented on #1019
@alanjcastonguay
I have attached the clusterrole and its corresponding clusterrole binding. Please have a look.

Thanks
Alan

[2019-12-01 13:56] rajashreetutgirl commented on #1019
I have to assign cluster-admin clusterrole to the default serviceaccount of my namespace.. which solved the issue.
But is there any other way?

Thanks in Advance!

[2019-12-02 16:46] ashpreetbedi opened #1022 "Creating a CRD fails with "ValueError: Invalid value for `conditions`, must not be `None`""
**What happened (please include outputs or screenshots)**:

NOTE: This is a duplicate of https://github.com/kubernetes-client/python/issues/415 and https://github.com/kubernetes-client/python/issues/376 but those issues are closed.

I'm trying to create a CRD with python client 10.0.1 (`kubernetes==10.0.1`) and with Kubernetes server 1.14 using the `kubernetes.client.ApiextensionsV1beta1Api.create

[2019-12-02 22:38] Vacant0mens opened #1023 "Api v1.15.6 Response for Patching Deployment.Spec.Replicas: "unrecognized type: int32""
**What happened (please include outputs or screenshots)**:
wrote some python to create a V1Deployment object and then patch or create the deployment based on whether it already exists or not. When the Deployment doesn't exist (using: `apps_v1.create_namespaced_deployment` , I get:
`"message":"Deployment in version \"v1\" cannot be handled as a Deployment: v1.Deployment.Spec: v1.DeploymentSpec.Repl

[2019-12-02 22:58] ashpreetbedi commented on #376
/reopen

[2019-12-02 23:00] ashpreetbedi commented on #376
@mbohlool this issue is there when creating CRDs as well. How can we get this fixed?

[2019-12-02 23:20] logicfox commented on #728
Has anyone figured out a reliable solution to this problem?

[2019-12-03 03:48] ZhaoBaymax opened #1024 "can not list_namespaced_controller_revision"
**What happened (please include outputs or screenshots)**:
i wan to get the list of controller_revision
for example:
[code]
but i get this  err:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (`kubectl version`):
[code]
- OS (e.g., MacOS 10.13.6):
- Python versio

[2019-12-03 07:51] yury-stepanov commented on #1020
JFYI, I have tried to `V1Scale`, but it doesnt work apparently, so I just passing  `{"spec": {"replicas": 3}`. Seems to do the trick.

[2019-12-03 11:53] shanit-saha commented on #728
@logicfox
--------------------------------------------------------------------------------------------------------
A given Kubernetes server will only preserve a historical list of changes for a limited time [ 5-15 minutes as per configuration ]. K8 internally uses etcd3 and that preserve changes in the last 5 minutes by default. The requested watch operations fails because the historical version

[2019-12-03 13:52] palnabarun opened #1025 "Try out Github Actions for Continuous Integration/Continuous Deployment"
**What is the feature and why do you need it**:
**Feature:** Explore Github Actions to run tests.

**Need:** Dependence on a single vendor for source control as well as CI/CD.

**Describe the solution you'd like to see**:
**Continuous Integration (CI)**

Whenever a PR if filed, a Github Action workflow starts executing which runs the tests for all the different environments as is happening now.

T

[2019-12-03 13:53] palnabarun commented on #1025
Cross referencing: https://github.com/kubernetes-client/python-base/issues/180

[2019-12-03 13:53] palnabarun commented on #1025
/assign

[2019-12-03 13:54] palnabarun commented on #1025
Pinging @roycaihw @brendandburns for comments.

[2019-12-03 14:32] tholok97 opened #1026 "When installing from release zip: "error: package directory 'kubernetes/config' does not exist""
**What happened (please include outputs or screenshots)**:

Install from [release zip](https://github.com/kubernetes-client/python/archive/v11.0.0b2.zip) fails with message "error: package directory 'kubernetes/config' does not exist". Looking at the exploded zip the `kubernetes/config` link is broken, and the `kubernetes/base` directory is empty.

Our issue looks like this one https://github.com/

[2019-12-03 16:48] micw523 commented on #1026
/assign

[2019-12-03 18:49] roycaihw commented on #1020
cc @tomplus

/assign

[2019-12-03 18:52] roycaihw commented on #1023
/assign

[2019-12-03 18:56] roycaihw commented on #817
#848 has been merged

/close

[2019-12-03 18:56] #817 closed

[2019-12-03 19:04] roycaihw commented on #1020
There was no UNKNOWN_BASE_TYPE in 10.0 [client](https://github.com/kubernetes-client/python/blob/release-10.0/kubernetes/docs/AppsV1Api.md) (Kubernetes 1.14). This looks like a regression introduced by either openapi-generator or Kubernetes 1.15.

[2019-12-03 19:07] roycaihw commented on #1022
This is fixed in upstream Kubernetes 1.16 https://github.com/kubernetes/kubernetes/pull/64996. The next major release of this client (v12.x) will include the fix

/assign

[2019-12-03 19:15] Vacant0mens commented on #1023
@roycaihw do you know if this can be fixed in the kubernetes-client/python v10 or if it's just an incompatibility issue?

[2019-12-03 19:15] roycaihw commented on #1024
This is a bug in upstream Kubernetes openapi spec:
[code]

The field `Raw` is required therefore the client validates the field to not be `None`, however the response from API server doesn't have `Raw` set.

The upstream openapi spec has been fixed in 1.16. The next major release of this client (v12.x) will include the fix.

[code]

[2019-12-03 19:15] #1024 closed

[2019-12-03 19:18] roycaihw commented on #936
/remove-lifecycle stale

[2019-12-03 19:25] roycaihw commented on #936
I think the leading underscore is done by the code generator because the field names conflict with Python builtin functions. The underscore doesn't mean `internal` and doesn't affect the behavior. Feel free to access these fields.

/close

[2019-12-03 19:25] #936 closed

[2019-12-03 20:04] micw523 commented on #1026
It sounds like you're in a very restrictive environment. GitHub release does not contain submodules. The source files for download are automatically generated. We did not provide installation instructions for downloaded zip from GitHub.

There are reasons to split our repo into two separate repos though. Without using git, I'd suggest the following that combines the master branch of python-base an

[2019-12-03 20:06] micw523 commented on #266
Thanks for the ping - it will be done - I just returned from a conference and regained my desktop.

[2019-12-03 20:33] tholok97 commented on #1026
Thanks for having a look @micw523 :)

In the [releases](https://github.com/kubernetes-client/python/releases) page there are what I read as installation instructions for each release. This is what I followed:

[code]

So my impression was that the zip is self-contained and would work when installed like this. If that is not the intention then I have misunderstood. **Should the above instructions i

[2019-12-03 20:41] micw523 commented on #1026
It's never our intention to not include all the files :) The release zip files are automatically generated and I don't think it's possible to get submodules inside. I just saw the instructions on the release page - I had thought they were the same as in the main readme.

I just asked @roycaihw to look into this - we could attach a separate zip file for the base repo when publishing the release, or

[2019-12-03 20:42] micw523 commented on #1026
/lifecycle frozen

[2019-12-03 20:44] roycaihw commented on #1026
Currently github doesn't support [creating release that contains submodule](https://github.community/t5/How-to-use-Git-and-GitHub/Create-Release-that-contains-submodule/td-p/12073), so the instruction is wrong and should be updated.

For now you can either use pip or [clone the source code recursively using git](https://github.com/kubernetes-client/python#installation). Talked with @micw523 on sla

[2019-12-03 20:54] micw523 commented on #1026
This sgtm. I can go create a new release template.

[2019-12-04 16:11] ashpreetbedi commented on #1022
Awesome, thanks @roycaihw

[2019-12-04 19:29] prasad1991 commented on #427
w = watch.Watch()
print w
for event in w.stream(v1.list_namespaced_pod,"default"):
    if event['object'].status.phase == "Pending" and event['object'].spec.scheduler_name == scheduler_name:
       # print event['object']
        r1 = event['object'].metadata.name
        #print event['object'].namespace
        print r1
        pod = client.V1Pod()
        pod.api_version="v1"
        pod.kind="P

[2019-12-04 19:31] prasad1991 commented on #427
w = watch.Watch()
print w
for event in w.stream(v1.list_namespaced_pod,"default"):
    if event['object'].status.phase == "Pending" and event['object'].spec.scheduler_name == scheduler_name:
       # print event['object']
        r1 = event['object'].metadata.name
        #print event['object'].namespace
        print r1
        pod = client.V1Pod()
        pod.api_version="v1"
        pod.kind="P

[2019-12-04 19:51] chowmean commented on #979
@yliaog I want to pick this up but I didn't understand the issue. match_labels is mapped to matchLabels here https://github.com/kubernetes-client/python/blob/master/kubernetes/client/models/v1_label_selector.py#L38. What is the issue here?

[2019-12-04 22:07] tomplus commented on #1020
It looks like openapi-generator insert it when the spec doesn't define the content-type:

https://github.com/OpenAPITools/openapi-generator/blob/c882338ef134e9c00a02fed2d2792b7eda36ea95/modules/openapi-generator/src/main/java/org/openapitools/codegen/DefaultCodegen.java#L4981-L4987

In v10 we have NULL which is also incorrect:

https://github.com/kubernetes-client/python/blob/release-10.0/kubernet

[2019-12-05 10:40] Deepakchawla opened #1027 "Service certification file does not exists."
`config.load_incluster_config()`
`v1 = client.CoreV1Api()`
`print("Listing pods with their IPs:")`
`ret = v1.list_pod_for_all_namespaces(watch=False)`
`for i in ret.items:`
      `     print("%s\t%s\t%s" %(i.status.pod_ip, i.metadata.namespace, i.metadata.name))`

getting this issue

[2019-12-05 16:42] Datamance opened #1028 "Can't replicate `kubectl apply -f` functionality with Python client"
**What happened (please include outputs or screenshots)**:
The kubectl CLI [uses a StrategicMergePatch type](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/cmd/apply/apply.go#L912) in the underlying API request for `apply`.

The Python client should be able to do the same by letting us pass a Content-Type of 'application/strategic-merge-patch+json' into the hea

[2019-12-05 16:54] Datamance commented on #1028
OK, I see there appears to be [some activity on this precise issue now](https://github.com/kubernetes-client/python/pull/959). The Java client seemed to be having the same kind of issue in 2017, to boot. Codegen seems to be a bit unwieldy.

Still interested in any workarounds that stay in Python-land!

[2019-12-06 17:12] thiagosantosleite commented on #740
it would be very useful to me too.

[2019-12-06 18:11] Frankkkkk commented on #740
I ~had~ have the same problem two days ago (thiagosantosleite's message reminded me of it). Would be useful for me too.

[2019-12-06 18:39] thiagosantosleite commented on #740
my workaround was:

`
import yaml, json
from kubernetes import client

ISTIO_API='networking.istio.io'
ISTIO_API_VERSION='v1alpha3'

aConfiguration = client.Configuration()
aConfiguration.host = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
aConfiguration.api_key = {"authorization": "Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}
aConfiguration.verify_ssl = False
clientapi = client.ApiClient(aConfigurati

[2019-12-06 18:48] Frankkkkk commented on #740
Thanks; way better than mine's
[code]

[2019-12-08 00:10] prasad1991 commented on #686
Hi have also facing same issue but my pods are automatically deleted

[2019-12-09 11:34] pigletfly commented on #1027
have you created ServiceAccount resource?

[2019-12-09 19:05] y-spreen commented on #435
For all pods:

[code]

for a single pod

[code]

@g-jgreen @abushoeb @strimpak

[2019-12-09 19:05] y-spreen commented on #435
Should work for nodes the same.

[2019-12-10 01:48] roycaihw commented on #427
@prasad1991 At a glance the error is unrelated to this issue. Please file a separate issue

[2019-12-10 01:56] #1022 closed

[2019-12-10 01:57] black-sea opened #1029 "patch_namespaced_service when i just change port ==> error: duplicate value FieldValueDuplicate"
**What happened (please include outputs or screenshots)**:
Reason: Unprocessable Entity
HTTP response headers: HTTPHeaderDict({'Cache-Control': 'no-cache, private', 'Content-Type': 'application/json', 'Date': 'Tue, 10 Dec 2019 01:51:51 GMT', 'Content-Length': '600'})
HTTP response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"Service \"nginxken\" is invalid:

[2019-12-10 06:43] attlee-wang commented on #703
/remove-lifecycle rotten

[2019-12-10 06:44] attlee-wang commented on #703
@aparamon  About this issuse，do you have any further conclusions?

[2019-12-10 06:44] attlee-wang commented on #703
/reopen

[2019-12-10 07:38] 52devops opened #1030 "Should I when stop watch?"
**What happened (please include outputs or screenshots)**:
I use websocket for client and server(django-chanels), when I use read_namespaced_pod_log
like  this code
### watch
       w = K8sStream.w.stream(self.c.k8s_core_api.read_namespaced_pod_log,
                               name=self.name,
                               namespace=self.namespace,
                               container=self.

[2019-12-10 17:05] raunaqness commented on #967
Can I take this up? @scottilee

[2019-12-10 17:59] roycaihw commented on #1028
We patched the generated rest client to allow using strategic merge patch: https://github.com/kubernetes-client/python/blob/ccd3ce4fc27ed202864f9b3f971744a5ebf6ad7e/kubernetes/client/rest.py#L158-L161
That being said, `kubectl apply` is more than sending a strategic merge patch-- it has logic to do a three-way diff to compose the patch. A better way to do that is to use the new server-side apply f

[2019-12-10 18:13] rajibmitra commented on #967
@scottilee  I didn't get time to fix this , unassigned myself.
@raunaqness or @scottilee  please feel free to work on this.

[2019-12-10 18:33] roycaihw commented on #1027
`load_incluster_config` is used when you deploy your application within a pod and it loads the automatically mounted service account certs. Are you running your code inside a pod?

[2019-12-10 18:38] roycaihw commented on #1029
could you enable `Debug` in your client configuration and show us the patch sent to the apiserver? Also please share the code you're using and how the existing service object looks like.

[2019-12-10 18:40] palnabarun commented on #1030
/assign

[2019-12-10 19:20] Datamance commented on #1028
@roycaihw it looks like this feature is not generally available as of 1.17?

[2019-12-10 19:31] roycaihw commented on #225
Type hinting would be more useful for using the APIs in this client (compared to config-loading, watch, etc), which are mostly generated by openapi-generator. I wonder if openapi-generator support type hinting.

cc @tomplus @scottilee

[2019-12-10 19:38] roycaihw commented on #1028
No it is not. From what I heard it was supported for a sub-portion of Kubernetes APIs in 1.15.

[2019-12-11 00:15] roycaihw commented on #1018
The semantics is different. The apiserver responds to watch requests with a stream of watch events. See https://kubernetes.io/docs/reference/using-api/api-concepts/#efficient-detection-of-changes:

[code]

The python client extracts the resource version from each of the watch event. If you print the [`line`](https://github.com/kubernetes-client/python-base/blob/a2d1024524de78b62e5f9aa72d34cb9ea9de

[2019-12-11 01:16] roycaihw commented on #1023
I didn't find any incompatibility issue for 1.15.6-v10 version skew. Could you turn on the [debug](https://github.com/kubernetes-client/python/blob/ccd3ce4fc27ed202864f9b3f971744a5ebf6ad7e/kubernetes/client/configuration.py#L76) switch in your client Configuration and paste the complete API request & response?

[2019-12-11 05:39] athom commented on #741
` 11.0.0b2` also not work

[code]

[2019-12-11 21:26] jbyers19 commented on #325
Any update on this? Working on service that accepts POST, PUT, and PATCH requests. It looks like the kubernetes Go client is working, but as mentioned before, the Python client still does not accept `body` params.

For now we are using `kubectl proxy --port=8080` and `http://localhost:8080/api/v1/namespaces/<namespace>/services/<service>/proxy/<path>` as a workaround for testing.

[2019-12-11 21:29] Vacant0mens commented on #1023
@roycaihw I'm not familiar with the underlying code for the python module. Where do I turn on that switch? I'm just calling `kconfig.load_kube_config()` (first line in my `__init__()` ). Does that mean I'd put it in my `~/.kube/config` file?

[2019-12-12 02:19] black-sea commented on #1029
my code:
class K8SApi(object):
    def __init__(self, master_ip=None, token=None):
        self.token = token
        self.master_ip = master_ip
        aConfiguration = client.Configuration()
        aConfiguration.verify_ssl = False
        aConfiguration.host = self.master_ip
        aConfiguration.api_key = {
            "authorization": "Bearer " + self.token}
        aApiClient = client.ApiC

[2019-12-12 22:33] roycaihw commented on #1029
I think this is a dup of https://github.com/kubernetes-client/python/issues/641#issuecomment-429473349

You can also use json patch to change the port: https://github.com/kubernetes-client/python/issues/641#issuecomment-468291235

/close

[2019-12-12 22:33] #1029 closed

[2019-12-12 23:09] roycaihw commented on #1023
you can do

[code]

[2019-12-13 16:13] Vacant0mens commented on #1023
Here's the output with Debug set (minus my `print()`'s)
[code]

[2019-12-13 21:27] tkinz27 opened #1032 "exec command is parsing output if output looks like json"
**What happened (please include outputs or screenshots)**:

Working on creating a scale test where the test orchestrator will exec in each pod and run a curl command to verify the pod is in the expected state. The output of the curl is JSON.

The problem seems to be that the stream client will parse the json as a python dictionary if the output is only json, but return it to the caller as a string

[2019-12-13 22:09] #880 closed

[2019-12-14 00:11] #875 closed

[2019-12-14 18:52] davidxia commented on #784
/remove-lifecycle stalE

[2019-12-14 18:52] davidxia commented on #784
/remove-lifecycle stale

[2019-12-17 18:17] palnabarun commented on #1030
Hi,

What I am suspecting is the list comprehension `(g for g in w)` is blocking your return call in the loop. That is creating the timeout in your `django-channels` package.

Can you try using `yield` like this?

[code]

This would make the watch function non-blocking and you iterate over it and consume data in your consumer.

PS: I have limited knowledge of internal workings of `django-channels`

[2019-12-17 18:34] roycaihw commented on #1032
cc @jiahuif

[2019-12-17 20:58] roycaihw commented on #1032
The json parsing is done by https://github.com/kubernetes-client/python/blob/ccd3ce4fc27ed202864f9b3f971744a5ebf6ad7e/kubernetes/client/api_client.py#L242

Essentially what it does is
[code]
and the result becomes a string representation of the dict `"{'example': 'json', 'with': None, 'and': True}"`

This looks like a bug in the upstream code generator. The generated client should not try parsing

[2019-12-18 15:57] Datamance commented on #1028
@roycaihw given that this client doesn't implement the three-way diff logic found in the `kubectl` tool, and you don't yet support hooking into the server-side apply feature, if we want to emulate this behavior right now - do we have to shell out to `kubectl`? If so, when would you expect the server-side apply feature to be generally available, and how long after that would you be adding support i

[2019-12-19 08:13] LTMenezes commented on #616
Sorry for the delay @schedutron, I am not, you can go ahead.

[2019-12-19 09:24] jinchihe commented on #972
Hey @micw523 How to work around this? Seems the PR still be not merged. Thanks.

[2019-12-19 17:51] micw523 commented on #972
Hi @jinchihe , @roycaihw might have a better idea about this.

[2019-12-19 18:39] adamnovak commented on #953
Has anyone decided to actually do this? Or should we just close it as being a component of https://github.com/kubernetes/kubernetes/issues/69014 ?

[2019-12-19 20:05] Datamance commented on #1028
also @roycaihw doesn’t that rest client patch preclude me from doing anything other than a strategic merge patch? I’m on a mobile device so it’s a little hard to look at code right now but I’m unclear as to when `body` is going to be a list - perhaps this is only then for when I’m patching multiple resources? But then, what if I want to do a strategic merge patch to multiple resources? Or do anoth

[2019-12-20 03:14] jinchihe commented on #972
@roycaihw is there way to work around the issue? except shorten waiting time. Thanks a lot!

[2019-12-20 11:27] couaky commented on #1028
Hi !
As I understand with the current patched generator, all PATCH requests will use `application/strategic-merge-patch+json` and there is no workaround to use other types of patch until the mentioned merge request will be done ?
Thanks.

[2019-12-20 17:58] fabianvf opened #1037 "GC hanging on API client cleanup"
**What happened (please include outputs or screenshots)**:
Python hangs during garbage collection of the API client, in the `__del__` method.

**What you expected to happen**:
Garbage collection succeeds and the process exits

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
The hang doesn't actually occur until python exits. IE, with th

[2019-12-20 21:14] fabianvf commented on #1037
adding `self._pool.terminate()` before [this line](https://github.com/kubernetes-client/python/blob/master/kubernetes/client/api_client.py#L82) solved the issue for me, though I'm not familiar enough with the multiprocessing library to know if that's a good practice. Also it looks like this would likely need to be changed in the upstream generator?

[2019-12-21 06:01] #777 closed

[2019-12-23 06:59] vinzent commented on #1037
reading the different terminate() docs on  https://docs.python.org/3.6/library/multiprocessing.html doesn't sound like calling terminate() is the thing we should do.

tried to get more debug output by extending your reproducer:

[code]

but now the reproduces doesn't reproduce anymore.

[2019-12-23 07:03] vinzent commented on #1037
also having bit of sleep like:

[code]

makes it exit clean.

[2019-12-23 19:21] #266 closed

[2019-12-23 19:21] #910 closed

[2019-12-23 23:03] micw523 commented on #1026
/reopen
Accidentally closed this one.

[2019-12-24 02:34] so0k commented on #990
@TekTimmy - what did you do to fix it? just increase the `_request_timeout` config of airflow? I see the default is 60 seconds ... with a note that if there is no timeout the scheduler would hang, so I assume the error can be ignored and is just a way for Airflow Scheduler to keep its JobWatcher healthy?

[2019-12-24 12:30] palnabarun commented on #1037
@vinzent I'm still able to reproduce the bug with the debug logging.

However, adding the sleep before delete works.

I think this needs to be investigated more.

[2019-12-24 14:55] ricardozd opened #1039 "Can't update the image of CronJob with patch_namespaced_cron_job"
**What happened (please include outputs or screenshots)**:

I'm creating a deploy in AWS with lambda for set the images in Kubernetes Cluster.

I want set image in CronJob:

Cron:

[code]

Describe cronjob:

[code]
Python Code:

[code]
**Note: item = analytics-staging-0**

The response is ok, but don't change the image.

Can you help me?

Thanks!

**Environment**:
- Kubernetes version (`kubectl ve

[2019-12-25 09:39] #620 closed

[2019-12-25 12:52] kvalev opened #1040 "Streaming container logs works only for one hour"
**What happened (please include outputs or screenshots)**:

I am trying to continuously stream the logs from a long-running container, but all the APIs that I tried return after exactly one hour, despite the container still running and writing to stdout.

Approach 1 using `urllib3` stream:
[code]

Increasing the request timeout did not influence anything.

Approach 2 using a watcher (which probabl

[2019-12-25 19:49] #827 closed

[2019-12-26 10:28] Rashmi-P opened #1041 "Returning the Watch stream"
I'm new to kubernetes and I wanted to return the watch stream data in JSON to frontend, where they have implemented store which will check the data and display it on UI.
I'm implementing it with Flask and Server Sent Events, I've pasted the code here below, please suggest me if there is any better way to do this or how to return the data using watch. Also how to calculate the age of the pods?
[get

[2019-12-26 14:01] NeolithEra opened #1042 "Potential dependency conflicts between kubernetes and urllib3"
Hi, as shown in the following full dependency graph of  **_kubernetes_**, **_kubernetes_** requires **_urllib3 >=1.24.2_** ， while the installed version of **_requests _**(2.22.0) requires _**urllib3  <1.26,>=1.21.1**_.

According to Pip's _“first found wins”_ installation strategy, _**urllib3 1.25.7**_ is the actually installed version.

Although the first found package version _** urllib3 1.25.7

[2019-12-26 14:02] NeolithEra commented on #1042
### Suggested Solution

1.	Fix your direct dependencies to be **_urllib3  >=1.24.2,<1.26_**.
2.	Ask your upstream project **_request _** to losse the version range of **_urllib3_** to be **_>=1.21.1_**.

@mbohlool Which solution do you prefer, 1 or 2?
Please let me know your choice. May I pull a request to solve this issue?

[2019-12-26 14:16] nettyxiong commented on #1017
I miss the same problem. It seems that the packages of requirements.txt is statisfied. And I find that use python3 is working but not with python2.
The enviroment is as follows:
CentOS 7.3
[code]

[code]

[2019-12-26 14:54] nettyxiong commented on #36
[code]
this works for me

[2019-12-29 20:16] Deepakchawla opened #1043 "Error 403 forbidden issue when i ran celery task which reading kubernetes api"
What we are doing?

we deployed our Django application on Kubernetes along with celery and rabbitmq and celery have some task to create some pods details on Kubernetes using Kubernetes python API but when I am calling the API from application then it is working properly but when it happened with celery task then it giving us following issue and we give all permission to the app pod and celery but

[2019-12-30 06:52] sjpotter commented on #679
Just an FYI, this bug was never fixed and will impact anyone trying to use 1.9/1.10 (which at this point might be minimal, just should be noted)

[2019-12-30 09:39] nettyxiong opened #1044 "How to use this python client to delete existed pod?"
I use the follows code to delete pod and use a loop to check it if exists. But I find that I can always get pod info although the pod would no be seen in the dashboard. I don't know how to prove that pod has already been deleted.
[code]

[2019-12-30 10:17] jinchihe commented on #972
I worked around this via `@retrying.retry`. :-) but still I think we need the enhancement, thanks.

[2019-12-30 12:14] Deepakchawla opened #1045 "Error 403 forbidden issue when i ran celery task which reading kubernetes api"
What we are doing?

we deployed our Django application on Kubernetes has some task to create some pods on Kubernetes using Kubernetes python API but when I am calling the API from application then it is working properly but when I am reading the pod details using read_namaspace_deployment then it is giving us following issue and we give all permission to the app pod but even getting the issue...

[2019-12-30 13:23] nettyxiong commented on #1044
Done.
I use the try/except to catch the exception if it has been deleted.
Code as follows:
[code]

[2019-12-30 13:23] #1044 closed

[2019-12-30 16:32] Datamance commented on #1028
@roycaihw when approximately will this client be supporting the `application/apply-patch` content type?  Also I'm guessing that they'll support a `+json` prefix as well but just wanted to make 100% sure given that the [documentation](https://kubernetes.io/docs/reference/using-api/api-concepts/#api-endpoint) only mentions a `application/apply-patch+yaml`

[2019-12-31 12:04] #869 closed

[2019-12-31 13:36] orlando-jamie opened #1046 "List Pods Example Fails. Seems to be a package conflict with urllib3."
**What happened (please include outputs or screenshots)**:
Trying to start a project using this Kubernetes client. However, when I install the package in a fresh virtual environment, the list pods example code in the read me fails.

[code]

**What you expected to happen**:
I would expect the example code to run.

**How to reproduce it (as minimally and precisely as possible)**:
1. Fresh python3 vi

[2019-12-31 13:51] orlando-jamie commented on #1046
Turns out this was self-induced. Closing as not a bug.

[2019-12-31 13:51] #1046 closed

[2020-01-01 05:57] irvifa commented on #524
Any exact roadmap on this one?

[2020-01-02 07:08] nettyxiong commented on #551
`pip install setuptools --upgrade` can solve this error. It's worth to try

[2020-01-02 08:05] pacoxu commented on #518
I met same problem too.

[2020-01-02 08:08] pacoxu commented on #518
/reopen

[2020-01-02 10:05] max-rocket-internet commented on #972
How does that work?

[2020-01-02 13:21] JTarball opened #1047 "urllib3.exceptions.ResponseNotChunked from watching namespaced configmap or secret"
**What happened (please include outputs or screenshots)**:
The following api calls against CoreV1Api
list_namespaced_secret
list_namespaced_config_map

fail straight away with w.stream() if the resource version is added

`
    raise ResponseNotChunked(
urllib3.exceptions.ResponseNotChunked: Response is not chunked. Header 'transfer-encoding: chunked' is missing.
`
**What you expected to happen**:

[2020-01-02 18:37] fabianvf commented on #1037
I think it is possible for this to happen even if the request is not async, though I'm still trying to figure out how to reproduce it

[2020-01-03 01:20] jinchihe commented on #972
@max-rocket-internet I added the `@retrying.retry(wait_fixed=1000, stop_max_attempt_number=20)` for my watch function :-)

[2020-01-03 06:25] tathagatk22 commented on #962
Is there any update??

[2020-01-03 17:33] thavlik commented on #1008
[code]

Not fixed for me.

[2020-01-04 17:44] #747 closed

[2020-01-05 04:54] palnabarun commented on #951
/remove-lifecycle stale

[2020-01-05 23:13] #879 closed

[2020-01-06 06:20] #923 closed

[2020-01-06 11:33] siddiqskm opened #1048 "Compatibility with python 2.7 is broken"
Issue -
Installation of the package kubernetes with python 2.7 fails as listed below:
Collecting cachetools<5.0,>=2.0.0 (from google-auth>=1.0.1->kubernetes==9.0.0->-r requirements.txt (line 24))
  Downloading http://pypi.eng.hortonworks.com/api/package/cachetools/cachetools-4.0.0.tar.gz
cachetools requires Python '~= 3.5' but the running Python is 2.7.15

Expectation -
From the official home page

[2020-01-06 13:38] cben commented on #609
ref: #819 is newer issue for same thing.

[2020-01-06 13:50] cben commented on #843
@salilgupta1 `Watch` already tracks last seen resource_version:
https://github.com/kubernetes-client/python-base/blob/a2d1024524/watch/watch.py#L99-L102
and restarts from that version after "regular" disconnection.
- This might not work if in first call you didn't provide `resource_version`, due to some nasty random ordering #819.  My impression (not personally tested) is that "List+Watch" pattern

[2020-01-06 14:08] micw523 commented on #1048
You’ll need to configure your pip to fetch a lower version of compatible package of cachetools. This is not our problem.

On another note, Python 2 will reach end of life soon. Although we may keep supporting py2 a bit, you can see that many packages are starting to require Python 3.5 or higher.

/close

[2020-01-06 14:08] #1048 closed

[2020-01-06 14:28] #826 closed

[2020-01-06 15:11] vinzent commented on #1037
trying to run:

[code]

it also blocks.

if i set timeout >= 1 second it retries 3 times and ends successfully.

at least according docs its possible to specify as float https://urllib3.readthedocs.io/en/latest/user-guide.html#using-timeouts

but I don't think this is the same issue. backtrace: https://gist.github.com/vinzent/151ef384ded68d86881a8a948bc9e410

[2020-01-06 17:40] roycaihw commented on #1037
/cc @roycaihw

[2020-01-06 17:45] palnabarun commented on #1041
/assign

[2020-01-06 17:45] roycaihw commented on #1042
/assign

[2020-01-06 17:47] palnabarun commented on #1043
/assign

[2020-01-06 17:47] palnabarun commented on #1045
Potential duplicate of #1046

Closing it for now. Please reopen if you feel otherwise.

/close

[2020-01-06 17:47] #1045 closed

[2020-01-06 17:51] juliantaylor commented on #819
The issue is that k8s gives no meaning to the resource version but the resource version is just the exported modification index of its underlying datastore, etcd.

etcd explicitly does not guarantee linearity of events
https://github.com/kubernetes-client/python/issues/609#issuecomment-446302635

but it provides the modification index to allow clients to reorder events again.

Imo the only fix is

[2020-01-06 18:23] roycaihw commented on #1039
could you enable the [debug](https://github.com/kubernetes-client/python/blob/master/kubernetes/client/configuration.py#L76) switch and share the actual API request and response?

[2020-01-06 18:30] roycaihw commented on #1040
I wonder if there is a server-side timeout. Could you try `kubectl logs -f` to see if the timeout happens to kubectl as well? You could also enable `-v=9` to see if kubectl does retry or not

[2020-01-06 18:33] roycaihw commented on #1047
Could you share more code about how you extracted the resource version? Also could you enable the [debug](https://github.com/kubernetes-client/python/blob/master/kubernetes/client/configuration.py#L76) switch and share the API response?

[2020-01-06 19:27] roycaihw commented on #1042
I'm not familiar with pip dependency resolution, but if we add `<1.26` in our side to avoid accidental build failure, we should have clear notes/procedures about updating the requirements to the latest compatible version in each release, so that we don't get stuck with a old urllib3 version forever.

`requests` updates its requirements when it supports certain urllib3 versions https://github.com/p