[2018-07-26 16:50] mydockergit opened #586 "RoleBinding and Role 'kind' is 'None'"
Why the 'kind' field in all the objects: RoleBinding, Role, ClusterRoleBinding, Cluster is `None` ?

**Reproduce:**
[code]

[2018-07-26 18:39] sellers commented on #584
see #558

[2018-07-27 22:37] roycaihw commented on #558
Closing as new releases have been generated using https://github.com/kubernetes-client/gen/pull/67

[2018-07-27 22:37] #558 closed

[2018-07-27 22:50] roycaihw commented on #323
Please see https://github.com/kubernetes-client/python/pull/324#issuecomment-408554991 for discussion about experimenting asyncio library in this repo.

@olitheolix we need to be backwards compatible for this package. I haven't seen reasons for dropping Python 3.5 (and even strong needs for fully supporting 3.7) yet. What has been changed?

[2018-07-27 23:05] roycaihw commented on #564
@nagapavan thanks. And you were claiming that you didn't have the problem when creating PVC using kubectl? It appears to me that kubectl just POSTs PVC and PV auto-creation happens on server side.

[2018-07-27 23:59] roycaihw commented on #586
`/apis/rbac.authorization.k8s.io/v1/roles/` returns a `RoleList` object ("kind": "RoleList", "apiVersion": "rbac.authorization.k8s.io/v1") and when apiserver omits the type meta (`kind` and `apiVersion`) for `items` when responding a list object (did a quick search but didn't find the reason behind).

Usually what happens is:

[code]

Therefore the `roles.items[0].kind` is `None`

[2018-07-28 05:32] tusharraut1994 commented on #490
@vladislavPV , I have tried your steps on my script but it is giving another issue:

ApiException: (401)
Reason: Unauthorized
HTTP response headers: HTTPHeaderDict({'Date': 'Sat, 28 Jul 2018 05:30:26 GMT', 'Content-Length': '129', 'Content-Type': 'application/json'})
HTTP response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"Unauthorized","reason":"Unauthori

[2018-07-29 07:38] mydockergit commented on #586
I think that when there is a request for `v1.list_role_for_all_namespaces()` (just one example), the items are Roles and therefore their `kind` should be assigned with kind `Role`

[2018-07-29 14:39] nagapavan commented on #564
Yes. `kubectl` way creates the PV without fail. However the API way of creating PVC is not resulting on PV auto-creation on server side.

[2018-07-30 12:35] vladislavPV commented on #490
you have to add permissions for service account in pod you're running this code
https://github.com/helm/charts/blob/master/stable/cert-manager/templates/rbac.yaml

[2018-07-30 17:22] roycaihw commented on #586
I feel it's feasible to infer items' `Kind` when deserializing the list object in this client (also see https://github.com/kubernetes-client/python/issues/429), but it would benefit all clients in other languages if apiserver properly sets the items' `Kind` when responding a list request. Please feel free to file an issue in upstream kubernetes about this.

[2018-07-30 19:52] cwyl02 commented on #194
I got to reproduce the same ImportError:

`>>> import kubernetes
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Python/2.7/site-packages/kubernetes/__init__.py", line 19, in <module>
    import kubernetes.client
  File "/Library/Python/2.7/site-packages/kubernetes/client/__init__.py", line 540, in <module>
    from .apis.admissionregistration_api import A

[2018-07-31 02:51] #433 closed

[2018-08-02 18:04] pvanderlinden opened #589 "Unable to create jobs"
I'm trying the client, but I run into several issues, the main issue at the moment is that I'm unable to create jobs with the client, the code:

[code]

The output:
[code]

basicly it ignores the actually restartPolicy, or I am doing something wrong.

The underlying issue is documentation and inconsistency:
- inconsisten behavior: in some cases you need to pass in parameters in the contructor of t

[2018-08-02 20:47] dkoshkin commented on #559
We had a similar issue when the API server is exposed with a proxy, you can set a timeout `_request_timeout`.

[2018-08-03 10:59] pvanderlinden commented on #589
It seems to be an issue with the objects, if I send a dictionary it is fine. It might have to do with `template.template.spec` in the code, but if I use `template.spec`, it won't be included in the resulting dictionary.

[2018-08-06 14:18] scher200 commented on #409
for anyone ending up here Googling: **connect_get_namespaced_pod_attach "message":"Upgrade request required"**

[2018-08-06 15:03] mpw07458 commented on #409
@scher200 you also need to upgrade the ssl on python to make it work, definitely you need kubernetes stream but thats one aspect you also need to upgrade SSL and on my mac its a bit complicated not sure about windows/linux

[2018-08-06 18:42] scher200 commented on #409
here it worked out of the box with linux..

[2018-08-06 19:27] mpw07458 commented on #409
the older openssl versions still cause this issue using Streams

type "openssl version"
I believe you need a version 1.X and above
the 0.98 and earlier versions fail with the same error with streams

I have
OpenSSL 1.0.2o  27 Mar 2018 and it works with streams
the 0.98 and earlier versions fail with the same error with streams

[2018-08-07 05:42] Lawouach commented on #584
Hey folks,

Just a friendly ping to know the status of this one. Following #558, a fix was merged but I'm a little confused about what needs to be addressed still? Also, as this a breaking change (we have moved to Python 3.7 and currently can't use the kube client with it), is there a potential ETA by any chance? :)

Thanks :)

[2018-08-08 07:30] simeonkorchev opened #591 "Replicate kubectl create -f in python client"
Hello,
I am trying to deploy Issuer and Certificate in a particular namespace with Kubernetes Python client. However, I can not figure out how to get this done. Is it implemented such a functionality which simulates the behavior of "kubectl create -f file" command? If not, has the implementation of this functionality  been planned already?
Regards

[2018-08-08 13:33] qubusp commented on #591
Same issue here, https://github.com/kubernetes-client/python/issues/514

[2018-08-08 15:12] richerve commented on #525
Same on 3.5.5 and 3.6.6.

This is the reference to the PR to fix this: https://github.com/kubernetes-client/python-base/pull/70

[2018-08-09 23:57] mward29 commented on #528
minikube version: v0.28.2

Any chance I'm doing something wrong?

metrics_url = '/apis/metrics.k8s.io/v1beta1/namespaces/kube-system/pods/kube-controller-manager-minikube'
api_client.call_api(metrics_url, 'GET', _preload_content=True)
returns None

when I make the same call via curl, it returns the expected data.
curl --cacert <redacted> --key <redacted> --cert <redacted> https://192.168.99.100:84

[2018-08-10 00:11] mward29 commented on #528
FYI,

I found: .request instead of .call_api
api_client.request('GET', metrics_url, headers=None, _preload_content=True)

This Works!

[2018-08-10 00:27] Shinzu commented on #528
@mward29 how did you include config parameters here, like the ones from `config.load_incluster_config()` ?

[2018-08-10 00:34] mward29 commented on #528
yes. config.load_kube_config()

[2018-08-10 06:34] Shinzu commented on #528
@mward29 i think go get  .call_api  to work you have to define at least  response_type , but i did not find any suitable type in https://github.com/kubernetes-client/python/tree/master/kubernetes/client/models

[2018-08-10 06:49] Shinzu commented on #528
with
[code]
i get
[code]

[2018-08-10 13:10] Shinzu commented on #528
i do it now this way:

[code]

[2018-08-13 09:02] tomplus commented on #233
The current implementation refreshes a token when configuration is loaded. It doesn't refresh it for long living applications. PTAL https://github.com/kubernetes-client/python-base/issues/59

[2018-08-13 09:25] tomplus commented on #591
Something like `kubectl create -f file` you can find in this example: https://github.com/kubernetes-client/python/blob/master/examples/create_deployment.py

[2018-08-13 22:43] DjKniteX opened #592 "Is there way to make this run in a Dockerfile?"
I'm trying to run this as a Dockerfile on minikube and the test code runs fine when i run python app.py in the terminal and it shows up the pod information but I wanna run it from a docker image

this is what my dockerfile looks like

FROM python:3
ADD . /
RUN pip install kubernetes
CMD [ "python", "./app.py" ]
i keep getting an errcrashloop or an image never pull, also when i run "docker run name

[2018-08-13 23:03] tomplus commented on #592
You can't use `load_kube_config()` from a pod, use `load_incluster_confg()` instead.

Example: https://github.com/kubernetes-client/python/blob/master/examples/in_cluster_config.py#L21

Ref: https://github.com/kubernetes-client/python/issues/255

[2018-08-13 23:34] nxaysanasy commented on #592
I changed that line to what you suggested and I'm getting a crashloopbackoff when im trying to kubectl run the local docker image.

Does the dockerfile look right?

[2018-08-13 23:35] DjKniteX commented on #592
I changed that line to what you suggested and I'm getting a crashloopbackoff when im trying to kubectl run the local docker image.

Does the dockerfile look right?

@tomplus

[2018-08-14 07:15] tomplus commented on #592
Yes, Dockerfile is correct. crashloopbackoff means that your application exits and k8s tries to start it again. Please check what your application logs.

[2018-08-14 09:52] TracyBin opened #595 "Reschedule deployment is failed"
Hi, All:
  I modify _**preferred_during_scheduling_ignored_during_execution**_ or _**required_during_scheduling_ignored_during_execution**_ to none in in the Object of **V1NodeAffinity** when I call patch_namespaced_deployment.But the response show that the affinity contains two schedule policy in deployment.
Whether  two variables should have at least one not None in the Object of V1NodeAffinity?

[2018-08-14 17:26] DjKniteX commented on #592
this is what im getting when using the code you referenced

`Listing pods with their IPs:
Traceback (most recent call last):
  File "./app.py", line 16, in <module>
    main()
  File "./app.py", line 9, in main
    ret = v1.list_pod_for_all_namespaces(watch=False)
  File "/kubernetes/client/apis/core_v1_api.py", line 13608, in list_pod_for_all_namespaces
    (data) = self.list_pod_for_all_namespac

[2018-08-14 19:14] marwatk opened #597 "Configuration set via Configuration.set_default doesn't seem to be respected (6.0.0)"
I'm here by way of [this Ansible issue ](https://github.com/ansible/ansible/issues/43845) and an inability to connect to to Openshift using a self-signed cert while specifying `verify_ssl`=`False`.

I think I've narrowed it down to the k8s python module not respecting how the Ansible module is [setting the default config](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/k8s/c

[2018-08-14 20:43] marwatk commented on #597
[This change/line](https://github.com/kubernetes-client/python-base/commit/b7a9f4a07eb39c41e7f813147a419ed0bfecbbd9#diff-a6c16d793c23d6a28f9255727fcd3373L371) seems to be the culprit. Reverting that one line allows default values to work as they should.

[2018-08-14 22:45] tomplus commented on #592
It's better, you get the response from API Server :)

This error `pods is forbidden: User \"system:serviceaccount:default:default\" cannot list pods at the cluster scope` means that you need configure ClusterRole/Binding to allow to do this action. More information: https://kubernetes.io/docs/reference/access-authn-authz/rbac/

[2018-08-14 22:53] DjKniteX commented on #592
Just so I'm reading this right, I have to make a yaml file now?

[2018-08-14 23:07] tomplus commented on #592
Yes, by applying yaml manifests. Pods cannot query api server by default. You, as an administrator, can create role/binding to add required permissions.

[2018-08-15 11:21] cpwr opened #599 "Error parsing KUBECONFIG url"
I have `KUBECONFIG` path like that:

The way config file name parsed is not correct for such cases:
`config_file = os.path.expanduser(KUBE_CONFIG_DEFAULT_LOCATION)`
and it causes an error:

Maybe user should get a warning instead?
[code]
or use the default path like so:
```config_file = os.path.expanduser(KUBE_CONFIG_DEFAULT_LOCATION.split(':')[0])```

[2018-08-15 18:09] pvanderlinden opened #600 "Deleting a job requires a body, which conflicts with query parameters"
Deleting a job requires a body, which conflicts with query parameters.

Example:
[code]
This will get the `propagation_policy` query parameter to be ignored by the kubernetes api. Passing in None will give an error (Body required), passing `''` will cause a parse error on the kubernetes api server (not valid json).
For more information, see: https://github.com/kubernetes/kubernetes/issues/67394

L

[2018-08-15 21:10] gyennie opened #601 "Documentation creates steep learning curve."
My guess is that most of those who use settle on python as their k8s client are doing so due to python being their dominant language.  The clean programming pattern for this client appears to be relying on the structs of each component needed to build request bodies and not combining structs with python dicts to generate requests.  There are a lot of structs to choose from.  Point being: the pytho

[2018-08-15 21:37] bonneaud opened #602 "Kubes ops communicating via websockets and API hanging"
Hi,

**This is a Bug Report**
- [ ] Feature Request
- [x] Bug Report

**Problem:**
We're using Kubernetes clusters with pods running Airflow. We then have other pods running tasks that send commands to Airflow. To do that, these ops use websockets (kubernetes.stream) and Kubernetes' core_v1_api to get the information about the pod running Airflow. We run commands in one pod, from another pod, by u

[2018-08-16 10:48] markuszoeller commented on #525
Same on Python 3.4

[2018-08-17 03:48] TracyBin commented on #187
The patch object doesn't work at all, the following code is wrong
[code]
@DjangoPeng  Yours method is right

[2018-08-17 10:11] pvanderlinden opened #603 "Timeouts do not work"
Timeouts don't seem to have any effect (at least when it is impossible to establish a connection)

[2018-08-17 10:12] #603 closed

[2018-08-19 21:27] mward29 commented on #528
Nice Shinzu

[2018-08-19 21:38] tomplus commented on #592
Hi @DjKniteX how is going, does your application work?

To answer your questions - for security reason - by default pod can't get information about a cluster.

[2018-08-19 23:46] DjKniteX commented on #592
@tomplus not yet, haven't gotten a chance to touch it yet but I will tomorrow. so from just the general looks of it, can I just copy the example code from the authorization and in the docker-compose make it run the local docker image?

[2018-08-20 07:39] tomplus commented on #592
If you want to use the docker-compose you won't need to create RBAC manifests - it's k8s configuration. A script started by docker-compose works as stand-alone script with its kubeconfig file.

[2018-08-20 17:14] DjKniteX commented on #592
@tomplus oh okay, so how would I write this? Just make a separate yml file and package it when I docker build it?

i call it auth.yml stick the example code in it. docker build . kubectl run it, and it should run this time?

[2018-08-20 21:17] DjKniteX commented on #592
Okay, I'm getting a crashlooperror again and when i try to python app.py I get this error now

`Traceback (most recent call last):
  File "app.py", line 5, in <module>
    config.load_incluster_config()
  File "/home/nikkix/Documents/work/python/kubernetes/config/incluster_config.py", line 93, in load_incluster_config
    cert_filename=SERVICE_CERT_FILENAME).load_and_set()
  File "/home/nikkix/Doc

[2018-08-20 22:53] DjKniteX commented on #592
@tomplus im getting the same error as the one above, im trying to run this in minikube, when i did describe pod this is what i get

`kubectl describe pod hello-python-95dc7b4c-nlkpz
Name:           hello-python-95dc7b4c-nlkpz
Namespace:      default
Node:           minikube/10.0.2.15
Start Time:     Mon, 20 Aug 2018 15:48:48 -0700
Labels:         pod-template-hash=51873607
                run=hell

[2018-08-20 23:49] DjKniteX commented on #592
im trying to run this in minikube as well

[2018-08-20 23:51] #592 closed

[2018-08-21 18:53] kevingessner opened #604 "Missing `metadata.json` in wheels since 6.0.0"
The published wheels on Pypi for kubernetes-client seem to be missing an important file: `metadata.json` in the `dist-info` directory.  The wheel for version 6.0.0b1 (from https://pypi.org/project/kubernetes/6.0.0b1/#files) contains `kubernetes-6.0.0b1.dist-info/metadata.json` but the wheels for 6.0.0 and 7.x don't have any `metadata.json`.  That file being absent breaks some consumers of the whee

[2018-08-22 05:10] zybjcdl commented on #525
@bpicolo Could you please help to fix the issue? We need to run python 3.6.5 with this client.

[2018-08-22 08:01] zybjcdl opened #605 "Can't list pods with load_incluster_config()"
I tried following example inside a running pod to list pods

from kubernetes import client, config

[code]

It report following error:

I get the configuration setting ,it shows like below:
host:https://172.21.0.1:443
api_key:{"authorization": "bearer <api_key>"}
api_key_prefix:{}
username:
password:
verify_ssl:True
ssl_ca_cert:/var/run/secrets/kubernetes.io/serviceaccount/ca.crt
safe_chars_for_pa

[2018-08-22 23:13] tomplus commented on #605
Your cluster likely uses RBAC and your pod doesn't have enough permission to list pods in all namespaces. Try to apply these manifests to your cluster:

[code]

More information: https://kubernetes.io/docs/reference/access-authn-authz/rbac/

[2018-08-23 06:06] zybjcdl commented on #605
@tomplus It works .Thank you very much.

[2018-08-23 06:06] #605 closed

[2018-08-23 15:03] MahdiZareie opened #607 "How can I use get_namespaced_custom_object_status"
I'm using python kubernetes 7.0.0 (also tried 7.0.0b1 and a1) and I want to use `get_namespaced_custom_object_status` function but it's not in the `CustomObjectsApi ` as the document said in [here](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CustomObjectsApi.md#get_namespaced_custom_object_status)
Here's what I did:
[code]
Did I use an invalid version?
In fact I'm looki

[2018-08-23 19:24] klarose opened #609 "CRD watcher needs to handle out of order resource versions"
I recently started running into an issue where my controller, which was watching CRDs, would fail with a 410 from its watch on the list function.

After digging into it a bit, I  noticed that the version I was getting back at the beginning was not in order. Then, after some time, it would fail with a 410 error code.

After poking around a bit, it sound like out of order events are possibly expecte

[2018-08-26 04:47] #607 closed

[2018-08-28 10:24] daicang opened #611 "SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed"
Hi, I'm testing this client on Gentoo with Python 2.7.12, and met this SSLError:

[code]

I could fetch the resource using `requests`, so the certs should be fine. Installed packages should already met this [requirements](https://github.com/kubernetes-client/python/blob/master/requirements.txt):

[code]

Required:

[code]

Any suggestions?

[2018-08-28 14:57] hannes-brt opened #612 "GCP Token not getting refreshed => 404 Error"
I am using Snakemake (https://bitbucket.org/snakemake/snakemake), a system for running scientific and Bioinformatics computing pipelines, which offers a Kubernetes backend.

Currently, long-running jobs on GKE always eventually fail with a 404 error (https://bitbucket.org/snakemake/snakemake/issues/932/long-running-jobs-on-kubernetes-fail). We believe that the problem is in the Kubernetes client,

[2018-08-28 15:17] pengisgood commented on #550
I got the same issue on Mac OSX 10.13.6 with the logs:
[code]

[2018-08-28 16:54] pengisgood commented on #521
I have the same issue. @vmulex 's workaround works for me. But it is not the recommended way obviously. Any other suggestions?

Thanks anyway.

[2018-08-29 04:09] #611 closed

[2018-08-29 06:36] daicang commented on #611
I mistaken my `urllib3` version, which should be 1.16. After upgrading to 1.23, this problem is solved

[2018-08-29 09:12] pengisgood commented on #490
@vladislavPV I tried your code, still got the following error:

[code]
Any thoughts?

[2018-08-30 03:52] 1032231418 opened #613 "create namespace"
Hi,
Namespace, how to create, there is no example, do you have any namespace documentation?

[2018-08-30 07:06] reymont opened #614 "The python client do not provide create_persistent_volume_claim function"
In https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#create_persistent_volume, I find the create_persistent_volume. But where is the `create_persistent_volume_claim`?

[2018-08-30 07:09] tomplus commented on #613
Hi.
The documentation is generated from the official specification and it's not very easy to use. I usually start with official API doc https://kubernetes.io/docs/reference/ and then I browse this auto-generated https://github.com/kubernetes-client/python/blob/master/kubernetes/README.md

[2018-08-30 07:13] tomplus commented on #614
hi @reymont you are looking for `create_namespaced_persistent_volume_claim`. PVs are global object unlike to PVCs which exist in namespaces.

[2018-08-30 07:14] reymont commented on #614
thanks @tomplus .

[2018-08-30 07:14] #614 closed

[2018-08-31 06:42] mbohlool opened #616 "periodically reload InClusterConfig token"
This feature is being implemented for client-go in the main repo and needs to be implemented here too: https://github.com/kubernetes/kubernetes/pull/67359

[2018-09-06 05:13] meghakedia88 opened #617 "Getting errors while executing exec.py"
When I try executing the exec.py file , "calling exec and wait for response" , I get the below error:
"Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/websocket/_http.py", line 151, in _get_addrinfo_list
    addrinfo_list = socket.getaddrinfo(phost, pport, 0, socket.SOCK_STREAM, socket.SOL_TCP)
  File "/usr/lib64/python3.6/socket.py", line 745, in getaddrinfo
    for re

[2018-09-07 23:55] kevinburke opened #618 "patch_namespaced_secret: add usage doc"
Currently the body of the docstring for `patch_namespaced_secret` uses `body = NULL`, which is unhelpful in explaining how to use it.

I have these questions:

- How does `body` relate (if at all) to the `jsonpatch` spec?
- If I call `patch_namespaced_secret` with one key in the `data` object will all of the other keys get clobbered?
- How do I delete a key in `secret.data` ?

[2018-09-11 02:54] zq-david-wang commented on #491
The fix does not seem shipped into pip package, I have to use _preload_content=False to prevent client from parsing the response.
`create_namespaced_deployment_rollback(name, namespace, body=body, _preload_content=False)`

[2018-09-11 05:08] shenyanping opened #620 "getting error OpenSSL.SSL.Error: [('SSL routines', 'tls_process_server_certificate', 'certificate verify failed')]"
test.py:
from kubernetes import client, config, watch

# Configs can be set in Configuration class directly or using helper utility
config.load_kube_config(config_file="kubeconfig.yaml")
v1 = client.CoreV1Api()
print("Listing All services with their info:\n")
ret = v1.list_service_for_all_namespaces(watch=False)
for i in ret.items:
    print(
        "%s \t%s \t%s \t%s \t%s \n" % (i.kind, i.metada

[2018-09-11 13:31] grahamhar opened #621 "exec plugin support"
Hi,

Now that https://github.com/kubernetes-client/python-base/pull/75 has been merged is there a plan to release a new version of the client to gain the exec plugin support?

[2018-09-11 23:21] 2rs2ts opened #622 "'V1Node' object has no attribute '__getitem__' after upgrading to k8s 1.11.2"
We are using version 7.0.0 of this library.

Our code does this:

[code]

When we pass the name of a node that's cordoned we get this error: `TypeError: 'V1Node' object has no attribute '__getitem__'`

The funny thing is that this only happened after we upgraded from k8s 1.10.5 to 1.11.2. As I understand it, 7.0.0 should be compatible with both of these versions. What happened?

[2018-09-12 23:28] elatt commented on #621
It seems as though this was answered in https://github.com/kubernetes-client/python/pull/619#issuecomment-420724533

(when Kubernetes 1.12 is released)

[2018-09-13 09:22] reymont opened #623 "How to avoid the Conflict of delete and create?"
If i try to delete a rc and immediately to create the same name rc, then a "Conflict" error was occurred.

What method can avoid this "Conflict"?
[code]

[code]

[2018-09-13 09:47] reymont commented on #613
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#create_namespace

[2018-09-13 11:06] reymont commented on #623
thanks @tomplus . I just wander that why 'kubectl apply -f <file>' can execute repeatedly, even the k8s object already exist.

[2018-09-13 11:10] #623 closed

[2018-09-14 01:18] #425 closed

[2018-09-14 09:32] 1032231418 opened #624 "reconstruction pod"
Is there such an interface?       kubectl  delete pod    xxxx

[2018-09-14 10:26] tomplus commented on #624
Sure, take a look https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#delete_namespaced_pod :)

[2018-09-14 14:28] nmohoric commented on #491
Yeah I'm still running into this as well, thanks for the tip to at least get around it for now @zq-david-wang

[2018-09-16 18:42] abeltre1 commented on #602
@bonneaud  I have the same issue, have you found a solution to it?
alternatively, we can use os.system(<command>) as a hack.

[2018-09-17 13:47] #621 closed

[2018-09-18 10:41] Jainbrt opened #625 "config.load_kube_config fails with Exception TypeError: "'NoneType' object is not callable""
Hi Team,
I have tried simple code to load kube config but it is failing saying "'NoneType' object is not callable" .

[root@node1 ~]# cat list.py
import os
from kubernetes import client, config
config.load_kube_config()

[root@node1 ~]# python list.py
Exception TypeError: "'NoneType' object is not callable" in <function _removeHandlerRef at 0x7fc213b85c80> ignored

[2018-09-19 09:27] 1032231418 commented on #519
@wangshuaizs  I have the same problem as you. I'll ask you how to solve it.

[2018-09-19 22:50] roycaihw commented on #491
The k8s openapi fix was merged after 1.11 and didn't get cherrypicked. Currently the latest python client (v7) is generated from k8s 1.11, so it still doesn't include the fix. We will release v8 after k8s 1.12 is released, and the client will include the fix.

[2018-09-19 23:11] willthames commented on #514
A release that includes https://github.com/kubernetes-client/python/pull/619 should fix this

[2018-09-20 09:30] sevensees opened #626 "[help] How to access api server via python client in pod"
Hi,

I need to run the python client in the pod to access api server. When the python client runs in the pod, it raise an error that

It seems that the python client tries to read config file. Is there any approach to configure the client in the pod?

thanks a lot.

[2018-09-20 09:32] mmumshad commented on #504
+1 I wonder what is beneath the create_namespaced_*  calls.  Where can we see the source of these calls?

[2018-09-20 09:50] tomplus commented on #626
You have to use a different method to configure client. Here is an example: https://github.com/kubernetes-client/python/blob/master/examples/in_cluster_config.py#L55

[2018-09-20 13:41] wangshuaizs commented on #519
@1032231418

As tomplus said, RBAC is not configured for the current service account. A service account with higher privilege should be used for ```v1.list_pod_for_all_namespaces```. And here is my blog for solving this problem: https://blog.csdn.net/u013431916/article/details/80057369

[2018-09-20 14:16] nerdinand commented on #504
I think at this point the easiest thing to do is just to use `kubectl`. But I'd really like a built-in solution in the API client too...

[2018-09-20 16:48] jw-maynard commented on #514
Any plans for a release that includes this fix?

[2018-09-20 19:53] roycaihw commented on #514
@jw-maynard We usually align the python client release with main kubernetes release. The python client v8 release procedure will start after kubernetes 1.12.0 is cut.

[2018-09-20 20:00] jw-maynard commented on #514
@roycaihw Cool, this is currently a blocker to getting our tooling working with EKS.  I was hoping to you guys could do something like a 7.0.1 release that adds this feature since it's v1beta1 in 1.11. If not, do you know the rough time frame for 1.12 and then getting a release of the client from that? Thanks!

[2018-09-20 20:11] alexandraj777 commented on #514
@roycaihw I'd be interested in learning how I can get notified about releases of this client!

@jw-maynard I don't know if this is helpful, but we've written a python package that uses EKS, and our current solution is to have a wrapper class that calls `kubectl` from subprocess. Every subprocess call looks something like:
[code]
It's not the prettiest, but it works for now. We're planning to swap

[2018-09-20 20:32] roycaihw commented on #514
@jw-maynard Currently the planned date for 1.12.0 cut is [Sep. 27th](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.12). Ideally I'd like to do an 8.0.0a1 release on Sep. 28th.

@alexandraj777 We send announcements about python client releases to kubernetes-dev mailing list. You could join the google group via https://groups.google.com/forum/#!forum/kubernetes-dev

[2018-09-20 20:55] roycaihw commented on #491
Actually I realized that the previous fix was wrong https://github.com/kubernetes/kubernetes/pull/63837#issuecomment-422997776. I had another fix https://github.com/kubernetes/kubernetes/pull/68864 and plan to cherrypick it to 1.12.1 (talked with 1.12 patch release manager-- 1.12.1 release will be roughly two weeks after 1.12.0 being cut).

@yliaog I plan to do an alpha release align with 1.12.0 a

[2018-09-20 21:44] yliaog commented on #491
that sounds good to me.

[2018-09-21 11:36] sevensees commented on #626
@tomplus Thanks a lot.

[2018-09-21 11:36] #626 closed

[2018-09-21 16:49] jw-maynard commented on #514
@roycaihw Awesome! I think we can just wait for that.

@alexandraj777 Thanks! Trying to avoid wrapping kubectl if we can but if push comes to shove this will definitely help.

[2018-09-21 19:10] hannes-brt commented on #612
Any leads on what might be happening here?

[2018-09-22 00:11] roycaihw commented on #492
@flylo How is the wrapper going? Just want to make sure you get everything you need. Is there anything I can help with?

[2018-09-22 01:43] 1032231418 commented on #519
@wangshuaizs  Thank you, but you can't create namespace now, through the interface.

[2018-09-22 01:47] 1032231418 commented on #519
@wangshuaizs Pods-list is OK.

[2018-09-22 02:08] 1032231418 commented on #519
@wangshuaizs  The following configuration is OK.

kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: pods-list
rules:
- apiGroups: [""]
  resources: ["*"]
  verbs: ["*"]

---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: pods-list
subjects:
- kind: ServiceAccount
  name: default
  namespace: default
roleRef:
  kind: ClusterRole
  name

[2018-09-22 02:29] 1032231418 commented on #625
@Jainbrt  config.load_kube_config("/root/.kube/config")

[2018-09-22 02:30] 1032231418 commented on #625
@Jainbrt You need to put the configuration file here.

[2018-09-22 02:59] Jainbrt commented on #625
Thanks for your response. Still the same Exception error.

Snippet:
-------------

[root@node1 ~]# cat list.py
import os
from kubernetes import client, config
config.load_kube_config("/root/.kube/config")

[root@node1 ~]# python list.py
Exception TypeError: "'NoneType' object is not callable" in <function _removeHandlerRef at 0x7f70def6ec80> ignored

[root@node1 ~]# ls -ltr "/root/.kube/config"
-r

[2018-09-22 06:43] fanxingzju opened #627 "list_namesapced_pod will raise an ValueError Exception when kubernetes has no pod"
**
File "E:\mind++\gitlab\MindBooster\InferenceMgr\app\kubernetes\pod.py", line 151, in list_pod
    api_response = api_instance.list_namespaced_pod(namespace)
  File "C:\Python27\lib\site-packages\kubernetes\client\apis\core_v1_api.py", line 12310, in list_namespaced_pod
    (data) = self.list_namespaced_pod_with_http_info(namespace, **kwargs)
  File "C:\Python27\lib\site-packages\kubernetes\clie

[2018-09-23 01:05] shaozi commented on #559
Is there a way to get notification when exec has been done?

[2018-09-24 12:54] clux opened #628 "failiure to parse a kube config with auth-provider expiry"
A `~/.kube/config` with a user using an auth-provider seems to fail to parse atm:

Excerpt:

[code]

causes:

[code]

on `load_kube_config()`

[2018-09-24 15:31] tomplus commented on #628
It's addressed here: https://github.com/kubernetes-client/python-base/issues/84

[2018-09-24 20:11] flylo commented on #492
@roycaihw hey I actually ended up using that snippet above in an internal repo because working through the ITs in this one was a bit more time-consuming than I was hoping at the time. Let me take another look at this over the next few days and make sure that I can submit a fully-tested PR rather than just pasting a snippet.

[2018-09-24 20:12] flylo commented on #612
@hannes-brt is this at all related to your issue?

https://github.com/kubernetes-client/python/issues/492

[2018-09-24 21:15] jakewins opened #629 "Library appears to globally override urllib logging, adds additional handler each time new_client is called"
The following code reproduces my issue:

[code]

I expect this code to log a single line, via the global custom handler:

    Foo: Hello from urllib

However, it appears each call to `new_client_from_config` modifies the application logging configuration, appending an additional log handler to the urllib logger, so the actual output is:

    2018-09-24 16:08:19,496 WARNING Hello from urllib
    20

[2018-09-24 21:18] jakewins commented on #629
The issue seems to revolve around this: https://github.com/kubernetes-client/python/blob/master/kubernetes/client/configuration.py#L136

I'd be happy to contribute a patch, but I'm not sure what direction to go with it; as mentioned above, it seems wrong that library code should be attaching log handlers at all - but I assume the above code is there for a reason. Maybe just a patch with an option

[2018-09-24 22:15] jakewins commented on #629
As an aside, this works as a, albeit brittle, workaround:

[code]

[2018-09-25 16:58] cliffburdick commented on #625
I'm seeing the same error. I have the config in the place suggested above.

[2018-09-26 07:59] Ark-kun commented on #417
stream only works for UTF-8 output. Anything else crashes it.

[2018-09-26 08:04] Ark-kun commented on #253
@abhi-paul use `curl -sS ` to silence it.

It won't help you though since the `api.connect_get_namespaced_pod_exec()` is now completely broken.

[2018-09-26 12:52] mydockergit commented on #466
Any idea when this issue will be solved ?

[2018-09-28 00:11] s1113950 commented on #290
@mbohlool @yuvipanda how can you edit this? I have this setting because I'm threading grabbing pod information and ran into the connection pool issue above:

[code]
if I then call `pods = v1.list_namespaced_pod(namespace)` I get an error where it hits `localhost` rather than using my kubeconfig.

I checked out the code here: https://github.com/kubernetes-client/python-base/blob/master/config/kube_

[2018-09-28 07:58] akaihola commented on #334
Tip: the [Metacontroller](https://metacontroller.app/) framework may help in some cases when writing custom controllers.

[2018-09-28 11:31] dlopezrodriguez commented on #559
I did this funtion, is good for many commands like __> command = "apt-get install \n".
I'm trying other way to stop others command types. For now this way is ok for me.

`def executeCommand(self,command):
        print("COMANDO ::: %s"%command)
        print("Executing command...\n")
        exec_command = ['/bin/sh']
        self.resp = stream(self.api.connect_get_namespaced_pod_exec, self.namePo

[2018-09-28 11:34] dlopezrodriguez commented on #559
I did this funtion, is good for many commands like __> command = "apt-get install \n".
I'm trying other way to stop others command types. For now this way is ok for me.

[code]

[2018-09-28 22:41] mbohlool commented on #290
you need to pass your `client_config` to `client.CoreV1Api()` call otherwise it will use the default one which is localhost. it should be something like `client.CoreV1Api(config=client_config)`

[2018-10-01 16:42] woqer opened #632 "Missing model AppsV1beta2Deployment"
Trying to install the dashboard from https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml

I'm getting several missing models for different api version:
[code]

Client versions:
[code]
Server version:
[code]

I'm assuming the client should support it since it has been available since Kubernetes Server 1.8 https://github.com/kubernetes/dashb

[2018-10-01 16:57] jw-maynard commented on #514
@roycaihw Hey, just wondering if you guys were hoping to get an 8.0.0a1 build out sometime this week? Thanks!

[2018-10-01 17:45] s1113950 commented on #290
Thanks for the help!

[2018-10-01 17:56] andyfeller opened #633 "load_incluster_config() authorization api key doesn't work for IETF 6750"
While trying to reuse the [`Configuration.api_key['authorization'] = 'bearer ...'`](https://github.com/kubernetes-client/python-base/blob/7d1e4495a8222f9992c1a0d4bd0cc96832b82ec2/config/incluster_config.py#L83) for communicating to other services, I discovered some (for example Jenkins) don't like the incorrectly cased `bearer` type instead of the expected `Bearer`.  I don't know if/what depends o

[2018-10-01 20:02] rbtcollins opened #634 "DeprecationWarning from kube_config.py"
Most folk won't see these as they default hidden in widely used Python versions.

[code]

Using `base64.standard_b64decode` will avoid this.

[2018-10-01 22:13] woqer commented on #632
Just saw a new relase coming but it seems that `AppsV1beta2Deployment` is still missing... any thoughts? https://github.com/kubernetes-client/python/pull/631

[2018-10-02 09:29] AlexShemeshWix commented on #524
That would be a great feature. Im using go-client for k8s and im able to do integration tests in memory. Saves a lot of time.

[2018-10-02 11:04] andyfeller commented on #633
Apologies, realized that incluster_config is a part of [kubernetes-client/python-base](https://github.com/kubernetes-client/python-base), so will close and reopen this issue there.

[2018-10-02 11:04] #633 closed

[2018-10-02 17:43] roycaihw commented on #514
Hi folks, the 8.0.0a1 release has been uploaded to pypi https://pypi.org/project/kubernetes/8.0.0a1/. I will create a github release page and send a notification to kubernetes-dev mailing list shortly. Thanks for your patience, and please give it a try and file any issue to let us know :)

[2018-10-02 18:02] #514 closed

[2018-10-02 21:04] roycaihw commented on #632
This is an intended behavior. `AppsV1beta2Deployment` model is defined in [v1beta2_deployment.py](https://github.com/kubernetes-client/python/blob/release-8.0/kubernetes/client/models/v1beta2_deployment.py). The `apps_v1beta2_api` takes and returns `V1beta2Deployment` [object](https://github.com/kubernetes-client/python/blob/release-8.0/kubernetes/client/apis/apps_v1beta2_api.py#L262-L266).

The `

[2018-10-03 12:48] revollat commented on #476
Hi @aogier  I tryed your code (with python 3.6) and I get this error
can you help please ...

[code]

[2018-10-03 17:00] Lawouach commented on #514
You folks rock!

[2018-10-03 22:05] woqer commented on #632
Thank you @roycaihw for such a detailed response, really appreciate it! Thought it was an issue with the client, but seems to be Ansible :'(

[2018-10-03 22:05] #632 closed

[2018-10-04 00:40] roycaihw commented on #634
@rbtcollins Thanks for reporting this!

[2018-10-04 00:48] #624 closed

[2018-10-04 17:27] matohavo opened #636 "load_kube_config does not support colon delimited KUBECONFIG files in env"
https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/#the-kubeconfig-environment-variable

[2018-10-04 17:41] roycaihw commented on #634
/assign @dechristo

[2018-10-04 19:08] Lawouach opened #637 "Load config fails with `env: null` in users/user/exec section"
Hey there,

Client: 8.0.0a1
Server: Kubernetes 1.10.3
Provider: EKS

I created a cluster using [eksctl](https://eksctl.io/) and the generated kubeconf has the entry `env: null` under `users/user/exec` to which the client responds with:

[code]

When I remove the key entirely, it works nicely. When I fill the key with dictionary entries, it works too. I can only assume either `env: null` is invalid

[2018-10-04 19:42] errordeveloper commented on #637
hey @Lawouach, thanks for finding and reporting this! Is this coming from Python client or some other one? Arguably, all client should tolerate this (`null` vs `{}` or `[]`), as `kubectl` and `k8s.io/client-go` do. The reason this is causing an issue, as it's to do with exec authentication plugin, which is still an alpha API (`client.authentication.k8s.io/v1alpha1`).

[code]

So to me this looks l

[2018-10-04 19:57] Lawouach commented on #637
Thank you @errordeveloper for the feedback here. I was struggling to find the API definition for this API. Arguably, the client should likely not choke on this value indeed.

[2018-10-05 21:58] kaniket1234 opened #638 "Issues with connect_get_namespaced_pod_exec"
I am new to kubernetes world and trying to automate few scenarios.
The basic test case which i am trying is to connect to a pod and execute a list directory command.
Here is my code:
[code]
I was getting "hostname is invalid" error while executing this program. While debugging, I found that the url constructed for websocket is malformed:
[code]

Note: there is only one slash (/) after wss: and tha

[2018-10-08 13:47] KlavsKlavsen opened #639 "v1.create_namespaced_secret against kubernetes v1.11.1"
[code]

gives me:
[code]

a pprint of body gives me:
[code]

(and yes - the cert was generated for this test purpose :)

[2018-10-08 16:54] karmab commented on #376
same issue and workaround didnt work for me....

[2018-10-08 20:33] tomplus commented on #639
You've got the error from K8s `[data[tls.crt]: Required value, data[tls.key]: Required value]` - in this type of secret fields `tls.crt` ad `tls.key` are required instead of `peer.crt`/`peer.key`.

[2018-10-09 05:41] YitongFeng commented on #171
Dose field_selector support regex?

[2018-10-09 06:37] tomplus commented on #171
@YitongFeng I'm afraid not, https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/#supported-operators

[2018-10-09 07:13] SailorCrane opened #641 "How can I make request like this by k8s python client, the below request is made by "kubectl edit", and it works!"
![selection_007](https://user-images.githubusercontent.com/7468849/46652487-c21db700-cbd5-11e8-9f3e-ac67222657ea.png)

"spec":{"$setElementOrder/ports":[{"port":3315}],"ports":[{"nodePort":30005,"port":3315,"protocol":"TCP","targetPort":3321},{"$patch":"delete","port":3310}]}}

PATCH https://61.164.142.194:6443/api/v1/namespaces/default/services/mysql

[2018-10-09 08:29] KlavsKlavsen commented on #639
I wanted to do the equivalent of: $ kubectl create secret generic etcd-peer-tls --from-file=peer-ca.crt --from-file=peer.crt --from-file=peer.key
which renders a secret where the fields are named as such.. but perhaps its just the Kind - that needs to be changed to generic then.. Thank you for the hint.. I'll try as soon as I can :)

[2018-10-09 09:23] linuxvip opened #642 "How to create a configmap with a file?"
I want to do the following using kubernetes-client python
[code]

In the example I don't find it.

my code
[code]

my  configuration file :  /tmp/test.conf

How do I change my code？ Thanks！
Thanks！Thanks！Thanks！Thanks！

[2018-10-09 10:08] JonathanRRogers commented on #642
I'm not sure opening an issue is the best way to request help. That said, it's not obvious to me where a better place would be. If you want to do something with the contents of a file in Python, the most straightforward approach is to use the built-in open() function and call .read() on the resulting file object. The following code would give you the contents of your file in the variable "contents

[2018-10-09 14:00] sc250024 commented on #637
Having the same problem. What was the outcome of this? Is there a PR with a fix, or is it something we all need to change?

[2018-10-09 17:49] roycaihw commented on #637
I think @fillbit has a PR fixing this from client side: https://github.com/kubernetes-client/python-base/pull/91. I will take a look at it today. Thanks for reporting :)

[2018-10-09 20:32] tomplus commented on #641
Have you tried [patch_namespaced_service](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#patch_namespaced_service)?

[2018-10-10 02:45] SailorCrane commented on #641
Yes, I have tried, but I do not know what should I set to patch_namespaced_service's  body  parameter.

I can set  service's  "target_port" a new value and it works.
but  I set  service's  "port", it do not works!

[2018-10-10 02:51] linuxvip commented on #642
Thanks a lot ! @JonathanRRogers .
Modified code:
[code]

[2018-10-10 06:52] KlavsKlavsen commented on #639
hmm. I tried entering: Kind = 'generic' - but no luck.
if I tab complete kubectl create secret - it has 3 kinds: docker-registry,  generic, tls.
I found this (so I tried Opaque as kind instead): https://github.com/kubernetes-client/python/blob/master/examples/notebooks/create_secret.ipynb

But that fails the same way, as trying with 'generic':
[code]

[2018-10-10 07:11] tomplus commented on #639
Have you tried to set kind=Secret and type=Opaque? Which version of K8s do you have?

The example from the .pynb works for me:

[code]

object created:

[code]

[2018-10-10 07:11] KlavsKlavsen commented on #639
ahh.. found it:
[code]

[2018-10-10 07:12] #639 closed

[2018-10-11 02:55] gangadhars commented on #625
I'm also getting the same problem.

How to reproduce:

[code]
Environment
[code]

[2018-10-11 19:49] supcom234 opened #643 "kubernetes client fails within python flask"
Calling any kubernetes call within a flask context seems to fail with recursion errors.

**Versions:**
Flask-Cors==3.0.6
Flask-SocketIO==3.0.1
Flask==1.0.2
kubernetes==7.0.0

**Traceback (most recent call last):**
  File "/opt/tfplenum-frontend/tfp-env/lib/python3.6/site-packages/flask/app.py", line 2295, in wsgi_app
    response = self.handle_exception(e)
  File "/opt/tfplenum-frontend/tfp-env/li

[2018-10-11 20:56] supcom234 commented on #643
Never mind this error was my own stupidity.  I for got to monkey patch my server with.

import gevent.monkey
gevent.monkey.patch_all()

from requests.packages.urllib3.util.ssl_ import create_urllib3_context
create_urllib3_context()

[2018-10-12 02:12] 1032231418 opened #644 "Create applications kubernetes.client.rest.ApiException: (403)"
It is not possible to create pod, but it is okay to create namespace.

[code]

[code]

![1](https://user-images.githubusercontent.com/5716348/46843787-0e037280-ce07-11e8-802b-acb6598d0386.png)

[2018-10-12 03:43] 1032231418 commented on #644
The core interface is OK.
v1 = client.CoreV1Api(client.ApiClient(configuration))
ret = v1.list_namespaced_pod("order")
for i in ret.items:
    print("%s\t%s\t%s \n" % (i.status.pod_ip, i.metadata.namespace, i.metadata.name))

[2018-10-12 08:41] atolj opened #645 "Making the dependency adal optinal"
Hi folks,

I'm currently using the version 'kubernetes==8.0.0a1' and encountered that the ADAL dependency was added. This makes it more difficult to package a container image as it pulls additional dependencies and the image size increases. The following tweet illustrates it perfectly.

https://twitter.com/try_except_/status/1029843228613402627

It would be nice if the dependency is only added und

[2018-10-12 14:12] Eronarn opened #646 "Resource creation function call fails with type object 'datetime.datetime' has no attribute 'swagger_types'"
Tested with `kubernetes==8.0.0a1` (`kubernetes==7.0.0` has a bug that prevents exec-based auth from working properly so could not test it there on my setup). Here is a stack trace, plus the body of the ConfigMap API response:

[code]

The observed behavior is that the ConfigMap is created, but the function raises an exception before it returns.

[2018-10-12 14:36] Eronarn commented on #646
This is also happening with Jobs for me so I changed the title. Again, it creates the resource fine, and something about the return value getting coerced into an object is raising this exception.

[2018-10-12 16:36] roycaihw commented on #637
Fixed by https://github.com/kubernetes-client/python-base/pull/91

[2018-10-12 16:36] #637 closed

[2018-10-12 16:42] roycaihw commented on #634
Fixed by https://github.com/kubernetes-client/python-base/pull/90.

[2018-10-12 16:42] #634 closed

[2018-10-12 16:56] roycaihw commented on #645
/assign @roycaihw
cc @mbohlool @yliaog

[2018-10-12 16:59] roycaihw commented on #643
@supcom234 Thanks for explaining :) Closing

[2018-10-12 16:59] #643 closed

[2018-10-12 17:08] roycaihw commented on #642
@linuxvip The examples folder has an [example](https://github.com/kubernetes-client/python/blob/5b2e27c81b9d14acb71966461e883d5964e9776b/examples/create_deployment.py#L28-L29) that uses yaml file as input object for deployment creation. Also PR is welcome to help make our documentation better :)

I'd also suggest asking this kind of support question at the [kubernetes-client](https://kubernetes.sl

[2018-10-12 17:08] #642 closed

[2018-10-12 18:55] mitar commented on #613
[code]

[2018-10-12 19:17] mitar commented on #504
I cannot really believe this functionality is not there. So strange.

[2018-10-12 21:54] roycaihw commented on #641
It's intended behavior. `patch_namespaced_service` sends [strategic-merge-patch](https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch#notes-on-the-strategic-merge-patch) by default, [`service.spec.ports`](https://github.com/kubernetes/kubernetes/blob/38a9fc6aa240c99b17a93764fb5473bf6342ff9d/staging/src/k8s.io/api/core/v1/types.go#L3424-L3426) uses "merge" patchStrategy

[2018-10-12 21:55] #641 closed

[2018-10-12 22:13] roycaihw commented on #638
@kaniket1234 It looks like you're using 2.0 release of this client, which has the `url.replace` function call (I couldn't find the code in later releases).

2.0 release is not supported anymore (please refer to "Maintenance status" in https://github.com/kubernetes-client/python/blob/master/README.md). Could you try update your client to latest stable version [v7.0.0](https://github.com/kubernetes-

[2018-10-12 22:16] roycaihw commented on #591
@tomplus complained this well. Closing

[2018-10-12 22:16] #591 closed

[2018-10-12 22:35] roycaihw commented on #613
Thanks for explaining! @tomplus @reymont @mitar

@1032231418 I also suggest the [kubernetes-client slack channel](https://kubernetes.slack.com/messages/C76GB48RK/) would be a good place to ask question like this one :) I will add a section to mention it in README

[2018-10-12 22:35] #613 closed

[2018-10-12 23:09] roycaihw commented on #618
The documentation under https://github.com/kubernetes-client/python/tree/master/kubernetes/docs are auto-generated from openapi spec, which (sadly) aren't very helpful for questions like this one. We usually add [examples](https://github.com/kubernetes-client/python/tree/master/examples) to document complex/detailed usages that code generator can't explain well.

To the question about `patch_names

[2018-10-12 23:33] roycaihw commented on #601
A couple of ideas:

- Similar to APIs and models, the documentations are also auto-generated from openapi spec. If we want to have hierarchical directories of documentation, we must have scripts to automate the process because we have to re-construct the directories every time we do a release (re-generate the client)
- For tutorial, we can start with the existing [examples](https://github.com/kube

[2018-10-12 23:54] roycaihw commented on #609
Sorry I didn't quite understand the expectation here. From what I understand, the resource versions returned by kube-apiserver should not be interpreted as in alphabetical order, because the RV is an etcd feature and also an implementation detail that is subject to future change. Clients should not try to figure out order between events based on RV.

Could you try running `kubectl --watch` with so

[2018-10-13 00:16] JonathanRRogers commented on #504
I think the purpose of kubernetes-client is to give access to APIs in as flexible a way as possible, not duplicate kubectl. Perhaps higher level functionality like this issue describes would make more sense in a separate library that wraps kubernetes-client.

[2018-10-13 00:18] roycaihw commented on #644
@1032231418 Could you explain more on what's your question? Looks like you have a RBAC role that forbids default service account from pod creation, and you want to configure using different service accounts?

Also please refer to https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/ for documentation to service accounts. I'd expect this is a general question in talkin

[2018-10-13 09:32] sebgoa commented on #504
I don't understand the discussion actually. You can create any object with the python client, you just need to find the correct method for it.

what `kubectl` does is that it adds a bit of parsing to detect the object kind and post on the correct endpoint. You could right a python wrapper that does the same things with this library. But indeed it is available out of the box.

[2018-10-14 15:57] mitar commented on #504
Exactly, there is a bit of this magic: parsing of YAML files, going over each object in them, determining which type it is, and then calling the appropriate create method. This would be great to have here in Python interface.

[2018-10-16 06:31] mitar commented on #199
FYI, `read_namespaced_pod_log(self, name, namespace, **kwargs)` is the signature of the function, so one cannot really use `inspect` to see if the function is taking `watch` or `follow`.

[2018-10-16 06:58] mitar commented on #199
I made a PR here: https://github.com/kubernetes-client/python-base/pull/93

[2018-10-16 06:59] mitar commented on #199
It works well, but I do not have an idea how can this API support resuming. So if the HTTP connection fails, it seems there is no real way to resume following the log  from where you stopped. The only approach I can see is to require timestamp to be added to every line and then use that?

[2018-10-16 09:03] vasilgramov commented on #496
+1

[2018-10-16 10:29] vasilgramov commented on #496
There is a method from `kubernetes.config.new_client_from_config`

[2018-10-16 20:46] roycaihw commented on #604
I think `metadata.json` is dropped by upstream bdist_wheel (which we use in our release process): https://github.com/pypa/wheel/issues/195. Please read workaround mentioned in that issue for parsing METADATA.

[2018-10-16 20:46] #604 closed

[2018-10-17 03:34] 1032231418 opened #651 "kubectl describe pods"
hi:

Is there such an interface kubectl describe xxx?

[2018-10-17 11:28] tomplus commented on #651
Describe what? :) Kubectl can do a lot of nice thing and it depends on a object. This library has methods which can be used to build such views but in several calls...

[2018-10-17 21:46] roycaihw commented on #504
/assign @micw523

[2018-10-18 08:00] zq-david-wang opened #652 "make connection retry configurable via client configuration"
If a cluster is down, the client would make a default 3 retry for each api call, which sometimes is unnecessary.  Adding a field to client configuration indicating how many retries should be used would help deal with this situation.

I used following code and it works
[code]

[2018-10-18 09:41] 1032231418 commented on #651
OK, understand.

[2018-10-18 16:41] jmontleon opened #653 "RuntimeError('cannot wait on un-acquired lock' when performing lookup"
We are performing a lookup `broker_local_openshift_enabled: "{{ ('image.openshift.io' in lookup('k8s', cluster_info='api_groups')) | bool }}"` that seems to be causing an error when run against openshift v3.11 using 7.0.0:

[code]

[2018-10-18 22:28] nik9839 opened #654 "Bad Reqest Error when kind:Deployment and apiVersion:'apps/v1'"
kubernetes.client.rest.ApiException: (400)
Reason: Bad Request
HTTP response headers: HTTPHeaderDict({'Content-Type': 'application/json', 'Date': 'Thu, 18 Oct 2018 22:21:22 GMT', 'Content-Length': '213'})
HTTP response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"the API version in the data (apps/v1) does not match the expected API version (extensions/v1beta

[2018-10-19 18:29] iamneha commented on #600
@roycaihw can you please assign me this issue

[2018-10-19 18:34] roycaihw commented on #600
@iamneha Sure thing :)

Due to kubernetes org policy, I think we can only assign issue/PR to org members (you can apply for membership in https://github.com/kubernetes/org)-- but it's still great to reply under the issue to let others know that you'll be working on it

/assign @iamneha

[2018-10-19 23:20] tomplus commented on #636
This feature has to be added to python-base repo, ref issue: https://github.com/kubernetes-client/python-base/issues/62

[2018-10-19 23:21] tomplus commented on #533
This feature has to be added to python-base repo, ref issue: https://github.com/kubernetes-client/python-base/issues/62

[2018-10-19 23:21] tomplus commented on #599
This feature has to be added to python-base repo, ref issue: https://github.com/kubernetes-client/python-base/issues/62

[2018-10-22 20:57] jmcarp opened #656 "Auth token exposed in traceback if invalid"
If authenticating via user-specified token (e.g. when using a service account) and the token is invalid as an http header value (e.g. due to a trailing newline), api calls fail (as expected) but leak the invalid token in the traceback (which isn't). For example, with a partial kubeconfig that looks like this:

[code]

Any api call throws a `ValueError` including the invalid token:

[code]

If we a

[2018-10-23 04:51] blazehu opened #659 "AppsV1Api().list_stateful_set_for_all_namespaces() => ValueError"
from kubernetes import client
client.AppsV1Api().list_stateful_set_for_all_namespaces()

` File "/Users/huyuhan/Projects/cmdb-sync/k8s/client.py", line 236, in analyze_sts_for_all_namespaces
    ret_sts = self.sts_api.list_stateful_set_for_all_namespaces()
  File "/Users/huyuhan/.pyenv/versions/cmdb-sync/lib/python2.7/site-packages/kubernetes/client/apis/apps_v1_api.py", line 3137, in list_statefu

[2018-10-23 21:58] micw523 opened #660 "Travis CI - server uses dated k8s version v1.7"
The Travis CI build uses an outdated server k8s version of v1.7.0 via localkube, causing testcases for PR #655 build 1009 to fail (https://travis-ci.org/kubernetes-client/python/builds/444893877) for an e2e_test case using app/v1.

To use API app/v1, we should at least use k8s version 1.9. Although, localkube has been superseded by kubeadm and should probably be replaced.

Will investigate how to

[2018-10-23 21:59] micw523 commented on #660
/assign micw523

[2018-10-23 23:52] micw523 commented on #660
/unassign @micw523

[2018-10-24 04:47] slindner05 commented on #585
Anyone ever make progress on this or get port-forward to work from within the python client?

[2018-10-24 09:40] SailorCrane commented on #641
OK, I see your point, thanks very much!

So I wonder how can I make a request by python client to delete the port[0] of service?

[2018-10-24 12:07] tomplus commented on #659
It's probably related to https://github.com/kubernetes-client/gen/issues/52

[2018-10-24 12:30] tomplus commented on #654
Which version of the library and Kubernetes do you use? Please compare these values with a [compatibility-matrix](https://github.com/kubernetes-client/python#compatibility-matrix).

[2018-10-24 13:30] tomplus commented on #609
I had the same issue. I checked `kubectl` and it works in this way that it starts with fetching a list of objects, the list in the response contains metadata with `resourceVersion` and this resourceVersion is used to start watching. Documentation is not clear what will response if we start from 0. I found similar issue: https://github.com/kubernetes/kubernetes/issues/49745#issuecomment-318802474 w

[2018-10-24 14:03] klarose commented on #609
@roycaihw I don't think the server necessarily needs to handle this. Rather, I think the client can deal with it gracefully.

The issue comes down to the fact that we are tracking a single variable built incorrectly from many others. Each instance of the resource -- e.g. a pod -- has its own `resourceVersion`. But, since we're only tracking a single variable, we need to aggregate these many resour

[2018-10-24 16:58] yliaog commented on #645
/assign @iamneha

[2018-10-24 20:46] heinrichbeukes opened #662 "Fault in ReadMe for Tutorials"
There seems to be a problem in the examples listed in the readme

The code snippet that initializes the APIClient accepts the configuration needs to be sent as a key value pair, else the self.host variable is set to the configuration object

https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#delete_collection_namespaced_pod

Current example:
[code]

Causes this er

[2018-10-25 04:44] brendandburns commented on #601
@sarwatfatimam that would be great. There are no real guidelines other than you will need to update the docs and send a pull request (PR) if you need help creating a PR, the docs here:

https://help.github.com/articles/creating-a-pull-request/

Are pretty good.

[2018-10-25 15:23] oliaboo opened #663 "impossible to use client Configuration objects with different authorization"
When trying to create few Configuration objects with different authorization tokens faced the following issue:
[code]
[TypeWithDefault](https://github.com/kubernetes-client/python/blob/39f833c20d53fa1d37e808d45661a4172824740b/kubernetes/client/configuration.py#L27-L38) metaclass makes Configuration work as a singleton.

[2018-10-25 19:00] marielb commented on #417
I'm getting the same `HTTP 400 Upgrade request required` response without using stream.

With stream, `connect_post_namespaced_pod_exec` works but `connect_post_namespaced_pod_portforward` returns this API exception:`Reason: 'utf-8' codec can't decode byte 0xc0 in position 1: invalid start byte`

[2018-10-25 19:55] tomplus commented on #663
Yes, it's intentional. You can create new object using `config1 = type.__call__(Configuration)`.

[2018-10-25 20:52] micw523 commented on #662
/assign @micw523

[2018-10-25 21:31] nakulpathak3 commented on #387
Was just searching through the issues for this - there is a related issue https://github.com/kubernetes-client/python/issues/504 and a PR up for this https://github.com/kubernetes-client/python/pull/655. Would be awesome to get it reviewed and in soon.

[2018-10-25 21:37] nakulpathak3 commented on #504
I'm not sure how different `apply` and `create` are (https://stackoverflow.com/questions/47369351/kubectl-apply-vs-kubectl-create this kinda helped..) but do we need a separate PR/issue for something similar to that in the python client? Or is there a way to combine @micw523's PR with some existing methods to get the same behaviour as `kubectl apply -f`. I'm trying to replace an `apply -f` call fo

[2018-10-25 21:41] micw523 commented on #504
@nakulpathak3 I think using "apply" is a separate feature and could be possibly filed as another issue. Although, I don't think the implementation would be too different from what I have in #655 ...

[2018-10-25 21:56] micw523 commented on #662
@heinrichbeukes I think it should be ```configuration=configuration```?

[2018-10-25 23:10] maratkomarov commented on #663
@tomplus What is the reason for this? It's not documented anywhere that `Configuration` is a singleton. Instead, i see [Configuration is not a singleton object anymore. Please use Configuraion.set_default to change default configuration](https://github.com/kubernetes-client/python/blob/3fb2be14e18d84edef094bbd908b6bb3e39aafe6/CHANGELOG.md#v400a1) in the changelog.

The suggested factory for `Confi

[2018-10-26 06:32] saurav-malani commented on #616
@GeekTheGreat are you still working on this? If not, then I would like to take it up.

[2018-10-26 06:35] GeekTheGreat commented on #616
Hello @saurav-malani,  I'm working on it.

[2018-10-26 07:01] saurav-malani commented on #600
Hello @iamneha are you still working on this issue?

[2018-10-26 08:17] tomplus commented on #663
Yes, it looks complicated. It's not a singleton but a metaclass construction. A feature - 'default configuration' makes it works as a singleton. This library wraps it and it'd better to use `config.new_client_from_config` like in this example: https://github.com/kubernetes-client/python/blob/master/examples/multiple_clusters.py but I'm not sure if it's a @oliaboo's case...

[2018-10-26 09:28] kshitija08 commented on #636
@matohavo @brendandburns @roycaihw Hey , I would like to take up this issue.

[2018-10-26 09:37] tomplus commented on #636
@kshitija08 I'm already working on it, see the link above.

[2018-10-26 09:39] kshitija08 commented on #636
@tomplus Sorry, my mistake. Please carry on with your work. :)

[2018-10-26 09:44] tomplus commented on #636
@kshitija08 if you need this feature you can use my branch to test. I hope it'll be reviewed and merged soon.

[2018-10-26 21:56] neeraj9194 opened #664 "while deleting a Job, error "no kind Job is registered for version batch/v1"."
while deleting a job with `batch_v1.delete_namespaced_job(name=name, body=body, namespace=namespace)`
I am getting "no kind Job is registered for version batch/v1" error but the delete works fine with kubectl. The `create_namespaced_job` works fine. It only delete which gives this error.
I also tried with this  simple example, still same error.
[code]
[code]

[2018-10-27 00:13] neeraj9194 commented on #664
hey sorry, i figured it out, i need to have `V1DeleteOptions` body rather than full body object from yaml file.
[code]
Closing the issue.. thanks

[2018-10-27 00:13] #664 closed

[2018-10-27 05:11] iamneha commented on #329
I would like to work on this issue. Please assign me

[2018-10-27 06:35] ignertic commented on #599
I'm interested in tackling this issue

[2018-10-27 07:02] micw523 opened #666 "Travis CI - pep8 is depreciated"
Issue rose from a recent Travis CI build here (https://travis-ci.org/kubernetes-client/python/jobs/446956702) - pep8 has been renamed. Will push a PR and fix this...
/assign @micw523

[2018-10-27 07:10] ignertic commented on #599
i cloned the repository by i can't seem to find the _/kubernetes/config_ folder

[2018-10-28 09:28] iamneha commented on #645
#668

[2018-10-28 10:02] iamneha commented on #328
/assign @iamneha

[2018-10-29 11:15] ignertic commented on #599
Check out [#96](https://github.com/kubernetes-client/python-base/pull/96)

[2018-10-29 21:07] #666 closed

[2018-10-30 00:37] maratkomarov commented on #663
@tomplus Thank you for the example. I think we're ready to close this issue.

[2018-10-30 06:20] linuxvip opened #669 "list_namespaced_event ERROR"
I want to get events in a namespace, namespace = lcm
[code]
Error:
[code]

event_time ???
What is the event time?

thanks !!  Please.

[2018-10-30 06:58] micw523 commented on #669
In ```EventsV1beta1``` the event_time is required. If you don’t want this hassle maybe use ```EventsV1```.
I’m guessing that you had an event created from a more recent version of the API where the event time can be optional. Event_time is the time when the event is first observed.

[2018-10-30 07:17] linuxvip commented on #669
thanks very much !  ``CoreV1Api`` can do that,
[code]
Thanks

[2018-10-30 07:19] saurav-malani commented on #128
Hi @mbohlool @SEJeff. If no one is working on this issue, then I would like to work on this issue.

[2018-10-30 07:26] HarveyJie opened #670 "what can I get 'kubectl describe node xxx ' by api?"
I want to get the node's resource  used look that by api,

` kubectl describe nodes 10.0.0.2`
[code]

[2018-10-30 08:10] micw523 commented on #670
Possible duplicate of #651

[2018-10-30 09:36] tomplus commented on #670
You will need to get information about node ([read_node](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#read_node)) and get list of pods on this node ([list_namespaced_pod](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#list_namespaced_pod)).

If you want to check what kubectl does you can increase log level by adding a sw

[2018-10-30 09:45] tomplus commented on #651
I've just noticed that you asked about `describe pod`. In this case [read_namespaced_pod](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#read_namespaced_pod) should be enough. Btw, you can check what kubectl does by adding a switch `-v9`.

[2018-10-30 11:39] oliaboo commented on #663
@tomplus, thank you for the explanation! Closing the issue

[2018-10-30 11:39] #663 closed

[2018-10-30 18:03] #600 closed

[2018-10-30 18:07] roycaihw commented on #128
/assign @saurav-malani

[2018-10-31 02:06] micw523 commented on #660
/close with #665 merged

[2018-10-31 02:06] #660 closed

[2018-10-31 09:14] iamneha commented on #252
/assign @iamneha

[2018-10-31 15:51] micw523 commented on #188
/assign

[2018-10-31 18:54] nakulpathak3 commented on #199
Yeah for me neither
`client.CoreV1Api.read_namespaced_pod_log('my_pod_name', 'default', follow=True, _preload_content=False).read()`
nor
`client.CoreV1Api.read_namespaced_pod_log('my_pod_name', 'default', follow=True)` are working. They both just indefinitely hang or return the logs if the pod is done execution.

@yuvipanda did you do something different from the above?

[2018-10-31 20:35] nakulpathak3 commented on #199
Ah so what I did initially was close but the temporary fix that worked for me was -
[code]

[2018-10-31 20:36] mitar commented on #199
@roycaihw Why was this labeled with "help wanted"? There is already a PR for this.

[2018-10-31 20:45] roycaihw commented on #199
@mitar I was doing a blind conversion from our custom `help-needed` label to the generic "help wanted" label to make the issues more visible to new contributors: https://github.com/kubernetes-client/python/labels/help-needed. Sorry I didn't look into the status in each issue :)

Thanks for fixing this! I see Yu was already reviewing that PR so I will leave it to him. Please let me know if you need

[2018-10-31 20:49] mitar commented on #199
Ah, that makes it clearer. Yes, that PR was reviewed, I have to figure how to make tests though. I looked briefly but it wasn't exactly clear to me.

If anyone here has any spare cycles, it would be helpful if you could help me improving that PR by adding tests. I can add you to my fork repo to contribute if you want.

[2018-10-31 20:52] 2rs2ts commented on #622
/kind bug

[2018-11-01 00:46] roycaihw commented on #651
/close

[2018-11-01 00:46] #651 closed

[2018-11-01 00:46] roycaihw commented on #670
/close

[2018-11-01 00:46] #670 closed

[2018-11-01 01:15] micw523 commented on #199
I am looking through the tests and I may be able to help. Let me work through the watch routines and I'll let you know. @mitar

[2018-11-01 01:23] micw523 opened #671 "Extend #655 with a List Parser"
Recently I proposed #655 that will work with Objects and Simple kinds. (See https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md) It is however, not capable of taking a list yet.  I'll work on a kind: List parser that can create multiple objects at a time.
/assign

[2018-11-01 04:02] micw523 commented on #504
Please try out 655. This functionality is not perfect yet, subject to an existing issue #376 such as when you need to create a CRD, and it is not able to create lists #671. Otherwise please file complaints here and I’ll tend to it.

Apply would require an internal diff and I’ll see if the repo owners are interested in rolling out this function before I test the waters.

[2018-11-01 11:56] javixeneize opened #672 "Ignore ssl validation"
Hi

Is there any option to ignore ssl validation? Similar to requests, where you can set verify=false?

Thanks

[2018-11-01 12:00] javixeneize commented on #672
Ignore it, there is a configuration option for that :)

[2018-11-01 12:00] #672 closed

[2018-11-01 18:22] nakulpathak3 commented on #504
Is `apply` potentially just an upsert in k8s (i.e., if create gives a 409, do an update)? Or can we get partial objects which can't just replace the older versions and need examining of the old object to figure out the internal diff like you mentioned? Sorry not that familiar with kubernetes yet

[2018-11-01 23:00] nakulpathak3 commented on #514
Hi I'm using the 8.0.0a1 issue and I'm doing
[code]
and this seems to pass almost always but every now and then I get an Exception from the python client
[code]
which seems to be getting triggered here in the [exec_provider](https://github.com/kubernetes-client/python-base/blob/master/config/exec_provider.py#L77) in python-base.

I'm using EKS with `aws-iam-authenticator` on my machine.

[2018-11-02 11:21] iamneha commented on #231
For 1) The purpose of doing this way because we are using `self.token` [here](https://github.com/kubernetes-client/python-base/blob/master/config/incluster_config.py#L83)

I believe there is no code consistency here.
@roycaihw can you please confirm and close this issue

[2018-11-02 19:53] micw523 commented on #479
This repo is structured in such a way that symbolic links well. You'll need to manually copy the folder when you clone recursively on Windows - that's a current restriction on the repo.

[2018-11-02 20:16] micw523 opened #676 "Setup.py will fail on Windows"
This issue references #479, as it is a restriction on the current repo.
This repo uses symbolic link when managing the submodules, so that the folders in /kubernetes/base can be referenced in /kubernetes.
Windows does not have symbolic link, so Windows developers will have to manually copy the folders over after doing a --recursive clone.
This should be a simple enough fix in case someone wants to

[2018-11-02 20:20] micw523 commented on #676
/help
/good-first-issue

[2018-11-02 21:25] nakulpathak3 opened #678 "Intermittent 403 authentication issues with EKS"
I'm using the 8.0.0a1 version and I'm doing
[code]
with `kube_config_file` -
[code]
and this seems to pass almost always but every now and then I get an error from the python client
[code]
which seems to be getting triggered here in the [exec_provider](https://github.com/kubernetes-client/python-base/blob/master/config/exec_provider.py#L77) in python-base.

The main change that I could think of it

[2018-11-04 20:46] jicowan opened #679 "ValueError("Invalid value for `stored_versions`, must not be `None`") when calling list_custom_resource_definition"
When I try using the list_custom_resource_definition method, I get the error:
[code]
The output of `kubectl get crds -o yaml` doesn't include a field called `stored_versions`

I'm trying to get the list of crds installed.
Using Python 2.7 with Kubernetes 1.10.3

[2018-11-05 06:52] ori-n opened #680 "Kubernetes REST API call"
I'm looking for a way to find a pod by name, and run REST call using python - I couldn't find such example in the docs. By kubectl I'm doing it using port forwarding and cURL.
Can I get any help? Thanks

[2018-11-05 14:23] eastlondoner opened #681 "8.0 branch has support for python 3.7 but 6.0 branch doesn't"
kubernetes/client/apis/admissionregistration_api.py line 120 uses async as a named parameter. But that's not allowed in python 3.7

This has been changed in the 8.0 branch but not in other branches.

We can't use the 8.0 branch because it's not compatible with K8s 1.10 - which is the most up to date stable K8s available on GCP.

Could the fix be ported to the 6.0 branch and a new release cut?

[2018-11-05 15:23] eastlondoner commented on #681
https://github.com/kubernetes-client/python/pull/682

[2018-11-05 18:14] 007 commented on #411
This is broken for me as well.

Seems like https://github.com/swagger-api/swagger-codegen/pull/8061 would fix it, since it only instantiates the problematic `ThreadPool` on first-request. If no requests in a session are async it should never create the pool.

[2018-11-05 19:33] micw523 commented on #679
Unfortunately you ran into
#376
python-base#52

[2018-11-05 19:36] micw523 commented on #680
Checkout https://github.com/kubernetes-client/python/blob/master/examples/exec.py

[2018-11-05 19:54] roycaihw commented on #231
@iamneha I think you're right.

What we are doing here is
- verifying in-cluster kubeconfig files, which are [token file and cert file](https://github.com/kubernetes-client/python-base/blob/949c39e6629871c34318426e10a3e3fcb793eb85/config/incluster_config.py#L23-L24)
- passing them to swagger-generated [Configuration](https://github.com/kubernetes-client/python/blob/4d4ce21265f58f79c55f6755e3ba60f4

[2018-11-05 19:54] #231 closed

[2018-11-06 06:10] ori-n commented on #680
I saw it before, and perhaps it is my misunderstanding - I don't want to run a command inside a container, but open port forwarding and do http rest call.I would like to catch the input if possible.

[2018-11-06 16:05] micw523 commented on #622
I believe you should use ```node.spec``` instead since node is a V1Node object but not a dictionary?

I have no idea why it has functioned before.

[2018-11-06 19:16] roycaihw commented on #504
`kubectl apply` is more advanced compared to `kubectl create`, and it's non-trivial to implement on client side.

I'm interested in the Kubernetes [server-side apply](https://github.com/kubernetes/enhancements/issues/555) feature, which has more capability than client-side (kubectl) apply. Hopefully that feature will rollout in 1.13 as alpha and we can try it out using the python client.

The orig

[2018-11-06 19:16] #504 closed

[2018-11-07 01:18] roycaihw commented on #584
This issue is about testing this client in Travis CI with Python 3.7. The client itself already resolved the reserved keyword conflict since 7.0.0a1 release: https://github.com/kubernetes-client/python/blob/master/CHANGELOG.md#v700a1

[2018-11-07 01:37] roycaihw commented on #681
@eastlondoner Have you tried 7.0.0 release? v7 releases should also contain the fix for Python 3.7 reserved keywords.

Also could you give some example on what API change made 8.0 branch be incompatible with k8s 1.10? 8.0 branch was generated against kubernetes 1.12 release. Since 7.0 branch was generated against kubernetes 1.11 release and the version skew is smaller, I'd expect 7.0.0 release wor

[2018-11-07 04:02] jenetiks commented on #676
I'd like to take a stab at this but I have a few questions first.
1. Would you be looking for a specific python version (2 vs 3) and more specifically, a subversion?
2. base/config and config/ are always in the same location?
3. run python setup.py install script from a specific directory?

[2018-11-07 05:06] micw523 commented on #676
@jenetiks
1. We should just look for python in the environment - although, we do support Python 2.7. The file setup.py though will be configured to handle this. Personally I don’t expect any developer to clone this repository with Python 2.6 or lower, but that might be up to debate.

2. When we clone submodule with git the folders in the /kubernetes/base is supposed to be symbolically linked in th

[2018-11-07 08:20] eastlondoner commented on #681
@roycaihw We use the Custom Resource Definition API and the 8.0 branch has incompatibilities there with 1.10

[2018-11-07 14:39] Velyks opened #683 "Key names don't match up with API"
The keys that are generated by kubernetes-client, both in the YAML response and using to_dict(), differ from the ones provided by the kubernetes API and all the tools that use it. It looks to mostly replace camelcase with underscores.

As I'm trying to use kubernetes-client to create diffs between exported YAML and the manifests in kubernetes this is causing me a lot of problems. Can we please hav

[2018-11-07 23:45] micw523 commented on #680
I don’t think opening port forward is supported. See #166

[2018-11-08 15:29] micw523 commented on #683
In one way I feel like what you need is a simple snake_case to camelCase parser;

In another way I went to check the JAVA client and saw their status output is the YAML/Json format that we can directly use. https://github.com/kubernetes-client/java/blob/master/kubernetes/src/main/java/io/kubernetes/client/models/V1Status.java

@roycaihw what are your thoughts?

[2018-11-08 15:32] micw523 commented on #683
/kind api-change

[2018-11-08 20:40] tomplus commented on #683
Names are consistent with the Python naming convention.

@Velyks Could you give an example where `to_dict()` or raw YAML content don't work for you? Do you use `_preload_content=False` to get the raw response?

[2018-11-08 20:54] micw523 commented on #683
Ah. I didn't realize ```_preload_content``` exists.

[2018-11-08 20:56] micw523 commented on #683
/remove-kind api-change
/kind question

[2018-11-09 00:34] roycaihw commented on #681
6.1.0 client has been released with Python 3.7 support: https://github.com/kubernetes-client/python/releases/tag/v6.1.0. Closing this issue

/close

[2018-11-09 00:34] #681 closed

[2018-11-09 19:48] micw523 commented on #349
/close via #655

[2018-11-10 01:49] micw523 opened #684 "Consider update swagger-codegen version"
See Travis Build 1074.10:
[code]

There is a change in behavior in how Python treats the escapes since version 3.6. See [link](https://docs.python.org/3/whatsnew/3.6.html#deprecated-python-behavior). It's not urgent since we will see only warnings for a few releases, but this will eventually become an error in future versions in Python. This should have been patched in a newer version of swagger-c

[2018-11-10 04:57] micw523 commented on #676
/priority backlog

[2018-11-10 19:06] zerthimon opened #686 "urllib3.exceptions.ReadTimeoutError when using kubernetes.watch.Watch()"
I'm doing a loop that watches namespaces constantly:
[code]
and getting
[code]

Is there a way to avoid these timeouts or should I catch this exception and restart the loop each time it happens ?

[2018-11-11 04:00] micw523 commented on #686
Um... I thought the request_timeout is an optional parameter?

Am I missing something?

[2018-11-12 06:23] glbyers opened #688 "rest request should squash URL"
In later versions of k8s, a request to //version is invalid, whilst a request to /version responds as expected. This appears to be an upstream bug, but it can be handled gracefully enough by simply "squashing" the URL path. ie.

[code]
Can it be handled gracefully here?

[2018-11-12 18:29] roycaihw commented on #688
@glbyers Could you take a look at https://github.com/kubernetes-client/python-base/pull/45 to see if it solves your problem?

Besides the host url containing trailing slash in kubeconfig file, do you have any other specific cases that cause invalid url in this client package?

[2018-11-12 22:11] AlexB138 commented on #683
Is `_preload_content` documented somewhere? I'm not able to find an explanation of what it does. It may solve the problem.

I'm struggling with this convention as well. I'm using the client to do some templating. Loading a running deployment with the client loads it in the snake_case format. Merging that content with a partial deployment loaded from a CRD, and therefore in the standard camelCase f

[2018-11-13 11:08] glbyers commented on #688
Thanks @roycaihw, I will test this tomorrow. It certainly looks like it should work around the issue (FWIW, I'd already removed the trailing / from my kubeconfig to get around this initially.

[2018-11-13 12:47] max-rocket-internet commented on #609
When using this code:

[code]

I occasionally have this error:

[code]

Is this error related to this issue? Should I handle it differently?

[2018-11-13 13:55] klarose commented on #609
It looks related to me. The "Error" message doesn't have the object type you'd expect associated with it, so nothing's filled in.

I handled it by parsing out the version in the parenthesis (4535251 in your example), and setting the watcher's  current resource version to that. It's not a very elegant solution, but it has worked for the most part. That said, for the reasons I gave above, I'd like i

[2018-11-13 17:29] jdamata opened #689 "Eviction api not working"
Im having trouble getting the create_namespaced_pod_eviction to function. From what I can tell from the api documentation my syntax looks ok. The kubernetes cluster is 1.10 on AWS EKS

[code]

[code]

[2018-11-13 21:56] cparedes commented on #525
Ran into the same issue with Python 3.7 with the latest version of this client (8.0.0 at this time of writing)

[2018-11-13 22:01] ericqt opened #690 "[8.0.0] connect_get_namespaced_pod_exec return 403 despite `kubectl exec` working in shell"
This is the traceback for calling `connect_get_namespaced_pod_exec`
[code]

This is my code:
[code]

I have used `kubectl exec backend-worker-celery-685f8fddc9-47sfv echo hello world` and that works perfectly fine with the same kubeconfig.

I've tried using this code with an elevated permissioned kubeconfig and that works but I do not want to go that route. Is there some other api call that `conne

[2018-11-14 13:53] brejoc commented on #420
Okay, thanks for the explanation. I don't think I like what swagger is doing here, but that's the way it is.

[2018-11-14 13:53] #420 closed

[2018-11-15 18:35] micw523 commented on #689
You might want to pass a body dictionary when you initialize the ```create_namespaced_pod_eviction```, see [this link about the drain command](https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/)

[2018-11-16 12:13] jabir366 commented on #519
I also have the same issue
I am getting the following error when i run the program
https://github.com/kubernetes-client/python/blob/master/examples/remote_cluster.py with the token of an admin-user serviceAccount

` Listing pods with their IPs:
/home/jabir/.local/lib/python2.7/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certif

[2018-11-20 02:13] zq-david-wang commented on #199
Watch may not be the correct way to handle live streaming logs.
when 'follow' is set to True, the api would return a HTTPResponse object, and there is no non-blocking api exposed by this object, which means that when client is blocking on reading logs, the connection could only be 'closed' by server (or the client process exited).
For non-blocking reading, I had to write a wrapper to use select.po

[2018-11-20 02:35] mitar commented on #199
@zq-david-wang There are two ways here. One is if you want to handle streaming yourself, but there is also `Watch` class which you can use to do it for you, in a blocking way. And that one I made a PR for.

So maybe there is something more one could do to improve things here for cases where you do not want to use `Watch`.

[2018-11-20 08:12] jibinpt commented on #547
Any luck with this?

[2018-11-20 10:55] tomyan commented on #547
Also having this problem. Strange thing is the pod runs on the node a the same time I get the error message 🤷‍♂️

[2018-11-20 16:04] micw523 commented on #547
Check out kubernetes-client/gen#52. Like all the situations when the status None is reported, the call is actually performed.

[2018-11-20 16:52] jibinpt commented on #547
Any workarounds ?

[2018-11-20 17:50] NickScottKortical commented on #516
I'm seeing the same issue, has anyone been able to find a workaround?

[2018-11-20 18:14] agassner commented on #547
I'm also having the same issue 😞

[2018-11-21 04:41] abushoeb commented on #547
I was able to make it work staying with client version 2.0. According to the [documentation](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#create_namespaced_binding), they have changed the function name and signatures `create_namespaced_binding(body, namespace)` while calling the function. However, in the original function, the order of the parameters are not

[2018-11-21 21:15] jibinpt commented on #547
Thanks @abushoeb

[2018-11-21 22:51] jw-maynard opened #691 "Better create -f functionality"
#504 Added very basic functionally for this. But all it seems to do is pick the correct API version which is not really implementing functionality equivalent to kubectl create -f as that command will:

* Take in multiple YAML docs separated by `---`
* Call the correct API endpoint based on the `kind` defined in the document.

Would be cool if we could expand the initial functionality from #504 to

[2018-11-21 23:08] #691 closed

[2018-11-21 23:09] jw-maynard commented on #691
Whoops I miss read the examples!

[2018-11-22 06:13] swarupdonepudi commented on #349
I am closing this issue since it has already been merged. Thanks @micw523

[2018-11-22 06:13] #349 closed

[2018-11-24 10:31] mooperd commented on #233
+1 I'm confused why the library isn't able to use the Kubeconfig properly.

[2018-11-26 18:11] seaneagan opened #692 "Uplift to swagger-codegen version 3.3.3"
swagger-codegen v3.3.3:

https://github.com/OpenAPITools/openapi-generator/releases/tag/v3.3.3

added this fix:

https://github.com/OpenAPITools/openapi-generator/pull/1387

which should fix #411 at least in cases where no async calls are made.

this also would address #684.

/cc @007 @micw523

[2018-11-26 21:14] micw523 commented on #692
I would be very careful to make this switch. As you see, the repo you mentioned is not swagger-codegen, but is called OpenApi generator. The repo is maintained by the original codegen authors.

The original codegen repo is now owned by Smartbear and I don’t know if k8s clients have received support from them. It’s difficult to say whether we could make the switch or not. It would be a little more

[2018-11-26 22:17] seaneagan commented on #692
I see, I guess that's this PR that is needed then: https://github.com/swagger-api/swagger-codegen/pull/8061

[2018-11-27 00:42] hannes-brt commented on #492
Are there still plans to fix this? Or has this issue been fixed out of channel?

Thanks!

[2018-11-27 10:56] max-rocket-internet opened #693 "CRD watch stream starts processing very old deleted resources"
I have a basic controller running to watch `CustomObjectsApi` but about 2 minutes after starting it starts processing old resources that were already deleted days ago.

Here's my code:

[code]

And the output is this:

[code]

The problem is that the resources `3070373` (app1) & `3070374` (app2) were deleted from the cluster a long time ago. The don't show in `kubectl get mycrd`.

I have 2 control

[2018-11-28 14:11] dims commented on #52
May be we should add the pep8/flake8 to the python-base

[2018-11-28 14:12] dims commented on #22
let's add the verify-boilerplate script to the python-base and run it from travis

[2018-11-28 15:05] max-rocket-internet commented on #693
It's not the cause. I removed the second controller and this problem still persists.

[2018-11-28 15:18] max-rocket-internet commented on #693
@klarose is this the same problem as https://github.com/kubernetes-client/python/issues/609 ?

[2018-11-28 15:38] klarose commented on #693
I'm not sure it's the same problem, though I think it can *lead* to that problem. As far as I can tell, Kubernetes watch is sending something like a compacted transaction log to the watcher. So, from the last point of compaction, you see all modifications to a given resource, in order. Since Kubernetes cares about eventual consistency, I suspect it assumes that any consumers of the watch will proc

[2018-11-28 16:10] max-rocket-internet commented on #693
Thanks for the reply @klarose

For resources that are still present in k8s, the last event_type is `ADDED`. And for resources that have been removed from k8s, the last event_type is `DELETED`. So I guess that makes sense.

OK, I think I understand why but not how are we supposed to deal with this in the controller? If the controller is adding and removing something based on these events, e.g. a da

[2018-11-28 16:30] klarose commented on #693
Hmmm. I'm not sure. Pretty fundamental to Kubernetes is the idea that you only care about eventual consistency. So if you're doing something non-idempotent with the results of the watch, you could be in for some pain. :)

That said, how about this?

1) When you start, do a list of all objects, with *no* watch. If that only gives the current objects in their most recent state, then the next steps w

[2018-11-28 16:45] klarose commented on #693
Actually, maybe the API *does* do that?

[code]
Note how `Resource_version` is the same as before *and* greater than the resource_version of bilbo-baggins.

Unfortunately, the generated API docs aren't really clear on what is really returned here...
Anyway, here's the code and yaml if you want to look at it: [test.tar.gz](https://github.com/kubernetes-client/python/files/2625793/test.tar.gz)

[2018-11-28 16:48] max-rocket-internet commented on #693
In your example above, did you wait 5 mins after starting the `test.py` again? Because I have the same output as you BUT later, after say 2-5 mins, then it starts reprocessing old events.

[2018-11-28 16:51] max-rocket-internet commented on #693
Cool but, as you said, that's quite clunky. And from the examples I read, they don't implement this behaviour. E.g. https://github.com/karmab/samplecontroller/blob/master/controller.py from @karmab

[2018-11-28 16:53] klarose commented on #693
I'm not doing a watch. This is a simple list. So, the list is giving me the *current* state and the *most recent* resource version independent of the current state (I.e. it captures anything that has been deleted since the last updated to an existing resource).

For example, imagine we had something like this:

Add A: resource version 1.
Add B: resource version 2.
Add C: resource version 3.

Delet

[2018-11-28 17:01] klarose commented on #693
Actually, maybe that is the fix for both the issues. :)

https://github.com/kubernetes-client/python-base/blob/master/watch/watch.py#L135

Perhaps here, rather than tracking the resource version of each object, maybe it should be parsing out the resourceVersion from the result of func()?

[2018-11-28 17:53] strimpak commented on #435
I'm looking for it too.

[2018-11-28 19:47] akaihola commented on #516
I have this in a script and it seems to work:
[code]

This is with Minikube 0.30.0 and kubectl 1.10.8.

[2018-11-29 02:46] 77598072 opened #694 "API corresponding to rollout history"
I want to know the python API corresponding to rollout history.
but,I can't find it in the Documentation.
I want to know the historical version of deployment，Thank you very much！

[2018-11-29 10:17] pastet89 commented on #214
@mbohlool You state that @arrkaye 's urllib3 version is old. He states the has a version of 1.8.2 and you point him to a link requiring 1.19.1. Would you please clear that? I have just upgraded mine and got:

`Package python-urllib3:
p   1.9.1-3                                       oldstable                 500
i   1.16-1+deb8u1                                 oldstable                 500

Packa

[2018-11-29 15:58] max-rocket-internet commented on #693
@klarose

Isn't that what my code example is doing though? with these lines?

[code]

[2018-11-29 16:15] klarose commented on #693
@max-rocket-internet That is the resourceVersion of the specific event, not the list itself.

In my example, I get the resourceVersion of the list itself, not the items within the list. It is different. I tried to decode what was being returned here from the kubernetes docs, but they don't seem to have a definition for this API. The python client docs only describe the return type as an "object",

[2018-11-29 16:25] klarose commented on #693
I suspect that this is the type we're seeing there: https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.12/#listmeta-v1-meta

It describes resourceVersion as:

The linked in there has much more info on resourceVersions. It explains some things I've noticed about the resourceVersion I wasn't sure about (namely, it being a global value). However, there is one very important tidbit at th

[2018-11-30 03:10] #694 closed

[2018-11-30 03:11] 77598072 commented on #694
It can satisfy me. Thank you very much

[2018-11-30 16:52] max-rocket-internet commented on #693
Thanks for the replies @klarose

OK.

Is there no examples of this though? Because the existing guitar one and the comments I found don't use this method. Would be nice to have an example with a confirmed correct approach!

[2018-11-30 16:55] klarose commented on #693
I'm not aware of any. Given that you can reproduce it, maybe you can be the one to give the example! :)

[2018-12-03 01:31] PaulFurtado commented on #602
@bonneaud I may have tracked down the issue you're hitting, I filed an issue here: https://github.com/kubernetes-client/python-base/issues/106

[2018-12-03 17:33] iamneha commented on #52
/assign @iamneha

[2018-12-05 03:16] zhoufaye opened #695 "How to connect multiple apiservers using k8s-client?"
How to connect multiple apiservers using k8s-client?

[2018-12-05 07:25] liwandaniel opened #696 "ValueError("Invalid value for `match_expressions`, must not be `None`") when calling kubernetes.client.CoreV1Api().list_namespaced_pod"
When I try using the `kubernetes.client.CoreV1Api().list_namespaced_pod` method, I get the error:

[code]
the way of calling method:

[code]

I'm just trying to list all pods for `kube-system` namespaces

I'm using Python 3.6 with Kubernetes 1.12.2 and kubernetes-client v5.0.0，and I've tried kubernetes-client v6.1.0

[2018-12-05 08:56] micw523 commented on #696
Please check the compatibility matrix - I suggest using v7 or higher for k8s 1.12.2

[2018-12-05 08:58] liwandaniel commented on #696
ok,  I will try v7 or higher version, thx

[2018-12-05 09:37] liwandaniel commented on #696
problem sovled by using version v8.0.0, thx! @micw523

[2018-12-06 14:16] michalswi opened #697 "[question] kubectl expose deployment ?"
Just curious if there is a way to expose deployment? similar to:
`kubectl expose deployment <dep_name> --name <some_name> --type="LoadBalancer"`

[2018-12-06 21:56] tomplus commented on #697
`kubect expose` creates services so you can use function [create_namespaced_service](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#create_namespaced_service).

[2018-12-10 08:03] michalswi commented on #697
Yes, you can expose running service like that:
[code]
the problem is to get/request IP from cloud provider not hardcode as a string.

[2018-12-10 13:04] michalswi commented on #697
To get IP from cloud provider important is `client.V1ServiceSpec(type="LoadBalancer")`, base on that after I run this I have got exposed app:
[code]

[2018-12-10 13:04] #697 closed

[2018-12-11 07:58] juliantaylor opened #700 "watch loses resource version when watching custom object list"
kubernetes often resets watches when no changes happen (https://github.com/kubernetes/kubernetes/issues/55230#issuecomment-342632961), thus I have added a restart at the last resource version to my application

But the python api library resets this to zero on iteration of this loop and thus retrieves all objects again.
https://github.com/kubernetes-client/python-base/blob/83ebb9d5fdc0d46bbb2e30af

[2018-12-11 08:10] juliantaylor commented on #700
reproducing script:

[code]

Run with printing the resource version in `kubernetes/client/apis/custom_objects_api.py `list_cluster_custom_object_with_http_info`

[code]

[2018-12-11 08:15] yuyang0 opened #701 "internal server error when call watch on list_pod_for_all_namespace"
my code is like this

    last_seen_version = None
    label_selector = "xxxxx"
    while True:
        try:
            w = watch.Watch()
            if last_seen_version is not None:
                watcher = w.stream(self.core_v1api.list_pod_for_all_namespaces, label_selector=label_selector, resource_version=last_seen_version)
            else:
                watcher = w.stream(self.core_v1api

[2018-12-11 08:43] max-rocket-internet commented on #700
probably a duplicate of what issue? You've linked back to this one. Maybe you meant https://github.com/kubernetes-client/python/issues/693 ?

[2018-12-11 08:49] juliantaylor commented on #700
fixed and updated the reproducer with manifests

[2018-12-11 09:10] juliantaylor commented on #609
The code should not use the maximum of the resource version of each object it has seen, it should use the resource version of the top level listing function that was used to return the objects, that contains a resource version to and guarantees that the all objects with updates have been returned up to the resource version of the listing object.

[2018-12-11 11:38] juliantaylor commented on #609
nevermind, I had a more detailed look and it seems kubernetes does not actually give you the list object when you are watching even when you receive multiple objects, so you have no single resource version you should base your next watch on.
Using a maximum is probably appropriate then.

[2018-12-11 13:07] klarose commented on #609
@juliantaylor
I think my posts in #693 actually provide a fairly nice solution. You start everything off with a list, to get the set of resources and the highest version of the list possible, then start watching from there. I think from then on you'll actually get the resources in order, so you won't need to do the max.

[2018-12-11 17:04] nlynch71 opened #702 "list_pod_security_policy returning 404 error (PolicyV1betaApi)"
Hi,
As described in the title, i'm currently experiencing a problem where `list_pod_security_policy` in the PolicyV1betaApi is returning a 404 not found error. The cluster I am testing on is a google kubernetes engine version 1.9.7-gke.11 cluster.

The full error is:
`Traceback (most recent call last):
  File "main.py", line 168, in <module>
    generatepsptabcontent()
  File "main.py", line 129,

[2018-12-11 18:05] juliantaylor commented on #609
yes that is a good way to implement a watch using the api directly. But I do not know if it is guaranteed by kubernetes to return events in a watch in order of the resource version and the current code assumes that it does.
Additionally the list then watch approach does currently not work as the watch will always start at resource version zero as it ignores user passed in resource versions after t

[2018-12-11 18:08] juliantaylor commented on #609
fwiw etcd which kubernetes api is based on says this:
https://coreos.com/etcd/docs/latest/learning/api_guarantees.html

    etcd does not ensure linearizability for watch operations. Users are expected to verify the revision of watch responses to ensure correct ordering.

[2018-12-11 18:17] juliantaylor commented on #609
I cannot find any information on the overflow behavior, but the etcd code structures appear to be `int64` so it can overflow (e.g. https://github.com/etcd-io/etcd/blob/master/Documentation/dev-guide/api_reference_v3.md).
Not sure if that can be handled reasonably in the library.

[2018-12-11 18:33] klarose commented on #609
I'd hope k8s (and maybe even etcd...) would handle that for us, since I expect it'd mess up its internals. That said, 2^63 is a pretty big number. My rough calculations suggest that overflow would occur in close to 300K years with 1 million operations per second. Can the k8s API even handle close to that?

[code]

[2018-12-11 18:40] juliantaylor commented on #609
I guess one can ignore it, I'll open a PR for fixing my issue (#700) not sure if it would fix yours. I have not yet seen out of order events.

[2018-12-11 19:45] juliantaylor commented on #693
fix posted: https://github.com/kubernetes-client/python-base/pull/109

[2018-12-12 12:31] aparamon opened #703 "CoreV1Api().delete_namespaced_service() doesn't free node port immediately"
In my tests, I deploy a Kubernetes service on a pre-defined node port 30000, execute the test, and clean up via `CoreV1Api().delete_namespaced_service()` call. Apparently, the node port is not released immediately upon `CoreV1Api().delete_namespaced_service()`: the next test often fails to start with error on `CoreV1Api().create_namespaced_service()` call: *"Invalid value: 30000: provided port is

[2018-12-12 12:34] max-rocket-internet commented on #693
@juliantaylor so to be clear: when your PR is merged, then I will not have to worry about my watcher getting old resource versions? i.e. if I start watching NOW, I will not receive events for old resources?

[2018-12-12 18:02] juliantaylor commented on #693
When the fix is merged the watch object will respect the `resource_version` you give it. So it will not return objects that have a lower resource version than you have provided in the initial watch call.

It does not handle potential out of order objects which could again lead to receiving old objects. But I am not sure if that can happen nor can I reproduce that. (but it can probably happen: http

[2018-12-12 19:13] juliantaylor commented on #609
fwiw here is a proof of concept branch which does reordering of potential unordered events https://github.com/juliantaylor/python-base/tree/unordered-events
not posted as a PR as I am not certain yet that it is necessary

[2018-12-12 21:05] tomplus commented on #703
This library provides very simple calls to interact with apiserver. It's full asynchronous and declarative approach. If you want to be sure that the service has been deleted by the controller, you'll have to try to read the service within a loop till you will get an error ~"object not found".

[2018-12-12 22:05] trobert2 opened #704 "Cannot create V1NetworkPolicy using create_from_yaml"
This error appears when trying to create a network policy from an existing configuration file.
Contents
[code]

Steps
[code]

[2018-12-12 22:06] melinath opened #705 "Docs use incorrect python syntax in examples"
See https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/BatchV1Api.md#create_namespaced_job

Example contains the line:
[code]

This is not python. Correct would be:
[code]

[2018-12-13 00:57] nakulpathak3 commented on #678
Could this be related to expiration of tokens after a certain amount of time?

[2018-12-13 11:45] micw523 commented on #704
This is in fact not a problem on the YAML creater.

What you’ve run into is kubernetes-client/gen#52. If you don’t need to create many of these problem resources as seen in the other issue, you may comment out the empty array check as a temporary workaround.

[2018-12-13 11:46] micw523 commented on #705
There are many of these - see the (incorrect) way of fixing it #640.

[2018-12-13 12:10] ananace commented on #701
I've been testing a patch that seems to have worked around this same issue for me, going to throw up a PR once I'm sure I'm not breaking anything;

[code]

[2018-12-14 06:17] shenxiwen opened #706 "V1PodSpec cant't use host_aliases"
V1PodSpec cant't use "host_aliases" ,not work ,  only use "hostAliases"

[2018-12-15 10:35] aparamon commented on #703
I tried to use `watch.Watch().stream(CoreV1Api().list_namespaced_service, ...)` to catch `DELETED` event after `CoreV1Api().delete_namespaced_service()` call, but apparently the port is not always deallocated even by the time of `DELETED` event. Should that be considered a but in `kubeapi-server`?

[2018-12-17 23:47] hjohn06 opened #708 "create_from_yaml is converting rbac.authorization.k8s.io/v1 incorrectly"
The create_from_yaml function in utils is gets an error when trying to create resources that use the rbac api.  For example, when trying to create the role below with create_from_yaml.
[code]
It results in the following error.
[code]
rbac.authorization.k8s.io/v1 is being converted into Rbac.authorizationV1Api instead of RbacAuthorizationV1Api.  Additional logic is needed to convert this correctly.

[2018-12-18 04:09] micw523 commented on #708
Hi - I wrote the YAML feature. Indeed this is a pattern that I did not see when I wrote the feature.

/assign

Is it an urgent issue that you need to be fixed?

[2018-12-18 18:09] hjohn06 commented on #708
I don't need it right away.  Just reporting a bug.

[2018-12-18 19:51] micw523 commented on #702
If I'm not mistaken, you'll probably see this behavior across all languages.

[2018-12-19 22:00] nakulpathak3 commented on #678
https://github.com/kubernetes-sigs/aws-iam-authenticator/issues/157 seems related. Might be an issue with EKS and aws-iam-authenticator

[2018-12-20 02:36] #706 closed

[2018-12-20 13:19] JRascagneres opened #709 "Service Must Include Port"
When creating a service spec it enforces you to define the port. This is not required when using either a yaml file or building from the command line as if not specified it will auto-generate one however the python client forces you to define one. Is there a workaround to ensure it is auto-generated?

[2018-12-20 19:42] brichins commented on #628
Any traction or update on this issue?

[2018-12-21 00:50] tomplus commented on #709
Could you provide the yaml definition of your service? As we can see here https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1ServiceSpec.md the attribute `ports` is optional.

[2018-12-24 09:58] rfum opened #711 "client.CoreV1Api.delete_namespaced_service_account() not working as expected"
Hello everyone,

I'm trying to delete a ServiceAccount which is created with create_namespaced_service_account() command with using`(name=self.name, namespace=self.namespace, body=self.yaml_obj)` command. But it throws the following exceptions. Is this a known issue ?

[code]

kubernetes version = 1.10.7
client-python version = 7.0.0 and 8.0.0

[2018-12-24 15:06] zgfh commented on #504
`kubectl delete -f <yaml file> ` is in plan?

[2018-12-28 02:37] MirzaSikander commented on #679
Is there a workaround for this in the meantime?

[2018-12-28 14:14] devopsberlin opened #715 "Segmentation fault (core dumped) on ubuntu18 after the second time of the package installation"
Running `pip3 install kubernetes==8.0.1` results in a segmentation fault at the end only after the second time of the package installation, the issue only happens with the ubuntu user.

AWS AMI ID: `ubuntu/images/hvm-ssd/ubuntu-bionic-18.04-amd64-server-20180912 (ami-00035f41c82244dab)` on region `eu-west-1`

Can anyone reproduce this?
Thanks

how to reproduce:

[code]

[code]

[code]

First time:

[2018-12-29 02:39] zq-david-wang opened #716 "read_namespaced_pod_log with follow=True would hang if the pod has not log to yield yet"
I am using following code to get pod logs
[code]
But when the pod has no log yet, the client would hang there forever without the request timeout.
The client need at least one byte to return an interactive object, but when there is no log yet, it would block the process. (request timeout would break the connection, not a valid solution.)

I tried adding a dummy byte before sending any logs in kube

[2019-01-02 17:40] pcasteran commented on #536
Hello,

We are experiencing the exact same issue in almost the same context.
We have a Python application using the Kubernetes client to create Job objects and polling for their status every few seconds. The application is sometimes unable to connect to the K8s control plane and the call to `read_namespaced_job_status()` fails with exception `MaxRetryError`.
I checked the last logs and it happened

[2019-01-04 07:13] laixiaohuai opened #717 "when use exec api tail xxx.log error "'utf-8' codec can't decode bytes""
### When I'am exec pod use tail -200f xxx.log.The following error is often reported

Exception in thread Thread-426:
Traceback (most recent call last):
  File "/data/pyenv/versions/3.7.0/lib/python3.7/threading.py", line 917, in _bootstrap_inner
    self.run()
  File "/data/SeaOPS/Base/api/views_file/kubernetes.py", line 591, in run
    requests[fileno] = self.chan.read_stdout()
  File "/data/pyen

[2019-01-04 15:53] tomplus commented on #716
Thanks for reporting this. It'll be resolved by fix in the apiserver: https://github.com/kubernetes/kubernetes/pull/72575

[2019-01-05 09:03] zq-david-wang commented on #716
close it since this is a apiserver issue.

[2019-01-05 09:03] #716 closed

[2019-01-08 06:14] shanit-saha commented on #589
I too am stuck with the same problem as reported by @pvanderlinden . By any chance is there a solution available. My use case demands to create Environment variables on the run time when I am creating the K8-Job / Pod. We are creating K8-jobs from an application flow. using YAML doesn't seem to be flexible to do this.

[2019-01-08 10:32] pvanderlinden commented on #589
@shanit-saha What I found working the best so far is using a yaml file as template, then with python code fill in the blanks (as it is just basic python structures then (dicts, lists, strings, etc)

[2019-01-08 10:40] shanit-saha commented on #589
@pvanderlinden : **Thank You** for your response and update.
However when I am trying to use the yml template it throws up the error as below

### **Reason: Unprocessable Entity
HTTP response headers: HTTPHeaderDict({'Content-Type': 'application/json', 'Date': 'Tue, 08 Jan 2019 10:38:21 GMT', 'Content-Length': '517'})
HTTP response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"F

[2019-01-08 10:46] shanit-saha commented on #589
@pvanderlinden : Thank You ! for the response and advise.
When I am trying to read the YML template and use it the way you have stated I am getting the error as below

**'BatchV1Api' object has no attribute 'select_header_accept'**
================YAML is As below======================================
---
apiVersion: batch/v1
kind: Job
metadata:
  name: dx3-job-test-4
spec:
  ttlSecondsAfterFinish

[2019-01-08 11:07] pvanderlinden commented on #589
@shanit-saha  It sounds like you still read it into an object?
What I do:
[code]

[2019-01-08 22:22] pbrumblay commented on #328
@pvanderlinden Great! I'm glad it's been fixed. I've moved on from this work and don't have time to verify it. Feel free to close this. As I said above, I mainly opened this to save others pain.

[2019-01-09 10:03] pvanderlinden commented on #328
@pbrumblay It's not actually fied. That's just an older version which doesn't have the bug.

[2019-01-09 14:59] jbell-shibumi opened #720 "CoreV1Api APIs work but ApiClient.call_api() does not"
I'm having an issue, it seems that the built in, pythonized API calls (such as CoreV1Api, where the responses are wrapped in python objects) work, but calling `client.ApiClient().call_api()` results in a 401 unauthorized response...

I'm using a token based authentication, which is stored in the config file itself. See below

Code:
[code]

Config
[code]

[2019-01-09 18:19] geerlingguy commented on #678
Gah, I'm hitting this now too, after I upgraded python via `brew upgrade` on my Mac. Was working fine till now. Everything seems to be correct:

[code]

But using Ansible with `kubernetes===7.0.0` I get:

[code]

[2019-01-09 19:13] jbell-shibumi commented on #720
Closing this issue. I needed to specify this...

`auth_settings=['BearerToken']` so it would use the bearer token from the client.  Kind of surprised that this didn't already happen automatically when `api_client` is instantiated, especially when it's set up like the `coreV1_client`.

[2019-01-09 19:13] #720 closed

[2019-01-09 21:14] delwaterman commented on #690
I am getting this same error

[2019-01-11 03:37] leavest commented on #717
I get the same error when execute vim command.
my code sample
[code]
error message:
[code]
I print the data  in  "kubernetes/stream/ws_client.py", line 180, and the last one raise UnicodeDecodeError
[code]
version
kubernetes==8.0.0
python==3.5.5
os==10.13.6

[2019-01-11 07:15] oz123 opened #722 "`utils` and `utils.create_from_yaml` improvement suggestions"
`create_from_yaml` should accept a string like object, like `yaml.load` and `safe_safe` do.
Then, it's the user's task to read the file.
To help users we can add a function `create_from_file` which accept a file path. `create_from_file` will than call `create_from_yaml`.

The new signatures should be:

[code]

Additionally, we should add:

[code]

This approach brings the python client a little bi

[2019-01-11 10:01] kmai commented on #708
I wrote a quick fix that I'd like to contribute. Besides the CLA for companies, what else should I do? I want to test this throughly :)

[2019-01-11 10:45] dennis-tra opened #723 "`list_kube_config_contexts` cannot handle a KUBECONFIG env var with multiple config paths"
Hey there :)

When running
[code]
I get an error because my `KUBECONFIG` environment variable is configured with a **list** of paths to configuration files. E.g. `/path/one:/path/two`. This configuration is also covered in the documentation here:
https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#set-the-kubeconfig-environment-variable

I would have exp

[2019-01-11 11:07] tomplus commented on #723
This feature has to be added to python-base repo, ref issue: kubernetes-client/python-base#62

[2019-01-11 16:16] micw523 commented on #708
Hi @kmai -
Thanks for the contribution! However, this function is currently undergoing changes. Also, I assigned myself on this issue. Could you possibly look for another issue for now? I’ll be happy to give you a starting point if I could.

[2019-01-16 03:10] leavest commented on #717
你解决问题了吗？我这样修改，我的问题解决了。仅限python3的，python2.7依然报错。
[code]

[2019-01-16 03:12] laixiaohuai commented on #717
你是修改源码了是吧

[2019-01-16 03:14] laixiaohuai commented on #717
好的，我也试试，测看看结果

[2019-01-16 05:10] mourya007 commented on #616
@marie-yau hey, Are you still working on it ?

[2019-01-16 09:30] leavest commented on #717
你使用哪个 websocket 的包。
试一下换个 websocket 的包吧
我用 channels 、Flask-Sockets 都可以，用 dwebsocket 有其他问题

[2019-01-16 09:32] laixiaohuai commented on #717
我用的就是dwebsocket

[2019-01-16 14:13] micw523 commented on #722
The YAML loaders should parse (most) JSON correctly especially those created by kubectl so I don’t think the JSON part is needed.

I don’t think you use the -f flag if you’re parsing from stdin though.

[2019-01-16 14:33] oz123 commented on #722
It's not usual to do this, but I have seen people do this in scripts, for example:
[code]

In any case, would you accept a PR with my suggestions?

[2019-01-16 15:23] micw523 commented on #722
I take 50% of what I said back - ```create -f -``` takes input from stdin. It’s not super unusual either - this kind of usage appears on the official documentation. It would require an extra parameter if we implement in Python: file name as ```-``` and a string input.

I’m conflicted on how useful this would be. It would be simple enough to implement though on top of the ```create_from_yaml``` we

[2019-01-16 15:36] oz123 commented on #722
Currently, the function `create_from_yaml` requires a file. Would you consider accepting the PR
with just my first two suggestions ?

If so, my PR will include only these changes:

 - change `create_from_yaml` to accept yaml string
 - add a function which explicitly reads from file:  `create_from_file`

[2019-01-16 19:47] micw523 commented on #722
I'd rather not do it since your suggestion will break existing API while not necessary. If the addition of feature is deemed necessary, I'd rather make the change inside ```create_from_yaml``` and make ```create_from_file``` an alias.

[2019-01-16 19:56] richstokes commented on #360
This seems to just return the context at position [1] from all your available contexts.

Is there a way to get the currently active one?

[2019-01-16 20:50] oz123 commented on #722
@micw523
Actually, I like your suggestion! I can do this as you suggested.

`create_from_yaml` can check if the string passed to it is a file system path, if it is we'll read it as as yaml. If it's not we can can directly load the yaml.

[2019-01-17 15:52] richstokes opened #728 "Watch stream disconnecting - how to watch forever?"
Hi,

Is there a way to keep the watch stream connected forever? I am getting disconnected after approx. 5-10 minutes with this error:

[code]

The watch function I am using (which works great up until it gets disconnected):

[code]

[2019-01-17 18:34] richstokes commented on #728
I built a workaround to handle the exception and reconnect, not sure if this is the right solution or if the python Kubernetes client should be taking care of this?

[code]

[2019-01-17 19:30] isunitha98selvan commented on #616
I would like to work on this issue.

[2019-01-17 20:44] tomplus commented on #360
@richstokes No, it returns a tuple (all_context, current) so `list_kube_config_contexts()[1]` gives you the current context.

[2019-01-17 22:49] richstokes commented on #728
Spoke too soon, Now I'm running into this bug with the above workaround, https://github.com/kubernetes-client/python/issues/701

[2019-01-17 22:52] richstokes commented on #701
I'm running into the same issue. Something not right here, as we see the response `"Failure","message":"resourceVersion: Invalid value: \"None\"` yet we are passing a valid `resourceVersion` to the watch method.

[2019-01-17 22:53] cliffburdick commented on #547
I got the same exception as the original poster, but I noticed that the binding actually was successful. The pod get the node assigned, but the exception is thrown anyways. I noticed that all the examples of custom schedulers call an empty constructor to V1Binding(), but in the API it shows target is mandatory now. However, even by adding target in, it still throws the except, but continues to bin

[2019-01-18 01:50] abushoeb commented on #547
@cliffburdick what version of K8 and Python Client you are using?

[2019-01-18 03:53] cliffburdick commented on #547
k8s 1.12.1 and client 8.0

[2019-01-18 06:15] nileshdhamanekar opened #729 "Error importing kubernetes: "ImportError: cannot import name to_native_string""
Hi,

I am getting below error on `import kubernetes`:
[code]

[2019-01-18 11:37] vj319 commented on #254
I have to access the Kubernetes proxy API server from other machine using python library functions.  Is this possible ?

[2019-01-18 22:04] cliffburdick opened #730 "datetime Note Accepted in V1Event"
The API signature of V1Event says first_timestamp is of type datetime. However, when calling create_namespaced_event with that, the following is returned:

[code]

[2019-01-20 15:16] hhuuggoo opened #731 "anti affinity ignored?"
I'm running version 8.0.1 of the python kubernetes library.  My python pod object has proper settings for anti affinity

[code]

however when I call get `kubectl get pod -o yaml`, the resulting yaml is missing the anti affinity settings

[code]

I'm also using nodeAffinity, and that is working properly.

[2019-01-21 10:14] yadavsachin0995 opened #733 "Proxy is not configurable in the rest client."
Please look at https://github.com/kubernetes-client/python/blob/ed18ea8d70846e273bdbeaf4d33676538d6aeabb/kubernetes/client/rest.py#L91
This kind of hard codes the configuration passed to the ProxyManager, I want to pass proxy_headers along with the request and am unable to do that, is there something that I might be missing? A proper way to do that?

[2019-01-21 13:56] gree-gorey commented on #683
@tomplus here is an example when it does not work. I want to use client to generate templates (yaml or json) and then use `kubectl apply`. But using:
[code]
generates this:
[code]
which is invalid for `kubectl` as it should be:
[code]
and I cannot use `_preload_content=False` in this case.

@micw523 we actually don't need snake_case to camelCase parser; all the objects already have `attribute_map`

[2019-01-21 14:03] yadavsachin0995 commented on #733
Also, if I create a client configuration from the model https://github.com/kubernetes-client/python/blob/ed18ea8d70846e273bdbeaf4d33676538d6aeabb/kubernetes/client/configuration.py#L48

Then, where exactly am I supposed to pass the proxy_headers information required by the ProxyManager?

[2019-01-21 14:16] gree-gorey commented on #390
https://github.com/kubernetes-client/python/issues/683#issuecomment-456082546

@allanadair your workaround is working, thanks

[2019-01-21 14:19] gree-gorey commented on #683
#390 provides a workaround, but still this is a workaround

[2019-01-21 20:48] Sai-Adarsh commented on #676
Hello @micw523 Gave a PR that solves the issue.

Added shell script to check python environment, prints the python version, copy files from /kubernetes/base to /kubernetes/ and finally runs python setup.py install.

[2019-01-22 07:08] yadavsachin0995 opened #735 "Configuring proxy_headers for rest authentication."
I'm using Configuration object to be passed to the RESTClientObject class which, in it's constructor calls the proxy manager. The ProxyManager accepts the proxy_header attribute(defaults to None). Now the thing is that the Configuration object accepts the proxy_url attribute but misses out on proxy_headers due to which I'm not able to create a proxy configuration for authentication.

Here's the co

[2019-01-22 07:14] yadavsachin0995 commented on #733
Created another related issue.

[2019-01-22 07:14] #733 closed

[2019-01-22 07:21] yadavsachin0995 commented on #709
If you have a look at the model https://github.com/kubernetes-client/python/blob/ed18ea8d70846e273bdbeaf4d33676538d6aeabb/kubernetes/client/models/v1_service_spec.py#L77

you will find that the constructor defaults the ports to None. There probably is some issue with your implementation, can you share more details about how are you creating the spec object?

[2019-01-23 15:23] marwatk opened #737 "Module doesn't respect OS certificate trust store"
When a specific CA isn't provided the code falls back to [using Mozilla's root certificates](https://github.com/kubernetes-client/python/blob/ed18ea8d70846e273bdbeaf4d33676538d6aeabb/kubernetes/client/rest.py#L76) which ignores any trust store configured on the host. Is this a deliberate choice or can it be changed to instead allow Python's `ssl` module to [pick them up from the host](https://docs

[2019-01-23 21:10] #700 closed

[2019-01-24 16:25] mtolan commented on #730
Not a maintainer, but I also encountered this. It seems like the issue is that the client is relying on `datetime.isoformat()` to serialize datetime objects for the request to the Kubernetes API.

https://github.com/kubernetes-client/python/blob/master/kubernetes/client/api_client.py#L198

I would imagine that you're using `datetime.now()` to generate an event timestamp (at least, that's what I wa

[2019-01-26 10:49] aparamon commented on #703
Reported upstream: https://github.com/kubernetes/kubernetes/issues/73140

[2019-01-26 17:06] torgeirl commented on #547
I'm running something similar to @cliffburdick on v1.12.2 using client v8.0, and it seems to be working apart from the ValueError getting thrown.

It looks to me that [the value error gets raised before the value is set](https://github.com/kubernetes-client/python/blob/release-8.0/kubernetes/client/models/v1_binding.py#L156).

[2019-01-28 02:18] joshua-xia commented on #690
I met the same error:

    stdout=True, tty=False)
  File "/usr/local/python/python-3.6.5/lib/python3.6/site-packages/kubernetes/stream/stream.py", line 32, in stream
    return func(*args, **kwargs)
  File "/usr/local/python/python-3.6.5/lib/python3.6/site-packages/kubernetes/client/apis/core_v1_api.py", line 835, in connect_get_namespaced_pod_exec
    (data) = self.connect_get_namespaced_pod_exe

[2019-01-28 06:45] arzarif commented on #602
@PaulFurtado - are you hitting this specifically when using CRI-O? The OP's description of this bug matches my own exactly - intermittent, indefinite hangs when invoking connect_get_namespaced_pod_exec. In my case, however, I'm using just Docker. It doesn't look like the OP specified which runtime they were using.

[2019-01-28 08:10] PaulFurtado commented on #602
@arzarif the issue I filed is relevant to every runtime, however, for the commands I tested, something about the framing of the data causes it to be very reproducible when cri-o is the runtime.

[2019-01-28 17:34] arzarif commented on #602
@PaulFurtado Interesting. Thanks for the heads up. This seems to be a pretty serious issue; it appears that Rundeck's remote pod execution feature is broken because of this. I tried to bypass Rundeck altogether and hit the same problem in my own client before stumbling on this issue.

[2019-01-28 19:32] PaulFurtado commented on #602
Yeah, I agree that this is a serious issue for anyone using the exec API from python. Unfortunately, I'm not a maintainer and none of them have commented on that issue, but maybe I should just open a PR to get the ball rolling. On my end, I work around this by monkey-patching the python client, you could do the same if you need an immediate solution.

[2019-01-29 09:23] admssa opened #739 "Handshake status 500 Internal Server Error"
Hi, I'm get often ```Handshake status 500 Internal Server Error```
It heppens usualy during exec
AWS EKS clusters: 1.10.3, 1.11.5
LIBs: 8.0.0b1, 8.0.1

[code]

[2019-01-29 15:59] spacez320 commented on #411
I'm wondering what the state of this is. Given that there's a series of MRs, some open and some merged, and that this issue is itself open, would anyone be willing to provide a general summary of the path forward, and what versions of the client will have a fix?

[2019-01-29 19:25] brantlk opened #740 "create_from_yaml custom resource"
I've got a custom resource description and I need to create custom resource for it. I've been able to create it using `client.CustomObjectsApi(api_client).create_namespaced_custom_object(...)` and using `kubectl apply -f`. I tried using the utils.create_from_yaml but it fails with a traceback:

[code]

yaml is like:
[code]

Pretty obvious what the problem is from the code.

[2019-01-29 19:46] micw523 commented on #740
/assign
We did not take ```CRD``` into consideration when the ```create_from_yaml``` function is rolled out. I'll need to investigate a little about how ```kubectl``` handles this and then will get back to you.

As a side note that the create from yaml function does not have ```apply -f``` capability but only ```create -f```.

[2019-01-29 19:47] micw523 commented on #740
/assign
We did not take ```CRD``` into consideration when the ```create_from_yaml``` function is rolled out. I'll need to investigate a little about how ```kubectl``` handles this and then will get back to you.

As a side note that the create from yaml function does not have ```apply -f``` capability but only ```create -f```.

[2019-01-30 13:38] aparamon opened #741 "Refresh token/api-key periodically"
Currently, authorization token/api-key is only initialized on loading config:
https://github.com/kubernetes-client/python-base/blob/bd9a8525e9215f7f01c32a321beb9a605cf0402b/config/kube_config.py#L420
https://github.com/kubernetes-client/python-base/blob/bd9a8525e9215f7f01c32a321beb9a605cf0402b/config/kube_config.py#L510
When working with Amazon EKS via [aws-iam-authenticator](https://github.com/ku

[2019-01-30 16:28] delwaterman commented on #690
Ok I found a work around for this issue. When you create the role to grant this permission I had thought that all I needed was this:

[code]

but it turns out you need to add both `create` and `get`. This WILL work:

[code]

[2019-01-31 18:23] yadudoc opened #742 "Kubernetes is missing in the setup.py"
Our setup.py script is missing the kubernetes optional argument.

[2019-01-31 18:23] #742 closed

[2019-02-01 11:01] sskmail14 opened #743 "Passing the command as regex adding two backslash"
`from kubernetes.stream import stream`

In commands(list) while passing backslash it appends two backslash.

[code]

Actual
`redis-cli -h 127.0.0.1 keys {ppod}{3}\\* | xargs redis-cli -h 127.0.0.1 DEL`
Expected
`redis-cli -h 127.0.0.1 keys {ppod}{3}\* | xargs redis-cli -h 127.0.0.1 DEL`

How to have single quotes in the python array?

[2019-02-01 11:10] admssa commented on #739
I'm getting this not for all clusters, but for the cluster which can have some delays during responses.

[2019-02-01 15:33] juliantaylor opened #744 "models do not set kind or apiversion"
The models do not set the `kind` and `apiVersion` when created:

[code]

Both the kind and api version are known to the model so they should set it.

[2019-02-01 15:35] juliantaylor opened #745 "results of list API calls have no kind or apiversion set for items"
list calls do not set the kind of api version of the items:

[code]

I suspect this might be caused by https://github.com/kubernetes-client/python/issues/744 but I am not sure how the de-serialization exactly works.

[2019-02-06 04:46] PaulFurtado opened #747 "Cannot deserialize node object when one of its images has a null names list"
When trying to call `client.read_node('ip-172-18-32-7.ec2.internal')`, a  ValueError is thrown:
[code]
it turns out this node had an image in its images list like:
[code]
which breaks this check: https://github.com/kubernetes-client/python/blob/cd411d2/kubernetes/client/models/v1_container_image.py#L76-L77

[2019-02-06 14:12] max-rocket-internet commented on #124
Any update on this? I have this code to watch events:

[code]

It runs but if there is no events for some extended amount of time it then dies with this:

[code]

Am I missing something?

[2019-02-06 14:54] max-rocket-internet commented on #124
Ah I think maybe my problem is the `_request_timeout=60` part? If I remove this it runs indefinitely 😅

[2019-02-07 14:11] futuo commented on #58
Hi! I'm getting this same error now in version 8.0.1

Here's the offending code:
`            v1 = client.CoreV1Api()
            all_pods = [pod.metadata.name for pod in v1.list_namespaced_pod(self.namespace).items]
            pod = next(pod for pod in all_pods if self.name in pod)

            api_response = v1.connect_get_namespaced_pod_exec(
                pod, self.namespace,

[2019-02-07 16:21] futuo commented on #58
nevermind! Found a fix!
For those looking and reaching this issue, I found the issue looking here:
https://github.com/kubernetes-client/python/issues/409
and here
https://github.com/kubernetes-client/python/issues/526

[2019-02-07 17:34] mcepl opened #749 "Depends on unmaintained package randomize"
According to ``test-requirements.txt`` this package requires for testing package ``randomize``. Unfortunately, https://github.com/nloadholtes/nose-randomize seems to be archived and no longer maintained (with outstanding issues and pull request). Needed functionality should be probably somehow acquired from somewhere else or bundled-in and maintained as part of this project.

[2019-02-07 18:53] sayarg commented on #524
is this on the radar / roadmap? it would be extremely useful!

[2019-02-07 21:27] adubkov commented on #360
How to select specific context?

[2019-02-08 03:30] adubkov commented on #360
To select specific context:
[code]

This will set configuration for `kubernetes.client`. It won't change your kubectl context, just internally for that specific object of `kubernetes.client`.

[2019-02-09 18:26] rmb938 opened #753 "Event Broadcaster"
It would be very useful to have an implementation of the client-go EventBroadcaster https://github.com/kubernetes/client-go/blob/master/tools/record/event.go#L99

Having to manually implement all the logic to aggregate events and whatnot is difficult.

[2019-02-11 15:27] dsever commented on #589
Same here,

Still there is resolution?

[2019-02-11 16:40] tcolgate opened #754 "cmd-path not respected"
The python client does not respect cmd-path in the gcp provider.

We abuse this feature to retrieve credentials for our non-gke clusters (hosted in AWS). This works well with k8s.io/client-go, but does not seem to be supported by the clients in the kubernetes-client org, with the exception of the nodejs client.

[2019-02-11 20:39] dsever opened #755 "Fail to create CronJon"
Hi,

I;m trying to create cronjob using python library and it always fails with code 422 (RestartPolicy can't be Always).
Tried with last stable library and also beta 9.x, is there any workaround for my problem.

Thanks
Dubravko
Code:

`   data = kubernetes.client.V1beta1CronJob()

    data.kind = 'CronJob'
    meta = kubernetes.client.V1ObjectMeta()
    meta.name = name
    meta.labels = {'name':

[2019-02-11 21:23] dsever commented on #755
Ok, looks like one spec key is missing, so i need to create workarround lik mu manually creating it:
`   if 'namespace' in kwargs.keys() :
        namespace = kwargs['namespace']
    else:
        namespace='default'
    data = kubernetes.client.V1beta1CronJob()
    data.kind = 'CronJob'
    meta = kubernetes.client.V1ObjectMeta()
    meta.name = name
    meta.labels = {'name':'cron'}
    meta.nam

[2019-02-11 21:23] #755 closed

[2019-02-11 23:04] rmb938 commented on #753
Created a POC here https://gist.github.com/rmb938/1223f5fc9f6814cf95e9c067ee83c80b it's not an exact replica but is enough for me to use.

[2019-02-11 23:45] rmb938 opened #756 "Quantity object"
Implement https://github.com/kubernetes/apimachinery/blob/master/pkg/api/resource/quantity.go

I would like the ability to parse resources into quantity objects and do actions on them (get their value, compare them, ect...)

[2019-02-12 07:05] shanit-saha commented on #589
@dsever  :  Please read the advice of @pvanderlinden above that helped to resolve my problem. Going by his advice what I did is that have created a bare minimum K8-Yml specification for a Job. The python code synopsys below I think should help. The raw yml File I am using is '`create_k8job_v1.yml`'
[code]

[2019-02-12 08:12] dsever commented on #589
At the end I resolved problem by creating spec key manually.
https://github.com/kubernetes-client/python/issues/755

[2019-02-12 08:46] smileisak commented on #735
Same issue +1

[2019-02-12 14:35] splattner commented on #744
I see the same behaviour.

[2019-02-12 15:21] micw523 commented on #744
I would question if we could fix these. The constructors for such model objects are fairly dumb and are generated by a generator.

[2019-02-12 22:48] saurav-malani commented on #616
Hello @isunitha98selvan! I haven't seen any activity on this issue, for the past 4 weeks. Are you still working on this?

[2019-02-12 22:57] marie-yau commented on #616
Hello everyone, you can work on it. It is too difficult for me to fix.

[2019-02-13 07:36] 1032231418 opened #757 "Find pod name"
Hi!
Is there a way to query the pod name by app name?

[2019-02-13 07:39] 1032231418 commented on #757
E.g:
# kubectl  get pods -n dev |grep account
account-service-7f8d56f78c-vlj2c                     2/2       Running   0          1d

#account-service-7f8d56f78c-vlj2c#
I want to get this name through the interface.

[2019-02-13 09:01] 1032231418 commented on #757
Here is my method
###############################################
from kubernetes import client, config
from kubernetes.client.rest import ApiException

# Configs can be set in Configuration class directly or using helper utility
config.load_kube_config("/root/.kube/config")

def find_namespace_pod(namespace, app_name):
    """
     find namespace pod msg
    """
    k8s_api_obj = client.CoreV1Api

[2019-02-13 11:44] tomplus commented on #757
Your method checks a label named `app`, not a pod name. So if it's true that you want to find pods which have the label `app` equals `app_name` you can do it simpler using the label selector:

[code]

[2019-02-13 13:42] 1032231418 commented on #757
@tomplus  Thank you. I'll try.

[2019-02-13 15:45] redsox10 opened #758 "Get restart count value"
Hello!

Is there a way to get the restart count value of a pod? The RESTARTS column value of a specific pod (for example from `kubectl get pods` command)

Thank you.

[2019-02-14 06:02] govindKAG opened #759 "when listing name spaced resources, is there an easy way to sort them by age?"

[2019-02-14 14:06] hmonteiro opened #761 "Changing the namespace for a .kube context programmatically"
I'm trying to change the configuration file from the API and I am struggling to mimic this simple kubectl command using the python API.
``kubectl config set-context $(kubectl config current-context) --namespace=<insert-namespace-name-here>``

[2019-02-14 14:11] 1032231418 commented on #757
@tomplus Thank you very much. That's exactly what I want.

[2019-02-14 14:12] #757 closed

[2019-02-14 14:17] 1032231418 commented on #761
@hmonteiro  [https://github.com/kubernetes-client/python/blob/master/kubernetes/doc](url)

https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/AppsV1beta2Api.md
[](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md)
Here you can find the interface document

[2019-02-14 15:11] redsox10 commented on #758
list_pod_for_all_namespaces() returns the restarts value per container.

[2019-02-14 15:11] #758 closed

[2019-02-14 23:01] micw523 commented on #704
On a separate look, it looks like that the response does not include a ```status``` field. Let me take an additional look on this. In the meantime, the network policy seems to be created. Calling ```verbose=False``` may help getting around the error.
/assign

[2019-02-15 03:42] girish-netskope opened #762 "Not able to create a namespace external name service using kubernetes-client"
{'api_version': 'v1',
 'kind': 'Service',
 'metadata': {'annotations': None,
              'cluster_name': None,
              'creation_timestamp': None,
              'deletion_grace_period_seconds': None,
              'deletion_timestamp': None,
              'finalizers': None,
              'generate_name': None,
              'generation': None,
              'initializers': None,

[2019-02-15 03:42] girish-netskope commented on #762
Using this to create a namespaced service
api_response= self._k8s_client.create_namespaced_service(namespace, body, include_uninitialized=True, pretty=True)

[2019-02-15 11:06] tellet commented on #233
I'm facing this issue with version 7.0.1 (on mac), kubernetes 1.10.11. Workarounds don't help.

[2019-02-15 14:55] anselms opened #763 "How to create and monitor a custom resource (SparkApplication)?"
I'd like to submit and control a SparkApplication to a Kubernetes cluster programmatically.

A job definition job.yaml like this

apiVersion: sparkoperator.k8s.io/v1beta1
kind: SparkApplication
metadata:
  name: my-test
  namespace: default
spec:
  sparkVersion: "2.4.0"
  type: Python
...
runs without problems using kubectl apply -f job.yaml, but I cannot figure out whether and how I can use the k

[2019-02-18 16:01] ssharma555 commented on #585
I am facing this issue. Any steps to get this working?

[2019-02-19 00:46] mitar commented on #199
I have added tests to https://github.com/kubernetes-client/python-base/pull/93.

I also opened https://github.com/kubernetes-client/python-base/issues/117. I really think tests should be using proper Kubernetes cluster inside CI and not mocked messages. Because now the author of the code both writes the code and test messages, but there is really not any assurance that test messages align with rea

[2019-02-19 12:50] xxxxczxc opened #765 "k8s config tmp files cleared by centos"
k8s-client created some temp file in directory /tmp when process start, but centos will clear files that created over 10 days ago in this directory. After the temp files cleared, if my process was disconnected from k8s somehow, it will return 'No such file or directory' when call k8s interface.

It seems like that kubernetes-client will read the temp file when try to reconnect to k8s.
So I call lo

[2019-02-19 18:23] micw523 commented on #763
Try [this](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/ApiextensionsV1beta1Api.md#create_custom_resource_definition).

Although, if you're using k8s v1.10 or above, you may see an exception thrown. Generally you can ignore this error.

[2019-02-19 18:28] anselms commented on #763
Thanks. I tried it, but
[code]
just throws with
[code]

for versions 8.0.1 and also for 9.0 beta1.

[2019-02-19 18:30] micw523 commented on #761
I think you're trying to change the namespace you're in. I'm not sure we can do this directly, but you can set a variable of your namespace like
```curr_namespace = 'this-namespace'```
and then call
```xxx_namespaced_yyy(namespace=curr_namespace)```

[2019-02-19 18:54] micw523 commented on #763
I know that will happen. However, if you use kubectl to see if you have created the CRD it should show that you have successfully created it.

[2019-02-19 20:01] anselms commented on #763
Ahh, that is what you meant - thanks, will give it a go.

On Tue, Feb 19, 2019 at 7:54 PM micw523 <notifications@github.com> wrote:

[2019-02-19 20:32] hendersonkw commented on #271
Good afternoon.  I'm new to Python and I've been working on a python script to remove a particular pod using the Kubernetes API, but it is not working.  I was wondering if someone could take a look at my script to see what the problem could be.  Currently I'm getting a SyntaxError: unexpected EOF while parsing, which means the code is processing all the way through.  Below is my script:

from kube

[2019-02-19 23:13] JonathanRRogers commented on #271
I suspect you have a Python syntax problem in your script unrelated to the kubernetes package, but I'm not sure because the script you've posted isn't formatted correctly. I have edited your script slightly and it seems to work for me.
`from kubernetes import client, config

config.load_kube_config()

def delete_pod(self, name, namespace, body):
    core_v1 = client.CoreV1Api()
    delete_options

[2019-02-19 23:37] micw523 commented on #271
@hendersonkw I would suggest you to check if you have any unclosed brackets / quotes / etc. Also check for "hidden" characters if you copied parts of the code from an online source.

[2019-02-20 07:24] govindKAG commented on #740
is there some kind of temporary workaround for this?

[2019-02-20 10:47] govindKAG commented on #728
running into the same issue, got anything ?

[2019-02-20 11:02] govindKAG commented on #601
Would something like this be considered pythonic?
https://github.com/mozilla/agithub

[2019-02-20 14:39] hendersonkw commented on #271
Thank you Jonathan for the assistance.  You were correct is was an issue with the formatting.  Once I typed everything again from scratch just like the one you posted it worked with no issues.  I wanted to know if there is a way for me to add a variable so when I run the script it ask me for the pod I want to delete and once I input the pod name it deletes that pod?  If so can you assist me with t

[2019-02-20 15:31] hendersonkw commented on #271
@JonathanRRogers Thank you Jonathan for the assistance. You were correct is was an issue with the formatting. Once I typed everything again from scratch just like the one you posted it worked with no issues. I wanted to know if there is a way for me to add a variable so when I run the script it ask me for the pod I want to delete and once I input the pod name it deletes that pod? If so can you ass

[2019-02-20 22:25] micw523 commented on #676
/close via #766

[2019-02-20 22:26] #676 closed

[2019-02-20 23:22] JonathanRRogers commented on #271
@hendersonkw First, I'd suggest you use an editor or other tool that checks your Python code and shows problems with it before you attempt to run it. I use http://flake8.pycqa.org/en/latest/ in via https://github.com/flycheck/flycheck in Emacs. Other editors support flake8 or you can run the "flake8" command directly.
Your "delete_pod" function already takes a pod name. If you want to add a comman

[2019-02-22 01:46] jasonmimick commented on #708
@kmai - Hi, I'm working on a POC - would you mind sharing your quick fix for this to save me some time?
thanks-

[2019-02-22 10:25] govindKAG commented on #705
some indentation is broken too, I am pretty sure these have been autogenerated from the spec.

[2019-02-23 02:15] micw523 commented on #708
Hi @jasonmimick,

If you're adventurous, I welcome you to test out the code in PR #767.

[2019-02-25 15:12] anselms commented on #763
Got this working, the API I needed but had overlooked was `create_cluster_custom_object`.

Thanks!

[2019-02-25 15:12] #763 closed

[2019-02-26 21:48] srinivasrk commented on #234
[code]
This still does not delete the pod ! It only deletes the Job

[2019-02-27 00:31] lalo opened #768 "Question before implementing PR regarding keep-alive connections"
I'm interested in adding a config to enable keep-alive on the connections with urllib3 connection pools. I see that this dependency is brought by the swagger-codegen -> https://github.com/kubernetes-client/python/blob/master/kubernetes/client/configuration.py#L43

If I contribute this to the swagger-codegen project, this project actively moves the dependency to the latest right? Also, is this the

[2019-02-27 08:16] tomplus commented on #768
Hi. We are moving from swagger-codegen to openapi-generator. You can track it here: https://github.com/kubernetes-client/gen/issues/93. It'd be better to add this feature to [openapi-generator](https://github.com/OpenAPITools/openapi-generator).

[2019-02-27 21:48] adubkov commented on #526
Is there an example for stream with tty? to emulate `kubectl exec -ti`

[2019-02-27 22:15] jfrederickson opened #769 "ValueError on `pip install kubernetes` on Debian 8"
Attempting to install the Kubernetes Python client library on a system running Debian 8; I got this error during the installation:

[code]
Python version: 2.7.9
pip version: 1.5.6

On the same system, with `tags/v8.0.1` checked out, I get this when trying to install locally:
[code]

[2019-02-28 10:29] sanster23 commented on #641
Any update on this as how to make a request by python client to delete the port[0] or any spec in service ?

[2019-02-28 14:25] tomplus commented on #641
You can use _json-patch_ which is supported by k8s and this library:

[code]

More information:
* https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch/
* http://jsonpatch.com/

[2019-02-28 16:08] xvello opened #771 "RFC: Allow modular import of the api and models"
Using `kubernetes==8.0.1` on Linux, importing the Python Kubernetes client imports every model and api, amounting to a 35 to 40 MB RSS overhead. It also brings a significant wall-time penalty (even on repeat runs, to remove the IO time).

![Comparaison graph](https://cl.ly/ebeb6310072f/Image%202019-02-28%20at%204.55.13%20PM.png)

Ideally, one should be able to only import the types they need, as t

[2019-02-28 19:26] micw523 commented on #769
It looks like the websocket-client requirement you have is different from what we have here. I wonder why...

[2019-02-28 19:29] micw523 commented on #769
On the repo, the “>=0.32.0” is shown as the first version requirement. On your system it is shown as the last requirement instead. https://github.com/kubernetes-client/python/blob/release-8.0/requirements.txt

[2019-02-28 20:03] jfrederickson commented on #769
Looks like the version list in requirements.txt in the tarball[0] from PyPI matches what's in the repo. However, the `METADATA` file in the wheel[1] served from PyPI has them in a different order:

[code]

I don't know enough about the Python build tooling or the build process for this package to say why that's the case at this point.

[0] https://files.pythonhosted.org/packages/14/77/9b2cf29fa6ec

[2019-03-01 05:05] sanster23 commented on #641
Hey thanks for the response @tomplus
I also found the RFC for this here [https://tools.ietf.org/html/rfc6902](url)
And through that found a way to delete specs via json-patch.
`       patch = [{'op': 'remove', 'path': '/spec/ports/1'}]
        client.patch_namespaced_service(name=self._component_info.get('name'),
                                                               namespace=self._compon

[2019-03-04 05:54] larryck opened #772 "apiserver http tls handshake error from :eof caused by urllib3"
I used the kubernetes client to interact with my kuberentes cluster (v1.13.1, installed with kubeadm) and got **"MaxRetryError,  HTTPSConnectonPool Max retries exceeded with url, Caused by ProtocoError(Connection aborted, error(0, Error)))"**.  I checked apiserver log and found "http: TLS handshake error from : EOF"

The operating system I use is CentOS Linux release 7.3.1611 (Core), and the kuber

[2019-03-05 03:25] alfredn opened #773 "create_namespaced_pod not using image_pull_secrets passed in pod manifest"
Hey there,

For some reason, when a pod is created using `create_namespaced_pod` (I haven't tested other related methods). Here's my manifest:

[code]

Here is what is returned by `creaate_namespaced_pod`:
[code]

as you can see `image_pull_secrets` is `None` although `regsecret` was passed as an image pull secret name. This is happening consiistently using version `8.0.1`.

[2019-03-05 13:28] splattner commented on #744
I think the PodList in the Response from the API Server does not include the `kind` & apiVersion fields in the items

GET https://kubernetes/api/v1/pods

[code]

and therefore kind & apiVersion are none
So this is not a Problem with the Python Client.

But now the question, why is `kind` and `apiVersion` not included in the Response?

[2019-03-05 17:28] juliantaylor commented on #744
This issue is about the models in the client and may indeed be a bit tricky to fix.
The consequences for api calls is issue https://github.com/kubernetes-client/python/issues/745

[2019-03-07 14:32] juliantaylor commented on #722
The function should also support file handles instead of path strings, so if you pass it a StringIO object, stdin or an already open file with valid yaml it will also work.

something like the suggested `create_from_map` would indeed be very useful. It is currently quite inconvenient if you want to create multiple objects.

[2019-03-07 20:25] 1032231418 commented on #722
I think the Python interface, using JSON is very common, I create applications are the transfer of JSON format data for application creation, easy to use, integration into their own platform is also very convenient.

[2019-03-07 20:32] 1032231418 commented on #772
[root@192 test_script]# pip list  |grep urllib3
urllib3 (1.23)

example：

    configuration = client.Configuration()
    setattr(configuration, 'verify_ssl', False)
    client.Configuration.set_default(configuration)
    configuration.host = ApiHost
    configuration.verify_ssl = False
    configuration.debug = True
    configuration.api_key = {"authorization": "Bearer " + ApiToken}
    client.Con

[2019-03-07 20:58] vsoutherner opened #774 "patch_namespaced_pod not allowing pod label update."
When patching with the kubectl binary the patch is applied using this command;
kubectl patch po -n kube-system kube-keepalived-vip-mn9lp -p '{"metadata":{"labels":{"vip-holder":"true"}}}'

When patching using the python using this command;
client.CoreV1Api().patch_namespaced_pod('kube-keepalived-vip-mn9lp', 'kube-system', {"metadata":{"labels":{"vip-holder":"false"}}}, async_req=False)

I receive

[2019-03-07 22:28] 1032231418 commented on #774
Is the interface not authorized

example:

kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: pods-list
rules:
- apiGroups: [""]
  resources: ["*"]
  verbs: ["*"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: pods-list
subjects:
- kind: ServiceAccount
  name: default
  namespace: default
roleRef:
  kind: ClusterRole
  name: pods-l

[2019-03-07 22:35] 1032231418 commented on #774
You can find the answer from here.         [ https://github.com/kubernetes-client/python/blob/master/examples/in_cluster_config.py](url)

[2019-03-07 22:52] vsoutherner commented on #774
It has permission
- apiGroups:
 - ""
resources:
- pods
verbs:
- get
- list
- patch
- update

[2019-03-08 14:35] kasterma commented on #526
@adubkov Examples are at https://github.com/kubernetes-client/python/blob/master/examples/exec.py where interestingly enough the one that runs interactively works for me, the one that does not hangs for me.

[2019-03-09 03:02] adolli opened #775 "configuration.api_key['Authorization'] = 'xxx' takes no effects."
The configuration for authorization by bearer token is a little bit confused when the key of `configuration.api_key` is not all letter in lower cases.

I've try the following code to access my k8s API outside the cluster, but always got 403 as a system:anonymous user. I am very sure my token have such privileges because I can use it via `curl`.
[code]

After I diving into the code of `class Config

[2019-03-11 05:44] 1032231418 commented on #775
ApiToken = "xxxxx"								#ApiToken
configuration = client.Configuration()
setattr(configuration, 'verify_ssl', False)
client.Configuration.set_default(configuration)
configuration.host = "https://xxxx:6443"			#ApiHost
configuration.verify_ssl = False
configuration.debug = True
configuration.api_key = {"authorization": "Bearer " + ApiToken}
client.Configuration.set_default(configuration)

[2019-03-11 08:53] adolli commented on #775
@1032231418 thank u for your example. I can understand the reason. I just suggest that the key for the `configuration.api_key` should be case insensitive.

[2019-03-11 13:56] Polaris0112 opened #777 "SSL not available"
I want to run a python script to get stream from kubernetes api as below.

[code]
but  it show that
[code]

# python --version
Python 2.7.5

gevent-websocket==0.10.1
kubernetes==7.0.0
websocket-client==0.55.0

I also use these client file to run a python scripts to list all namespaces pod detail, and it work.
So I think it is the websocket problem, do anyone know something about it ? I search many

[2019-03-11 15:55] jsollom opened #778 "swagger codegen error message is not easy to read"
When using the swagger codegen to generate code from an OpenAPI spec, it produces an error message when a regular expression has been used to limit which characters can be used for a value.

The error reads "must be a follow pattern or equal to <insert your regular expression here>".  I am objecting to the wording of 'follow pattern'.  What is a 'follow pattern'?  My guess is that this was suppose

[2019-03-11 16:14] micw523 commented on #778
Ummmm... I think it’s probably better if you open the issue in the swagger-codegen repo?

[2019-03-11 17:31] jsollom commented on #778
Yes, my bad.  I should have filed it under swagger-codegen. Refiled here: https://github.com/swagger-api/swagger-codegen/issues/9256

Closing this issue.

[2019-03-11 17:31] #778 closed

[2019-03-12 03:38] Polaris0112 commented on #777
I search github all issue and change version of websocket-client package to 0.54.0 and it show other error detail

[code]

[2019-03-13 13:21] prashanth-vadde commented on #519
We are trying to deploy Jupyterhub Application on Fabric environment. Fabric is based on the Red Hat OpenShift product.However, Fabric has multiple layers of security features are implemented as per our Client standards. We are also facing the similar problem where the Service account default is not able to launch our Jupyter notebook successfully.

We have understood ClusterRoleBinding and Cluste

[2019-03-13 18:23] slindner05 commented on #325
looking at the latest code, I'm still not seeing a way to pass in custom headers, for example.  Is there something that I'm missing maybe?

[2019-03-14 22:33] #199 closed

[2019-03-15 09:51] wlodekb commented on #466
workaround from https://github.com/kubernetes-client/python/issues/466#issuecomment-379434054 works also with all objects created from python client needed for `create_namespaced_pod_disruption_budget`

[2019-03-16 18:59] chowmean commented on #617
Seems networking problem to me. Please check if your dns is resolved and you are able to reach the machine on specified port.

[2019-03-17 01:30] rSrkn commented on #740
We are exactly having the same issue where we need to"**Apply**" some **CRDs** via Python K8s client. As @govindKAG mentioned, is there any temporary workaround that you could suggest?

[2019-03-18 09:19] govindKAG commented on #740
Even the official API doesn't have a clean way to do the apply action. [This](https://stackoverflow.com/questions/36307950/kubernetes-api-call-equivalent-to-kubectl-apply) stack overflow post might help you understand what the apply action is actually doing. I didn't need to apply anything myself so I ended up going with ruamel.yaml to parse the yaml file and just used the api methods.

[2019-03-18 09:28] dee-me-tree-or-love commented on #722
That would be a very convenient feature, has anyone started working on it?

Also wouldn't it be useful to expand the API with providing custom `resovler`s and `constructor`s for the `yaml` loader? It would be possible then to use the environment variables when loading the file. If there is any better way to do it already, would appreciate a suggestion :)

https://pyyaml.org/wiki/PyYAMLDocumentatio

[2019-03-18 11:18] johscheuer opened #781 "Create from yaml should support overwrite namespaces"
Currently the create from yaml method in https://github.com/kubernetes-client/python/blob/master/kubernetes/utils/create_from_yaml.py only supports to specify the namespaces directly in the yaml files. It would be nice if the method supports it to overwrite the namespace in the yaml file (e.g. when you run e2e tests with the Python client and generate the namespaces dynamically).

[2019-03-18 11:32] oz123 commented on #722
@dee-me-tree-or-love I have a branch where this is already partially implemented. I need to clean it and make a PR. Will do so this week.

[2019-03-18 15:59] dee-me-tree-or-love commented on #722
@oz123 oh, great news then!

[2019-03-18 16:16] amelbakry commented on #670
But this will consume huge time, as you are looping for every node in the cluster and for every node looping for all pods inside it and containers inside pods to get resources and limits
while this is in mili seconds when using kubectl get node

[2019-03-18 17:27] oz123 commented on #722
@dee-me-tree-or-love I pushed my branch. I agree that  custom resovlers and constructor could be useful, but in order to enhance the chance that this PR is accepted I think the scope should be minimum.
A follow up request can enhance this.

[2019-03-18 19:45] roycaihw commented on #670
below is what kubectl does. You could use field selector to filter pods for one node. kubectl is faster in deserializing apiserver responses using protobuf

[code]

[2019-03-18 22:09] davidxia opened #784 "Implement base class for Kubernetes model classes"
This is a feature request. Most of the Kubernetes objects have a set of fields in common:

* kind
* apiVersion
* metadata
* spec

Currently the various model classes all inherit from `object`. Is there a way to implement a base class for all k8s resources and have all the models extend that?

It'd also be nice to have `utils.parse_from_yaml(yaml_file)` that just parses a YAML file into the correct

[2019-03-19 05:33] micw523 commented on #722
@dee-me-tree-or-love I'm not sure if we need a custom class for loading YAML since
1) the whole YAML body should be passed into the function calls for performing an action specified in the YAML file
2) we pretty much know what kind of things we need to extract from the YAML file anyway...?
Let me know if I misunderstood.

[2019-03-19 05:42] micw523 commented on #784
These are two different feature requests.
1) This has to happen via swagger-codegen, although we're switching to another generator right now.
2) I'm not sure why you want a model object from a yaml file... can you potentially list some examples when it could be useful?

[2019-03-19 05:53] micw523 commented on #740
Hi @rSrkn, there are talks of moving ```kubectl apply``` onto the server side so that we won't we supporting it in this client. If you're talking about just creating it is planned...

[2019-03-19 06:05] micw523 commented on #722
/assign
/assign @oz123

[2019-03-19 09:41] sadlar commented on #717
麻烦请教，django如果使用channels怎么实现web terminal呢

[2019-03-19 15:44] davidxia commented on #784
@micw523, yes thanks for clarifying.

A lot of the tools I'm building on top of k8s involves validating and mutating k8s YAML files. Here are some use cases.

validation

* only allow certain k8s kinds. e.g. allow Deployments but not DaemonSets
* check resource has a required annotation or label, e.g. namespace has an annotation indicating the team that owns it
* check ResourceQuota values are val

[2019-03-19 18:23] prafull01 opened #787 "yaml.load warning while running the config.load_kube_config()"
I have been getting following error whenever I am running config.load_kube_config()

`/usr/lib/python3.6/site-packages/kubernetes/config/kube_config.py:480:` YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  config_dict=yaml.load(f),
/usr/lib/python3.6/site-packages/kubernetes/config/k

[2019-03-19 20:22] #671 closed

[2019-03-19 21:21] micw523 commented on #787
I believe that this has been fixed in the current master branch via
#719 and
python-base/#111

[2019-03-19 21:50] ericqt opened #788 "Creating a configmap from read_namespaced_config_map"
Hi folks, I'm having some trouble translating how a certain object would look like from helm to a python-kubernetes object.
I'm trying to create a pod spec:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1PodSpec.md
with a volume:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1Volume.md
with a configmap:
https://github.com/kubernetes-client/pyth

[2019-03-20 16:14] varac commented on #723
As far as I can judge, this feature has just been merged into  kubernetes-client/python-base: https://github.com/kubernetes-client/python-base/pull/94

[2019-03-20 20:48] micw523 commented on #722
Can you reopen this, @oz123? We could still get something done here.

[2019-03-20 20:55] oz123 commented on #722
@micw523  I appreciate you not giving up on this. I will need more guidance as for what can be still added.

[2019-03-20 21:03] micw523 commented on #722
As a start, the e2e_test folder now contains a few extra yaml files that weren’t there before. There are a few files that are List kind or contain multiple resources in them. Those cannot be handled by the ```create_from_yaml_single_item```function, since that function only supports an explicit kind.

What we can do is approximately the same thing you did it before and still change the ```create_f

[2019-03-20 21:06] micw523 commented on #722
Another reason the ```create_from_yaml_single_item``` get segmented out is that if we should have a dynamic client in the future this function will likely become obsolete and be replaced by an implementation based on the dynamic client. Be assured, it’s not rendering anything that you did obsolete.

[2019-03-21 06:59] johscheuer commented on #781
/assign

[2019-03-21 09:18] dockersky opened #790 "container_stream.write_stdin BrokenPipeError: [Errno 32] Broken pipe"
**### **Errors:****
Traceback (most recent call last):
  File "/usr/local/python35/lib/python3.5/threading.py", line 914, in _bootstrap_inner
    self.run()
  File "/usr/local/python35/lib/python3.5/threading.py", line 862, in run
    self._target(*self._args, **self._kwargs)
  File "/root/webssh/django_webssh/tools/k8sclient.py", line 69, in write
    self.container_stream.write_stdin("date\n")

[2019-03-21 09:38] admssa commented on #739
I have found, why it happens. Usually, it happens when pod becomes into the Running state, but no running containers on it (0/1). Instead of errors related to it, I get 500 Internal server error

[2019-03-21 14:12] Sathiyarajan commented on #379
@tomplus if it worked for you I can close it?

[2019-03-21 14:55] micw523 commented on #379
@tomplus
The two people who replied use Anaconda, a common scientific python package.
Given that, I also use Anaconda and have no problem... One thing is that if you’re using an IDE make sure you’re selecting the right interpreter and (potentially) virtual environment.

If it’s working for you @Sathiyarajan then please close it.

[2019-03-21 16:02] marsewe commented on #741
See also https://github.com/kubernetes-sigs/aws-iam-authenticator/issues/63 and https://stackoverflow.com/questions/48151388/kubernetes-python-client-authentication-issue .

[2019-03-21 17:21] tomplus commented on #379
@Sathiyarajan yes, sure, can be closed. Thanks.

[2019-03-24 06:50] 1032231418 opened #792 "Label management"
Label management, entered the correct node name 404

[2019-03-24 06:53] 1032231418 commented on #792
(env36) [root@192 k8s_py_example]# kubectl  get nodes "192.168.1.50"
    NAME           STATUS    ROLES     AGE       VERSION
    192.168.1.50   Ready     <none>    12d       v1.10.1

k8s_api_obj = client.CoreV1Api()
body = {
    "metadata": {
        "labels": {
            "foo": "bar",
            "baz": None}
    }
}

resp = k8s_api_obj.patch_node('192.168.1.50', body)

pprint(resp)

HTTP resp

[2019-03-25 02:58] rSrkn commented on #740
@micw523 Thanks for the info.
We use ISTIO for traffic management and would like to manage/create/edit CRD resources (VirtualService, Gateway ...) from Python client.
create_from_yaml is the only way I can think for creating the CRD resource. (Need to generate the yaml and create)
Although here is not the best place to ask this but still related to this issue; Does anybody know better way or sugge

[2019-03-25 04:33] govindKAG commented on #740
@rSrkn you can write a sort of template yaml and then use the yaml python package (I recommend ruamel.yaml though) to edit the yaml file to tailor it to your specific case and then use the appropriate API method, passing this edited yaml object as the "body" parameter for the method as quick solution.

[2019-03-25 07:12] micw523 commented on #740
Is it possible that you use kubectl to create the yaml file / object?
To create the custom resource definition, you can try the extensions API but there’s a big catch #376. ```create_from_yaml``` should do the job for you but you still need to be aware of the catch...
To create a CRD object, you can try what the author of the PR suggests.

[2019-03-25 10:01] dee-me-tree-or-love commented on #722
hello @oz123  @micw523, sorry I have been not responsive, great to see the progress, thanks!
@micw523 what I meant with the custom resolvers is to provide the functionality to easier support variable substitution.

[code]
and then
[code]

Thought of this from this discussion https://stackoverflow.com/questions/26712003/pyyaml-parsing-of-the-environment-variable-in-the-yaml-configuration-file

Mayb

[2019-03-25 11:37] #787 closed

[2019-03-25 17:13] rocktavious commented on #525
Same on python 3.7.2 + kubernetes 9.0.0

[2019-03-25 17:35] bidyut1990 commented on #545
Is there any update to this? I am also trying to use many watches simultaneously and its hogging a lot of memory. Any advise to make a client(capable of setting up watches and digesting the events) really scalable in the most efficient manner.

[2019-03-25 18:03] juliantaylor commented on #722
@dee-me-tree-or-love adding such functionality to the kubernetes python client is a bad idea, you are mixing features of a specific yaml deserializer implementation with a generic api client and these two things should no connection besides that the output of one (which is an generic python object) can be the input of the other.
Besides that you are mixing two orthogonal APIs what about other seri

[2019-03-25 18:39] dee-me-tree-or-love commented on #722
@juliantaylor thanks a lot for the suggestion, indeed, I definitely didn't take the big picture into the consideration and made quite a mistake in mixing the interfaces up... thanks a lot for pointing out this fact, it is a very good learning!

[2019-03-25 18:49] tomplus commented on #545
@bidyut1990 which version do you use? It should be fixed in v9.0.0.

If you need to handle many watches in your application you may be interested asynchronous fork of this library [kubernetes-asyncio](https://github.com/tomplus/kubernetes_asyncio).

[2019-03-25 20:54] tomplus opened #793 "e2e tests fail with k8s v1.14.0"
As we can found here: https://github.com/kubernetes/minikube/issues/3959 minikube can't start the latest version of k8s v1.14.0. Upgrading minkube to v 1.0 will be necessary when it's been released.

[2019-03-25 23:11] micw523 commented on #793
/assign
Got it. Let me take a look.

[2019-03-26 17:00] njfix6 opened #794 "api.list_namespaced_pod crashes gunicorn worker."
**What happened**:
When I use api.list_namespaced_pod in kubernetes, it crashes my gunicorn worker when I made the request. I'd say about 80% of the time it would crash it and then 20% of the time it would make the request ok.

**What you expected to happen**:
The request should return properly every time. When I use list list_namespaced_pod_with_http_info it work perfect everytime:
[code]

**How

[2019-03-26 18:13] oz123 commented on #722
@micw523 please see my PR #795 . This is my suggestion on how to allow creating of k8s objects
from python dicts, and also allow passing of strings without breaking the existing API.

A later version could deprecate usage of create_from_yaml with a file, and require direct usage
via `create_from_file`. But I leave this now out of the PR.

Also, I still have not exposed `create_from_map` by importi

[2019-03-27 08:12] blazehu commented on #696
when i try using the  `kubernetes.client.CoreV1Api().list_pod_for_all_namespaces(watch=False)` method I get the error too:
[code]
I'm just trying to list all pods

I'm using Python 2.7.5 with Kubernetes 1.13.2-2 and kubernetes-client v9.0.0

[2019-03-27 09:07] maxbischoff opened #798 "Body in delete methods required but marked as optional in documentation"
## What happened

In the [API documentation of the python client for delete_namespaced_pod](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#delete_namespaced_pod) the body parameter is marked as optional. Not setting the body parameter currently results in `TypeError: delete_namespaced_pod() missing 1 required positional argument: 'body'`.

The same behaviour c

[2019-03-27 09:13] tomplus commented on #798
This parameter is optional since Kubernetes v1.13, please upgrade your library to v 9.0.0.

[2019-03-27 10:49] opszhy commented on #620
这个问题请问您解决了吗？

[2019-03-27 17:17] maxbischoff commented on #798
Upgrading fixed my issue, thank you

[2019-03-27 17:17] #798 closed

[2019-03-27 18:13] switchboardOp opened #799 "RbacAuthorizationV1Api.read_namespaced_role should support `export` argument"
The `--export` flag is available in `kubectl` for roles to omit any cluster specific fields.

`export=True` can be passed to many other methods in this client library to do the same.
(e.g. `core_client.read_namespaced_service(name, namespace, export=True)`)

Without this option you can't pass the returned `V1Role` object to a `create` method without removing several metadata fields.

The same is t

[2019-03-27 19:29] switchboardOp commented on #799
This is the workaround I came up with for my use case:
[code]
Any `role`, `clusterrole`, or `rolebinding` to be created needs to be passed through the above function or a 400 or 500 will be returned...
[code]
[code]

[2019-03-27 23:48] bidyut1990 commented on #545
@tomplus - I am using 9.0.0 only but i did not realize it's been fixed. Anyways, i ll also take a look at the async based package.

[2019-03-28 02:23] rSrkn commented on #740
@micw523 Thank you , I will check the PR.
Let me give little info about what we try to achieve. We run a web api (Python/Flask) inside a pod. This api reads/updates ISTIO CRDs on other namespaces (To show list of current domains, changes the domain names/ports ...) We would like to use only python client. Using command line, kubctl directly is not an option.
For example to able to get VirtualServi

[2019-03-28 06:45] micw523 commented on #740
Sorry, I meant the author of the issue sugggests*

[2019-03-28 08:19] adoo123 opened #800 "CoreV1Api patch_namespaced_service couldn't update the port number with the same port name"
According to the example for CoreV1Api create_namespaced_service,I create a service with my nginx pod,yaml looks like this:
[code]
It was created successfully.But when i use CoreV1Api patch_namespaced_service with newly yaml like this:
[code]
It failed to update with:
[code]
It looks like to create a new port with this service, not update the port, and the port's name is the same, when i use "kube

[2019-03-28 13:47] switchboardOp commented on #799
After a closer look I've realized that export isn't supported on roles etc

[2019-03-28 13:47] #799 closed

[2019-03-28 13:48] Ashutosh-Tripathy opened #801 "Kubernetes stream getting stuck/loosing events after some time"
I have written a service to look for pod events. Initially It is working fine and successfully detecting pod disruption and scheduling, but after sometime stream is loosing the pod and getting stuck in case of pod disruption(voluntary or involuntary).

[code]

I just want to discard current watch and create new one after fixed amount of time (even when steam is stuck and not returning any event).

[2019-03-28 18:28] joshbranham commented on #525
Anyone know why no fix for this has been merged?

[2019-03-29 16:08] nabadger commented on #525
@yliaog - would you (or any owner) be able to provide a comment on this? Just wondering what your thoughts are on this issue as it's been around for a while and probably affecting quite a large user base.

[2019-03-29 19:54] akotlar commented on #589
The solution to this. Should I submit a PR?

[code]

[2019-03-29 19:58] akotlar commented on #589
Fix, should I submit a PR?

[code]

[2019-04-01 10:44] amitection opened #802 "List pods for a set of namespaces."
The API doc mentions two methods

[code]
Is there a way to get pods for a set of namespaces?

I am trying to create a `Watch()` for pods in a set of namespaces
[code]

[2019-04-01 15:54] randyesq opened #803 "Watch replays events forever when wrapping the API function pointer in functools.partial"
Client Version: 9.0.0
Kubernetes version: 1.13
Python Version: 3.7.2

I am finding that when I watch a CRD in a `multiprocessing.Process` environment, the watcher will continue to fire the same events that have occurred since the watch began over and over forever. When I use the watcher in the main python process, it fires events when they happen, as expected.

Here is the output that I get when I

[2019-04-01 17:50] yliaog commented on #525
it looks @micw523 is reviewing the fix PR kubernetes-client/python-base#70, @micw523 do you have any further comment on the PR?

[2019-04-01 17:51] yliaog commented on #525
/cc

[2019-04-01 18:18] micw523 commented on #525
Hi @yliaog, kubernetes-client/python#70 seems to have been abandoned and the fork does not exist any more. kubernetes-client/python#79 is active and seems like the author just pushed some new commits.

However, due to the new version of minikube, we need to have #797 merged first to unblock the PRs. We can’t have the CI to pass unless we get that one through.

[2019-04-01 20:06] #793 closed

[2019-04-01 20:46] randyesq commented on #803
I found the issue here and to close the loop for anyone who attempts this, the issue was not multiprocessing, but instead the use of `functools.partial` for the function that is passed to the `stream` function.

The snippet above uses `partial` to make a shortcut to adding all of the CRD parameters to the client functions. I was planning on using multiple watches with this code, so it was cleaner

[2019-04-01 20:49] randyesq commented on #803
I am fine to have this closed since I can work around it. However, if there sufficient reason to make functools.partial functions work with watch, this can serve as a the request for enhancement.

[2019-04-01 23:46] #708 closed

[2019-04-03 22:02] eightlimbed commented on #485
Thanks @illagrenan -- That combo is working for me, too (after trying a bunch of other stuff)

[2019-04-04 09:43] johscheuer opened #806 "Missing delete_collection_service"
Hi,

I just noticed that for nearly all API objects there is a `delete_collection_` method to delete multiple API objects in just one call but `delete_collection_service` is missing. Is this intended or just a mistake in the export scripts? If I find some time I will try to fix this and add correct the export scripts.

I would appreciate it if you have some hints where to look at.

[2019-04-05 19:36] sinistersnare commented on #326
This can be closed now, since that MR is merged?

[2019-04-07 19:48] devopsberlin commented on #715
The issue has been fixed when using `kubernetes==9.0.0`. thanks.

[2019-04-07 19:48] #715 closed

[2019-04-08 09:30] johscheuer commented on #806
I found an according issue: https://github.com/kubernetes/client-go/issues/409

[2019-04-08 09:30] #806 closed

[2019-04-09 03:28] zq-david-wang opened #808 "V1beta1Ingress is missing in 10.0.0a1 and break backward compatibility"
There are now two new kind of ingress object in 10.0.0a1, NetworkingV1beta1Ingress(NetworkingV1beta1Api). ExtensionsV1beta1Ingress(ExtensionsV1beta1Api, which is deprecated).

but V1beta1Ingress does not exist.

[2019-04-09 15:56] adityabyreddy74 commented on #501
Any update on this?

[2019-04-09 16:08] adityabyreddy74 opened #810 "How to create docker-registry type secret using python client"
The example at https://github.com/kubernetes-client/python/blob/master/examples/notebooks/create_secret.ipynb shows how to create generic secrets...

How to create a docker-registry type secret?

[2019-04-10 06:33] jessiezhou0424 commented on #161
you can use  patch_node with param:
client.patch_node(node_name, {"spec":{"taints":[{"effect":"NoSchedule","key":"tainttest","value":"1"}]}})
to update taints

[2019-04-10 10:23] urandom opened #811 "read_namespaced_pod_log reformats the output"
With 8.0.1 (and tested with 9.0.0) read_namespaced_pod_log reformats the log so that each double quite is changed to a single quote, so that the following:
[code]
changes to:
[code]
which is a real problem when trying to parse that output as json.

For reference, `kubectl logs` returns the correct string without any reformatting.

Just in case, the k8s version is:
[code]

[2019-04-11 06:51] #326 closed

[2019-04-11 10:31] oz123 opened #812 "How do you get exit code connect_get_namespaced_pod_exec ?"
Currently I have to simply do this:

[code]

However, I can't get the error code, or the stderror.
Looking at the source code I don't see an easy way.

[2019-04-11 12:33] Dorsivan commented on #485
Works great, thank you very much

[2019-04-12 06:27] johscheuer commented on #802
Probably the easiest way is to use a `field-selector`, e.g.: `kubectl get pods --all-namespaces --field-selector=metadata.namespace==kube-system` the same parameter is available in the Python client: https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#list_namespaced_pod to use multiple `field-selector` just concat them with a `,`.

[2019-04-12 07:39] zq-david-wang commented on #553
I have the same issue, and sometimes "list_namespaced_horizontal_pod_autoscaler" would raise ValueError("Invalid value for `conditions`, must not be `None`") when the hpa has not condition set yet.

And I am using 9.0.0

For create_namespaced_horizontal_pod_autoscaler, add '_preload_content=False' can help

[2019-04-13 00:48] tomplus commented on #810
This type of secret is a secret with one field named `.dockerconfigjson` and value `{"auths":{"yourprivateregistry.com":{"username": "janedoe","password": "xxxxxxxxxxx","email":  "jdoe@example.com","auth": "c3R...zE2"}}}`. `auth` is base64 encoded and the whole value is encoded too.
More information: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/#inspecting-t

[2019-04-13 18:43] Skazzino opened #813 "create_namespaced_pod doesn't create a Pod with annotations."
Hi, I'm trying to create a simple pod with some annotations for it (I'm using library's latest version pulled with pip).
The code I'm using is this one:
[code]

However, when the pod is Running, I cannot see any of the annotations that I've put in the pod definition as you can see here:
![immagine](https://user-images.githubusercontent.com/10586339/56083981-9dc4c080-5e2c-11e9-991a-757a46576265.png

[2019-04-15 07:09] adityabyreddy74 commented on #810
@tomplus Thanks. That works :)

I was wondering if there is any straight way to create docker-registry type secret through python client.

[2019-04-15 18:34] switchboardOp commented on #525
https://github.com/kubernetes-client/python/pull/797 has merged and it looks like kubernetes-client/python-base#79 passed CI...

[2019-04-17 07:08] tomplus commented on #813
`"annotations:"` < your key ends with the colon and it's silently ignored by the api-server...

[2019-04-17 08:54] Skazzino commented on #813
Oh my God, didn't notice that typo for a week... Thanks a lot @tomplus. Now everything works!

[2019-04-17 08:54] #813 closed

[2019-04-18 19:00] mugdha-adhav commented on #309
warnings.simplefilter("ignore", ResourceWarning)

[2019-04-19 06:40] #659 closed

[2019-04-19 18:17] gvalentinivmw commented on #717
I ran into the same issue for the port-forward api. The proposed fix worked for me. Any chance to get it merged?

Giorgio

[2019-04-19 18:20] aaronjwood commented on #717
The above patch also worked on my end with Python 3.7

[2019-04-22 07:22] #258 closed

[2019-04-22 08:52] #316 closed

[2019-04-22 11:16] mouradmourafiq commented on #373
I guess we can close this one, already fixed in following versions.

[2019-04-22 11:16] #373 closed

[2019-04-23 15:07] luisdavim opened #817 "custom resource example is outdated"
the examples/create_thirdparty_resource.md example is outdated.

[2019-04-23 15:42] ryan-a-baker commented on #689
I know this is pretty late, but I found this issue via googling for the same issue so I wanted to make sure anyone who stumbled across this had solution.

I was able to get this working by doing the following:

[code]

[2019-04-23 23:09] #534 closed

[2019-04-24 00:35] xuande commented on #455
sorry, forget to close

[2019-04-24 00:35] #455 closed

[2019-04-24 08:01] #810 closed

[2019-04-24 11:26] luisdavim opened #818 "list_namespaced_custom_object reruns builtin_function_or_method' object is not iterable"
this is the code I'm using:

[code]
the `log.debug(jobs)` doesn't output anything. Am I doing anything wrong?

and I do have objects of that type in the namespace that I'm using and even if I didn't it should return an empty iterable object right?

[2019-04-24 14:36] #544 closed

[2019-04-24 21:52] mitar commented on #323
/remove-lifecycle stale

[2019-04-24 21:52] tomplus commented on #323
/remove-lifecycle stale

[2019-04-25 18:45] nolar opened #819 "Old events from the past yielded due to remembered `resource_version`"
# Current behaviour

The `list...()` operation (actually, the Kubernetes API) returns the resources in random arbitrary order. It can happen so that the very old resources (e.g. custom resources 1-month old) go last in the list.

In current implementation, the watcher-streamer remembers the resource_version of the last seen resource — in that case, the old resource versions (1-month old) will be r

[2019-04-26 01:46] #171 closed

[2019-04-26 01:46] TracyBin commented on #171
/close

[2019-04-26 14:51] BobbieSueDevRecruiter commented on #629
Unsubscribe immediately

Sent from iPhone

[2019-04-26 17:49] jobevers commented on #448
I've migrated to using `subprocess.run(['kubectl', ...])`, so I'll just let this stay stale.

[2019-04-27 13:56] oldani opened #821 "V1PodSpec have to pass containers in init"
When initalizing `client.V1PodSpec()` containers must be passed if not it raises:

`ValueError("Invalid value for containers, must not be None")`

This happends de to [this](https://github.com/kubernetes-client/python/blob/master/kubernetes/client/models/v1_pod_spec.py#L142)

One should be able to to initialize the pod spec and add containers later

[2019-04-27 19:52] tomplus commented on #821
Yes, swagger is very strict and doesn't allow to create object without mandatory fields.

[2019-04-29 08:13] max-rocket-internet commented on #693
This is resolved in latest releases for me. Thanks for the support!

[2019-04-29 08:13] #693 closed

[2019-04-30 00:44] PaulFurtado commented on #602
/remove-lifecycle stale

[2019-04-30 05:20] wing328 commented on #768
@lalo May I know if you've time to submit a PR for OpenAPI Generator to enable keep-alive in the Python client?

[2019-04-30 07:03] torgeirl commented on #547
/remove-lifecycle stale

[2019-04-30 12:18] polanjir opened #822 "connect_get_namespaced_pod_exec does not open interactive shell on pod"
Hi, I'm trying to open interactive shell to kubernetes pod in python code. Something like this in shell `kubectl exec -ti some-pod-name /bin/bash`. But it finish immediately and I dont know what is wrong.
[code]

[2019-04-30 12:53] 007 commented on #411
/remove-lifecycle stale

[2019-04-30 17:06] lalo commented on #768
If it's urgent you should go ahead and implement it, if not I have some personal time constraints and can't prioritize this high enough (maybe in a week or 2).

[2019-04-30 17:38] wing328 commented on #768
Please take your time and let us know if you need help with the PR. Thanks for your contribution in advance.

[2019-05-02 08:31] IamRajatBadjatya opened #823 "Unable to connect to K8s cluster with token"
![BookFlight (5)](https://user-images.githubusercontent.com/31719594/57064009-67f55800-6cc5-11e9-8beb-59da3363b468.png)

Please refer to the above image, I am trying to access Kubernetes Clusters Using the Kubernetes API and for that purpose as mentioned in [documents](https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/) I am using Python Kuberentes Client, that needs a tok

[2019-05-02 08:41] hapstony commented on #823
Yes ! we have this issue. looking forward for a solution for this ...

[2019-05-02 13:49] frederik-b commented on #811
I got a related problem with
[code]
returning false json with wrong quotes
while the content of myvar equals {"foo":"bar"}
it returns {'foo':'bar'}

it does behave differenlty if the json contains quotes inside string values however

[2019-05-03 18:17] greg9702 opened #825 "v1binding() set value for target as `None`"
Got stuck in:
File "/usr/lib/python3.7/site-packages/kubernetes/client/models/v1_binding.py", line 64, in __init__
    self.target = target
  File "/usr/lib/python3.7/site-packages/kubernetes/client/models/v1_binding.py", line 156, in target
    raise ValueError("Invalid value for `target`, must not be `None`")
ValueError: Invalid value for `target`, must not be `None`

[2019-05-06 15:54] eddieparker commented on #652
/remove-lifecycle stale

This would be a nice feature to have - having a higher retry value in certain critical situations would be nice.

[2019-05-06 16:28] jorgesece commented on #777
Hi @Polaris0112 did you solved it? I having the same issue and it would help me.

[2019-05-06 19:48] jbresciani commented on #448
I'm seeing the same issue, I'd rather not hack it with a kubectl subprocess but I will if that's the official solution

[2019-05-07 15:02] VF-mbrauer opened #826 "Get current usage of PODs inside a particular namespace"
How can the current usage be printed with the Kubernetes Python client.
The command in parallel for the kubectl would be `kubectl top pods -n <namespace>`
or `kubectl top node -n <namespace>`

Thanks!

[2019-05-07 15:12] flyte opened #827 "Getting Started section causes traceback when setting API key"
The 'Getting Started' example from https://github.com/kubernetes-client/python/blob/master/kubernetes/README.md seems to be incorrect, as per the following traceback:

[code]

I'm using `kubernetes==9.0.0`, but I've tried the example from the 9.0 release branch too, which is the same.

[2019-05-07 16:35] jbresciani commented on #448
I should have tried this first, but I fixed my issue by setting the env var GOOGLE_APPLICATION_CREDENTIALS with the file path of the JSON file that contains your service account key. Now it works as expected.

[2019-05-07 18:19] PaulFurtado commented on #747
/remove-lifecycle stale

[2019-05-08 01:37] fsadykov opened #828 "Cannot create ingresses.extensions"
Hello,

I am trying to use **create_namespaced_ingress** for some reason I am getting below error.

YAML
[code]
Method
[code]

Error
[code]

[2019-05-09 18:13] micw523 commented on #524
/remove-lifecycle stale

[2019-05-10 09:45] aogier opened #829 "9.0.0 install package versions conflict"
Hello, I cannot install client because version clashes.

Long story short: choosen urllib3 is too new for requests package.

Full log:

[code]

Thank you, regards

[2019-05-12 19:16] mitar commented on #819
Do you have any link to confirm that this is really designed behavior?

[2019-05-12 21:17] nolar commented on #819
@mitar I couldn't find anything on this topic (but I didn't do a deep research). But this is the observed behaviour on the real cluster.

----

The only official description is here: https://kubernetes.io/docs/reference/using-api/api-concepts/#efficient-detection-of-changes

The phrasing is made so that it does not specify how the initial list must be fetched, and what is the sort order. It only s

[2019-05-12 21:32] mitar commented on #819
I suggest you look up the `go` implementation and how they do it. I think there is a list+watch operation there available in one utility function. Python does not have such utility function so I think that current watch implementation in Python is then correct to only operate on values from watch itself.

[2019-05-13 11:30] confiq commented on #387
Hi,
This issue got stale, unfortunately, this client does not support standard `kubectl apply/replace -f -`.
I only assume it does not have it because it will bring more bugs than ever and it will be really hard to debug...

[2019-05-13 18:34] micw523 commented on #829
I think this is only a temporary issue since the error results from the package 'requests'. As long as they sort it out we would be fine.
Try
[code]

[2019-05-13 18:44] aogier commented on #829
IMHO a dependency "less than" is more significant than a "at least", so I think k8s client should change ATM, as requests "less than" requirement is here to stay as long as they don't evolve codebase in order to support newer stuff, while k8s client already has a version window in which it does work for sure.

[2019-05-13 23:43] micw523 commented on #616
/remove-lifecycle stale

[2019-05-14 10:47] futianshi1314 commented on #822
if tty=True, resp is a websocket,you can see the code of kubernetes/stream/ws_client.py

[2019-05-14 18:22] pgressa commented on #524
+1 definitely this is something that would be very useful for development. Especially the push for such mock server will raise with wider adoption of CRD and their respective processors that will be using this library.

[2019-05-15 14:19] Lawouach commented on #491
Hello,

I'm running into this issue as well with:

Python kubernetes==9.0.0
[code]

Was there a fix for this one?

Cheers,

[2019-05-15 14:27] Lawouach commented on #491
Oh, that was my bad. I was misusing the API! :(

[2019-05-16 01:24] cicdw commented on #501
Hi @adityabyreddy74 and @marcellodesales, I recently ran into this problem and the following works for me (replacing all relevant capitalized fields):
[code]

[2019-05-16 07:43] adityabyreddy commented on #501
@cicdw Yup. We followed the same solution :). Thanks.

[2019-05-16 07:46] adityabyreddy74 commented on #501
@cicdw Yup. We followed the same solution :). Thanks.

[2019-05-16 09:20] mcepl commented on #749
/remove-lifecycle stale

[2019-05-16 10:20] kevensen opened #832 "field_selector - Syntax for multiple fields"
I am attempting to list configmaps and have a question on how to specify multiple labels for the label_selector.

[code]
Using one label at a time works just fine.  However, when specifying two at a time doesn't list any results.  Any insight is appreciated.

[2019-05-16 11:01] TechnoTaff commented on #525
Can I bump this? My existing code is Python 3.6 and I can't port it back to 2.x due to other libraries. The PR works for me, can we get it pushed into PyPi plz? Thank you.

[2019-05-16 13:07] kevensen commented on #832
D'oh.  Of course it didn't work.  My label_selector key's and values didn't match the labels in the configmap.

[2019-05-16 13:07] #832 closed

[2019-05-18 20:19] james-knott commented on #822
I could do this in bash but I would like to stick to python. Any idea how to keep the tty connection open? Having same problems as OP

[2019-05-19 02:22] juliohm1978 opened #834 "StorageClass objects returned by StorageV1Api.list_storage_class() ignore reclaimPolicy from API response"
Using kubernetes python client v9.0.0 to list storage classes in the cluster.

The following is a quick test case:

[code]

With logging DEBUG enabled, the output is as follows:

[code]

While iterating through the list of storage classes, the field `reclaimPolicy` is not available in the object returned by the python library. The same field is present in the api response. It can be seen in the DE

[2019-05-20 10:07] neliel123 opened #835 "Invalid value for `items` - v1.list_namespaced_config_map"
I am using the following tools:
Python-Client : 8.0
Kubernetes Server: 1.10

[code]

I don't know why it is not returning any changes in my config map on my namespace.
So I added a timeout_seconds=10 and I see that an error is being raised when timeout is exceeded.

Is this a known problem?

[2019-05-20 10:22] spurti-chopra commented on #547
Any update on this ? I am still facing this issue with Version: 9.0.0 of the client

[2019-05-20 11:08] torgeirl commented on #547
I too get an error thrown using 8.0.x, but my pods still get scheduled. I use something similar to what @abushoeb suggested:

[code]

[2019-05-20 13:44] #835 closed

[2019-05-20 13:45] neliel123 commented on #835
Sorry made a mistake in my code. Please close as needed

[2019-05-20 15:47] spurti-chopra commented on #547
@torgeirl , thanks for confirming that issue is still observed. Above looked a bit hackish and hence wanted to be sure that there is no better alternative before moving ahead with what is being suggested.

[2019-05-20 19:29] karthi81 commented on #620
I'm also getting the same Error.

Python 3.6.7
requests 2.20.1

[2019-05-21 01:49] GeekSRE commented on #620
`# -*- coding: utf-8 -*-
from django.db import models
from kubernetes import client, config
import urllib3

urllib3.disable_warnings()

# Configs can be set in Configuration class directly or using helper utility
config.load_kube_config()

# Create a configuration object
aConfiguration = client.Configuration()
aConfiguration.verify_ssl = False     #关键点

api_client = client.ApiClient(aConfiguration

[2019-05-21 13:24] AlexShemeshWix commented on #525
Any updates?

[2019-05-22 05:59] tusharsappal opened #836 "High Memory usage in Library when used inside a Pod"
I have incorporated the k8s python client library in a monitoring application , which checks for connections between the other pods of same app and exposes the metrics out to Prometheus Server to scrape .

Following is the function that does this
[code]
resources:
  limits:
    memory: 128Mi
  requests:
    memory: 128Mi

[code]

After using the Python Client the memory usage pattern is
[code]

Pl