[2021-08-06 00:50] #1502 closed

[2021-08-06 01:57] JasinlikeEatingOrange commented on #1517
527            :param str dry_run: When present, indicates that modifications should not be persisted. An invalid or unrecognized dryRun directive will result in an error response and no further processing of the request. Valid values are: - All: all dry run stages will be processed
4528            :param str field_manager: fieldManager is a name associated with the actor or entity that is making

[2021-08-08 22:57] mindw commented on #325
/remove-lifecycle stale

[2021-08-09 12:35] mofanke opened #1522 "AttributeError: module 'kubernetes.client.models.v1_scale' has no attribute 'openapi_types'"
**What happened (please include outputs or screenshots)**:
[code]

**What you expected to happen**:
exec ok
**How to reproduce it (as minimally and precisely as possible)**:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/AppsV1Api.md#patch_namespaced_deployment_scale

just as the example says

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (`kub

[2021-08-09 13:53] torgeirl commented on #547
/remove-lifecycle stale

[2021-08-10 02:41] mofanke commented on #1522
sorry my code has error

[2021-08-10 02:41] #1522 closed

[2021-08-10 20:15] nemacysts opened #1523 "V1Status returned by delete_namespaced_pod has incorrect `status` attribute"
**What happened (please include outputs or screenshots)**:
When calling `delete_namespaced_pod` and inspecting the returned `V1Status`, I see that `status` is a string containing a dictionary of the form:
[code]

**What you expected to happen**:
I expected `status` to be one of `"Success"` or `"Failure"`, as documented in https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1St

[2021-08-10 20:15] nemacysts commented on #1523
This seems somewhat related to https://github.com/kubernetes-client/python/issues/944

[2021-08-11 13:47] hatharom commented on #1471
+1 for the issue
Without this copying is totally useless.

[2021-08-11 14:55] MoShitrit commented on #1410
/close

[2021-08-11 14:55] #1410 closed

[2021-08-11 20:56] yliaog commented on #1509
it is due to lack of contributors, help is welcome!

[2021-08-12 02:51] stark-ydq opened #1524 "cli.list_namespaced_pod(namespace) got wrong pod"
**What happened (please include outputs or screenshots)**:
when I use  patch_one_workload_by_type(cls_id, kind, namespaces, workload_id, body) to update image version of my pod ,
and then use cli.list_namespaced_pod(namespace)  to checkout pod ,I find that I usually got wrong version of my pod's container image unless I fresh the kubectl on terminal use "kubectl get pod -n xxxxxx"
**What you expec

[2021-08-12 12:00] sreber84 commented on #1430
Now that kubernetes 1.22 is GA with https://kubernetes.io/blog/2021/08/04/kubernetes-1-22-release-announcement/#server-side-apply-graduates-to-ga are we comfortable making this happen?

[2021-08-13 03:08] #1389 closed

[2021-08-14 13:16] rjk2147 opened #1525 "404 Error For CertificatesV1beta1Api"
**What happened (please include outputs or screenshots)**:
When running any API call to /apis/certificates.k8s.io/v1beta1/certificatesigningrequests a 404 error is returned. This does not happen for other API clients such as CoreV1API.
[code]
**What you expected to happen**:
A return that would run without exception and be able to print the api definition of /apis/certificates.k8s.io/v1beta1/certi

[2021-08-14 18:00] adamxy commented on #1139
V1Deployment api Secret is not able to fetched using image_pull_secrets

[2021-08-15 23:25] #1391 closed

[2021-08-16 00:26] #1387 closed

[2021-08-16 01:27] #1394 closed

[2021-08-16 03:29] #1365 closed

[2021-08-16 14:01] FabianNiehaus commented on #1471
Alright, I finally got around to working on this again.

As stated before, the use of StringIO in the client bars me from storing the raw bytes.

There were two issues to solve: Which data type to use for conversion and under which conditions to convert.

**Data type selection:**
- _Converting bytes to string and reversing_: Python lets me convert raw bytes to a string, keeping the bytecodes (i.e.

[2021-08-16 14:42] FabianNiehaus commented on #1471
I adjusted my code for copying to be more generalistic. However, I don't quite know where to add it to the project. `CoreV1Api` seems to be auto-generated, so this handwritten code should probably be added somewhere else.

<details>
<summary>Click to view code</summary>

[code]

</details>

@roycaihw Do you have a suggestion?

Also, am I correct that this code would need to be made compatible with

[2021-08-16 16:07] palnabarun commented on #1525
The `certificates.k8s.io/v1beta1` group version has been deprecated as of Kubernetes 1.22. Ref: https://kubernetes.io/docs/reference/using-api/deprecation-guide/

Hence, you wouldn't be able to access that resource. It's best to use the `certificates.k8s.io/v1` group version for CertificateSigningRequest.

/assign

[2021-08-16 16:08] palnabarun commented on #1524
@stark-ydq -- can you please mention how we can reproduce the issue that you are facing?

[2021-08-16 16:37] roycaihw commented on #1512
/assign

[2021-08-16 16:39] roycaihw commented on #1515
/assign

[2021-08-16 16:42] roycaihw commented on #1516
/assign @palnabarun

[2021-08-16 16:43] roycaihw commented on #1517
/assign @yliaog

[2021-08-16 16:46] roycaihw commented on #1523
/assign

[2021-08-16 17:04] yliaog commented on #1517
please try with kubectl (https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/) to see if it works for your case.

[2021-08-18 01:21] emiletab commented on #1232
@AlexIoannides I would recommend casting the metadata.annotations['deployment.kubernetes.io/revision'] to integer, because as soon as you have more than 9 replicasets you will get an inaccurate results because you will be comparing string '10' vs '7'

[2021-08-18 08:06] palnabarun commented on #1257
Some updates here: We have moved the e2e tests from Travis CI to GitHub Actions as a stop-gap measure. We will continue moving pipelines to GH Actions and deprecate the use of Travis CI. The final goal still is to move everything to Prow.

[2021-08-18 08:10] palnabarun commented on #1304
@ashb -- please give the bot some slack. :) It is trying to help to clear out inactive issues.

/lifecycle frozen

[2021-08-18 08:11] palnabarun commented on #1304
/unassign

(since I'm not working on this and @ashb mentioned that they will be looking at a patch)

[2021-08-18 08:44] palnabarun commented on #1242
Updates on this effort: Due to limited bandwidth and technical constraints, we have scrapped the plan to parallelly snapshot different releases.

What we are going to do now is:
[code]

The reason that we are spacing Stable and snapshots 2 weeks and the other cuts 1 week is because most people don't try out the alpha or beta versions and encounter bugs directly with the stable version. So, we are

[2021-08-18 09:17] palnabarun commented on #1516
@kemega -- The Kubernetes Client doesn't depend on AWS CLI, however, in order to speak to EKS clusters you would need the AWS CLI. There can be two solutions here:
1. Install AWS CLI in the container since you are using your local kube config.
2. Create a service account for the workload and mount that to the pod that you are creating.

Method 2 is the community suggested one as you would have gra

[2021-08-18 09:17] palnabarun commented on #1516
/kind support

[2021-08-18 09:17] palnabarun commented on #1516
/remove-kind bug

[2021-08-18 10:20] kemega commented on #1516
@palnabarun Thanks for the explanation.

[2021-08-18 10:37] palnabarun commented on #1516
Closing the issue for now. Please feel free to reopen in case you have any further doubts. :)

/close

[2021-08-18 10:37] #1516 closed

[2021-08-19 02:22] rittneje opened #1530 "creating Configuration disables all HTTP debug logging"
Debug mode is disabled automatically in the constructor.
https://github.com/kubernetes-client/python/blob/6b01c95e1673c0787d3d688b361bfd995d62dd98/kubernetes/client/configuration.py#L126

Doing so disables HTTP debug logging for the whole application.
https://github.com/kubernetes-client/python/blob/6b01c95e1673c0787d3d688b361bfd995d62dd98/kubernetes/client/configuration.py#L265-L270

This means t

[2021-08-19 12:08] rittneje commented on #1530
It seems the issues run even deeper. It uses two loggers: "client" and "urllib3". The first is way too generic and could easily conflict with some other package. It should instead be "kubernetes" or similar. The latter should not be touched at all, because this package may not be the only thing using urllib3.

[2021-08-19 13:56] AWSmith0216 opened #1531 "kube_config.py leaking file descriptors when running load_kube_config"
**What happened (please include outputs or screenshots)**:
I work in an environment where we have several hundred Kubernetes clusters. One process we use connects to each cluster to retrieve some metadata. After connecting to 200 or so, I started hitting the OS open files limit. Using psutil I could see that there were several files under /tmp that were being left open after every invocation of 'l

[2021-08-21 04:02] dmitrytokarev opened #1532 "Codecov badge shows 0% coverage"
**Link to the issue (please include a link to the specific documentation or example)**:
https://github.com/kubernetes-client/python#readme

**Description of the issue (please include outputs or screenshots if possible)**:
codecov badge shows 0% code coverage.
To fix navigate to https://app.codecov.io/gh/kubernetes-client/python/settings
copy markdown example and paste it to the README.md
official

[2021-08-21 04:03] dmitrytokarev commented on #1532
I would fix myself, but don't have access to see that codecov settings page.

[2021-08-22 01:35] drodriguezIE opened #1533 "The NetworkingV1beta1IngressSpec tls attribute says it takes a list of NetworkingV1beta1IngressTLS but that class doesn't exist"
**Link to the issue (please include a link to the specific documentation or example)**:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/NetworkingV1beta1IngressSpec.md
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/NetworkingV1beta1IngressTLS.md

**Description of the issue (please include outputs or screenshots if possible)**:
I'm trying to implemen

[2021-08-22 02:39] drodriguezIE commented on #1533
![image](https://user-images.githubusercontent.com/54848250/130340109-c3bbfbb9-e682-443f-96df-35ce803d74a6.png)

[2021-08-23 18:47] PetruGarstea opened #1534 "understanding port forward implementation"
Hi,

Giving the port forward object

[code]

```pf``` is a socket object from ```AF_UNIX``` family.

I need a better understating whether another ```AF_INET``` family socket has to be instantiated in oder to achieve the same functionality as ```kubectl``` client has, ex: ```kubectl port-forward $pod_name $port```

I appreciate in advance if someone could share any snippets of this type of implemen

[2021-08-24 07:19] arthemis911222 opened #1535 "Max retries exceeded. Failed to establish a new connection: [Errno -2] Name or service not known"
**What happened (please include outputs or screenshots)**:

[code]

**What you expected to happen**:
execute success

**How to reproduce it (as minimally and precisely as possible)**:
1. load config file
2. get pod list from statesfulset by matchLables
3. exec prometheus hot reload on pod list

[code]

**Anything else we need to know?**:
1. When I exec my script on k8s cluster, sometimes it succes

[2021-08-24 12:31] schneesu opened #1536 "Unsuitable ResourceNotFoundError raised in LazyDiscoverer.__search, caused by cache expiration"
**What happened (please include outputs or screenshots)**:

1.  logic at [discovery.py#L261](https://github.com/kubernetes-client/python-base/blob/master/dynamic/discovery.py#L261), `self.get_resources_for_api_version()` called for fetch group's resource. However, the group name (samplecontroller.k8s.io) not exists in cluster but in cache. So this func will raise `NotFoundError`, caught by `__sear

[2021-08-24 17:24] rittneje commented on #1530
I'm not sure how amenable this library is to breaking changes, but I request that the `debug` property be entirely removed `Configuration` entirely. Instead, clients should do `logging.getLogger('kubernetes').setLevel(logging.DEBUG)`. This library should also be fixed to use `logging.getLogger(__name__)`, as is standard practice.

[2021-08-24 23:16] roycaihw commented on #1512
When calling `load_kube_config` with `client_configuration`, the method sets the provided `client_configuration` without setting the [global default](https://github.com/kubernetes-client/python-base/blob/dd15ac62636c9ccf1493a02a0bdd5e3a8678c413/config/kube_config.py#L817-L822). On the other hand, the API client [uses the global default](https://github.com/kubernetes-client/python/blob/6b01c95e1673

[2021-08-25 06:01] #1284 closed

[2021-08-26 06:33] ghost opened #1537 "python create_namespaced_ingress Not supported？"
- version: v1.21.2
- python: 3.6.10
- kubernetes: 18.20.0

dep = '''{
  'apiVersion': 'networking.k8s.io/v1',
  'kind': 'Ingress',
  'metadata': {
    'name': 'nginx-https',
    'namespace': 'default'
  },
  'spec': {
    'rules': [
      {
        'host': 'test.domain.com',
        'http': {
          'paths': [
            {
              'backend': {
                'service': {

[2021-08-26 07:03] #1537 closed, assigned to nobody

[2021-08-27 07:39] duncan485 opened #1538 "ConnectionResetError(104, 'Connection reset by peer') while using watch.stream() on AKS"
The Watch.stream() function from the python SDK on AKS clusters in Azure, breaks after some time with **ConnectionResetError(104, 'Connection reset by peer')**:

I've tested the same on a local K3D cluster, without any issues.

[code]

[code]

[2021-08-27 07:43] #1538 closed, assigned to nobody

[2021-08-27 07:46] duncan485 opened #1539 "Watch.Stream() causes ConnectionResetError(104, 'Connection reset by peer') on Azure AKS"
**What happened (please include outputs or screenshots)**:
[code]

**What you expected to happen**:
I don't expect the watch.stream() to fail.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
The Watch.stream() function from the python SDK on AKS clusters in Azure, breaks after some time with **ConnectionResetError(104, 'Connection rese

[2021-08-27 10:30] JuHyung-Son opened #1540 "watch.stream() find pod deleted event but not container occationally."
**What happened (please include outputs or screenshots)**:

k8s watch sometimes behave unexpectedly.

I deleted a pod and below is watch response. `event['type']` and `event['object'].status.container_statuses`.
I expect there should be state: {'terminated': {finished_at: something}} , but watch could not catch it and sometimes catch it.
I think it didn't catch something between event type `MODIFI

[2021-08-30 09:59] PrajwalShenoy commented on #571
You can find more docs [here](https://github.com/kubernetes-client/python/blob/b313b5e74f7cf222ccc39d8c5bf8a07502bd6db3/kubernetes/docs/AppsV1Api.md)
This is my implementation
[code]

[2021-08-31 08:45] Guanyan1996 commented on #972
This issue is still present

[2021-08-31 13:12] cradules opened #1541 "create_namespaced_ingress() missing 1 required positional argument: 'self'"
**What happened (please include outputs or screenshots)**:
![image](https://user-images.githubusercontent.com/16295765/131507072-fa48cf07-232e-4a96-8268-6f29e82c84bd.png)

**What you expected to happen**:
The function should work with namespace and body parameters only
**How to reproduce it (as minimally and precisely as possible)**:
[code]

Return error:
``` create_namespaced_ingress() missing 1

[2021-08-31 13:59] cradules commented on #1541
Fixed:

[code]

[2021-08-31 13:59] #1541 closed

[2021-09-01 15:41] cradules opened #1543 "[V1HorizontalPodAutoscaler] - 'Invalid value for `conditions`, must not be `None`'"
**What happened (please include outputs or screenshots)**:
create_namespaced_horizontal_pod_autoscaler create exception ``` 'Invalid value for `conditions`, must not be `None`' ```
**What you expected to happen**:
No exceptions.
**How to reproduce it (as minimally and precisely as possible)**:
[code]
[code]
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (v1.20.10):
- OS

[2021-09-03 14:59] everping opened #1545 "NetworkingV1Api object has no attribute create_ingress"
Hi,

I used `utils.create_from_yaml` to create a deployment and got the error `AttributeError: 'NetworkingV1Api' object has no attribute 'create_ingress'`

I attached my code and deployment.yml as below. Please help me to resolve it

[code]

[code]

[2021-09-05 18:58] gordonbondon commented on #225
For those who want to typecheck existing custom resources without generating additional code - I've created `mypy` plugin that can do this based on openapi spec from CRD yamls https://pypi.org/project/kubernetes-typed/.

[2021-09-07 09:04] bateau84 commented on #1509
Any progress on this yet?

[2021-09-07 19:34] 0xf10413 commented on #859
Hi, we just hit this issue today and i was very surprised when i read the code.
Basically, if the CA isn't explicitly set in kubeconfig, it will use an internal bundle of certificates.

That's a very surprising behaviour to me, and it seems contrary to what the openshift `oc` client is doing.
Would it be possible to at least introduce an environment variable to override this feature and default on

[2021-09-08 08:12] tpalashki commented on #1545
I am facing the same problem.

I am also trying to create the ingress by using the create_namespaced_ingress method, but then I get the following 404 (Not Found) error:
[code]

My code is similar to:
[code]

I tried with an actual (non-empty) body, but get the same error.

[2021-09-08 22:20] HighWatersDev commented on #1545
Same issue here. It doesn't seem that the library supports NetworkingV1Api for Ingress. I only see support for network_policy. The latest I see for Ingress is NetworkingV1beta1Api but that doesn't work with latest API version.

[2021-09-09 04:05] everping commented on #1545
My workaround is using `os.system("kubectl ...")` instead of using that SDK

[2021-09-09 21:22] 0xf10413 commented on #859
Hi again, after digging a bit more, it looks like the project you use for generating your files has actually fixed this issue:
OpenAPITools/openapi-generator#8108

According to the sidebar, it is part of version 5.0.0.
It seems that you are on [version 4.3.0](https://github.com/kubernetes-client/python/blob/468115e63f0b4b4dc21d58522ee77ba2a7ccdb9e/scripts/update-client.sh#L25).

Is there any plan

[2021-09-09 21:52] #1414 closed

[2021-09-10 01:20] EvgeniiTitov opened #1546 "read_namespaced_pod_log() gets stuck after some time"
Hi!

I have an Azure k8s cluster where I run workflows with Kubeflow. One of the steps in my pipeline manually creates a pod (kubectl apply ...) and then starts reading logs generated by the container running in the created pod and printing them to the stdout so that they appear in the  Kubeflow dashboard.  The way I do it is as follows:
[code]

**What I expect to happen** - all logs that appear i

[2021-09-10 20:41] yliaog commented on #1509
/cc @roycaihw

[2021-09-13 16:35] adalziso commented on #1333
Problem disappeared after I installed the following versions:

ansible==4.5.0
ansible-core==2.11.4
ansible-runner==1.4.7
ansible-runner-http==1.0.0
kubernetes==12.0.1
openshift==0.12.1

[2021-09-13 16:39] roycaihw commented on #1524
/assign @palnabarun
Thank you!

[2021-09-13 16:40] roycaihw commented on #1530
/assign

[2021-09-13 16:42] roycaihw commented on #1531
/assign @roycaihw @scottilee

[2021-09-13 16:43] roycaihw commented on #1532
/assign

[2021-09-13 16:44] roycaihw commented on #1533
/assign

[2021-09-13 16:44] roycaihw commented on #1534
/assign @yliaog

[2021-09-13 16:45] roycaihw commented on #1535
/assign

[2021-09-13 16:47] roycaihw commented on #1536
/assign @fabianvf

[2021-09-13 16:49] roycaihw commented on #1539
/assign

[2021-09-13 16:51] roycaihw commented on #1540
/assign

[2021-09-13 16:52] roycaihw commented on #1543
/assign

[2021-09-13 16:53] roycaihw commented on #1545
/assign @yliaog

[2021-09-13 16:55] roycaihw commented on #1546
/assign

[2021-09-13 17:34] yliaog commented on #1534
Please check out the following tests.

https://github.com/kubernetes-client/python/blob/f07176153e062b3eb94fe9461c25e7a4d0656d4c/kubernetes/e2e_test/test_client.py#L221

https://github.com/kubernetes-client/python/blob/f07176153e062b3eb94fe9461c25e7a4d0656d4c/kubernetes/e2e_test/test_client.py#L360

[2021-09-13 17:35] roycaihw commented on #1531
Are you using the [ENV_KUBECONFIG_PATH_SEPARATOR](https://github.com/kubernetes-client/python-base/blob/dd15ac62636c9ccf1493a02a0bdd5e3a8678c413/config/kube_config.py#L705-L706) to load multiple kubeconfig files (e.g. `load_kube_config(config_file="fileA;fileB;fileC")`)? I wonder if it can be reproduced by copying 200 kubeconfig files (same content, different file names) and load them all at once

[2021-09-13 17:40] AWSmith0216 commented on #1531
I'm not using that to load multiple files. I did try reproducing it by taking a single kubeconfig, copying it a couple hundred times, and loading it in a loop. For some reason that did not reproduce the problem, but I didn't dig into it to determine why.

[2021-09-13 17:47] yliaog commented on #1545
https://github.com/kubernetes-client/python/tree/b313b5e74f7cf222ccc39d8c5bf8a07502bd6db3/kubernetes/docs

it's correct that currently only NetworkingV1beta1Ingress is supported.

https://kubernetes.io/docs/concepts/services-networking/ingress/ shows that NetworkingV1Ingress is added from 1.19 kubernetes release. this python library is adding 1.19 release as we speak. it is going to be available i

[2021-09-13 17:56] roycaihw commented on #1532
Thanks for reporting the issue!

According to the badge link in the codecov settings page, the reported coverage seems to be actually 0%. On https://app.codecov.io/gh/kubernetes-client/python/pulls, I see error messages "Missing base report" and "There was an error processing coverage reports". I wonder if we broke some of the [codecov configs](https://github.com/kubernetes-client/python/pull/54)

[2021-09-13 18:08] roycaihw commented on #1533
The NetworkingV1beta1IngressTLS class exists in https://github.com/kubernetes-client/python/blob/v18.20.0/kubernetes/client/models/networking_v1beta1_ingress_tls.py#L21. Could you try if that works?

[2021-09-13 18:10] roycaihw commented on #1539
This sounds like an expected behavior. Thew watch implementation doesn't handle connection errors. It is not an informer. You will need to retry watching when you get the error.

[2021-09-13 18:12] roycaihw commented on #1540
Does kubectl or client-go return the expected events?

[2021-09-13 18:17] drodriguezIE commented on #1533
It did, thanks a lot, although as a workaround I was doing something like this:

[code]

[2021-09-13 18:17] #1533 closed

[2021-09-13 18:22] roycaihw commented on #1543
This sounds like another occurrence of https://github.com/kubernetes-client/gen/issues/52. The upstream openapi spec marks the `conditions` as "required" but the apiserver doesn't always set the value when sending a response.

@cradules Would you mind sending a PR to fix the openapi spec in the upstream? An example is https://github.com/kubernetes/kubernetes/pull/64996. This Python client can be f

[2021-09-13 20:03] roycaihw commented on #1530
Thanks for reporting the issue. The configuration module is generated by the openapi-generator: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/python/configuration.mustache

@rittneje Would you mind filing an issue in openapi-generator? Once it's fixed in the upstream code generator, we can regenerate the client to get the fix.

[2021-09-13 20:09] roycaihw commented on #1535
Could you try `kubectl exec` and see if that works?

This sounds like a connection flake rather than a client issue

[2021-09-13 20:14] roycaihw commented on #1546
You need to use the watch client to stream the log. Please try this example: https://github.com/kubernetes-client/python-base/pull/93/files#diff-caaa4c6a05b0eef75a61b3c5942aeff261ce4344e51b934efd57227a91586874R83-R91

We should have an example for read_namespaced_pod_log under https://github.com/kubernetes-client/python/tree/master/examples

/kind documentation

[2021-09-13 21:55] roycaihw commented on #1531
Perhaps the the leak was short-circuited when using the same kubeconfig file multiple times: https://github.com/kubernetes-client/python-base/blob/dd15ac62636c9ccf1493a02a0bdd5e3a8678c413/config/kube_config.py#L69-L70

The proposed fix looks good to me. @AWSmith0216 Would you mind opening a PR?

[2021-09-13 21:58] roycaihw commented on #1453
/close

[2021-09-13 21:58] #1453 closed

[2021-09-14 00:18] EvgeniiTitov commented on #1546
Hi @roycaihw,

Yes, I did try to use the Watch() object to stream the logs at the beginning but I had the same issues - logs get stuck after some time.

Regards,
Evgenii

[2021-09-14 00:31] roycaihw commented on #1546
Could you share the code you use to stream the logs with Watch()? And how long do you usually see the stream works before it gets stuck?

[2021-09-14 01:05] EvgeniiTitov commented on #1546
Sure @roycaihw , this is the approach that uses Watch()

[code]

As you can see we rely on reading logs from the pod (self.launcher_pod) in which we're trying our models to signal when training has completed (we are aware it is not the best approach and working on it). If logs never arrive (get stuck), we never see the "INFO:: Training completed." message, as a result our pipeline step hangs indef

[2021-09-14 19:22] alexInhert commented on #1487
@palnabarun I thought you are taking over and solve it?
This is 1 line of code change to documentation I tried to do it but your CLA is a trouble.

[2021-09-15 18:17] fabianvf commented on #1536
@schneesu you can forcibly expire the cache by calling `client.discoverer.invalidate_cache()`.

That being said if you aren't looking for that API specifically we should probably swallow that error and automatically invalidate the cache, like here: https://github.com/kubernetes-client/python-base/blob/e514f69dff7dc090716a233d16b62f87fcdb5b3d/dynamic/discovery.py#L240-L245. Basically if we just cat

[2021-09-15 18:24] fabianvf commented on #1359
@alterEgo123 This may have been fixed in a release, on `kubernetes==18.20.0` my final deployment looks like:

[code]

[2021-09-15 20:41] remram44 commented on #323
/remove-lifecycle stale

[2021-09-16 07:43] schneesu commented on #1536
Thanks for your reply. About what you said safely ignore exceptions during the first call, may using a variable to control whether to ignore `NotFoundError` is an appropriate way?

the code like this: https://github.com/kubernetes-client/python-base/pull/252

@fabianvf

[2021-09-16 12:52] ycwdaaaa opened #1548 "how to close hostname check"
I tried to close the hostname check like this:

c = Configuration()
c.verify_ssl = False
c.assert_hostname = False
client.Configuration.set_default(c)

but it throw an error TypeError: __init__() got an unexpected keyword argument 'assert_hostname'

[2021-09-17 02:18] #1232 closed

[2021-09-17 04:11] depfish opened #1549 "Can't delete some key in configmap and the api.patch() returned the configmap data list"
**What happened (please include outputs or screenshots)**:
Can't delete some key in configmap
**What you expected to happen**:
want delete some key in the configmap data

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (`kubectl version`): v1.20
- OS (e.g., MacOS 10.13.6): Ubuntu 20
- Python version

[2021-09-17 08:30] #1549 closed

[2021-09-17 08:30] depfish commented on #1549
pls use
[code]

[2021-09-18 19:37] #1353 closed

[2021-09-19 03:43] #1398 closed

[2021-09-19 22:48] #1424 closed

[2021-09-20 17:44] roycaihw commented on #1509
[v19.15.0a1](https://github.com/kubernetes-client/python/releases/tag/v19.15.0a1) has been released. Please give it a try and file any issue you find. I plan to release a beta version in the next week or two.

[2021-09-20 17:54] PetruGarstea commented on #1534
@yliaog
thanks for sharing.

After I created **pf** object it doesnt have **sendall()** method

[code]

---
python - v3.9
k8s - v18.20.0

[2021-09-21 11:52] aliencrash opened #1554 "Creating nginx ingress annotation not working for server-snippet"
**What happened (please include outputs or screenshots)**:
I have the following code dictionary to  create the ingress. all the annotation works except the server-snippet.
Some of the comments inside the dictionary are the various experiments I've made and none of the worked.
The other annotation works very well  only the server-snippet doesn't.
![image](https://user-images.githubusercontent.com/1

[2021-09-22 15:21] aliencrash commented on #1554
Going to close this since I just found what is the issue and it's not related with code.

[2021-09-22 15:21] #1554 closed

[2021-09-22 15:24] aliencrash commented on #1554
Going to close this since I just found what is the issue and it's not related with code.

[2021-09-22 20:55] Frankkkkk commented on #1005
/remove-lifecycle stale

[2021-09-23 09:25] ChenhanXmu opened #1555 "Can these interfaces provide the same capabilities as "kubectl apply -k"？"
**What is the feature and why do you need it**:
Production requirements

**Describe the solution you'd like to see**:
I want to achieve the same ability as "kubectl apply -k" through the interface, what should I do?

[2021-09-23 18:04] fsalazarh commented on #519
This works to grant access to default ServiceAccount to list pods:

[code]

[code]

[2021-09-24 08:14] servens commented on #1545
@yliaog  I see that the beta version of 19 has been released, but the networking v1api still doesn't see create_namespaced_ingress。

kubernetes                    19.15.0a1

[2021-09-24 16:22] yliaog commented on #1545
https://github.com/kubernetes-client/python/blob/release-19.0/kubernetes/docs/NetworkingV1Api.md#create_namespaced_ingress

it is now available in 1.19.

[2021-09-24 16:23] yliaog commented on #1545
/close

[2021-09-24 16:23] #1545 closed

[2021-09-24 20:32] origliante commented on #1333
Are you sure? With the following, it still happens here

`$ pip freeze | egrep "(ansible|openshift|kubernetes)" | cut -d'/' -f14
ansible-4.5.0.tar.gz
ansible-core-2.11.4.tar.gz
ansible_runner-1.4.7-py3-none-any.whl
ansible_runner_http-1.0.0-py2.py3-none-any.whl
kubernetes-12.0.1-py2.py3-none-any.whl
openshift-0.12.1.tar.gz`

[2021-09-24 20:35] sodul commented on #1333
@origliante as an updated datapoint the problem is now gone for us and we have these versions:
[code]

[2021-09-24 20:39] origliante commented on #1333
How can you have that?
[code]

[2021-09-24 20:49] sodul commented on #1333
We consider the new pip resolver to be broken, it takes several minutes for it to decide how to resolve the dependency tree for example, and we have to use poorly managed packages such as Azure. We do not actually use openshift, but azure insists on importing it.

Try `--use-deprecated=legacy-resolver` the next time you pip install. You'll notice that it is much much faster and will result in less

[2021-09-24 21:21] adalziso commented on #1333
More complete info about my environment where I have been running my tests:
(.operator2-env) adalzisofrancishine@Adalzisos-MacBook-Pro-2 ~ % pip3 list
Package             Version
------------------- ---------
ansible             4.5.0
ansible-core        2.11.4
ansible-runner      1.4.7
ansible-runner-http 1.0.0
cachetools          4.2.2
certifi             2021.5.30
cffi                1.14.6
cha

[2021-09-24 21:22] adalziso commented on #1333
More complete info about my environment:

(.operator2-env) adalzisofrancishine@Adalzisos-MacBook-Pro-2 ~ % pip3 list
Package             Version
------------------- ---------
ansible             4.5.0
ansible-core        2.11.4
ansible-runner      1.4.7
ansible-runner-http 1.0.0
cachetools          4.2.2
certifi             2021.5.30
cffi                1.14.6
charset-normalizer  2.0.4
cryptograph

[2021-09-25 04:45] #1421 closed

[2021-09-25 05:46] #1417 closed

[2021-09-26 03:26] schneesu commented on #1047
According to changelog, this bug fixed in v17.17.0
- https://github.com/kubernetes-client/python/blob/master/CHANGELOG.md#v17170
- https://github.com/kubernetes-client/python-base/pull/231

thanks to dhague

[2021-09-27 07:45] naor2013 commented on #1546
@roycaihw any news about this? We also have this issue.

[2021-09-27 10:10] StepanKuksenko commented on #570
also faced with this issue,
you can configure kubernetes module logger log level directly, example:

[code]

[2021-09-27 16:34] roycaihw commented on #1548
/assign

[2021-09-27 16:35] roycaihw commented on #1555
/assign

[2021-09-28 23:45] partcyborg opened #1557 "Github frequently refuses to render CoreV1Api documentation"
Right now all attempts to view the `CoreV1Api` documentation result in this:

![kubernetes-client-docs](https://user-images.githubusercontent.com/41255671/135179935-8edeca53-8d94-44d5-909e-8ef25ec2a833.png)

As the error message states, the reason for this is that the markdown file is too large.  Unfortunately, this makes it difficult enough to be effectively impossible to read the documentation,

[2021-09-29 22:36] brendandburns commented on #1546
You probably need to watch repeatedly. The network connection to stream the logs may become interrupted, and I don't think that the `Watch` code handles that.

[2021-09-30 23:48] datacart opened #1558 "portforward does not work on Windows (Reason: module 'socket' has no attribute 'AF_UNIX')"
I am working on getting port forwarding working, but it does not work on python installed on Windows.

When following the example like in https://github.com/kubernetes-client/python/blob/master/examples/pod_portforward.py, you are presented with this error:

[code]
I tracked this down to kubernetes.stream.ws_client._Port.__init__

The socketpair is being explicatly created with socket.AF_UNIX, whi

[2021-10-01 13:00] OvervCW commented on #1509
What kind of work is involved besides rerunning a generator on the latest OpenAPI spec?

[2021-10-01 14:19] westernspion opened #1559 "Can't push down label selectors to list namespaced pods query"
**What happened (please include outputs or screenshots)**:
I can't use the label selector in CoreV1Api.list_namespaced_pod. Neither match_labels or match_expressions in the V1labelSelector work. I keep getting this unable to parse requirement error.
I don't see any reason this shouldn't work

[code]

[code]

**What you expected to happen**:
That I can push down label selectors to the list namespac

[2021-10-02 20:39] bobqian1007 opened #1561 "didn't get the Ingress path backend correct"
**What happened (please include outputs or screenshots)**:
I try to modify the ingress in my cluster with the python client, but I got such an error message
![image](https://user-images.githubusercontent.com/32006870/135730958-b2427ef5-03a0-449f-a236-8cce9652bde4.png)
they told me I need to specify the backend, but I create a backend object in my code
`body.spec.rules[0].http.paths.append(client.N

[2021-10-03 04:44] cradules commented on #1543
Thank you @roycaihw . You were perfectly right. I was using the wrong API version. I have fixed the issue by using the right API, more exactly v1

[code]

[2021-10-03 04:44] #1543 closed

[2021-10-04 22:03] yliaog commented on #1509
please see https://github.com/kubernetes-client/python/blob/master/devel/release.md for the release process.

[2021-10-08 08:04] hdlife007 opened #1564 "connect_get_namespaced_pod_exec Handshake status 400 Bad Request"
Python 3.9
kubernetes 18.20.0

It is normal for some pod to webssh by connect_get_namespaced_pod_exec, but is abnormal for others.
The only difference between them is that the exceptions contains keywords 'bx'.
however  it can be webssh  by container name which is abnormal only by pod name.
Is there a  limit of pod name? What is the limit?

[2021-10-08 15:05] storyalex opened #1565 "batch/v1 CronJob missing from api"
**How to reproduce it (as minimally and precisely as possible)**:
Create a CronJob with api version batch/v1

**Anything else we need to know?**:
Looks like swagger.json is out of sync with the one in kubernetes/kubernetes (under api/openapi-spec).

[2021-10-10 00:08] itaru2622 opened #1566 "update submodule"
**What happened (please include outputs or screenshots)**:

latest python-base is not included in latest master, then below issue is still not closed yet.
https://github.com/ansible-collections/kubernetes.core/issues/246

**What you expected to happen**:

commithash of submodule is updated  and latest feature in submodule is ready in use.

**How to reproduce it (as minimally and precisely as possi

[2021-10-10 08:43] GhostInThePotato commented on #962
Still needed.
/remove-lifecycle stale

[2021-10-10 10:32] #1436 closed

[2021-10-10 23:45] mirskiy opened #1568 "connect_get_namespaced_pod_exec stdout incorrect default in documentation"
Per the documentation for [`connect_get_namespaced_pod_exec`](https://raw.githubusercontent.com/kubernetes-client/python/master/kubernetes/docs/CoreV1Api.md#connect_get_namespaced_pod_exec):

In testing, it defaults to **false**

**What happened (please include outputs or screenshots)**:
When running `connect_get_namespaced_pod_exec` without `stdout` kwarg set, no output is returned.
Further, if n

[2021-10-11 11:50] olevski commented on #1117
For anyone having this issue I was able to get past it by using the suggestion here: https://github.com/kubernetes-client/python/issues/574#issuecomment-405400414

Basically:
[code]

[2021-10-11 16:24] #1566 closed, assigned to nobody

[2021-10-11 16:38] roycaihw commented on #1557
This seems to be a general issue that happens to all the generated clients, e.g. the [Java client](https://github.com/kubernetes-client/java/blob/master/kubernetes/docs/CoreV1Api.md).

It would be great if we can split the file into smaller pieces, or find a site that can host files this large. And it would be great if we can involve folks from other repos to solve it for everyone.

/help

[2021-10-11 16:40] roycaihw commented on #1558
/assign @yliaog

[2021-10-11 16:43] roycaihw commented on #1561
/assign @yliaog

[2021-10-11 23:20] ryanpeach opened #1570 "Deleting a nodeSelector via a patch update doesn't work"
**What happened (please include outputs or screenshots)**:

Nothing (it doesn't actually do anything).

**What you expected to happen**:

The removal of the nodeSelector "kubeversion"

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Environment**:
- Kubernetes version (`kubectl version`): 1.18
- OS (e.g., MacOS 10.13.6): MacOS latest
- Python version (`python --version

[2021-10-12 11:54] raz08 opened #1571 "Update configmap with JSON not working"
**What happened (please include outputs or screenshots)**:
Updating configmap with JSON in python programmatically. Using patch to update.

[code]
in my config map it shows as

[code]

because it is adding single quote. it is failing at mount end. And if I pass JSON object then I will get

**What you expected to happen**:
single quote should be removed from proxy json
**How to reproduce it (as min

[2021-10-13 04:50] raz08 commented on #1571
There was an issue in dictionary object.

[2021-10-13 04:50] #1571 closed

[2021-10-14 04:39] roycaihw commented on #1568
@mirskiy Nice finding! and sorry for the confusion. It seems that the defaulting behavior was changed in 1.7 (https://github.com/kubernetes/kubernetes/issues/49586, https://github.com/kubernetes/kubernetes/pull/49579), but we didn't update the documentation.

Given the behavior has existed for a long time, I'd suggest we fix the k/k documentation. The fix needs to be made to the [types.go file](ht

[2021-10-15 03:40] roycaihw commented on #1568
Please feel free to assign yourself and give it a try

/help

[2021-10-15 04:45] roycaihw commented on #1422
Thanks for the information. This seems to be a duplicate of https://github.com/kubernetes/kubernetes/issues/100802. The issue has been fixed upstream in k/k 1.22 https://github.com/kubernetes/kubernetes/pull/102159. In this Python client we are still working on catching up with the k/k releases. We will be releasing 1.20 clients soon. The issue will be fixed when we generate 1.22 clients.

[2021-10-15 17:16] #1531 closed

[2021-10-17 17:51] #895 closed

[2021-10-17 19:51] #1445 closed

[2021-10-18 09:07] itaru2622 opened #1578 "add support for no_proxy"
**What is the feature and why do you need it**:

current kubernetes-client/python(-base) support parameter for proxy but NOT no_proxy.
as the result, operator needs to set/unset proxy according to the target clusters.
it is somewhat bothering task because kubectl supports both proxy and no_proxy environment variables.

**Describe the solution you'd like to see**:

add 'no_proxy' parameter in kuber

[2021-10-18 19:09] meet12344 opened #1580 "Hey"
**What happened (please include outputs or screenshots)**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (`kubectl version`):
- OS (e.g., MacOS 10.13.6):
- Python version (`python --version`)
- Python client version (`pip list | grep kubernetes`)

[2021-10-18 19:37] #1580 closed, assigned to nobody

[2021-10-18 22:25] #1578 closed, assigned to nobody

[2021-10-19 00:01] mitar commented on #819
/remove-lifecycle stale

[2021-10-19 00:37] itaru2622 opened #1582 "[Q] the proper way to add new parameter to kubernetes/client/configuration.py"
**Link to the issue (please include a link to the specific documentation or example)**:
related to #1579
**Description of the issue (please include outputs or screenshots if possible)**:

maintainer said in #1579 :

I confirmed scripts/update-client.sh reverts 'no_proxy' from kubernetes/client/configuration.py.
but I could not find openapi definition file which is used as input to openapi-generato

[2021-10-19 05:31] itaru2622 commented on #1582
I could find openapi definition file at https://github.com/kubernetes/kubernetes/blob/master/api/openapi-spec/swagger.json
but could not find data model for kubernetes/client/configuration.py in the above openapi definition file.

[2021-10-19 14:12] #1539 closed, assigned to roycaihw

[2021-10-19 21:18] westernspion commented on #1559
It should be fairly straightforward to test the API call with curl, or with a python requests snippet. If I have time I'll test it inspect it. The error is definitely coming from the Kubernetes API - so it's something not-agreeable with what the python client is doing.

[2021-10-20 05:52] cstruct commented on #323
@roycaihw since Python 2.X and 3.5 has reached EOL (Python 3.6 reaches EOL 23 December this year) is there something still blocking this?

[2021-10-21 02:31] #1582 closed, assigned to nobody

[2021-10-25 06:08] john-ran opened #1585 "Pod log"
Pod has multiple containers. How can I get the log of the specified container

[2021-10-25 06:32] #1585 closed, assigned to nobody

[2021-10-25 09:07] john-ran opened #1587 "cluster info"
What should I do if I want to know the cluster information

[2021-10-25 16:48] #1524 closed, assigned to palnabarun

[2021-10-25 17:17] palnabarun opened #1589 "Update OpenAPI Generator to v5.3.0"
**What is the feature and why do you need it**:

OpenAPI Generator has got some improvements that we should pull in. Doing that will resolve issues like #859, #1131.

**Risks**

There have a lot!! of changes since v4.3.0. We would need to go through most of those changes through the release notes and see if anything can break the client.

**Describe the solution you'd like to see**:

Update OpenAP

[2021-10-25 17:53] #1587 closed, assigned to palnabarun

[2021-10-26 20:40] rezuma opened #1603 "Target_Port parameter type reference is a broken link"
**Link to the issue (please include a link to the specific documentation or example)**:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1ServicePort.md

**Description of the issue (please include outputs or screenshots if possible)**:
The documentation of the V1ServicePort defines target_port type as object. The link on the word object links is broken so the audience cant

[2021-10-26 22:36] rogerhil opened #1604 "WSClient.update(): select function returns empty reader although there's still data missing to be received"
**What happened (please include outputs or screenshots)**:
This issue is intermittent and it happens especially when there is a lot of data returned as the output from a command execution. I've been stuck with this issue for months and I kind of ignored it for a while until now, when the past few weeks, I've been trying to really find a way to fix it myself, but I unfortunately can't.

To summariz

[2021-10-28 07:19] swarnaswaminathan opened #1611 "Dynamic Provisioning not creating EFS access point with given privileges"
I wanted to dynamically provision EFS storage using the EFS CSI driver.
Steps followed:
1. Manually created an EFS storage from the AWS console.
 2. Manually created a storage class with below yaml.
      kind: StorageClass
      apiVersion: storage.k8s.io/v1
      metadata:
        name: efs-sc-range-test
      provisioner: efs.csi.aws.com
      parameters:
        provisioningMode: efs-ap

[2021-10-29 22:47] roycaihw commented on #1603
`target_port` is an [IntOrString](https://github.com/kubernetes/kubernetes/blob/d3bd8a3aab79a61aaf5281dd302941cff440462b/staging/src/k8s.io/api/core/v1/types.go#L4446).

Fundamentally this is a shortcoming of Kubernetes using OpenAPI v2, which cannot properly express the schema of an "int or string" type, nor let us generate the correct client-side validation. People had put workarounds for the cl

[2021-10-29 22:55] roycaihw commented on #1603
@jefftree I wonder if you know any effort to change the schema of IntOrString when [Kubernetes goes OpenAPI v3](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/2896-openapi-v3/README.md). Currently it looks like this:
[code]

[2021-10-29 23:06] roycaihw commented on #1568
@DiptoChakrabarty Awesome, thanks!

The documentation in this repo will be fixed when we generate a 1.23 client.

/assign @DiptoChakrabarty
/close

[2021-10-29 23:06] #1568 closed

[2021-10-30 00:25] roycaihw commented on #1557
Thanks for the detailed thoughts!

I can imagine automating the split, change of links, etc. But it only solves one bad UX and it's not quite maintainable long term. I would accept a PR though :(

CoreV1 is one gigantic & legacy API group. If Kubernetes removes some deprecated APIs / splits it up (which may be slowly happening over the years) that works for us.

The Wiki page sometimes worked for

[2021-10-30 02:37] Jefftree commented on #1603
OpenAPI V3 should be able to use the new [oneOf](https://swagger.io/docs/specification/data-models/oneof-anyof-allof-not/) annotation and correctly indicate the type as oneOf {int, string}.

Thanks for bringing this up, I was actually unaware of this struct and originally thought all IntOrString operations went through the x-int-or-string extension. Will add it to the agenda for OpenAPI :)

[2021-10-30 13:00] #1461 closed

[2021-10-30 17:00] #1485 closed

[2021-10-31 06:05] #1409 closed

[2021-10-31 16:20] Mariappan opened #1612 "GCP auth-provider does not respect the token-key and expiry-key parameter"
**What happened (please include outputs or screenshots)**:

Python client crashes in the following path

[code]

We are using an external program [`vault-k8s-helper`](https://github.com/basisai/vault-k8s-helper) to load the gcp access-token and expiry from vault gcp provider.
vault-k8s-helper returns the following json
[code]

and our kube-config file with gcp auth-provider and external command is

[2021-11-02 05:03] zhb1207 opened #1613 "Pod Log: Get logs on specific date"
How could I get logs on a specific day using read_namespaced_pod_log, for example, get the logs on 2021.11.1. From the doc, using 'since_seconds' gets logs from a timestamp in the past, and using 'tail_lines' gets contents from the end of logs, but it seems there is not a parameter used to get logs within a time RANGE. In this case, do I have to process the logs by myself?

[2021-11-02 13:15] pdp10 opened #1614 "client 20.y.z symlink is available but broken"
**Link to the issue (please include a link to the specific documentation or example)**:

- See: https://github.com/kubernetes-client/python

**Description of the issue (please include outputs or screenshots if possible)**:

Regarding the entry:
`client 20.y.z: Kubernetes 1.19 or below (+-), Kubernetes 1.20 (✓), Kubernetes 1.21 or above (+-)`
The provided symlink to `https://pypi.org/project/kubern

[2021-11-02 17:27] roycaihw commented on #1507
/close

[2021-11-02 17:27] #1507 closed

[2021-11-03 02:42] yliaog commented on #1614
the link should be: https://pypi.org/project/kubernetes/20.11.0a1/

[2021-11-03 11:58] pdp10 commented on #1614
Thanks your swift reply.

[2021-11-03 11:58] #1614 closed

[2021-11-04 12:51] dminca commented on #585
I managed to get this working by waiting for the Pod until it reports `Ready` state

[code]

[2021-11-04 17:51] #1484 closed

[2021-11-04 18:25] roycaihw commented on #1508
/remove-lifecycle stale
/close

[2021-11-04 18:25] #1508 closed

[2021-11-06 02:27] Guanyan1996 opened #1615 "How to cover the V1Job object to standard Job Yaml File ?"
**What is the feature and why do you need it**:
Hi , I want to dump the V1Job object to yaml file  to debug the error in local data. Then I can use kubectl apply -f xxx.yaml for debug.
**Describe the solution you'd like to see**:
I don't find the way can cover the object to yaml . plz

[2021-11-06 17:46] haxsaw opened #1616 "list_event_for_all_namespaces_with_http_info raises ValueError due to None value for event_time if there are events"
**What happened (please include outputs or screenshots)**:
If you try to fetch events when there aren't any, the above mentioned method returns just fine. But if there are events, then an exception is raised in the internal setter for the 'event_time' property as the value being read in from K8s is None:

[code]

or, as it happens:

[code]

It may be the case that turning off client_side_validatio

[2021-11-07 11:54] dashanhust opened #1617 "every deployment item resource's api_version and kind are all null in the list_namespaced_deployment return data"
**What happened (please include outputs or screenshots)**:
every deployment item resource's api_version and kind are all null in the list_namespaced_deployment return data.
![image](https://user-images.githubusercontent.com/6189436/140643633-9991d0a5-3d29-4c7f-a92c-de451bf4c120.png)

**What you expected to happen**:
every deployment item resources's api_version is `extensions/v1beta1`, and the kin

[2021-11-08 06:05] torgeirl commented on #547
/remove-lifecycle stale

[2021-11-08 07:23] mindw commented on #325
/remove-lifecycle stale

[2021-11-08 17:36] roycaihw commented on #1589
/help

@itaru2622 Are you willing to drive the upgrade?

cc @roycaihw

[2021-11-08 17:41] roycaihw commented on #1604
Thanks for the detailed report!

/assign @rogerhil
cc @yliaog

[2021-11-08 17:43] roycaihw commented on #1611
/assign @yliaog

[2021-11-08 17:45] roycaihw commented on #1612
/assign

[2021-11-08 17:46] roycaihw commented on #1613
cc @yliaog

[2021-11-08 17:47] roycaihw commented on #1615
/assign

[2021-11-08 17:48] roycaihw commented on #1616
/assign

[2021-11-08 17:53] roycaihw commented on #1617
I think this is a server-side behavior. kube-apiserver probably wrote the `kind` for the entire list as `DeploymentList` and omitted the apiVersion and kind for each item. Could you confirm if you get the same result with `kubectl get deployments -ojson`? This is likely a feature request to the main Kubernetes repo, not a python client issue.

[2021-11-08 18:09] yliaog commented on #1613
that's correct, it has to be processed on your side.

[2021-11-08 18:17] yliaog commented on #1611
i don't think it is python client specific issue. I think you will get the same if you use kubectl.

For the specific question below,
**I expected User ID and Group ID to be set as "0", instead it was set to 50000.

What needs to be done so that the user id and group id gets set to 0.**

you may check out the
https://serverfault.com/questions/906083/how-to-mount-volume-with-specific-uid-in-kuberne

[2021-11-08 19:59] roycaihw commented on #1616
This is likely similar to https://github.com/kubernetes-client/gen/issues/52. EventTime is marked as required in the openapi spec but kube-apiserver doesn't always set/validate it. The fix is to mark the field as optional in https://github.com/kubernetes/kubernetes/blob/ae550b62da15ca5fe4983c79aaa6b2a39e3e711a/staging/src/k8s.io/api/events/v1/types.go#L41-L42

/unassign
/help

[2021-11-08 20:02] roycaihw commented on #1615
You can use the `sanitize_for_serialization` method, e.g. https://github.com/kubernetes-client/python/issues/1380#issuecomment-781458859, https://github.com/kubernetes-client/python/issues/1117#issuecomment-939957007

/close

[2021-11-08 20:02] #1615 closed

[2021-11-08 20:07] roycaihw commented on #1612
Thanks for the detailed report.

I didn't expect different auth plugins to write data to different paths. Do kubectl/client-go have a complete list of all paths that need to be supported?

[2021-11-08 20:07] roycaihw commented on #1612
/unassign
/assign @Mariappan

[2021-11-09 06:37] Guanyan1996 commented on #1615
thx very much  . @roycaihw

[2021-11-09 07:15] aagten commented on #1558
@datacart are you working on this? Otherwise I might change that line.

[2021-11-09 09:15] haxsaw commented on #1616
If this gets marked as optional will this then propagate to the swagger? And when does that happen; will there be a patch release? How does that address the issue I found of default configs not being applied when no configuration object is supplied to a constructor? Isn't that incorrect? Or else how are we to use the default config?

[2021-11-09 11:16] Avinash-B-S commented on #1117
is there any solution to convert back the dictionary to the deployment file(original state)?

[2021-11-09 12:16] roquesao opened #1622 "[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed when try to connect to aks"
**What happened (please include outputs or screenshots)**:
when trying to list all the secrets from all namespaces  I'm getting the error:

[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed

**What you expected to happen**:
list all the secrets
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

if I try to use the requests library hitti

[2021-11-09 12:40] itaru2622 commented on #1589
@roycaihw You made me so suprised. Unfortunately I don't have much time now, so it is hard to drive this issue solving. but I think I can help you.

[2021-11-09 14:37] datacart commented on #1558
@aagten If you want me to submit a PR, I can certainly do that, but since I have not contributed to this project as of yet, it might be simpler if you do it.

[2021-11-09 17:45] roycaihw commented on #1616
Yes, the Go type is the source of truth for the swagger in k/k

Let's fix the issue at HEAD first. Then we can do a patch in this client

It was a typo in the upstream generator: https://github.com/OpenAPITools/openapi-generator/pull/6850

Not sure I follow. The default config is being used [here](https://github.com/kubernetes-client/python/blob/33c5ea9835356410ce4a9fa54a02c6a2a22143c6/kubernetes/

[2021-11-09 20:36] aagten commented on #1558
/assign

[2021-11-11 16:27] aslobodskoy-fiksu commented on #1372
it is absent in json and yaml output

Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.15", GitCommit:"58178e7f7aab455bc8de88d3bdd314b64141e7ee", GitTreeState:"clean", BuildDate:"2021-09-15T19:23:02Z", GoVersion:"go1.15.15", Compiler:"gc", Platform:"darwin/amd64"}

[2021-11-11 18:35] roycaihw commented on #1372
Thanks @aslobodskoy-fiksu. Sounds like `kubectl` implemented extra logic to get the "Mounted By" attribute. If you run `kubectl` with `-v` you can see what APIs it calls to achieve this.

[2021-11-11 19:49] aslobodskoy-fiksu commented on #1372
@roycaihw So your advice is to make direct API calls instead of using kubectl?

[2021-11-12 01:32] roycaihw commented on #1372
If we want to achieve what kubectl does in a python program, we can use this library to make the same API calls as kubectl and perform the same logic.

[2021-11-12 09:24] crybabykillzz opened #1623 "Warning you need to migrate eviction API fron Beta to v1"
How can we disable this warning? "Warning! If you have K8s >= 1.22, you need to migrate eviction API fron Beta to v1"
We are already passing the api_version
[code]

[2021-11-12 11:39] shivanshu1333 commented on #1487
/unassign

[2021-11-12 11:55] aslobodskoy-fiksu commented on #1372
Maybe it is better API to return this information?

[2021-11-12 18:52] roycaihw commented on #1372
If we want an API to return this information, it should be a feature request to the main Kubernetes repo. This repo doesn't control what API the server serves.

[2021-11-14 05:35] #1422 closed

[2021-11-15 08:41] #1623 closed

[2021-11-15 11:05] FabianNiehaus commented on #1471
@roycaihw Any inputs on this?

/remove-lifecycle stale

[2021-11-15 14:38] aslobodskoy-fiksu commented on #1372
I understand that. Just posted here to discuss because find this thread :)

[2021-11-15 17:57] roycaihw commented on #1517
Closing due to inactivity. Please feel free to reopen if needed

/close

[2021-11-15 17:57] #1517 closed

[2021-11-17 01:41] retr0h commented on #866
Reading this issue, I still don't understand what needs done to actually use this ;)

I'm calling the following code

[code]

[2021-11-17 05:38] seanocca commented on #1005
/remove-lifecycle stale

[2021-11-17 12:57] liyinxin opened #1625 "V1NodeCondition"
Dear community:
   I want to know the V1NodeCondition.type is the real-time status of the node ? I test the type with these:
`zailushang@zailushang-inspiron-3670:~/CloudEdgeProjectMANO/NFs$ cat cloudCore.py`
`#!/usr/bin/env python`
`# coding=utf-8`
`from kubernetes import client,config`
`# configs can be set in Configuration class directly or using helper utility`
`config.load_kube_config()`
`v1 =

[2021-11-17 14:14] liyinxin commented on #1625
I have solve it. Thanks

[2021-11-17 19:24] venukarnati92 opened #1626 "async creation of custom resources (CR) using the CRD is failing"
Async creation of custom resources (CR) using the CRD is failing for dynamic Client create call.

Synchronous Implementation with this example is working fine https://github.com/kubernetes-client/python/blob/master/examples/dynamic-client/namespaced_custom_resource.py

Now to make creation process as async update line number 192 on the above example to the following

`ingressroute_api.create(body=

[2021-11-18 18:15] #1491 closed

[2021-11-18 20:59] #1500 closed

[2021-11-22 09:25] asskss opened #1630 "How does Python get the token of serviceaccount through API"
**How does Python get the token of serviceaccount through API**

[2021-11-22 16:11] TomaszKlosinski commented on #524
That would be an awesome feature for operator testing.

[2021-11-22 17:36] roycaihw commented on #1622
/assign

[2021-11-22 17:39] roycaihw commented on #1626
cc @fabianvf @roycaihw

[2021-11-22 17:45] roycaihw commented on #1630
Could you clarify your question a bit more? Are you asking how does a Python application running in a pod in cluster get the token, or if you want to get the token from outside of the cluster? [Service account tokens](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#service-account-tokens) are embedded in secrets, so you can access them through secret API

[2021-11-22 17:46] roycaihw commented on #1625
Hi @liyinxin, glad that you found the solution :) It would be great if you could also share what the solution was here.

/close

[2021-11-22 17:46] #1625 closed

[2021-11-22 17:48] roycaihw commented on #1622
Not sure if it's an issue with AKS. You can try skipping the SSL verification. Here is an example: https://github.com/kubernetes-client/python/issues/36#issuecomment-569071516

[2021-11-22 17:56] roycaihw commented on #1626
In our typed clients, the syntax for using async_req is:
[code]
For example, the [CRD client](https://github.com/kubernetes-client/python/blob/549482d8842a47c8b51122422e879e7cc497bf88/kubernetes/client/api/apiextensions_v1_api.py#L43-L46).

Could you try if the same works with the dynamic client?

[2021-11-22 18:46] venukarnati92 commented on #1626
@roycaihw
On further debugging I was able to find that when you make an asynchronous call response doesn't have data attribute.I can see request is launched but client.py is unable to get the response details.Looks we need to have separate logic for response parsing when the call is asynchronous .

@roycaihw The above suggestion will still fail because the error is happening when we make a create

[2021-11-23 00:58] asskss commented on #1630
@roycaihw
Obtain the token from outside the cluster, such as calling client.RbacAuthorizationV1Api() through python script, the result returns the token of the serviceaccount account of the corresponding namespace.

[2021-11-23 02:16] liyinxin commented on #1625
the condition.type are five types:
NetworkUnavailable
MemoryPressure
DiskPressure
PIDPressure
Ready
so it's no error, if you want to know the status of nodes, you can use the condition.status .

[2021-11-23 03:38] asskss commented on #1630
@roycaihw
I found it, thank you very much.

[2021-11-23 18:38] roycaihw commented on #1625
Thanks @liyinxin!

[2021-11-23 18:40] roycaihw commented on #1630
Glad to hear that! Yeah from outside the cluster I think you can use the service account API to find what secret is used by the service account, and then use the secret API to get the token.

/close

[2021-11-23 18:40] #1630 closed

[2021-11-23 19:17] roycaihw commented on #1512
Closing due to inactivity. Please feel free to reopen if needed

/remove-lifecycle stale
/close

[2021-11-23 19:17] #1512 closed

[2021-11-24 01:35] tdihp commented on #1475
Spot the same symptom, will attempt to PR on this.

[2021-11-26 02:16] XS170202106505 opened #1632 "AttributeError: 'NetworkingV1Api' object has no attribute 'create_namespaced_ingress'"
AttributeError: 'NetworkingV1Api' object has no attribute 'create_namespaced_ingress'

def main():

    with open(path.join(path.dirname(__file__), "/data/k8s-client/ingress.yaml")) as f:
        dep = yaml.safe_load(f)
        k8s_apps_v1 = client.NetworkingV1Api()
        resp = k8s_apps_v1.create_namespaced_ingress(
            body=dep, namespace="fortest")
        print("Ingress created. stat

[2021-11-29 01:10] ldrmcml opened #1633 "pip install kubernetes report "ImportError: No module named pathlib""
I think there may be some problems with python2.7? I search stackoverflow, someone advice me to use python3, but I just can't upgrade to python3.

**What happened (please include outputs or screenshots)**:
<img width="1366" alt="image" src="https://user-images.githubusercontent.com/6141752/143679666-4d67ad9e-d8d4-4a59-b051-b9d540a8f80a.png">

**What you expected to happen**:
pip install kubernetes

[2021-11-29 03:53] ChinaSilence commented on #1515
@caffeinism  Have you resolved this problem?

[2021-11-29 08:27] XS170202106505 commented on #1632
@roycaihw

[2021-11-29 08:27] XS170202106505 commented on #1632
@roycaihw please! 3q!

[2021-11-29 08:52] Myothas opened #1634 "AttributeError: module 'kubernetes.client' has no attribute 'WellKnownApi'"
I'm trying to implement a call to get the WellKnownApi according to [the documentation](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/WellKnownApi.md#get_service_account_issuer_open_id_configuration).

However looking through the Kubernetes library I can't see any reference to WellKnownApi from the client, so when I run it of course it results in:
`AttributeError: module

[2021-11-29 08:56] Myothas commented on #1634
After looking through the master version here on github I can see [well_known_api.py](https://github.com/kubernetes-client/python/blob/master/kubernetes/client/api/well_known_api.py), however in version 19.15.0 of the library its missing.

[2021-11-29 08:58] Myothas commented on #1634
Alrighty, found it in version "20.12.0b1". Looks like I just got to wait for next release.

[2021-11-29 08:58] #1634 closed

[2021-11-29 11:40] m1nish1208 opened #1635 "Container with configMap not working."
**What happened (please include outputs or screenshots)**:
I'm trying to add configMaps to a pod while creating a POD using create_namespaced_pod method.

**What you expected to happen**:
Expecting POD to be created using configMap defined in the spec.

**How to reproduce it (as minimally and precisely as possible)**:
Attaching code snippet for reference.
https://gist.github.com/m1nish1208/fa84aa7

[2021-11-29 19:16] roycaihw commented on #1632
@XS170202106505 What client version did you use? I tested the 20.13.0 client and didn't get the error. Here is the code I used: https://github.com/kubernetes-client/python/pull/1638

[2021-11-29 20:47] ba-work commented on #1236
This should be reopened, this issue makes this lib incompatible with spec-compliant kubeconfigs.

More selfishly, it is incompatible with kubeconfigs that are served from Rancher's cluster API at `/v3/clusters/<cluster id>?action=generateKubeconfig` since those have the CA data embedded.

[2021-11-29 20:49] ba-work commented on #1236
/reopen

[2021-11-29 21:08] yliaog commented on #1236
/reopen

@ba-work do you have time to send a PR to fix it?

[2021-11-29 22:15] ba-work commented on #1236
@yliaog I think this probably just a case of me misusing the lib or not understanding the scope properly. I had a function to setup a connection to a cluster that returned a `kubernetes.client.CoreV1Api()` and once I took that logic out of the function and put it in the caller it worked just fine.
If you have any guidance on this I would welcome it. This is what didn't work (but did if `insecure-s

[2021-11-30 00:36] #741 closed

[2021-11-30 00:41] roycaihw commented on #1193
The issue still exists. We should skip set_active_context so the behavior is consistent with kubectl (client-go) and client-java: https://github.com/kubernetes-client/python/issues/1193#issuecomment-662187563

/help

[2021-11-30 00:42] MoShitrit commented on #1193
I can take that one.
/assign

[2021-11-30 00:58] roycaihw commented on #1555
IIUC kubectl achieves it by compiling kustomize as a part of kubectl. This Python client doesn't provide the capability.

/close

[2021-11-30 00:58] #1555 closed

[2021-11-30 01:09] roycaihw commented on #1548
I tried to reproduce with a v20.13.0 client and couldn't get the error. What client version did you use, and could you try using the latest version? Also I noticed that `c = Configuration()` should be `c = client.Configuration()`.

Let me know if you still hit this issue.

/close

[2021-11-30 01:09] #1548 closed

[2021-11-30 07:45] caffeinism commented on #1515
I tested it but this solution could not solve my problem.

[2021-12-01 19:39] dimitrijevskiv commented on #1264
@nachoparodi have you managed to find the root cause, I'm hitting on this as well.

[2021-12-01 20:46] alop opened #1642 "Markdown docs are too large for Github"
**Link to the issue (please include a link to the specific documentation or example)**:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#list_namespaced_pod

**Description of the issue (please include outputs or screenshots if possible)**:
The Markdown files are too large for GitHub to display them properly, you just get a "sorry" message. This makes reading the

[2021-12-03 01:49] micw523 commented on #1642
This is a duplicate of #1557

I'll close this for now in favor of the existing issue.

/close

[2021-12-03 01:49] #1642 closed

[2021-12-03 02:12] schneesu commented on #1635
@m1nish1208 your code logic is messy
1. func `create_configmap` just generate configmap manifest but not create a configmap in cluster
2. pod_manifest.spec.containers.envFrom + configMapRef require an existed configmap, what's more, just need configmap's name, like this:
[code]

Ref: [Configure all key-value pairs in a ConfigMap as container environment variables](https://kubernetes.io/docs/tasks/

[2021-12-03 15:31] jovan-absci commented on #1379
Could we get an update on this? This would be really useful.

[2021-12-03 15:32] jovan-absci commented on #1379
/reopen
/remove-lifecycle rotten

[2021-12-04 16:31] Omega-Centauri-21 commented on #1558
Did you check if the firewall is blocking it? Maybe same ports are being assigned or the router must have DMZ enabled

[2021-12-05 11:24] devopstales opened #1643 "Unable to crete validating webhook configuration"
**What happened (please include outputs or screenshots)**:
I try to create a ValidatingWebhookConfiguration with create_validating_webhook_configuration, but I get this error:
[code]

**What you expected to happen**:
Create a new ValidatingWebhookConfiguration.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubern

[2021-12-06 17:36] roycaihw commented on #1633
Python 2.7 is no longer supported. Please try the latest Python client version ([v20.13.0](https://github.com/kubernetes-client/python/releases/tag/v20.13.0)) with Python 3.

/close

[2021-12-06 17:36] #1633 closed

[2021-12-06 17:38] roycaihw commented on #1643
/assign

[2021-12-06 17:43] roycaihw commented on #1635
@schneesu is correct. You need to use the [create_namespaced_config_map](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#create_namespaced_config_map) method to create the actual config map.

[2021-12-06 17:57] roycaihw commented on #1643
An extra comma turned `body` from an object into a list of objects. Removing the comma fixed the issue. You can also verify what the body was via enabling the debug logging.
[code]

/close

[2021-12-06 17:57] #1643 closed

[2021-12-07 12:05] devopstales commented on #1643
THX @roycaihw

[2021-12-08 08:46] swarnaswaminathan commented on #1611
Thanks for the response.
Yes this feature to use uid and gid is yet to be released. Checked on the aws-efs-csi-driver github.

[2021-12-08 08:46] #1611 closed

[2021-12-09 09:11] idsvandermolen commented on #1589
One of the interesting things I think was introduced in OpenAPI Generator 5 was improved validation of types, for example the enum type of `protocol` in `ContainerPort` (https://github.com/kubernetes-client/python/blob/master/kubernetes/client/models/v1_container_port.py#L169) currently isn't validated to have a correct value. When generated with version 5 afaict it will be validated to contain on

[2021-12-09 10:54] itaru2622 commented on #1589
@idsvandermolen yes, there are some improvement in openapi-generator.

to get benefit of those improvements on validation, it needs to update openapi defenition which is managed by server side at https://github.com/kubernetes/kubernetes/blob/master/api/openapi-spec/swagger.json

it may take  to be adjusted.

[2021-12-09 14:08] jdomag opened #1646 "Tracking pod eviction"
I'm evicting a pod the way described here:
https://github.com/kubernetes-client/python/issues/689#issuecomment-485859439

Is there any way to track what the status of the eviction is? When I do a call
 `    api_res = core_api.create_namespaced_pod_eviction(name=pod.metadata.name, namespace=pod.metadata.namespace, body=body)
`
for the pod that can't be evicted due to PDB, the request just hangs - i

[2021-12-09 15:02] #1646 closed

[2021-12-09 17:46] venukarnati92 commented on #1626
/assign @yourself

[2021-12-09 18:44] venukarnati92 commented on #1626
I have raised a PR for the fix https://github.com/kubernetes-client/python-base/pull/269

[2021-12-10 03:48] nevosial opened #1647 "cannot watch resource "configmaps" in API group "" at the cluster scope"
**What happened (please include outputs or screenshots)**:
Trying to build a container that watches configmap resource. However , when run as pod errors out with the

[code]

Using the following rbac configs.
[code]

**What you expected to happen**:
Be able to list and watch the configmaps.

**How to reproduce it (as minimally and precisely as possible)**:
Create a simple pod that uses the watcher

[2021-12-10 08:01] vamshi-aruru opened #1648 "Kubernetes python client taking up a lot of memory when using from a pod"
**What happened (please include outputs or screenshots)**:
We have an API server on a kuberentes cluster hosted on aws. We recently added code to edit kuberentes deployment objects and cronjob objects and also monitor deployment health. Ever since we started using the client, our api pods memory usage has increased by more than 400 MB. Before the change, the pod was using about 400 MB of memory, n

[2021-12-11 03:06] nevosial commented on #1647
This was resolved by adding the service account in the same namespace as the pod.

[2021-12-11 03:06] #1647 closed

[2021-12-12 14:52] zdzichu commented on #1333
There's a workaround (using older version) but what about fix?

[2021-12-12 21:59] rittneje commented on #1530
/remove-lifecycle stale

[2021-12-12 22:14] benholtzmansmith commented on #1616
I am also encountering this issue. One note on this comment by @roycaihw :

@roycaihw the default config is not being used on the models. For example:

https://github.com/kubernetes-client/python/blob/33c5ea9835356410ce4a9fa54a02c6a2a22143c6/kubernetes/client/models/v1beta1_event.py#L78

https://github.com/kubernetes-client/python/blob/33c5ea9835356410ce4a9fa54a02c6a2a22143c6/kubernetes/client/mod

[2021-12-13 00:44] coderanger commented on #1555
This is incorrect, any client library can use the Server Side Apply APIs now.

[2021-12-13 11:27] origliante commented on #1333
@zdzichu try the following out:

From:
https://docs.ansible.com/ansible/latest/collections/community/kubernetes/k8s_module.html

`Please update your tasks to use the new name kubernetes.core.k8s instead. It will be removed in version 3.0.0 of community.kubernetes.`

By updating the tasks to kubernetes.core.k8s, the underlying module is fixed.

[2021-12-13 17:19] vdwees commented on #1351
possibly a bug, since it is referenced in the description of since_seconds, but the field itself does not exist.
        {
          "description": "A relative time in seconds before the current time from which to show logs. If this value precedes the time a pod was started, only logs since the pod start will be returned. If this value is in the future, no logs will be returned. Only one of **sinc

[2021-12-13 21:02] chiefzor commented on #670
v1 = client.CoreV1Api()

def convert_cpu(cpu_item):
    """
    Convert cpu
    @param cpu_item: [string]
    return cpu in mili cores (int)
    """
    try:
        if cpu_item.endswith("m"):
            return int(cpu_item.replace("m", ""))
        elif cpu_item.endswith("n"):
            return int(cpu_item.replace("n", "")) / (10**6)
        else:
            return int(cpu_item)*1024
    exce

[2021-12-13 23:35] roycaihw commented on #1616
@benholtzmansmith Ah that makes sense. @haxsaw Sorry I thought the models would use the config from the API client and misread your comment.

Unable to disable client side validation is a regression. It has been fixed in upstream code generator: https://github.com/OpenAPITools/openapi-generator/pull/8500. We should upgrade the generator version we use to pick up the fix.

[2021-12-14 00:22] AurelienGasser opened #1649 "client.returncode is not idempotent"
The second call to client.returncode raises in the code below

[code]

`client.returncode` should return the same value when called multiple times in a row.

[2021-12-14 00:29] AurelienGasser commented on #1649
Closed in favor of https://github.com/kubernetes-client/python-base/issues/271

[2021-12-14 00:29] #1649 closed

[2021-12-15 10:39] aderiyenko opened #1652 "OIDC refresh token call with Okta fails with 401 when submitting client_id and secret over Authorization header and POST body"
**What happened (please include outputs or screenshots)**:

Okta IdP does not support oauth2 refresh token call when the credentials are passed in the Authorization HTTP header and POST body. The issuer resoponds with

[code]

If I replace the `auth` tuple in `requests_oauthlib/oauth2_session.py` before issuing a refresh request with `None`, everything works as expected.

This happens because `cli

[2021-12-17 10:23] muzaffersenkal commented on #1635
@m1nish1208  It's more convenient to do this using the kubernetes-python's API objects.

Here is an example in dictionary format. You can adapt it to your own style as well.

1. Define your config dictionary:
[code]

2. Create ConfigMap;
[code]
3. Create your Deployment
[code]

4. Read Your Environment Variables in your app
[code]

I hope it helps.

[2021-12-17 10:34] muzaffersenkal commented on #1632
Here is the source code. I think you are using the old version.

https://github.com/kubernetes-client/python/blob/24e6e8f00adaa942986fda02b53a6d932214536e/kubernetes/client/api/networking_v1_api.py#L168-L173

[2021-12-17 10:39] felixhuettner opened #1658 "Add property metadata to generated models"
Hello everyone,

**What is the feature and why do you need it**:
I want determine in advance if a ssa-patch would cause any actual change for a given k8s resource.
In order to do this reliably for lists i need the information about `x-kubernetes-patch-strategy` and `x-kubernetes-patch-merge-key` from the openapi spec.

To make this easier it would be great if the models of this library would alrea

[2021-12-18 03:54] emily-chan-git opened #1660 "Pod interactive exec with stream isn't returning stdout/stderr"
Hello!

With the latest kubernetes python pkg version `21.7.0`, my interactive exec calls are all returning without the stdout from the command.

Using the exec interactive example: https://github.com/kubernetes-client/python/blob/24e6e8f00adaa942986fda02b53a6d932214536e/examples/pod_exec.py#L82-L115

Nothing is returned from the commands "This message goes to stdout/stderr".

Instead, the stdout

[2021-12-19 20:56] #1373 closed

[2021-12-20 02:10] imageschool commented on #1555
how do you use it in the current python client library?

[2021-12-20 02:16] coderanger commented on #1555
Use the `patch` client method for the type with a content type header set to `application/apply-patch+yaml`. You must set a field manager (optional for other patch types and update) and you will usually want to set force=true.

[2021-12-20 03:00] imageschool commented on #1555
@coderanger Thanks for the reply!

It seems like there is no such content-type written in the doc
(https://github.com/kubernetes-client/python/blob/release-8.0/kubernetes/docs/AppsV1Api.md#patch_namespaced_deployment)

but, i was able to find it in the code (`patch_namespaced_deployment_scale_with_http_info()` in `apps_v1_api.py`)

How can I actually specify content type '`application/apply-patch+

[2021-12-20 03:54] coderanger commented on #1555
That you'll have to take up with the Python client library team.

[2021-12-20 04:30] imageschool commented on #1555
So is it correct that it is do-able but hasn't been implemented in the client library?

[2021-12-20 05:01] coderanger commented on #1555
There is nothing specific to implement client-side, it's a kube-apiserver call. That's why it's called "server side apply".

[2021-12-20 05:53] imageschool commented on #1555
Sorry that I am quite new at this, so to clarify, is the below true ?

- At first, it is available through kubectl command (client-side)
- It is not available on the python client library (client-side)
- It is available in kube-apiserver (server-side)

[2021-12-20 05:58] imageschool commented on #1555
Right, thanks.

[2021-12-20 09:49] dulek opened #1661 "V1EndpointPort renamed to CoreV1EndpointPort in 21.7.0"
**What happened (please include outputs or screenshots)**:
For some reason b8e0b3d083385c7102d6de8ba693a1ef27351009 renamed V1EndpointPort to CoreV1EndpointPort. I don't know the root cause but as other V1Endpoint* resources are not renamed, I guess it's some mistake.

**What you expected to happen**:
The type to stay with the same name.

**How to reproduce it (as minimally and precisely as possib

[2021-12-20 17:24] roycaihw commented on #1632
Thanks for the confirmation @muzaffersenkal! @XS170202106505 Please let us know if you have more questions.

/close

[2021-12-20 17:24] #1632 closed

[2021-12-20 17:56] roycaihw commented on #1648
IIUC, you have a pod working as both an API server and an operator:
- it serves a `/{service_name}/refresh/?` API
- when it receives an API call for `{service_name}`, it reads the corresponding deployment and does some `transform_deployment_object`
- > edit kuberentes deployment objects and cronjob objects and also monitor deployment health

It's hard to tell where the memory usage comes from with

[2021-12-20 18:36] roycaihw commented on #1661
It happened because a new model `DiscoveryV1EndpointPort` was introduced. When we generate the client from the openapi spec, we [remove parts of the package name but will make sure there is no conflicting model names](https://github.com/kubernetes-client/gen/blob/8b5821a498ec623de2457bcddfe4e93c5e4498c0/openapi/preprocess_spec.py#L340-L386). `CoreV1EndpointPort` used to be the only `V1EndpointPort

[2021-12-20 18:49] roycaihw commented on #1430
/reopen
/remove-lifecycle rotten

[2021-12-20 18:51] roycaihw commented on #1555
Oh I thought the feature request was about kustomize integration:
[code]

If it's about server-side apply, I agree we should support it: https://github.com/kubernetes-client/python/issues/1430

[2021-12-20 19:20] coderanger commented on #1555
I got sent here by a help request on Slack from someone assuming you meant apply was not supported, beyond that I defer to y'all :)

[2021-12-20 21:46] roycaihw commented on #1555
Thanks for the clarification @coderanger!

[2021-12-20 22:07] #1501 closed

[2021-12-21 02:26] karlkfi opened #1662 "Constructing a V1DeploymentSpec raises ValueError: Invalid value for `selector`, must not be `None`"
**What happened (please include outputs or screenshots)**:

Constructing a V1DeploymentSpec (without a selector specified) raises an exception:

[code]

This is from `self.selector = selector` in the constructor, which calls the custom selector setter method, which raises an exception when the selector is None (the default set by `__init__`).

**What you expected to happen**:

Expected `__init__`

[2021-12-21 02:35] karlkfi commented on #1662
Same problem for spec.template.

[2021-12-21 02:47] karlkfi commented on #1662
Looks like these are probably working as intended. `client_side_validation=True` (the default) doesn't allow you to build resources one field at a time. So you have to disable it if you want to construct partial objects.

Solution is to disable client-side validation while building:

[code]

[2021-12-21 02:47] #1662 closed

[2021-12-21 08:59] dulek commented on #1661
Alright, thanks for explanation. Keeping some alias name would probably be best, right now I'm forced to catch AttributeError and fallback to CoreV1EndpointPort [1] in our lib consuming the client. Unfortunately we're unable to just pin the client version as the code got to work with several OpenStack versions, meaning different sets of upper constraints.

[1] https://opendev.org/openstack/kuryr-t

[2021-12-21 12:22] Ramya1507 opened #1663 "Facing connection refused error when trying to access python kubernetes client"
**What happened (please include outputs or screenshots)**:
I am new to the kubernetes python- client and  trying to get the configmap details using python-client . I am running this in kubernetes cluster and  facing the **below** **warning** even though configmap is present in the cluster, can anyone help me on this

**WARNING:urllib3.connectionpool:Retrying (Retry(total=2, connect=None, read=None

[2021-12-21 17:37] roycaihw commented on #1661
I agree keeping alias names will be nice. Some challenges:
1. Detect renames: for each removed model in `kubernetes/client/models/__init__.py`, we should check if a new model with a similar (longer or shorter) name was added-- this challenge also exists if we want to just document the breaking change.
2. Maintain multiple iterations: imagine we keep `V1EndpointPort` as an alias of `CoreV1EndpointP

[2021-12-24 13:39] buptbubble commented on #1355
What's wrong with your format? I have exactly the same problem with you.

[2021-12-24 13:53] wangao1236 commented on #1355
Previously, my PEM file began with "-----BEGIN PRIVATE KEY-----", and it still worked when I used client-go, but not worked when I tried python-client. After I modified to start with "-----BEGIN RSA PRIVATE KEY-----", it worked.
Maybe you can learn more by following the link below: https://stackoverflow.com/questions/20065304/differences-between-begin-rsa-private-key-and-begin-private-key

[2021-12-29 02:38] chenrulongmaster commented on #740
Here is my solution:

[code]

from the outside, use below codes to apply your yaml file

[code]

[2021-12-29 14:00] rradecki-migo opened #1666 "k8s python library cannot connect to k8s cluster from pod through internal k8s api endpoint http://localhost:8080 despite the fact that kubectl works with same config"
**What happened (please include outputs or screenshots)**:
[code]

**What you expected to happen**:
I should get a response object with all available namespaces. Kubectl config with http://localhost:8080 endpoint works well with kubectl but is problematic when loaded from this library.

**How to reproduce it (as minimally and precisely as possible)**:
Shown above.

**Anything else we need to know?

[2021-12-30 14:34] aantn commented on #977
If anyone is still struggling with this, you can do it with [Hikaru](https://hikaru.readthedocs.io/). I'm not affiliated with the project in any way, but I've used it in a [my own](https://github.com/robusta-dev/robusta) open source projects to convert YAML/Json to Python objects and back.

[2021-12-30 14:54] gaby commented on #323
Any updates on this?

[2022-01-05 00:35] alkmim opened #1668 "How to do pagination?"
**Link to the issue (please include a link to the specific documentation or example)**:
No related documentation as far as I know. See description.

**Description of the issue (please include outputs or screenshots if possible)**:
I need to call 'list_pod_for_all_namespaces' method, but in my case I have too many pods. In this case it is not viable to retrieve everything in a single request. How c

[2022-01-06 04:25] fangfenghuang opened #1669 "leadere lection: release lock when error occour and graceful shotdown"
**What happened (please include outputs or screenshots)**:
 causes error during shutdown.

INFO:root:abd7df1c-1077-48e8-a91c-4dd0243c89b9 successfully acquired lease
I am leader now！！！！
INFO:root:Leader has entered renew loop and will try to update lease continuously
INFO:root:leader abd7df1c-1077-48e8-a91c-4dd0243c89b9 has successfully acquired lease
INFO:root:leader abd7df1c-1077-48e8-a91c-4dd02

[2022-01-06 12:47] yutinghua commented on #1236
hey guys，you can solve the problem like this

[2022-01-06 12:52] yutinghua commented on #1236
I hava read the source code, and we can solve the problem by transfer certificate-authority-data to a certificate-authority file like this:
1. transfer "certificate-authority-data" to a file
![image](https://user-images.githubusercontent.com/20547895/148385458-ec77c027-a71f-4ed1-aaa1-3d8c0f1b1ec5.png)
ehoc -n $certificate-authority-data | base64 -d > your_cert_file

2. use certificate-authority fi

[2022-01-06 20:57] jedcunningham commented on #1304
And 3.6 is now EOL.

[2022-01-06 20:57] #1304 closed

[2022-01-09 00:47] joeldeteves opened #1673 "TypeError: 'NoneType' object is not subscriptable, but only on one namespace"
**What happened (please include outputs or screenshots)**:

I apolgize if this is something obvious, but I am far from a Python / coding expert. I am trying to pull `Kind` from `pod.metadata.owner_references`:

[code]
The code works on all pods / namespaces except for one I recently created. For some reason, *only this one instance* returns the following:

[code]

The rest of my namespaces / pods

[2022-01-09 10:01] vemireddy-vaibhav opened #1674 "How to convert V1Ingress object to yaml file?"
I'm trying to convert v1Ingress object to standard yaml file. However comparing the saved file with it's manifest file using `kubectl get ing example -o yaml` shows different files. Any pointers to achieve this?

[code]

[2022-01-10 03:14] showjason commented on #1673
Hi @joeldeteves，maybe this pod is created independently, I mean this pod
does not be controlled by workload like deploy, sts, ds or rs. If so, `pod.metadata.owner_references` will be `noneType`

[2022-01-10 03:20] joeldeteves commented on #1673
@showjason thank you, however it is a Deployment. However I think you have touched on the problem - I had no idea there were certain conditions that could cause this to happen. Do you know of anything else that might trigger it to be listed as a `NoneType`?

[2022-01-10 04:04] showjason commented on #1673
@joeldeteves can you execute kubectl to get the yaml template of this pod? Then check if there is parameter `ownerReferences` in the template

[2022-01-10 04:07] joeldeteves commented on #1673
Hi @showjason yes the `ownerReferences` are there, and I can also reference them as follows:

[code]

Obviously this is not ideal since I need to list all pods and check for their their `Kind`.

It is indeed a headscratcher that I ony have the problem with this one namespace, and only when referencing the `Kind` inside of my *for* loop.

[2022-01-10 04:20] joeldeteves commented on #1673
Hi there @showjason I just figured it out thanks to what you pointed out earlier.

My apologies for making the issue more complicated than it needed to be - it turns out, I am looping thru a list of pods and one of the pods in the list (not the specific one I was looking to extract the data from) is in fact a pod with no deployment type. In other words, you were 100% correct - I just missed it bec

[2022-01-10 04:20] #1673 closed

[2022-01-10 08:49] showjason commented on #1674
Hi @vemireddy-vaibhav , I think it is a normal case,  the enssence of `kubectl` and `kubernetes-client` is calling the kubernetes API.
For `kubernetes-client`, it returns the native data of kubernetes
For `kubectl`, some keys in data of kubernetes will be sanitized by default, such as when you run the script you post above
,you will get data which contains `managedFields`, but `kubectl` will retur

[2022-01-10 09:25] vemireddy-vaibhav commented on #1674
@showjason And it's not possible to set managed-fields to false in-case of `kubernetes-client` ?

[2022-01-10 09:55] showjason commented on #1674
I viewed the source code and did not find the `kubernetes-client` support to set managed-fields to false.

[2022-01-10 09:57] vemireddy-vaibhav commented on #1674
Alright, then looks like I have to use `kubectl` using `subprocess` module for now. Thanks for the help

[2022-01-10 10:46] #1674 closed

[2022-01-11 13:50] GhostInThePotato commented on #962
I'd still like this.
/remove-lifecycle stale

[2022-01-11 14:25] pratapgowda007 opened #1675 "method to replace multiple items of the same custom resource type at once"
**Do we have a method to replace multiple items at once?**:

To list custom resources, we have the **list_cluster_custom_object** method. Similarly, can we have **list_replace_cluster_custom_objects**?
[code]

Below JSON document can be applied using **kubectl apply -f filename.json**. Can we have a method to replace the list of custom resource objects? Or do we have one already?

[code]

[2022-01-12 20:23] emily-chan-git commented on #1660
/kind bug

[2022-01-13 12:05] ZeroSean commented on #1186
I also occurred this problem, is the problem solved?

[2022-01-13 18:09] #1523 closed

[2022-01-15 17:27] glendsoza commented on #1660
I was facing the same issue but interestingly if I wait after `write_stdin` , `21.7.0`  works as expected

`

resp = stream(api_instance.connect_get_namespaced_pod_exec,
              name,
              'default',
              command=['/bin/sh'],
              stderr=True, stdin=True,
              stdout=True, tty=False,
              _preload_content=False)
commands = [
    "echo This message

[2022-01-16 23:49] mitar commented on #1032
/remove-lifecycle stale

[2022-01-17 00:47] mitar commented on #819
/remove-lifecycle stale

[2022-01-17 14:40] 745719408 opened #1678 "Horizontal Pod Autoscalers"
The detailed information of Horizontal Pod Autoscalers can be found by which method?

[2022-01-17 14:48] showjason commented on #1678
python/kubernetes/client/api/autoscaling_v2beta2_api.py , you can find api in this dir "python/kubernetes/client/api/"

[2022-01-17 20:48] coopstah13 opened #1679 "watch custom resources"
**What is the feature and why do you need it**:
I am creating custom resources and want to open a watch to wait for a status on the resources.

**Describe the solution you'd like to see**:
I would like to be able to pass `client.CustomObjectsApi().get_namespaced_custom_object` to the stream method of Watch. Instead I get the error `Got an unexpected keyword argument 'watch' to method get_namespace

[2022-01-18 01:57] 745719408 commented on #1678
thanks, found it

[2022-01-18 08:12] BigFishLi opened #1680 "which api can implement“the bindings subresource of pods”"
**Link to the issue (please include a link to the specific documentation or example)**:

https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/V1Binding.md

**Description of the issue (please include outputs or screenshots if possible)**:
V1Binding
Binding ties one object to another; for example, a pod is bound to a node by a scheduler. Deprecated in 1.7, please use the bindings

[2022-01-18 08:58] showjason commented on #1680
Hi@BigFishLi, I think "bindings subresource of pods" means the subresource like "nodeAffinity", "podAffinity", "nodeSelector" etc.

[2022-01-18 12:18] 631068264 commented on #1249
Why  closed this issue ?!  Who just use py3.6 ?

[2022-01-18 15:19] alfredkrohmer commented on #730
/reopen

[2022-01-20 11:24] Vinayaks439 opened #1681 "Error 'Request' object has no attribute 'openapi_types'"
**What happened (please include outputs or screenshots)**:

Hey, I'm running a script in cloud functions and I get a weird error for this line
`list = kubectl.list_namespaced_pod(namespace=ns)`

Python version: 3.7.12
kubernetes==21.7.0

However if i run the same code in a vm with python version:3.7.3 and kubernetes==21.7.0 i dont get this error

[code]
**What you expected to happen**:
get a list

[2022-01-20 13:30] alfredkrohmer opened #1682 "CoreV1Event fields not correctly serialized, not possible to create node events"
**What happened (please include outputs or screenshots)**:
When trying to submit an event with some optional fields not set (e.g. `reportingComponent`, `reportingInstance`, `action`, `involvedObject.{namespace,uid,resourceVersion}`), the API server returns errors like this:
[code]

As `involvedObject.namespace` cannot be left unset / set to `None`, it's not possible to create events for cluster-sc

[2022-01-20 22:31] melinaurruchua commented on #1264
Both, namespace and pretty, values must be strings. Pretty is not bool
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/AppsV1Api.md

[2022-01-21 03:49] showjason commented on #1682
Hi @alfredkrohmer , for kubernetes, events is a namespaced api resource, so it's impossible to create a cluster-scoped event. You can check it by executing "kubectl api-resources"

[2022-01-23 20:46] torgeirl commented on #1242
/remove-lifecycle stale

[2022-01-25 12:54] cham-d opened #1684 "create_namespaced_custom_object returns 404"
**What happened (please include outputs or screenshots)**:
I tried to use create_namespaced_custom_object but i'm getting HTTP response body: 404 page not found
![image](https://user-images.githubusercontent.com/55649286/150978344-612ca11c-f4bb-4973-bf56-43d9d286a5ad.png)
I use k3d locally.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[code]

`namespace = 'default'`

[2022-01-25 14:46] bpereto commented on #1330
https://github.com/kubernetes-client/python/pull/1584 is merged.
/close

[2022-01-25 21:59] wrsuarez opened #1685 "Unable to create Batch Job "AttributeError: 'str' object has no attribute 'get""
**What happened (please include outputs or screenshots)**:
Following the example here: https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/BatchV1Api.md#example-1

Getting the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.10/site-packages/kubernetes/client/api/batch_v1_api.py", line 204, in create_names

[2022-01-25 22:04] #1685 closed

[2022-01-26 13:32] seanpang-vmware opened #1686 "ws_client.py uses select.poll without checking module existence"
**What happened (please include outputs or screenshots)**:
since version:
Kubernetes API Version: v1.21.7

Bug or Regression
Fixed kubernetes-client/python#741, an issue which prevented Kubernetes cluster api-tokens from exec-plugin auth providers from being refreshed after expiry. (#250, @emenendez)
Use select.poll() for exec on linux/darwin to improve scalability of WSClient (#268, @jsun-splunk)

[2022-01-26 16:47] dingyiyi0226 commented on #740
Is there any update to use dynamic client in `create_from_yaml`?

[2022-01-26 19:18] nanassito opened #1687 "How to pause/resume a rollout"
I couldn't find any documentation about how to do the equivalent of `kubectl rollout pause deployment/x` and `kubectl rollout resume deployment/x` using the Python client.

Is it possible to do? If so is it documented somewhere?

Thanks

[2022-01-26 19:28] nanassito commented on #1687
Nevermind I ended up finding it in https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/deployment-v1/#DeploymentSpec. It is the field `paused`

[2022-01-26 19:28] #1687 closed

[2022-01-26 20:08] zhilongwang opened #1688 "Get cpu and memory usage through in cluster config"
**What is the feature and why do you need it**:
In my current project, I need to monitor some client pods in a server pod, which creates the these pods. The in_cluster_config.py in example/ folder can help me to create and delete pods. However, I did not find any APIs that can help me to monitor the memory and CPU usage just like which can be achieved through "kubectl top pods". I wonder is there

[2022-01-27 01:20] #1570 closed

[2022-01-27 10:25] geek-bit opened #1689 "Kubernetes pod exec using python client not very interactive"
**What happened**:

I am following the official [example](https://github.com/kubernetes-client/python/blob/master/examples/pod_exec.py) to exec into a Kubernetes container using the python Kubernetes-client library.

The above code is able to exec into the container. However, the shell is not very interactive. The issues with it are:-

- Arrow keys do not work. When pressing arrow keys, exec shows

[2022-01-28 12:15] michaelkaye commented on #1557
/remove-lifecycle stale

Checked today that CoreV1API documentation as linked from [here](https://github.com/kubernetes-client/python/blob/master/kubernetes/README.md) to [here](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#connect_delete_namespaced_pod_proxy) still not readable due to raw file size.

[2022-01-31 07:59] Aayush987 commented on #1603
Hi i am new to kubernetes but i want to try to fix this issue .Can somebody explain what to do here?

[2022-01-31 17:47] roycaihw commented on #1663
/assign @yliaog

[2022-01-31 17:49] roycaihw commented on #1666
/assign @yliaog

[2022-01-31 17:50] roycaihw commented on #1668
/assign @yliaog

[2022-01-31 17:50] roycaihw commented on #1669
/assign @fangfenghuang

[2022-01-31 17:52] roycaihw commented on #1675
/assign @yliaog

[2022-01-31 17:52] roycaihw commented on #1678
/close

[2022-01-31 17:52] #1678 closed

[2022-01-31 17:53] roycaihw commented on #1679
/assign

[2022-01-31 17:55] roycaihw commented on #1680
/assign

[2022-01-31 17:56] roycaihw commented on #1681
/assign

[2022-01-31 17:58] roycaihw commented on #1682
/assign @showjason
Thanks!

[2022-01-31 17:59] roycaihw commented on #1684
/assign

[2022-01-31 21:00] yliaog commented on #1675
it has to be done one at a time at the api level. please write a loop and call the api once for each resource in the list.

[2022-01-31 21:01] alfredkrohmer commented on #1682
@showjason the problem is not creating a cluster-scoped event (which I'm not trying to do) but to refer to cluster-scoped resources in the `involvedObject` section of the event.

[2022-01-31 21:01] yliaog commented on #1675
/close

[2022-01-31 21:01] #1675 closed

[2022-01-31 21:04] yliaog commented on #1668
it is the regular request with the extra 'limit' and 'continue' parameter. please see https://containerjournal.com/topics/container-management/introduction-to-using-the-kubernetes-rest-api/

[2022-01-31 21:09] yliaog commented on #1666
does it work if replacing localhost:8080 with 127.0.0.1:8080, or with a remote IP?

[2022-01-31 21:11] yliaog commented on #1663
what does the kube config look like? does it work if you try using kubectl?

[2022-02-01 05:31] alkmim commented on #1668
Thanks @yliaog ! This is exactly what I need! It would be nice if this was also in the kubernetes client docs or at least a reference to it.

[2022-02-01 06:10] pawandeep-uber commented on #1689
Can anyone please give any pointer for the solution?

[2022-02-01 08:51] pawandeep-uber commented on #1176
@roycaihw could you please provide a sample code to wrap the stream call for a bash-like experience during pod exec using python client?

[2022-02-01 17:23] yliaog commented on #1668
agreed. it'll be great if you could open a PR to add doc or reference for it.

[2022-02-03 13:57] rradecki-migo commented on #1666
hi @yliaog
sadly it does not

[2022-02-04 18:41] iciclespider commented on #1689
In my opinion, the exec implementation has serious deficiencies.The one time I needed to perform exec's, I implemented my own handling of it. Here is the method I created, use and modify at your own risk:
[code]

[2022-02-05 04:33] pawandeep-uber commented on #1689
Thanks a lot for the reply.

This code still misses the piece of interactive terminal experience. For example, if I set tty=True and stdin=True and run this code the terminal that I get does not allow arrow keys and instead shows `/ # ^[[A^[[B^[[C^[[D` characters after pressing arrow keys and tab auto-completion do not work as well for commands. Can you please help in solving that missing piece of

[2022-02-05 17:06] iciclespider commented on #1689
The control codes issue has nothing to do with this python kubernetes client. The python `cmd` package provides support for line-oriented command interpreters, and it deals with many of those control characters. See: https://docs.python.org/3/library/cmd.html

[2022-02-06 08:40] mindw commented on #325
/lifecycle stale

[2022-02-06 08:40] mindw commented on #325
/remove-lifecycle stale

[2022-02-06 16:26] zapman449 opened #1693 "urllib3.exceptions.ProtocolError from long lived watch"
**What happened (please include outputs or screenshots)**:

[code]

Code which generated:

[code]

Code I need to add to ^ to handle:
[code]

**What you expected to happen**:

The python client shouldn't surface a urllib3 error, but rather a `KubeApiException` or similar.  Ideally, the watch code would retry internally.

**How to reproduce it (as minimally and precisely as possible)**:

Happens "r

[2022-02-07 21:59] ellieayla commented on #1689
Yeah, everything described here is how https://docs.python.org/3/library/functions.html#input works, and has nothing to do with kubernetes or this library. You can reproduce the observed behaviour locally with `python -c 'while True: x=input(); print("Got", x)'`

[code]

Fancy editor history behaviour (eg up arrow) can be achieved in two ways:

* locally, where _python knows the history, sends not

[2022-02-08 06:30] pawandeep-uber commented on #1689
Thanks, @ellieayla, and @iciclespider. Using https://docs.python.org/3/library/cmd.html locally and sending commands ['/bin/sh', '-c', 'command'] to the remote shell one by one will do the trick for arrow keys.
However, commands involving directories and files will face issues such as cd, cp, etc. Also, editing files in a vi editor won't be possible inside the remote shell as files will exist loca

[2022-02-08 13:51] alfredkrohmer commented on #730
@cliffburdick can you pls reopen this issue?

[2022-02-08 14:03] cliffburdick commented on #730
/reopen

[2022-02-09 01:21] aerilxx commented on #1249
I'm seeing the exactly same error on airflow 2.1.4 and kubernetes==11.0.0 in Composer. Any latest update on how to fix the issue? We can't downgrade to fix the problem

[2022-02-09 02:49] 631068264 commented on #1249
@aerilxx  I use the latest version kubernetes lib can fix. 11.0 is too old . You should try to check if the client send the request as you want because I found CustomObjectsApi  **use default config cover my custom config**         https://github.com/kubernetes-client/python/blob/6b268fb29a6fe2dc9bf3a75331af03cdc306d87c/kubernetes/client/api_client.py#L69

WTF!!! I have to create a custom ApiClien

[2022-02-09 10:56] qiliRedHat opened #1696 "Tunnel connection failed: 407 Proxy Authentication Required"
**What happened (please include outputs or screenshots)**:
I can't connect to my cluster by configuring proxy with kubernetes client of python.
While kubectl can connect successfully with `export http_proxy=http://<proxy-user>:<password>@<proxy host>:<proxy port>`.

Error I got when I list_node with kubernetes client
`urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='api.xxxx.com', port=

[2022-02-10 07:14] showjason commented on #1682
@alfredkrohmer sorry, I misunderstood your point, I tried to reproduce this case, and found that you should remove this line `event_time=datetime.datetime.utcnow().isoformat(timespec='microseconds') + 'Z',`in your code, the event will be created successfully!

[2022-02-10 07:16] showjason commented on #1682
@alfredkrohmer sorry, I misunderstood your point, I tried to reproduce this case, I think  this line `event_time=datetime.datetime.utcnow().isoformat(timespec='microseconds') + 'Z',`in your code should be removed, the event will be created successfully!

[2022-02-10 09:33] showjason opened #1698 "There is no example about rollout for statefulset and daemonset"
**What is the feature and why do you need it**:
I find there is no example about rollout for sts and ds, this is not very convenient for people who are not good at kubernetes, but want to operate kubernetes with python. If necessary, I'd like to do some contributions

[2022-02-10 09:38] gotpist1 commented on #810
I am also struggling with this. Would be a shame if i have to use subprocess instead.

[2022-02-10 12:14] qiliRedHat commented on #1696
I found the following works for me.
[code]

[2022-02-10 12:14] #1696 closed

[2022-02-10 18:50] #1540 closed

[2022-02-10 19:00] zijianjoy opened #1699 "Support for RESTConfigFromKubeConfig to get kubeconfig from byte[]"
**What is the feature and why do you need it**:

In golang, there is an API RESTConfigFromKubeConfig which you can convert byte[] to a restconfig, which can be used to create a Kubernetes client: https://pkg.go.dev/k8s.io/client-go/tools/clientcmd#RESTConfigFromKubeConfig. Do we have similar support in Python?

**Describe the solution you'd like to see**:

I am trying to reach a different cluster

[2022-02-10 19:01] roycaihw commented on #1532
/reopen
/remove-lifecycle rotten

[2022-02-10 20:50] #1535 closed

[2022-02-11 01:15] antonblr commented on #1532
Hey @roycaihw - the issue is that codecov reporting is simply not setup in GHA. Let me know if you're ok to me to take a look (I have something already).

[2022-02-11 01:17] roycaihw commented on #1532
Yes that will be great! Thank you!
/assign @antonblr

[2022-02-11 17:14] #1532 closed

[2022-02-11 17:21] RBCL commented on #1603
/assign

[2022-02-11 18:42] antonblr commented on #1666
@rradecki-migo - are both kubeconfig files have the same content?

You showed `cat ~/.kube/myconfig`, but loading `config.load_kube_config('/root/.kube/migo-staging.config')`
Asking primary because `localhost` works fine for me: (`kubernetes==20.13.0`)

[code]
[code]
[code]

[2022-02-11 23:24] srehaman opened #1702 "gateway Class creation for Python kubernetes"
Hi
I am looking for the the API for gateway and gatewayClass creation using python kubernetes.

[2022-02-12 07:15] showjason commented on #1702
Hi @srehaman, do you mean ingress? If yes, please reference  [networkingAPI](https://github.com/kubernetes-client/python/blob/5e39789ea997ed38ac22f142bd6716d6fea6d65b/kubernetes/client/api/networking_v1_api.py#L39)

[2022-02-14 12:59] OlGe404 commented on #1333
any updates on this?

i'm using python venv to setup the environment to run ansible in with the following specs, but it just doesn't work. I tested the K8S_AUTH_KUBECONFIG and KUBECONFIG envs, with and without each other, and my kubeconfig-file does work when using the kubectl cli.

ansible-galaxy collections:
[code]

pip packages:

[code]

[2022-02-14 17:38] roycaihw commented on #1688
/assign @yliaog

[2022-02-14 17:39] roycaihw commented on #1689
cc @yliaog

[2022-02-14 17:43] roycaihw commented on #1698
That will be great. Thank you @showjason!
/assign @showjason

[2022-02-14 17:44] roycaihw commented on #1702
/assign @yliaog

[2022-02-14 17:51] yliaog commented on #1702
https://gateway-api.sigs.k8s.io/concepts/api-overview/

GatewayClass is regular CRD in Kubernetes, please use CRD APIs to access them

[2022-02-14 17:51] roycaihw commented on #1699
Yes. We have a method to create client from dict. You will need to convert your byte array to a dict (something like base64.b64decode -> yaml.safe_load), then call [new_client_from_config_dict](https://github.com/kubernetes-client/python/blob/d5fffcae05ebdf2ce88a807e1f6ec68159794a4a/kubernetes/base/config/kube_config.py#L870-L885)

[2022-02-14 17:58] roycaihw commented on #1693
The watch client itself doesn't handle retry (so does the watch in client-go).

The right solution is to implement an informer in this client https://github.com/kubernetes-client/python/issues/868, or have something smaller like a [retrywatcher](https://github.com/kubernetes/client-go/blob/master/tools/watch/retrywatcher.go).

cc @yliaog

[2022-02-14 18:10] yliaog commented on #1688
https://kubernetes.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/

the cpu/memory is available in the metrics api (the one that kubectl top uses). please use this python client to access the metrics api to retrieve the cpu/memory info.

[2022-02-14 18:40] yliaog commented on #1663
i noticed that, before the upgrade:
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): 10.43.0.1:443

and after the upgrade:
DEBUG:urllib3.connectionpool:Starting new HTTP connection (1): localhost:80

do you know why is the connection changed from 10.43.0.1:443 to localhost:80 ?

[2022-02-14 22:15] nileshsalpe opened #1710 "How to list nodes in k8s python client with multiple labels?"
**Link to the issue (please include a link to the specific documentation or example)**:

Documentation list for list_node

https://k8s-python.readthedocs.io/en/stable/kubernetes.client.apis.html
or
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#list_node

**Description of the issue (please include outputs or screenshots if possible)**:

I want to list nodes wi

[2022-02-14 23:42] nileshsalpe commented on #1710
As per my experimentation , following works. I expect it should be documented properly

[code]

[2022-02-15 01:48] seanpang-vmware commented on #1686
No, the issue happened because eventlet is monkey patched,  beause select.poll is not thread safe, so eventlet will remove this method after monkey patch. so calling this method will cause "No such module" excpetion.

try this:

import select
from eventlet import monkey_patch
monkey_patch()

select.poll()

[2022-02-15 07:29] Frankkkkk commented on #1005
/remove-lifecycle stale

[2022-02-15 08:38] rameshar16 opened #1712 "How to describe the service endpoints in k8s Python client?"
Hi All,
Is it possible to describe the service endpoints in the k8s Python client?

Thanks and Regards,
Ramesh

[2022-02-15 13:40] showjason commented on #1712
Yes, please refer to function "read_namespaced_endpoints" in [python](https://github.com/kubernetes-client/python)/[kubernetes](https://github.com/kubernetes-client/python/tree/master/kubernetes)/[client](https://github.com/kubernetes-client/python/tree/master/kubernetes/client)/[api](https://github.com/kubernetes-client/python/tree/master/kubernetes/client/api)/core_v1_api.py

[2022-02-15 15:16] rameshar16 commented on #1712
Thank you @showjason.

[2022-02-16 14:37] Akasurde opened #1715 "'self' word in CRD fails with DynamicApiError"
**What happened (please include outputs or screenshots)**:
When trying to create a CRD with `self` keyword in `spec.properties` raises DynamicApiError

[code]

[code]

**What you expected to happen**:
Python library should not fail and create the CRD specified.

**How to reproduce it (as minimally and precisely as possible)**:
Use Python code

[code]

or use

Ansible Playbook -

[code]

**Anything

[2022-02-17 05:36] VanshulB commented on #1668
/assign

[2022-02-17 16:53] frenkdefrog opened #1718 "List_stateful_set_for_all_namespaces"
**What happened (please include outputs or screenshots)**:
Traceback (most recent call last):
  File "/Users/frenkdefrog/DevOps/poc/getresources.py", line 99, in <module>
    main()
  File "/Users/frenkdefrog/DevOps/poc/getresources.py", line 83, in main
    eksResult=eks.retrieveResource(resource, resourceToCheck[resource])
  File "/Users/frenkdefrog/DevOps/poc/basic.py", line 57, in retrieveReso

[2022-02-17 18:17] #1534 closed

[2022-02-17 21:50] obautista opened #1719 "Does Patching a Deployment trigger the Deployment be restarted"
I am using AppsV1Api.patch_namespaced_deployment to add an Annotation.  This is working.  My thought is doing this would trigger the Deployment be restarted.  The restart is not happening.  Is that expected behavior?  Is there a restart Deployment API?

I am using kubernetes==21.7.0

[2022-02-18 01:44] showjason commented on #1719
Hi @obautista , perhaps you can try [this example](https://github.com/kubernetes-client/python/blob/master/examples/deployment_crud.py)

[2022-02-18 13:40] obautista commented on #1719
Hi @showjason.  Thanks for the response.  Existing code below.  It looks like I am setup as such.  Annotation is added/updated, so deployment is in fact patched, but it isnt restarted.  Am I misunderstanding something?

`def __update_deployment(self, existing_deployment):
        try:
            self.__get_kubernetes_config()
            api = client.AppsV1Api()
            current_utc = datetime

[2022-02-18 19:07] obautista commented on #1719
@showjason - thank you.  Example reference was helpful.  It is working now.

[2022-02-18 19:07] #1719 closed

[2022-02-21 02:08] showjason commented on #1718
Hi @frenkdefrog , I don't think this is a bug, this feature `AvailableReplicas` is supported in native kubernetes since version 1.22, you can find it from [here](https://github.com/kubernetes/kubernetes/blob/21c2cf52069eb9d5e2a2e996b20957510b428c86/pkg/apis/apps/types.go#L211).
Since your kubernetes version is 1.21, I propose that you can use kuberentes python-client version 21.0.0 to avoid this i

[2022-02-22 21:24] JohnRusk commented on #868
I'm kind of suprised by how long this has been open, given that the Python client is one of the officially supported ones for K8s.  I had naievely expected that official support would imply approximate feature parity across the different languages, but in tihs case it does not.  (All the other officially supported client libraries, except the Haskel one, have Informer support).

Also, the differen

[2022-02-23 16:18] ckkz-it opened #1723 "Calling NetworkingV1Api().list_namespaced_ingress(namespace=namespace) raises 404 error instead of empty list"
**What happened (please include outputs or screenshots)**:
The call to method `list_namespaced_ingress()` of `NetworkingV1Api` is raising 404 error.
![image](https://user-images.githubusercontent.com/39866850/155359540-23110c86-d301-4342-8096-7026df5c56b2.png)

**What you expected to happen**:
It should return an empty list, as other `list` methods do (e.g. `list_namespaced_config_map`, `list_name

[2022-02-24 02:34] showjason commented on #1723
Hi @ckkz-it , please try this script and it's working in my cluster.
[code]

[2022-02-25 06:36] deep1512 opened #1724 "issue while creating config map using tube python client"
**Link to the issue (please include a link to the specific documentation or example)**:  https://github.com/kubernetes-client/python/blob/master/examples/dynamic-client/configmap.py

**Description of the issue (please include outputs or screenshots if possible)**:

I am trying to create config map and getting issue.

def create_config_map():
    config.load_kube_config()
    v1 = client.CoreV1Api(

[2022-02-25 13:21] ckkz-it commented on #1723
Hi @showjason, thanks for the answer.

Looks like this occurs sometimes even if we have ingresses in the default namespace, but I don't have exact steps for reproducing the issue. I'll try to update once we will have more info.

[2022-02-25 22:49] philipp-sontag-by opened #1726 "Support request timeout in dynamic client"
**What is the feature and why do you need it**:
I would like to use the dynamic client to interact with the Kubernetes API. But at the moment it looks like it is not possible to configure a request timeout for it.

For the normal api client it is possible to configure a timeout via the `_request_timeout` parameter as can be seen here:
https://github.com/kubernetes-client/python/blob/dd7417a0b88937

[2022-02-25 23:02] philipp-sontag-by commented on #1726
Looks like this needs to fixed in python-base. I opened another issue there https://github.com/kubernetes-client/python-base/issues/284.
Sorry for the noise

[2022-02-26 08:13] showjason commented on #1724
Hi @deep1512 , the format of `configmap_manifest` in your code is wrong, please refer to [this doc](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/) to recreate the configmap manifest

[2022-02-28 06:53] deep1512 commented on #1724
@showjason Actually, that is format from official document of product and working fine when applying using kubectl appy command.  I tried another one but that is skipping creation. Can you please provide your input here.

def create_configmap_object():
    # Configureate ConfigMap metadata
    metadata = client.V1ObjectMeta(
        namespace="Default",
    )
    # Get File Content
    with open('

[2022-02-28 09:20] Dignn opened #1727 "Why can't I add probes to the service"
But I think when my probe mode is HTTP, it always prompts me to report an error
I use the v1httpgetaction object. I want to fill in the port. I am prompted to fill in the object type in the source code and documents, but I can't find the object type.
Always remind me:Invalid value for `port`, must not be `None`
I hope you can help me, thank you.

[2022-02-28 12:55] showjason commented on #1727
Hi @Dignn，can you post your code and kubernetes/python-client version here?

[2022-02-28 15:40] motey commented on #1617
Nope, i dont think this is the case

[code]

Output (for me) is:
[code]

[2022-02-28 17:40] roycaihw commented on #1710
/assign @yliaog

[2022-02-28 17:43] roycaihw commented on #1715
/assign @fabianvf

[2022-02-28 17:44] roycaihw commented on #1718
Thanks @showjason. @frenkdefrog Please update your client version and see if the issue is fixed. Thanks!

[2022-02-28 17:45] roycaihw commented on #1723
cc @roycaihw

[2022-02-28 17:47] roycaihw commented on #1724
/assign @showjason
Thank you!

[2022-02-28 17:52] roycaihw commented on #1715
Fabian suggested it might be caused by "self" being a keyword in python, and some special handling might be needed in the dynamic client.

I also wonder if you hit the same issue if you use the custom_object client.

[2022-02-28 17:52] roycaihw commented on #1718
/assign @showjason

[2022-02-28 17:53] roycaihw commented on #1723
Thanks @showjason @ckkz-it. Yes please let us know when you have more info.

[2022-02-28 17:54] roycaihw commented on #1727
/assign @showjason
Thank you!

[2022-02-28 18:32] cansjt opened #1729 "Add support for bookmark events"
**What is the feature and why do you need it**:

In kubernetes-client/python-base#234 the parsing of BOOKMARK events has been bypassed ([and still is as of today](https://github.com/kubernetes-client/python/blob/master/kubernetes/base/watch/watch.py#L103)). But those events exist for a reason and can be useful in some circumstances. A motivational example is this Airflow issue: https://github.com/

[2022-02-28 23:03] yliaog commented on #1710
@nileshsalpe
do you mind to create a PR for an example to document it?

[2022-03-01 06:52] showjason commented on #1724
@deep1512 I think you misunderstand this example :https://github.com/kubernetes-client/python/blob/master/examples/dynamic-client/configmap.py.
In this example, you can see the `data` in `configmap_manifest` is a map(one key and one value which is a type of string ), rather than a nested map like the `configmap_manifest` in your code.
In addition, I guess the nested map for configmap is not suppor

[2022-03-01 06:57] deep1512 commented on #1724
@showjason thank you for reply. Can you please me proper format of above response. I am new programming and didn't understand how I can use it.

[2022-03-01 07:31] showjason commented on #1724
test.yml:
[code]

Please try this script:
[code]

[2022-03-01 17:35] philipp-sontag-by commented on #1726
Reopening this one since the python-base repo is going to be archived.

[2022-03-01 17:45] philipp-sontag-by commented on #1726
/assign

[2022-03-01 23:30] koaps opened #1733 "Recent changes to v1_node_condition.py causing ValueError for MCEHardwareErrors on Oracle OKE cloud platform"
Changes for 23.3.0: https://github.com/kubernetes-client/python/commit/b227345fb27fdee65b3218e0d7af18748d78469d

Includes a hard coded set of conditions which may not include all supported conditions for different cloud providers:

https://github.com/kubernetes-client/python/blob/master/kubernetes/client/models/v1_node_condition.py#L217

On Oracle's OKE cloud platform, it includes an additional co

[2022-03-02 08:46] deep1512 commented on #1724
Hello @showjason <https://github.com/showjason>

Thank you. I tried an example and it did work but I want to check how I can
call this in the main function. Right now cm_obj calling function and
creating the object but i am want to call it in the main function if logic
so it will not create object all the time. Like below. Please help.

def main():

if nsfound == False:
cm_obj = create_configmap_o

[2022-03-02 08:49] deep1512 commented on #1724
full code what i think should work in this way.

[code]

[2022-03-02 10:21] torgeirl commented on #1242
With Monday's 23.x release the Python client have finally caught up the platform, and I guess this issue therefore can be resolved now.

Thanks to @yliaog and the rest of the team for your hard work! :clap:

[2022-03-02 10:29] deep1512 commented on #1724
Closing issue for now. Thank you for all support.

[2022-03-02 10:29] #1724 closed

[2022-03-02 11:55] julianseeger commented on #1733
Same for GCP/GKE:

[code]

This is about pod conditions or pod readiness gates, but it looks to me like is has the same root cause as the node condition issue of @koaps

[2022-03-02 17:14] yliaog commented on #1242
/close

[2022-03-02 17:14] #1242 closed

[2022-03-03 00:48] kpulgam commented on #1733
Piling on here .. Getting similar error in AWS  world in combination with [AWS load balancer controller](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.1/deploy/pod_readiness_gate/) which injects readiness gate to pods .
Below is the error I see :

[code]

[2022-03-03 22:54] #1509 closed

[2022-03-04 02:53] ApproximateIdentity opened #1735 "client.CoreV1Api().list_node() does not work"
**What happened (please include outputs or screenshots)**:

When I run the following script:

[code]

I expect it to list my nodes (running `kubectl get node`works fine), but instead it throws the following error:

[code]

**What you expected to happen**:

I expect it to list the pods

**How to reproduce it (as minimally and precisely as possible)**:

Script found above

**Anything else we need to

[2022-03-04 02:56] ApproximateIdentity commented on #1735
Maybe this is related to this bug:

https://github.com/kubernetes-client/python/issues/1733

I am using GKE by the way, so it seems like this is a problem with gcloud in addition to the other providers in that other bug report.

[2022-03-04 04:52] mk46 opened #1736 "Installation failing due to mismatch of Python and PyYAML"
**What happened (please include outputs or screenshots)**:
Installation failing due to mismatch of python and PyYAML
**What you expected to happen**:
There are two possible solutions:
1) Add Python=>3.6 as per https://pypi.org/project/PyYAML/   or
2) Pin PyYAML to [5.4.1](https://pypi.org/project/PyYAML/5.4.1/)
**How to reproduce it (as minimally and precisely as possible)**:
When using python 2.1

[2022-03-04 08:26] mazzespazze opened #1737 "Missing an example in how to run a "apply -f""
**Link to the issue (please include a link to the specific documentation or example)**:
Most of the resources https://github.com/kubernetes-client, https://github.com/kubernetes-client/python/tree/master/examples are lacking one of the most needed examples: how to perform a `kubectl apply -f file.yaml`

**Description of the issue (please include outputs or screenshots if possible)**:
Currently it

[2022-03-04 17:03] abikouo commented on #1715
@fabianvf  @roycaihw  I tried to submit this PR #1738 to fix that but I need to review the API impact of this change, don't know if other repositories are using this class.

[2022-03-07 10:26] iameskild commented on #1735
I'm also getting a similar error when calling `list_nod()`:

[code]

[2022-03-08 10:23] Dignn commented on #1727
It has been solved now. Thank you for your help.

[2022-03-08 11:43] jesskranz commented on #1735
Hey I added some types that allowed me to list under AKS @ApproximateIdentity @iameskild

https://github.com/kubernetes-client/python/pull/1739

[2022-03-08 17:40] roycaihw commented on #1727
/close

[2022-03-08 17:40] #1727 closed

[2022-03-09 04:56] atulGupta2922 commented on #1718
Kubernetes version (kubectl version): 1.22
OS (e.g., MacOS 10.13.6): Monterey
Python version (python --version): 3.9.10
Python client version (pip list | grep kubernetes):22.0.4

I am also facing the same issue.
list_namespaced_stateful_set also gives the same error

[2022-03-09 06:10] showjason commented on #1718
Hi @atulGupta2922 , please follow this [comment](https://github.com/kubernetes-client/python/pull/1717#issuecomment-1057060674) to debug your issue, to check if kubernetes responded with `available_replicas `.
BTW, I do not find kubernetes-client version 22.0.4, can you check it again?
<img width="803" alt="image" src="https://user-images.githubusercontent.com/27723125/157379219-d2a6cca1-0bc6-46bd

[2022-03-10 01:36] roycaihw commented on #1735
Thanks for bringing this to our attention. It's a regression and we are fixing it: https://github.com/kubernetes-client/python/pull/1739#discussion_r823255444

[2022-03-10 16:49] heresie commented on #1663
Seems related to https://github.com/kubernetes-client/python/issues/1530

[2022-03-10 18:09] #1565 closed

[2022-03-11 01:21] geotransformer opened #1740 "api request hang and stuck"
**What happened (please include outputs or screenshots)**:
ubuntu@xxxx-control-plane-1:~ kubectl logs -n foo xxx-controller-bc4db5d46-h594h
2022-03-10 23:43:49.065 INFO __main__: Check Apiserver connection
2022-03-10 23:43:51.946 WARNING urllib3.connectionpool: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.co

[2022-03-11 03:18] #1564 closed

[2022-03-12 05:09] Gabrielmadrid73 commented on #618
@kevinburke I had this same problem, looking for a example. I solved it creating body this way:

[code]

I hope help someone!

[2022-03-12 23:22] rittneje commented on #1530
/remove-lifecycle stale

[2022-03-13 22:24] roycaihw opened #1742 "Move kubernetes/test/test_api_client.py to a different place"
[kubernetes/test/test_api_client.py](https://github.com/kubernetes-client/python/blob/6c90fe3182adc0f3e1a351a0993d3159322b2c80/kubernetes/test/test_api_client.py) doesn't play well with the [release process](https://github.com/kubernetes-client/python/blob/6c90fe3182adc0f3e1a351a0993d3159322b2c80/scripts/release.sh#L206).

/assign

[2022-03-14 09:11] Huanxin-leolil opened #1744 "client.read_namespaced_pod does not work via pod is created by CRD resource"
**What happened (please include outputs or screenshots)**:
When I run the following script:
[code]

I got error:
[code]

**What you expected to happen**:
I expect show the pod.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
my pod is created by CRD resource, so `InPlaceUpdateReady` status is custom properties.

**Environment**:
- Kubernetes

[2022-03-14 09:21] Huanxin-leolil commented on #1744
I run the following script ,status value show it
`kubectl -n qa-test get pod ists-1 -oyaml`

[code]

[2022-03-14 13:16] showjason commented on #1744
This issue is similar to #1735.
The workaround is adding  all of the customized pod status  like `InPlaceUpdateReady` into [allowed_values](https://github.com/kubernetes-client/python/blob/6c90fe3182adc0f3e1a351a0993d3159322b2c80/kubernetes/client/models/v1_pod_readiness_gate.py#L76)

[2022-03-15 00:49] jearls opened #1746 "minor issue with `requirements.txt`"
There is a requirement to have `setuptools` installed _when running `setup.py`_; however, `setuptools` is *not* required to actually run the client, as far as I can tell.  From my understanding, `setuptools` should not be part of `requirements.txt` if it's only used for building and is not needed in the distributed form.

[2022-03-16 04:29] RonMallory opened #1748 "spec.volumes[0].gitRepo deprecated in v1.11 in examples/noteooks/docker/jupyter.yml"
**What happened (please include outputs or screenshots)**:
in examples/notebooks/docker/jupyter.yml  Warning: spec.volumes[0].gitRepo: deprecated in v1.11
`kubectl create -f examples/notebooks/docker/jupyter.yml
service/jupyter created
Warning: spec.volumes[0].gitRepo: deprecated in v1.11
pod/jupyter created`

**What you expected to happen**:

The pod and service should have been created

**How to

[2022-03-16 08:16] showjason commented on #1744
/assign

[2022-03-16 10:07] f4z3r opened #1750 "list_namespaced_custom_object() enforces namespace, does not allow listing across namespaces"
**What is the feature and why do you need it**:

When listing namespaced custom resources via `list_namespaced_custom_object`, a namespace needs to be provided. However the Kubernetes API provides an endpoint to list resources across namespaces, useful for performing label selection across the entire cluster.

**Describe the solution you'd like to see**:

Make the `namespace` argument to the funct

[2022-03-16 15:09] HaoYunJi opened #1751 "v1_stateful_set_status.py may should not raise valueError for available_replicas"
When i use **list_namespaced_stateful_set** function like below:

[code]

It will **raise error** like :
[code]

I think it may should not raise error for available_replicas when it is None ?

[2022-03-16 16:13] motey commented on #1617
@roycaihw
Can we label this as a bug?

[2022-03-16 20:46] mazinesy commented on #1737
Adding [server side apply doc](https://kubernetes.io/docs/reference/using-api/server-side-apply/)

[2022-03-17 00:31] roycaihw commented on #1617
@motey You're right. Thanks for verifying the behavior!

I wonder if we can check the HTTP requests and responses to tell what caused the difference.
- in the python client you need to enable [debug logging](https://github.com/kubernetes-client/python/blob/74952467e78b651742b7b5bf03594bf41eb8b158/examples/deployment_crud.py#L152-L155)
- in kubectl you can use the verbose flag (e.g. `-v=9`)

[2022-03-17 01:26] RonMallory commented on #1737
I have submitted a PR adding additional examples for using utils.create_from_directory and utils.create_from_yaml.

I believe this is some of the functionality that you are looking for an examples of.

It will not be the full functionality of kubectl apply -f but it gives you a better example than what was previously up there.

[2022-03-17 01:29] showjason commented on #1751
Please refer to this issue #1718

[2022-03-17 02:11] HaoYunJi commented on #1751
OK, thanks. got it.

[2022-03-17 16:23] schantier commented on #1684
Hi,

I have the same problem with custom sealed-secrets,

[code]

I also get the error with the example
https://github.com/kubernetes-client/python/blob/master/examples/namespaced_custom_object.py

Does anyone have the solution?

[2022-03-17 17:49] bobh66 opened #1753 "WSClient.update() fails on select.poll() when running in eventlet on Linux"
**What happened (please include outputs or screenshots)**:

WSClient.update() was modified by PR https://github.com/kubernetes-client/python-base/pull/268 to use select.poll() instead of select.select, which breaks when running under eventlet on Linux:

  File "/usr/local/lib/python3.8/site-packages/kubernetes/stream/ws_client.py", line 182, in update
    poll = select.poll()
AttributeError: modul

[2022-03-17 17:49] bobh66 commented on #1753
/assign

[2022-03-18 07:58] felixhuettner commented on #1658
/remove-lifecycle stale

[2022-03-18 10:33] sybnex commented on #1733
Same for Azure/AKS

```ValueError: Invalid value for `type` (ContainerRuntimeProblem), must be one of ['DiskPressure', 'MemoryPressure', 'NetworkUnavailable', 'PIDPressure', 'Ready']
[code]

[2022-03-18 16:59] zffocussss opened #1755 "create_namespaced_job with resource limits/requests are always same"
**What happened (please include outputs or screenshots)**:
job is created by create_namespaced_job,with only resource limits is defined,but the resource requests are the same as limits all the time,even though only resource limit is set on job
**What you expected to happen**:
the resource requests should be not set

**How to reproduce it (as minimally and precisely as possible)**:
create_namespace

[2022-03-19 01:43] showjason commented on #1755
Please refer to [Requests and limits](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#requests-and-limits)
BTW, I suggest that kubernetes-client version should be higher than 21.0.0 instead of 18.20.0, since your kubernetes version is 1.22.1

[2022-03-19 04:39] #1559 closed

[2022-03-19 05:18] zffocussss commented on #1755
I know that resource requests and limits,and tried to configure them explicitly through parameters,but it does not work

[2022-03-19 05:18] archanabs19 opened #1756 "create_namespaced_config_map throws ConfigMap in version \"v1\" cannot be handled as a ConfigMap: v1.ConfigMap.Data: ReadMapCB: expect { or n, but found \", error found in #10 byte of ...| \"data\": \"[\\n {\\n|..., bigger context ...|{\"apiVersion\": \"v1\", \"data\": \"[\\n {\\n \\\"name\\\": \\\"test-eas-configmap\\\"|...""
Hello,

I'm trying to create a configmap using _create_namespaced_config_map_ method.  It is throwing the below error:

[code]

My code:

[code]

The file content looks like this:
[code]

I'm not sure why I'm getting the above error. Please help here.

[2022-03-19 07:56] dbdocker opened #1757 "The problem with creating multiple resource objects using YAML"
Error:
![image](https://user-images.githubusercontent.com/66933220/159112864-e4945923-6e6a-47d9-8ed7-f301fa3dfeb5.png)

Source code:
![image](https://user-images.githubusercontent.com/66933220/159112923-7c754bb4-5224-4135-8260-b4172c0d84e2.png)

[code]

Only one Deployment object can be created. No other objects can be created.

[2022-03-19 09:14] showjason commented on #1755
It's working in my cluster, can you try your job  by `kubectl` to verify this issue?

[2022-03-19 09:37] zffocussss commented on #1755
I do not use kubectl to creat job. I am using client.BatchV1Api and  create_namespaced_job with python k8s sdk

[2022-03-19 13:03] showjason commented on #1755
I know you use SDK, I mean you can use `kubectl` to create your job, then compare this job with the job created by SDK to verify your Job configuration.
Or you can post your complete job configuration here.

[2022-03-19 16:45] zffocussss commented on #1755
[code]

[2022-03-20 01:30] showjason commented on #1755
In your configuration, only resource limit is specified. I still suggest you refer to [Requests and limits](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#requests-and-limits), please read the `Note` carefully!
[code]

[2022-03-20 16:51] #1546 closed

[2022-03-21 10:45] ottokruse opened #1758 "CoreV1Api.md not viewable in GitHug -- too big"
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md

Shows:

<img width="497" alt="image" src="https://user-images.githubusercontent.com/6275520/159245456-18d1afeb-b615-4f39-9f3a-c38ad731aa35.png">

Which is unfortunate because now I have to open an external MD viewer. Is this something you folks can fix, e.g. by splitting out?

[2022-03-22 12:49] Rudy-Han opened #1759 "How to get Allocated resources of node. Like kubectl describe node ***"
Hi all, I can get Allocated resources info by kubectl describe node [node_name].
But read_node and read_node_status didn't give me those info I need.

[2022-03-22 13:21] Akasurde commented on #1710
/assign @Akasurde

[2022-03-22 15:35] motey commented on #1617
@roycaihw Sure no problem

[code]
output of `get_kind_of_first_deployment_via_python_lib()`

[code]
Output of `get_kind_of_first_deployment_via_kubectl()`

[code]

[2022-03-22 15:36] motey commented on #1617
anything else i can do?

[2022-03-23 01:47] Akasurde commented on #1736
@mk46 Thanks for reporting this issue. You are using Python 2.7.17 version instead of Python 3.6 or above which is a hard requirement for the Pyyaml project. You need to update the Python version and re-try.

[2022-03-23 10:36] DanArlowski opened #1760 "pod condition_type values are not consistent with actual possible values of kubernetes"
**What happened (please include outputs or screenshots)**:
when trying to fetch pods (namespaced, cluster wide, or a single pod),
when the pod status is not `['ContainersReady', 'Initialized', 'PodScheduled', 'Ready']`
an exceptions is raised:
[code]

**What you expected to happen**:
The running pods in the namespace have the following Statuses:
`Terminating Running Pending ImagePullBackOff ErrIma

[2022-03-23 14:30] showjason commented on #1756
Maybe you are not very familiar with configmap, you can learn it from [configmap doc](https://kubernetes.io/docs/concepts/configuration/configmap/), or you can refer to #1724 to get more info

[2022-03-23 18:15] xuejiezhang commented on #1148
Hi Nik, is this issue resolved? I got the same error. Thanks, Jeff

[2022-03-23 22:33] xuejiezhang commented on #124
I got the same issue. is it fixed or any workaround?

[2022-03-24 04:24] #1736 closed

[2022-03-24 07:46] tyrken commented on #1475
Probably fixed by https://github.com/kubernetes-client/python-base/pull/267 and https://github.com/kubernetes-client/python/pull/1631

[2022-03-24 07:47] tyrken commented on #1475
/close

[2022-03-24 07:47] #1475 closed

[2022-03-24 08:57] showjason commented on #1760
Is this pod created by Custom Resource, `www.dmlhgrdtdhzerjqa.com` this condition type is customized?

[2022-03-24 09:18] NikPaushkin commented on #1148
@xuejiezhang Hi, This is the expected behavior. I've made own implementation of the reconnect, nothing else to do here until #868 closed.

[2022-03-24 09:55] showjason commented on #1759
Hi Rudy-Han, the function `read_node` or `read_node_status` only sends a request to kube-apiserver,  then kube-apiserver gets the data from etcd and responses the request with the collected data. However, `Allocated resources` is not recorded in etcd, it is computed by `kubectl describe`. `kubectl describe` collects the total `Allocated resources` of every pod running in the specified node. You ca

[2022-03-24 10:29] DanArlowski commented on #1760
@showjason  - This pod is from a standard deployment, but the deployment is not running (createconfigError, createSecretError, unknownpodstatus, etc)

this endpoint is not coming from the pod AT ALL - that means this pod is created using a standard apps/v1 deployment, and is managed by a replicaset, this domain exists in the python generated structure, but not in yaml defnitino of the pod AT ALL,

[2022-03-24 10:36] dpfeif commented on #1372
FYI & for anybody landing here as I did, I checked in v1.22.3 and the kubectl command calls the `/api/v1/namespaces/{namespace}/pods` and gets a list of all the pods (and the claims they use) in order to provide that information.

[2022-03-24 18:40] #1486 closed

[2022-03-24 19:40] osanchez42 opened #1761 "Failed/Terminated cluster resources not returned in API"
correct me if im wrong, or inform me if I am missing a parameter to display these resources, but terminated resources do not get returned off of list api endpoints when they are terminated/failed. Iv'e used kubectl to do comparisons and while I do see them on the CLI this API does not return them.

[2022-03-25 05:36] showjason commented on #1760
@DanArlowski, you can describe this pod or get the pod's  yaml template by `kubectl` to get more detailed info. Especially focus on `Condition` and `ownerReference`

[2022-03-25 09:03] zhangguanzhang opened #1762 "ValueError: Invalid value for `spec`, must not be `None` when use client.V1SelfSubjectRulesReview()"
**What happened (please include outputs or screenshots)**:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (`kubectl version`):
- OS (e.g., MacOS 10.13.6):
- Python version (`python --version`) Python 3.7.8
- Python client version (`pip list | grep kubernetes`) k

[2022-03-25 12:07] motey commented on #1471
/remove-lifecycle rotten

[2022-03-25 20:52] roycaihw commented on #1421
/remove-lifecycle rotten

[2022-03-28 07:14] dingyiyi0226 opened #1764 "Support pod execute api for dynamic client"
**What is the feature and why do you need it**:
I want to use dynamic client for executing commands in pods (api: `connect_get_namespaced_pod_exec`).
Similar to this [example](https://github.com/kubernetes-client/python/blob/master/examples/pod_exec.py) but using the dynamic client.

**Describe the solution you'd like to see**:
Add new functions for dynamics clients for discovering this api.

[2022-03-28 16:42] roycaihw commented on #1729
Agreed this is nice to have.

/help

[2022-03-28 16:44] roycaihw commented on #1733
This is being fixed in upstream. We will cut a new 1.23 client to backport the fix once the PR https://github.com/kubernetes/kubernetes/pull/108740 is merged

[2022-03-28 16:44] roycaihw commented on #1737
Thanks @RonMallory
/close

[2022-03-28 16:44] #1737 closed

[2022-03-28 16:47] roycaihw commented on #1740
It's hard to tell what went wrong from the error message along. It's a networking connection issue. If you could manually reproduce the issue or provide more details we may be able to help more.

[2022-03-28 16:48] roycaihw commented on #1744
This is being fixed in upstream. We will cut a new 1.23 client to backport the fix once the PR https://github.com/kubernetes/kubernetes/pull/108740 is merged

[2022-03-28 16:50] roycaihw commented on #1746
Could you verify if the installation still works with the requirement removed? If that's the case, would you like to send a PR? Thanks!

[2022-03-28 16:52] roycaihw commented on #1750
kubectl supports listing across all the namespaces but I'm not sure if it's implemented client-side or server-side. Could you check what API kubectl calls by running `kubectl list {custom_resource} -A -v=7`?

[2022-03-28 16:53] roycaihw commented on #1751
/assign @showjason

[2022-03-28 16:55] roycaihw commented on #1755
/assign @showjason

[2022-03-28 16:55] roycaihw commented on #1756
/assign @showjason

[2022-03-28 16:57] roycaihw commented on #1757
Could you verify if applying the file with `kubectl apply -f` works?

[2022-03-28 16:58] roycaihw commented on #1758
This is a Github issue. There is not much we can do.
/close

[2022-03-28 16:58] #1758 closed

[2022-03-28 16:59] roycaihw commented on #1759
/assign @showjason
You could also check what API kubectl calls using `-v` flag.

[2022-03-28 17:00] roycaihw commented on #1761
Could you check what API / parameters kubectl uses with `-v=9` flag? Thanks

[2022-03-28 17:19] roycaihw commented on #1760
This is being fixed in upstream. We will cut a new 1.23 client to backport the fix once the PR https://github.com/kubernetes/kubernetes/pull/108740 is merged

[2022-03-29 07:06] f4z3r commented on #1750
It is implemented server-side. Namespced custom resources offer the `/apis/<domain>/<version>/<crd>` endpoint. See below (with CrunchyData's PostgresCluster as a CRD):

[code]

[2022-03-29 11:17] ptsp01 opened #1766 "read_namespaced_job_status doesn't report failed job"
**What happened (please include outputs or screenshots)**:
I'm using python client to receive job status from kubernetes API. However it seemed like it doesn't report job status properly.

**Actual**
`status.failed` is `None`

**Expected**
`status.failed` should be not `None`

[code]

[code]

This is the payload received using `kubectl`
`kubectl get jobs -n prefect test`
[code]

**Environment**:
-

[2022-03-29 21:23] mbhainsdev commented on #1350
@jordyvaneijk how are you parsing the yaml try giving body as simple  json
`my_resouces = {
            "apiVersion": "customcrd.co/v1",
            "kind": "mycustomcrd",
            "metadata": {
                "name": "customdata"
            },
            "spec": {
                "version": "8.1.1",
                "nodeSets": [
                {
                    "name": "default",

[2022-03-29 23:55] roycaihw commented on #1750
Thanks @f4z3r! Agree we need a method for the API. This can be fixed in the [openapi spec](https://github.com/kubernetes-client/gen/blob/master/openapi/custom_objects_spec.json) we use to generate the custom_object API.

Would a `list_custom_object_for_all_namespaces` solve your needs? That naming seems more consistent with [other APIs](https://github.com/kubernetes-client/python/blob/master/kuber

[2022-03-30 06:42] f4z3r commented on #1750
Yes, such a method would be fine. I guess it depends whether you want to make a distinction between namespaced and cluster level custom objects. I realize that in terms of the python client there is little difference, but logically they are treated very differently by Kubernetes. If such a distinction is desired, I would name the method `list_namespaced_custom_object_for_all_namespaces`, such that

[2022-03-30 11:14] aviresonai commented on #1740
We expirience a similar (and reporducable) problem with read_namespaced_stateful_set
This is a regression in release 23.3.0  (22.6.0) works fine
our code runs on GKE version  1.20.15-gke.1000 inside a pod and looks like
[code]
the call to read_namespaced_stateful_set never returns

[2022-03-30 14:49] showjason commented on #1766
/assign
Hi @ptsp01, please try this command `kubectl get jobs -n prefect test -ojson`, usually, it will show `failed: 1` like below
<img width="525" alt="image" src="https://user-images.githubusercontent.com/27723125/160860652-4749ff47-37f4-42a2-b25b-b361ab8e5667.png">

[2022-03-30 18:50] mindw commented on #323
/remove-lifecycle stale

[2022-03-30 19:01] roycaihw commented on #323
/lifecycle frozen

[2022-03-30 20:42] roycaihw commented on #1750
I like that, and I'd love to express that in [our openapi spec](https://github.com/kubernetes-client/gen/blob/master/openapi/custom_objects_spec.json). However reading https://github.com/apigee-127/sway/issues/32 it seems impossible to achieve in openapi.

Agree there are two approaches, using one method for both cases v.s. having two methods. As you pointed out changing the name of the existing m

[2022-03-31 00:54] Jefftree commented on #1603
Hi, just want to give a quick update around OpenAPI V3. OpenAPI v3 is now beta in kubernetes and will be enabled by default. The spec is split by group/version and the discovery endpoint can be found at `/openapi/v3`.

We also have generated files committed to the k/k repo split by group version. IntOrString is properly defined in OpenAPI V3 (https://github.com/kubernetes/kubernetes/blob/master/ap

[2022-03-31 05:28] aviresonai commented on #1740
Tried the debug option and it hep me understand that
1. the hung issue was related to our logging and not to kubernetes driver
2. The actual issue is that 23.3.0 throws an exception on this API (which we havent seen on previous versions) - below is the actual exception stack trace

2022-03-31 05:20:40,915 - yowza.yapi.k8s.k8s_cluster_facade(140490894980928) - k8s_cluster_facade.py:544 - INFO - cal

[2022-03-31 21:13] iridian-ks opened #1767 "[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get issuer certificate | Rancher EKS Cluster"
**What happened (please include outputs or screenshots)**:

Here's me using `kubectl`. I'm just expecting the equiv. Python to work.

[code]

My attempt at doing the same thing in Python and getting different results.

[code]

OK, doesn't work. Let's try loading the kube_config directly.

[code]

OK, digging through Github issues I came across #1622 which leads to #36
I can try that...

[code]

OK

[2022-03-31 22:01] iridian-ks commented on #1767
This is how I was able to connect:

[code]

Not ideal, but glad I was able to get it to work. I suppose I was expecting this to be handled for me. :(

[2022-04-01 02:54] HenryBeWell commented on #1195
Hi~
can you tell me which your python's version is?
when i use the CustomObjectsApi to create snapshotclass, it occurs error : kubernetes.client.exceptions.ApiException: (404)

[2022-04-01 07:03] ptsp01 commented on #1766
Thanks, but doing that in cli doesn't help the python implementation. How can I workaround this in `kubernetes-client`?

[2022-04-01 09:40] waldner opened #1768 "Random 401 with BoundServiceAccountToken"
**What happened**:

With the new bound service account token feature (ie the token in `/run/secrets/kubernetes.io/serviceaccount/token` is periodically rotated), it looks like sometimes the library is not able to pick up the new values of the token.

**How to reproduce it (as minimally and precisely as possible)**:

Have the following code running in a pod with a projected volume created by the fe

[2022-04-01 11:46] #1759 closed

[2022-04-01 13:18] showjason commented on #1766
The purpose of using CLI is getting job status from kubernetes directly, compare it with the printout of your script. Consider your python client version is 23.3.0 higher than kubernetes version, you can try to degrade the python client version to 21.0 or lower, because I run your scrip on my test cluster(kubernetes 21.1, python client 18.0) and got the right response.

[2022-04-01 20:41] roycaihw commented on #1740
Thanks @aviresonai! Interesting, not sure if @geotransformer hit the same issue.

That is almost certainly a similar issue to https://github.com/kubernetes-client/gen/issues/52. Reading the [k8s API](https://github.com/kubernetes/kubernetes/blob/978d9683f5c253cf62225dc0656c0bfeb2a7d339/staging/src/k8s.io/api/apps/v1/types.go#L283-L285), it looks like the field used to be optional, but in https://g

[2022-04-03 10:03] aviresonai commented on #1740
Thanks @roycaihw , I am not sure how to describe this as n API error (the API version we use is older then the client and at that time this field was not mandatory) yet , working with older versions of the API seems like a requirment for the client library not for the API

[2022-04-03 20:54] aquam8 commented on #1760
I think the upstream PR are merged, and the new client build could happen now, thank you in advance!

[2022-04-04 09:21] Akasurde commented on #1715
Closing this issue as PR #1738 is merged. Thanks, everyone.

[2022-04-04 09:21] #1715 closed

[2022-04-04 09:52] robcxyz commented on #1168
@adammrozik - Looks like they just merged an example https://github.com/kubernetes-client/python/pull/1752/files

[2022-04-04 16:43] roycaihw commented on #1740
The fix will be in the upstream openapi spec, and eventually land in this python client. You're correct that we won't change the server's behavior. Here is an example: https://github.com/kubernetes/kubernetes/pull/64996

[2022-04-05 17:00] roycaihw commented on #1682
Could you enable [debug logging](https://github.com/kubernetes-client/python/blob/c66a39108b06091417cdbcd408d6e3d037b446fe/examples/deployment_crud.py#L152-L155) and share the log (the request body)?

[2022-04-06 10:12] alfredkrohmer commented on #1682
[code]

[2022-04-06 12:53] Usuychik commented on #1735
Seems it is merged. Any info than fix will be available?

[2022-04-06 14:37] vm250320 commented on #1151
urllib3.exceptions.MaxRetryError: HTTPConnectionPool(host='localhost', port=4723): Max retries exceeded with url: /wd/hub/session (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x0000013446F09D80>: Failed to establish a new connection: [WinError 10061] No connection could be made because the target machine actively refused it'))

Process finished with exit code 1

Gett

[2022-04-06 16:08] roycaihw commented on #1735
Yes, I plan to cut a new release this week.

[2022-04-06 16:15] roycaihw commented on #1682
https://github.com/kubernetes-client/python/issues/1682#issuecomment-1090095578 I thought it would print the request body. Was it printed before the first line?

[2022-04-06 21:07] spleeeen opened #1770 "CoreV1APi.create_namespaced_pod() always sets "image_pull_policy" to "NotIfPresent""
**What happened**:
Function works as intended and sets every other value of large nested pod definition (the body arg). However, as seen in the V1Pod return value, it sets the all container.image_pull_policy values to "NotIfPresent" in the pod.spec.containers array.  `kubectl applying`ing the generated yaml with this value changed to 'Always' succeeds in persisting it. Problem only occurs when usi

[2022-04-07 03:06] zxl00 commented on #1723
i  try this script  but this error

 kubernetes.client.exceptions.ApiException: (404)
Reason: Not Found
HTTP response headers: HTTPHeaderDict({'Content-Type': 'application/json', 'Date': 'Thu, 07 Apr 2022 03:04:39 GMT', 'Content-Length': '174'})
HTTP response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"the server could not find the requested resource","reas

[2022-04-07 06:17] showjason commented on #1770
/assign

[2022-04-07 07:52] showjason commented on #1770
Hi @spleeeen , please refer to this [example](https://github.com/kubernetes-client/python/blob/release-21.0/examples/deployment_crud.py), it is similar to your case.
The attributes of pod belong to different models, they must be converted to model object, then unmarshal the model object into Go struct.

[2022-04-07 08:12] iamkarlson commented on #1733
Is there any mitigation available while a permanent fix is being developed yet?

[2022-04-07 12:52] alfredkrohmer commented on #1682
No, that's the whole output

[2022-04-07 19:08] #1604 closed

[2022-04-07 19:08] #1613 closed

[2022-04-07 21:10] #1612 closed

[2022-04-07 21:15] spleeeen commented on #1770
[code]
<img width="735" alt="image" src="https://user-images.githubusercontent.com/40253103/162309964-8866160e-b555-47cd-85a8-631975be0b9b.png">

After changing the code to use the client's objects it still exhibits the same behavior. Everything from the pod name to the resources and environment variables are set as specified with the exception of image_pull_policy, which is set to 'IfNotPresent'

[2022-04-07 22:09] spleeeen commented on #1770
Not sure how but it worked after switching the image tag it was using to create the pod's container? Thanks

[2022-04-08 12:45] yannickperrenet opened #1772 "Required `time.sleep(...)` to get expected result when calling `get_namespaced_custom_object` after create"
**What happened (please include outputs or screenshots)**:
[code]

Would output:
[code]
**What you expected to happen**:
Output of:
[code]
which can be achieved by commenting the `time.sleep(1)` in the code sample.

**How to reproduce it (as minimally and precisely as possible)**:
See above.

**Anything else we need to know?**:
Ran similar code using the Go SDK which did output the expected result

[2022-04-08 14:46] yannickperrenet commented on #1679
I'd also like to have this behavior, but it seems like currently the
`GET /apis/{group}/{version}/namespaces/{namespace}/{plural}/{name}` endpoint does not support the `follow` or `watch` query argument.

Any update on this? @roycaihw :smiley:

[2022-04-08 16:31] roycaihw commented on #1589
/remove-lifecycle rotten

[2022-04-08 21:59] roycaihw commented on #1626
Fixed by https://github.com/kubernetes-client/python/pull/1697
/close

[2022-04-08 21:59] #1626 closed

[2022-04-09 00:11] roycaihw opened #1773 "Cut a new 1.23 client"
... when https://github.com/kubernetes/kubernetes/pull/108740 is available in a k8s patch release

The latest 1.23 patch release ([1.23.5](https://github.com/kubernetes/kubernetes/releases/tag/v1.23.5)) doesn't have https://github.com/kubernetes/kubernetes/pull/108740 yet. Presumably it will be included in 1.23.6.

[2022-04-09 00:13] roycaihw commented on #1760
The new client can be generated when the upstream cuts a new patch release. Tracking in https://github.com/kubernetes-client/python/issues/1773.

[2022-04-11 03:49] everpeace commented on #1733
We faced the issue too.  We would like to know a workaround until a new version will be released.

[2022-04-11 16:35] roycaihw commented on #1762
/assign

[2022-04-11 16:36] roycaihw commented on #1764
/assign @fabianvf

[2022-04-11 16:40] roycaihw commented on #1766
/assign

[2022-04-11 16:40] roycaihw commented on #1766
/assign @showjason

[2022-04-11 16:43] roycaihw commented on #1767
/assign @yliaog

[2022-04-11 16:45] roycaihw commented on #1768
/assign @yliaog

[2022-04-11 16:48] roycaihw commented on #1770
/assign @showjason
Thank you!

/close

[2022-04-11 16:48] #1770 closed

[2022-04-11 16:55] jeid64 opened #1774 "ExecPlugins are broken when using KubeConfigs loaded from dict"
**What happened (please include outputs or screenshots)**:

We use https://github.com/kubernetes-client/python/blob/master/kubernetes/base/config/kube_config.py#L820 to load Kubeconfigs from memory in Python, these Kubeconfigs have a configuration to use an Exec plugin to get an auth token (specifically we are trying to auth with an EKS cluster.)

https://github.com/kubernetes-client/python-base/p

[2022-04-11 16:55] jeid64 commented on #1774
@aschleck

[2022-04-11 17:30] roycaihw opened #1775 "Document debug logging"
Document how to use [debug logging](https://github.com/kubernetes-client/python/blob/51c481692ab0d9c71b9dd96342bfa93b721b029d/examples/deployment_crud.py#L153-L155) to show request and response, in a dev doc.

[2022-04-11 17:32] roycaihw commented on #1762
The error message suggests that the field is required and should not be none. @zhangguanzhang Is there any reason that you believe it should be optional?

Could you enable [debug logging](https://github.com/kubernetes-client/python/blob/51c481692ab0d9c71b9dd96342bfa93b721b029d/examples/deployment_crud.py#L153-L155) to print the request and response, and share the log with us?

[2022-04-11 17:36] roycaihw commented on #1766
@ptsp01 In your https://github.com/kubernetes-client/python/issues/1766#issue-1184705898, `status.failed` is `None` in both the Python client and kubectl (note that in kubectl, the field gets omitted). Any reason that you expect the Python client to show a different result?

[2022-04-11 18:23] yannickperrenet commented on #1772
Of course, my apologies for not being clear at first. What you can see from both responses (the current response and expected response) is that the current response does not include some information such as the top-level `status` entry (`'status': {'message': 'Deploying Argo', 'state': 'DeployingArgo'}`). Probably because I instantly get the object instead of waiting (probably why the `time.sleep(

[2022-04-11 18:45] roycaihw commented on #1772
It's working as intended for the server to return the object with no status. What you want is to wait for the status to get populated (likely by some other controller running in the cluster). The go client didn't have this problem probably due to a race condition.

What you can do is to:
- sleep and poll the object (what you did)
- run a watch to check the status-- it's still "wait and check", but

[2022-04-11 18:45] #1772 closed

[2022-04-12 00:54] yliaog commented on #1768
https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection

The kubelet will request and store the token on behalf of the pod, make the token available to the pod at a configurable file path, and refresh the token as it approaches expiration. The kubelet proactively rotates the token if it is older than 80% of its total TTL, or if th

[2022-04-12 01:24] yliaog commented on #1767
there seem to be issues in your use of the client library, could you try the given example in https://github.com/kubernetes-client/python#examples?

[2022-04-12 01:49] #1762 closed

[2022-04-12 18:22] kriswuollett opened #1776 "Add `api_client` parameter to `Watch`"
**What is the feature and why do you need it**:

I'm manually configuring a proxied `api_client` like the following with the command `kubectl proxy --port=8080`:

[code]

I currently can create an instance of an API like:

[code]

But I cannot do the the same with `Watch` because its `api_client` is a private variable initialized with `client.ApiClient()`:https://github.com/kubernetes-client/pytho

[2022-04-12 21:44] fabianvf commented on #1764
We investigated doing this a while ago but decided against it, as the API is totally specific to pods and AFAIK there are no plans to implement it on other resources. We didn't see any advantage to using a dynamic client vs the typed client in this case. Is there a reason using the pod exec API in the typed client isn't working for you?

[2022-04-13 17:40] dingyiyi0226 commented on #1764
The typed client is working. I requested for this feature  is because I use dynamic client in my project and i don't want to create a new client only for this API.

I think we can close this issue.

[2022-04-14 04:26] LeiYangGH opened #1777 "list namespaced crd objects using crd yaml without global crd reading permission"
similiar to [issue 740](https://github.com/kubernetes-client/python/issues/740), which deals with creating. but now i'm listing.

**What is the feature and why do you need it**:

In certain circumstances, the servcie account doesn't have read permission to read global crd, but we already have crd yaml locally. and i want to list namespaced cr objects.

[code]
won't work because it tries to read gl

[2022-04-14 14:41] matancarmeli7 opened #1778 "listing csi node resource doesn't work"
**What happened (please include outputs or screenshots)**:
I am trying to get a list of csi node objects in my Kubernetes cluster, using `client.StorageV1Api().list_csi_node()` function, but I get an error. I am able to use the `client.StorageV1Api().read_csi_node()` function and read specific csi node object, but I want to get a list of all of them. I am running my code from inside a container in

[2022-04-14 23:42] kriswuollett commented on #1775
If possible, it would be great if there was an example that used `load_incluster_config` as I'm assuming that is what would be likely used if trying to implement an operator. I tried using some code like the following but it seems to break the configuration loaded earlier:

[code]

[2022-04-15 15:30] meet12344 opened #1779 "Query"
**What happened (please include outputs or screenshots)**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (`kubectl version`):
- OS (e.g., MacOS 10.13.6):
- Python version (`python --version`)
- Python client version (`pip list | grep kubernetes`)

[2022-04-15 15:30] meet12344 commented on #1779
Hey

[2022-04-15 16:29] roycaihw commented on #1775
Could you try if this works
[code]
IIRC we had a feature request of "load_kube_config falls back to load_incluster_config if the out-of-cluster kubeconfig is not found". If that's implemented, the flow should be the same for both out-of-cluster kubeconfig and in-cluster kubeconfig

[2022-04-16 09:31] goloneczka commented on #1735
has this fix been released yet ? do you know about others problems beetwen this client and gke ? i would like to create my own kube-scheduler at GKE

[2022-04-16 10:59] jameslewis4891 commented on #1767
I am seeing the exact same issue

[code]

[code]

pipfile
[code]

[2022-04-16 11:52] waldner commented on #1768
After a cluster upgrade to okd 4.10, this has now been running for more than two days without issues, so I'm going to assume that the problem was elsewhere. Closing the bug, thanks.

[2022-04-16 11:52] #1768 closed

[2022-04-18 06:33] geek-bit opened #1780 "Download directory from Pod"
I have been able to download a file from Pod to local using the Python Kube client. The code is available [here](https://stackoverflow.com/questions/59703610/copy-file-from-pod-to-host-by-using-kubernetes-python-client).
However, I don't see any example to download directory from pod to local in the official [examples](https://github.com/kubernetes-client/python/tree/master/examples).
As a workaro

[2022-04-18 16:54] roycaihw commented on #1735
We are still waiting for the upstream to cut a new patch release: https://github.com/kubernetes-client/python/issues/1773

[2022-04-18 16:55] #1635 closed

[2022-04-19 17:06] kriswuollett commented on #1775
Will try to find a chance to try your suggestion later in the week when I finish the stack of changes built upon this -- was able to figure out issue without debugging at the moment.

[2022-04-19 20:18] roycaihw commented on #1430
/remove-lifecycle rotten

[2022-04-19 21:32] prescod commented on #1746
Getting permission to sign the CLA is a bit of a hassle for me, but I did try to move "setuptools" from "requirements.txt" to "test-requirements.txt" and ran "pip install -e ." and everything seemed to go smoothly.

One reason to remove it is because when you use pip-tools with any project that derives from kubernetes-client, you get an error message like:

[code]

One of the vulnerability monitor

[2022-04-20 00:20] PaulFurtado opened #1782 "`certificate-authority-data` from kubeconfig fails for long-running process due to tmpfs cleanup"
**What happened (please include outputs or screenshots)**:
Long-running applications using a kubeconfig with `certificate-authority-data` encounter errors like:
[code]

**What you expected to happen**:
Client should not expect tempfiles to live indefinitely. It is extremely common for servers to reap tempfiles.

**Anything else we need to know?**:
If you create a client you can easily see that it

[2022-04-20 00:29] PaulFurtado commented on #1236
I have opened a new issue for this with more details: https://github.com/kubernetes-client/python/issues/1782

Ultimately, modern linux servers run things like `tmpwatch` that clean old files from `/tmp`, so the client cannot expect a temp file to live forever.

[2022-04-21 07:33] Uranium2 opened #1783 "Weird behavior when editing directly `client.V1Job`"
I made a framework that creates a default template to deploy a Job with `client.V1Job`. I've made a class to wrap my K8s Job Object. Then I've added some methods to edit the template once the class is initialized. But when I'm editing the values, I don't get what I want when deployed.

[code]

Everything here works correclty, the memory request and limit is correct when I print `config` and deploy

[2022-04-21 13:57] sidpremkumar commented on #233
We are also currently experiencing the same issue +1

[2022-04-21 15:16] JiffsMaverick commented on #1335
/reopen

[2022-04-21 15:19] JiffsMaverick commented on #1335
This problem is still relevant. PR kubernetes-client/python-base#220 can solve this problem. Please, reopen.

[2022-04-21 15:58] jcourtat opened #1784 "deployment update does not remove pod containers if some have been replaced"
**What happened (please include outputs or screenshots)**:
After a deployment update, if the list of containers has changed, recreated pod container list does not match one provided in update request
**What you expected to happen**:
After the deployment update, restarted pod containers are ones specified in request, no more, no less

**How to reproduce it (as minimally and precisely as possible)**

[2022-04-21 19:35] #1622 closed

[2022-04-21 22:22] xtaje commented on #1746
The way the requirements files are being used has a couple other problems. They are not really supposed to be read and parsed into `setup.py`.  Moving it into `test-requirements.txt` still implies a circular dependency (kubernetes package installation -> setuptools -> kubernetes package installation).

Pip usually installs setuptools IIRC, so if you're using pip, then you will already have setupto

[2022-04-21 23:05] timblaktu commented on #574
@tomplus I tried this method to workaround the poorly-formatted `data` element of a ConfigMap response, whose openapi_type is dict(str,str):

[code]

but what I get still includes the literal yaml elements for dict keys/values, e.g.

[code]

What I want is to simply massage ConfigMap.data from a response into a python dict that corresponds to the underlying yaml repr. I can probably hack this with

[2022-04-23 11:11] goloneczka commented on #1735
what did you downgrade exactly, and how ? do you mean client version ?

[2022-04-25 02:17] showjason commented on #1784
Hi @jcourtat, I think this is caused by patch strategy, maybe you can find the solution from [this doc](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/)

[2022-04-25 08:25] devopstales commented on #1718
Any update on this?

[2022-04-25 16:33] roycaihw commented on #1774
/assign @jeid64

[2022-04-25 16:33] roycaihw commented on #1775
/help

[2022-04-25 16:38] roycaihw commented on #1777
/assign

[2022-04-25 16:39] roycaihw commented on #1778
/assign

[2022-04-25 16:39] roycaihw commented on #1779
/close

[2022-04-25 16:39] #1779 closed

[2022-04-25 16:40] roycaihw commented on #1780
/assign @yliaog

[2022-04-25 16:41] roycaihw commented on #1782
/assign @yliaog

[2022-04-25 16:44] roycaihw commented on #1783
Could you verify if kubectl gives you the expected behavior? We're wondering if this could be changed by the server.

[2022-04-25 16:50] roycaihw commented on #1776
Haven't checked the watch implementation for a while. When using a watch you also need to specify a list method which comes with its own client ([example](https://github.com/kubernetes-client/python/blob/51c481692ab0d9c71b9dd96342bfa93b721b029d/examples/watch/pod_namespace_watch.py#L37-L40)). I wonder what's the difference between the two clients.

[2022-04-25 16:52] roycaihw commented on #1777
Could you enable [debug logging](https://github.com/kubernetes-client/python/issues/1775) and see what HTTP endpoints the client hits? I'd be surprised if list_namespaced_custom_object tries to reach a CRD (apiextensions) endpoint

[2022-04-25 16:54] roycaihw commented on #1778
Could you enable [debug logging](https://github.com/kubernetes-client/python/issues/1775) and see if the `drivers: None` was from the API server response? It may be a similar issue to https://github.com/kubernetes-client/gen/issues/52

[2022-04-25 16:58] roycaihw commented on #1776
Looks like it's only used for [deserialize](https://github.com/kubernetes-client/python/blob/51c481692ab0d9c71b9dd96342bfa93b721b029d/kubernetes/base/watch/watch.py#L105), which is static in most cases. I think that's why it doesn't need to be expose as a parameter. WDYT?

[2022-04-26 03:57] yliaog commented on #1780
one way is to use GCS bucket, and gsutil. it does not need to use python kube client though.

[2022-04-26 04:03] yliaog commented on #1782
it seems reasonable, do you mind to send a PR?

[2022-04-26 12:17] LeiYangGH commented on #1777
i will do it later. i thought i was watching(using java api). will add the logs later.

[2022-04-27 14:46] madkinsz commented on #1658
This would be really helpful for me as well! We're merging multiple configs (i.e. a default one and a user provided one) and it's not always feasible to create the resource _then_ patch it.

[2022-04-27 14:50] madkinsz commented on #1093
It'd be great to know if this feature was available without subclassing the client. Are there any existing examples of using server-side apply from the Python client?

[2022-04-27 15:06] Jc2k commented on #1093
I am still adding a subclass to every project, unfortunately.

[2022-04-28 13:51] michaelkaye commented on #1557
/remove-lifecycle stale

Checked today that CoreV1API documentation as linked from [here](https://github.com/kubernetes-client/python/blob/master/kubernetes/README.md) to [here](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#connect_delete_namespaced_pod_proxy) still not readable due to raw file size.

If python client should not have documentation, please com

[2022-04-28 15:31] Mionsz commented on #1333
Have you looked at the `.kube/config` file? There is a cmd line for token aquire:
[code]
This was causing issues when using wait condition for kubernetes.core.k8s_info

[2022-04-30 21:39] epicfaace opened #1786 "Docs - edit on github link is broken"
The link here (https://kubernetes.readthedocs.io/en/latest/README.html#) on the top right is broken.

[2022-05-02 06:53] JJ11teen opened #1787 "ExecProvider swallows interactive messages"
**What happened (please include outputs or screenshots)**:
When using [kubelogin](https://github.com/Azure/kubelogin) as an ExecProvider in kube config, upon initial use, kubelogin prints a message to stderr of the form:
[code]
The current ExecProvider implementation swallows this message and blocks until the code times out and the kubelogin command returns (an exit code of 1).

**What you expecte

[2022-05-02 15:53] yliaog commented on #1786
i followed the link: https://kubernetes.readthedocs.io/en/latest/README.html#, it shows the doc just fine. what is broken?

[2022-05-02 15:55] epicfaace commented on #1786
Click on the "Edit on github" link and it links to https://github.com/kubernetes-client/python/blob/master/doc/source/README.md, which is not found.

![image](https://user-images.githubusercontent.com/1689183/166265769-c2c7fa58-7948-4867-9a31-bd844d4b6d6a.png)

[2022-05-02 15:58] yliaog commented on #1786
i see. could you change the link to point to https://github.com/kubernetes-client/python/README.md?

[2022-05-02 16:00] epicfaace commented on #1786
I see there's a PR here? https://github.com/kubernetes-client/python/pull/1788 but it seems to be adding much more than what is needed...

[2022-05-02 16:09] Shivansh2407 commented on #1786
Instead of pointing it to the readme, it would be a better option to add a readme file to the source dir, as the `make html` command builds up the things and uses `source-dir = doc/source`, because of which the pages are generated from here.
Let me know your thoughts on this.

[2022-05-02 16:16] epicfaace commented on #1786
Got it, but where did you get the content for that readme file from?

[2022-05-02 16:18] Shivansh2407 commented on #1786
Oh, so this one's the same that is present on the root dir (https://github.com/kubernetes-client/python/blob/master/README.md)

[2022-05-02 16:20] yliaog commented on #1786
sounds good to me. approved the PR

[2022-05-02 16:21] #1786 closed

[2022-05-02 16:22] Shivansh2407 commented on #1786
Cool. My First PR to the Kubernetes Python client! Will try to add more value to the repo and the py client in the upcoming PRs. Thanks @yliaog and @epicfaace 👍

[2022-05-02 16:28] Shivansh2407 commented on #1710
@yliaog can I proceed with this issue, if no one's currently working on this?

[2022-05-02 16:36] Shivansh2407 commented on #1746
Hey @prescod and @roycaihw , would you suggest cleaning up the requirements file, if no one's working on this? I'll verify this and make a PR for the same, if @prescod is not working on this currently. Thanks!

[2022-05-02 16:37] yliaog commented on #1710
sure, thanks.

[2022-05-02 16:38] Shivansh2407 commented on #1742
Hey @roycaihw, where would you suggest moving this file to? I would like to work on this. Thanks!

[2022-05-03 06:41] pgajdos opened #1790 "use unittest.mock instead of mock"
Please consider to drop dependency on mock. unittest.mock can be used, as a fallback at least. As far as I tested, it works at least with 3.8, 3.9 and 3.10.

[2022-05-03 10:37] alexInhert commented on #1744
@roycaihw https://github.com/kubernetes/kubernetes/pull/108740 was merged

[2022-05-03 17:13] ramnes commented on #998
Just discovered a few alternative clients, and it seems that they **all** went for an API similar to what I suggested previously (examples coming from their documentation / README):

* [gtsystem/lightkube](https://github.com/gtsystem/lightkube)

[code]

* [fiaas/k8s](https://github.com/fiaas/k8s)

[code]

* [hjacobs/pykube-ng](https://codeberg.org/hjacobs/pykube-ng) (what kopf uses)

[code]

* [Fr

[2022-05-03 18:04] #1558 closed

[2022-05-04 06:42] Alexander123312 opened #1791 "Is the Kubernetes version 1.23.6 compatible with the current client?"
Is the Kubernetes version 1.23.6 compatible with the current client because I have problems with it and with the K8S version 1.20 it works without problems. I can't explain in more detail what the problems behind it are because I only use the API in connection with CheckMK.

[2022-05-05 04:44] NaxAlpha opened #1792 "utils.create_from_dict fails for custom objects"
**What happened (please include outputs or screenshots)**:

I want to do something like `kubectl apply -f <yaml-file>` but with python kubernetes api client that is dynamically generated for different clusters. I have a Knative distribution running on a cluster but when I run `utils.create_from_dict` on a loaded knative yaml object, it fails and gives the following error:

[code]

From the basic i

[2022-05-05 18:42] rvlane commented on #1718
I would also like an update on this.  We were using 22.6.0 and see this issue after upgrading to 23.3.0.  Since we cannot control the kubernetes version deployed at our customer sites, it is important that this client library be backward compatible.  This is a blocker for me to upgrade to 23.3.0 until this is resolved.

[2022-05-06 00:23] obrienrobert opened #1793 "read_node_status returns unexpected keyword argument 'watch' error"
**What happened (please include outputs or screenshots)**:
`read_node_status` returns the following error:

[code]
Code (simplifed):
[code]

**What you expected to happen**:
The status of the requested node is returned using the watch.

**How to reproduce it (as minimally and precisely as possible)**:
Run the code above in a script against a cluster

**Anything else we need to know?**:
My target c

[2022-05-06 16:41] SteveJones commented on #1718
status.availableReplicas is feature gated as documented here https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/stateful-set-v1/#StatefulSetStatus Hence it is not guaranteed to be available on StatefulSet/status objects.

[2022-05-06 21:16] mikedoug commented on #1718
I have a 1.22 cluster, and if there are ready pods in the statefulset, then `available_replicas` has a value and works.

But, if you scale the set down to 0 this value is removed from the API response and triggers this None exception.  It is distasteful that blows up this way instead of letting it be None and letting developers interpret that.

Since we're on the topic of distasteful: In order to

[2022-05-06 22:39] #1773 closed

[2022-05-07 11:15] mindw commented on #325
/remove-lifecycle stale

[2022-05-07 20:06] obrienrobert commented on #1793
Looks like it's only working with `list` functions, and not read. Maybe this is expected behaviour?

[2022-05-08 21:14] snjypl commented on #1729
@cansjt  thanks for reporting this.  i would like to make few comments:

The parsing of the BOOKMARK event is not actually by passed. we just  dont de-serialize the BOOKMARK event to the `return_type` eg: 'V1POD' etc.   the bookmark event as a dict is still returned by the watcher to the client.

de serializing the event to the V1POD type etc is not easy because BOOKMARK event does not have all th

[2022-05-09 09:09] elliot-xulei commented on #1718
kubernetes client 23.3.0 to 21.7.0 help me resolved this issue

[2022-05-09 14:07] rvlane commented on #1718
I was getting this assertion even when all pods in the statefulset were ready with 23.3.0.
This issue was introduced with 23.3.0, all previous k8s-client releases worked fine - I had to backout to 22.6.0 and that works.

[2022-05-09 16:05] #1726 closed

[2022-05-09 16:37] roycaihw commented on #1787
Thanks for reporting @JJ11teen! We wonder if you would like to send a PR?

[2022-05-09 16:40] roycaihw commented on #1792
/assign @fabianvf

[2022-05-09 16:45] roycaihw opened #1797 "Release 1.24 clients"
Kubernetes 1.24 is [released](https://github.com/kubernetes/kubernetes/tree/v1.24.0). We should generate corresponding clients.

[2022-05-09 16:46] roycaihw commented on #1791
We need more information to tell what the problem is. On the other hand we just had a new release for Kubernetes 1.23: https://github.com/kubernetes-client/python/releases/tag/v23.6.0. Could you try if that helps?

[2022-05-09 16:47] roycaihw commented on #1793
Yes. Watch is implemented as [part of the list API](https://github.com/kubernetes/kubernetes/blob/b53be1d66ef1c7f79410d619864d3788e084dd49/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L335-L338), so you need to use a list method to do the watch.

cc @yliaog
/close

[2022-05-09 16:47] #1793 closed

[2022-05-10 11:50] pgajdos commented on #1790
Ah, CLA. No, sorry. You can inspire in my PR though.

[2022-05-10 14:27] jacobtomlinson commented on #363
Thanks for all the advice here folks. I put together this little function to incorporate everything.

[code]

[2022-05-10 14:32] capitanFlint129 commented on #958
I would suggest trying adding the container. I had a similar issue with **kubectl attach** that went away when I specified the container. In my case it looked like this:

[code]

[2022-05-11 08:51] milanaleksic opened #1799 "Debug mode doesn't remain active"
**What happened (please include outputs or screenshots)**:

I have tried your recommendation @roycaihw mentioned in https://github.com/kubernetes-client/python/issues/1775#issuecomment-1100213205 but I have noticed a strange thing: debug mode "switches back to off" automatically after receiving the response back from the server. Here is the call stack at that moment:

[code]

I even tried changing

[2022-05-11 09:33] lyphilip commented on #1236
hello from the other side

[2022-05-11 14:17] jouve commented on #1228
instead of `obj.to_dict()` , I have found that `ApiClient().sanitize_for_serialization(obj)` does the job to remap the snake_case names to camelCase (also filtering the None fields)

[2022-05-12 10:37] showjason commented on #1799
/assign
Hi @milanaleksic I think this is cause by  `Configuration` instance reinitialization.
Hi @roycaihw I would like to assign this issue. However, I am not very familiar this project. Please  kindly support me if I need help from community :)

[2022-05-12 22:40] Vad1mo opened #1800 "AttributeError: 'CoreV1Api' object has no attribute 'client_side_validation'"
**What happened (please include outputs or screenshots)**:

I am trying to apply some manifests that are on disk to a test cluster with the python sdk

[code]

My code looks like this:
[code]

**What you expected to happen**:
I expected that my manifests to get applied.

**How to reproduce it (as minimally and precisely as possible)**:
- k3d cluster create k3d-klocal
-`kubectl apply -f [dist/test-

[2022-05-13 07:23] Vad1mo commented on #1800
I am puzzeled

it should be `True` but its not

<img width="1340" alt="Bildschirmfoto 2022-05-13 um 09 21 01" src="https://user-images.githubusercontent.com/1492007/168232432-94cb1cd5-c74f-4462-9b4e-9825af789786.png">

[2022-05-13 09:03] Vad1mo commented on #1800
Sorry, I found the bug, it  was located 20 cm in front of the monitor.
Need to use `ApiClient()` instead of `CoreV1Api()`, copy paste error from the example.

[code]

[2022-05-13 09:03] #1800 closed

[2022-05-13 09:29] showjason commented on #1799
Hi @roycaihw , do you know what does [local_vars_configuration](https://github.com/kubernetes-client/python/blob/master/kubernetes/client/models/v1_config_map.py#:~:text=None%2C%20metadata%3DNone%2C-,local_vars_configuration,-%3DNone) mean?
`local_vars_configuration` is a parameter in every model object, but it does not be passed into [klass instance](https://github.com/kubernetes-client/python/bl

[2022-05-13 10:14] milanaleksic commented on #1799
Hi, if your recommendation is that I locally patch version of the python k8s client, I'd actually prefer to always construct the client since it's less hacky

[2022-05-13 13:15] nikitron commented on #1774
The problem is empty `self.cwd` when called `subprocess.Popen` in file `kubernetes/config/exec_provider.py` (line 69)
[code]
This variable is set to None in class `KubeConfigLoader` (file `kubernetes/config/kube_config.py` line 201)
[code]
As you can see in last line when a config is created by dict - 3rd argument is not provided.

So I propose to use a temp directory in `ConfigNode('kube-config',

[2022-05-13 15:11] cedricfarinazzo opened #1802 "utils.create_from_yaml with custom resources: attribute error: kubernetes.client"
**What happened (please include outputs or screenshots)**:

I'm using Azure Kubernetes Service and Azure Key Vault Provider for Secrets Store CSI Driver to use secrets defined in Azure Key Vault (doc: [here](https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver))
To get secrets from Azure Key Vault, I need to create custom resources (example: [here](https://docs.microsoft.com/en-us/a

[2022-05-14 13:16] #1652 closed

[2022-05-15 04:58] svinther commented on #1004
It should include the Pending state as well:

            if pod.metadata.deletion_timestamp != None and pod.status.phase in ('Pending, 'Running'):
                state = 'Terminating'
            else:
                state = str(pod.status.phase)

[2022-05-16 07:48] cedricfarinazzo commented on #1802
same issue #1792

[2022-05-16 08:39] cedricfarinazzo commented on #1792
Hello!

Here is a quick workaround using dynamic client in replacement of `utils.create_from_yaml` and `utils.create_from_dict` for customs objects.

[code]

[2022-05-16 08:40] #1802 closed

[2022-05-16 16:31] #1699 closed, assigned to nobody

[2022-05-17 12:07] doronl commented on #740
I don't see updates on this issue... according to [k8s documentation](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/) the python client should support crds...

[2022-05-19 08:32] mk46 commented on #1797
Hi @roycaihw, I want to work on this. I have seen https://github.com/kubernetes-client/python/pull/1794 and https://github.com/kubernetes-client/python/pull/1709.
`./scripts/update-client.sh` may be used for generating client changes.
Could you please guide me on how to generate API changes?
Thanks !!

[2022-05-19 09:23] torgeirl commented on #547
Still able to reproduce this with Python client library `23.6.0`:
[code]
Note that the pod does get scheduled. And skipping deserializing of the returned data still work as a workaround:

/remove-lifecycle stale

[2022-05-19 14:27] paoloalba opened #1803 "Client stuck during api call"
**What happened (please include outputs or screenshots)**:

client hangs while performing api call most of the times; sometimes it works. Seemingly the client is not able to perform a connection (I tried setting a connection timeout, and I run into it, not a read one).

**What you expected to happen**:

api call should return the desired object

**How to reproduce it (as minimally and precisely as

[2022-05-19 19:00] #1648 closed

[2022-05-20 05:56] paoloalba commented on #1803
it seems that today there is a regular behavior. I can assume that there was some issue or security restriction on the cloud side.

[2022-05-20 05:57] #1803 closed

[2022-05-20 19:05] #1661 closed

[2022-05-21 21:20] sftim commented on #1430
How about marking this one as frozen?

[2022-05-22 12:55] NaxAlpha commented on #1792
Thanks, it seems to be working now!

[2022-05-23 19:36] mitar commented on #819
/remove-lifecycle rotten

[2022-05-24 19:49] max-os-lg opened #1807 "Can't use client in combination with oracle cloud oci -> Unauthorized"
**What happened (please include outputs or screenshots)**:
I am trying to use the client in combination with a oracle cloud kubernetes configuration file.
The K8 config file is set via environment file and in python I call `config.load_kube_config(context=context)`

The user part of my ocl k8 config file looks like this:

[code]
My other configurations for different cloud providers are working but

[2022-05-24 19:56] iciclespider commented on #1689
@geek-bit This PR #1805 properly supports binary data and will support your use cases.

[2022-05-25 02:49] nwbhatia commented on #1774
does anyone know the last python client version where this was working correctly?

[2022-05-25 21:35] #1774 closed

[2022-05-27 09:57] QipengZhou opened #1808 "Add pod exec example with transfer data"
**Description of the issue (please include outputs or screenshots if possible)**:

Can add some pod exec examples like:

[code]

command's `stdin` from other place.

Thanks.

[2022-05-27 11:53] QipengZhou commented on #1808
replicate: https://github.com/kubernetes-client/python/issues/476
closed

[2022-05-27 11:53] #1808 closed

[2022-05-31 09:12] liucx1201 opened #1809 "ModuleNotFoundError: No module named 'kubernetes.config'"
ModuleNotFoundError: No module named 'kubernetes.config'

**Environment**:
- Kubernetes version:  k8s 1.18
- OS : windows 10
- Python version : 3.6
- Python client version (`pip list | grep kubernetes`) : kubernetes    18.20.0
![k8s-error1](https://user-images.githubusercontent.com/40434832/171137972-7a8de09c-92b2-4b1f-b364-90482813a5c5.png)
![k8s-error2](https://user-images.githubusercontent.com/

[2022-05-31 19:24] polyzen opened #1810 "docs: Switch to MyST from recommonmark"

[2022-06-01 00:51] #1809 closed

[2022-06-01 08:09] geek-bit commented on #1780
We don't have the Kube cluster hosted on GCP. Isn't there any elegant way of downloading the directory from Pod to local using Python client?
@roycaihw, @yliaog any suggestions?

[2022-06-01 11:58] kirshenboim opened #1811 "got an error response from AutoscalingV2Api.list_horizontal_pod_autoscaler_for_all_namespaces"
**What happened (please include outputs or screenshots)**:
im trying to use with this function in my code AutoscalingV2Api.list_horizontal_pod_autoscaler_for_all_namespaces and i got the following error:

kubernetes.client.exceptions.ApiException: (404)
Reason: Not Found
HTTP response headers: HTTPHeaderDict({'Audit-Id': 'e063d106-4293-4974-b3ba-73044dc53850', 'Cache-Control': 'no-cache, private',

[2022-06-01 19:07] Rishit-dagli commented on #1746
/assign

[2022-06-02 08:12] #1811 closed

[2022-06-02 11:44] nikhil-das-katonic opened #1813 "Security Vulnerability in Python Package of Kuberentes (pyup.io-45114 (CVE-2021-29923))"
Quay security Scanner detects a HIGH risk vulnerability in the Python package for Kubernetes (Version 23.6.0 [Latest]).

![image](https://user-images.githubusercontent.com/91112508/171622095-06248f64-7c60-47e8-abfd-5d29ca476d44.png)

[2022-06-06 09:51] zhoushijie977816193 commented on #1723
**kubernetes 版本和 kubernetes-client 版本不匹配，换成匹配的版本可以解决问题。**

[client 9.y.z](https://pypi.org/project/kubernetes/9.0.1/): Kubernetes 1.12 or below (+-), Kubernetes 1.13 (✓), Kubernetes 1.14 or above (+-)
[client 10.y.z](https://pypi.org/project/kubernetes/10.1.0/): Kubernetes 1.13 or below (+-), Kubernetes 1.14 (✓), Kubernetes 1.14 or above (+-)
[client 11.y.z](https://pypi.org/project/kubernetes/11.

[2022-06-06 16:40] roycaihw commented on #1797
/assign @yliaog
Yu has already started on this.

@mk46 Thanks for being interested to contributing. Maybe we can try the 1.25 release?

[2022-06-06 16:42] roycaihw commented on #1799
cc @roycaihw
need to take a look at this. Debug mode is an upstream feature. It could be a bug in the upstream

[2022-06-06 16:49] roycaihw commented on #1807
From the code exec [should be supported](https://github.com/kubernetes-client/python/blob/1271465acdb80bf174c50564a384fd6898635ea6/kubernetes/base/config/kube_config.py#L292-L293), so there seems to be a real problem.
If someone can reproduce the issue, it would be great if we can get more debug info.
/help

[2022-06-06 16:50] roycaihw commented on #1810
/help

[2022-06-06 16:52] roycaihw commented on #1813
@nikhil-das-katonic The CVS seems to be about Golang. We don't use Golang in this project. Do you know why the scanner considers us being affected?

cc @roycaihw @yliaog

[2022-06-06 18:47] hoyhbx opened #1816 "`read_namespaced_pod_log` does not return the same log as `kubectl logs`"
**What happened (please include outputs or screenshots)**:
We are trying to deploy CockroachDB operator. When we get logs using `kubectl logs deployment.apps/cockroach-operator-manager -n cockroach-operator-system | less`, there are expected error messages indicating that <details><summary><code>`one of HostPath or VolumeClaim should be set`</code> </summary><br><pre>
[code]
</pre></details>

Howe

[2022-06-07 03:31] showjason commented on #1816
Hi @hoyhbx , you can try this:
[code]

[2022-06-07 07:16] geek-bit commented on #1780
Any update on this please?

[2022-06-07 09:06] mukhtar-inamdar opened #1822 "Can we call APIs of kubectl plugin through this python client?"
Hey I need to write the client for kubectl plugin, so can I do it through this python client?

[2022-06-07 12:36] mukhtar-inamdar opened #1823 "Hey I need to write the client for kubectl plugin, is there any doc that how can I do it through this python client?"
**Hey I need to write the client for kubectl plugin, is there any doc that how can I do it through this python client?**:

[2022-06-08 03:53] X-Mars opened #1824 "[SSL: CA_KEY_TOO_SMALL]"
hi, my friends.

Thanks for your service.
I got an error when run script. could you help me?

### system
macOS 12.4
### python version
Python 3.10.4
### code
[code]

### error
[code]

Thanks

[2022-06-09 08:00] heresie commented on #1663
/remove-lifecycle stale

[2022-06-10 09:50] showjason commented on #1816
Hi @hoyhbx,
`watch` calls  `read_namespaced_pod_log` and creates a long-lived connection to read the log stream of pod.
I suggest you that view the source code [here](https://github.com/kubernetes-client/python/blob/768f520c676efe1b44556aea76d4f38533becc25/kubernetes/base/watch/watch.py#L162) if you want to know more.

[2022-06-10 23:40] rittneje commented on #1530
/remove-lifecycle stale

[2022-06-13 16:39] joaompinto opened #1826 "ValueError when using list_event_for_all_namespaces"
**What happened (please include outputs or screenshots)**:

Attempting to use client.EventsV1beta1Api().list_event_for_all_namespaces() results in an Exception
...
 File "C:\Users\lameg\miniforge3\lib\site-packages\kubernetes\client\models\v1beta1_event.py", line 290, in event_time
    raise ValueError("Invalid value for `event_time`, must not be `None`")
ValueError: Invalid value for `event_time`

[2022-06-13 17:03] larsks commented on #1826
To add some information to this issue, the behavior in the description is being triggered by events like this, in which `eventTime` is `null`:

[code]

I'm not affiliated with @joaompinto, but I see around 1000 events that have null `eventTime` on our cluster, so presumably this isn't uncommon.

[2022-06-14 00:53] roycaihw commented on #1669
/remove-lifecycle rotten

[2022-06-14 09:37] matancarmeli7 opened #1830 "Update status of custom_resource object"
There is a way to update the status of the custom_resource object using the dynamic_client like in [go](https://github.com/operator-framework/operator-sdk/blob/18b3a75a670877f606b3da5e0d52e06eed507eaa/testdata/go/v2/memcached-operator/controllers/memcached_controller.go#L130)? I didn't find a way here

Thanks

[2022-06-14 23:48] roycaihw commented on #1530
This is still a bug and needs to be fixed in the upstream generator: https://github.com/OpenAPITools/openapi-generator/issues/10391

/lifecycle frozen

[2022-06-15 18:09] dinvlad commented on #1005
/remove-lifecycle stale

[2022-06-16 06:08] #1830 closed

[2022-06-16 08:41] yamikarajput546 commented on #991
For creating a fresh new cronjob on GKE cluster using bearer token  for authentication you can refer to this:  https://techhub.go1percent.com/dashboard/projects/devops/62a1e1d8f20000af4db0c0cd

[2022-06-16 22:16] brendandburns opened #1832 "Need better branch protection"
cc @roycaihw

I accidentally pushed a commit to master on this repo instead of my repo:

https://github.com/kubernetes-client/python/commit/e0dfc6b0da0db1ff2ea74cdfb6fcae3328ba8b0c

And I had to revert it:

https://github.com/kubernetes-client/python/commit/9c79d2b763027081b4f8e4664a9445e4a0641b57

I probably shouldn't have permissions to push in general, I'm not sure if github RBAC supports this,